---
import fs from 'node:fs';
import { diffLines, type Change as DiffChange } from 'diff';
import Layout from '@layouts/Admin.astro';
import SubmitButton from '@components/+phrasing/SubmitButton.astro';
import CrawlerDiff from '@components/admin/CrawlerDiff.astro';
import CrawlerDiffLine from '@components/admin/CrawlerDiffLine.astro';
import { env } from '@util/env.js';
import RequestUtil from '@util/Request.js';
import { init as ssrInit } from '@util/ssr.js';
import type { StructuredData } from '@type/types.js';

interface RequestQuery {
	dir: string | null;
	diff: string[];
}

export const prerender = false;
const { logger } = ssrInit(Astro, { dev: import.meta.env.DEV });

const structuredData: StructuredData = {
	title: 'ウェブ巡回（リソース）',
	breadcrumb: [{ path: '/admin/crawler-resource/', name: 'ウェブ巡回（リソース）' }],
};

const requestParams = RequestUtil.getParams(Astro.url);

const requestQuery: RequestQuery = {
	dir: RequestUtil.string(requestParams.get('dir')),
	diff: RequestUtil.strings(requestParams.getAll('diff[]')),
};

const diffs: DiffChange[] = [];
const fileList: string[] = [];

if (requestQuery.dir !== null) {
	const dir = `${env('CRAWLER_RESOURCE_LOG_DIR')}/${requestQuery.dir}`;
	if (fs.existsSync(dir)) {
		if (requestQuery.diff.length >= 2) {
			/* 差分チェック */
			const [file1, file2] = await Promise.all([fs.promises.readFile(`${dir}/${requestQuery.diff.at(0)}`), fs.promises.readFile(`${dir}/${requestQuery.diff.at(1)}`)]);

			diffs.push(...diffLines(file2.toString(), file1.toString(), { newlineIsToken: true }));
			diffs.forEach((diffPart, index) => {
				const maxLine = 5;
				const omit = '...';

				if (diffPart.count !== undefined && diffPart.count > maxLine && !diffPart.added && !diffPart.removed) {
					const lines = diffPart.value.split('\n');

					if (index === 0) {
						diffPart.value = lines
							.slice(lines.length - maxLine + 1)
							.concat(omit)
							.join('\n');
					} else if (index === diffs.length - 1) {
						diffPart.value = [omit].concat(lines.slice(0, maxLine)).join('\n');
					} else if (diffPart.count > maxLine * 2) {
						diffPart.value = lines
							.slice(0, maxLine)
							.concat(omit, lines.slice(lines.length - maxLine - 1))
							.join('\n');
					}
				}
			});

			logger.debug('Diff mode', requestQuery.diff, diffs);
		}

		/* 初期表示 */
		fileList.push(...(await fs.promises.readdir(dir)).filter((filePath) => filePath.endsWith('.txt')).reverse());
	}
}
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	{
		diffs.length >= 1 && (
			<CrawlerDiff>
				<tbody>
					{diffs.map((part) => (
						<>
							{!part.added && !part.removed && (
								<CrawlerDiffLine>
									<td />
									{/* prettier-ignore */}
									<td><pre><code>{part.value}</code></pre></td>
								</CrawlerDiffLine>
							)}
							{part.added && !part.removed && (
								<CrawlerDiffLine type="added">
									<td>+</td>
									{/* prettier-ignore */}
									<td><pre><code>{part.value}</code></pre></td>
								</CrawlerDiffLine>
							)}
							{!part.added && part.removed && (
								<CrawlerDiffLine type="removed">
									<td>-</td>
									{/* prettier-ignore */}
									<td><pre><code>{part.value}</code></pre></td>
								</CrawlerDiffLine>
							)}
						</>
					))}
				</tbody>
			</CrawlerDiff>
		)
	}
	{
		fileList.length >= 1 && (
			<form>
				<p>
					<input type="hidden" name="dir" value={requestQuery.dir} />
				</p>

				<p>
					<SubmitButton>比較</SubmitButton>
				</p>

				<ul>
					{fileList.map((file) => (
						<li>
							<label>
								<input type="checkbox" name="diff[]" value={file} checked={requestQuery.diff.includes(file)} /> {file}
							</label>
							(<a href={`/admin/crawler-resource/log?dir=${requestQuery.dir};file=${file}`}>ソースコード</a>)
						</li>
					))}
				</ul>
			</form>
		)
	}
	{
		fileList.length === 0 && (
			<p>
				<strong>データがありません。</strong>
			</p>
		)
	}
</Layout>
