---
import { JSDOM } from 'jsdom';
import Head from '@layouts/head/Admin.astro';
import PageHeader from '@layouts/page/Header.astro';
import PageFooter from '@layouts/page/Footer.astro';
import ContentHeader from '@layouts/content/Header.astro';
import ContentMain from '@layouts/content/Body.astro';
import type { StructuredData } from '@type/types.js';
import { getNoteData, getReferenceData } from '@util/Footnote.js';
import { getPageUrl } from '@util/ssr.js';
import TocUtil from '@util/Toc.js';

interface Props {
	astroFilePath: string | undefined;
	structuredData: StructuredData;
}

const { astroFilePath, structuredData } = Astro.props;

const pagePath = getPageUrl(Astro.url, astroFilePath);

const rendered = await Astro.slots.render('default');
const dom = new JSDOM(rendered);
const { document } = dom.window;

const tocData = TocUtil.getData(document);
const footnoteNoteData = getNoteData(document);
const footnoteReferenceData = getReferenceData(document);

const mainHtml = `${document.head.innerHTML}${document.body.innerHTML}`;
---

<!doctype html>
<html lang="ja">
	<Head structuredData={structuredData} />
	<body>
		<div class="l-page">
			<PageHeader top={false} />

			<main id="content" class="l-content -nosidebar">
				<ContentHeader pagePath={pagePath} structuredData={structuredData} tocData={tocData} />
				<ContentMain html={mainHtml} footnoteNoteData={footnoteNoteData} footnoteReferenceData={footnoteReferenceData} />
			</main>

			<PageFooter pagePath={pagePath} ad={false} />
		</div>
	</body>
</html>
