---
import { JSDOM } from 'jsdom';
import FootnoteUtil from '@util/Footnote.js';
import SsrUtil from '@util/Ssr.js';
import TocUtil from '@util/Toc.js';
import Head from './include/HeadKumeta.astro';
import PageHeader from './include/PageHeaderKumeta.astro';
import PageSidebar from './include/PageSidebar.astro';
import PageFooter from './include/PageFooter.astro';
import ContentHeader from './include/ContentHeader.astro';
import ContentMain from './include/ContentMain.astro';
import ContentFooter from './include/ContentFooter.astro';
import type { StructuredData } from '../types/types.js';

interface Props {
	pagePath?: string;
	structuredData: StructuredData;
}

const { pagePath: pagePathTemp, structuredData } = Astro.props;

const pagePath = pagePathTemp ?? (await SsrUtil.getPageUrl(Astro.url));

const rendered = await Astro.slots.render('default');
const dom = new JSDOM(rendered);
const { document } = dom.window;

const tocData = TocUtil.getData(document);
const footnoteData = FootnoteUtil.getData(document);

const mainHtml = `${document.head.innerHTML}${document.body.innerHTML}`;
---

<!DOCTYPE html>
<html lang="ja">
	<Head pagePath={pagePath} structuredData={structuredData} />
	<body>
		<div class="l-page">
			<PageHeader />
			<div id="content" class="l-content">
				<ContentHeader pagePath={pagePath} structuredData={structuredData} tocData={tocData} />
				<ContentMain html={mainHtml} footnoteData={footnoteData} />
				<ContentFooter pagePath={pagePath} structuredData={structuredData} />
			</div>

			<PageSidebar />
			<PageFooter pagePath={pagePath} />
		</div>
	</body>
</html>
