---
import { JSDOM } from 'jsdom';
import Head from '@layouts/head/Madoka.astro';
import PageHeader from '@layouts/page/HeaderMadoka.astro';
import PageSidebar from '@layouts/page/Sidebar.astro';
import PageCM from '@layouts/page/CMMadoka.astro';
import PageFooter from '@layouts/page/Footer.astro';
import ContentHeader from '@layouts/content/Header.astro';
import ContentMain from '@layouts/content/Body.astro';
import ContentFooter from '@layouts/content/Footer.astro';
import { getNoteData, getReferenceData } from '@util/footnote.ts';
import { getPageUrl } from '@util/ssr.ts';
import { getData as getTocData } from '@util/toc.ts';
import type { StructuredData } from '../../@types/util.d.ts';

interface Props {
	astroFilePath: string | undefined;
	structuredData: StructuredData;
	top?: boolean;
	toc?: boolean;
	contentFooter?: boolean;
	ad?: boolean;
}

const { astroFilePath, structuredData, top = false, toc = true, contentFooter = true, ad = true } = Astro.props;

const pagePath = getPageUrl(Astro.url, astroFilePath);

const rendered = await Astro.slots.render('default');
const dom = new JSDOM(rendered);
const { document } = dom.window;

const tocData = toc ? getTocData(document) : undefined;
const footnoteNoteData = getNoteData(document);
const footnoteReferenceData = getReferenceData(document);

const mainHtml = `${document.head.innerHTML}${document.body.innerHTML}`;
---

<!doctype html>
<html lang="ja">
	<Head pagePath={pagePath} structuredData={structuredData} />
	<body>
		<div class="l-page">
			<PageHeader top={top} />

			<main id="content" class="l-content">
				{!top && <ContentHeader pagePath={pagePath} structuredData={structuredData} tocData={tocData} />}
				<ContentMain html={mainHtml} footnoteNoteData={footnoteNoteData} footnoteReferenceData={footnoteReferenceData} />
				{contentFooter && <ContentFooter pagePath={pagePath} astroFilePath={astroFilePath} structuredData={structuredData} />}
			</main>

			<PageSidebar />

			<PageCM />

			<PageFooter pagePath={pagePath} ad={ad} />
		</div>
	</body>
</html>
