---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import LibraryItemBook from '@components/LibraryItemBook.astro';
import H from '@components/H.astro';
import LinkExternal from '@components/LinkExternal.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『魔法少女まどか☆マギカ』の図書での紹介例',
	heading: 'メディア紹介 — 図書',
	dateModified: dayjs('2023-06-20'),
	description: '雑誌以外の書籍において『魔法少女まどか☆マギカ』のインタビューや作品紹介などが掲載された事例のリストです。',
	breadcrumb: [{ path: '/madoka/', name: 'ホーム' }],
	localNav: [
		{ path: '/madoka/library/book', name: '図書' },
		{ path: '/madoka/library/magazine', name: '雑誌' },
		{ path: '/madoka/library/newspaper', name: '新聞' },
	],
	tocDirection: 'row',
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<H slot="heading">2011年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="@2.5" release="2011-03-31" isbn="978-4-04-894080-1" amazonAsin="4048940805" amazonImageId="51+ojV0aDoL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.34–41: <em>「『魔法少女まどか☆マギカ』」</em>岩上敦宏インタビュー。脚本制作時の話など。</p>
			</div>

			<ul class="p-notes">
				<li>本書は2011年3月31日の発売だが、インタビューは12話までの放送が終了していることを前提とした会話であり、また10話までの本編画像も掲載されているため、震災前に取材、編集が行われたものと思われる。</li>
			</ul>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="BLACK PAST" release="2011-06-12" amazonAsin="B008F6Y5LG" amazonImageId="51TSD8MDIEL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.6–21: 「すれ違いの先にある奇跡」宇野常寛×虚淵玄対談。</p>
				<p>pp.147–158: 「受胎の記憶――ループと忘却のメカニズム」村上裕一による、『涼宮ハルヒの憂鬱』の「エンドレスエイト」編と比較しつつ、登場キャラクターの立場についての考察など。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="成熟という檻 『魔法少女まどか☆マギカ』論" release="2011-08-10" isbn="978-4-87376-374-3" amazonAsin="4873763746" amazonImageId="51eEqZZKe4L" amazonImageWidth={109} amazonImageHeight={160}>
			<div class="p-text">
				<p>山川賢一によるオフィシャル評論。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　公式ガイドブック　you are not alone." release="2011-08-27" isbn="978-4-8322-4061-2" amazonAsin="4832240617" amazonImageId="51+K2ltzGxL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>公式ガイドブック（TVシリーズ）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女マガジン（別冊オトナアニメ）" release="2011-09-22" isbn="978-4-86248-810-7" amazonAsin="4862488102" amazonImageId="61CSyqJifML" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>折込ポスター: Vol.21表紙のアルティメットまどかイラスト（中村直人）。</p>
				<p>pp.6–25: <em>「10年代の魔法少女アニメ　魔法少女まどか☆マギカ」</em>作品概要、キャラクター紹介、悠木碧インタビュー、ストーリー解説（1話、5話、7話、10話の絵コンテ掲載）、新房昭之インタビュー（タイトルに「魔法少女」を入れたこだわりなど）。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　プロダクションノート" release="2011-09-30" amazonAsin="4896106261" amazonImageId="51sH-ibbNuL" amazonImageWidth={158} amazonImageHeight={160}>
			<div class="p-text">
				<p>TVシリーズのキャラクター設定、異空間設定、武器・小物設定、美術設定ほか。「劇団イヌカレー　イメージノート」付属。</p>
				<p>2014年3月には<LinkExternal href="https://www.amazon.co.jp/dp/4896109163/">新装版</LinkExternal>が発売されている。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="100人がしゃべり倒す! 「魔法少女まどか☆マギカ」" release="2011-10-14" isbn="978-4-7966-8525-2" amazonAsin="4796685251" amazonImageId="61v0hG6jFpL" amazonImageWidth={115} amazonImageHeight={160}>
			<div class="p-text">
				<p>様々な立場の人々による感想、考察をまとめた本。</p>
				<p>山川賢一によるコラム「魔法少女と成熟」および「『成熟という檻』誕生秘話」も掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="夜想bis+　新房監督㊙インタビュー 番外篇" release="2011-11-03" isbn="978-4-902916-23-2" amazonAsin="4902916231" amazonImageId="51uFqAqcdXL" amazonImageWidth={106} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.4–48: 新房昭之×飯田孝×たまごまご×吉田アミ×橋本淳子×今野裕一の対談。ほむらの家のY字路や、9話の街灯の髑髏模様、ほむらのオーディション、劇団イヌカレー起用の話が挙がる。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="月刊アニメスタイル　第4号" release="2011-11-11" isbn="978-4-902948-10-3" amazonAsin="4902948109" amazonImageId="61bC6VgVwqL" amazonImageWidth={160} amazonImageHeight={119}>
			<div class="p-text">
				<p>pp.102–108: <em>「新房昭之のアニメスタイル」</em>小黒祐一郎×新房昭之の対談。映像的には『コゼットの肖像』の延長線上として『まどか☆マギカ』を考えていたこと、演出が宮本さん以外新しい人達ばかりだった（岩城忠雄が中心になって人を集めた）こと、『ef』の経験でドラマとキャラクターが乖離しても成立することに気付いたことなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　The Beginning Story" release="2011-12-10" isbn="978-4-04-110045-5" amazonAsin="4041100453" amazonImageId="51RPvmUHnmL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>全話のシナリオ決定稿、一部シーン（3話、6話、7話、10話）のシナリオ0稿、一部シーン（1話〜4話、6話、10話、12話）の絵コンテが掲載。</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2012年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="平成23年度[第15回]文化庁メディア芸術祭受賞作品集" release="2012-02-01">
			<div class="p-text"><p>pp.18–21: アニメーション部門大賞の贈賞理由、作品概要。作中カット13点のほか、TVシリーズのキービジュアルと蒼樹うめによるアルティメットまどか、リボンほむらのイラスト（「ニュータイプ」2011年12月号表紙）も掲載。</p></div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　KEY ANIMATION NOTE Vol.1" release="2012-02-29" amazonAsin="4896106393" amazonImageId="51PFYZHCEeL" amazonImageWidth={110} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集（TVシリーズ　オープニング）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　KEY ANIMATION NOTE Vol.2" release="2012-03-31" amazonAsin="4896106407" amazonImageId="516s9KLD0OL" amazonImageWidth={110} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集（TVシリーズ第1話〜第3話）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカポータブル　ザ・コンプリートガイド" release="2012-04-20" isbn="978-4-04-886580-7" amazonAsin="4048865803" amazonImageId="61Qq0j5OJxL" amazonImageWidth={115} amazonImageHeight={160}>
			<div class="p-text">
				<p>ストーリー攻略、ダンジョン攻略、エクストラ（イベントCG、原画、プロモーションイラスト、開発者インタビューなど）。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="SKE48　放課後、二次元同好会" release="2012-04-20" amazonAsin="4904209206" amazonImageId="51-Re48iMbL" amazonImageWidth={112} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.98–101: 「サイゾー」2011年6月号掲載記事の再構成。SKE48メンバーの平松可奈子、古川愛李がコスプレを披露（ほむら、マミ）。</p>
				<p>pp.140–143: <em>「古川愛李×シナリオライター・虚淵玄」</em>マミが死ぬことは名前が付く前に決まっていたこと、主人公が最終話まで変身しないこと、「ティロ・フィナーレ」の名称をアフレコ現場で変更したこと、など。</p>
				<p>その他のページでもほむらのコスプレ衣装を着たメンバーの写真が複数掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　KEY ANIMATION NOTE Vol.3" release="2012-04-30" amazonAsin="4896106415" amazonImageId="519ORaGVjKL" amazonImageWidth={110} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集（TVシリーズ第4話〜第6話）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ film memories" release="2012-05-26" isbn="978-4-8322-4151-0" amazonAsin="4832241516" amazonImageId="51QR77WCweL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>TVシリーズ全話のフィルムコミック。巻末に用語集を掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　KEY ANIMATION NOTE Vol.4" release="2012-05-31" amazonAsin="4896106423" amazonImageId="51LYpJE-QpL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集（TVシリーズ第7話〜第9話）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="新房語" release="2012-07-27" isbn="978-4-7580-1259-1" amazonAsin="4758012598" amazonImageId="61E8sMCR3+L" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>雑誌「キャラ☆メル」「キャラ☆メル Febri」（現在の「Febri」）での対談企画「新房語」（2007年〜2012年分）を単行本化したもの。</p>
				<p>『まどか☆マギカ』の話題が出てくるのは第15回（あおきえい）、第16回（虚淵玄、宮本幸裕）、第18回（鈴木博文）、および新規収録の久保田光俊との対談、劇団イヌカレー筆談会。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　KEY ANIMATION NOTE Vol.5" release="2012-07-31" amazonAsin="4896106431" amazonImageId="41dl27EhJYL" amazonImageWidth={114} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集（TVシリーズ第4話〜第10話）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="コレクション（ClariS）" release="2012-09-14" isbn="978-4-7897-3542-1" amazonAsin="4789735427" amazonImageId="51GloAydDnL" amazonImageWidth={160} amazonImageHeight={113}>
			<div class="p-text">
				<p>pp.4–5: ClariSインタビューで「コネクト」と『まどか☆マギカ』に言及。「コネクト」CD情報も掲載。</p>
				<p>pp.16–17: 「コネクト」紹介。ハノカゲによるClariSイラスト掲載（イラスト自体は『まどか☆マギカ』とは無関係）。</p>
				<p>p.43: 「プロミス」紹介。「コネクト」に対するアンサーソングであり、「鹿目まどかの視点で、TVシリーズ最終話の世界から返答するような歌詞になっている」とのこと。</p>
				<p>pp.58–60: 渡辺翔インタビュー。「コネクト」制作時は声の資料がほぼない状態で楽曲の方向性だけあったこと、当時アニメの展開は知らなかったこと、「プロミス」は鹿目まどかを意識したこと、など。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　KEY ANIMATION NOTE Vol.6" release="2012-09-30" amazonAsin="489610644X" amazonImageId="41l3uy+VTCL" amazonImageWidth={114} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集（TVシリーズ第11話〜第12話）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="映画館パンフレット（[前編]始まりの物語）" release="2012-10-06" amazonAsin="B009MFMFAM" amazonImageId="41sVjFXXjoL" amazonImageWidth={160} amazonImageHeight={115}>
			<div class="p-text">
				<p><em>映画館パンフレット</em>　キャラクター紹介、スタッフインタビューなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="映画館パンフレット（[後編]永遠の物語）" release="2012-10-13" amazonAsin="B009PT90PS" amazonImageId="31ZSNb1gOTL" amazonImageWidth={160} amazonImageHeight={111}>
			<div class="p-text">
				<p><em>映画館パンフレット</em>　スタッフインタビュー、魔女図鑑、オープニング原画集など。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="ピアノソロ　魔法少女まどか☆マギカ" release="2012-11-26" isbn="978-4-636-89258-1" amazonAsin="4636892585" amazonImageId="51HbzOzutrL" amazonImageWidth={119} amazonImageHeight={160}>
			<div class="p-text">
				<p>ClariS と Kalafina のインタビュー、楽譜（ルミナス、ひかりふる、コネクト、Magia、Credens justitiam、Sis puella magica!）、歌詞（ルミナス、ひかりふる、コネクト、Magia）など。</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2013年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカ　KEY ANIMATION NOTE extra 始まりの物語／永遠の物語" release="2013-02-28" amazonAsin="4896106768" amazonImageId="51X1+Ul732L" amazonImageWidth={111} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集（劇場版[前編][後編]）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="アニメスタイル 003（2013.03）" release="2013-03-27" isbn="978-4-89610-543-8" amazonAsin="4896105435" amazonImageId="51mamzDin2L" amazonImageWidth={114} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.46–75: <em>「新房昭之3万文字インタビュー」</em>後編キービジュアル、「ルミナス」原画（佐藤利幸、松本元気）、[前編]マミ変身シーン原画（寺尾洋之）、[後編]杏子変身シーン原画（阿部厳一郎）も掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="語ろう!クウガ・アギト・龍騎（永遠の平成仮面ライダーシリーズ）" release="2013-07-02" isbn="978-4-86255-178-8" amazonAsin="4862551785" amazonImageId="51nGDRUjE2L" amazonImageWidth={111} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.57–94: 虚淵玄インタビュー。『仮面ライダー』シリーズについての話が中心だが、佐倉杏子の最初のイメージが浅倉威だったことなど『まどか☆マギカ』に関するトークもあり。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="劇場版魔法少女まどか☆マギカ [前編]始まりの物語/[後編]永遠の物語　公式ガイドブック　with you." release="2013-07-27" isbn="978-4-8322-4332-3" amazonAsin="4832243322" amazonImageId="51ipp3OnVfL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>公式ガイドブック（劇場版[前編][後編]）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="劇場版　魔法少女まどか☆マギカ LOVE!　まどか&ほむら ver." release="2013-08-08" isbn="978-4-8002-1348-8" amazonAsin="4800213487" amazonImageId="51rvr7DA1xL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>表紙: まどか&amp;ほむら（原画: 渡邊和夫）</p>
				<p>まどか&amp;ほむらセリフ集、キャストインタビュー（悠木碧、斎藤千和）、松井玲奈（SKE48）&amp;生駒里奈（乃木坂46）のコスプレなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="小池一夫対談集　キャラクター60年" release="2013-08-24" isbn="978-4-86225-865-6" amazonAsin="4862258654" amazonImageId="51TFFALVXGL" amazonImageWidth={112} amazonImageHeight={160}>
			<div class="p-text">
				<p>小池一夫×虚淵玄の対談（<LinkExternal href="https://live.nicovideo.jp/watch/lv77366564">ニコニコ生放送で2012年1月29日に行われた対談</LinkExternal>の書き起こし）。キャラクターの命名、1〜3話の構成の根拠、世界観をキャラクター化（キュゥべえ）したこと、執筆にあたり影響を受けた作品など。</p>
			</div>
			<ul class="p-notes">
				<li>内容は雑誌<LinkExternal href="https://www.amazon.co.jp/dp/4862258239/">「カイト vol.4」</LinkExternal>の再掲。また、2014年6月には分冊化のうえ<LinkExternal href="https://www.amazon.co.jp/dp/B00LC2A81G/">電子書籍版</LinkExternal>が発売されている。</li>
			</ul>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカぴあ" release="2013-10-12" isbn="978-4-8356-2267-5" amazonAsin="4835622677" amazonImageId="61RCQrbFshL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>『[新編]叛逆の物語』情報、キャストインタビュー、スタッフインタビュー、シャフト制作現場潜入レポート、TVシリーズ設定資料など。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="映画館パンフレット（[新編]叛逆の物語）" release="2013-10-25" amazonAsin="B00GKA4MXU" amazonImageId="41Kiu93lirL" amazonImageWidth={160} amazonImageHeight={112}>
			<div class="p-text"><p>キャラクター紹介、スタッフ・キャストインタビューなど。</p></div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="劇場版　魔法少女まどか☆マギカ LOVE!　さやか&杏子 ver." release="2013-12-28" isbn="978-4-8002-1889-6" amazonAsin="4800218896" amazonImageId="51pEyl+BmlL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>表紙: さやか&amp;杏子（原画: 渡邊和夫）</p>
				<p>さやか&amp;杏子セリフ集、キャストインタビュー（喜多村英梨、野中藍）、蒼樹うめメッセージ、キュゥべえ絵描き歌（監修: 谷口淳一郎）など。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="pixiv×魔法少女まどか☆マギカ ILLUST COLLECTION" release="2013-12-29" amazonAsin="B00HUOL3TG" amazonImageId="51qlWGHOiaL" amazonImageWidth={160} amazonImageHeight={160}>
			<div class="p-text">
				<p>pixivにて『劇場版　魔法少女まどか☆マギカ[新編]叛逆の物語』の公開を記念して開催されたイラストコンテストの受賞作品、全61作品を収録。</p>
				<p><LinkExternal href="https://goods.pixiv.net/c85/">コミックマーケット85（2013年12月）の pixiv ブース</LinkExternal>にて販売。</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2014年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="劇場版魔法少女まどか☆マギカ [新編]叛逆の物語　公式ガイドブック　only you." release="2014-04-12" isbn="978-4-8322-4429-0" amazonAsin="4832244299" amazonImageId="61oIrxBA5xL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>公式ガイドブック（劇場版[新編]）</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="アニメスタイル 005（2014.05）" release="2014-04-30" isbn="978-4-89610-576-6" amazonAsin="4896105761" amazonImageId="61emtbNgfXL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.139–142: 「新房昭之の四方山話　番外編」新編に関するインタビュー、「シャフト角度（シャフ度）」についてのコラム。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="劇場版　魔法少女まどか☆マギカ LOVE!　マミ&なぎさ ver." release="2014-05-26" isbn="978-4-8002-2503-0" amazonAsin="4800225035" amazonImageId="51+UHqSK1pL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>表紙: マミ&amp;なぎさ（原画: 谷口淳一郎）</p>
				<p>虚淵玄インタビュー（百江なぎさに関する話が中心）、キャストインタビュー（水橋かおり、阿澄佳奈）、「ちんかめ」とのコラボイラスト（谷口淳一郎による水着姿のマミ）、「劇場版　魔法少女まどか☆マギカ　オーケストラ・コンサート」レポートなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="劇場版　魔法少女まどか☆マギカ LOVE!　悪魔ほむら&キュゥべえ ver." release="2014-08-21" isbn="978-4-8002-2727-0" amazonAsin="4800227275" amazonImageId="51LyQ5Qj1ZL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>表紙: 悪魔ほむら&amp;キュゥべえ（原画: 谷口淳一郎）</p>
				<p>キャストインタビュー（斎藤千和、加藤英美里）、新房昭之インタビュー、「劇場版　魔法少女まどか☆マギカ展」新潟会場初日レポートなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="決定版! TVタブー 2014 総決算号" release="2014-11-17" isbn="978-4-8130-7155-6" amazonAsin="4813071554" amazonImageId="61RYgz5j5dL" amazonImageWidth={119} amazonImageHeight={160}>
			<div class="p-text">
				<p>p.37: 「封印アニメの大問題シーン17TITLE!」で東日本大震災で放送休止になった件が紹介。第11話での体育館のシーンなどを再編集して放送したことに触れられる。2011年4月の一挙放送時の読売新聞広告も掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="日本TVアニメーション大全　テレビアニメ50年記念" release="2014-12-16" isbn="978-4-418-14901-8" amazonAsin="4418149015" amazonImageId="51nx1p6k0oL" amazonImageWidth={114} amazonImageHeight={160}>
			<div class="p-text">
				<p>p.459: 2011年の TV アニメで他作品に混じり『魔法少女まどか☆マギカ』紹介</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2015年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="いま、幸福について語ろう　宮台真司「幸福学」対談集" release="2015-02-25" isbn="978-4-86436-599-4" amazonAsin="4864365997" amazonImageId="51Gd9zGrLpL" amazonImageWidth={107} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.21–83: 著者の宮台真司と虚淵玄との対談（2013年3月、2014年1月収録）。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="劇場版　魔法少女まどか☆マギカ[新編]叛逆の物語　プロダクションノート" release="2015-02-28" amazonAsin="4896109376" amazonImageId="41V36rJiKWL" amazonImageWidth={116} amazonImageHeight={160}>
			<div class="p-text">
				<p>[新編]のキャラクター設定、武器小物設定、美術設定、美術ボードほか。「劇団イヌカレー　イメージノート2」付属。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="別冊カドカワ　総力特集 Kalafina" release="2015-02-28" isbn="978-4-04-731709-3" amazonAsin="4047317098" amazonImageId="51fc8Fy9ZYL" amazonImageWidth={111} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.160–162: 岩上敦宏のインタビューで「君の銀の庭」の依頼時に、梶浦由記に脚本を読んでもらっただけで具体的なことを言わなかったことなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="インスパイアード背景画集" release="2015-03-27" amazonAsin="4862462685" amazonImageId="41bNxudu-iL" amazonImageWidth={137} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.26–47: <em>TVシリーズの背景素材を20点紹介。</em></p>
				<p>p.131: インスパイアード社が2011年の『魔法少女まどか☆マギカ』において作品全般の美術を担当することになったこと、稲葉邦彦氏がこのタイミングで美術監督として同社に加わったことに言及。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="「蒼樹うめ展」公式図録" release="2015-10-03" amazonAsin="B07B9PZMZ9" amazonImageId="41wqBZndYkL" amazonImageWidth={160} amazonImageHeight={75}>
			<div class="p-text">
				<p>会場で展示されたイラストやラフを掲載。</p>
				<p>蒼樹うめ、新房昭之、蒼樹うめ×悠木碧のインタビュー。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="「MADOGATARI展」パンフレット" release="2015-11-27" amazonAsin="B018NVUL10" amazonImageId="51OGbCiDJYL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画や美術ボードの掲載、久保田光俊×新房昭之×岩上敦宏インタビュー、「PRODUCTION NOTE」はじめ過去のアイテムセレクション、記念イラストなど。</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2016年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="「MADOGATARI展」図録" release="2016-09-22" amazonAsin="B01LZLCCFB" amazonImageId="51jKmWdTPXL" amazonImageWidth={112} amazonImageHeight={160}>
			<div class="p-text">
				<p>東京、大阪、札幌、名古屋会場の様子、会場で展示された原画、コンセプトムービー原画&amp;絵コンテ、物販アイテム一覧などを掲載。</p>
				<p>付録 Blu-ray には[新編]叛逆の物語ダイジェストムービー、コンセプトムービーを収録。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="FictionJunction CLUB 会報　Vol.31" release="2016-10">
			<div class="p-text">
				<p>pp.10–13: 梶浦由記×鶴岡陽太インタビューの前半で『まどか☆マギカ』TVシリーズの話。「Sis puella magica!」を鶴岡の判断でテーマ音楽化していたこと、EDは当初バラードを求められていたことなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="日本語のロゴ・メイキング" release="2016-10-07" isbn="978-4-7661-2957-1" amazonAsin="4766129571" amazonImageId="51V1wjNC6qL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.140–143: TVシリーズ、前後編のロゴのラフ、完成イラスト掲載。「まマ」と略されたラフや、TV 版ロゴ制作時のスタジオ側からの修正依頼内容。</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2017年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="PRO-VISION English Communication Ⅰ NEW EDITION" release="2017-02-25" isbn="978-4-342-04122-8" amazonAsin="4342041227" amazonImageId="510muQzSkYL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.18–19: LESSON 2「Oh Bento!」にて「How about a piece of karaage?」などのセリフ。[新編] の屋上で弁当を食べるシーンのキャプチャー画像3枚掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="新房昭之Walker 〜打ち上げ花火、下から見るか? 横から見るか?〜" release="2017-09-25" isbn="978-4-04-896081-6" amazonAsin="4048960814" amazonImageId="613mXsT8FyL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>p.52: 「新房昭之百語」Q&amp;A形式でTVシリーズやコンセプトムービーの話。</p>
				<p>pp.90–111: <em>「新房昭之作品を知る!」</em>ストーリー解説、コンセプトムービー絵コンテ掲載、メインキャラクター紹介、異空間ボードギャラリー。</p>
				<p>pp.130–131: 「厳選イラストギャラリー」に過去の版権イラスト4枚掲載（「ニュータイプ」2011年3月号、2012年5月号、2012年12月号、2013年8月号）。</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2018年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="ホビージャパン フィギュアJAPANマニアックス（ホビージャパンムック 857）" release="2018-04-03" isbn="978-4-7986-1667-4" amazonAsin="4798616672" amazonImageId="51eIq9wMQYL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>p.48: 「アニプレックス」の紹介記事で会社入口のショーケース写真（Ultimate Best や各種フィギュアが展示）、環いろはのフィギュア写真掲載。</p>
				<p>p.77: 「デジタル技術&amp;等身大フィギュア」デザインココの取材記事で、展示用等身大フィギュアでアルティメットまどかを制作したことが記載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="マチ★アソビ　アルバム" release="2018-05">
			<div class="p-text">
				<p>マチ★アソビ vol.1 〜 vol.19 の写真が多数掲載。『魔法少女まどか☆マギカ』関連は下記3点。</p>
				<p>vol.8: 魔法少女まどか☆マギカポータブル　アートワーク展</p>
				<p>vol.9: 眉山ロープウェイアナウンス</p>
				<p>vol.11: ゲーム試遊</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女まどか☆マギカの塗り絵" release="2018-08-23" isbn="978-4-309-27965-7" amazonAsin="4309279651" amazonImageId="51OqiuvC-eL" amazonImageWidth={124} amazonImageHeight={160}>
			<div class="p-text">
				<p>既存版権イラスト16枚の塗り絵。カラーの完成イラストも掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="「MBSアニメフェス2018」パンフレット" release="2018-10-06" amazonAsin="B087C4SRCW" amazonImageId="51EWDEpqepL" amazonImageWidth={160} amazonImageHeight={160}>
			<div class="p-text">
				<p>2018年10月6日に大阪城ホールで開催された<LinkExternal href="https://www.mbs.jp/animefes/">MBSアニメフェス2018</LinkExternal>のパンフレット。</p>
				<p>まどか&amp;キュゥべえの描き下ろしイラスト掲載（潮月一也）。</p>
				<p>TVシリーズの生アフレコを行った加藤英美里、悠木碧、喜多村英梨のインタビュー（3ページ）。</p>
				<p>「かかわり」「コネクト」のライブを行った TrySail のインタビュー（1ページ）。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="魔法少女ほむら☆マギカ×ぴあ" release="2018-12-18" isbn="978-4-8356-3517-0" amazonAsin="4835635175" amazonImageId="51znJNp4-lL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>暁美ほむらにフォーカスを置いた本。版権イラスト集、斎藤千和インタビュー、全セリフ集など。</p>
				<p>斎藤千和のインタビューではオーディション時の話、10話のみ劇場版で新録にしなかった経緯、[新編]ファーストテイク版の演技の理由（コンテ絵の表情が怖かった）などが語られている。</p>
			</div>
		</LibraryItemBook>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">2019年</H>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="谷口淳一郎　アニメーション画集" release="2019-01-19" isbn="978-4-902948-25-7" amazonAsin="4902948257" amazonImageId="511cGO68yuL" amazonImageWidth={118} amazonImageHeight={160}>
			<div class="p-text">
				<p>表紙: まどか、ほむら。</p>
				<p>p.3: 表紙と同じイラスト。</p>
				<p>pp.4–51: 『魔法少女まどか☆マギカ』のイラスト、原画、ラフ。</p>
				<p>pp.52–65: 『マギアレコード　魔法少女まどか☆マギカ外伝』のイラスト、原画、ラフ。</p>
				<p>p.239: インタビューの中で、岸田隆宏のシャープな画に影響を受けたことに触れられる。</p>
				<p>裏表紙: キュゥべえ。</p>
				<p>小冊子（谷口淳一郎のうすい本）: Twitter で発表したイラスト、宮本幸裕からのコメントが掲載。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="「MBSアニメヒストリアー平成ー」パンフレット" release="2019-03-17">
			<div class="p-text">
				<p>2019年3月17日に幕張メッセで開催された<LinkExternal href="https://www.mbs.jp/anime-historia/">MBSアニメヒストリアー平成ー supported by LIVE DAM STADIUM</LinkExternal>のパンフレット。</p>
				<p>登壇者から悠木碧、斎藤千和のインタビュー（それぞれ2ページ）。</p>
				<p>また、『まどか☆マギカ』プロデューサーとして久保田光俊のインタビュー（1ページ）。企画立ち上げ時、東日本大震災、[新編]悪魔ほむらの再アフレコなどの振り返り。続編は制作準備中とのこと。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="マギアアーカイブ　マギアレコード 魔法少女まどか☆マギカ外伝　設定資料集　Vol.1" release="2019-09-11" isbn="978-4-8322-7116-6" amazonAsin="4832271164" amazonImageId="51U1g7casxL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>キャラクターのイラスト、衣装設定、原案者によるコメント、ドッペル設定、魔女とウワサの設定。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="新房昭之×シャフト　クロニクル" release="2019-11-23" isbn="978-4-8354-5701-7" amazonAsin="4835457013" amazonImageId="510waYsj0oL" amazonImageWidth={119} amazonImageHeight={160}>
			<div class="p-text">
				<p>pp.119–140: TVシリーズに関する新房昭之インタビュー。3話、5話の絵コンテ、オープニングのまどか変身シーン原画掲載。（「季刊エス」2011年春号・第34号の再掲）</p>
				<p>pp.119–140: TVシリーズに関する新房昭之インタビュー。9話、10話の絵コンテ、10話ほむらゴルフクラブ練習シーン&amp;まどほむ抱きつきシーンの原画掲載。（「季刊エス」2012年冬号・第37号の再掲だが、原画、絵コンテは本誌で削除／追加されたものがある）</p>
				<p>pp.181–192: [新編]に関する新房昭之インタビュー。一部シーンの原画、美術ボード掲載。（「季刊エス」2014年春号・第46号の再掲）</p>
				<p>pp.225–230: 新房昭之、久保田光俊、岩上敦宏の対談。『まどか』での蒼樹うめと虚淵玄の人選経緯、TV 放送時の回想、『マギレコ』の TV アニメ化についてなど。</p>
			</div>
		</LibraryItemBook>

		<LibraryItemBook slugger={slugger} headingLevel={3} title="マギアレコード　魔法少女変身原画集　Vol.1" release="2019-12-27" amazonAsin="B0834SSCMR" amazonImageId="51okJd8J-nL" amazonImageWidth={113} amazonImageHeight={160}>
			<div class="p-text">
				<p>原画集。<LinkExternal href="https://www.aniplexplus.com/itemjTNSiCGd">Aniplex+ の商品ページ</LinkExternal>にサンプル掲載。</p>
			</div>
		</LibraryItemBook>
	</Section>
</Layout>
