---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import DocMagazine from '@components/DocMagazine.astro';
import Embedded from '@components/Embedded.astro';
import Image from '@components/Image.astro';
import Link from '@components/Link.astro';
import LinkPhoto from '@components/LinkPhoto.astro';
import NoteRef from '@components/NoteRef.astro';
import NoteRefContent from '@components/NoteRefContent.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急電車の台車（TS-800 系）',
	heading: 'TS-800 系台車',
	dateModified: dayjs('2022-08-20'),
	description: '7200系や8000系グループなどが履用していた TS-800 系台車を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/truck/TS807M_8728.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/truck/', name: '台車' },
	],
	localNav: {
		label: '台車',
		items: [
			{ path: '/tokyu/truck/ts300', name: 'TS-300' },
			{ path: '/tokyu/truck/ts700', name: 'TS-700' },
			{ path: '/tokyu/truck/ts800', name: 'TS-800' },
			{ path: '/tokyu/truck/ts1000', name: 'TS-1000' },
			{ path: '/tokyu/truck/etc', name: '総合車両製以外' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Section id="introduction">
		<Fragment slot="heading">概要</Fragment>

		<p>1967年に登場した TS-800 系台車の初作品は京王井の頭線3000系向けで、東急電鉄では同年に7200系の電動車で TS-802 型が採用されました。続く8000系グループの大量増備と、パイオニアⅢ台車の置き換えで20年以上にわたり製造され、東急電車の代表的な台車として1990年代には在籍車両の7割以上に普及するまでに至りました。</p>

		<p>東急電車に採用された TS-800 系台車は大きく分けて7形式あり、いずれも軸箱守はペデスタル摺動式、枕ばねはダイヤフラム形空気ばねの組み合わせで似たような形態ですが、側梁の仕上げ方など改良を重ねており、細かく見るとバリエーション豊かなことが分かります。</p>

		<div class="p-table -full">
			<table>
				<thead>
					<tr>
						<th scope="col">形式</th>
						<th scope="col">製造初年</th>
						<th scope="col">最多履数</th>
						<th scope="col">履用車両</th>
						<th scope="col">現状</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><Link href="#ts802-m" bullet={true}>TS-802</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td rowspan="2" class="u-cell -center">1967年</td>
						<td class="u-cell -center">30両</td>
						<td>7200系</td>
						<td>現役</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts802a" bullet={true}>TS-802A</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1両</td>
						<td>7200系<small>（デヤ7290）</small></td>
						<td>消滅</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts807-m" bullet={true}>TS-807</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1969年</td>
						<td class="u-cell -center">77両</td>
						<td>8000系<small>（1〜5次車）</small></td>
						<td>現役</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts807-m" bullet={true}>TS-807M</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1975年</td>
						<td class="u-cell -center">128両</td>
						<td>8000系・8500系<small>（6〜9次車）</small></td>
						<td>現役</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts807a" bullet={true}>TS-807A</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1979年</td>
						<td class="u-cell -center">248両</td>
						<td>8000系・8500系<small>（10〜20次車、軽量試作）</small>、<br />6000系<small>（VVVF 試験車）</small></td>
						<td>現役</td>
						<td>サハ8300形電装改造車8両を含む</td>
					</tr>
					<tr>
						<td><Link href="#ts807b" bullet={true}>TS-807B</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1980年</td>
						<td class="u-cell -center">60両</td>
						<td>8090系・8590系</td>
						<td>現役</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts807a" bullet={true}>TS-807C</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1991年</td>
						<td class="u-cell -center">2両</td>
						<td>8500系<small>（21次車）</small></td>
						<td>消滅</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts815m" bullet={true}>TS-815M → C</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">1975年</td>
						<td class="u-cell -center">19両</td>
						<td>8500系<small>（6〜9次車）</small></td>
						<td>現役</td>
						<td>ブレーキ改造で TS-815C へ統合</td>
					</tr>
					<tr>
						<td><Link href="#ts815a" bullet={true}>TS-815A → C</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">1979年</td>
						<td class="u-cell -center">48両</td>
						<td>8000系・8500系<small>（10〜14次車）</small></td>
						<td>現役</td>
						<td>ブレーキ改造で TS-815C へ統合</td>
					</tr>
					<tr>
						<td><Link href="#ts815b" bullet={true}>TS-815B → E</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">1980年</td>
						<td class="u-cell -center">9両</td>
						<td>8090系<small>（12〜13次車）</small></td>
						<td>現役</td>
						<td>ブレーキ改造で TS-815E へ改称</td>
					</tr>
					<tr>
						<td><Link href="#ts815c" bullet={true}>TS-815C</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">1983年</td>
						<td class="u-cell -center">21両<NoteRef by="ts815c-count" /></td>
						<td>8500系<small>（15〜19次車）</small></td>
						<td>現役</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts815d" bullet={true}>TS-815D</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">1984年</td>
						<td class="u-cell -center">21両</td>
						<td>8090系<small>（16〜17次車）</small></td>
						<td>現役</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts815f" bullet={true}>TS-815F</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td rowspan="2" class="u-cell -center">1990年</td>
						<td class="u-cell -center">52両</td>
						<td>8000系<small>（1〜5次車）</small></td>
						<td>現役</td>
						<td>TS-708 淘汰用</td>
					</tr>
					<tr>
						<td><Link href="#ts815f" bullet={true}>TS-815T</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">10両</td>
						<td>豊橋鉄道ク2800形</td>
						<td>現役</td>
						<td>TS-815F、TS-839 の現地形式</td>
					</tr>
					<tr>
						<td><Link href="#ts831-m" bullet={true}>TS-831</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1986年</td>
						<td class="u-cell -center">6両</td>
						<td>7600系</td>
						<td>消滅</td>
						<td></td>
					</tr>
					<tr>
						<td><Link href="#ts832-m" bullet={true}>TS-832</Link> <span class="c-tokyu-truck -m">動力</span></td>
						<td class="u-cell -center">1987年</td>
						<td class="u-cell -center">30両</td>
						<td>7700系</td>
						<td>現役</td>
						<td>サハ7950形電装改造車2両を含む</td>
					</tr>
					<tr>
						<td><Link href="#ts835-t" bullet={true}>TS-835</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">1987年</td>
						<td class="u-cell -center">28両</td>
						<td>7700系、7200系<small>（クハ7501, 7508）</small></td>
						<td>現役</td>
						<td>クハ7500形分は TS-839 へ編入</td>
					</tr>
					<tr>
						<td><Link href="#ts839-t" bullet={true}>TS-839</Link> <span class="c-tokyu-truck -t">付随</span></td>
						<td class="u-cell -center">1993年</td>
						<td class="u-cell -center">3両<NoteRef by="ts839-count" /></td>
						<td>7600系</td>
						<td>消滅</td>
						<td>TS-708 淘汰用</td>
					</tr>
				</tbody>
			</table>

			<NoteRefContent id="ts815c-count">TS-815M 型、TS-815A 型からの編入分を含まない両数。</NoteRefContent>

			<NoteRefContent id="ts839-count">TS-835 型からの編入分を含まない両数。含むと5両になる。</NoteRefContent>
		</div>

		<ul class="p-notes">
			<li>TS-802 型、TS-807 型、TS-815 型、TS-831 型 〜 TS-835 型の製造初年は<DocMagazine name="鉄道ピクトリアル" date="1989年10月号" no={518} article="国鉄・JRおよびメーカー別の台車リスト(Ⅲ)" pages={[109]} />より。</li>
			<li>TS-807M 型、TS-807A 〜 C 型、TS-815M 型、TS-815A 〜 D 型の製造初年は車両入籍日からの推定。</li>
			<li>TS-815F 型、TS-839 型の製造初年は交換時期からの推定。</li>
		</ul>
	</Section>

	<Section id="ts802">
		<Fragment slot="heading">TS-802 型</Fragment>

		<Section id="ts802-m" depth={2} headingType="b">
			<Fragment slot="heading">TS-802 <small class="c-tokyu-truck -m">動力台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS802_7200.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-01-20 -->
				<Fragment slot="caption">デヤ7200（2次車）上り方山側</Fragment>
			</Embedded>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS802_toyohashi1856.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-01-10 -->
				<Fragment slot="caption">豊橋鉄道モ1856 新豊橋方（東急デハ7401 下り方）</Fragment>
			</Embedded>

			<p>1967年に登場した7200系は、電動車の台車に TS-800 系が採用されました。軸箱支持は前々年に新製されたサハ3250形の TS-322 型と同じくペデスタル軸ばね式で、防振ゴムを組み合わせています。側梁は枕ばねのある中央部が下がる形で弓形に湾曲しており、この形態は後の <a href="/tokyu/truck/ts1000">TS-1000 系</a>にも踏襲されています。また、基礎ブレーキ装置は<LinkPhoto href="https://media.w0s.jp/image/tokyu/truck/TS802_towada7305_brake.jpg" title="十和田観光電鉄デハ7305"><!-- 撮影日: 2009-09-06 -->片押式踏面ブレーキ</LinkPhoto>です。</p>

			<p>1枚目写真は初期に製造されたタイプで、側梁は水平方向に溶接痕があります。1968年の途中より、2枚目写真のように側梁が一枚板で周囲に縁取りのある形状となりました。なお、検査時等に振り替えが行われたケースがあるためか、車両の製造時期と側梁形状の関係性は必ずしも一致しません（<a href="#ts802-variation">現存個体一覧表</a>）。</p>

			<p>現在では大井川鐵道、豊橋鉄道などの譲渡先で見ることができます。 なお、豊橋鉄道譲渡車の一部にはセラミック粒子の噴射装置（セラジェット）が追設されました<NoteRef by="toyohashi-cerajet" />。</p>

			<NoteRefContent id="toyohashi-cerajet">豊橋鉄道モ1802, 1804, 1807 の3両。</NoteRefContent>
		</Section>

		<Section id="ts802a" depth={2} headingType="b">
			<Fragment slot="heading">TS-802A <small class="c-tokyu-truck -m">動力台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS802A_7290.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-01-20 -->
				<Fragment slot="caption">デヤ7290（2次車）上り方山側</Fragment>
			</Embedded>

			<p>1991年にクハ7500 から改造された架線検測車デヤ7290 は、電装化改造に際してデハ7402（→ デハ7673）が履用していたものと思われる後期タイプの TS-802 型に履き替えられました。</p>

			<p>ボルスタアンカーの位置が他車よりも低いのが特徴で、形式は TS-802A とされました。</p>
		</Section>

		<div class="p-table" id="ts802-variation">
			<table>
				<caption> 現存する TS-802 型台車の側梁形状</caption>
				<colgroup span="3"></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" colspan="3">車両</th>
						<th scope="colgroup" colspan="2">台車</th>
					</tr>
					<tr>
						<th scope="col">東急車号</th>
						<th scope="col">入籍</th>
						<th scope="col">譲渡先車号</th>
						<th scope="col">側梁形状</th>
						<th scope="col">製造年</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>デハ7201</td>
						<td class="u-cell -center">1967年</td>
						<td>豊橋鉄道モ1803</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1967年</td>
					</tr>
					<tr>
						<td>デハ7204</td>
						<td class="u-cell -center">1967年</td>
						<td>豊橋鉄道モ1811</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1967年</td>
					</tr>
					<tr>
						<td>デハ7251</td>
						<td class="u-cell -center">1967年</td>
						<td>豊橋鉄道モ1807</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1967年</td>
					</tr>
					<tr>
						<td>デハ7252</td>
						<td class="u-cell -center">1967年</td>
						<td>総合車両製作所7252</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">?</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>デハ7205</td>
						<td class="u-cell -center">1967年</td>
						<td>豊橋鉄道モ1806</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7254</td>
						<td class="u-cell -center">1967年</td>
						<td>総合車両製作所7254</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">?</td>
					</tr>
					<tr>
						<td>デハ7206</td>
						<td class="u-cell -center">1967年</td>
						<td>豊橋鉄道モ1802</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1967年</td>
					</tr>
					<tr>
						<td>デハ7255</td>
						<td class="u-cell -center">1967年</td>
						<td>豊橋鉄道モ1810</td>
						<td>後期・一体縁取り</td>
						<td class="u-cell -center">1972年</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>デハ7207</td>
						<td class="u-cell -center">1968年</td>
						<td>豊橋鉄道モ1812</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7256</td>
						<td class="u-cell -center">1968年</td>
						<td>豊橋鉄道モ1809</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7257</td>
						<td class="u-cell -center">1968年</td>
						<td>豊橋鉄道モ1860</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1967年</td>
					</tr>
					<tr>
						<td>デハ7258</td>
						<td class="u-cell -center">1968年</td>
						<td>上田電鉄モハ7255（保存）</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7208</td>
						<td class="u-cell -center">1968年</td>
						<td>豊橋鉄道モ1805</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7259</td>
						<td class="u-cell -center">1968年</td>
						<td>大井川鐵道モハ7305</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7209</td>
						<td class="u-cell -center">1968年</td>
						<td>豊橋鉄道モ1801</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7210</td>
						<td class="u-cell -center">1968年</td>
						<td>豊橋鉄道モ1813</td>
						<td>後期・一体縁取り</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7211</td>
						<td class="u-cell -center">1968年</td>
						<td>大井川鐵道モハ7204</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7212</td>
						<td class="u-cell -center">1968年</td>
						<td>豊橋鉄道モ1804</td>
						<td>後期・一体縁取り</td>
						<td class="u-cell -center">1968年</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>デハ7351</td>
						<td class="u-cell -center">1969年</td>
						<td>豊橋鉄道モ1857</td>
						<td>後期・一体縁取り</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7451</td>
						<td class="u-cell -center">1969年</td>
						<td>豊橋鉄道モ1859</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7302</td>
						<td class="u-cell -center">1969年</td>
						<td>豊橋鉄道モ1855</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1967年</td>
					</tr>
					<tr>
						<td>デハ7301</td>
						<td class="u-cell -center">1969年</td>
						<td>豊橋鉄道モ1854</td>
						<td>後期・一体縁取り</td>
						<td class="u-cell -center">1968年</td>
					</tr>
					<tr>
						<td>デハ7401</td>
						<td class="u-cell -center">1969年</td>
						<td>豊橋鉄道モ1856</td>
						<td>後期・一体縁取り</td>
						<td class="u-cell -center">1968年</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>デハ7260</td>
						<td class="u-cell -center">1972年</td>
						<td>豊橋鉄道モ1808</td>
						<td>後期・一体縁取り</td>
						<td class="u-cell -center">1972年</td>
					</tr>
					<tr>
						<td>デハ7452</td>
						<td class="u-cell -center">1972年</td>
						<td>豊橋鉄道モ1858</td>
						<td>前期・溶接痕</td>
						<td class="u-cell -center">1967年</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>現車調査期間が長期にわたっているため、必ずしも最新状況と一致しない可能性があります。</li>
		</ul>
	</Section>

	<Section id="ts807">
		<Fragment slot="heading">TS-807 型</Fragment>

		<Section id="ts807-m" depth={2} headingType="b">
			<Fragment slot="heading">TS-807, TS-807M <small class="c-tokyu-truck -m">動力台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS807M_8728.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-10-23 -->
				<Fragment slot="caption">デハ8728（8次車）上り方山側</Fragment>
			</Embedded>

			<p>1969年に登場した大型車両8000系の動力台車として設計された TS-807 型シリーズの初期タイプで、基本構造や外観は TS-802 型の後期タイプに準じていますが、固定軸距は 2200mm に延長されています。</p>

			<p>1975年には8000系をマイナーチェンジした8500系が登場していますが、同じ年に製造されたデハ8200形6次車ともども、動力台車は ISO ネジを全面的に採用した M 型となりました。</p>
		</Section>

		<Section id="ts807a" depth={2} headingType="b">
			<Fragment slot="heading">TS-807A, TS-807C <small class="c-tokyu-truck -m">動力台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS807A_8791.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-10-23 -->
				<Fragment slot="caption">デハ8791（18-1次車）上り方山側</Fragment>
			</Embedded>

			<p>8000系、8500系の10次車からは側梁がプレス成形に変更された TS-807A 型となり、側梁は丸みのある印象となったほか、ペデスタル部の形状も変更されました。13次車のみ8090系用の <a href="#ts807b">TS-807B 型</a>と同様のボルト留め機構がペデスタル部に設けられています。</p>

			<p>1984年には旧6000系の VVVF インバーター装置試験車のうち、デハ6002（東洋電機製造）およびデハ6302（東芝）の台車が本形式に履き替えられ、翌年には大井町線で営業運転を行ったことも特筆されます。</p>

			<p>VVVF 車として新造された最終増備の21次車（デハ0718, 0818）は9000系と同じタイプの TKM-86 型主電動機を搭載しており、台車も C 型に変更されました。</p>
		</Section>

		<Section id="ts807b" depth={2} headingType="b">
			<Fragment slot="heading">TS-807B <small class="c-tokyu-truck -m">動力台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS807B_8492.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2008-09-06 -->
				<Fragment slot="caption">デハ8492（13次車）下り方海側</Fragment>
			</Embedded>

			<p>8090系（8590系含む）の動力台車は、車体の軽量化に伴うブレーキシリンダ径の小型化<!-- 直径160→140mm -->などが行われた B 型となりました。</p>

			<p>12〜15次車の側梁両端のペデスタル部には<LinkPhoto href="https://media.w0s.jp/image/tokyu/truck/TS807B_8294_pedestal.jpg" title="デハ8292 下り方山側"><!-- 撮影日: 2008-12-31 -->ボルト留め機構</LinkPhoto>が設けられ、デビュー当初は空転や滑走防止のために車輪踏面にシューを常時押し付ける<dfn>踏面清掃装置（増粘着装置）</dfn>が取り付けられていました<NoteRef by="ts807b-clean" />。後に装置は撤去されましたが、ボルト留め機構は残っています。なお、同様の機構は <a href="#ts807a">TS-807A 型</a>のうち13次車、<a href="#ts815c">TS-815C 型（オリジナルタイプ）</a>、<a href="#ts815d">TS-815D 型</a>のうち16次車、<a href="#ts815f">TS-815F 型</a>にも存在します。</p>

			<NoteRefContent id="ts807b-clean"><DocMagazine name="車両技術" date="1981年6月号" no={153} article="東京急行電鉄8090系電車" authors={['立田公雄']} pages={[46]} />に写真と図面が掲載されている。</NoteRefContent>
		</Section>
	</Section>

	<Section id="ts815">
		<Fragment slot="heading">TS-815 型</Fragment>

		<Section id="ts815m" depth={2} headingType="b">
			<Fragment slot="heading"><small>（TS-815M →）</small>TS-815C <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS815C-M_8918.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-11-16 -->
				<Fragment slot="caption">サハ8918（9-2次車）下り方山側</Fragment>
			</Embedded>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS815C-M_8904.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2006-02-27 -->
				<Fragment slot="caption">サハ8904（6次車）上り方山側</Fragment>
			</Embedded>

			<p>8000系の付随台車は当初 <a href="/tokyu/truck/ts700#ts708">TS-708 型</a>が使用されていましたが、8500系が登場した6次車からは動力台車と同じく TS-800 系となり、形式も電動車に合わせ TS-815M 型とされました。</p>

			<p>当初、基礎ブレーキ装置は動力台車と同じく踏面ブレーキでしたが、後にディスクブレーキ化改造を受け、先に登場していた <a href="#ts815c">C 型</a>に形式統合されています。</p>

			<p>2枚目写真は軌条塗油器が設置されていた車両の台車です。<a href="/tokyu/truck/ts700">TS-700 系台車</a>では油噴口が台車の側梁に直接取り付けられていましたが、TS-800 系では左右の軸箱部からバーを渡し、その中央部に設ける形となったため外観も目立つものとなりました。M 型改造台車の油噴口付きは2006年までに廃車や他車への付け替えにより東急電鉄からは消滅しましたが、現在でも長野電鉄譲渡車で見ることができます。</p>
		</Section>

		<Section id="ts815a" depth={2} headingType="b">
			<Fragment slot="heading"><small>（TS-815A →）</small>TS-815C <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS815C-A_8935.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2006-02-27 -->
				<Fragment slot="caption">サハ8935（11-1次車）下り方山側</Fragment>
			</Embedded>

			<p>8000系、8500系の10次車以降は、動力台車と同じく側梁がプレス成形の TS-815A 型となりました。後に M 型と同じくディスクブレーキ化改造を受け、C 型の一員となっています。</p>

			<p>この台車を履いていた車両のうちサハ8300形（サハ8301〜8308 の8両）は1985年に電装化改造を受けましたが、その際台車は改めて新製され、それまで履いていた TS-815A 型は当時の新造車両へ流用されました。</p>
		</Section>

		<Section id="ts815b" depth={2} headingType="b">
			<Fragment slot="heading"><small>（TS-815B →）</small>TS-815E <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS815E_8093.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-03-08 -->
				<Fragment slot="caption">クハ8093（13次車）下り方山側</Fragment>
			</Embedded>

			<p>8090系用の付随台車は B 型で、動力台車（<a href="#ts807a">TS-807B 型</a>）と同じくブレーキシリンダ径の変更などが行われていますが、踏面清掃装置の設置はないためペデスタル部のボルト留め機構は存在しません。この形式もディスクブレーキ化を受けて E 型に変更されました。</p>
		</Section>

		<Section id="ts815c" depth={2} headingType="b">
			<Fragment slot="heading">TS-815C<small>（オリジナル）</small> <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS815C_8978.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2008-12-23 -->
				<Fragment slot="caption">サハ8978（18-2次車）下り方海側</Fragment>
			</Embedded>

			<p>8500系の15次車以降は当初からディスクブレーキ式の C 型を履いています。サハ8900形15次車のうち、組込車（サハ8960）と8号車に連結された編成車は軌条塗油器の準備車でしたが、2006年に6次車ほかから移設を受け、晴れて本設車となりました。</p>

			<p>多くの個体がペデスタル部のボルト留め機構を持っていますが、17次車のうちサハ8971, 8972の2両のみは非設置でした。1985年に行われたサハ8300形の電装化に伴う <a href="#ts815a">TS-815A型</a>発生品を流用していたものと思われます。</p>
		</Section>

		<Section id="ts815d" depth={2} headingType="b">
			<Fragment slot="heading">TS-815D <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS815D_8097.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-03-01 -->
				<Fragment slot="caption">クハ8097（16-2次車）下り方山側</Fragment>
			</Embedded>

			<p>8090系も8500系と同様に16次車以降はディスクブレーキ式となり、台車形式は D 型となりました。</p>

			<p>このうち16次車のみペデスタル部のボルト留め機構が用意されましたが、17次車（6両）は1985年に行われたサハ8300形の電装化に伴う <a href="#ts815a">TS-815A型</a>発生品を流用改造したため、この機構はありません。後年、16次車のうち大井町線先頭車の一部の連結面方台車にボルト留め機構を活用して、<LinkPhoto href="https://media.w0s.jp/image/tokyu/truck/TS815D_8083_clean.jpg" title="クハ8083 下り方山側"><!-- 撮影日: 2008-10-25 -->踏面清掃装置</LinkPhoto>が取り付けられていました<NoteRef by="ts815d-clean" />。</p>

			<NoteRefContent id="ts815d-clean">クハ8080, 8083, 8084, 8099 の4両。</NoteRefContent>
		</Section>

		<Section id="ts815f" depth={2} headingType="b">
			<Fragment slot="heading">TS-815F, <small>（TS-815F →）</small>TS-815T, <small>（TS-835 → TS-839 →）</small>TS-815T <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS815F_8020.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2007-09-11 -->
				<Fragment slot="caption">クハ8020（2次車）下り方山側</Fragment>
			</Embedded>

			<p>クハ8000形（1〜5次車）は登場以来 <a href="/tokyu/truck/ts700#ts708">TS-708 型</a>台車を履いていましたが、1990年から順次この TS-815F 型へ取り替えられました。なお、パイオニア台車時代と同じく、一部車両には軌条塗油器の油噴口が設けられていました。</p>

			<p>廃車の進行により東急電鉄からは消滅しましたが、伊豆急行などの車両譲渡先のほか、2006年からは豊橋鉄道ク2800形（元・東急クハ7500形）の TS-708 型台車履替えに抜てきされ、8両分が TS-815T 型に改称されて使用されています。その際、 <a href="#ts835">TS-835 型から改称されていた TS-839 型</a>も TS-815T 型に編入されたため、同じ形式ながら出自と形態が異なる2タイプの台車が混在している状況となっています。</p>

			<p>また、譲渡車両の一部にはセラジェットが追設されましたが<NoteRef by="ts815f-cerajet" />、台車形態の違いにより <a href="#ts802">TS-802 型</a>とは異なる取付方となっています。</p>

			<NoteRefContent id="ts815f-cerajet">豊橋鉄道ク2802, 2804, 2807、伊豆急行クハ8001, 8003, 8011, 8013 の7両。</NoteRefContent>
		</Section>
	</Section>

	<Section id="ts831">
		<Fragment slot="heading">TS-831 型</Fragment>

		<Section id="ts831-m" depth={2} headingType="b">
			<Fragment slot="heading">TS-831 <small class="c-tokyu-truck -m">動力台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS831_7681.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2010-05-07 -->
				<Fragment slot="caption">デハ7681（1次車）上り方山側</Fragment>
			</Embedded>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS831_7673.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-04-21 -->
				<Fragment slot="caption">デハ7673（3次車）下り方海側</Fragment>
			</Embedded>

			<p>1986年に7200系を VVVF 化改造した7600系が登場しましたが、1〜2次車はいずれもクハ7500形を電装化改造しており、台車は従来の TS-707 型から新調された TS-831 型へ交換されました。基本的な構造は、8000系の TS-807 シリーズを踏襲しています。</p>

			<p>1990年にはデハ7402 が VVVF 化されてデハ7673 への改番が行われましたが、こちらも主電動機の換装にあわせて台車が TS-831 型となりました。この車両はボルスタアンカーの位置が <a href="#ts802-m">TS-802 型</a>時代より低くなったためか、受け具が改造され異彩を放っていました。</p>
		</Section>
	</Section>

	<Section id="ts832">
		<Fragment slot="heading">TS-832 型</Fragment>

		<Section id="ts832-m" depth={2} headingType="b">
			<Fragment slot="heading">TS-832 <small class="c-tokyu-truck -m">動力台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS832_7810.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2006-03-03 -->
				<Fragment slot="caption">デハ7810（3次車）下り方海側</Fragment>
			</Embedded>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS832_towada7703.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-04-23 -->
				<Fragment slot="caption">十和田観光電鉄モハ7703 三沢方（東急デハ7711 下り方）</Fragment>
			</Embedded>

			<p>7000系を VVVF 化改造した7700系の電動車が履く台車。7600系の <a href="#ts831">TS-831 型</a>と同じく、基本的な構造は TS-807 シリーズや TS-831 型を踏襲していますが、床面高さの低い7700系に対応した設計であり、ボルスタ高さが低くなっています。また7000系時代に履いていた TS-701 型と同じく、ボルスタアンカー受けは車体中央寄りの設置となっているのが特徴です。側梁に目を向けると、TS-807A 〜 C 型や TS-831 型は軸ばねの直上部分が曲面状に盛り上がっているのに対し、この TS-832 型はその盛り上がりがない違いもあります。</p>

			<p>台車換装にあたり、車体天秤梁と結合されていたボルスタアンカー受けを切除しており、跡が残っています。なお、ボルスタアンカーが低い位置にあったデハ7042（現在のデハ7706）は受け具が Y 字型をしており、現在でも<LinkPhoto href="https://media.w0s.jp/image/tokyu/truck/TS832_7706_bolstersup.jpg" title="デハ7706 上り方海側"><!-- 撮影日: 2006-06-04 -->撤去跡</LinkPhoto>にその名残がみられます。</p>

			<p>譲渡車両の変化として、2枚目写真に挙げたのは十和田観光電鉄譲渡車の運転台方台車で、先頭部にフランジ塗油器が設置されており、車体台枠から吊る下げられたオイルタンクとそこから車輪に向かって伸びるパイプが目立ちます（<a href="#ts835">TS-835 型</a>に油噴口の写真を掲載）。また養老鉄道譲渡車では、モ7700形の連結面方台車のみ踏面清掃装置が設置されています。</p>
		</Section>
	</Section>

	<Section id="ts835">
		<Fragment slot="heading">TS-835 型</Fragment>

		<Section id="ts835-t" depth={2} headingType="b">
			<Fragment slot="heading">TS-835 <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS835_7907.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-07-09 -->
				<Fragment slot="caption">クハ7907（3次車）下り方山側</Fragment>
			</Embedded>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS835_7915.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2008-02-26 -->
				<Fragment slot="caption">クハ7915（5次車）上り方海側</Fragment>
			</Embedded>

			<p>7700系制御車、付随車用の付随台車で、低位置のボルスタやボルスタアンカー向きなどの特徴はTS-832型と同様です。基礎制動装置は動力台車の踏面ブレーキに対してツインディスクブレーキとなっています。</p>

			<p>1枚目写真は軌条塗油器の油噴口が設けられた台車です。7700系はもともとサハ7950形の一部車両に軌条塗油器が搭載されていましたが、1995〜1996年の池上線転籍組の一部はクハ7900形に追設され、目蒲線に残った車両も2000年の系統変更に向けた3連化に伴いサハが編成から外されたため、クハ7900形に移設された経緯があります。</p>

			<p>2枚目写真はサハ7950形から制御車化改造を受けたクハ7915 の台車で、東急7700系ではこの車両のみコイルばね式の踏面清掃装置が設けられていました。</p>

			<p>また、車両改造や廃車に伴う余剰品がクハ7500形の化粧板修繕車（1995年度施工車のクハ7501、 7508 のみ）や上田交通譲渡車の台車更新に使用されています。ただし前者は台車形式が <a href="#ts839-t">TS-839 型</a>扱いとされ、さらに豊橋鉄道譲渡後に他のク2800形に合わせて現地形式の TS-815T 型に再改称されています。</p>

			<p>譲渡車両の変化としては<a href="#ts832">TS-832 型</a>と同様に、十和田観光電鉄譲渡車の運転台方台車には<LinkPhoto href="https://media.w0s.jp/image/tokyu/truck/TS835_towada7903_oil.jpg" title="十和田観光電鉄クハ7903"><!-- 撮影日: 2006-06-04 -->フランジ塗油器</LinkPhoto>が設置されました。養老鉄道譲渡車では、ク7900形の連結面方台車に東急クハ7915 に設置されていたものと同じ機構の踏面清掃装置が設置されています。</p>
		</Section>
	</Section>

	<Section id="ts839">
		<Fragment slot="heading">TS-839 型</Fragment>

		<Section id="ts839-t" depth={2} headingType="b">
			<Fragment slot="heading">TS-839 <small class="c-tokyu-truck -t">付随台車</small></Fragment>

			<Embedded border={true} captionMeta={true}>
				<Image path="tokyu/truck/TS839_7601.jpg" alt="写真拡大" width={1022} height={341} quality={80} link={true} slot="media" />
				<!-- 撮影日: 2009-08-19 -->
				<Fragment slot="caption">クハ7601（1次車）下り方山側</Fragment>
			</Embedded>

			<p>7600系の制御車は、当初7200系時代の TS-707 型をそのまま利用していましたが、8000系発生品の <a href="/tokyu/truck/ts700#ts708">TS-708 型</a>を経て、TS-839 型に換装されました。</p>

			<p>7600系は2015年に廃車となり、譲渡や保存の事例もないためオリジナルの TS-839 型台車は消滅しました。前述のとおり <a href="#ts835-t">TS-835 型</a>から当形式に編入された個体が4台（2両分）存在し、それらは車両譲渡先の豊橋鉄道で現役ですが、いずれにせよ台車形式は再度変更されているため “TS-839型” は現存しません。</p>
		</Section>
	</Section>
</Layout>
