---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『魔法少女まどか☆マギカ』オープニング「コネクト」映像バリエーション',
	heading: '「コネクト」映像バリエーション',
	dateModified: dayjs('2016-10-10'),
	description: '毎話のように進化していった TV シリーズのオープニング「コネクト」の映像バリエーション比較です。スタッフロール形式の最終話（12話）を除いた放送11話分に加えて、パッケージ版と劇場版（後編）を含めた比較を紹介します。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<ul class="p-notes">
		<li>カット番号は<LinkExternal href="https://www.amazon.co.jp/dp/4896106393/">KEY ANIMATION NOTE VOL.1</LinkExternal>より。カットごとのタイトルは分かりやすさのために作成者が付けたもので、正式なものではありません。</li>
	</ul>

	<Section id="c001">
		<H slot="heading">#OP-C001　まどか遠景</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0109_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0109_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0088_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より背景の木々やビルの色が変更。</li>
			<li>劇場版後編で水玉模様の配置や背景ビルの形状、木々の処理が変更。</li>
		</ul>
	</Section>

	<Section id="c002">
		<H slot="heading">#OP-C002　まどかアップ（後ろ姿）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0113_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0113_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0091_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">パッケージ版</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0091_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より背景の木々やビルの色が変更。</li>
			<li>パッケージ版でまどかの描き込みが丁寧に。</li>
			<li>パッケージ版でまどかが少し下に移動。</li>
			<li>劇場版後編で水玉模様の配置やまどかのリボンの色彩、背景ビルの形状、木々の処理が変更。</li>
		</ul>
	</Section>

	<Section id="c003">
		<H slot="heading">#OP-C003　まどかアップ（スカート）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0229_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0229_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0184_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">パッケージ版</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0184_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より背景の木々やビルの色が変更。</li>
			<li>パッケージ版で服のしわが変更。</li>
			<li>（前シーンと同様）劇場版後編で水玉模様の配置やまどかのリボンの色彩、木々の処理が変更。</li>
		</ul>
	</Section>

	<Section id="c004">
		<H slot="heading">#OP-C004　まどかアップ（正面）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0248_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0248_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0200_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">パッケージ版</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0200_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より背景の木々やビルの色が変更。</li>
			<li>パッケージ版でまどかの描き込みが丁寧に（ソウルジェムの影など）。</li>
			<li>パッケージ版で涙の流れ方が変更。</li>
			<li>パッケージ版で水玉模様の配置が変更。</li>
			<li>（前シーンと同様）劇場版後編で水玉模様の配置やまどかのリボンの色彩、木々の処理が変更。</li>
		</ul>
	</Section>

	<Section id="c005">
		<H slot="heading">#OP-C005　まどか遠景</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0322_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0322_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0322_tbs_10.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">10話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0258_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より背景の木々やビルの色が変更。</li>
			<li>3話より水玉模様の配置が変更。</li>
			<li>10話のみ原作表記なし。</li>
			<li>（前シーンと同様）劇場版後編で水玉模様の配置やまどかのリボンの色彩、木々の処理が変更。</li>
			<li>劇場版後編はクレジット表記なし。以降も同様。</li>
		</ul>
	</Section>

	<Section id="title-back">
		<H slot="heading">タイトルバック</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0660_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0660_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0529_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話よりロゴが濃くなり、若干小さく表示。</li>
			<li>3話より水玉模様の配置が変更。</li>
			<li>劇場版後編はロゴなし、水玉模様の配置も異なる。</li>
		</ul>
	</Section>

	<Section id="c006">
		<H slot="heading">#OP-C006　悩むまどかアップ</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0683_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0547_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>劇場版後編はほむらに差し替え。</li>
		</ul>
	</Section>

	<Section id="c007">
		<H slot="heading">#OP-C007　悩むまどか</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0744_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0744_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0744_tbs_10.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">10話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0596_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話よりまどかの妄想(?)エピソードが若干小さく、あるいは位置変更。</li>
			<li>3話より白丸模様の配置が若干変更。</li>
			<li>10話のみここ以降 <a href="#c034">#OP-C034</a> までクレジットがスタッフロールで下から上に流れる。</li>
			<li>劇場版後編はさまざまな時間軸(?)のほむらを描いたものに丸々差し替え。</li>
		</ul>
	</Section>

	<Section id="c008">
		<H slot="heading">#OP-C008　寝起きまどかアップ</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1001_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1001_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_0801_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>5話よりまどかの表情が変更（KEY ANIMATION NOTE VOL.1 p.24 に修正前後の原画が収録）。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c009">
		<H slot="heading">#OP-C009　寝起きまどか</H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">部屋を見上げる</H>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1023_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">1話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1023_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">5話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_0819_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">劇場版後編</figcaption>
					</figure>
				</div>
			</div>

			<ul class="p-list">
				<li>5話よりまどかの表情が変更。</li>
				<li>5話よりキュゥべえに首を回す動きが追加、表情も変更。</li>
				<li>5話より窓を伝う雨の色が青に変更。</li>
				<li>5話より一部のぬいぐるみやクッションの形状、影の付け方が丁寧に。</li>
				<li>劇場版後編で部屋の装飾や家具の形状が大幅に変更。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">シーツに潜る</H>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1089_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">1話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1089_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">3話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1089_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">5話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_0872_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">劇場版後編</figcaption>
					</figure>
				</div>
			</div>

			<ul class="p-list">
				<li>3話よりシーツや一部ぬいぐるみの動きが変更。</li>
				<li>5話よりキュゥべえに動きが追加。</li>
				<li>（前シーンと同様）5話より窓を伝う雨の色が青に変更。</li>
				<li>（前シーンと同様）5話より一部のぬいぐるみやクッションの形状、影の付け方が丁寧に。</li>
				<li>劇場版後編でキュゥべえの姿勢が変更。</li>
				<li>（前シーンと同様）劇場版後編で部屋の装飾や家具の形状が大幅に変更。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">ごろごろ</H>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1193_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">1話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1193_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">5話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_0955_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">劇場版後編</figcaption>
					</figure>
				</div>
			</div>

			<ul class="p-list">
				<li>5話よりキュゥべえの体勢が変更。</li>
				<li>5話より右下の青いぬいぐるみが追加（前シーンより引き続き残る形）。</li>
				<li>5話より左上のぬいぐるみ達がまどかの動きに合わせて揺れるように。</li>
				<li>（前シーンと同様）5話より窓を伝う雨の色が青に変更。</li>
				<li>（前シーンと同様）5話より一部のぬいぐるみやクッションの形状、影の付け方が丁寧に。</li>
				<li>（前シーンと同様）劇場版後編で部屋の装飾や家具の形状が大幅に変更。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">まどか不在</H>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1220_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">1話（TBS）</figcaption>
					</figure>
				</div>
			</div>

			<ul class="p-list">
				<li>4話までは、次カットへ切り替わる直前に一瞬だけまどかが消えて布団とキュゥべえだけになるコマが存在していたが、5話で修正。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">もたれかかる</H>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1229_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">1話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1229_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">5話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_0984_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">劇場版後編</figcaption>
					</figure>
				</div>
			</div>

			<ul class="p-list">
				<li>5話よりまどかの表情が若干変更。</li>
				<li>5話よりクマのぬいぐるみの左足がシーツの上に。</li>
				<li>（前シーンと同様）5話より窓を伝う雨の色が青に変更。</li>
				<li>（前シーンと同様）5話より一部のぬいぐるみやクッションの形状、影の付け方が丁寧に。</li>
				<li>（前シーンと同様）劇場版後編で部屋の装飾や家具の形状が大幅に変更。</li>
			</ul>
		</Section>
	</Section>

	<Section id="c010">
		<H slot="heading">#OP-C010　まどか変身</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1335_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1335_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1069_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より光のエフェクトが強くなった。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c011">
		<H slot="heading">#OP-C011　まどか変身</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1344_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1344_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1076_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より光のエフェクトが強くなった。</li>
			<li>劇場版後編で瞳や口内のピンクの色味が変更。</li>
		</ul>
	</Section>

	<Section id="c012">
		<H slot="heading">#OP-C012　まどか変身</H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">分身登場</H>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1363_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">本放送1話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1363_tbs_2.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">2話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1363_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">3話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1363_tbs_6.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">6話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1363_tbs_7.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">7話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1091_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">パッケージ版（1話、本放送6話と同一）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1091_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">劇場版後編</figcaption>
					</figure>
				</div>
			</div>

			<ul class="p-list">
				<li>2話でまどかの周りで動く魔女文字の配置が変更。配信版や現在TV放送されるときは、1話も本放送2話バージョンになっている。</li>
				<li>3話より背景処理や魔女文字が大幅に変更。</li>
				<li>6話で手前のまどかの表情、奥のまどかの体勢が変更され、背景処理がさらに進化した。ただし配信版は次の7話バージョンである。</li>
				<li>6話で背景処理がさらに進化。</li>
				<li>7話より3話バージョンに近いものに戻ったが、手前のまどかの表情は6話に近い。</li>
				<li>7話より「美術監督」のクレジットが変更（稲葉邦彦、金子雄司 → 内藤健）。この変更はパッケージ版でも同様。</li>
				<li>パッケージ版はすべての話数が6話バージョンになった。</li>
				<li>劇場版後編でまどかやそれを包む球体のエフェクトが変化。</li>
				<li>劇場版後編で動く魔女文字がくっきりとなり、色も変更。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">変身開始</H>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1499_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">1話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1499_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">3話（TBS）</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1200_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">パッケージ版</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/video/connect_1200_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
						</div>
						<figcaption class="c-caption">劇場版後編</figcaption>
					</figure>
				</div>
			</div>

			<ul class="p-list">
				<li>3話より衣装が現れるときのエフェクトや背景処理、魔女文字が大幅に変更。</li>
				<li>パッケージ版で背景処理がさらに進化。魔女文字がくっきりとなった。</li>
				<li>劇場版後編でエフェクトが変化。</li>
			</ul>
		</Section>
	</Section>

	<Section id="c013">
		<H slot="heading">#OP-C013　まどか変身</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1599_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1599_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1280_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">パッケージ版</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1280_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より衣装が現れるときのエフェクトや背景処理、魔女文字が大幅に変更。</li>
			<li>（前シーンと同様）パッケージ版で背景処理がさらに進化。魔女文字がくっきりとなった。</li>
			<li>（前シーンと同様）劇場版後編でエフェクトが変化。</li>
		</ul>
	</Section>

	<Section id="c014">
		<H slot="heading">#OP-C014　まどか変身</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1618_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1618_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1295_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">パッケージ版</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1295_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より衣装が現れるときのエフェクトや背景処理、魔女文字が大幅に変更。</li>
			<li>（前シーンと同様）パッケージ版で背景処理がさらに進化。魔女文字がくっきりとなった。</li>
			<li>パッケージ版でまどかの体勢や腕の絡ませ方が変更。</li>
			<li>パッケージ版でまどかの胸が小ぶりに（KEY ANIMATION NOTE VOL.1 p.48 で言及あり）。</li>
			<li>パッケージ版で衣装の描き込みが丁寧に（うなじ部分は肌が露出、背中のハートマークは見えなくなるなど）。</li>
			<li>（前シーンと同様）劇場版後編でエフェクトが変化。</li>
		</ul>
	</Section>

	<Section id="c015">
		<H slot="heading">#OP-C015　まどか変身</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1708_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1708_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1367_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">パッケージ版</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1367_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より衣装が現れるときのエフェクトや背景処理、魔女文字が大幅に変更。</li>
			<li>（前シーンと同様）パッケージ版で背景処理がさらに進化。魔女文字がくっきりとなった。</li>
			<li>3話よりまどかの位置が若干上がった。</li>
			<li>（前シーンと同様）劇場版後編でエフェクトが変化。</li>
		</ul>
	</Section>

	<Section id="c016">
		<H slot="heading">#OP-C016　まどかと家族</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1798_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1439_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c017">
		<H slot="heading">#OP-C017　放課後のファーストフード</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1815_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1453_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>劇場版後編で背景変更。テーブルと仁美の位置が若干上方に移動。</li>
		</ul>

		<ul class="p-notes">
			<li>絵コンテの段階では、中央にいるのは仁美ではなくマミだった。（KEY ANIMATION NOTE vol.4 特典「Animation Storyboard」より）</li>
		</ul>
	</Section>

	<Section id="c018">
		<H slot="heading">#OP-C018　体育祭(?)記念撮影</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1839_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1839_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1472_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より仁美の髪の塗りミス修正、体操服に影追加。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c019">
		<H slot="heading">#OP-C019　コンサート会場の恭介とさやか</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1841_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1841_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1841_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1473_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話よりバイオリンの色修正。</li>
			<li>5話より恭介の髪の色修正（白→栗色）、舞台に照明効果追加。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c020">
		<H slot="heading">#OP-C020　眠るマミとキュゥべえ</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1848_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1848_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1848_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1479_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より窓から差し込む光のエフェクトが強くなった。</li>
			<li>5話よりキュゥべえの表情が変更。全体的に位置も若干左に移動。</li>
			<li>劇場版後編でマミの左手中指に指輪が追加。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c021">
		<H slot="heading">#OP-C021　佇む杏子</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1858_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1487_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c022">
		<H slot="heading">#OP-C022　雨の中のほむら</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1886_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1886_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1886_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1510_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より路面の表現と水たまりの配置が変更。</li>
			<li>5話より傘の表現が変更。ほむらも腕の角度などが若干調整。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c023">
		<H slot="heading">#OP-C023　まどか開眼</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1910_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1910_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1529_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より光のエフェクトが追加。</li>
			<li>劇場版後編でエフェクトが変化。</li>
		</ul>
	</Section>

	<Section id="c024">
		<H slot="heading">#OP-C024　走り出したまどか（下から）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1968_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1968_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1968_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1575_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より空の色が変更。</li>
			<li>5話よりまどかの描き込みが丁寧に。靴の塗りも修正。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c025">
		<H slot="heading">#OP-C025　走り出したまどか（横から）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1994_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1994_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1596_bd_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">パッケージ版</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1596_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<video controls="" width="306" height="172" id="video-c025-tbs-1">
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C025_tbs_1.webm" type="video/webm" />
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C025_tbs_1.mp4" type="video/mp4" />
						</video>
					</div>
					<figcaption class="c-caption">【動画】1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<video controls="" width="306" height="172" id="video-c025-tbs-3">
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C025_tbs_3.webm" type="video/webm" />
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C025_tbs_3.mp4" type="video/mp4" />
						</video>
					</div>
					<figcaption class="c-caption">【動画】3話（TBS）</figcaption>
				</figure>
			</div>
		</div>

		<p><button type="button" class="c-button js-button-media-same-play" aria-controls="video-c025-tbs-1 video-c025-tbs-3">2つの動画を同時再生</button></p>

		<ul class="p-list">
			<li>3話より背景の流れるスピードが変更。</li>
			<li>パッケージ版でまどかの描き込みが丁寧に。</li>
			<li>パッケージ版で背景の色合いが変更。</li>
			<li>劇場版後編で背景変更。</li>
		</ul>
	</Section>

	<Section id="c026">
		<H slot="heading">#OP-C026　覗き込む黒猫</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2235_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1789_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>劇場版後編でエフェクト変更。猫の表情が若干見やすくなる。</li>
		</ul>
	</Section>

	<Section id="c027">
		<H slot="heading">#OP-C027　黒猫を抱えたまどか</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2300_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2300_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2300_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1841_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より空の色が薄くなった。</li>
			<li>5話よりまどかのリボンの色が変更。</li>
			<li>劇場版後編で空の色が再び濃くなった（放送版1〜2話とはまた異なる）。背景も変更。</li>
		</ul>
	</Section>

	<Section id="c028">
		<H slot="heading">#OP-C028　青空</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2350_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2350_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1881_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より空の色が薄くなった。</li>
			<li>（前シーンと同様）劇場版後編で空の色が再び濃くなった（放送版1〜2話とはまた異なる）。雲の形状も変更。</li>
		</ul>
	</Section>

	<Section id="c029">
		<H slot="heading">#OP-C029　黒猫を抱えたまどか（アップ）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2439_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2439_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1952_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話よりまどかの影や波紋のエフェクトが変更。</li>
			<li>劇場版後編で画面全体の色合い変更。</li>
		</ul>
	</Section>

	<Section id="c030">
		<H slot="heading">#OP-C030　向き合うまどかとほむら（遠景）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2468_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2468_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1975_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より手前に金網が追加。</li>
			<li>3話より空の色や太陽光のエフェクトが変更。</li>
			<li>劇場版後編で画面全体の色合い変更。位置も少しずれた。</li>
		</ul>
	</Section>

	<Section id="c031">
		<H slot="heading">#OP-C031　向き合うまどかとほむら</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2494_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2494_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_1996_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話よりキャラクターや構造物の位置関係が全体的に変更。</li>
			<li>（前シーンと同様）3話より空の色や太陽光のエフェクトが変更。</li>
			<li>（前シーンと同様）劇場版後編で太陽光のエフェクトが変更。</li>
			<li>（前シーンと同様）劇場版後編で画面全体の色合い変更。位置も少しずれた。</li>
		</ul>
	</Section>

	<Section id="c032">
		<H slot="heading">#OP-C032　建物</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2507_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2507_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2006_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>（前シーンと同様）3話より空の色や太陽光のエフェクトが変更。</li>
			<li>劇場版後編でビルの形状が変更され、位置も少しずれた。ピントをボカしたような処理が追加。</li>
		</ul>
	</Section>

	<Section id="c033">
		<H slot="heading">#OP-C033　向き合うまどかとほむら（ほむらアップ）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2528_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2528_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2528_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2023_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<video controls="" width="306" height="172" id="video-c033-tbs-1">
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C033_tbs_1.webm" type="video/webm" />
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C033_tbs_1.mp4" type="video/mp4" />
						</video>
					</div>
					<figcaption class="c-caption">【動画】1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<video controls="" width="306" height="172" id="video-c033-tbs-5">
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C033_tbs_5.webm" type="video/webm" />
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C033_tbs_5.mp4" type="video/mp4" />
						</video>
					</div>
					<figcaption class="c-caption">【動画】5話（TBS）</figcaption>
				</figure>
			</div>
		</div>

		<p><button type="button" class="c-button js-button-media-same-play" aria-controls="video-c033-tbs-1 video-c033-tbs-5">2つの動画を同時再生</button></p>

		<ul class="p-list">
			<li>3話よりほむらの髪がなびくタイミングがわずかにずれるようになった（なびきの動き自体は変わらない）。</li>
			<li>3話より空の色が変更。</li>
			<li>5話よりほむらの表情が変更。</li>
			<li>5話よりほむらの髪のなびきがさらに変更（KEY ANIMATION NOTE VOL.1 p.122 に修正前後の原画が収録）。</li>
			<li>劇場版後編で画面全体の色合いと背景変更。</li>
		</ul>
	</Section>

	<Section id="c034">
		<H slot="heading">#OP-C034　向き合うまどかとほむら（まどかアップ）</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2553_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2553_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2553_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2044_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<video controls="" width="306" height="172" id="video-c034-tbs-1">
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C034_tbs_1.webm" type="video/webm" />
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C034_tbs_1.mp4" type="video/mp4" />
						</video>
					</div>
					<figcaption class="c-caption">【動画】1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<video controls="" width="306" height="172" id="video-c034-tbs-5">
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C034_tbs_5.webm" type="video/webm" />
							<source src="https://media.w0s.jp/video/madoka/video/connect_OP-C034_tbs_5.mp4" type="video/mp4" />
						</video>
					</div>
					<figcaption class="c-caption">【動画】5話（TBS）</figcaption>
				</figure>
			</div>
		</div>

		<p><button type="button" class="c-button js-button-media-same-play" aria-controls="video-c034-tbs-1 video-c034-tbs-5">2つの動画を同時再生</button></p>

		<ul class="p-list">
			<li>3話よりまどかの髪がなびくタイミングがわずかにずれるようになった（なびきの動き自体は変わらない）。</li>
			<li>（前シーンと同様）3話より空の色が変更。</li>
			<li>5話よりまどかの表情が変更、位置も上に移動。</li>
			<li>5話よりまどかの髪のなびきがさらに変更、質感もリアルに（KEY ANIMATION NOTE VOL.1 p.122 に修正前後の原画が収録）。</li>
			<li>（前シーンと同様）劇場版後編で画面全体の色合いと背景変更。</li>
		</ul>
	</Section>

	<Section id="sub-title">
		<H slot="heading">サブタイトル</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2645_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2645_tbs_2.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">2話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2645_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2645_tbs_4.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">4話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2645_tbs_5.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">5話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2117_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>サブタイトルの文言は各話ごとに異なる（劇場版後編はサブタイトルなし）。</li>
			<li>1話のサブタイトルは、TV放送版や配信版は「夢の中で<em>会</em>った、ような……」、パッケージ版は「夢の中で<em>逢</em>った、ような……」。</li>
			<li>2話よりロゴとサブタイトルの文字の影が濃くなった。</li>
			<li>3話よりエフェクトが強くなり、背景の月はほぼ真っ白になった。</li>
			<li>4話で雲の色が黒く変化（2話までの処理と同じ?）。</li>
			<li>5話より3話バージョンに戻った。</li>
			<li>劇場版後編で月のクレーター模様が再びくっきり見えるようになった。</li>
			<li>劇場版後編で雲の処理が変化。</li>
		</ul>
	</Section>

	<Section id="c035">
		<H slot="heading">#OP-C035　電波塔の上にいる魔法少女たち</H>

		<div class="c-grid -medium">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2695_tbs_1.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">1話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2687_tbs_3.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">3話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2695_tbs_10.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">10話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2695_tbs_11.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">11話（TBS）</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="madoka/video/connect_2184_kouhen.jpg" alt="画像拡大" width={306} height={172} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">劇場版後編</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-list">
			<li>3話より画面全体のエフェクトが変更され、白っぽくなった。</li>
			<li>2話まではフェードアウトが途中で速度を緩めながら最後まで続いていたが、3話より途中で止まるようになった。もっとも引いた状態の縮尺も若干変更。</li>
			<li>10話よりほむら、杏子が追加。</li>
			<li>10話より塔のアンテナ形状変更、数も増加。</li>
			<li>10話より画面全体が若干右に移動。</li>
			<li>10話のみコピーライトが記載。</li>
			<li>劇場版後編はまどか（黒猫）とほむら（キュゥべえ）のみ。</li>
			<li>劇場版後編で背景が変更。</li>
			<li>劇場版後編で塔の位置が上方に移動。</li>
		</ul>
	</Section>
</Layout>
