---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『劇場版　魔法少女まどか☆マギカ[新編]叛逆の物語』上映版とパッケージ版の比較',
	heading: '『[新編]叛逆の物語』上映版とパッケージ版の比較',
	dateModified: dayjs('2016-11-14'),
	description: '2013年10月に公開された『劇場版　魔法少女まどか☆マギカ[新編]叛逆の物語』の劇場上映版と Blu-ray / DVD 版の映像の違いをまとめました。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
	localNav: {
		label: '映像',
		items: [
			{ path: '/madoka/video/connect', name: 'コネクト' },
			{ path: '/madoka/video/zenpen', name: '前編' },
			{ path: '/madoka/video/kouhen', name: '後編' },
			{ path: '/madoka/video/shinpen', name: '新編' },
			{ path: '/madoka/video/concept-movie', name: 'コンセプトムービー' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Amazon headingLevel={2}>
		<AmazonItem asin="B00I9YND9E" title="劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語(通常版) [Blu-ray]" date="2014-04-02" imageId="617z%2BzYhJ3L" imageWidth={136} imageHeight={160} />
	</Amazon>

	<ul class="p-notes">
		<li>本文中の<q>テレビ東京特番</q>とは、公開直後の2013年11月4日にテレビ東京で放送された <LinkExternal href="https://www.tv-tokyo.co.jp/anime/madoka-magica/">2時間でわかる! 魔法少女まどか☆マギカ</LinkExternal>内で冒頭3分間が流されたものを指します。この番組は一部を修正のうえ、 Blu-ray 限定版にも収録されていますが、映像ソースは劇場で上映されたものと同一と思われます。</li>
	</ul>

	<Section id="chapter1">
		<H slot="heading">Chapter 1</H>

		<dl class="p-video-diff">
			<div id="time0m19s">
				<dt>0′19″ 〜 1′24″</dt>
				<dd class="c-stack">
					<p>ソウルジェムの回転具合、近づいてくるタイミング、魔女文字の書かれた壁画がブレる処理などが変更。また、近づいてきたソウルジェムの濁り部分が画面いっぱいに広がった後、5秒ほどブラックアウトになるように。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-00-57_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1m35s">
				<dt>1′35″</dt>
				<dd class="c-stack">
					<p>ほむらの語りが終わった後、夜の街並みの静止画カット（6枚）の4枚目が高速道路のジャンクションの画に差し替え。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-01-35_tvtokyo.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">テレビ東京特番</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-01-35_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1m52s">
				<dt>1′52″</dt>
				<dd class="c-stack">
					<p>背景の夜空がパッチワーク（布片）に変わるときにSEが追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-01-53_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time3m14s">
				<dt>3′14″</dt>
				<dd class="c-stack">
					<p>杏子の作画修正。また高速で回転する槍の表現が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-03-16_tvtokyo.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">テレビ東京特番</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-03-16_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time3m36s">
				<dt>3′36″ 〜</dt>
				<dd class="c-stack">
					<p>魔法部屋にある椅子の背もたれ上部の柄が変更。マミがティーセットをべべの頭に乗せるカット（4′25″）が分かりやすい。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-03-36_tvtokyo.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">テレビ東京特番</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-03-36_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time3m52s">
				<dt>3′52″</dt>
				<dd class="c-stack">
					<p>ナイトメアが部屋に入ってきたまどかの方を振り向くカットで、椅子が削除。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-03-55_tvtokyo.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">テレビ東京特番</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter1_00-03-55_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time4m20s">
				<dt>4′20″</dt>
				<dd class="c-stack">
					<p>ナイトメアの時間を止める瞬間、フラッシュを焚いたように画面全体が白くなるコマが挿入。また、その直後のコマは画面がピンぼけし、若干上下方向に引き延ばされる処理が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<video controls="" width="294" height="166" id="video-chapter1-000420-tvtokyo">
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter1_00-04-19_tvtokyo.webm" type="video/webm" />
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter1_00-04-19_tvtokyo.mp4" type="video/mp4" />
									</video>
								</div>
								<figcaption class="c-caption">テレビ東京特番</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<video controls="" width="294" height="166" id="video-chapter1-000420-bd">
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter1_00-04-19_bd.webm" type="video/webm" />
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter1_00-04-19_bd.mp4" type="video/mp4" />
									</video>
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<p><button type="button" class="c-button js-button-media-same-play" aria-controls="video-chapter1-000420-tvtokyo video-chapter1-000420-bd">2つの動画を同時再生</button></p>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter2">
		<H slot="heading">Chapter 2</H>

		<dl class="p-video-diff">
			<div id="time7m20s">
				<dt>7′20″ 〜</dt>
				<dd class="c-stack">
					<p>テーブルに置かれたリンゴ(?)皿の位置が少し左にずれる。</p>

					<p>まどかが咥えるパンに赤いジャムが追加。</p>

					<p>座ったまどかの股が白く描かれてパンチラのように見えていたのを修正。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter2_00-07-25_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter2_00-07-33_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter3">
		<H slot="heading">Chapter 3<small>（オープニング）</small></H>

		<dl class="p-video-diff">
			<div id="time7m40s">
				<dt>7′40″</dt>
				<dd class="c-stack">
					<p>オープニングが始まるパンアップのカットで、日光のゴースト形状は上映版では正五角形だったが、パッケージ版では横長の形状に変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter3_00-07-46_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter4">
		<H slot="heading">Chapter 4</H>

		<dl class="p-video-diff">
			<div id="time9m13s">
				<dt>9′13″</dt>
				<dd class="c-stack">
					<p>オープニング直後の静止画カット（3枚）の3枚目が林の中の遊歩道から親水公園的な場所の俯瞰の画に差し替え。なお、前編のOP直後も同じ流れで静止画カットが4枚あり、その3枚目が差し替え前の遊歩道と同じイラストである。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter4_00-09-13_zenpenbd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">【参考】前編・パッケージ版（4m47s）</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter4_00-09-13_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time11m18s">
				<dt>11′18″</dt>
				<dd class="c-stack">
					<p>和子先生が妄想話をする中での他教室からのカットで、部屋や廊下の照明が消えている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter4_00-11-18_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter5">
		<H slot="heading">Chapter 5</H>

		<dl class="p-video-diff">
			<div id="time13m42s">
				<dt>13′42″</dt>
				<dd class="c-stack">
					<p>屋上でほむらと他の魔法少女達が顔合わせをした次の静止画カット（計6枚）の6枚目、夜景を見下ろした画が差し替え。差し替え後も夜景の画だが、ピントをボカしたような処理が施されている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter5_00-13-42_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter6">
		<H slot="heading">Chapter 6</H>

		<dl class="p-video-diff">
			<div id="time16m52s">
				<dt>16′52″</dt>
				<dd class="c-stack">
					<p>バスタオル姿で髪を解かすマミの鏡台に置かれている化粧品ケースに模様が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter6_00-16-54_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time17m27s">
				<dt>17′27″ 〜 26′28″</dt>
				<dd class="c-stack">
					<p>背景のパッチワークの柄が細かくなる。この変更はナイトメア戦が終わるまで続く。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter6_00-17-35_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time18m02s">
				<dt>18′2″ 〜</dt>
				<dd class="c-stack">
					<p>モノレールの電柱の間隔が2倍ほどになり、結果として流れが上映版よりゆっくりに感じる。</p>

					<p>モノレールの屋根でまどかとほむらが合流するシーン（後ろ姿の部分）の電柱の流れが逆向きに。上映版（奥から手前に）が正しく、パッケージ版（手前から奥に）が間違っている。なお、来場者特典フィルムはパッケージ版と同じ向きだった模様（<LinkExternal href="https://x.com/homuh0mu/status/486787749731528706">フィルムを入手された方の投稿</LinkExternal>）。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<video controls="" width="294" height="166">
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter6_00-18-11_bd.webm" type="video/webm" />
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter6_00-18-11_bd.mp4" type="video/mp4" />
									</video>
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time19m11s">
				<dt>19′11″ 〜 19′19″</dt>
				<dd class="c-stack">
					<p>杏子変身シーンの前半、ソウルジェムを咥えてダンスする部分で背景の赤い丸模様が下から上に向かって動くようになる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter6_00-19-14_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time19m40s">
				<dt>19′40″ 〜 19′57″</dt>
				<dd class="c-stack">
					<p>さやか変身シーン、ブレイクダンスをする前後の部分で背景の青い結晶が下から上に向かって動くようになる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter6_00-19-46_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time19m57s">
				<dt>19′57″</dt>
				<dd class="c-stack">
					<p>同じくさやか変身シーン、自身と混じり合った泡の中から出てくるさやかは上映版ではマントなども含め全体的に青く塗られていたが、白や金などの色付けが行われる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter6_00-19-58_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter7">
		<H slot="heading">Chapter 7</H>

		<dl class="p-video-diff">
			<div id="time22m00s">
				<dt>22′0″</dt>
				<dd class="c-stack">
					<p>飛び回るまどかに合わせて変化する背景が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter7_00-22-03_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time22m04s">
				<dt>22′4″</dt>
				<dd class="c-stack">
					<p>ティロ・デュエット直前のマミとまどかが手を繋ぎ舞い踊るところで、背景に描かれる黄色とピンクの帯の本数が増加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter7_00-22-06_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time22m10s">
				<dt>22′10″</dt>
				<dd class="c-stack">
					<p>ティロ・デュエットの決めポーズでマミとまどかの作画修正、背景のマスケット銃が増加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter7_00-22-10_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time22m36s">
				<dt>22′36″</dt>
				<dd class="c-stack">
					<p>ビルの上でナイトメアを包む煙に花模様が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter7_00-22-36_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time23m43s">
				<dt>23′43″</dt>
				<dd class="c-stack">
					<p>落ちてくるラスベリーを食べようとしているナイトメアが首を傾けるタイミングが遅くなる。キャプチャー画像の時点で、上映版ではすでに首を傾けていた。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter7_00-23-46_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time25m51s">
				<dt>25′51″ 〜 26′9″</dt>
				<dd class="c-stack">
					<p>ヒトミタマシイから魔法少女達のソウルジェムへ降り注ぐ光のカーテンの効果が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter7_00-25-54_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time26m24s">
				<dt>26′24″</dt>
				<dd class="c-stack">
					<p>結界が消えるときのSEが変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter7_00-26-25_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter8">
		<H slot="heading">Chapter 8</H>

		<dl class="p-video-diff">
			<div id="time28m47s">
				<dt>28′47″</dt>
				<dd class="c-stack">
					<p><q>私たちの戦いって…これでよかったんだっけ?</q>の静止画カット（8枚）の4枚目が円筒形の池がある公園に変更。なお上映版は通学路の小川のカットで、これは「<cite>叛逆の物語　プロダクションノート</cite>」の p.202 に掲載されている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter8_00-28-48_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time29m28s">
				<dt>29′28″ 〜 29′54″</dt>
				<dd class="c-stack">
					<p>屋上で弁当を食べるシーンの前半（<q>ほむらちゃんも から揚げどう?</q>より前）のみ、画面手前に柵が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter8_00-29-31_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter9">
		<H slot="heading">Chapter 9</H>

		<dl class="p-video-diff">
			<div id="time30m55s">
				<dt>30′55″</dt>
				<dd class="c-stack">
					<p>水上カフェで初めてほむらと杏子が遠景で写るカットの木の枝の描き込みが精巧に。上映版ではこのカットだけ細かい枝が描かれていなかった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter9_00-30-58_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time31m36s">
				<dt>31′36″ 〜 31′59″</dt>
				<dd class="c-stack">
					<p>上映版では杏子が<q>ちょっとちょっと 何 あんた?――</q>と言って姿勢を変えるところから若干椅子から浮き上がっていたが、パッケージ版で修正。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter9_00-31-38_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<!--
			<div id="time32m46s">
				<dt>32′46″</dt>
				<dd class="c-stack">
					<p><q>ただ行ってみるだけでいいんです</q>の部分でテーブルの下に偽街の子供達が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter9_00-32-48_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			-->
		</dl>
	</Section>

	<Section id="chapter10">
		<H slot="heading">Chapter 10</H>

		<dl class="p-video-diff">
			<div id="time34m20s">
				<dt>34′20″</dt>
				<dd class="c-stack">
					<p>バスが発車するとき、上映版では真横に動いていたが、斜め前に進むよう変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<video controls="" width="294" height="166">
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter10_00-34-20_bd.webm" type="video/webm" />
										<source src="https://media.w0s.jp/video/madoka/video/shinpen_chapter10_00-34-20_bd.mp4" type="video/mp4" />
									</video>
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter11">
		<H slot="heading">Chapter 11</H>

		<dl class="p-video-diff">
			<div id="time38m02s">
				<dt>38′2″ 〜 38′14″</dt>
				<dd class="c-stack">
					<p>ほむらと杏子に迫る群衆の髪型が変更。ほむらのメガネや三つ編み、杏子のポニーテールがより本人に近い形に再現。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter11_00-38-03_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter12">
		<H slot="heading">Chapter 12</H>

		<dl class="p-video-diff">
			<div id="time40m45s">
				<dt>40′45″</dt>
				<dd class="c-stack">
					<p>「魔女の井戸」の中で上を見上げるほむらに光が当たらなくなり、暗く描かれる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter12_00-40-46_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter13">
		<H slot="heading">Chapter 13</H>

		<dl class="p-video-diff">
			<div id="time41m44s">
				<dt>41′44″ほか</dt>
				<dd class="c-stack">
					<p>キュゥべえの奥にある棚の置物が修正。上映版ではここを含むいくつかのカットで棚に入っている物が異なっていた。また、上映版では棚が4段で描かれたカットが存在しており、パッケージ版ではすべて5段に修正されている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-41-46_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time41m48s">
				<dt>41′48″</dt>
				<dd class="c-stack">
					<p>ベベが<q>チーズニナッチャウ!</q>と言って駆け回る背景に虎が追加。虎は<q>Be号</q>と書かれた腹巻き(?)を付けている。数匹の虎が駆け回ってバター（Ghee）になり、ホットケーキが作られる流れは童話『<cite>ちびくろサンボ</cite>』から来ている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-41-49_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time42m06s">
				<dt>42′6″</dt>
				<dd class="c-stack">
					<p>ほむらが紅茶を飲むところ、上映版では紅茶を口に含んだ後、カップから口を離したが、パッケージ版では付いたまま。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-42-07_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time43m16s">
				<dt>43′16″</dt>
				<dd class="c-stack">
					<p>上映版ではほむらが紅茶のカップを口に付けた体勢で5秒以上静止していたが（かなり不自然）、テーブルから少し持ち上げた体勢に変更。上映版では<q>ちょっとだけ気になって</q>直後のカットの使い回しをしていたものと思われる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-43-17_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time44m41s">
				<dt>44′41″</dt>
				<dd class="c-stack">
					<p>ソウルジェムを取り出すほむらは、上映版では糸目の笑顔だったが、途中から目を開いた表情に変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-44-43_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time45m53s">
				<dt>45′53″ 〜</dt>
				<dd class="c-stack">
					<p>時間を停止してべべを問い詰めるほむらの盾の描き忘れが複数カットに渡って存在したが、パッケージ版ではすべて修正。</p>

					<p>窓の開閉ボタンを押した後のほむらの立ち位置が修正（キャプチャー3枚目）。上映版ではテーブルから少し離れていた。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-45-29_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-45-47_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter13_00-45-53_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter14">
		<H slot="heading">Chapter 14</H>

		<dl class="p-video-diff">
			<div id="time46m08s">
				<dt>46′8″、46′20″</dt>
				<dd class="c-stack">
					<p>TV版3話のお菓子の魔女空間内にもあった足場がカラフルになり、クッキーなどのお菓子が載せられている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter14_00-46-09_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time46m12s">
				<dt>46′12″</dt>
				<dd class="c-stack">
					<p>ほむらが手前から奥に飛び立つカット（画像2枚目）では、新たに画面手前に足場が描かれている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter14_00-46-14_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter17">
		<H slot="heading">Chapter 17</H>

		<dl class="p-video-diff">
			<div id="time59m57s">
				<dt>59′57″</dt>
				<dd class="c-stack">
					<p>三叉路の壁に動きが付く。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter17_01-00-00_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter18">
		<H slot="heading">Chapter 18</H>

		<dl class="p-video-diff">
			<div id="time1h00m27s">
				<dt>1h 0′27″</dt>
				<dd class="c-stack">
					<p>地面に映る輪回しの少女の影は、糸巻きを通過するときには隠れるように進む。上映版では影絵のように糸巻きに影が重なる描写だった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter18_01-00-27_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h01m00s">
				<dt>1h 1′0″</dt>
				<dd class="c-stack">
					<p>コーヒーカップに入った紙絵のマミとべべは画面中央付近に位置していたが、やや左寄りに変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter18_01-01-02_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter20">
		<H slot="heading">Chapter 20</H>

		<dl class="p-video-diff">
			<div id="time1h07m45s">
				<dt>1h 7′45″ 〜 1h 8′20″</dt>
				<dd class="c-stack">
					<p>ゲームセンターで「<cite>Dog Drug Reinforcement.</cite>」を踊る偽街の子供達はがに股でダンスをしていたが、内股に変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-07-47_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h08m09s">
				<dt>1h 8′9″</dt>
				<dd class="c-stack">
					<p>ほむらの足元が星の散らばる夜空のような模様に変更。上映版はこの直後のカットのような模様だった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-08-10_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h08m54s">
				<dt>1h 8′54″</dt>
				<dd class="c-stack">
					<p>杏子に向かって落ちてくる飛行船の目の部分の炎がより燃え盛る感じに変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-08-56_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h09m49s">
				<dt>1h 9′49″</dt>
				<dd class="c-stack">
					<p>バスの上で自分の右手を見つめるほむらの表情が変更。手のひらだけでなく、甲にもカラフルな模様が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-09-51_tvcm5.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">TV CM 5</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-09-51_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h09m57s">
				<dt>1h 9′57″</dt>
				<dd class="c-stack">
					<p>先と同様にほむらの表情が変更。</p>

					<p>フクロウが増える。上映版ではバスの上の振り子時計に降りる3羽と、上空を舞う1羽の計4羽だった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-10-01_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h10m46s">
				<dt>1h 10′46″</dt>
				<dd class="c-stack">
					<p>燃え上がる街の路上に鍵の入った瓶が追加。ほむらがゴンドラに乗る直前の、首を切られ続けるうさぎのシーン（1h00m35s）に出てくるものと同一。鍵自体は仁美ナイトメア戦でのまどか変身シーンの背景（20m37s〜20m52s）や、ホムリリィ結界崩壊時の弾けるエフェクト（1h30m55s〜1h 31m07s）でも描かれている。</p>

					<p>地面から生えてくる建物が増える、外壁の色が変化する、巨大な生き物のようなオブジェが描かれるといった変化もある。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-10-47_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h11m44s">
				<dt>1h 11′44″</dt>
				<dd class="c-stack">
					<p>ほむらが自分が魔女であることに気づいた直後、炎をバックにガンコ、ヒガミ、オクビョウ、マヌケが写るカットで、キャラクターに動きが付き（とくにヒガミとオクビョウは内緒話をするカクカクした動き）、全体に影が付けられる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-11-45_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h12m07s">
				<dt>1h 12′7″</dt>
				<dd class="c-stack">
					<p>マユの塔が出現した直後のアップのカットで、次のアルティメットまどか像のカットへの画面切り替え時に暗転エフェクトと水に潜るようなSEが追加。逆に、画面切り替えを表すSEは削除。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter20_01-12-08_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter21">
		<H slot="heading">Chapter 21</H>

		<dl class="p-video-diff">
			<div id="time1h12m32s">
				<dt>1h 12′32″ 〜 1h 20′55″</dt>
				<dd class="c-stack">
					<p>戸棚の中にあるベッドでほむらが被っているシーツの色は上映版では白一色だったが、半透明になりところどころカラフルな模様が発光するように。周囲の壁（戸棚の内部）の模様も変更。キャプチャー1枚目のカットでは、ほむらの顔にかかる位置にレース模様が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-12-39_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-12-44_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h12m36s">
				<dt>1h 12′36″</dt>
				<dd class="c-stack">
					<p>マユの塔の中で最初にキュゥべえが正面アップになるカットの床の模様が変更。上映版は白い模様で、前後のカットとの整合性が取れていなかった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-12-36_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h12m52s">
				<dt>1h 12′52″</dt>
				<dd class="c-stack">
					<p>ほむらが被っていたシーツが取れて、喪服が披露されたカットの表情が変更。また、全身に影がかかる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-12-53_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h12m56s">
				<dt>1h 12′56″</dt>
				<dd class="c-stack">
					<p>皿に黒トカゲの下半身が載ったカットで、床面の模様が変更。上映版は白い床だった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-12-58_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h13m57s">
				<dt>1h 13′57″</dt>
				<dd class="c-stack">
					<p>現実世界で台座に横たわるほむらを多数のキュゥべえが観察しているカット、上映版ではほむらが比較的大きく写っていたが、引いた構図に。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-13-57_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h14m11s">
				<dt>1h 14′11″、1h16′50″、1h18′11″ 〜</dt>
				<dd class="c-stack">
					<p>ロッテのいる戸棚にミラーボールや星、雪の結晶などクリスマスに関連した装飾が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-14-11_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h14m14s">
				<dt>1h 14′14″</dt>
				<dd class="c-stack">
					<p>戸棚に並ぶロッテの前でレイケツ、マヌケ、ヒガミが動き回っているカット、およびその次のウソツキがロッテの後ろから覗いているカットの背景（戸棚の内部）が赤いものに変更。上映版ではほむらのベッドがある戸棚中心部の電飾のような背景だった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-14-15_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h14m28s">
				<dt>1h 14′28″</dt>
				<dd class="c-stack">
					<p>現実世界で台座に横たわるほむらを真上から見たカット、多数のカラフルな長方形の浮遊物(?)が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-14-28_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h14m40s">
				<dt>1h 14′40″ 〜 1h 14′47″</dt>
				<dd class="c-stack">
					<p>キュゥべえの説明中に流れる、偽街が造られるイメージ映像にほむらの手が追加。手が追加された静止画は4カットあり、手は建物を移動したり、街路灯を建てたりしている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-14-45_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h14m54s">
				<dt>1h 14′54″</dt>
				<dd class="c-stack">
					<p>落ちる飛行船を背景にキュゥべえが手前を振り向くとき、キュゥべえに影がかかり、目だけが光るようになる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-14-55_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h14m59s">
				<dt>1h 14′59″</dt>
				<dd class="c-stack">
					<p>マユの塔内部から上を見上げるカット、戸棚のほむらベッド以外の背景が黒に変更され、キラキラした効果が追加される。戸棚自体もより下から見上げたときのあおりを強調した形に修正されている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-15-00_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h15m56s">
				<dt>1h 15′56″</dt>
				<dd class="c-stack">
					<p>キュゥべえの説明中に魔法少女達やよだれを垂らすベベが出てくるシーンで、廊下の両壁で回っている緑色の歯車の形状が変更され、配置が平面的になる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-15-59_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h17m01s">
				<dt>1h 17′1″ 〜</dt>
				<dd class="c-stack">
					<p>ベッドで眠るまどかの仕上げがアニメ画から手描き画のような感じに変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-17-07_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h17m33s">
				<dt>1h 17′33″</dt>
				<dd class="c-stack">
					<p>偽街の子供達がハンカチを持って泣く仕草が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter21_01-17-35_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter22">
		<H slot="heading">Chapter 22</H>

		<dl class="p-video-diff">
			<div id="time1h18m25s">
				<dt>1h 18′25″</dt>
				<dd class="c-stack">
					<p>ほむらの全身に影がかかる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-18-26_tvcm4.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">TV CM 4</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-18-26_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h19m23s">
				<dt>1h 19′23″</dt>
				<dd class="c-stack">
					<p>キュゥべえがまち針に囲われている一連のカットで、床の模様が変更。上映版は黒（キュゥべえが床に落ちる）→白（キュゥべえアップ、キャプチャー1枚目）→茶（まち針の中を回る、キャプチャー2枚目）→黒とカットによって変わっていた。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-19-23_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-19-30_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h19m39s">
				<dt>1h 19′39″</dt>
				<dd class="c-stack">
					<p>偽街の子供達の動きが変更。上映版ではカクカクしたパターンの動きを繰り返していたが、複雑な動きになる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-19-41_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h22m19s">
				<dt>1h 22′19″ 〜</dt>
				<dd class="c-stack">
					<p>ホムリリィ登場する一連のシーンで、ベッドの上にいるホムリリィのカット（複数）が流れる時間がそれぞれ長くなる。</p>

					<p>ホムリリィの口元のリボンが上映版では1本、パッケージ版では3本に増加し、形状も中空タイプになっている。「<cite>叛逆の物語　プロダクションノート</cite>」付属の「<cite>劇団イヌカレー イメージノート2</cite>」の p.172 に両タイプの絵柄が掲載されている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-22-22_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-22-23_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-22-31_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h23m36s">
				<dt>1h 23′36″</dt>
				<dd class="c-stack">
					<p><q>最後にお別れを言えなくて――ごめんね…</q>の部分で涙を流すトカゲの身体が紫色に変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter22_01-23-39_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter23">
		<H slot="heading">Chapter 23</H>

		<dl class="p-video-diff">
			<div id="time1h23m59s">
				<dt>1h 23′59″</dt>
				<dd class="c-stack">
					<p>ほむらの描写がモノクロに近くなる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter23_01-24-01_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h24m25s">
				<dt>1h 24′25″</dt>
				<dd class="c-stack">
					<p>巨大ギロチン台が出現するシーン、上映版ではギロチン台の後方にマユの塔とそこからの道が写っていたが、パッケージ版で削除。マユの塔は直前のホムリリィ出現時に半壊しているので、上映版で無傷で描かれているのはおかしい。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter23_01-24-26_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter23_01-24-30_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h24m30s">
				<dt>1h 24′33″ 〜 1h 26′59″</dt>
				<dd class="c-stack">
					<p>ギロチン台へ進むホムリリィの背中から伸びるリボン手の色が紫色から青色に変更（※1h27′5″ で祈りのポーズをするカットは紫色のまま）。また、キャプチャーのカットではホムリリィの進むスピードが遅くなっている。</p>

					<p>街中にお菓子や楽器などの小物類が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter23_01-24-40_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter24">
		<H slot="heading">Chapter 24</H>

		<dl class="p-video-diff">
			<div id="time1h25m54s">
				<dt>1h 25′54″</dt>
				<dd class="c-stack">
					<p>背景に描かれている水道橋のオブジェの位置と傾き方向が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-25-56_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h26m17s">
				<dt>1h 26′17″</dt>
				<dd class="c-stack">
					<p>オクタヴィアが現れる時に、円形をした五線譜の中に音楽記号がある模様（黒色）が煙の表面に複数出現するようになる。オクタヴィアの周囲にも巨大な五線譜が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-26-17_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h26m42s">
				<dt>1h 26′42″</dt>
				<dd class="c-stack">
					<p>オクタヴィアの腕の開き具合、剣の角度が変更。上映版では剣は外側に開く向きだった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-26-44_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h27m13s">
				<dt>1h 27′13″</dt>
				<dd class="c-stack">
					<p>アントニー（薔薇園の魔女の手下）達が持つ武器が精巧に。先端部はバラの模様。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-27-16_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h27m28s">
				<dt>1h 27′28″</dt>
				<dd class="c-stack">
					<p>手前のベッド(?)の位置がホムリリィとオクタヴィアにかからないように左にずれる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-27-29_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h27m30s">
				<dt>1h 27′30″</dt>
				<dd class="c-stack">
					<p>オクタヴィアが持つ剣の角度が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-27-33_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h27m34s">
				<dt>1h 27′34″</dt>
				<dd class="c-stack">
					<p>オクタヴィアが攻撃する時に、円形をした五線譜の中に音楽記号がある模様（白色）が周囲に複数出現。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-27-35_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h27m44s">
				<dt>1h 27′44″</dt>
				<dd class="c-stack">
					<p>奥に多数の家具類が山のように積み上がったものが追加。まどかがマミの空中ブランコに抱えられて飛ぶのカット（1h27′48″）の右側にも描かれている。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-27-44_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h27m57s">
				<dt>1h 27′57″</dt>
				<dd class="c-stack">
					<p>弓を放つまどかの周囲に家具やお菓子の小物が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-28-00_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h29m08s">
				<dt>1h 29′8″</dt>
				<dd class="c-stack">
					<p>オクタヴィアのマント周りが変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-29-10_tvcm4.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">TV CM 4</figcaption>
							</figure>
						</div>
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-29-10_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h29m13s">
				<dt>1h 29′13″</dt>
				<dd class="c-stack">
					<p>上映版ではさやかがいったん瞳のみ正面を向いた後、後ろにいる杏子に向かって振り向く動きがあったが、パッケージ版では静止したまま。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-29-14_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h29m33s">
				<dt>1h 29′33″</dt>
				<dd class="c-stack">
					<p>オクタヴィアは上映版では横スライドの動きだったが、上下に波打つ動きや尾を動かす動作が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-29-34_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h29m56s">
				<dt>1h 29′56″</dt>
				<dd class="c-stack">
					<p>オクタヴィアは上映版では杏子の槍を両手で持っていたが、左手のみで持つ形に変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-29-56_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h30m08s">
				<dt>1h 30′8″</dt>
				<dd class="c-stack">
					<p>ホムリリィの頭部の周りに白い歯が円形に配置。この後もいくつかのシーンで同様の追加が行われている（正面以外のカットでは描かれていない）。</p>
					<!--<p>緑色の歯車の数が増加。</p>-->

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-30-10_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h30m11s">
				<dt>1h 30′11″</dt>
				<dd class="c-stack">
					<p>オクタヴィアの動き（左向きに横スライド）が速くなる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-30-12_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h30m25s">
				<dt>1h 30′25″</dt>
				<dd class="c-stack">
					<p>「ティロ・フィナーレ」直前にマミが出す巨大な砲弾に手毬のような描き込みが行われる。出現するときのSEが追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-30-26_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h30m36s">
				<dt>1h 30′36″</dt>
				<dd class="c-stack">
					<p>背景右側に描かれている、ホムリリィから伸びる枝の形状が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-30-38_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h30m44s">
				<dt>1h 30′44″</dt>
				<dd class="c-stack">
					<p>オクタヴィアの周囲に、円形をした五線譜の中に音楽記号がある模様（白色）が複数描き込まれる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-30-45_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h30m45s">
				<dt>1h 30′45″</dt>
				<dd class="c-stack">
					<p>ホムリリィが飛行形態に。</p>

					<p>オクタヴィアから巨大な円形の五線譜（黒色）が出現する。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter24_01-30-46_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter25">
		<H slot="heading">Chapter 25</H>

		<dl class="p-video-diff">
			<div id="time1h33m23s">
				<dt>1h 33′23″</dt>
				<dd class="c-stack">
					<p>ホムリリィの結界が消滅するときの効果が変更され、画面全体が揺れ動く感じに。花火の弾け具合も変わっており、弾けるSEが追加された。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter25_01-33-24_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter26">
		<H slot="heading">Chapter 26</H>

		<dl class="p-video-diff">
			<div id="time1h33m51s">
				<dt>1h 33′51″</dt>
				<dd class="c-stack">
					<p>鹿目家の3人のベンチにダニエル&amp;ジェニファー（ハコの魔女の手下）が追加。ベンチを下ろしつつ、手を振っている。次のカットでマミが手を振っているが、上映版では誰に振っているのか分からない状態だった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-33-52_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h35m11s">
				<dt>1h 35′11″</dt>
				<dd class="c-stack">
					<p>ほむらのソウルジェムの色が上映版では青（1h33m39sと同じ）、パッケージ版は濃い青と紫に変更。またソウルジェム内部に泡が流れる表現が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-35-12_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h35m53s">
				<dt>1h 35′53″ 〜 1h 36′45″</dt>
				<dd class="c-stack">
					<p>ほむらから発生する黒い煙に赤、青、緑などの色効果が付く。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-35-56_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h37m54s">
				<dt>1h 37′54″</dt>
				<dd class="c-stack">
					<p>ソウルジェムが一瞬で細かい泡のようなものに変化し、ライン状に集まる一連の動きが表現される。上映版では最初から泡がライン状になっており、ソウルジェムが変化したものということが分からなかった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-37-54_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-37-54_2_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h38m08s">
				<dt>1h 38′8″ 〜 1h 40′26″</dt>
				<dd class="c-stack">
					<p>世界改変で宇宙空間(?)に打ち上がる花火の模様が変更。そのうちの一つに偽街の子供達の15番目「アイ」の顔をしたものもあり。</p>

					<p>一部のカットではキュゥべえの配置が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-38-28_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h39m17s">
				<dt>1h 39′17″</dt>
				<dd class="c-stack">
					<p>ほむらが<q>愛よ</q>とつぶやくシーン、上映版ではセリフに合わせて口が動いていたが、ダークオーブを飲み込んだ後は口を閉じたままに変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-39-18_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h39m36s">
				<dt>1h 39′36″</dt>
				<dd class="c-stack">
					<p>悪魔ほむらの衣装が披露されるシーンで、背中の翼が生える時に羽が飛び散るようになる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter26_01-39-36_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter27">
		<H slot="heading">Chapter 27</H>

		<dl class="p-video-diff">
			<div id="time1h40m56s">
				<dt>1h 40′56″</dt>
				<dd class="c-stack">
					<p>マミを含め、通学路を歩く人間の影が長くなる。</p>

					<p>ピョートル（お菓子の魔女の手下）を隠す花びらの形状や舞い方が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-40-59_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h41m01s">
				<dt>1h 41′1″ 〜 1h 43′4″</dt>
				<dd class="c-stack">
					<p>ほむらが座っているパラソルの柱に魔女文字が描かれる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-41-02_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h41m39s">
				<dt>1h 41′39″</dt>
				<dd class="c-stack">
					<p>ほむらは上映版では首を2回横に振っていたが、ゆっくり1回に変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-41-41_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h41m50s">
				<dt>1h 41′50″ 〜</dt>
				<dd class="c-stack">
					<p>杏子が投げて小川に落ちたリンゴは、横に流れるカットのみ上部に傘のような波線が描かれていたが、パッケージ版で修正。また、さやかのいる小橋に潜ったまま出てこなかったが、これも修正。</p>

					<p>上映版ではさやかやモブ女子生徒のスカートが無地の黒色だったが、パッケージ版で柄が入るように修正。</p>

					<p>ほむらの座っている位置が変更。上映版は向かって右側の椅子、パッケージ版では左側。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-41-56_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h42m43s">
				<dt>1h 42′43″</dt>
				<dd class="c-stack">
					<p>上映版ではほむらとさやかに影が付いていたが、明るくなる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-42-44_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h42m51s">
				<dt>1h 42′51″</dt>
				<dd class="c-stack">
					<p>さやかがオクタヴィアを召喚するとき、円形をした五線譜の中に音楽記号がある模様（黒色）が周囲に複数出現。</p>

					<p>オクタヴィアの腕の角度が変更され、動きも付いた。また、上映版では剣が外側を向いていて柄の部分しか見えなかったが、パッケージ版では内側を向き、刃を含めた全体が見えるようになった。</p>

					<p>オクタヴィアにエフェクトが追加され、もやもやと輝くようになった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-42-52_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-42-53_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h43m05s">
				<dt>1h 43′5″</dt>
				<dd class="c-stack">
					<p>紫色の液体の流れ方が変更。上映版は画面右上から先端部がギザギザを描く形で流れてきた。また、液体が透過して路面の模様がうっすら見えるようになった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-43-07_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h43m11s">
				<dt>1h 43′11″</dt>
				<dd class="c-stack">
					<p>オクタヴィアが消える時、波打つようなエフェクトがかかるようになる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-43-11_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h44m14s">
				<dt>1h 44′14″</dt>
				<dd class="c-stack">
					<p>通学路を歩く人間の影が長くなる。</p>

					<p>なぎさの服に水玉模様が追加。</p>

					<p>なぎさが駆け寄る女子小学生の体勢が変更。</p>

					<p>さやか作画修正（髪型や制服の後ろリボンの形状など）。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter27_01-44-16_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter28">
		<H slot="heading">Chapter 28</H>

		<dl class="p-video-diff">
			<div id="time1h45m11s">
				<dt>1h 45′11″</dt>
				<dd class="c-stack">
					<p>教室で頬杖をつくほむらの奥にいたモブキャラ男子がいなくなる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-45-11_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h45m12s">
				<dt>1h 45′12″</dt>
				<dd class="c-stack">
					<p>和子先生に頬の斜線表現が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-45-14_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h45m50s">
				<dt>1h 45′50″</dt>
				<dd class="c-stack">
					<p>転校生のまどかを紹介する和子先生の体勢が変更。上映版では右手を腰に当てていた。</p>

					<p>一部生徒の髪型が変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-45-52_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h46m42s">
				<dt>1h 46′42″</dt>
				<dd class="c-stack">
					<p>ほむらの口元アップのカットで、口唇の境界線の表現がソフトに。上映版では口紅をしている感が強かった。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-46-43_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h46m44s">
				<dt>1h 46′44″</dt>
				<dd class="c-stack">
					<p>廊下のモブキャラが変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-46-45_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h46m58s">
				<dt>1h 46′58″</dt>
				<dd class="c-stack">
					<p>上映版ではまどかのリボンが赤色だったが、黄色に修正。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-47-01_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h47m27s">
				<dt>1h 47′27″</dt>
				<dd class="c-stack">
					<p>ほむらに案内されて校内の廊下を歩くカットで、まどかの頭上から見下ろしたカットが差し替え。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-47-27_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h47m58s">
				<dt>1h 47′58″</dt>
				<dd class="c-stack">
					<p>ほむらの大きさが上映版の 2/3 程度に小さくなり、たじろぐ時の体勢も変わる。</p>

					<p>まどかから発生する宇宙空間のようなものがカラフルに。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-48-00_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h48m03s">
				<dt>1h 48′3″ 〜 1h 48′14″</dt>
				<dd class="c-stack">
					<p>まどかの背景に出現した宇宙空間のようなものがカラフルに。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-48-05_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h48m10s">
				<dt>1h 48′10″ 〜 1h 48′19″</dt>
				<dd class="c-stack">
					<p>宇宙空間のような背景模様は、上映版では煙と共に消えていたが、パッケージ版では煙が消えた後も残る。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-48-15_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h49m14s">
				<dt>1h 49′14″</dt>
				<dd class="c-stack">
					<p>まどかとほむらが作画し直される。とくにまどかの体勢の変化が目立つ（傾けている足が上映版とは逆、ポケットの表現が省略）。二人の背後から光が差す効果が追加され、人物は暗くなった。</p>

					<p>ほむらに頬タッチが描かれていたが、なくなる。</p>

					<p>まどかとほむらの手前にかかる柱が変更。上映版ではひざ下に横柱が被っていた。</p>

					<p>背景の雲が右方向に動くようになる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-49-16_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h49m34s">
				<dt>1h 49′34″</dt>
				<dd class="c-stack">
					<p>木が2本生えた場所の壁面に家具やお菓子などの絵が描かれる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-49-34_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h49m43s">
				<dt>1h 49′43″</dt>
				<dd class="c-stack">
					<p>瓶に描かれた魔女文字 <span class="u-madoka-font-witch">GERTRUD WIE</span> が白色から黒色に変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-49-44_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h49m44s">
				<dt>1h 49′44″ 〜</dt>
				<dd class="c-stack">
					<p>ショッピングをするマミの服に斑点模様が、なぎさの服に水玉模様が追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-49-48_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h49m48s">
				<dt>1h 49′48″</dt>
				<dd class="c-stack">
					<p>丘の上の公園(?)にある、トカゲのオブジェの乗った案内標識に文字が描かれる（左向きは<q>Countory of Sweets</q>、右向きは<q>Good Morning</q>）。</p>

					<p>なお、この直後の標識アップのカットでは上映版でも文字が描かれていた。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-49-49_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h49m58s">
				<dt>1h 49′58″</dt>
				<dd class="c-stack">
					<p>エンディングに入る直前、街の上空で浮遊回転する、円環マークの描かれた茶色い石のようなものが追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-49-59_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h50m03s">
				<dt>1h 50′3″</dt>
				<dd class="c-stack">
					<p>魔女文字が変更。上映版は <span class="u-madoka-font-witch">WER TRÄUMT?</span> 、パッケージ版は <span class="u-madoka-font-witch">WER HATGETRÄUMT?</span> 。また、文字がかすれたようなエフェクトが追加。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter28_01-50-03_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter29">
		<H slot="heading">Chapter 29<small>（エンディング）</small></H>

		<dl class="p-video-diff">
			<div id="time1h50m05s">
				<dt>1h 50′5″ 〜</dt>
				<dd class="c-stack">
					<p>エンディング「<cite>君の銀の庭</cite>」のシルエットの色が全編にわたって変更。一部、タイミングが変更された部分もある。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter29_01-50-38_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="chapter30">
		<H slot="heading">Chapter 30</H>

		<dl class="p-video-diff">
			<div id="time1h55m29s">
				<dt>1h 55′29″</dt>
				<dd class="c-stack">
					<p>上映版では水面に映る半月の欠け方向が逆だったが（左側が欠け）、パッケージ版で修正（右側が欠け）。</p>

					<p>雲が流れる方向も逆になる。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter30_01-55-29_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
			<div id="time1h55m35s">
				<dt>1h 55′35″</dt>
				<dd class="c-stack">
					<p>草むらから出てくるキュゥべえは、上映版では通常のように身体が白く描かれていたが、光が当たっていないためか暗く変更。</p>

					<div class="c-grid -medium">
						<div class="c-grid__item">
							<figure>
								<div class="p-embed -border">
									<Image path="madoka/video/shinpen_chapter30_01-55-39_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} />
								</div>
								<figcaption class="c-caption">パッケージ版</figcaption>
							</figure>
						</div>
					</div>
				</dd>
			</div>
		</dl>
	</Section>

	<Section id="references">
		<H slot="heading">参考文献</H>

		<ul class="p-links">
			<li><LinkExternal href="http://roadream1029.jugem.jp/?eid=237">田所リゲ介さんの比較一覧</LinkExternal></li>
			<li>
				<LinkExternal href="https://x.com/homuh0mu/status/453200083345891328">haya（@homuh0mu）さんの比較一覧</LinkExternal>
				<ul>
					<li><LinkExternal href="http://madohomu.in/hangyaku_fix_20140408.pdf" type="application/pdf">hangyaku_fix_20140408</LinkExternal></li>
				</ul>
			</li>
			<li>
				<LinkExternal href="https://x.com/1hatahata/status/455680208704512002">はたはたさん（@1hatahata）の比較一覧</LinkExternal>
				<ul>
					<li><LinkExternal href="https://drive.google.com/file/d/0B-YK4A_Ff9CXbG1XXzRHU015aWM/view">叛逆の物語 修正点リストアップ表</LinkExternal></li>
				</ul>
			</li>
			<li>
				<LinkExternal href="https://x.com/arz2521/status/589931486096195584">あらざ（@arz2521）さんの比較一覧</LinkExternal>
				<ul>
					<li><LinkExternal href="https://drive.google.com/file/d/0B56GfFxtE6mRNHpHeFc4dFU5Z2s/view">叛逆修正（arz2521）</LinkExternal></li>
				</ul>
			</li>
		</ul>
	</Section>
</Layout>
