---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import VideoDiff from '@components/VideoDiff.astro';
import VideoDiffItem from '@components/VideoDiffItem.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『劇場版　魔法少女まどか☆マギカ[前編]始まりの物語』上映版とパッケージ版の比較',
	heading: '『[前編]始まりの物語』上映版とパッケージ版の比較',
	dateModified: dayjs('2017-03-11'),
	description: '2012年10月に公開された『劇場版　魔法少女まどか☆マギカ[前編]始まりの物語』の劇場上映版と Blu-ray / DVD 版の映像の違いをまとめました。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
	localNav: {
		label: '映像',
		items: [
			{ path: '/madoka/video/connect', name: 'コネクト' },
			{ path: '/madoka/video/zenpen', name: '前編' },
			{ path: '/madoka/video/kouhen', name: '後編' },
			{ path: '/madoka/video/shinpen', name: '新編' },
			{ path: '/madoka/video/concept-movie', name: 'コンセプトムービー' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Amazon headingLevel={2}>
		<AmazonItem asin="B00C3EDY68" title="劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語/[後編] 永遠の物語【通常版】 [Blu-ray]" date="2013-07-24" imageId="51IOl9Ky54L" imageWidth={135} imageHeight={160} />
	</Amazon>

	<Section id="chapter2">
		<Fragment slot="heading">Chapter 2<small>（オープニング）</small></Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:03:21">
				<p>まどかのワンピースの肩紐の形状は、上映版ではしわの入ったようなものに見えたが、フリルの形に修正。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:03:23">
				<p>ほむらのワンピースの肩紐とリボンの形状が変更、胸元にフリルが追加。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:03:30">
				<p>ウェディングまどかの髪の描き分けが細かくなり、ドレスに影が付いた。</p>

				<ListNote>
					<li><Anchor href="https://www.amazon.co.jp/dp/4896106768/">KEY ANIMATION NOTE extra 始まりの物語 永遠の物語</Anchor> p.37 の宮本幸裕監督のコメントによると、<q>このまどかはアルティメットまどかではなく、ウエディングドレスという設定</q>とのこと。</li>
				</ListNote>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:03:53">
				<p>まどか作画修正。髪やまつげが変わった。</p>

				<ListNote>
					<li>後編OPの同じカットは上映版、パッケージ版とも違いはないものと思われる。</li>
				</ListNote>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter3">
		<Fragment slot="heading">Chapter 3</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:05:55">
				<p>仁美作画修正。とくに咳払いで深呼吸するときの動作が、上映版だと息を吐いて顔が下がった後に少しだけ上に戻っていたが、パッケージ版では戻らずそのまま咳払いに繋がるようになった。</p>

				<p>仁美の背景の路面が変更され、勾配変化による段差のような表現がなされるようになった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter4">
		<Fragment slot="heading">Chapter 4</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:10:35">
				<p>まどほむ校内連絡通路のシーンの後、静止画カット（4枚）の1枚目が縦型の3灯信号機を見上げたイラストに差し替え。</p>

				<p>上映版は郊外のショッピングセンターの外観で、TVシリーズ1話の14m39sと同じもの（埼玉県羽生市の「<cite>イオンモール羽生</cite>」と思われる）。ただし、TV版より全体的にブラッシュアップされている。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter5">
		<Fragment slot="heading">Chapter 5</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:10:43">
				<p>後方の男性の歩く位置が変わった。上映版は2人組カップルや女性が座っている席の前の通路を歩いている。パッケージ版は後ろ。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:11:13">
				<p>同じく後方の女性の歩く位置が変わった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter6">
		<Fragment slot="heading">Chapter 6</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:12:31">
				<p>「<cite>セルゲイ・ラフマニノフ　ヴァイオリンとピアノのため小作品</cite>」→「<cite>セルゲイ・ラフマニノフ　ヴァイオリンとピアノのためのロマンス</cite>」に修正（背表紙は上映版も「<cite>ロマンス</cite>」）。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:17:03">
				<p>マミの魔法少女服の襟の内側が黄色く塗られていたミスを修正。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:17:12">
				<p>マミ作画修正。</p>

				<p>魔法少女服の襟の内側が黄色く塗られていたミスを修正。</p>

				<Grid column="medium">
					<GridItem>
						<Embedded border={true}>
							<Image path="madoka/video/zenpen_chapter6_00-17-13_trailer.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} slot="media" />
							<Fragment slot="caption">予告編1（後編BD/DVD収録）</Fragment>
						</Embedded>
					</GridItem>
					<GridItem>
						<Embedded border={true}>
							<Image path="madoka/video/zenpen_chapter6_00-17-13_bd.jpg" alt="画像拡大" width={294} height={166} quality={60} link={true} slot="media" />
							<Fragment slot="caption">パッケージ版</Fragment>
						</Embedded>
					</GridItem>
				</Grid>

				<ListNote>
					<li>予告編では画面周囲に額縁のようなものが描かれているが、上映版ではなくなっている。また、花びら模様もこのタイミングでは消えている。上映版とパッケージ版の違いはマミの作画のみ。</li>
				</ListNote>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter7">
		<Fragment slot="heading">Chapter 7</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:19:12">
				<p>1話パート終了後（<q>ぼくと契約して魔法少女になってよ</q>の後）、静止画カット（6枚）の5枚目が、上映版は夕日に映る街並みを描いたものだったが、時計台へ変更。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:19:19">
				<p>静止画差し替え。上映版、パッケージ版ともに夕日に映る街並みのカットだが、パッケージ版ではビルがより大きく描かれている。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:19:40" timeEnd="00:21:31">
				<p>まどかとさやかの紅茶カップの把手の向きが逆転（右手で持つ向きへ変更）。その他、急須や皿などの作画修正。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:21:35">
				<p>画面の視点が上に上がった（3人の位置が下がった）。</p>

				<p>上映版は柵のようなものが画面手前の全体に掛かっていたが、パッケージ版では柄模様の入ったものが右上にのみ掛かる。</p>

				<p>部屋の小物が足されたり、窓から見えるビルが変更されたりといった変更もあり。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:21:46">
				<p>画面の視点が上に上がった（3人の位置が下がった）。その他、21m35sと同じ変化。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:22:05">
				<p>画面の視点が上に上がった（3人の位置が下がった）。その他、21m35sと同じ変化。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:22:11">
				<p>上映版はテーブルの下からマミを透明なガラス板越しに見上げる構図だったが、テーブルの奥からの視点に変更され、キュゥべえも描かれる。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:22:26">
				<p>マミの部屋のシーンが終わった後の静止画差し替え。19m19sと同じ変化。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter8">
		<Fragment slot="heading">Chapter 8</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:22:31">
				<p>病室の窓から見えるビルが変更。</p>

				<p>一部の椅子が少し小さくなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:22:43">
				<p>病室の窓から見えるビルが変更。</p>

				<p>一部の椅子が少し小さくなった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter10">
		<Fragment slot="heading">Chapter 10</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:27:30">
				<p>病院の前に放置されている廃車体が1台→4台に増加。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:27:42">
				<p>静止画カット（5枚）の4枚目が差し替え。上映版はターミナル駅の上空からのカット、パッケージ版はレトロな街灯のイラスト。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:27:44">
				<p>静止画カット（5枚）の5枚目が差し替え。上映版は街を横向きに眺めた構図、パッケージ版はターミナル駅の上空からのカット（上映版4枚目と同じ）。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:27:47">
				<p>3人が歩く一連のカットが全体的に変更。奥の街灯の数が減少、手前の街灯が追加、奥の斜張橋の形状と遠近感が変更、背景のビルが減少。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:28:12">
				<p>OLの上る階段が細かく。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:28:15">
				<p>奥の街灯の数が減少、手前の街灯が追加、奥の斜張橋の形状と遠近感が変更、背景のビルが減少（27m47sと同じ変化）。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:28:21">
				<p>奥の街灯の数が減少、手前の街灯が追加、奥の斜張橋の形状と遠近感が変更、背景のビルが減少（27m47sと同じ変化）。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:28:29">
				<p>病院の前に放置されている廃車体が1台→4台に増加。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter11">
		<Fragment slot="heading">Chapter 11</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:33:44">
				<p>画面右端に写っていた廃車体が消えた。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:33:46">
				<p>全体的に若干引いた構図になった（マミとOLが少し小さくなった）。</p>

				<p>建物の壁模様が変更。上映版は直前の引きのシーンと異なり、小さなダイヤ型パターンの模様となっていた。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:34:23">
				<p>静止画カット（3枚）の1枚目が差し替え。上映版は街の遠景、パッケージ版はアーチ橋。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:34:26">
				<p>静止画カット（3枚）の2枚目が差し替え。上映版はアーチ橋（パッケージ版1枚目と同じ）、パッケージ版は公園(?)にあるレトロな街灯。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter15">
		<Fragment slot="heading">Chapter 15</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:44:42">
				<p>マミ変身シーンのラストの方で顔がアップになるところ、瞳の中にハートマークが描かれたカットが追加。</p>

				<ListNote>
					<li>Blu-ray限定版に付属のブックレット p.37 に<q>原画担当の松本元気さんたっての希望により、パッケージ版では動きのラスト付近に少し絵が足されています。</q>との山村洋貴さんのコメントが掲載されているが、おそらくこの変更を指しているものと思われる。</li>
				</ListNote>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter16">
		<Fragment slot="heading">Chapter 16</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:48:05">
				<p>魔女空間が消えるときの様子が変更。上映版はビルの壁面だった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter17">
		<Fragment slot="heading">Chapter 17</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:50:16">
				<p>上映版だと首を傾けているキュゥべえの顔のアップだが、パッケージ版では両目が画面いっぱいのアップになった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter18">
		<Fragment slot="heading">Chapter 18</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="00:52:20">
				<p>ドアが明るくなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:52:23">
				<p>テーブルの上の急須や紅茶缶が小さくなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:52:30">
				<p>テーブルの上の急須が大きくなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:52:37">
				<p>テーブルの上の急須が大きくなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:53:29">
				<p>背景の工場群の照明が変化。上映版は6枚羽根のレンズで絞って撮ったように光源の周囲に6本の光芒が見られたが、パッケージ版では光芒表現がなくなった。ただし、54′54″のカットは上映版と同じまま。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="00:55:09">
				<p>まどかとほむらが歩く橋の左側に見える川(?)の水面の波紋が動くようになった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter21">
		<Fragment slot="heading">Chapter 21</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:10:03">
				<p>静止画カットの全体的にビルが追加。上映版では川に掛かる3本の橋がよく見えたが、パッケージ版ではいちばん奥の橋はビルに隠れてほとんど見えなくなった。太陽の位置も変更。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:10:08">
				<p><strong>【要確認】</strong>背景の雲の形が変わった?</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:10:23">
				<p><strong>【要確認】</strong>背景の雲の形が変わった?</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:10:44">
				<p><strong>【要確認】</strong>背景の雲が見えづらくなった?</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:10:48">
				<p><strong>【要確認】</strong>背景の雲が見えづらくなった?</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:11:01">
				<p><strong>【要確認】</strong>背景の雲が見えづらくなった?</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter22">
		<Fragment slot="heading">Chapter 22</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:12:14">
				<p>床の模様が変更、渦巻き模様の影が追加。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:15:07">
				<p>上映版では槍の穂先を地面に突き刺していたが、直後のシーンで穂先が上に向いているので、矛盾が生じていた。パッケージ版で石突側に修正。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter23">
		<Fragment slot="heading">Chapter 23</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:23:56">
				<p>机のサラダや酒瓶の位置が右へずれた。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:24:06">
				<p><strong>【要確認】</strong>詢子が暗くなった?</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:24:28">
				<p>酒瓶とアイス・ペール（氷入れ）の位置が低くなった。放送版では、酒瓶の蓋は詢子の肩くらいの位置にあった。また、パッケージ版ではトングが追加された。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:24:40">
				<p>酒瓶とアイス・ペール（氷入れ）の位置が若干低くなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:24:32">
				<p><strong>【要確認】</strong>詢子が暗くなった?</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter24">
		<Fragment slot="heading">Chapter 24</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:26:17">
				<p>杏子の口の開き方が修正。犬歯の表現が一つになり、タイミングによって歯が見えるようになった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter25">
		<Fragment slot="heading">Chapter 25</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:27:33">
				<p>杏子変身シーン修正。とくに私服から魔法少女服に替わる瞬間の、回転する動きなどが大きく変わっている。また、胸のソウルジェムが光る部分も身体が斜めに傾く変化が分かりやすい。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:29:32">
				<p>まどか作画修正。足の先が外側を向くようになるなど。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:29:39">
				<p>困惑する杏子の動きが少なくなった。とくに<q>100メートル?</q>の部分で首を振る動きや、<q>何のことだ?</q>の部分で右腕を振る動きがなくなった変化が目立つ。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:29:43">
				<p>まどか作画修正。足の先が外側を向くようになったり、キュゥべえの方を向いたときの振り向き角度が急になり、横顔だったのが両目とも見えるようになったりするなど。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:29:54">
				<p>上映版はキュゥべえを下から見上げたカットで、ため息をついたり首を横に振る動きがあったが、パッケージ版では両目のアップの静止画になった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:30:01">
				<p>まどか作画修正。上映版では少し口角が上がった表情だったが、瞳にハイライトが入り、口が開いて呆然としたような表情になった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:30:36">
				<p>まどかの震え方が変わり、肩や瞳の揺れが少なくなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:30:44">
				<p>まどか作画修正。上映版では少し口角が上がった表情だったが、瞳にハイライトが入り、口が開いて呆然としたような表情になった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:31:06">
				<p>まどか作画修正。瞳にハイライトが入るなど。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:31:25">
				<p>上映版ではまどかはさやかを前後に揺らす動きをしていたが、パッケージ版では前後方向の揺れがなくなり、号泣による身体の震えのみとなった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter26">
		<Fragment slot="heading">Chapter 26</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:32:42">
				<p>柵の後方から光が差し込んでいるようなエフェクトが追加。</p>

				<p>柵の影が変更。上映版は、まどかの影が画面真下に向かっているのに対して、柵の影は右斜め前方に伸びていて不自然だった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:33:43">
				<p>柵の後方から光が差し込んでいるようなエフェクトが追加。</p>

				<p>柵の影が変更。上映版は、まどかの影が画面真下に向かっているのに対して、柵の影は右斜め前方に伸びていて不自然だった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:34:06">
				<p>柵の後方から光が差し込んでいるようなエフェクトが追加。</p>

				<p>柵の影が変更。上映版は、まどかの影が画面真下に向かっているのに対して、柵の影は右斜め前方に伸びていて不自然だった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter27">
		<Fragment slot="heading">Chapter 27</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:36:18">
				<p>椅子の形が変更。上映版では、脚の部分が背ずりのような形をした、不思議な形状をしていた。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:36:46">
				<p>教会の前に立つさやかと杏子が小さくなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:37:24">
				<p>さやかの左手中指の爪に青い模様が追加。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:41:21">
				<p>杏子の犬歯の表現が一つになった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:41:33">
				<p>杏子の犬歯の表現が一つになった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:42:49">
				<p>さやかの手の作画が変更。爪の表現が追加。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter28">
		<Fragment slot="heading">Chapter 28</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:43:17">
				<p>さやかが歩く通学路の地面や岩、木々の形が変更、背景にビル追加。上映版は地面が長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:43:19">
				<p>さやかが歩く通学路の地面が変更。上映版は長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:43:28">
				<p>さやかの背景の地面や小川が変更。上映版は地面が長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>

				<p>まどかと仁美の背景の地面や小川が変更。上映版は地面が長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:43:30">
				<p>まどか、さやか、仁美が作画修正。とくにまどかは上映版では終始糸目の笑顔だったのが、パッケージ版では不安そうな表情になった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:43:35">
				<p>まどか、さやか、仁美が作画修正。背景の木々の様子も変わっている（というより位置がずれた?）。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:43:48">
				<p>まどか、さやか、仁美が作画修正。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:43:55">
				<p>まどか、さやか、仁美が作画修正。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter29">
		<Fragment slot="heading">Chapter 29</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:48:26">
				<p>杏子、ほむらが作画修正。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:48:46">
				<p>杏子、ほむらが作画修正。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter30">
		<Fragment slot="heading">Chapter 30</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:54:24">
				<p>杏子がそばを啜った時のつゆの跳ねが多くなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:54:25">
				<p>つゆの跳ねが多くなった。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="01:54:30">
				<p>ほむらの部屋のパネルが変更。上映版は右上を見上げた構図、パッケージ版は左上を見上げた構図。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter31">
		<Fragment slot="heading">Chapter 31</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="01:58:47" timeEnd="02:03:19">
				<p>噴水の紫や橙に輝く照明の動きがゆっくりになった。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter32">
		<Fragment slot="heading">Chapter 32</Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="02:03:41" timeEnd="02:05:14">
				<p>画面手前の曲線を描いた柵は、上映版では黒色のみで表現されていたが、パッケージ版では白も混じって円筒形であることが表現され、立体的に見えるようになった。</p>

				<p>なお、上映版では画面のピントは奥のさやか、杏子やベンチに合っており、柵はボケていたが、<a href="/madoka/video/kouhen#chapter1">後編冒頭の同じシーン（0′37″〜）</a>ではパンフォーカスのように柵にもピントが合っている状態である。</p>
			</VideoDiffItem>
			<VideoDiffItem timeStart="02:05:09">
				<p>宙に浮かぶさやかのグリーフシードは、上映版では4人掛けベンチの中央に浮いていたが、少し右にずれた。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>

	<Section id="chapter33">
		<Fragment slot="heading">Chapter 33<small>（エンディング）</small></Fragment>

		<VideoDiff>
			<VideoDiffItem timeStart="02:07:24">
				<p><q>背景</q>のクレジットに1人追加。</p>
			</VideoDiffItem>
		</VideoDiff>
	</Section>
</Layout>
