---
import { actions, isInputError } from 'astro:actions';
import Layout from '@layouts/Site.astro';
import DialogOverlay from '@components/DialogOverlay.astro';
import FormGrid from '@components/FormGrid.astro';
import FormButtons from '@components/FormButtons.astro';
import FormInvalid from '@components/FormInvalid.astro';
import FormGridGroup from '@components/FormGridGroup.astro';
import FormValidateMsg from '@components/FormValidateMsg.astro';
import Stack from '@components/Stack.astro';
import Step from '@components/Step.astro';
import StepItem from '@components/StepItem.astro';
import Table from '@components/Table.astro';
import FormCtrlInput from '@components/+phrasing/FormCtrlInput.astro';
import FormCtrlTextarea from '@components/+phrasing/FormCtrlTextarea.astro';
import FormLabelIcon from '@components/+phrasing/FormLabelIcon.astro';
import Label from '@components/+phrasing/Label.astro';
import SubmitButton from '@components/+phrasing/SubmitButton.astro';
import { response303, response400 } from '@util/httpResponse.ts';
import { init as ssrInit } from '@util/ssr.ts';
import type { StructuredData } from '../../@types/util.d.ts';

export const prerender = false;
const { logger } = ssrInit(Astro, { dev: import.meta.env.DEV });

const structuredData: StructuredData = {
	'schema-type': 'ContactPage',
	title: '問い合わせ',
	breadcrumb: [{ path: '/', name: 'ホーム' }],
	moduleScripts: ['contact.mjs'],
};

let requestFormdata: FormData | undefined;
const validateMessages: string[] = [];

const actionResult = Astro.getActionResult(actions.contact.post);
if (actionResult !== undefined) {
	Astro.response.headers.append('Vary', 'Origin');

	const { data, error } = actionResult;

	if (error !== undefined) {
		if (isInputError(error)) {
			requestFormdata = await Astro.request.formData();
			validateMessages.push(...error.issues.map((issue) => issue.message));
		} else {
			logger.warn(error.message);
			return response400();
		}
	} else {
		logger.info('Message sent: %s', data.mailSentInfo.messageId);
		return response303(Astro.request, `/contact_completed?referrer=${data.referrer ?? ''}`);
	}
}
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} contentFooter={false} pageSidebar={false} ad={false}>
	<Step>
		<StepItem name="入力" current={true} jsClassName="js-screen-input" />
		<StepItem name="入力" hidden={true} jsClassName="js-screen-confirm" />
		<StepItem name="確認" hidden={true} jsClassName="js-screen-input" />
		<StepItem name="確認" current={true} hidden={true} jsClassName="js-screen-confirm" />
		<StepItem name="完了" />
	</Step>

	<form action={actions.contact.post} method="post" novalidate="" class="js-submit-overlay" id="contact-form" data-overlayed-by="form-submit-overlay">
		<div class="js-screen-input">
			<Stack>
				<FormValidateMsg msgs={validateMessages} />

				<FormGrid>
					<FormGridGroup>
						<Fragment slot="legend"><label for="input-name">名前 <FormLabelIcon type="optional">任意</FormLabelIcon></label></Fragment>

						<Fragment slot="contents">
							<FormCtrlInput size="24em"><input name="yourname" value={requestFormdata?.get('yourname')?.toString()} id="input-name" /></FormCtrlInput>
						</Fragment>
					</FormGridGroup>
					<FormGridGroup>
						<Fragment slot="legend"><label for="input-email">Eメールアドレス <FormLabelIcon type="required">必須</FormLabelIcon></label></Fragment>

						<Fragment slot="contents">
							<FormCtrlInput size="24em"><input type="email" name="email" value={requestFormdata?.get('email')?.toString()} required="" autocomplete="email" id="input-email" class="js-convert-trim js-validation" aria-errormessage="input-validate-email" /></FormCtrlInput>
						</Fragment>

						<Fragment slot="validate">
							<FormInvalid id="input-validate-email" />
						</Fragment>
					</FormGridGroup>
					<FormGridGroup ctrlType="radio">
						<Fragment slot="legend"><span id="label-reply">返信の有無 <FormLabelIcon type="required">必須</FormLabelIcon></span></Fragment>

						<Fragment slot="contents">
							<div class="js-validation" role="radiogroup" aria-labelledby="label-reply" aria-describedby="input-description-reply" aria-errormessage="input-validate-reply">
								<Label label="必要">
									<input type="radio" name="reply" value="yes" checked={requestFormdata?.get('reply') === 'yes'} required="" />
								</Label>
								<Label label="不要">
									<input type="radio" name="reply" value="no" checked={requestFormdata?.get('reply') === 'no'} required="" />
								</Label>
							</div>
						</Fragment>

						<Fragment slot="validate">
							<FormInvalid id="input-validate-reply" />
						</Fragment>

						<Fragment slot="note">
							<p id="input-description-reply">おことわり: <q>必要</q>を選択された場合でも、内容によっては返信しかねる場合があります。</p>
						</Fragment>
					</FormGridGroup>
					<FormGridGroup>
						<Fragment slot="legend"><label for="input-body">内容 <FormLabelIcon type="required">必須</FormLabelIcon></label></Fragment>

						<Fragment slot="contents">
							<FormCtrlTextarea blockSize="16em"><textarea name="body" required="" id="input-body" class="js-convert-trim js-validation js-textarea-auto-size" aria-errormessage="input-validate-body">{requestFormdata?.get('body')}</textarea></FormCtrlTextarea>
						</Fragment>

						<Fragment slot="validate">
							<FormInvalid id="input-validate-body" />
						</Fragment>
					</FormGridGroup>
				</FormGrid>
			</Stack>
		</div>

		<div class="js-screen-confirm" hidden="">
			<Stack>
				<Table full={true}>
					<tbody>
						<tr>
							<th scope="row">名前</th>
							<td class="js-confirm-output" data-ctrl-name="yourname"></td>
						</tr>
						<tr>
							<th scope="row">Eメールアドレス</th>
							<td class="js-confirm-output" data-ctrl-name="email"></td>
						</tr>
						<tr>
							<th scope="row">返信の有無</th>
							<td class="js-confirm-output" data-ctrl-name="reply"></td>
						</tr>
						<tr>
							<th scope="row">内容</th>
							<td>
								<pre class="js-confirm-output" data-ctrl-name="body"></pre>
							</td>
						</tr>
					</tbody>
				</Table>
			</Stack>
		</div>

		<FormButtons>
			<p class="js-screen-input" hidden="">
				<SubmitButton type="button" id="js-confirm-button">入力内容を確認</SubmitButton>
			</p>
			<p class="js-screen-confirm" hidden="">
				<SubmitButton type="button" buttonStyle="cancel" id="js-correct-button">修正</SubmitButton>
			</p>
			<p class="js-screen-confirm">
				<SubmitButton id="js-send-button">送信</SubmitButton>
			</p>
		</FormButtons>
	</form>

	<DialogOverlay label="送信中" id="form-submit-overlay" />
</Layout>
