---
import Layout from '@layouts/W0s.astro';
import LinkBullet from '@components/LinkBullet.astro';
import RequestUtil from '@util/Request.js';
import SsrUtil from '@util/Ssr.js';
import type { StructuredData } from '@type/types.js';

interface RequestQuery {
	referrer: string | null;
}

export const prerender = false;
const { logger } = SsrUtil.init(Astro);

const structuredData: StructuredData = {
	title: '問い合わせ（完了）',
	breadcrumb: [{ path: '/', name: 'ホーム' }],
};

const requestUrl = new URL(Astro.request.url);
const requestSearchParams = requestUrl.searchParams;

const requestQuery: RequestQuery = {
	referrer: RequestUtil.string(requestSearchParams.get('referrer')),
};

if (requestQuery.referrer !== null && requestQuery.referrer !== '') {
	if (!requestQuery.referrer.startsWith('/')) {
		logger.warn(`Invalid referrer value <${requestQuery.referrer}>`);
		requestQuery.referrer = null;
	}
}
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} contentFooter={false} pageSidebar={false} ad={false}>
	<ol class="p-step">
		<li><span class="p-step__text">入力</span></li>
		<li><span class="p-step__text">確認</span></li>
		<li><em class="p-step__text -current">完了</em></li>
	</ol>
	<div class="p-text">
		<p>問い合わせを受け付けました。</p>

		{
			requestQuery.referrer !== null && requestQuery.referrer !== '' && (
				<p>
					<LinkBullet href={requestQuery.referrer}>元のページへ戻る</LinkBullet>
				</p>
			)
		}
		{
			(requestQuery.referrer === null || requestQuery.referrer === '') && (
				<p>
					<LinkBullet href="/">トップページへ戻る</LinkBullet>
				</p>
			)
		}
	</div>
</Layout>
