---
import Layout from '@layouts/Site.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import Step from '@components/Step.astro';
import StepItem from '@components/StepItem.astro';
import { string as requestString } from '@util/request.js';
import { init as ssrInit } from '@util/ssr.js';
import type { StructuredData } from '@type/types.js';

interface RequestQuery {
	referrer: string | null;
}

export const prerender = false;
const { logger } = ssrInit(Astro, { dev: import.meta.env.DEV });

const structuredData: StructuredData = {
	title: '問い合わせ（完了）',
	breadcrumb: [{ path: '/', name: 'ホーム' }],
};

const requestUrl = new URL(Astro.request.url);
const requestSearchParams = requestUrl.searchParams;

const requestQuery: RequestQuery = {
	referrer: requestString(requestSearchParams.get('referrer')),
};

if (requestQuery.referrer !== null && requestQuery.referrer !== '') {
	if (!requestQuery.referrer.startsWith('/')) {
		logger.warn(`Invalid referrer value <${requestQuery.referrer}>`);
		requestQuery.referrer = null;
	}
}
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} contentFooter={false} pageSidebar={false} ad={false}>
	<Step>
		<StepItem name="入力" />
		<StepItem name="確認" />
		<StepItem name="完了" current={true} />
	</Step>

	<p>問い合わせを受け付けました。</p>

	{
		requestQuery.referrer !== null && requestQuery.referrer !== '' && (
			<p>
				<Anchor href={requestQuery.referrer} bullet={true}>
					元のページへ戻る
				</Anchor>
			</p>
		)
	}
	{
		(requestQuery.referrer === null || requestQuery.referrer === '') && (
			<p>
				<Anchor href="/" bullet={true}>
					トップページへ戻る
				</Anchor>
			</p>
		)
	}
</Layout>
