---
import Layout from '@layouts/Site.astro';
import Step from '@components/Step.astro';
import StepItem from '@components/StepItem.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import { init as ssrInit } from '@util/ssr.ts';
import type { StructuredData } from '../../@types/util.d.ts';

export const prerender = false;
const { logger } = ssrInit(Astro, { dev: import.meta.env.DEV });

const structuredData: StructuredData = {
	title: '問い合わせ（完了）',
	breadcrumb: [{ path: '/', name: 'ホーム' }],
};

let referrer = new URL(Astro.request.url).searchParams.get('referrer') ?? undefined;
if (referrer !== undefined && referrer !== '') {
	if (!referrer.startsWith('/')) {
		logger.warn(`Invalid referrer value: ${referrer}`);
		referrer = undefined;
	}
}
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} contentFooter={false} pageSidebar={false} ad={false}>
	<Step>
		<StepItem name="入力" />
		<StepItem name="確認" />
		<StepItem name="完了" current={true} />
	</Step>

	<p>問い合わせを受け付けました。</p>

	{
		referrer !== undefined && (
			<p>
				<Anchor href={referrer} bullet={true}>
					元のページへ戻る
				</Anchor>
			</p>
		)
	}
	{
		referrer === undefined && (
			<p>
				<Anchor href="/" bullet={true}>
					トップページへ戻る
				</Anchor>
			</p>
		)
	}
</Layout>
