---
import dayjs from 'dayjs';
import Layout from '@layouts/Site.astro';
import AnchorImageSide from '@components/AnchorImageSide.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import ListDescription from '@components/ListDescription.astro';
import Section from '@components/Section.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import AnchorIcon from '@components/+phrasing/AnchorIcon.astro';
import Image from '@components/+phrasing/Image.astro';
import ImageAmazon from '@components/+phrasing/ImageAmazon.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	'schema-type': 'ProfilePage',
	title: '制作者',
	dateModified: dayjs('2025-08-31'),
	image: 'https://media.w0s.jp/image/info_profile.jpg',
	breadcrumb: [{ path: '/', name: 'ホーム' }],
	mainEntity: {
		'@type': 'Person',
		name: '富永冴樹',
		alternateName: 'トミー',
		image: 'https://media.w0s.jp/image/info_profile.jpg',
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="name">
		<Fragment slot="heading">名前</Fragment>

		<p><ruby>富永 冴樹<rp>（</rp><rt>とみなが さえき</rt><rp>）</rp></ruby> / トミー</p>

		<Embedded border={true}>
			<Image path="info_profile.jpg" alt="正方形のアイコン画像: 下っぱスーツでテンパる坪内地丹の顔が描かれたデザインカプチーノ" width={120} height={120} quality={60} slot="media" />
		</Embedded>
	</Section>

	<Section id="like">
		<Fragment slot="heading">興味</Fragment>

		<ListDescription>
			<dt>Web (HTML, Accessibility, etc.)</dt>
			<dd>この個人サイトを制作するために HTML を学んだことがきっかけで Web 技術に興味を持つ。マークアップが好き。HTML なにもわからない。</dd>
			<dt>東急電車</dt>
			<dd>幼少期から電車通園や電車通塾をしていたこと、車庫や手動踏切のあった元住吉駅を利用していたことから自然と興味がわく。ギリギリ旧3000系の記憶がある世代。</dd>
			<dt>久米田康治作品</dt>
			<dd>1999年1月27日、週刊少年サンデー 1999年9号に掲載された『<cite>かってに改蔵</cite>』第36話「<cite>科特部部室争奪戦</cite>」を読んで一目惚れ。</dd>
		</ListDescription>
	</Section>

	<Section id="service">
		<Fragment slot="heading">利用サービス</Fragment>

		<ul>
			<li>
				<AnchorIcon fileName="mastodon.svg" />
				<Anchor href="https://fedibird.com/@SaekiTominaga">Mastodon</Anchor>
			</li>
			<li>
				<AnchorIcon fileName="bluesky.svg" />
				<Anchor href="https://bsky.app/profile/w0s.jp" icon={false}>Bluesky</Anchor>
			</li>
			<li>
				<AnchorIcon fileName="x.png" />
				<Anchor href="https://x.com/SaekiTominaga" icon={false}>X</Anchor>
			</li>
			<li>
				<AnchorIcon fileName="instagram.png" />
				<Anchor href="https://www.instagram.com/saekitominaga/" icon={false}>Instagram</Anchor>
			</li>
			<li>
				<AnchorIcon fileName="youtube.svg" />
				<Anchor href="https://www.youtube.com/@SaekiTominaga" icon={false}>YouTube</Anchor>
			</li>
			<li>
				<AnchorIcon fileName="github.svg" />
				<Anchor href="https://github.com/SaekiTominaga" icon={false}>GitHub</Anchor>
			</li>
			<li>
				<AnchorIcon fileName="amazon.png" />
				<Anchor href="https://www.amazon.co.jp/~/e/B07FBRDDJN" icon={false}>Amazon（著者ページ）</Anchor>
			</li>
		</ul>

		<p>Web 関係の投稿は Mastodon、趣味の投稿は Bluesky で使い分けています。X<small>（旧：Twitter）</small>は自分のアカウントであることを証明するためにリンクは残していますが、日常的な使用は止めています。</p>
	</Section>

	<Section id="write">
		<Fragment slot="heading">執筆</Fragment>

		<p>ときどき本や雑誌で記事を書いています。</p>

		<Grid column="wide">
			<GridItem>
				<AnchorImageSide href="https://www.amazon.co.jp/dp/4802216769/">
					<Fragment slot="title">私鉄車両ディテールガイド　東急9000系・1000系・2000系</Fragment>
					<ImageAmazon slot="image" src="https://m.media-amazon.com/images/I/811MJUZeFoL._SL160_.jpg" alt="" width={115} height={160} />
					<Fragment slot="text">
						<p><b>イカロス・ムック、2025年11月発売</b></p>
					</Fragment>
				</AnchorImageSide>
			</GridItem>
			<GridItem>
				<AnchorImageSide href="/tokyu/book/tamagawa1067">
					<Fragment slot="title">公文書と統計資料でたどる玉川電気鉄道狭軌時代の車両</Fragment>
					<Image slot="image" path="tokyu/book/tamagawa1067_cover.jpg" width={114} height={160} quality={60} />
					<Fragment slot="text">
						<p><b>自費出版、2024年12月発売</b></p>
						<p>資料や写真が少なく謎に包まれている玉川電気鉄道の狭軌時代の車両について、公文書や統計資料などをもとに解明を試みました。</p>
					</Fragment>
				</AnchorImageSide>
			</GridItem>
			<GridItem>
				<AnchorImageSide href="/tokyu/book/7700">
					<Fragment slot="title">東急7700系形態分類</Fragment>
					<Image slot="image" path="tokyu/book/7700_cover.jpg" width={114} height={160} quality={60} />
					<Fragment slot="text">
						<p><b>自費出版、2019年8月発売</b></p>
						<p>池上線、東急多摩川線で活躍した東急7700系の形態バリエーションについて、2010年時点の在籍車36両を徹底解析しています。</p>
					</Fragment>
				</AnchorImageSide>
			</GridItem>
			<GridItem>
				<AnchorImageSide href="/tokyu/book/#tetsupic">
					<Fragment slot="title">鉄道ピクトリアル</Fragment>
					<Image slot="image" path="tokyu/book/tetsupic749_cover.jpg" width={114} height={160} quality={60} />
					<Fragment slot="text">
						<p><b>商業雑誌</b></p>
						<p>東急電車や譲渡車両に関する記事を書いています。</p>
					</Fragment>
				</AnchorImageSide>
			</GridItem>
		</Grid>
	</Section>
</Layout>
