---
import dayjs from 'dayjs';
import Layout from '@layouts/W0s.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import ImageAmazon from '@components/ImageAmazon.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	'schema-type': 'ProfilePage',
	title: '制作者',
	dateModified: dayjs('2024-06-17'),
	image: 'https://media.w0s.jp/image/info_profile.jpg',
	breadcrumb: [{ path: '/', name: 'ホーム' }],
	mainEntity: {
		'@type': 'Person',
		name: '富永冴樹',
		alternateName: 'トミー',
		image: 'https://media.w0s.jp/image/info_profile.jpg',
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="name">
		<H slot="heading">名前</H>

		<p><ruby>富永 冴樹<rp>（</rp><rt>とみなが さえき</rt><rp>）</rp></ruby> / トミー</p>

		<figure>
			<div class="p-embed -border">
				<Image path="info_profile.jpg" alt="正方形のアイコン画像: 下っぱスーツでテンパる坪内地丹の顔が描かれたデザインカプチーノ" width={120} height={120} quality={60} />
			</div>
		</figure>
	</Section>

	<Section id="like">
		<H slot="heading">興味</H>

		<dl class="p-list-description">
			<dt>Web (HTML, Accessibility, etc.)</dt>
			<dd>この個人サイトを制作するために HTML を学んだことがきっかけで Web 技術に興味を持つ。マークアップが好き。HTML なにもわからない。</dd>
			<dt>東急電車</dt>
			<dd>幼少期から電車通園や電車通塾をしていたこと、車庫や手動踏切のあった元住吉駅を利用していたことから自然と興味がわく。ギリギリ旧3000系の記憶がある世代。</dd>
			<dt>久米田康治作品</dt>
			<dd>1999年1月27日、週刊少年サンデー 1999年9号に掲載された『かってに改蔵』第36話「科特部部室争奪戦」を読んで一目惚れ。</dd>
		</dl>
	</Section>

	<Section id="service">
		<H slot="heading">利用サービス</H>

		<ul>
			<li>
				<img src="/assets/image/icon/mastodon.png" alt="" class="c-link-icon" width="16" height="16" />
				<LinkExternal href="https://fedibird.com/@SaekiTominaga">Mastodon</LinkExternal>
			</li>
			<li>
				<img src="/assets/image/icon/bluesky.png" alt="" class="c-link-icon" width="16" height="16" />
				<LinkExternal href="https://bsky.app/profile/w0s.jp" icon={false}>Bluesky</LinkExternal>
			</li>
			<li>
				<img src="/assets/image/icon/x.png" alt="" class="c-link-icon" width="16" height="16" />
				<LinkExternal href="https://x.com/SaekiTominaga" icon={false}>X</LinkExternal>
			</li>
			<li>
				<img src="/assets/image/icon/instagram.png" alt="" class="c-link-icon" width="16" height="16" />
				<LinkExternal href="https://www.instagram.com/saekitominaga/" icon={false}>Instagram</LinkExternal>
			</li>
			<li>
				<img src="/assets/image/icon/youtube.svg" alt="" class="c-link-icon" width="16" height="16" />
				<LinkExternal href="https://www.youtube.com/@SaekiTominaga" icon={false}>YouTube</LinkExternal>
			</li>
			<li>
				<img src="/assets/image/icon/github.svg" alt="" class="c-link-icon" width="16" height="16" />
				<LinkExternal href="https://github.com/SaekiTominaga" icon={false}>GitHub</LinkExternal>
			</li>
			<li>
				<img src="/assets/image/icon/amazon.png" alt="" class="c-link-icon" width="16" height="16" />
				<LinkExternal href="https://www.amazon.co.jp/~/e/B07FBRDDJN" icon={false}>Amazon（著者ページ）</LinkExternal>
			</li>
		</ul>

		<div class="p-text">
			<p>Web 関係の投稿は Mastodon、趣味の投稿は Bluesky で使い分けています。X<small>（旧：Twitter）</small>は自分のアカウントであることを証明するためにリンクは残していますが、日常的な使用は止めています。</p>
		</div>
	</Section>

	<Section id="write">
		<H slot="heading">執筆</H>

		<div class="p-text">
			<p>ときどき本や雑誌で記事を書いています。</p>
		</div>

		<ul class="c-grid -wide">
			<li class="c-grid__item">
				<div class="p-item">
					<a href="/tokyu/book/7700">
						<Image path="tokyu/book/7700_cover.jpg" width={114} height={160} quality={60} class="p-item__image" />
						<span class="p-item__title">東急7700系形態分類</span>
					</a>

					<div class="p-item__text">
						<p>
							<b>自費出版、2019年8月発売</b>
						</p>
						<p>池上線、東急多摩川線で活躍した東急7700系の形態バリエーションについて、2010年時点の在籍車36両を徹底解析しています。</p>
					</div>
				</div>
			</li>
			<li class="c-grid__item">
				<div class="p-item">
					<LinkExternal href="https://www.amazon.co.jp/dp/480220695X/">
						<ImageAmazon src="https://m.media-amazon.com/images/I/51uD92OAjNL._SL160_.jpg" width={111} height={160} class="p-item__image" />
						<span class="p-item__title">東急電鉄 1989-2019</span>
					</LinkExternal>

					<div class="p-item__text">
						<p>
							<b>イカロス・ムック、2019年8月発売</b>
						</p>
						<p>平成時代の東急電車の動向をまとめた本です。「現役車両ガイド」の一部の本文解説を担当しました。</p>
					</div>
				</div>
			</li>
			<li class="c-grid__item">
				<div class="p-item">
					<a href="/tokyu/book/#tetsupic">
						<Image path="tokyu/book/tetsupic749_cover.jpg" width={114} height={160} quality={60} class="p-item__image" />
						<span class="p-item__title">鉄道ピクトリアル</span>
					</a>

					<div class="p-item__text">
						<p><b>商業雑誌</b></p>
						<p>東急電車や譲渡車両に関する記事を書いています。</p>
					</div>
				</div>
			</li>
		</ul>
	</Section>
</Layout>
