<!DOCTYPE html>
<html lang="ja">
	<head>
		<style>
			table {
				border-collapse: collapse;
			}

			th,
			td {
				padding: 0.5em;
				border: 1px solid;
			}

			th {
				background: #eee;
				text-align: left;
			}

			pre {
				font-family: inherit;
				white-space: pre-wrap;
			}

			dt {
				font-weight: bold;
			}

			dd {
				margin-left: 1em;
			}
		</style>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<th>名前</th>
					<td><%= requestQuery.name %></td>
				</tr>
				<tr>
					<th>Eメールアドレス</th>
					<td><%= requestQuery.email %></td>
				</tr>
				<tr>
					<th>返信の有無</th>
					<td><%= reply[requestQuery.reply] %></td>
				</tr>
				<tr>
					<th>内容</th>
					<td><pre><%= requestQuery.body %></pre></td>
				</tr>
			</tbody>
		</table>

		<dl>
			<dt>IP アドレス</dt>
			<dd>
				<a href="https://ja.asuka.io/whois/<%= ip %>"><%= ip %></a>
			</dd>
			<dt>ユーザーエージェント</dt>
			<dd><%= ua %></dd>
		</dl>
	</body>
</html>
