---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import LibContent from '@components/LibContent.astro';
import LibItem from '@components/LibItem.astro';
import LibNewspaper from '@components/LibNewspaper.astro';
import List from '@components/List.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '久米田康治作品の新聞での紹介例',
	heading: 'メディア紹介 — 新聞',
	dateModified: dayjs('2025-04-19'),
	description: '新聞紙上において久米田先生のインタビューや作品紹介などが掲載された事例のリストです。',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
	localNav: {
		label: 'メディア紹介',
		items: [
			{ path: '/kumeta/library/manga', name: '漫画雑誌' },
			{ path: '/kumeta/library/book', name: '図書、一般雑誌' },
			{ path: '/kumeta/library/newspaper', name: '新聞' },
			{ path: '/kumeta/library/freepaper', name: 'フリーペーパー' },
			{ path: '/kumeta/library/web', name: 'Web' },
		],
	},
	tocDirection: 'row',
	moduleScripts: ['library-tag.mjs'],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<Fragment slot="heading">2002年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2002-03-23" npClass="夕刊">
			<LibContent>
				<LibItem position="6面">「<cite>このギャグ笑える? 笑えない?</cite>」で『<cite>魁!!クロマティ高校</cite>』、『<cite>あずまんが大王</cite>』などと共に『<cite>かってに改蔵</cite>』が紹介、『<cite>魁!!クロマティ高校</cite>』と同じく<q>「笑えるヤツだけ笑えばよし」という開き直りが徹底</q>との評</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2006年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2006-04-16" npClass="朝刊">
			<LibContent>
				<LibItem position="14面">「<cite>ササキバラ・ゴウ　コミックガイド</cite>」にて『<cite>さよなら絶望先生</cite>』紹介<small>（<Anchor href="https://web.archive.org/web/20060426054235/http://book.asahi.com/comic/TKY200604190336.html">アサヒ・コムBOOK</Anchor>にも一時期掲載されていた）</small></LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2007年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2007-01-31" npClass="夕刊">
			<LibContent>
				<LibItem position="5面">「<cite>「鈴木先生」が話題　武富健治さん</cite>」教師作品の関連として『<cite>さよなら絶望先生</cite>』も紹介、第一話の<q>金ぎたない世の中に絶望した!!</q>のコマ掲載<small>（<Anchor href="https://web.archive.org/web/20070207123159/https://www.yomiuri.co.jp/book/news/20070131bk01.htm">YOMIURI ONLINE</Anchor>にも一時期掲載されていた）</small></LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2007-05-20" npClass="朝刊">
			<LibContent>
				<LibItem position="27面">「<cite>講談社漫画賞決まる</cite>」第31回講談社漫画賞の発表（『<cite>さよなら絶望先生</cite>』受賞）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="新潟日報" release="2007-06-22" npClass="朝刊">
			<LibContent>
				<LibItem position="28面（県内総合）">「<cite>よい作品　今後も　講談社漫画賞　県出身2氏へ賞状</cite>」第31回講談社漫画賞授賞式の記事、久米田先生が壇上で小川悦司と矢神ひろきの間に立たれている写真が掲載（記事自体は県内出身の小川、矢神両先生の紹介であり久米田先生への言及はなし）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2007-07-04" npClass="Vol.39 2007年7月号B" tags={['アニメ']}>
			<LibContent>
				<LibItem position="2面">アニメ『<cite>さよなら絶望先生</cite>』ポスター広告（モノクロ）</LibItem>
				<LibItem position="15面">アフレコインタビュー（井上麻里奈、神谷浩史、松来未祐、後藤邑子、小林ゆう、野中藍、新谷良子）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2007-08-08" npClass="Vol.41 2007年8月号B" tags={['音楽']}>
			<LibContent>
				<LibItem position="29面">「<cite>人として軸がぶれている</cite>」大槻ケンヂインタビュー</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2007-08-29" npClass="Vol.42 2007年9月号" tags={['アニメ']}>
			<LibContent>
				<LibItem position="20面">「<cite>人として軸がぶれている</cite>」広告</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2007-09-21" npClass="Vol.43 2007年10月号A" tags={['インタビュー', 'アニメ']}>
			<LibContent>
				<LibItem position="1面">久米田康治&amp;神谷浩史対談</LibItem>
				<LibItem position="4–5面">久米田康治&amp;神谷浩史対談（1面の続き）</LibItem>
				<LibItem position="2面">「<cite>人として軸がぶれている</cite>」広告</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2008年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2008-01-02" npClass="Vol.49 2008年新年号" tags={['アニメ']}>
			<LibContent>
				<LibItem position="12–13面">『<cite>俗・さよなら絶望先生</cite>』広告</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2008-01-23" npClass="Vol.50 2008年2月号" tags={['アニメ']}>
			<LibContent>
				<LibItem position="13面">『<cite>俗・さよなら絶望先生</cite>』前田くんインタビュー</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" npClass="Vol.51 2008年3月号" tags={['アニメ']}>
			<LibContent>
				<LibItem position="4面">『<cite>俗・さよなら絶望先生</cite>』広告（「<cite>マリオネット</cite>」ほか）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2008-06-24" npClass="Vol.73 2009年7月号" tags={['アニメ']}>
			<LibContent>
				<LibItem position="6面">『<cite>懺・さよなら絶望先生</cite>』広告</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2008-07-15" npClass="Vol.74 2009年8月号" tags={['アニメ', '音楽']}>
			<LibContent>
				<LibItem position="10面">「<cite>林檎もぎれビーム</cite>」大槻ケンヂインタビュー</LibItem>
				<LibItem position="11面">『<cite>懺・さよなら絶望先生</cite>』神谷浩史インタビュー</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2008-08-19" npClass="Vol.75 2009年9月号" tags={['アニメ']}>
			<LibContent>
				<LibItem position="9面">『<cite>懺・さよなら絶望先生</cite>』広告</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2009年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="東京新聞" release="2009-01-01" npClass="朝刊">
			<LibContent>
				<LibItem position="第4部3面">「<cite>マンガ週刊誌　半世紀</cite>」のすごろくで2005年のコマに『<cite>さよなら絶望先生</cite>』『<cite>最強! 都立あおい坂高校野球部</cite>』の作品名が掲載</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="中日新聞" release="2009-02-10" npClass="夕刊">
			<LibContent>
				<LibItem position="10面">「<cite>らっぷびと　動画サイトでアクセス殺到</cite>」で『<cite>さよなら絶望先生</cite>』の楽曲にも言及</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="東京新聞" release="2009-03-16" npClass="朝刊">
			<LibContent>
				<LibItem position="13面">「<cite>動画サイトからデビュー『らっぷびと』</cite>」で『<cite>さよなら絶望先生</cite>』の楽曲にも言及</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞（島根版）" release="2009-03-19" npClass="朝刊">
			<LibContent>
				<LibItem position="32面（地域）">「<cite>私のお薦め</cite>」で松江農林高教諭による『<cite>さよなら絶望先生</cite>』紹介</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカンR" release="2009-07-01" npClass="Vol.23" tags={['アニメ']}>
			<LibContent>
				<LibItem position="8面">『<cite>懺・さよなら絶望先生</cite>』神谷浩史インタビュー</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2010年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカンR" release="2010-04-28" npClass="Vol.43" tags={['ラジオ']}>
			<LibContent>
				<LibItem>「<cite>神谷浩史のオールナイトニッポンR</cite>」特集</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="日本経済新聞" release="2010-05-23" npClass="朝刊">
			<LibContent>
				<LibItem position="20面">「<cite>半歩遅れの読書術</cite>」（明治大学教授・高山宏）で逆説的世界観の事例として『<cite>さよなら絶望先生</cite>』が紹介</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="埼玉新聞" release="2010-06-27">
			<LibContent>
				<LibItem position="10面">「<cite>山村高淑のサブカルサプリ</cite>」で『<cite>かってに改蔵</cite>』が紹介、埼玉県内の舞台設定に言及</LibItem>
			</LibContent>

			<ListNote>
				<li>著者の所属する北海道大学のサイトで<Anchor href="https://hdl.handle.net/2115/53071">紙面が公開</Anchor>。</li>
			</ListNote>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2010-06-28" npClass="夕刊">
			<LibContent>
				<LibItem position="11面">「<cite>伝統芸能と「萌え」の新世界</cite>」で『<cite>國崎出雲の事情</cite>』など他作品と混じって『<cite>じょしらく</cite>』が紹介、担当・三浦敏宏コメント、一日目3ページ目<q>音だったら犬より猫でしょう</q>のカット掲載</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2011年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカンR" release="2011-06-01" npClass="Vol.129" tags={['アニメ']}>
			<LibContent>
				<LibItem>OVA『<cite>かってに改蔵</cite>』特集、櫻井孝宏5000字インタビュー</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2011-09-14" npClass="夕刊 POPSTYLE Vol.265">
			<LibContent>
				<LibItem position="8–9面">赤松健×畑健二郎の対談の中で「毎回アフレコに行っていた」「女性声優と飲みに行った」などの話が挙がる</LibItem>
			</LibContent>

			<ListNote>
				<li><Anchor href="http://blog.yomiuri.co.jp/popstyle/2011/09/post-2d6d.html">popstyle ブログでの紹介</Anchor>。</li>
			</ListNote>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2012年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2012-01-26" npClass="夕刊">
			<LibContent>
				<LibItem position="5面">「<cite>小池龍之介の心を保つお稽古</cite>」で『<cite>さよなら絶望先生</cite>』第7集紙ブログにおける宅配便を優先されて約束を反故にされたネタが紹介</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="アニカン" release="2012-06-20" npClass="Vol.109 2012年7月号" tags={['アニメ']}>
			<LibContent>
				<LibItem position="23面">『<cite>じょしらく</cite>』水島努インタビュー</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="山形新聞" release="2012-11-24">
			<LibContent>
				<LibItem position="7面">「<cite>ことばの杜へ</cite>」で『<cite>さよなら絶望先生</cite>』第四十話「<cite>人生は一段のひな壇にも若かない</cite>」での望のセリフ<q>人間　上ばかり見ていては　自分の限界を感じた時　空しいだけです　世の中　上に伸びる段だけじゃないのです!</q>を引用しつつ、社会問題としての自殺についての言説</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2015年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2015-07-27" npClass="夕刊">
			<LibContent>
				<LibItem position="6面">村田沙耶香（作家）による漫画作品のヒロイン紹介で名取羽美が取り上げられる</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="熊本日日新聞" release="2015-11-11">
			<LibContent>
				<LibItem position="14面（県内総合）">「<cite>コスプレの世界　満喫</cite>」ゆのまえ漫画フェスタの記事、写真に糸色望コスプレの職員（サイン会で久米田先生のサポートをされた方）が写り込み</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="スポーツ報知" release="2015-11-27" npClass="MADOGATARI展特別号" tags={['アニメ']}>
			<LibContent>
				<LibItem>折り込みポスターの裏面に他作品に混じって『<cite>さよなら絶望先生</cite>』1期キービジュアルも掲載</LibItem>
			</LibContent>

			<ListNote>
				<li>シャフト設立40周年イベント<Anchor href="https://www.madogatari.jp/">MADOGATARI展</Anchor>の会場とコミケットで販売されたもの（タブロイド紙だがイベントのグッズ扱いで正式な新聞ではない）。</li>
				<li>2016年8月〜12月の期間限定で<Anchor href="https://prtimes.jp/main/html/rd/p/000000739.000001227.html">電子版も発売</Anchor>。</li>
			</ListNote>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2017年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞（熊本版）" release="2017-09-08" npClass="朝刊">
			<LibContent>
				<LibItem position="22面">「<cite>原画・関連本など280点　湯前　久米田康治さん原画展</cite>」かくしごと展の紹介記事</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="西日本新聞" release="2017-09-25" npClass="夕刊">
			<LibContent>
				<LibItem position="7面">湯前まんが美術館のイベント情報として「久米田康治のかくしごと展」の概要が掲載</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2020年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2020-04-19" npClass="夕刊" tags={['インタビュー']}>
			<LibContent>
				<LibItem position="3面">「<cite>作家100人　コロナ禍切り取る</cite>」Day to Day の紹介記事で久米田先生の顔写真とコメント掲載</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2020-05-06" npClass="夕刊">
			<LibContent>
				<LibItem position="1面">『<cite>MANGA Day to Day</cite>』の紹介記事<small>（<Anchor href="https://www.asahi.com/articles/ASP56358TP4XUTIL071.html">朝日新聞デジタル</Anchor>にも掲載）</small></LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2020-05-09" npClass="夕刊" tags={['アニメ']}>
			<LibContent>
				<LibItem position="2面">「<cite>アニメ新番組で気分転換</cite>」（小原篤）で『<cite>かくしごと</cite>』紹介（他の春アニメ10本の中の1つ）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="中日新聞" release="2020-05-23" npClass="夕刊">
			<LibContent>
				<LibItem position="4面（文化・芸能）">「<cite>週刊読書かいわい</cite>」（辻真先）で『<cite>かくしごと</cite>』紹介</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2021年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2021-03-21" tags={['音楽']}>
			<LibContent>
				<LibItem position="30面">「<cite>A LONG VACATION</cite>」広告（コラボポスターがカラーで掲載）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2021-04-19" npClass="夕刊" tags={['インタビュー']}>
			<LibContent>
				<LibItem position="3面">「<cite>作家100人　コロナ禍切り取る</cite>」久米田康治&amp;月村了衛コメント</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2021-05-06" npClass="夕刊">
			<LibContent>
				<LibItem position="1面">「<cite>コロナの100日　漫画で描いて</cite>」</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="東京中日スポーツ" release="2021-07-12" tags={['アニメ']}>
			<LibContent>
				<LibItem position="18面">「<cite>高橋李依「『じわじわ』願ってます」</cite>」映画『<cite>かくしごと</cite>』舞台挨拶レポート、登壇者写真掲載（声優陣5人のみ）</LibItem>
			</LibContent>

			<ListNote>
				<li>同日の中日スポーツは休刊で代わりに「特別販売版」が発行されたようだが、そちらへの掲載可否は未確認。</li>
			</ListNote>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="中日スポーツ" release="2021-07-18" tags={['アニメ']}>
			<LibContent>
				<LibItem position="20面">「<cite>原作者が半ギレ</cite>」映画『<cite>かくしごと</cite>』舞台挨拶レポート、登壇者6人の写真掲載（カラー）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="東京中日スポーツ" release="2021-07-18" tags={['アニメ']}>
			<LibContent>
				<LibItem position="18面">「<cite>原作者が半ギレ</cite>」映画『<cite>かくしごと</cite>』舞台挨拶レポート、登壇者写真掲載（カラー）<small>（同日発行の「<cite>中日スポーツ</cite>」と同内容）</small></LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞（湘南版）" release="2021-11-20" tags={['アニメ']}>
			<LibContent>
				<LibItem position="23面">「<cite>鎌倉舞台アニメ　グッズ返礼品に</cite>」ふるさと納税の返礼品に『<cite>かくしごと</cite>』グッズ</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2023年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="日本経済新聞" release="2023-03-28" npClass="夕刊">
			<LibContent>
				<LibItem position="12面">「<cite>腕磨く姿に共感応援</cite>」週刊少年ジャンプ掲載『<cite>あかね噺</cite>』の紹介記事だが、落語漫画つながりで『<cite>じょしらく</cite>』も紹介<small>（<Anchor href="https://www.nikkei.com/article/DGKKZO69644980Y3A320C2BE0P00/">Web 記事（有料会員限定）</Anchor>にも掲載）</small></LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">2024年</Fragment>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2024-04-30" npClass="朝刊">
			<LibContent>
				<LibItem position="24面（TV欄）">『<cite>踊る！さんま御殿!!</cite>』の紹介文に<q>職質される人気漫画家</q></LibItem>
			</LibContent>

			<ListNote>
				<li><Anchor href="https://www.ntv.co.jp/goten/articles/32dxmld9epjxplcgbp.html">「人によく怒られる有名人」特集</Anchor>で久米田先生が同番組2回目の出演。</li>
				<li>一例として朝日新聞の朝刊を挙げたが、他の多くの新聞の TV 欄でも同様の内容が夕刊を含めて掲載。</li>
			</ListNote>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="読売新聞" release="2024-06-21" npClass="夕刊">
			<LibContent>
				<LibItem position="9面">「<cite>レクサス窃盗容疑　逮捕</cite>」久米田先生所有のレクサスが2023年2月に盗難に遭い、容疑者2人が逮捕された事件の報道（被害者実名報道）。</LibItem>
			</LibContent>

			<ListNote>
				<li>当事件は産経新聞による独自報道で <Anchor href="https://www.sankei.com/article/20240621-DONL7TAZ3RJ5LMVTM7DDYPG22M/">6月21日10:00に発表</Anchor>された。当日の夕刊への掲載が確認できたのはこの読売新聞と次に挙げる北國新聞のみだが、翌日には多くの新聞（スポーツ紙を含む）に掲載された。</li>
				<li>当事件は当日の TV ニュース番組やラジオ番組中のニュースコーナー等でも報道され、その一部は本記事のように被害者実名報道が行われた。</li>
			</ListNote>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="北國新聞" release="2024-06-21" npClass="夕刊">
			<LibContent>
				<LibItem position="7面">「<cite>漫画家のレクサス窃盗疑い</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="毎日新聞" release="2024-06-22" npClass="朝刊">
			<LibContent>
				<LibItem position="19面">「<cite>漫画家所有の高級車を盗難</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="日本経済新聞" release="2024-06-22" npClass="朝刊">
			<LibContent>
				<LibItem position="39面">「<cite>レクサス窃盗　容疑者逮捕　被害総額7億円強か</cite>」レクサス盗難事件に関する記事（被害者名記載なし）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="日刊スポーツ" release="2024-06-22">
			<LibContent>
				<LibItem position="27面">「<cite>「さよなら絶望先生」漫画家のレクサス　盗んだ2人を逮捕</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="スポーツニッポン" release="2024-06-22">
			<LibContent>
				<LibItem position="21面">「<cite>漫画家のレクサス　盗んで男2人逮捕　「絶望先生」作者被害</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="スポーツ報知" release="2024-06-22">
			<LibContent>
				<LibItem position="25面">「<cite>漫画家の愛車　窃盗疑い逮捕</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="埼玉新聞" release="2024-06-22">
			<LibContent>
				<LibItem position="14面">「<cite>漫画家のレクサス窃盗疑い　男2人逮捕、警視庁</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="東京新聞" release="2024-06-22" npClass="朝刊">
			<LibContent>
				<LibItem position="23面">「<cite>漫画家のレクサス　盗んだ疑いで逮捕</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="神奈川新聞" release="2024-06-22">
			<LibContent>
				<LibItem position="23面">「<cite>漫画家のレクサス窃盗疑い</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="中国新聞" release="2024-06-22">
			<LibContent>
				<LibItem position="28面">「<cite>漫画家のレクサス盗んだ疑い　警視庁逮捕</cite>」レクサス盗難事件に関する記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="東京新聞" release="2024-06-23" npClass="朝刊">
			<LibContent>
				<LibItem position="20面">「<cite>狙われる国産高級車</cite>」レクサス盗難事件の手口に関してより深掘りした記事（被害者実名報道）、同内容が <Anchor href="https://www.tokyo-np.co.jp/article/335359">Web 記事</Anchor>でも公開</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="東京新聞" release="2024-08-03" npClass="朝刊">
			<LibContent>
				<LibItem position="21面">「<cite>30代2男性不起訴</cite>」レクサス盗難事件の容疑者が不起訴になった記事（被害者実名報道）</LibItem>
			</LibContent>

			<ListNote>
				<li>6月21日に報道されたレクサス盗難事件の続報で <Anchor href="https://www.sankei.com/article/20240802-KJUC6DXJLVPU7HE2HL2QRI4OFE/">8月2日の夜に発表</Anchor>された。</li>
			</ListNote>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="日本経済新聞" release="2024-08-03" npClass="夕刊">
			<LibContent>
				<LibItem position="9面">「<cite>車窃盗疑い、2人不起訴　地検、漫画家が被害</cite>」レクサス盗難事件の容疑者が不起訴になった記事（被害者実名報道）</LibItem>
			</LibContent>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日新聞" release="2024-10-29" npClass="朝刊">
			<LibContent>
				<LibItem position="40面（TV欄）">『<cite>踊る！さんま御殿!!</cite>』の紹介文に<q>売れたくて絵を変えた人気漫画家悲しい告白</q></LibItem>
			</LibContent>

			<ListNote>
				<li><Anchor href="https://www.ntv.co.jp/goten/articles/3250d1gen2jm3xjyth.html">「流行りに乗りたい人vs流行りに乗らない人」特集</Anchor>で久米田先生が同番組3回目の出演。</li>
				<li>一例として朝日新聞の朝刊を挙げたが、他の多くの新聞の TV 欄でも同様の内容が夕刊を含めて掲載。</li>
			</ListNote>
		</LibNewspaper>

		<LibNewspaper slugger={slugger} headingLevel={3} title="朝日中高生新聞" release="2024-11-03">
			<LibContent>
				<LibItem position="12面">「<cite>前Qのキテる! アニメ</cite>」（前田久）で学園ものアニメ『<cite>妖怪学校の先生はじめました！</cite>』が紹介、関連してブラックな学園ものアニメの『<cite>さよなら絶望先生</cite>』も紹介</LibItem>
			</LibContent>
		</LibNewspaper>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">調査中</Fragment>

		<List>
			<li><q cite="https://x.com/23720/status/15032124387">そういえば新聞を読み直していたら、絶望先生の作者の名前が見えた気がしたけど、同姓同名の気のせい？</q><Anchor href="https://x.com/23720/status/15032124387">2010年5月30日 18:49 投稿</Anchor></li>
			<li><q cite="https://x.com/yaeee212/status/63502934339616768">電車待ってたら隣の男の人の新聞に絶望先生の文字 なんだとっ</q><Anchor href="https://x.com/yaeee212/status/63502934339616768">2011年4月28日 16:20 投稿</Anchor></li>
			<li><q cite="https://x.com/yuki_snow05/status/217448049985859584">絶望先生が新聞に載ってたー</q><Anchor href="https://x.com/yuki_snow05/status/217448049985859584">2012年6月26日 11:43 投稿</Anchor></li>
			<li><q cite="https://x.com/gypsy324/status/585490152736325632">鈴木先生特集の新聞記事に絶望先生も出てるあたりが、なんていうか俺の縮図かこれ</q><Anchor href="https://x.com/gypsy324/status/585490152736325632">2015年4月8日 02:11 投稿</Anchor></li>
		</List>
	</Section>
</Layout>
