---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import Date from '@components/Date.astro';
import H from '@components/H.astro';
import LinkExternal from '@components/LinkExternal.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '久米田康治作品の Web での紹介例',
	heading: 'メディア紹介 — Web',
	dateModified: dayjs('2024-06-27'),
	description: 'Web ページにおいて久米田作品のインタビューやイベントレポートなどが掲載された事例のリストです。',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
	localNav: [
		{ path: '/kumeta/library/manga', name: '漫画雑誌' },
		{ path: '/kumeta/library/book', name: '図書、一般雑誌' },
		{ path: '/kumeta/library/newspaper', name: '新聞' },
		{ path: '/kumeta/library/freepaper', name: 'フリーペーパー' },
		{ path: '/kumeta/library/web', name: 'Web' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<H slot="heading">インタビュー&amp;コメント</H>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col">公開日</th>
						<th scope="col">タイトル</th>
						<th scope="col">インタビューイ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><Date value="2007-07-24" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20070825180822/http://pc.webnt.jp/hotnews/news506.html">あの話題作がアニメで登場「さよなら絶望先生」アフレコ</LinkExternal></td>
						<td><cite class="c-cite -work">絶望</cite>キャスト陣</td>
					</tr>
					<tr>
						<td><Date value="2007-08-11" /></td>
						<td><LinkExternal href="https://p-tina.net/interview/81">アニメ新表現宣言！新房監督作品の奥にアニメ表現の最先端を見た！《前編》</LinkExternal></td>
						<td>新房昭之、尾石達也、大沼心</td>
					</tr>
					<tr>
						<td><Date value="2007-09-21" /></td>
						<td><LinkExternal href="https://p-tina.net/interview/84">アニメ新表現宣言！新房監督作品の奥にアニメ表現の最先端を見た！《後編》</LinkExternal></td>
						<td>新房昭之、尾石達也、大沼心</td>
					</tr>
					<tr>
						<td><Date value="2007-09-06" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080310141149/http://www.animate.tv/news/detail.php?id=atv070907b">『さよなら絶望先生』のWeb＆携帯ラジオがスタート！　パーソナリティは神谷浩史さんと新谷良子さん</LinkExternal></td>
						<td>神谷浩史、新谷良子</td>
					</tr>
					<tr>
						<td><Date value="2007-12-10" /></td>
						<td><LinkExternal href="https://www.cyzo.com/2007/12/post_183_entry.html">『さよなら絶望先生』作者が「ジャンプスクエア」にラブコール!?</LinkExternal></td>
						<td>講談社担当編集</td>
					</tr>
					<tr>
						<td><Date value="2008-03-06" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080308231701/http://www.animate.tv/news/detail.php?id=atv080306c">「もし三期ができたらCパートはBLが入ると思います（笑）」松来未祐さんが衝（笑）撃発言！？『俗・さよなら絶望先生』最終回アフレコレポート</LinkExternal></td>
						<td><cite class="c-cite -work">絶望</cite>キャスト陣</td>
					</tr>
					<tr>
						<td><Date value="2008-03-07" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080405035411/http://mantora.com/7/news.php?tid=429">最後まで“絶望した！” 『俗・さよなら絶望先生』最終回アフレコレポート</LinkExternal></td>
						<td><cite class="c-cite -work">絶望</cite>キャスト陣</td>
					</tr>
					<tr>
						<td><Date value="2008-03" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080330015906/http://www.presepe.jp/m44/sp/id/PAuhyM2PGKg%3D">副監督：龍輪直征さんインタビュー!!</LinkExternal></td>
						<td>龍輪直征</td>
					</tr>
					<tr>
						<td><Date value="2008-04" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080411112006/http://seigura.com/news/news/555">『俗・さよなら絶望先生』最終回！　神谷浩史、野中藍、井上麻里奈、小林ゆうらのキャストコメントをチェック☆</LinkExternal></td>
						<td><cite class="c-cite -work">絶望</cite>キャスト陣</td>
					</tr>
					<tr>
						<td><Date value="2008-08-13" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080816044951/http://journal.mycom.co.jp/articles/2008/08/13/zetsubou/">OADでさらに暴走!? 『獄・さよなら絶望先生』アフレコでの心境を神谷、野中が激白</LinkExternal></td>
						<td>神谷浩史、野中藍</td>
					</tr>
					<tr>
						<td><Date value="2008-08-18" /></td>
						<td><LinkExternal href="https://gnn.gamer.com.tw/detail.php?sn=32000" hreflang="zh-Hant" lang="zh-Hant">【漫博 08】《絕望先生》作者久米田表示漫博座談會讓他不絕望</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2009-07-07" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1241742729">大槻ケンヂ氏から「林檎もぎれビーム！」発売記念インタビューが..</LinkExternal></td>
						<td>大槻ケンヂ</td>
					</tr>
					<tr>
						<td><Date value="2011-02-09" /></td>
						<td><LinkExternal href="https://news.mynavi.jp/article/20110209-kaizo/">『かってに改蔵』、2011年4月よりOVA全3巻で展開! メインキャストが語る作品の魅力</LinkExternal></td>
						<td><cite class="c-cite -work">改蔵</cite>キャスト陣</td>
					</tr>
					<tr>
						<td><Date value="2011-02-09" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1297212644">アニメ『かってに改蔵』アフレコ収録後のキャストに直撃！</LinkExternal></td>
						<td>櫻井孝宏、喜多村英梨、堀江由衣</td>
					</tr>
					<tr>
						<td><Date value="2012-07-04" /></td>
						<td><LinkExternal href="https://natalie.mu/comic/pp/joshiraku">TVアニメ「じょしらく」 原作担当・久米田康治インタビュー</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2012-08-29" /></td>
						<td><LinkExternal href="http://animestyle.jp/2012/08/29/2201/">『じょしらく』ミニ特集『じょしらく』水島努監督インタビュー「萌えアニメ」としてブレずに作っていきたい</LinkExternal></td>
						<td>水島努</td>
					</tr>
					<tr>
						<td><Date value="2014-03-26" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20140808040205/http://bonet.info/interview/6712">アニメ新表現宣言！新房監督作品の奥にアニメ表現の最先端を見た！</LinkExternal></td>
						<td>新房昭之、尾石達也、大沼心</td>
					</tr>
					<tr>
						<td><Date value="2014-04-13" /></td>
						<td><LinkExternal href="https://tablet.wacom.co.jp/article/creative-case-studymanga-kumeta">CREATIVE CASE STUDY/MANGA 久米田康治</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2015-12-04" /></td>
						<td><LinkExternal href="https://mantan-web.jp/article/20151204dog00m200002000c.html">マンガ新連載：「かくしごと」　「さよなら絶望先生」作者が挑む「愛と笑いの“裏まんが道”」</LinkExternal></td>
						<td>竹田哲也</td>
					</tr>
					<tr>
						<td><Date value="2016-04-15" /></td>
						<td><LinkExternal href="https://news.kodansha.co.jp/20160415_c01">【正直やる気なかった？】『さよなら絶望先生』の久米田康治、最新作裏話</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2016-06-17" /></td>
						<td><LinkExternal href="https://news.kodansha.co.jp/20160617_c02">【正直やる気なかった？】『さよなら絶望先生』の久米田康治、最新作裏話</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2016-06-30" /></td>
						<td><LinkExternal href="https://natalie.mu/comic/pp/kumetakoji">久米田康治、画業26年目インタビュー</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2016-08-10" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1470383179">構成作家・田原弘毅さんは語る「ラジオは参加するといっそう楽しい」</LinkExternal></td>
						<td>田原弘毅</td>
					</tr>
					<tr>
						<td><Date value="2020-04-25" /></td>
						<td><LinkExternal href="https://mantan-web.jp/article/20200424dog00m200026000c.html">アニメ質問状：「かくしごと」　答えは全部原作マンガの中にある　原作とアニメがほぼ同じタイミングで最終回</LinkExternal></td>
						<td>村野佑太</td>
					</tr>
					<tr>
						<td><Date value="2020-04-28" /></td>
						<td><LinkExternal href="https://www.tvguide.or.jp/column/koi_voice/2020/0508.html">神谷浩史◆「『かくしごと』は、僕にとって特別な作品」</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2020-04-28" /></td>
						<td><LinkExternal href="https://news.livedoor.com/article/detail/18181664/">「人間って、刻一刻と変わっていく生き物なんですよ」奢らず弛まず、神谷浩史の現在地</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2020-05-14" /></td>
						<td><LinkExternal href="https://times.abema.tv/posts/7053654">声優・高橋李依、今だから分かる親の愛　アニメ「かくしごと」インタビュー</LinkExternal></td>
						<td>高橋李依</td>
					</tr>
					<tr>
						<td><Date value="2020-05-20" /></td>
						<td><LinkExternal href="https://anime.eiga.com/news/111220/">“あれから”10年半――大槻ケンヂが語る「絶望少女達」との再会　「かくしごと」コラボCDについて</LinkExternal></td>
						<td>大槻ケンヂ</td>
					</tr>
					<tr>
						<td><Date value="2020-05-21" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1588839933">春アニメ『かくしごと』村野佑太監督インタビュー</LinkExternal></td>
						<td>村野佑太</td>
					</tr>
					<tr>
						<td><Date value="2020-05-21" /></td>
						<td><LinkExternal href="https://times.abema.tv/posts/7053657">「一番念頭に置いたのは”雑味をなくす”こと」村野佑太監督が語るアニメ「かくしごと」制作裏話</LinkExternal></td>
						<td>村野佑太</td>
					</tr>
					<tr>
						<td><Date value="2020-05-26" /></td>
						<td><LinkExternal href="https://www.asahi.com/and_M/20200526/12401010/">ヒラタリョウの『かくしごと』とは――作品の世界観を創造するプロップデザインの在り方</LinkExternal></td>
						<td>ヒラタリョウ</td>
					</tr>
					<tr>
						<td><Date value="2020-05-28" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1589344426">春アニメ『かくしごと』大槻ケンヂインタビュー</LinkExternal></td>
						<td>大槻ケンヂ</td>
					</tr>
					<tr>
						<td><Date value="2020-06-18" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1592300639">春アニメ『かくしごと』原作者・久米田康治インタビュー</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2020-12-01" /></td>
						<td><LinkExternal href="https://originalnews.nico/274028">「絶望先生」作者にとって最終回は“供養”である。「かってに改蔵」から最新作「かくしごと」まで、マンガ家・久米田康治が語る“終盤の急展開”に込めた想い</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2021-01-21" /></td>
						<td><LinkExternal href="https://www.sonymusic.co.jp/artist/EiichiOhtaki/info/526013">『ロンバケ』発売40周年記念!! あのジャケット・アートワークとの夢のコラボ・ポスター企画第2弾は、漫画家・久米田康治氏とのコラボレーションが実現!!</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2021-04-03" /></td>
						<td><LinkExternal href="https://news.yahoo.co.jp/byline/tanakahisakatsu/20210403-00230025/">大滝詠一が『A LONG VACATION』40周年でやりたかったこと､聴かせたかったもの＜後編＞</LinkExternal></td>
						<td><cite class="c-cite -work">ロンバケ</cite>関係者</td>
					</tr>
					<tr>
						<td><Date value="2021-06-23" /></td>
						<td><LinkExternal href="https://www.tvguide.or.jp/column/column-914841/">神谷浩史◆「“『さよなら絶望先生』と一緒じゃん”と取られても、“それはそれでいいです”と達観したところもある作品ですね」</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2021-07-08" /></td>
						<td><LinkExternal href="https://animageplus.jp/articles/detail/38043">神谷浩史と久米田康治。最強タッグが生む、明日への糧</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2021-07-08" /></td>
						<td><LinkExternal href="https://screenonline.jp/_ct/17465648">神谷浩史： 『劇場編集版 かくしごと ―ひめごとはなんですかー』インタビュー</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2021-07-08" /></td>
						<td><LinkExternal href="https://anime.eiga.com/news/113869/">神谷浩史、「さよなら絶望先生」から約11年を経て「かくしごと」に挑んだ意味</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2021-07-09" /></td>
						<td><LinkExternal href="https://mantan-web.jp/article/20210708dog00m200026000c.html">神谷浩史：「かくしごと」劇場編集版は「奇跡的なバランス」　“久米田節”は「毎回せめぎ合い」</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2021-07-09" /></td>
						<td><LinkExternal href="https://www.anime-recorder.com/16/210609/">『劇場編集版 かくしごと』後藤姫役・高橋李依さんにインタビュー。「無垢で無邪気な姫を目指しました」</LinkExternal></td>
						<td>高橋李依</td>
					</tr>
					<tr>
						<td><Date value="2021-07-09" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1625795993">『劇場編集版 かくしごと』後藤姫役・高橋李依【声優インタビュー】</LinkExternal></td>
						<td>高橋李依</td>
					</tr>
					<tr>
						<td><Date value="2021-07-12" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20210712093315/https://tokushu.eiga-log.com/interview/83770.html">声優・高橋李依さんが語る“かくしごと”と“姫のこと”『劇場編集版 かくしごと ―ひめごとはなんですか―』インタビュー</LinkExternal></td>
						<td>高橋李依</td>
					</tr>
					<tr>
						<td><Date value="2021-07-13" /></td>
						<td><LinkExternal href="https://getnews.jp/archives/3056321">神谷浩史『劇場編集版 かくしごと』TV版と異なるラストに「やっぱり音楽の力ってすごい」「あだち充先生の『みゆき』以来なんじゃないか（笑）」</LinkExternal></td>
						<td>神谷浩史</td>
					</tr>
					<tr>
						<td><Date value="2022-07-15" /></td>
						<td><LinkExternal href="https://hikkoshi.suumo.jp/oyakudachi/10944.html">&quot;変わった物件&quot;を好む漫画家・久米田康治さんの引越し遍歴</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2023-05-24" /></td>
						<td><LinkExternal href="https://www.wako.ac.jp/about/point/graduate/003.html">UNIQUEを生きる（卒業生インタビュー） 久米田 康治さん</LinkExternal></td>
						<td>久米田康治</td>
					</tr>
					<tr>
						<td><Date value="2024-06-27" /></td>
						<td><LinkExternal href="https://natalie.mu/comic/pp/atdx-rear02">「Re After Recording」第2回「かくしごと」| 神谷浩史＆高橋李依が“12話観て完成する”アニメへの熱い思いを語り尽くす</LinkExternal></td>
						<td>神谷浩史、高橋李依</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section slugger={slugger}>
		<H slot="heading">イベントレポート</H>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col">公開日</th>
						<th scope="col">タイトル</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><Date value="2008-08-15" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080828053331/http://udn.com/NEWS/ENTERTAINMENT/ENT9/4474052.shtml" hreflang="zh-Hant" lang="zh-Hant">《絕望先生》久米田康治 讓你不絕望</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-08-15" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20080828053331/http://udn.com/NEWS/ENTERTAINMENT/ENT9/4474052.shtml" hreflang="zh-Hant" lang="zh-Hant">《絕望先生》久米田康治 讓你不絕望</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-08-16" /></td>
						<td><LinkExternal href="https://web.archive.org/web/20090804091728/http://blog.tbar360.com/oBlog312/user1/jeff825/archives/2008/84609.html" hreflang="zh-Hant" lang="zh-Hant">久米田康治來台記者會 絕望大師參見！</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-08-18" /></td>
						<td><LinkExternal href="https://gnn.gamer.com.tw/detail.php?sn=32000" hreflang="zh-Hant" lang="zh-Hant">【漫博 08】《絕望先生》作者久米田表示漫博座談會讓他不絕望</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2009-06-03" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1241741472">伝説を作るのはやっぱり『さよなら絶望放送』だった！『さよなら絶望放送』後悔録音ラジオイベント≪日比谷公園大音楽堂～谷怨～≫</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2009-08-06" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1241743077">TVアニメ『懺・さよなら絶望先生』とメイドカフェ『ぴなふぉあ』が異色のコラボレーション！『絶望メイドカフェ』に絶望した……いや大感動です♪</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2009-10-06" /></td>
						<td><LinkExternal href="https://news.mynavi.jp/article/20091006-a003/">DVD発売に絶望した!? 『【懺・】さよなら絶望先生』の選挙カーが登場</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2009-11-12" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1258007586">番組終了1ヶ月を経て日比谷で1大イベントが開催！『【懺・】さよなら絶望先生』～「絶望葬会 in 日比谷野音」をレポート！</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2010-02-03" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1265167859">アニメイトTVで配信中のWebラジオ『さよなら絶望放送』spin-offイベント「レッツ！きよ彦ナイト」をレポート！</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2012-09-15" /></td>
						<td><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1347638608">初代・暗落亭苦来を演じる後藤沙緒里さんを先頭に、青春の返却を求める5人の声優陣による「『じょしらく』2代目襲名披露記者会見」の様子をレポート！</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2016-06-26" /></td>
						<td><LinkExternal href="https://www.animate.co.jp/blog/37188/">「かくしごと」１巻発売記念サイン会レポート</LinkExternal></td>
					</tr>
				</tbody>
			</table>
		</div>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">生前葬</H>

			<div class="p-table">
				<table>
					<thead>
						<tr>
							<th scope="col">投稿者</th>
							<th scope="col">タイトル</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>椎名高志</td>
							<td><LinkExternal href="http://cnanews.asablo.jp/blog/2007/06/22/1596837">久米田先生漫画賞レポート</LinkExternal></td>
						</tr>
						<tr>
							<td>瀬尾公治</td>
							<td><LinkExternal href="https://web.archive.org/web/20070627162639/http://moe.atso-net.jp/dandei/diary/article.php?id=864">講談社漫画賞</LinkExternal></td>
						</tr>
						<tr>
							<td>井上麻里奈</td>
							<td><LinkExternal href="https://web.archive.org/web/20070701103927/http://playlog.jp/inouemarina/blog/2007-06-22">思考ダダ漏れ</LinkExternal></td>
						</tr>
					</tbody>
				</table>
			</div>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading"><cite class="c-cite -work">劇場編集版 かくしごと ―ひめごとはなんですか―</cite>舞台挨拶</H>

			<Section slugger={slugger} depth={3} headingType="c">
				<H slot="heading">2021年7月10日　祝！公開記念舞台挨拶<small>（久米田康治&amp;村野裕太）</small></H>

				<ul class="p-links">
					<li><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1625893033">『劇場編集版 かくしごと ―ひめごとはなんですか―』舞台挨拶公式レポ到着！</LinkExternal></li>
					<li><LinkExternal href="https://aniverse-mag.com/archives/87793">『劇場編集版 かくしごと ―ひめごとはなんですか―』久米田康治先生、村野佑太監督が登壇！舞台挨拶レポートが到着！</LinkExternal></li>
					<li><LinkExternal href="https://animeanime.jp/article/2021/07/11/62502.html">「劇場編集版 かくしごと」“久米田節”全開でファンも興奮!? 公開記念舞台挨拶が開催</LinkExternal></li>
					<li><LinkExternal href="https://natalie.mu/comic/news/436334">「かくしごと」舞台挨拶で久米田康治「ギャグをカットするとこういう感動作になる」</LinkExternal></li>
					<li><LinkExternal href="https://voicemediajp.net/?p=55686">公式レポート：「僕のギャグ漫画人生30年を否定すると感動作が生まれる」“久米田節”全開でファンも興奮!?声優のありがたみを感じた『劇場編集版 かくしごと』久米田康治先生、村野佑太監督が舞台挨拶に登場！</LinkExternal></li>
				</ul>
			</Section>

			<Section slugger={slugger} depth={3} headingType="c">
				<H slot="heading">2021年7月11日　Girlsday<small>（久米田康治、村野佑太、高橋李依、安野希世乃、小澤亜李、本渡楓、和氣あず未）</small></H>

				<ul class="p-links">
					<li><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1625983634">『劇場編集版 かくしごと』声優・高橋李依ら登壇、ガールズデー舞台挨拶の公式レポ到着！</LinkExternal></li>
					<li><LinkExternal href="https://www.anime-recorder.com/event/210828/">『劇場編集版かくしごと』ガールズデー舞台挨拶が開催。高橋李依、安野希世乃ら女性声優陣が集結</LinkExternal></li>
					<li><LinkExternal href="https://dengekionline.com/articles/87517/">劇場版『かくしごと』舞台挨拶では久米田先生の自虐コメントも？</LinkExternal></li>
					<li><LinkExternal href="https://voicemediajp.net/?p=55721">公式レポート：「“全裸漫画家”であれば、配信してもらえるかな（笑）」久米田先生、高橋李依、安野希世乃ら登壇 『劇場編集版かくしごと』ガールズデー舞台挨拶実施！</LinkExternal></li>
					<li><LinkExternal href="https://www.daily.co.jp/gossip/2021/07/11/0014491606.shtml">和氣あず未「運命感じた」「劇場編集版　かくしごと」試写会で偶然</LinkExternal></li>
					<li><LinkExternal href="https://maidigitv.jp/movie/PCAEq0MIT-0.html">【動画】“姫”高橋李依、「かくしごと」別エンドに驚き　「こんなルートがあったんだ！」　声優陣が集結「劇場編集版 かくしごと －ひめごとはなんですか－」</LinkExternal></li>
					<li><LinkExternal href="https://mantan-web.jp/article/20210711dog00m200003000c.html">高橋李依：「かくしごと」別エンドに驚き　「こんなルートがあったんだ！」</LinkExternal></li>
					<li><LinkExternal href="https://natalie.mu/comic/news/436370">「かくしごと」舞台挨拶ガールズデー、高橋李依「もう1つのエンディングを演じきれて幸せ」（イベントレポート）</LinkExternal></li>
					<li><LinkExternal href="https://natalie.mu/eiga/news/436420">「かくしごと」高橋李依ら女性キャスト集合、久米田康治は「全裸マンガ家であれば…」</LinkExternal></li>
					<li><LinkExternal href="https://www.oricon.co.jp/news/2199690/full/">高橋李依、小学生のような振り付けに「心が洗われました」</LinkExternal></li>
					<li><LinkExternal href="https://voicemediajp.net/?p=55704">レポート：高橋「ソムリエとして、たくさんの人に『ひとりごと』を広めて欲しいです！」『劇場編集版 かくしごと ―ひめごとはなんですか―』―Girlsday―舞台挨拶レポート</LinkExternal></li>
					<li><LinkExternal href="https://www.nikkansports.com/entertainment/news/202107110000353.html">声優の高橋李依「アニメ終わったのに演じたいものが出来てしまった」</LinkExternal></li>
					<li><LinkExternal href="https://www.youtube.com/watch?v=PCAEq0MIT-0">“姫”高橋李依、「かくしごと」別エンドに驚き　「こんなルートがあったんだ！」　声優陣が集結「劇場編集版 かくしごと －ひめごとはなんですか－」</LinkExternal></li>
					<li><LinkExternal href="https://www.youtube.com/watch?v=M7Jj0pHoQRw">神谷浩史&amp;高橋李依、実は「かくしごと」最終話を知っていた！劇場版でリベンジ成功？ 『劇場編集版 かくしごと ―ひめごとはなんですか―』―Girlsday―</LinkExternal></li>
					<li><LinkExternal href="https://www.youtube.com/watch?v=wkw5XJOGdaI">久米田康治、手掛けたキャラは「全員自分の子供のよう」『劇場編集版　かくしごと　－ひめごとはなんですか－』公開記念舞台あいさつ</LinkExternal></li>
				</ul>
			</Section>

			<Section slugger={slugger} depth={3} headingType="c">
				<H slot="heading">2021年7月17日　「G-PRO」day<small>（久米田康治、村野佑太、神谷浩史、八代拓、安野希世乃、佐倉綾音）</small></H>

				<ul class="p-links">
					<li><LinkExternal href="https://www.animatetimes.com/news/details.php?id=1626519979">『劇場編集版 かくしごと』声優・神谷浩史ら登壇の舞台挨拶公式レポ到着！</LinkExternal></li>
					<li><LinkExternal href="https://www.anime-recorder.com/tvanime/211484/">『劇場編集版かくしごと』神谷浩史「奇跡的に出来上がった作品」。原作者・久米田康治に向けてエールも</LinkExternal></li>
					<li><LinkExternal href="https://numan.tokyo/news/tyhiA">神谷浩史「『劇場版かくしごと』は奇跡」久米田康治、八代拓らも登壇の舞台挨拶レポート到着！</LinkExternal></li>
					<li><LinkExternal href="https://voicemediajp.net/?p=56092">公式レポート：神谷浩史『劇場編集版かくしごと』は「奇跡的に出来上がった作品」“次回作に期待して”久米田先生にエールも</LinkExternal></li>
					<li><LinkExternal href="https://www.chunichi.co.jp/article/292990">声優・神谷浩史の『暴露』に会場爆笑　原作者の漫画家・久米田康治さんが「半ギレしていた」</LinkExternal></li>
					<li><LinkExternal href="https://www.cinematoday.jp/news/N0124797">神谷浩史、映画館は特別な空間！劇場版『かくしごと』のヒットに「最後まで関われてうれしい」</LinkExternal></li>
					<li><LinkExternal href="https://www.daily.co.jp/gossip/2021/07/17/0014511088.shtml">漫画家・久米田康治氏　声優との格差ボヤく「俺には衣装つかねーのか」</LinkExternal></li>
					<li><LinkExternal href="https://www.daily.co.jp/gossip/subculture/2021/07/17/0014511165.shtml">声優・佐倉綾音、久々満員の映画館に「感無量」　ジョーク連発で笑いも誘う</LinkExternal></li>
					<li><LinkExternal href="http://www.edgeline-tokyo.com/entertainment/75420">神谷浩史ウィットに富んだ「久米田先生の次回作にご期待ください！」八代拓 志治仰のキャラクターを考えて行き着いたものや安野希世乃＆佐倉綾音 夏らしい爽やかコメント</LinkExternal></li>
					<li><LinkExternal href="https://natalie.mu/comic/news/437354">「かくしごと」神谷浩史「次回作にご期待ください」久米田へのツッコミも冴える（イベントレポート）</LinkExternal></li>
					<li><LinkExternal href="https://www.oricon.co.jp/news/2200539/full/">神谷浩史＆佐倉綾音、満員の劇場に感無量「心からうれしい」「すてきな空間」</LinkExternal></li>
					<li><LinkExternal href="https://voicemediajp.net/?p=56076">レポート：劇場版で作品を楽しめるのは贅沢であり特別な空間！「『劇場編集版 かくしごと ―ひめごとはなんですか―』―「G-PRO」day―」レポート</LinkExternal></li>
					<li><LinkExternal href="https://yorozoonews.jp/article/14397556">声優・佐倉綾音、久々満員の映画館に「感無量」　ジョーク連発で笑いも誘う</LinkExternal></li>
					<li><LinkExternal href="https://www.nikkansports.com/entertainment/news/202107170000701.html">声優の神谷浩史「劇場は特別な空間、ぜいたくな気持ちで作品に取り組める」</LinkExternal></li>
					<li><LinkExternal href="https://www.youtube.com/watch?v=lJsjnZP4Pqs">佐倉綾音、劇場版「かくしごと」は「夏にぴったり」　「G-PRO」dayに八代拓、安野希世乃も</LinkExternal></li>
					<li><LinkExternal href="https://www.youtube.com/watch?v=Rgz1_wT0-OM">神谷浩史、劇場版「かくしごと」は「奇跡的」　後藤可久士は「面倒くさい人」</LinkExternal></li>
					<li><LinkExternal href="https://www.youtube.com/watch?v=Xjo4cIeiYI0">声優・佐倉綾音、尺の関係で出演シーンがカットで怒り！？「1番嫌いな言葉！」　『劇場編集版 かくしごと －ひめごとはなんですか－』公開記念舞台あいさつ</LinkExternal></li>
				</ul>
			</Section>
		</Section>
	</Section>

	<Section slugger={slugger}>
		<H slot="heading">その他</H>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col">公開日</th>
						<th scope="col">タイトル</th>
						<th scope="col">概要</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><Date value="2008-02-18" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some634.shtml">サムシング吉松の死んぢゃえばいいのに！　第634回　あのＣパートの裏側公開</LinkExternal></td>
						<td rowspan="8">アニメ<cite class="c-cite -work">【俗・】さよなら絶望先生</cite>7話Cパートの制作裏話</td>
					</tr>
					<tr>
						<td><Date value="2008-02-19" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some635.shtml">サムシング吉松の死んぢゃえばいいのに！　第635回　アニメの向こう側（１）</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-02-20" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some636.shtml">サムシング吉松の死んぢゃえばいいのに！　第636回　アニメの向こう側（２）</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-02-21" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some637.shtml">サムシング吉松の死んぢゃえばいいのに！　第637回　アニメの向こう側（３）</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-02-22" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some638.shtml">サムシング吉松の死んぢゃえばいいのに！　第638回　アニメの向こう側（４）</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-02-25" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some639.shtml">サムシング吉松の死んぢゃえばいいのに！　第639回　アニメの向こう側（５）</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-02-26" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some640.shtml">サムシング吉松の死んぢゃえばいいのに！　第640回　アニメの向こう側（６）</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2008-02-27" /></td>
						<td><LinkExternal href="http://style.fm/as/05_column/some641.shtml">サムシング吉松の死んぢゃえばいいのに！　第641回　アニメの向こう側（７）</LinkExternal></td>
					</tr>
					<tr>
						<td><Date value="2012-09-05" /></td>
						<td><LinkExternal href="http://animestyle.jp/2012/09/05/2380/">『じょしらく』資料集　キャラクター設定（色見本）</LinkExternal></td>
						<td>アニメ<cite class="c-cite -work">じょしらく</cite>キャラクター設定資料×25枚公開</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>
</Layout>
