<!DOCTYPE html>
<html lang="ja">
	<head>
		<style>
			table {
				border-collapse: collapse;
			}

			th,
			td {
				border: 1px solid;
				padding: 0.5em;
				background-color: #fff;
				color: #000;
			}

			th {
				background-color: #eee;
				text-align: start;
			}

			pre {
				text-wrap-mode: wrap;
				font-family: unset;
			}

			dl {
				display: block table;
			}

			dl > div {
				display: table-row;
			}

			dt,
			dd {
				display: table-cell;
			}

			dt {
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<th scope="row">名前</th>
					<td><%= input.yourname %></td>
				</tr>
				<tr>
					<th scope="row">Eメールアドレス</th>
					<td><%= input.email %></td>
				</tr>
				<tr>
					<th scope="row">返信の有無</th>
					<td><%_ if (input.reply === 'yes') { _%>必要<%_ } else { _%>不要<%_ } _%></td>
				</tr>
				<tr>
					<th scope="row">内容</th>
					<td>
						<pre><%= input.body %></pre>
					</td>
				</tr>
			</tbody>
		</table>

		<dl>
			<div>
				<dt>IP Address</dt>
				<dd>
					<a href="https://ja.asuka.io/whois/<%= ip %>"><%= ip %></a>
				</dd>
			</div>
			<%_ for ([key, value] of headers.entries()) { _%>
			<div>
				<dt><%= key %></dt>
				<dd><%= value %></dd>
			</div>
			<%_ } _%>
		</dl>
	</body>
</html>
