---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import { env } from '@w0s/env-value-type';
import Layout from '@layouts/Tokyu.astro';
import Box from '@components/Box.astro';
import FormGrid from '@components/FormGrid.astro';
import FormButtons from '@components/FormButtons.astro';
import FormInvalid from '@components/FormInvalid.astro';
import FormGridGroup from '@components/FormGridGroup.astro';
import List from '@components/List.astro';
import Section from '@components/Section.astro';
import Button from '@components/+phrasing/Button.astro';
import FormCtrlInput from '@components/+phrasing/FormCtrlInput.astro';
import Label from '@components/+phrasing/Label.astro';
import SubmitButton from '@components/+phrasing/SubmitButton.astro';
import HistoryTable from '@components/tokyu/HistoryTable.astro';
import TokyuCarHistoryDao from '@db/TokyuCarHistory.js';
import type { ResponseJson as APIResponseJson } from '@api/tokyu/car-history.ts';
import { getParams as getRequestParams } from '@util/request.ts';
import { init as ssrInit } from '@util/ssr.ts';
import type { StructuredData } from '../../../../../@types/util.d.ts';

export const prerender = false;

const structuredData: StructuredData = {
	title: '東急電車　車歴検索',
	heading: '車歴検索',
	description: '旧7000系から新3000系までの入籍日、改造履歴などを検索できるシステムです。',
	dateModified: dayjs('2010-03-31'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	moduleScripts: ['tokyu-car-history.mjs'],
	opensearch: { path: '/tokyu/data/history/search', name: '東急電車　車歴検索' },
};

const { logger } = ssrInit(Astro, { dev: import.meta.env.DEV });

const requestParams = getRequestParams(Astro.url);

const requestParamNumber = requestParams.get('num') ?? undefined;
const requestParamNumberOld = Boolean(requestParams.get('old'));
const requestParamSeries = requestParams.getAll('series');
const requestParamRegistStart = requestParams.get('regist-start') ?? undefined;
const requestParamRegistEnd = requestParams.get('regist-end') ?? undefined;
const requestParamSort = requestParams.get('sort') ?? undefined;
const requestParamEra = requestParams.get('era') ?? undefined;

const dao = new TokyuCarHistoryDao(`${env('ROOT')}/${env('SQLITE_DIR')}/${env('SQLITE_TOKYU_CAR_HISTORY')}`);

const carSeries = await dao.getCarSeries();

let cars: APIResponseJson | undefined = undefined;

if (requestParamNumber !== undefined) {
	const endpointParams = new URLSearchParams();
	if (requestParamNumber !== '') {
		endpointParams.set('num', requestParamNumber);
	}
	if (requestParamNumberOld) {
		endpointParams.set('old', 'on');
	}
	requestParamSeries.forEach((value) => {
		endpointParams.append('series', value);
	});
	if (requestParamRegistStart !== undefined && requestParamRegistStart !== '') {
		endpointParams.set('regist-start', requestParamRegistStart);
	}
	if (requestParamRegistEnd !== undefined && requestParamRegistEnd !== '') {
		endpointParams.set('regist-end', requestParamRegistEnd);
	}
	if (requestParamSort !== undefined) {
		endpointParams.set('sort', requestParamSort);
	}
	if (requestParamEra !== undefined) {
		endpointParams.set('era', requestParamEra);
	}

	const endpoint = `${Astro.url.origin}/api/tokyu/car-history?${endpointParams.toString()}`;
	logger.info(`Endpoint: ${endpoint}`);

	cars = await (await fetch(endpoint)).json();
}

const hitLength = cars?.reduce((sum, carOfSeries) => sum + carOfSeries.length, 0) ?? 0;

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Section slugger={slugger}>
		<Fragment slot="heading">検索条件入力</Fragment>

		<Box>
			<List>
				<li>
					<q>番号</q>では次に挙げる記号を使うことで特殊な検索ができます。
					<ul>
						<li>「<kbd>.</kbd>」（ピリオド）は任意の1文字に相当します。</li>
						<li>「<kbd>*</kbd>」（アスタリスク）は任意数（0文字含む）の連続した文字列に相当します。</li>
						<li>たとえばデハ8700形の全車両を表示するには、車種の<q>8500系</q>にチェックを入れたうえで、番号に『<kbd>.7..</kbd>』または『<kbd>.7*</kbd>』と入力します。</li>
					</ul>
				</li>
				<li>
					改造によって車種に変更が生じた車両では、改造前後の紐付けができません。
					<ul>
						<li>番号に『<kbd>7001</kbd>』と入力し、<q>旧番号を含む</q>にチェックを入れて検索しても、7700系化後のデータはヒットしません。</li>
					</ul>
				</li>
				<li>入籍日、改番日の参考資料は<a href="/tokyu/data/history/ref">出典一覧</a>に記しています。</li>
			</List>
		</Box>

		<form>
			<FormGrid complex={true}>
				<FormGridGroup>
					<Fragment slot="legend"><label for="fc-num">番号</label></Fragment>

					<Fragment slot="contents">
						<FormCtrlInput size="4em"><input name="num" value={requestParamNumber} maxlength={4} pattern="[0-37-9０-３７-９yYｙＹ\.．\*＊][0-9０-９\.．\*＊]{0,2}[0-9０-９aAａＡbBｂＢ\.．\*＊]?" id="fc-num" aria-errormessage="input-validate-num" class="js-convert-tokyu-car-histroy-num js-validation" title="検索対象の車種は旧7000系から新3000系までです。" /></FormCtrlInput>

						<Label label="旧番号を含む">
							<input type="checkbox" name="old" checked={requestParamNumberOld} />
						</Label>
					</Fragment>

					<Fragment slot="validate">
						<FormInvalid id="input-validate-num" />
					</Fragment>
				</FormGridGroup>
				<FormGridGroup ctrlType="checkbox">
					<Fragment slot="legend">車種</Fragment>

					<Fragment slot="contents">
						{
							carSeries.map((car) => (
								<Label label={car.series}>
									<input type="checkbox" name="series" value={car.id} checked={requestParamSeries.includes(car.id)} />
								</Label>
							))
						}
						<p>
							<Button class="js-button-checkboxes" data-course="check" data-controls-name="series">全車種を選択</Button>
							<Button class="js-button-checkboxes" data-course="uncheck" data-controls-name="series">すべての選択を解除</Button>
						</p>
					</Fragment>
				</FormGridGroup>
				<FormGridGroup>
					<Fragment slot="legend">入籍日</Fragment>

					<Fragment slot="contents">
						<Label label="開始日">
							<FormCtrlInput size="10em"><input type="date" name="regist-start" value={requestParamRegistStart} min="1962-01-25" max="2001-03-24" class="js-validation js-input-date-to-text" aria-errormessage="input-validate-registarstart" title="「開始日」は YYYY-MM-DD 形式で入力してください。" data-validation-noexist="「開始日」が存在しない日付です。" data-validation-min="「開始日」は1962年1月25日以降を入力してください。旧7000系〜新3000系、300系でそれ以前に入籍した車両は存在しません。" data-validation-max="「開始日」は2001年3月24日以前を入力してください。旧7000系〜新3000系、300系でそれ以降に入籍した車両は存在しません。" /></FormCtrlInput>
						</Label>
						<Label label="終了日">
							<FormCtrlInput size="10em"><input type="date" name="regist-end" value={requestParamRegistEnd} min="1962-01-25" max="2001-03-24" style="--inline-size: 8em" class="js-validation js-input-date-to-text" aria-errormessage="input-validate-registarend" title="「終了日」は YYYY-MM-DD 形式で入力してください。" data-validation-noexist="「終了日」が存在しない日付です。" data-validation-min="「終了日」は1962年1月25日以降を入力してください。旧7000系〜新3000系、300系でそれ以前に入籍した車両は存在しません。" data-validation-max="「終了日」は2001年3月24日以前を入力してください。旧7000系〜新3000系、300系でそれ以降に入籍した車両は存在しません。" /></FormCtrlInput>
						</Label>
					</Fragment>

					<Fragment slot="validate">
						<FormInvalid id="input-validate-registarstart" />

						<FormInvalid id="input-validate-registarend" />
					</Fragment>
				</FormGridGroup>
				<FormGridGroup ctrlType="radio">
					<Fragment slot="legend"><span id="label-sort">ソート</span></Fragment>

					<Fragment slot="contents">
						<div role="radiogroup" aria-labelledby="label-sort">
							{
								[
									['num', '番号'],
									['type', '形式'],
									['annual', '呼称'],
									['regist', '入籍日'],
								].map(([name, value]) => (
									<Label label={value}>
										<input type="radio" name="sort" value={name} checked={((requestParamSort === undefined || requestParamSort === '') && name === 'regist') || requestParamSort === name} />
									</Label>
								))
							}
						</div>
					</Fragment>
				</FormGridGroup>
				<FormGridGroup ctrlType="radio">
					<Fragment slot="legend"><span id="label-era">年表記</span></Fragment>

					<Fragment slot="contents">
						<div role="radiogroup" aria-labelledby="label-era">
							{
								[
									['ad', '西暦'],
									['ja', '和暦'],
								].map(([name, value], index) => (
									<Label label={value}>
										<input type="radio" name="era" value={name} checked={((requestParamEra === undefined || requestParamEra === '') && index === 0) || requestParamEra === name} />
									</Label>
								))
							}
						</div>
					</Fragment>
				</FormGridGroup>
			</FormGrid>

			<FormButtons>
				<p><SubmitButton>検索</SubmitButton></p>
			</FormButtons>
		</form>
	</Section>

	{
		cars !== undefined && (
			<Section slugger={slugger} autofocus={true} class="js-scroll-into-view">
				<Fragment slot="heading">検索結果</Fragment>

				{hitLength >= 1 && (
					<>
						<p>{hitLength}件ヒットしました。</p>

						{hitLength >= 2 && (
							<p>
								<Label label="直上と同じ内容のセルを「〃」で表示">
									<w0s-input-switch checked storage-key="tokyu-history-ditto" class="js-button-ditto" data-ditto-for="result-table" />
								</Label>
							</p>
						)}

						<HistoryTable class="js-result-table" id="result-table">
							<thead>
								<tr>
									<th scope="col">番号</th>
									<th scope="col">車種</th>
									<th scope="col">形式</th>
									<th scope="col">呼称</th>
									<th scope="col">入籍日</th>
									<th scope="col">旧番号</th>
									<th scope="col">改番日</th>
									<th scope="col">更新</th>
									<th scope="col">新番号、譲渡番号</th>
									<th scope="col">車齢</th>
								</tr>
							</thead>
							{cars.map((carOfSeries) => (
								<tbody>
									{carOfSeries.map((car) => (
										<>
											{car.changes.length <= 1 && (
												<tr>
													{/* prettier-ignore */}
													<td class="u-cell -center">{car.sign}{car.number}</td>
													<td class="u-cell -center">{car.series}</td>
													<td class="u-cell -center">{car.type}</td>
													<td class="u-cell -center">{car.annual}</td>
													<td class="u-cell -center">{car.register}</td>
													{car.changes.length === 0 && (
														<>
															<td />
															<td />
														</>
													)}
													{car.changes.length >= 1 && (
														<>
															{/* prettier-ignore */}
															<td class="u-cell -center">{car.changes[0].sign}{car.changes[0].number}</td>
															<td class="u-cell -center">{car.changes[0].date}</td>
														</>
													)}
													<td>{car.renewal}</td>
													<td>{car.transfer}</td>
													{/* prettier-ignore */}
													<td class="u-cell -center">{car.scrap && <>解体</>}{!car.scrap && <>{car.age}年</>}</td>
												</tr>
											)}

											{car.changes.length >= 2 && (
												<>
													{car.changes.map((change, index) => (
														<>
															{index === 0 && (
																<tr>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length} class="u-cell -center">{car.sign}{car.number}</td>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length} class="u-cell -center">{car.series}</td>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length} class="u-cell -center">{car.type}</td>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length} class="u-cell -center">{car.annual}</td>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length} class="u-cell -center">{car.register}</td>
																	{/* prettier-ignore */}
																	<td class="u-cell -center">{change.sign}{change.number}</td>
																	<td class="u-cell -center">{change.date}</td>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length}>{car.renewal}</td>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length}>{car.transfer}</td>
																	{/* prettier-ignore */}
																	<td rowspan={car.changes.length} class="u-cell -center">{car.scrap && <>解体</>}{!car.scrap && <>{car.age}年</>}</td>
																</tr>
															)}
															{index >= 1 && (
																<tr>
																	{/* prettier-ignore */}
																	<td class="u-cell -center">{change.sign}{change.number}</td>
																	<td class="u-cell -center">{change.date}</td>
																</tr>
															)}
														</>
													))}
												</>
											)}
										</>
									))}
								</tbody>
							))}
						</HistoryTable>
					</>
				)}

				{hitLength === 0 && (
					<Box>
						<p>
							<strong>該当する車両が存在しないか、登録されていません。</strong>
						</p>
					</Box>
				)}
			</Section>
		)
	}
</Layout>
