---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Section from '@components/Section.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '魔法少女まどか☆マギカ　オーケストラ・コンサート',
	heading: 'オーケストラ・コンサート',
	description: '2013年〜2015年に行われた「オーケストラ・コンサート」の開催情報をまとめました。',
	breadcrumb: [{ path: '/madoka/', name: 'ホーム' }],
};

const slugger = new GithubSlugger();
---

<Layout structuredData={structuredData}>
	<Section slugger={slugger} id="zenkouhen" heading="劇場版　魔法少女まどか☆マギカ オーケストラ・コンサート（前後編）">
		<div class="p-text">
			<p><LinkExternal href="https://web.archive.org/web/*/www.aim-vil.com/sponsor/madoka-concert/" class="c-link">公式ページ（アーカイブ）</LinkExternal></p>
		</div>

		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">地域</th>
					<th scope="col" aria-sort="ascending">日程</th>
					<th scope="col">場所</th>
					<th scope="col">司会</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">東京</th>
					<td>2013年10月16日(水)</td>
					<td>渋谷公会堂</td>
					<td>斎藤千和</td>
				</tr>
				<tr>
					<th scope="row">仙台</th>
					<td>2013年11月10日(日)</td>
					<td>仙台市泉文化創造センター</td>
					<td>水橋かおり</td>
				</tr>
				<tr>
					<th scope="row">広島</th>
					<td>2013年12月8日(日)</td>
					<td>上野学園ホール（広島県立文化芸術ホール）</td>
					<td>悠木碧</td>
				</tr>
				<tr>
					<th scope="row">名古屋</th>
					<td>2013年12月11日(水)</td>
					<td>愛知芸術劇場 コンサートホール</td>
					<td>斎藤千和（音声出演）</td>
				</tr>
				<tr>
					<th scope="row">大阪</th>
					<td>2013年12月14日(土)</td>
					<td>オリックス劇場</td>
					<td>水橋かおり</td>
				</tr>
				<tr>
					<th scope="row">高松</th>
					<td>2013年12月23日(月・祝)</td>
					<td>高松サンポート 第2小ホール</td>
					<td>野中藍</td>
				</tr>
			</tbody>
		</table>
	</Section>

	<Section slugger={slugger} id="zenkouhen-encore" heading="劇場版　魔法少女まどか☆マギカ オーケストラ・コンサート（前後編・凱旋追加公演）">
		<div class="p-text">
			<p><LinkExternal href="https://web.archive.org/web/*/www.aim-vil.com/sponsor/madoka-concert-encore/" class="c-link">公式ページ（アーカイブ）</LinkExternal></p>
		</div>

		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">地域</th>
					<th scope="col" aria-sort="ascending">日程</th>
					<th scope="col">場所</th>
					<th scope="col">司会</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">東京</th>
					<td>2014年6月7日(土)</td>
					<td>東京芸術劇場 コンサートホール</td>
					<td>加藤英美里</td>
				</tr>
				<tr>
					<th scope="row">浜松</th>
					<td>2014年7月12日(土)</td>
					<td>アクトシティ浜松 大ホール</td>
					<td>野中藍</td>
				</tr>
			</tbody>
		</table>
	</Section>

	<Section slugger={slugger} id="shinpen" heading="劇場版　魔法少女まどか☆マギカ オーケストラ・コンサート（新編）">
		<div class="p-text">
			<p><LinkExternal href="https://web.archive.org/web/*/www.aim-vil.com/sponsor/madoka-concert-rebellion/" class="c-link">公式ページ（アーカイブ）</LinkExternal></p>
		</div>

		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">地域</th>
					<th scope="col" aria-sort="ascending">日程</th>
					<th scope="col">場所</th>
					<th scope="col">司会</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">大阪</th>
					<td>2014年10月13日(月・祝)</td>
					<td>オリックス劇場</td>
					<td>水橋かおり、阿澄佳奈</td>
					<td>昼夜2回公演<br />（夜公演は台風のため中止）</td>
				</tr>
				<tr>
					<th scope="row">東京</th>
					<td>2014年10月25日(土)</td>
					<td>東京芸術劇場 コンサートホール</td>
					<td>野中藍</td>
					<td>昼夜2回公演</td>
				</tr>
				<tr>
					<th scope="row">浜松</th>
					<td>2014年12月7日(日)</td>
					<td>アクトシティ浜松 大ホール</td>
					<td>悠木碧</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</Section>

	<Section slugger={slugger} id="sapporo" heading="劇場版　魔法少女まどか☆マギカ オーケストラ・コンサート（札幌）">
		<div class="p-text">
			<p><LinkExternal href="https://web.archive.org/web/*/www.aim-vil.com/sponsor/madoka-concert-sapporo/" class="c-link">公式ページ（アーカイブ）</LinkExternal></p>
		</div>

		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">地域</th>
					<th scope="col" aria-sort="ascending">日程</th>
					<th scope="col">場所</th>
					<th scope="col">司会</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row" rowspan="2">札幌</th>
					<td>2015年2月10日(火)</td>
					<td rowspan="2">札幌市教育文化会館 大ホール</td>
					<td>野中藍</td>
					<td>前後編</td>
				</tr>
				<tr>
					<td>2015年2月11日(水・祝)</td>
					<td>水橋かおり</td>
					<td>新編</td>
				</tr>
			</tbody>
		</table>
	</Section>

	<Section slugger={slugger} id="last" heading="劇場版　魔法少女まどか☆マギカ オーケストラ・コンサート（最終公演）">
		<div class="p-text">
			<p><LinkExternal href="https://web.archive.org/web/*/www.aim-vil.com/sponsor/madoka-concert-finale/" class="c-link">公式ページ（アーカイブ）</LinkExternal></p>
		</div>

		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">地域</th>
					<th scope="col" aria-sort="ascending">日程</th>
					<th scope="col">場所</th>
					<th scope="col">司会</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">東京</th>
					<td>2015年9月23日(水・祝)</td>
					<td>東京芸術劇場 コンサートホール</td>
					<td>悠木碧（昼）、斎藤千和（夜）</td>
					<td>昼公演は前後編、夜公演は新編</td>
				</tr>
			</tbody>
		</table>
	</Section>
</Layout>
