<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "設定器配列　東急池上、多摩川線　7600系、7700系、1000N系、1000N′系（2000年〜2018年）",
				"headline": "池上、多摩川線　7600系、7700系、1000N系、1000N′系",
				"subHeadline": "2000年〜2018年",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/set/", "name": "設定器配列" }
				],
				"localNav": [
					{ "path": "/tokyu/set/7600_iketama_2000", "name": "2000年〜2018年" },
					{ "path": "/tokyu/set/1000_iketama_2014", "name": "2014年〜（1000N系、1000N′系）" },
					{ "path": "/tokyu/set/1500_iketama_2014", "name": "2014年〜（1000系1500番台）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2000年<!-- 8月 -->の駅名変更から、2018年の7700系引退まで</p>
						</div>

						<div class="p-tokyu-set__panel -push">
							<object data="/tokyu/set/image/7600_iketama_2000.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
								<div id="set-image-alt1">
									<section>
										<h2>始発駅</h2>
										<table>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td>渋谷</td>
													<td>田園調布</td>
													<td>元住吉</td>
													<td>日吉</td>
													<td>菊名</td>
													<td>桜木町</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>北千住</td>
													<td>南千住</td>
													<td>八丁堀</td>
													<td></td>
													<td></td>
													<td>中目黒</td>
												</tr>
												<tr>
													<td>目黒</td>
													<td>大岡山</td>
													<td>奥沢</td>
													<td>多摩川</td>
													<td>蒲田</td>
													<td>雪が谷大塚</td>
													<td>五反田</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>種別</h2>
										<table>
											<tbody>
												<tr>
													<td>普通</td>
													<td>急行</td>
													<td>快速</td>
													<td>日比谷線直通</td>
													<td>試運転</td>
													<td>回送</td>
													<td>臨時</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>行先</h2>
										<table>
											<tbody>
												<tr>
													<td>渋谷</td>
													<td>田園調布</td>
													<td>元住吉</td>
													<td>日吉</td>
													<td>菊名</td>
													<td>桜木町</td>
													<td>北千住</td>
													<td>南千住</td>
												</tr>
												<tr>
													<td>八丁堀</td>
													<td>目黒</td>
													<td>大岡山</td>
													<td>奥沢</td>
													<td>多摩川</td>
													<td>蒲田</td>
													<td>雪が谷大塚</td>
													<td>五反田</td>
												</tr>
												<tr>
													<td>蒲田→多摩川</td>
													<td>蒲田→五反田</td>
													<td>蒲田→雪が谷大塚</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td>白幕</td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>メニュー放送</h2>
										<table>
											<tbody>
												<tr>
													<td>交通安全</td>
													<td>携帯電話</td>
													<td>夏季輸送</td>
													<td>年末年始</td>
													<td>負傷防止</td>
													<td>お詫び</td>
													<td>車交</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</object>
						</div>
					</div>

					<ul class="p-notes">
						<li>クハ1012は種別のいちばん右側が空欄ではなく「特急」だった。</li>
					</ul>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
