<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "設定器配列　東急大井町線　8000系、8090系（2000年〜2008年）",
				"heading": "大井町線　8000系、8090系",
				"subHeading": "2000年〜2008年",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/set/", "name": "設定器配列" }
				],
				"localNav": [
					{ "path": "/tokyu/set/8000_oimachi_2000", "name": "2000年〜2008年" },
					{ "path": "/tokyu/set/8090_oimachi_2006", "name": "2006年〜2008年" },
					{ "path": "/tokyu/set/8090_oimachi_2007", "name": "2007年〜2009年" },
					{ "path": "/tokyu/set/8090_oimachi_2009", "name": "2009年〜2013年" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2000年<!-- 8月 -->の二子玉川駅名改称から、2008年<!-- 2月 -->の引退（8000系）・表示器LED化（8090系）まで</p>
							<p>（上り方先頭車に設置）</p>
						</div>

						<div class="p-tokyu-set__panel -dial">
							<object data="/tokyu/set/image/8000_oimachi_2000.png" type="image/png" width="640" height="640" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
								<ul id="set-image-alt1">
									<li>1: 試運転</li>
									<li>2: 回送</li>
									<li>3: 臨時</li>
									<li>4: 渋谷</li>
									<li>5: 桜木町</li>
									<li>6: 元住吉</li>
									<li>7: 日吉</li>
									<li>8: 菊名</li>
									<li>9: 急行 渋谷</li>
									<li>10: 急行 桜木町</li>
									<li>11: 急行 元住吉</li>
									<li>12: 急行 日吉</li>
									<li>13: 急行 菊名</li>
									<li>14: 大井町</li>
									<li>15: (空欄)</li>
									<li>16: 自由が丘</li>
									<li>17: 梶が谷</li>
									<li>18: 鷺沼</li>
									<li>19: 長津田</li>
									<li>20: こどもの国</li>
									<li>21: 二子玉川</li>
									<li>22: (空欄)</li>
									<li>23: (空欄)</li>
									<li>24: (空欄)</li>
									<li>25: (空欄)</li>
									<li>26: (空欄)</li>
									<li>27: (空欄)</li>
									<li>28: (空欄)</li>
									<li>29: (空欄)</li>
									<li>30: (空欄)</li>
								</ul>
							</object>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
