<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "設定器配列　東急田園都市線　8500系（東武非乗入れ編成、2007年〜）",
				"headline": "田園都市線　8500系",
				"subHeading": "東武非乗入れ編成、2007年〜",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/set/", "name": "設定器配列" }
				],
				"localNav": [
					{ "path": "/tokyu/set/8500_denentoshi_k_2003", "name": "2003年〜2007年" },
					{ "path": "/tokyu/set/8500_denentoshi_k_2007", "name": "2007年〜" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2007年<!-- 4月 -->の準急新設から</p>
							<p>（東武非乗入れ編成の下り方先頭車に設置）</p>
						</div>

						<div class="p-tokyu-set__panel -dial-8500">
							<section>
								<h2>種別</h2>
								<object data="/tokyu/set/image/8500_denentoshi_k_2007_train.png" type="image/png" width="460" height="460" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
									<ul id="set-image-alt1">
										<li>1: 試運転</li>
										<li>2: 回送</li>
										<li>3: 普通</li>
										<li>4: 急行</li>
										<li>5: 準急</li>
										<li>6: 臨時</li>
										<li>7: (空欄)</li>
										<li>8: (空欄)</li>
										<li>9: (空欄)</li>
										<li>10: (空欄)</li>
									</ul>
								</object>
							</section>

							<section>
								<h2>行先</h2>
								<object data="/tokyu/set/image/8500_denentoshi_k_2007_to.png" type="image/png" width="460" height="460" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt2">
									<ul id="set-image-alt2">
										<li>1: (空欄)</li>
										<li>2: (空欄)</li>
										<li>3: (空欄)</li>
										<li>4: 中央林間</li>
										<li>5: (空欄)</li>
										<li>6: 長津田</li>
										<li>7: 鷺沼</li>
										<li>8: 梶が谷</li>
										<li>9: 二子玉川</li>
										<li>10: 渋谷</li>
										<li>11: 青山一丁目</li>
										<li>12: 永田町</li>
										<li>13: 半蔵門</li>
										<li>14: 九段下</li>
										<li>15: 神保町</li>
										<li>16: 三越前</li>
										<li>17: 水天宮前</li>
										<li>18: あざみ野</li>
										<li>19: 用賀</li>
										<li>20: (空欄)</li>
										<li>31: 溝の口</li>
										<li>32: 清澄白河</li>
										<li>33: 住吉</li>
										<li>34: 錦糸町</li>
										<li>35: 押上</li>
										<li>36: (空欄)</li>
										<li>37: (空欄)</li>
										<li>38: (空欄)</li>
										<li>39: (空欄)</li>
										<li>40: (空欄)</li>
									</ul>
								</object>
							</section>
						</div>
					</div>

					<ul class="p-notes">
						<li>行先の#9が空欄で、#20が「二子玉川」の車両も存在する。</li>
					</ul>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
