<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "設定器配列　東急東横線　9000系（2004年〜2013年）",
				"heading": "東横線　9000系",
				"subHeading": "2004年〜2013年",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/set/", "name": "設定器配列" }
				],
				"localNav": [
					{ "path": "/tokyu/set/9000_toyoko_2001", "name": "2001年暫定" },
					{ "path": "/tokyu/set/9000_toyoko_2004", "name": "2004年〜2013年" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2004年<!-- 1月 -->の桜木町廃止から、2013年の東横線撤退まで</p>
						</div>

						<div class="p-tokyu-set__panel -push">
							<object data="/tokyu/set/image/9000_toyoko_2004.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
								<div id="set-image-alt1">
									<section>
										<h2>始発駅</h2>
										<table>
											<tbody>
												<tr>
													<td>渋谷</td>
													<td>元町・中華街</td>
													<td>元住吉</td>
													<td>日吉</td>
													<td>菊名</td>
													<td></td>
												</tr>
												<tr>
													<td>武蔵小杉</td>
													<td>横浜</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>種別</h2>
										<table>
											<tbody>
												<tr>
													<td>各停</td>
													<td>急行</td>
													<td>快速</td>
													<td>試運転</td>
													<td>回送</td>
													<td></td>
													<td>通勤特急</td>
													<td>特急</td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>行先</h2>
										<table>
											<tbody>
												<tr>
													<td>渋谷</td>
													<td>元町・中華街</td>
													<td>元住吉</td>
													<td>日吉</td>
													<td>菊名</td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td>武蔵小杉</td>
													<td></td>
													<td>横浜</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td>臨時</td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</object>
						</div>
					</div>

					<ul class="p-notes">
						<li>2007年より機器更新が順次行われて、行先の武蔵小杉と横浜の間に「大岡山」が追加されていた。</li>
					</ul>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
