<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "設定器配列　長野電鉄　8500系（2005年〜）",
				"heading": "長野電鉄　8500系",
				"subHeading": "2005年〜",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/set/", "name": "設定器配列" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2005年<!-- 9月 -->の8500系導入から</p>
							<p>（下り方先頭車に設置）</p>
						</div>

						<div class="p-tokyu-set__panel -num-ner8500">
							<object data="/tokyu/set/image/nagano_8500_2005.svg" type="image/svg+xml" width="560" height="1152" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
								<div id="set-image-alt1">
									<section>
										<h2>種別設定対照表</h2>
										<table>
											<thead>
												<tr>
													<th scope="col">設定番号</th>
													<th scope="col">種別名</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">0</th>
													<td>(無表示)</td>
												</tr>
												<tr>
													<th scope="row">1</th>
													<td>回送</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>試運転</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>臨時</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td>団体</td>
												</tr>
												<tr>
													<th scope="row">5</th>
													<td>普通</td>
												</tr>
												<tr>
													<th scope="row">6</th>
													<td>特急A</td>
												</tr>
												<tr>
													<th scope="row">7</th>
													<td>特急B</td>
												</tr>
												<tr>
													<th scope="row">8</th>
													<td>急行</td>
												</tr>
												<tr>
													<th scope="row">9</th>
													<td>快速</td>
												</tr>
												<tr>
													<th scope="row">A-F</th>
													<td>(未使用)</td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>行先設定対照表</h2>
										<table>
											<thead>
												<tr>
													<th scope="col">設定番号</th>
													<th scope="col">行先駅名</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">0</th>
													<td>(無表示)</td>
												</tr>
												<tr>
													<th scope="row">1</th>
													<td>長野</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>朝陽</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>須坂</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td>信州中野</td>
												</tr>
												<tr>
													<th scope="row">5</th>
													<td>湯田中</td>
												</tr>
												<tr>
													<th scope="row">6</th>
													<td>小布施</td>
												</tr>
												<tr>
													<th scope="row">7</th>
													<td>(未使用)</td>
												</tr>
												<tr>
													<th scope="row">8</th>
													<td>(未使用)</td>
												</tr>
												<tr>
													<th scope="row">9</th>
													<td>(未使用)</td>
												</tr>
												<tr>
													<th scope="row">A-F</th>
													<td>(未使用)</td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>始発設定対照表</h2>
										<table>
											<thead>
												<tr>
													<th scope="col">設定番号</th>
													<th scope="col">始発駅名</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">01</th>
													<td>長野</td>
												</tr>
												<tr>
													<th scope="row">02</th>
													<td>市役所前</td>
												</tr>
												<tr>
													<th scope="row">03</th>
													<td>権堂</td>
												</tr>
												<tr>
													<th scope="row">04</th>
													<td>善光寺下</td>
												</tr>
												<tr>
													<th scope="row">05</th>
													<td>本郷</td>
												</tr>
												<tr>
													<th scope="row">06</th>
													<td>桐原</td>
												</tr>
												<tr>
													<th scope="row">07</th>
													<td>信濃吉田</td>
												</tr>
												<tr>
													<th scope="row">08</th>
													<td>朝陽</td>
												</tr>
												<tr>
													<th scope="row">09</th>
													<td>附属中学前</td>
												</tr>
												<tr>
													<th scope="row">10</th>
													<td>柳原</td>
												</tr>
												<tr>
													<th scope="row">11</th>
													<td>村山</td>
												</tr>
												<tr>
													<th scope="row">12</th>
													<td>日野</td>
												</tr>
											</tbody>
										</table>
										<table>
											<thead>
												<tr>
													<th scope="col">設定番号</th>
													<th scope="col">始発駅名</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">13</th>
													<td>須坂</td>
												</tr>
												<tr>
													<th scope="row">14</th>
													<td>北須坂</td>
												</tr>
												<tr>
													<th scope="row">15</th>
													<td>小布施</td>
												</tr>
												<tr>
													<th scope="row">16</th>
													<td>都住</td>
												</tr>
												<tr>
													<th scope="row">17</th>
													<td>桜沢</td>
												</tr>
												<tr>
													<th scope="row">18</th>
													<td>延徳</td>
												</tr>
												<tr>
													<th scope="row">19</th>
													<td>信州中野</td>
												</tr>
												<tr>
													<th scope="row">20</th>
													<td>中野松川</td>
												</tr>
												<tr>
													<th scope="row">21</th>
													<td>信濃竹原</td>
												</tr>
												<tr>
													<th scope="row">22</th>
													<td>夜間瀬</td>
												</tr>
												<tr>
													<th scope="row">23</th>
													<td>上条</td>
												</tr>
												<tr>
													<th scope="row">24</th>
													<td>湯田中</td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</object>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
