<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "富山地方鉄道　17480形（元・田園都市線所属車、2019年〜）の設定器配列",
				"headline": "富山地方鉄道　17480形",
				"subHeadline": "元・田園都市線所属車、2019年〜",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/set/", "name": "東急電車の設定器配列" }
				],
				"localNav": [
					{ "path": "/tokyu/set/toyama_17480_oimachi_2013", "name": "元・大井町線所属車" },
					{ "path": "/tokyu/set/toyama_17480_denentoshi_2019", "name": "元・田園都市線所属車" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header') %>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2019年<!-- 12月 -->の17480形追加導入から</p>
						</div>

						<div class="p-tokyu-set__panel -push">
							<object data="/tokyu/set/image/toyama_17480_denentoshi_2019.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
								<div id="set-image-alt1">
									<section>
										<h2>始発駅</h2>
										<table>
											<tbody>
												<tr>
													<td>中央林間</td>
													<td>長津田</td>
													<td>鷺沼</td>
													<td>二子玉川</td>
													<td>渋谷</td>
													<td>半蔵門</td>
												</tr>
												<tr>
													<td>水天宮前</td>
													<td></td>
													<td>清澄白河</td>
													<td>住吉</td>
													<td>錦糸町</td>
													<td>押上</td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>種別</h2>
										<table>
											<tbody>
												<tr>
													<td>普通</td>
													<td>急行</td>
													<td>特急</td>
													<td></td>
													<td>試運転</td>
													<td>回送</td>
													<td>臨時</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>行先</h2>
										<table>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td>宇奈月温泉</td>
													<td></td>
													<td>電鉄黒部</td>
													<td>立山</td>
													<td>寺田経由　岩峅寺</td>
												</tr>
												<tr>
													<td>有峰口</td>
													<td>電鉄富山</td>
													<td>越中荏原</td>
													<td>越中舟橋</td>
													<td>上市</td>
													<td>中滑川</td>
													<td>滑川</td>
													<td>南富山</td>
												</tr>
												<tr>
													<td>電鉄魚津</td>
													<td>西魚津</td>
													<td>舌山</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td>新黒部</td>
													<td>南富山経由　岩峅寺</td>
												</tr>
												<tr>
													<td>本宮</td>
													<td></td>
													<td>新魚津</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</object>
						</div>
					</div>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
