<section class="p-section -hdg-a">
	<div class="p-section__hdg">
		<h2>新着データ</h2>
	</div>

	<div class="p-text">
		<p><a href="<%= requestQuery.url %>" referrerpolicy="no-referrer" class="c-link"><%= requestQuery.url %></a></p>
	</div>

	<table class="p-table p-admin-crawler-table">
		<thead>
			<tr>
				<td></td>
				<th scope="col">日付</th>
				<th scope="col">メッセージ</th>
			</tr>
		</thead>
		<tbody>
			<%_ for (const newsData of newsDataList) { _%>
			<tr>
				<td>
					<form action="<%= pagePathAbsoluteUrl %>" method="post">
						<p><input type="hidden" name="url" value="<%= requestQuery.url %>" /></p>
						<p><input type="hidden" name="id" value="<%= newsData.id %>" /></p>
						<p><button name="actiondel" value="1" is="w0s-confirm-button" data-message="削除しますか?" class="c-submit -compact">削除</button></p>
					</form>
				</td>
				<%_ if (newsData.date !== null) { _%>
				<td><%= newsData.date.format('YYYY年M月D日') %></td>
				<%_ } else { _%>
				<td></td>
				<%_ } _%> <%_ if (newsData.refer_url !== null) { _%>
				<td><a href="<%= newsData.refer_url %>" referrerpolicy="no-referrer"><%= newsData.content %></a></td>
				<%_ } else { _%>
				<td><%= newsData.content %></td>
				<%_ } _%>
			</tr>
			<%_ } _%>
		</tbody>
	</table>
</section>
