<section class="p-section -hdg-a">
	<div class="p-section__hdg">
		<h2>сЃЄсЃ╝сѓ┐уЎ╗жї▓</h2>
	</div>

	<form action="<%= pagePathAbsoluteUrl %>" method="post" class="c-stack">
		<div class="p-form-grid">
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-url" class="c-label">URL <strong class="c-label-icon -required">т┐Ёжаѕ</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<%_ if (requestQuery.action_revise_preview || requestQuery.action_revise) { _%>
							<input type="url" class="c-input -full js-convert-trim" id="fc-url" name="url" value="<%= requestQuery.url %>" required="" readonly="" />
							<%_ } else { _%>
							<input type="url" class="c-input -full js-convert-trim" id="fc-url" name="url" value="<%= requestQuery.url %>" required="" />
							<%_ } _%>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-title" class="c-label">сѓ┐сѓцсЃѕсЃФ <strong class="c-label-icon -required">т┐Ёжаѕ</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<input class="c-input -full js-convert-trim" id="fc-title" name="title" value="<%= requestQuery.title %>" required="" />
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-category" class="c-label">сѓФсЃєсѓ┤сЃфсЃ╝ <strong class="c-label-icon -required">т┐Ёжаѕ</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<select class="c-select" id="fc-category" name="category">
								<%_ for (const category of categoryMaster) { _%> <%_ if (requestQuery.category === category.fk) { _%>
								<option value="<%= category.fk %>" selected=""><%= category.name %></option>
								<%_ } else { _%>
								<option value="<%= category.fk %>"><%= category.name %></option>
								<%_ } _%> <%_ } _%>
							</select>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-priority" class="c-label">тёфтЁѕт║д <strong class="c-label-icon -required">т┐Ёжаѕ</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<select class="c-select" id="fc-priority" name="priority">
								<%_ for (const priority of priorityMaster) { _%> <%_ if (requestQuery.priority === priority.fk) { _%>
								<option value="<%= priority.fk %>" selected=""><%= priority.name %></option>
								<%_ } else { _%>
								<option value="<%= priority.fk %>"><%= priority.name %></option>
								<%_ } _%> <%_ } _%>
							</select>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">сЃќсЃЕсѓдсѓХ</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<label class="c-label -check">
								<%_ if (requestQuery.browser) { _%>
								<input type="checkbox" name="browser" value="1" checked="" />
								<%_ } else { _%>
								<input type="checkbox" name="browser" value="1" />
								<%_ } _%>
								<span class="c-label__text">сѓдсѓДсЃќсЃќсЃЕсѓдсѓХсЂДсѓбсѓ»сѓ╗сѓ╣сЂЎсѓІсЂІ</span></label
							>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-selector" class="c-label">сѓ╗сЃгсѓ»сѓ┐сЃ╝ <strong class="c-label-icon -optional">С╗╗ТёЈ</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<input class="c-input -full js-convert-trim" id="fc-selector" name="selector" value="<%= requestQuery.selector %>" />
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="c-form-controls -submit">
			<%_ if (requestQuery.action_revise_preview || requestQuery.action_revise) { _%>
			<p><button class="c-submit" name="actionrev" value="1">С┐«ТГБ</button></p>
			<%_ } else { _%>
			<p><button class="c-submit" name="actionadd" value="1">уЎ╗жї▓</button></p>
			<%_ } _%>
		</div>
	</form>
</section>

<%_ for (const [categoryName, resourcePageOfCategory] of resourcePageList) { _%>
<section class="p-section -hdg-a">
	<div class="p-section__hdg">
		<h2><%= categoryName %></h2>
	</div>

	<table class="p-table">
		<thead>
			<tr>
				<td></td>
				<th scope="col">т»ЙУ▒АсЃџсЃ╝сѓИ</th>
				<th scope="col">тёфтЁѕ</th>
				<th scope="col">­Ъїљ</th>
				<th scope="col">сѓ╗сЃгсѓ»сѓ┐сЃ╝</th>
				<th scope="col">сЃЈсЃЃсѓисЃЦтђц</th>
				<th scope="col">сѓесЃЕсЃ╝</th>
			</tr>
		</thead>
		<tbody>
			<%_ for (const resourcePage of resourcePageOfCategory) { _%>
			<tr>
				<td class="u-cell -wrap-no">
					<form action="<%= pagePathAbsoluteUrl %>" method="post" class="c-stack">
						<p>
							<input type="hidden" name="url" value="<%= resourcePage.url %>" />
							<button name="actionrevpre" value="1" formmethod="get" class="c-submit -compact">С┐«ТГБ</button>
							<button name="actiondel" value="1" is="w0s-confirm-button" data-message="тЅіжЎцсЂЌсЂЙсЂЎсЂІ?" class="c-submit -compact">тЅіжЎц</button>
						</p>
						<p><a href="/admin/crawler-resource-log?dir=<%= resourcePage.url.hostname %><%= resourcePage.url.pathname.replace(/\/[^/]*$/g, '') %>">ти«тѕєсЃЂсѓДсЃЃсѓ»</a></p>
					</form>
				</td>
				<td>
					<a href="<%= resourcePage.url %>" referrerpolicy="no-referrer"><%= resourcePage.title %></a>
					<p style="margin-block-start: 0.5em; font-size: 80%"><%= resourcePage.url %></p>
				</td>
				<td class="u-cell -center"><%= resourcePage.priority %></td>
				<td class="u-cell -center"><%_ if (resourcePage.browser) { _%>Рюћ<%_ } _%></td>
				<td class="u-cell -wrap-anywhere"><%= resourcePage.selector %></td>
				<td><%= resourcePage.content_hash %></td>
				<td class="u-cell -center"><%_ if (resourcePage.error) { _%><strong style="color: red">РюЌ</strong><%_ } _%></td>
			</tr>
			<%_ } _%>
		</tbody>
	</table>
</section>
<%_ } _%>
