<section class="p-section -hdg-a">
	<div class="p-section__hdg">
		<h2>データ登録</h2>
	</div>

	<form action="<%= pagePathAbsoluteUrl %>" method="post" class="c-stack">
		<div class="p-form-grid">
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-url" class="c-label">URL <strong class="c-label-icon -required">必須</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<%_ if (requestQuery.action_revise_preview || requestQuery.action_revise) { _%>
							<input type="url" class="c-input -full js-convert-trim" id="fc-url" name="url" value="<%= requestQuery.url %>" required="" readonly="" />
							<%_ } else { _%>
							<input type="url" class="c-input -full js-convert-trim" id="fc-url" name="url" value="<%= requestQuery.url %>" required="" />
							<%_ } _%>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-title" class="c-label">タイトル <strong class="c-label-icon -required">必須</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<input class="c-input -full js-convert-trim" id="fc-title" name="title" value="<%= requestQuery.title %>" required="" />
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-category" class="c-label">カテゴリー <strong class="c-label-icon -required">必須</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<select class="c-select" id="fc-category" name="category">
								<%_ for (const category of categoryMaster) { _%> <%_ if (requestQuery.category === category.fk) { _%>
								<option value="<%= category.fk %>" selected=""><%= category.name %></option>
								<%_ } else { _%>
								<option value="<%= category.fk %>"><%= category.name %></option>
								<%_ } _%> <%_ } _%>
							</select>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-priority" class="c-label">優先度 <strong class="c-label-icon -required">必須</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<select class="c-select" id="fc-priority" name="priority">
								<%_ for (const priority of priorityMaster) { _%> <%_ if (requestQuery.priority === priority.fk) { _%>
								<option value="<%= priority.fk %>" selected=""><%= priority.name %></option>
								<%_ } else { _%>
								<option value="<%= priority.fk %>"><%= priority.name %></option>
								<%_ } _%> <%_ } _%>
							</select>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">ブラウザ</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<label class="c-label -check">
								<%_ if (requestQuery.browser) { _%>
								<input type="checkbox" name="browser" value="1" checked="" />
								<%_ } else { _%>
								<input type="checkbox" name="browser" value="1" />
								<%_ } _%>
								<span class="c-label__text">ウェブブラウザでアクセスするか</span></label
							>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="p-form-grid__group">
				<fieldset>
					<legend class="p-form-grid__legend">
						<label for="fc-selector" class="c-label">セレクター <strong class="c-label-icon -optional">任意</strong></label>
					</legend>
					<div class="p-form-grid__contents">
						<div class="c-form-controls">
							<input class="c-input -full js-convert-trim" id="fc-selector" name="selector" value="<%= requestQuery.selector %>" />
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="c-form-controls -submit">
			<%_ if (requestQuery.action_revise_preview || requestQuery.action_revise) { _%>
			<p><button class="c-submit" name="actionrev" value="1">修正</button></p>
			<%_ } else { _%>
			<p><button class="c-submit" name="actionadd" value="1">登録</button></p>
			<%_ } _%>
		</div>
	</form>
</section>

<%_ for (const [categoryName, resourcePageOfCategory] of resourcePageList) { _%>
<section class="p-section -hdg-a">
	<div class="p-section__hdg">
		<h2><%= categoryName %></h2>
	</div>

	<table class="p-table">
		<thead>
			<tr>
				<td></td>
				<th scope="col">対象ページ</th>
				<th scope="col">優先</th>
				<th scope="col">🌐</th>
				<th scope="col">セレクター</th>
				<th scope="col">サイズ</th>
				<th scope="col">更新日時</th>
			</tr>
		</thead>
		<tbody>
			<%_ for (const resourcePage of resourcePageOfCategory) { _%>
			<tr>
				<td class="u-cell -wrap-no">
					<form action="<%= pagePathAbsoluteUrl %>" method="post" class="c-stack">
						<p>
							<input type="hidden" name="url" value="<%= resourcePage.url %>" />
							<button name="actionrevpre" value="1" formmethod="get" class="c-submit -compact">修正</button>
							<button name="actiondel" value="1" is="w0s-confirm-button" data-message="削除しますか?" class="c-submit -compact">削除</button>
						</p>
						<p><a href="/admin/crawler-resource-log?dir=<%= resourcePage.url.hostname %><%= resourcePage.url.pathname.replace(/\/[^/]*$/g, '') %>">差分チェック</a></p>
					</form>
				</td>
				<td>
					<a href="<%= resourcePage.url %>" referrerpolicy="no-referrer"><%= resourcePage.title %></a>
					<p style="margin-block-start: 0.5em; font-size: 80%"><%= resourcePage.url %></p>
				</td>
				<td><%= resourcePage.priority %></td>
				<td><%_ if (resourcePage.browser) { _%>✔<%_ } _%></td>
				<td class="u-cell -wrap-anywhere"><%= resourcePage.selector %></td>
				<td><%= resourcePage.content_length %></td>
				<%_ if (resourcePage.last_modified !== null) { _%>
				<td><%= resourcePage.last_modified.format('YYYY年M月D日 H時m分') %></td>
				<%_ } else { _%>
				<td></td>
				<%_ } _%>
			</tr>
			<%_ } _%>
		</tbody>
	</table>
</section>
<%_ } _%>
