<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "管理者用コンテンツ"
			}
		</script>

		<%- include('./_include/_head_admin') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header') %>

			<div id="content" class="l-content -nosidebar">
				<%- include('./_include/_content_header') %>
				<main class="l-content__main">
					<ul class="p-links">
						<li><a href="/admin/crawler-news">ウェブ巡回（ニュース）</a></li>
						<li><a href="/admin/crawler-resource">ウェブ巡回（リソース）</a></li>
						<li><a href="/admin/amazon-ads">Amazon 商品広告管理</a></li>
					</ul>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_footer') %>
		</div>
	</body>
</html>
