<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>日記編集</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="stylesheet" href="/assets/style/admin.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="/assets/script/admin_blog_post.mjs" type="module"></script>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header') %>

			<div id="content" class="l-content -nosidebar">
				<div class="l-content__header">
					<div class="p-title">
						<h1>日記編集</h1>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="select">
						<div class="p-section__hdg">
							<h2>記事選択</h2>
						</div>

						<form action="<%= page.path %>#post">
							<div class="p-form-grid">
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend"><label for="fc-idselect">記事 ID</label></legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input
													type="number"
													class="c-input"
													id="fc-idselect"
													name="id"
													value="<%= page.query.id ?? latestId %>"
													min="1"
													max="<%= latestId %>"
													required=""
													style="--input-width: 4.5em"
												/>
												<button class="c-button-submit" name="actionrevpre" value="1">修正</button>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</form>
					</section>

					<section class="p-section -hdg-a" id="post">
						<div class="p-section__hdg">
							<h2>記事投稿</h2>
						</div>

						<form action="<%= page.path %>#post" method="post" class="js-form-beforeunload-confirm">
							<% if (topicValidateErrors.length > 0) { %>
							<div class="p-form-errors js-form-errors">
								<p><strong><%= topicValidateErrors.length %>個のエラーがあります。</strong></p>
								<ul>
									<% for (const validateError of topicValidateErrors) { %>
									<li><%= validateError.msg %></li>
									<% } %>
								</ul>
							</div>
							<% } %> <% if (topicPostResults.length > 0) { %>
							<ul class="p-form-results">
								<% for (const result of topicPostResults) { %><% if (result.success) { %>
								<li class="p-form-results__item -success">
									<span class="p-form-results__mark">✔</span> <span class="p-form-results__message"><%= result.message %></span>
								</li>
								<% } else { %>
								<li class="p-form-results__item -error">
									<span class="p-form-results__mark">⚠</span> <span class="p-form-results__message"><%= result.message %></span>
								</li>
								<% } %> <% } %>
							</ul>
							<% } %>

							<div class="p-form-grid">
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-title">題名 <strong class="c-required -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input class="c-input -full js-convert-trim" name="title" value="<%= page.query.title %>" id="fc-title" required="" />
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend"><label for="fc-description">概要</label></legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input class="c-input -full js-convert-trim" name="description" value="<%= page.query.description %>" id="fc-description" />
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-message">本文 <strong class="c-required -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<textarea class="c-textarea js-convert-trim" name="message" id="fc-message" required="" style="--textarea-height: 15em">
<%= page.query.message %></textarea
												>
											</div>
											<div class="p-form-grid__contents-block">
												<iframe class="p-admin-blog-message-preview" name="message-preview" style="width: 100%; height: 75vh; resize: vertical"></iframe>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">カテゴリ</legend>
										<div class="p-form-grid__contents">
											<% for (const [categoryGroupName, categories] of categoryMaster) { %>
											<div class="p-form-grid__contents-block -check">
												<% for (const category of categories) { %>
												<label class="c-label-check -checkbox">
													<% if (page.query.category !== null && page.query.category.includes(category.id)) { %>
													<input type="checkbox" name="category[]" value="<%= category.id %>" checked="" />
													<% } else { %>
													<input type="checkbox" name="category[]" value="<%= category.id %>" />
													<% } %>
													<span class="c-label-check__label"><%= category.name %></span></label
												>
												<% } %>
											</div>
											<% } %>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend" id="label-image">画像</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block -check p-admin-blog-select-image" role="radiogroup" aria-labelledby="label-image">
												<template id="select-image" data-selected="<%= page.query.image %>">
													<label>
														<input type="radio" name="image" value="" />
														<img src="" alt="" title="" />
													</label>
												</template>
											</div>
											<div class="p-form-grid__contents-block">
												<ul class="p-admin-blog-select-image-errors">
													<template id="select-image-error">
														<li></li>
													</template>
												</ul>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend"><label for="fc-relation">関連記事</label></legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input
													id="fc-relation"
													class="c-input js-convert-trim"
													name="relation"
													value="<%= page.query.relation %>"
													maxlength="23"
													pattern="[1-9]{1}[0-9]*(,[1-9]{1}[0-9]*)*"
													style="--input-width: 15em"
												/>
												<span class="u-small">（カンマ区切り）</span>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">公開</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<label class="c-label-check -checkbox">
													<% if (page.query.public) { %>
													<input type="checkbox" name="public" value="1" checked="" />
													<% } else { %>
													<input type="checkbox" name="public" value="1" />
													<% } %>
													<span class="c-label-check__label">公開状態</span>
												</label>
											</div>
										</div>
									</fieldset>
								</div>
								<% if (updateMode) { %>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">更新時の処理</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<label class="c-label-check -checkbox">
													<% if (page.query.timestamp) { %>
													<input type="checkbox" name="timestamp" value="1" checked="" />
													<% } else { %>
													<input type="checkbox" name="timestamp" value="1" />
													<% } %>
													<span class="c-label-check__label">更新日時を変更する</span>
												</label>
											</div>
										</div>
									</fieldset>
								</div>
								<% } else { %>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">外部サービス</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<label class="c-label-check -checkbox">
													<% if (page.query.social === 1) { %>
													<input type="checkbox" name="social" value="1" checked="" />
													<% } else { %>
													<input type="checkbox" name="social" value="1" />
													<% } %>
													<span class="c-label-check__label">ソーシャルサービスへ投稿する</span>
												</label>
											</div>
											<div class="p-form-grid__contents-block">
												<label class="c-label-input"
													><span class="c-label-input__label">ハッシュタグ</span
													><input
														class="c-input js-convert-trim"
														name="socialtag"
														value="<%= page.query.socialtag %>"
														pattern="[^,]+"
														style="--input-width: 12em"
												/></label>
											</div>
										</div>
									</fieldset>
								</div>
								<% } %>
							</div>

							<p><input type="hidden" name="id" value="<%= targetId %>" /></p>

							<div class="p-submit">
								<% if (updateMode) { %>
								<span class="p-submit__button"><button class="c-button-submit" name="actionrev" value="1">修正実行</button></span>
								<% } else { %>
								<span class="p-submit__button"><button class="c-button-submit" name="actionadd" value="1">新規追加</button></span>
								<% } %>
							</div>
						</form>

						<form action="https://blog.w0s.jp/message-preview" method="post" target="message-preview" id="message-preview-form">
							<p><textarea name="message" id="message-preview-ctrl" hidden=""></textarea></p>
						</form>
					</section>

					<section class="p-section -hdg-a" id="media">
						<div class="p-section__hdg">
							<h2>画像、動画登録</h2>
						</div>

						<form action="<%= page.path %>#media" method="post" enctype="multipart/form-data">
							<% if (mediaUploadResults.length > 0) { %>
							<ul class="p-form-results">
								<% for (const result of mediaUploadResults) { %><% if (result.success) { %>
								<li class="p-form-results__item -success">
									<span class="p-form-results__mark">✔</span> <span class="p-form-results__message"><%= result.message %>: <%= result.filename %></span>
								</li>
								<% } else { %>
								<li class="p-form-results__item -error">
									<span class="p-form-results__mark">⚠</span> <span class="p-form-results__message"><%= result.message %>: <%= result.filename %></span>
								</li>
								<% } %> <% } %>
							</ul>
							<% } %>

							<div class="p-form-grid">
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend"><label for="c-input-media">ファイル</label></legend>
										<div class="p-form-grid__contents">
											<div class="p-fc-sbs">
												<div class="p-fc-sbs__fc">
													<input
														is="w0s-input-file-preview"
														type="file"
														class="c-input-file"
														id="c-input-media"
														name="media"
														accept="image/*,video/*"
														required=""
														multiple=""
														data-target-for="image-preview"
														data-error-message='&lt;strong class="error">「&lt;span class="filename"&gt;${name}</span&gt;」（${size} byte）はプレビューできません。&lt;/strong&gt;'
													/>
												</div>
												<div class="p-fc-sbs__fc">
													<label class="c-label-check -checkbox"
														><input type="checkbox" name="mediaoverwrite" value="1" /><span class="c-label-check__label">上書き許可</span></label
													>
												</div>
											</div>
											<div class="p-form-grid__contents-block">
												<ul class="p-image-preview-list" id="image-preview"></ul>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="p-submit">
								<span class="p-submit__button"><button class="c-button-submit" name="actionmedia" value="1">ファイル送信</button></span>
							</div>
						</form>
					</section>

					<section class="p-section -hdg-a">
						<div class="p-section__hdg">
							<h2>凡例</h2>
						</div>

						<table class="c-table">
							<tbody>
								<tr>
									<th>#<b style="color: #e00">␣</b></th>
									<td>見出し（h3）</td>
								</tr>
								<tr>
									<th>##<b style="color: #e00">␣</b></th>
									<td>見出し（h4）</td>
								</tr>
								<tr>
									<th>-<b style="color: #e00">␣</b></th>
									<td>順不同リスト（ul）</td>
								</tr>
								<tr>
									<th>--<b style="color: #e00">␣</b></th>
									<td>リンクリスト（ul）</td>
								</tr>
								<tr>
									<th>1.<b style="color: #e00">␣</b></th>
									<td>順序つきリスト（ol）</td>
								</tr>
								<tr>
									<th>:<b style="color: #e00">␣</b>定義語<b style="color: #e00">␣</b>|<b style="color: #e00">␣</b>説明文</th>
									<td>記述リスト（dl）</td>
								</tr>
								<tr>
									<th>&gt;<b style="color: #e00">␣</b></th>
									<td>ブロックレベルの引用（blockquote）</td>
								</tr>
								<tr>
									<th>&gt;</th>
									<td>引用の「中略」</td>
								</tr>
								<tr>
									<th>?</th>
									<td>出典のURI、言語、タイトル（複数列に渡って記述可、タイトルは常に最後）</td>
								</tr>
								<tr>
									<th>`<b style="color: #e00">␣</b></th>
									<td>コード表示（pre code）</td>
								</tr>
								<tr>
									<th>*<b style="color: #e00">␣</b></th>
									<td>おまけ</td>
								</tr>
								<tr>
									<th>*YYYY-MM-DD:<b style="color: #e00">␣</b></th>
									<td>追記</td>
								</tr>
								<tr>
									<th>$photo:<b style="color: #e00">␣</b>ファイル名 キャプション</th>
									<td>写真</td>
								</tr>
								<tr>
									<th>$image:<b style="color: #e00">␣</b>ファイル名 キャプション</th>
									<td>図</td>
								</tr>
								<tr>
									<th>$tweet:<b style="color: #e00">␣</b>ID（半角スペース区切りで任意数）</th>
									<td>埋め込みツイート</td>
								</tr>
								<tr>
									<th>$youtube:<b style="color: #e00">␣</b>ID 幅x高さ キャプション</th>
									<td>YouTube動画</td>
								</tr>
								<tr>
									<th>$amazon:<b style="color: #e00">␣</b>ASIN（半角スペース区切りで任意数）</th>
									<td>Amazon商品</td>
								</tr>
								<tr>
									<th>/<b style="color: #e00">␣</b></th>
									<td>本文と区別するブロックボックス</td>
								</tr>
								<tr>
									<th>|$</th>
									<td>表ヘッダ（thead）</td>
								</tr>
								<tr>
									<th>|</th>
									<td>表セル（td）</td>
								</tr>
								<tr>
									<th>|~</th>
									<td>表見出しセル（th scope="row"）</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<th>[リンク名](記事ID)</th>
									<td>記事アンカー（a）</td>
								</tr>
								<tr>
									<th>[リンク名](#section-N)</th>
									<td>記事内アンカー（a）</td>
								</tr>
								<tr>
									<th>[リンク名](相対URL)</th>
									<td>サイト内アンカー（a）</td>
								</tr>
								<tr>
									<th>[リンク名](絶対URL)</th>
									<td>外部サイトアンカー（a）</td>
								</tr>
								<tr>
									<th>[リンク名](asin:(ASIN))</th>
									<td>Amazonへのアンカー（a）</td>
								</tr>
								<tr>
									<th>**強調**</th>
									<td>強調（em）</td>
								</tr>
								<tr>
									<th>{{出典URI<b style="color: #e00">␣</b>引用文}}</th>
									<td>インラインレベルの引用（q）</td>
								</tr>
								<tr>
									<th>((注釈文))</th>
									<td>注釈文</td>
								</tr>
							</tbody>
						</table>
					</section>
				</main>
			</div>

			<%- include('./_include/_footer') %>
		</div>
	</body>
</html>
