<!DOCTYPE html>
<html lang="ja">
	<%- include('./_include/head') %>
	<body>
		<div class="l-page">
			<%- include('./_include/header') -%>

			<div id="content" class="l-content -nosidebar">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<ol class="p-step">
						<li><span class="p-step__text">入力</span></li>
						<li><span class="p-step__text">確認</span></li>
						<li><em class="p-step__text -current">完了</em></li>
					</ol>

					<div class="p-text">
						<p>問い合わせを受け付けました。</p>

						<%_ if (requestQuery.referrer === null || requestQuery.referrer === '') { _%>
						<p><a href="/" class="c-link">トップページへ戻る</a></p>
						<%_ } else { _%>
						<p><a href="<%= requestQuery.referrer %>" class="c-link">元のページへ戻る</a></p>
						<%_ } _%>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/footer') -%>
		</div>
	</body>
</html>
