<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>問い合わせ（入力）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="stylesheet" href="/assets/style/w0s.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="/assets/script/contact.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/ContactPage">
		<div class="l-page">
			<%- include('./_include/_header') -%>

			<div id="content" class="l-content -nosidebar">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">問い合わせ</h1>
					</div>

					<ol class="p-step">
						<li class="js-screen-input"><em class="p-step__text -current">入力</em></li>
						<li class="js-screen-confirm" hidden=""><span class="p-step__text">入力</span></li>
						<li class="js-screen-input" hidden=""><span class="p-step__text">確認</span></li>
						<li class="js-screen-confirm" hidden=""><em class="p-step__text -current">確認</em></li>
						<li><span class="p-step__text">完了</span></li>
					</ol>
				</div>
				<main class="l-content__main">
					<form novalidate="" method="post" class="c-stack js-submit-overlay" id="contact-form" data-overlayed-by="form-submit-overlay">
						<%_ if (validateErrors.length > 0) { _%>
						<div class="p-form-errors js-autofocus">
							<p><strong><%= validateErrors.length %>個のエラーがあります。</strong></p>
							<ul class="p-list">
								<%_ for (const validateError of validateErrors) { _%>
								<li><%= validateError.msg %></li>
								<%_ } _%>
							</ul>
						</div>
						<%_ } _%>

						<div class="js-screen-input">
							<div class="p-form-grid">
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="input-name" class="c-label">名前 <strong class="c-label-icon -optional">任意</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="c-form-controls">
												<%_ if (page.query.name === null) { _%>
												<input class="c-input" name="yourname" id="input-name" style="--inline-size: 24em" />
												<%_ } else { _%>
												<input class="c-input" name="yourname" value="<%= page.query.name %>" id="input-name" style="--inline-size: 24em" />
												<%_ } _%>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="input-email" class="c-label">Eメールアドレス <strong class="c-label-icon -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="c-form-controls">
												<%_ if (page.query.email === null) { _%>
												<input type="email" class="c-input js-convert-trim js-validation" name="email" required="" autocomplete="email" id="input-email" style="--inline-size: 24em" aria-errormessage="input-validate-email" />
												<%_ } else { _%>
												<input type="email" class="c-input js-convert-trim js-validation" name="email" value="<%= page.query.email %>" required="" autocomplete="email" id="input-email" style="--inline-size: 24em" aria-errormessage="input-validate-email" />
												<%_ } _%>
											</div>
											<p hidden="" class="c-fc-invalid" id="input-validate-email"></p>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend" id="label-reply">
											<span class="c-label">返信の有無 <strong class="c-label-icon -required">必須</strong></span>
										</legend>
										<div class="p-form-grid__contents">
											<div class="c-form-controls -checkbox js-validation" role="radiogroup" aria-labelledby="label-reply" aria-errormessage="input-validate-reply">
												<%_ for ([key, value] of Object.entries(reply)) { _%>
												<label class="c-label -check">
													<%_ if (key !== page.query.reply) { _%>
													<input type="radio" name="reply" value="<%= key %>" required="" />
													<%_ } else { _%>
													<input type="radio" name="reply" value="<%= key %>" required="" checked="" />
													<%_ } _%>
													<span class="c-label__text"><%= value %></span>
												</label>
												<%_ } _%>
											</div>
											<p hidden="" class="c-fc-invalid" id="input-validate-reply"></p>
											<p class="c-fc-note">おことわり: 「必要」を選択された場合でも、内容によっては返信しかねる場合があります。</p>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="input-body" class="c-label">内容 <strong class="c-label-icon -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="c-form-controls">
												<textarea is="w0s-textarea-height-adjust" class="c-textarea js-convert-trim js-validation" name="body" required="" id="input-body" style="--block-size: 16em" aria-errormessage="input-validate-body"><%= page.query.body %></textarea>
											</div>
											<p hidden="" class="c-fc-invalid" id="input-validate-body"></p>
										</div>
									</fieldset>
								</div>
							</div>

							<p><input type="hidden" name="referrer" value="<%= page.query.referrer %>" /></p>
						</div>

						<div class="js-screen-confirm" hidden="">
							<table class="p-table -full">
								<tbody>
									<tr>
										<th scope="row">名前</th>
										<td class="js-confirm-output" data-ctrl-name="yourname"></td>
									</tr>
									<tr>
										<th scope="row">Eメールアドレス</th>
										<td class="js-confirm-output" data-ctrl-name="email"></td>
									</tr>
									<tr>
										<th scope="row">返信の有無</th>
										<td class="js-confirm-output" data-ctrl-name="reply"></td>
									</tr>
									<tr>
										<th scope="row">内容</th>
										<td><pre class="js-confirm-output" data-ctrl-name="body"></pre></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="c-form-controls -submit -center">
							<p class="js-screen-input" hidden=""><button class="c-submit" id="js-confirm-button">入力内容を確認</button></p>
							<p class="js-screen-confirm" hidden=""><button type="button" class="c-submit -cancel" id="js-correct-button">修正</button></p>
							<p class="js-screen-confirm"><button name="actionsend" value="1" class="c-submit" id="js-send-button">送信</button></p>
						</div>
					</form>

					<dialog class="p-dialog-overlay" id="form-submit-overlay" aria-labelledby="form-submit-overlay-message" aria-describedby="form-submit-overlay-message">
						<p><img src="/assets/image/loading.svg" alt="" width="38" height="38" /></p>
						<p id="form-submit-overlay-message">お待ちください</p>
					</dialog>
				</main>
			</div>

			<%- include('./_include/_footer') -%>
		</div>
	</body>
</html>
