<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>ウェブ巡回（ニュース）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="stylesheet" href="/assets/style/admin.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/w0s.mjs" type="module"></script>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header') %>

			<div id="content" class="l-content -nosidebar">
				<div class="l-content__header">
					<div class="p-page-title">
						<h1>ウェブ巡回（ニュース）</h1>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">データ登録</h2>
						</div>

						<form action="<%= page.path %>" method="post">
							<div class="p-form-grid">
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-url">URL <strong class="c-required -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<% if (page.query.action_revise_preview || page.query.action_revise) { %>
												<input type="url" class="c-input -full js-convert-trim" id="fc-url" name="url" value="<%= page.query.url %>" required="" readonly="" />
												<% } else { %>
												<input type="url" class="c-input -full js-convert-trim" id="fc-url" name="url" value="<%= page.query.url %>" required="" />
												<% } %>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-title">タイトル <strong class="c-required -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input class="c-input -full js-convert-trim" id="fc-title" name="title" value="<%= page.query.title %>" required="" />
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-category">カテゴリー <strong class="c-required -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<select class="c-select" id="fc-category" name="category">
													<% for (const category of categoryMaster) { %> <% if (page.query.category === category.fk) { %>
													<option value="<%= category.fk %>" selected=""><%= category.name %></option>
													<% } else { %>
													<option value="<%= category.fk %>"><%= category.name %></option>
													<% } %> <% } %>
												</select>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-priority">優先度 <strong class="c-required -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<select class="c-select" id="fc-priority" name="priority">
													<% for (const priority of priorityMaster) { %> <% if (page.query.priority === priority.fk) { %>
													<option value="<%= priority.fk %>" selected=""><%= priority.name %></option>
													<% } else { %>
													<option value="<%= priority.fk %>"><%= priority.name %></option>
													<% } %> <% } %>
												</select>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-class">ブラウザ</label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<label class="c-label-check -checkbox">
													<% if (page.query.browser) { %>
													<input type="checkbox" name="browser" value="1" checked="" />
													<% } else { %>
													<input type="checkbox" name="browser" value="1" />
													<% } %>
													<span class="c-label-check__label">ウェブブラウザでアクセスするか</span></label
												>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-selectorwrap">セレクター（包括） <strong class="c-required -required">必須</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input
													class="c-input -full js-convert-trim"
													id="fc-selectorwrap"
													name="selectorwrap"
													value="<%= page.query.selector_wrap %>"
													required=""
												/>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-selectordate">セレクター（日付） <strong class="c-required -optional">任意</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input class="c-input -full js-convert-trim" id="fc-selectordate" name="selectordate" value="<%= page.query.selector_date %>" />
											</div>
										</div>
									</fieldset>
								</div>
								<div class="p-form-grid__group">
									<fieldset>
										<legend class="p-form-grid__legend">
											<label for="fc-selectorcontent">セレクター（内容） <strong class="c-required -optional">任意</strong></label>
										</legend>
										<div class="p-form-grid__contents">
											<div class="p-form-grid__contents-block">
												<input
													class="c-input -full js-convert-trim"
													id="fc-selectorcontent"
													name="selectorcontent"
													value="<%= page.query.selector_content %>"
												/>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="p-submit">
								<% if (page.query.action_revise_preview || page.query.action_revise) { %>
								<span class="p-submit__button"><button class="c-button-submit" name="actionrev" value="1">修正</button></span>
								<% } else { %>
								<span class="p-submit__button"><button class="c-button-submit" name="actionadd" value="1">登録</button></span>
								<% } %>
							</div>
						</form>
					</section>

					<% for (const [categoryName, newsPageOfCategory] of newsPageList) { %>
					<section class="p-section -hdg-a">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg"><%= categoryName %></h2>
						</div>

						<table class="p-table-data p-admin-crawler-table">
							<thead>
								<tr>
									<th></th>
									<th>対象ページ</th>
									<th>優先</th>
									<th>🌐</th>
									<th>包括セレクター</th>
									<th>日付セレクター</th>
									<th>内容セレクター</th>
								</tr>
							</thead>
							<tbody>
								<% for (const newsPage of newsPageOfCategory) { %>
								<tr>
									<td>
										<form action="<%= page.path %>" method="post">
											<p><input type="hidden" name="url" value="<%= newsPage.url %>" /></p>
											<p>
												<button name="actionrevpre" value="1" formmethod="get">修正</button>
												<button name="actiondel" value="1" is="w0s-confirm-button" data-message="削除しますか?">削除</button>
											</p>
										</form>
									</td>
									<td>
										<a href="<%= page.path %>/data?url=<%= newsPage.url %>"><%= newsPage.title %></a>
										<p class="u-small">
											<a href="<%= newsPage.url %>" referrerpolicy="no-referrer"><%= newsPage.url %></a>
										</p>
									</td>
									<td><%= newsPage.priority %></td>
									<td><% if (newsPage.browser) { %>✔<% } %></td>
									<td><%= newsPage.selector_wrap %></td>
									<td><%= newsPage.selector_date %></td>
									<td><%= newsPage.selector_content %></td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</section>
					<% } %>
				</main>
			</div>

			<%- include('./_include/_footer') %>
		</div>
	</body>
</html>
