<!DOCTYPE html>
<html lang="ja">
	<%- include('./_include/head_kumeta') -%>
	<body>
		<div class="l-page">
			<%- include('./_include/header_kumeta') -%>

			<div id="content" class="l-content">
				<main class="l-content__main"><%- main %></main>
			</div>

			<%- include('./_include/sidebar') -%> <%- include('./_include/footer') -%>
		</div>
	</body>
</html>
