<!DOCTYPE html>
<html lang="ja">
	<%- include('./_include/head_kumeta') %>
	<body>
		<div class="l-page">
			<%- include('./_include/header_kumeta') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main"><%- main %></main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %> <%- include('./_include/footer') %>
		</div>
	</body>
</html>
