---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『魔法少女まどか☆マギカ』同人誌「[新編]叛逆の物語　上映版とパッケージ版の比較」',
	heading: '円環ピクトリアル No.6',
	subHeading: '【特集】[新編]叛逆の物語　上映版とパッケージ版の比較',
	dateModified: dayjs('2018-04-10'),
	description: '『劇場版　魔法少女まどか☆マギカ[新編]叛逆の物語』の劇場上映版と Blu-ray / DVD 版の違いをまとめた同人誌の紹介です。',
	image: 'https://media.w0s.jp/image/madoka/dojin/pictorial6_cover.jpg',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
	localNav: {
		label: '円環ピクトリアル',
		items: [
			{ path: '/madoka/dojin/pictorial6', name: 'No.6 叛逆比較' },
			{ path: '/madoka/dojin/pictorial7', name: 'No.7 TV比較' },
			{ path: '/madoka/dojin/pictorial8', name: 'No.8 講義録' },
			{ path: '/madoka/dojin/pictorial9', name: 'No.9 さやかポスター' },
			{ path: '/madoka/dojin/pictorial10', name: 'No.10 韓国上映' },
			{ path: '/madoka/dojin/pictorial11', name: 'No.11 マギレコ海外' },
			{ path: '/madoka/dojin/zaiko', name: '在庫状況' },
		],
	},
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<p>『<cite>劇場版　魔法少女まどか☆マギカ[新編]叛逆の物語</cite>』の劇場上映版と Blu-ray / DVD 版の違いをまとめました。</p>

		<p>多数の協力者のもと、400か所近い差分を解説し、一部は TVCM や特典フィルムなどのデータを使って比較画像を紹介します。</p>

		<div class="c-embed-sidebar -embed-first">
			<div class="c-embed-sidebar__text">
				<dl class="p-list-table">
					<div>
						<dt>発行日</dt>
						<dd>2016年12月30日</dd>
					</div>
					<div>
						<dt>ページ数</dt>
						<dd>フルカラー 32ページ</dd>
					</div>
					<div>
						<dt>冊子価格</dt>
						<dd>1,000円</dd>
					</div>
				</dl>
			</div>
			<div class="c-embed-sidebar__embed">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="madoka/dojin/pictorial6_cover.jpg" alt="表紙画像: [新編]パッケージを取り囲むように大量の特典フィルムが並べられた写真" width={170} height={240} quality={60} />
					</div>
				</figure>
			</div>
		</div>
	</Section>

	<Section id="buy">
		<H slot="heading">購入</H>

		<ul class="p-notes">
			<li><strong>冊子は完売しました。電子書籍の販売予定はありません。</strong></li>
		</ul>

		<div class="c-flex -buttons">
			<div class="c-flex__item">
				<a href="/madoka/dojin/pdf/pictorial6_sample.pdf" type="application/pdf" class="c-button"><img src="/assets/image/icon/pdf.png" alt="" width="16" height="16" class="c-button__icon" /><span class="c-button__text">サンプル PDF</span></a>
			</div>
			<div class="c-flex__item">
				<a href="/madoka/dojin/pdf/pictorial6/v1.0.2.pdf" type="application/pdf" rel="nofollow" class="c-button">
					<img src="/assets/image/icon/padlock.svg" alt="(認証)" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">
						購入者向け PDF<small>（ver.1.0.2、2018年4月10日更新）</small>
					</span>
				</a>
				<ul class="p-notes">
					<li>認証情報は奥付またはダウンロードカードに記載</li>
				</ul>
			</div>
		</div>
	</Section>

	<Section id="errata">
		<H slot="heading">正誤情報</H>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col">ページ</th>
						<th scope="col">内容</th>
						<th scope="col">電子版修正</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>p.31</td>
						<td>Chapter 29 の<q>1h52m02s 背景のクレジットに5人追加。</q>のタイムは、正しくは「1h51m35s」。</td>
						<td>ver.1.0.1</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="add">
		<H slot="heading">追加情報</H>

		<p>本の発行後に判明した差分データです。</p>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">Chapter 10</H>

			<ul class="p-list">
				<li>34m16s: バスの蒸気が追加。</li>
				<li>34m20s: バスの蒸気が追加。</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">Chapter 25</H>

			<ul class="p-list">
				<li>1h32m07s: ホムリリィのスカートが飛行形態になり（円形の白い歯はなし）、さらにスカートが小刻みに揺れる効果が追加。</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">Chapter 27</H>

			<ul class="p-list">
				<li>1h42m20s: テーブルの側面に溝が彫られているが、ほむらの髪と重なる部分が上映版では埋まっていたのが、パッケージ版では穴のように空いて奥の桜が見えるようになった。</li>
				<li>1h42m20s: ほむらの左腕の肘が上映版ではテーブルに接していたが、パッケージ版では若干浮いており不自然になってしまった。</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">Chapter 28</H>

			<ul class="p-list">
				<li>1h46m46s: モブキャラ達が変更<ins>され、手前（画面下）側の生徒達はまどかとほむらを向くようになった</ins>。</li>
				<li>1h48m03s〜1h48m14s: まどかの背景に出現した宇宙空間のような<del>背景</del>模様が<ins>、『[後編]永遠の物語』12話パートのまどほむ宇宙空間のような</ins>カラフル<ins>な模様</ins>になった。</li>
			</ul>
		</Section>
	</Section>
</Layout>
