<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<div class="p-header-site">
				<%_ if (page.path === '/tokyu/') { _%>
				<h1 class="p-header-site__name" itemprop="name"><a aria-current="page">東急電車形態研究</a></h1>
				<p class="p-header-site__summary" itemprop="description">東急電車の車両形態や自動放送を紹介するサイト</p>
				<%_ } else { _%>
				<p class="p-header-site__name"><a href="/tokyu/">東急電車形態研究</a></p>
				<p class="p-header-site__summary">東急電車の車両形態や自動放送を紹介するサイト</p>
				<%_ } _%>
			</div>
		</div>
		<div class="l-header__nav">
			<div class="p-header-nav">
				<a href="/tokyu/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">フィード</span>
				</a>
			</div>

			<form action="https://www.google.com/search" role="search" class="p-header-search">
				<fieldset>
					<legend class="p-header-search__legend">サイト内検索<span class="u-small">（Google 検索）</span></legend>
					<div class="p-header-search__ctrl c-search">
						<span class="c-search__hidden">
							<input type="hidden" name="as_sitesearch" value="w0s.jp" />
						</span>
						<span class="c-search__query">
							<input type="search" name="q" required="" title="キーワード" />
						</span>
						<span class="c-search__submit">
							<button>
								<svg role="img" aria-labelledby="header-search-button">
									<title id="header-search-button">検索</title>
									<use href="/assets/image/icon/search.svg#icon"></use>
								</svg>
							</button>
						</span>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="l-header__gnav">
		<nav class="p-header-gnav">
			<ul class="p-header-gnav__links" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
				<%_ for (const [path, title] of new Map([ ['/tokyu/data/', '車両データ'], ['/tokyu/sty/', '車両形態'], ['/tokyu/yomoyama/', '車両よもやま'], ['/tokyu/an/', '自動放送'], ['/tokyu/set/', '設定器'], ['/tokyu/book/', '鉄道本執筆'] ])) { _%>
				<li>
					<%_ if (page.path === path) { _%>
					<a aria-current="page" class="p-header-gnav__link"><%= title %></a>
					<%_ } else if (page.path.startsWith(path)) { _%>
					<a href="<%= path %>" itemprop="name url" class="p-header-gnav__link -my-category"><%= title %></a>
					<%_ } else { _%>
					<a href="<%= path %>" itemprop="name url" class="p-header-gnav__link"><%= title %></a>
					<%_ } _%>
				</li>
				<%_ } _%>
			</ul>
		</nav>
	</div>
</header>
