<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<%_ if (pagePathAbsoluteUrl === '/tokyu/') { _%>
			<hgroup class="p-header-site">
				<h1 class="p-header-site__name"><a aria-current="page">東急電車形態研究</a></h1>
				<p class="p-header-site__summary">東急電車の車両形態や自動放送を紹介するサイト</p>
			</hgroup>
			<%_ } else { _%>
			<div class="p-header-site">
				<div class="p-header-site__name"><a href="/tokyu/">東急電車形態研究</a></div>
				<p class="p-header-site__summary">東急電車の車両形態や自動放送を紹介するサイト</p>
			</div>
			<%_ } _%>
		</div>
		<div class="l-header__nav">
			<div class="p-header-nav">
				<a href="/tokyu/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">フィード</span>
				</a>
			</div>

			<%- include('header_search') -%>
		</div>
	</div>

	<div class="l-header__gnav">
		<nav class="p-header-gnav">
			<ul class="p-header-gnav__links">
				<%_ for (const [path, title] of new Map([ ['/tokyu/data/', '車両データ'], ['/tokyu/sty/', '車両形態'], ['/tokyu/yomoyama/', '車両よもやま'], ['/tokyu/an/', '自動放送'], ['/tokyu/set/', '設定器'], ['/tokyu/book/', '鉄道本執筆'] ])) { _%>
				<li>
					<%_ if (pagePathAbsoluteUrl === path) { _%>
					<a aria-current="page" class="p-header-gnav__link"><%= title %></a>
					<%_ } else if (pagePathAbsoluteUrl.startsWith(path)) { _%>
					<a href="<%= path %>" class="p-header-gnav__link -my-category"><%= title %></a>
					<%_ } else { _%>
					<a href="<%= path %>" class="p-header-gnav__link"><%= title %></a>
					<%_ } _%>
				</li>
				<%_ } _%>
			</ul>
		</nav>
	</div>
</header>
