---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Embedded from '@components/Embedded.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: 'AnimeJapan 2017「マギアレコード」ブース時報',
	dateModified: dayjs('2017-03-28'),
	description: 'AnimeJapan 2017 の「マギアレコード」ブースで毎時00分に流れた時報の内容をまとめました。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Embedded border={true}>
		<video controls="" width="640" height="360" slot="media">
			<source src="https://media.w0s.jp/video/madoka/yomoyama/aj2017_magireco_jiho_1100.webm" type="video/webm" />
			<source src="https://media.w0s.jp/video/madoka/yomoyama/aj2017_magireco_jiho_1100.mp4" type="video/mp4" />
			<track kind="captions" label="セリフ字幕" src="/madoka/yomoyama/video/aj2017_magireco_jiho_1100.vtt" />
		</video>
		<Fragment slot="caption">11:00 の時報の例（暁美ほむら）</Fragment>
	</Embedded>

	<Section id="10:00">
		<Fragment slot="heading">10:00　巴マミ</Fragment>

		<div class="p-box">
			<p>おはようございます、巴マミです。10時をお知らせします。アニメジャパン2017、楽しんでくださいね。疲れたら紅茶を飲んで一休みしましょう。</p>

			<p>11時の時報は暁美さんです。</p>
		</div>
	</Section>

	<Section id="11:00">
		<Fragment slot="heading">11:00　暁美ほむら</Fragment>

		<div class="p-box">
			<p>11時ね。私は暁美ほむら。あなたたちに伝えたいことがあるの。大きな荷物はビッグサイトの大型荷物預かりサービスを利用して。あと、気分が悪いときは近くの係員に伝えて。私からはそれだけ。</p>

			<p>12時の時報は、巴マミ、あなたよ。</p>
		</div>
	</Section>

	<Section id="12:00">
		<Fragment slot="heading">12:00　巴マミ</Fragment>

		<div class="p-box">
			<p>こんにちは、巴マミです。12時になりました。皆さん、お昼ご飯はどうされてますか。会場の中にはフードパークという飲食エリアがあります。オリジナルメニューもあるのでぜひチェックしてみてくださいね。</p>

			<p>1時の時報は、鹿目さん、お願いね。</p>
		</div>
	</Section>

	<Section id="13:00">
		<Fragment slot="heading">13:00　鹿目まどか</Fragment>

		<div class="p-box">
			<p>えっと、1時になりました。アニメジャパン2017、この後も続くからみんなも引き続き楽しんでね。まだまだいろんな発見が会場内にあるはずだよ。鹿目まどかでした。</p>

			<p>2時の時報は……、えっ、キュゥべえ!?</p>
		</div>
	</Section>

	<Section id="14:00">
		<Fragment slot="heading">14:00　キュゥべえ</Fragment>

		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">3月25日バージョン</Fragment>

			<div class="p-box">
				<p>僕はキュゥべえ、2時になったよ。この後、オープンステージで「マギアレコード」のイベントが行われるんだけど、僕と契約して……、じゃなくて、僕と約束して来て欲しいんだ。もうすぐ始まるからね。</p>

				<p>3時の時報は鹿目まどかだよ。</p>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">3月26日バージョン</Fragment>

			<div class="p-box">
				<p>僕はキュゥべえ、2時になったよ。ふーん、ここはずいぶん人が多いね。これだけいれば、誰か僕と契約して魔法少女になってくれるかも。ちょっとあたりを探してみるよ。</p>

				<p>3時の時報は鹿目まどかだよ。</p>
			</div>
		</Section>
	</Section>

	<Section id="15:00">
		<Fragment slot="heading">15:00　鹿目まどか</Fragment>

		<div class="p-box">
			<p>（もぐもぐ）マミさん、このケーキちょうどいい甘さで。えっ、時報? あ、す、すみません、3時です。か、鹿目まどかです。あの、いまおやつを食べてて。え、味は……うん、すっごくおいしかったよ。えへへ。</p>

			<p>4時はマミさん、お願いします。</p>
		</div>
	</Section>

	<Section id="16:00">
		<Fragment slot="heading">16:00　巴マミ</Fragment>

		<div class="p-box">
			<p>4時になりました、巴マミです。皆さん、そろそろお疲れじゃないですか。紅茶を飲んで一休みしましょう。いまお湯を沸かしてきますから。</p>

			<p>あ、5時の時報は暁美さんにお願いしてあります。</p>
		</div>
	</Section>

	<Section id="17:00">
		<Fragment slot="heading">17:00　暁美ほむら（眼鏡）</Fragment>

		<div class="p-box">
			<p>あ、あの……、あ、暁美、ほ、ほむらです。その、ええと……、5時になりました。今日はご来場いただきまして、その、あ、ありがとうございました。気を付けて帰ってくださいね。</p>
		</div>
	</Section>
</Layout>
