---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import LinkExternal from '@components/LinkExternal.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '『劇場版　魔法少女まどか☆マギカ[後編]永遠の物語』オーディオコメンタリー',
	heading: '[後編]永遠の物語　オーディオコメンタリー',
	dateModified: dayjs('2016-10-16'),
	description: '『劇場版　魔法少女まどか☆マギカ[後編]永遠の物語』の Blu-ray / DVD に収録されているオーディオコメンタリーの要約です。',
	breadcrumb: [
		{ path: '/madoka/', name: 'ホーム' },
		{ path: '/madoka/yomoyama/commentary', name: 'オーディオコメンタリー' },
	],
	localNav: [
		{ path: '/madoka/yomoyama/commentary_tv', name: 'TV シリーズ' },
		{ path: '/madoka/yomoyama/commentary_zenpen', name: '劇場版　前編' },
		{ path: '/madoka/yomoyama/commentary_kouhen', name: '劇場版　後編' },
		{ path: '/madoka/yomoyama/commentary_shinpen', name: '劇場版　新編' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger} id="chapter1" heading="Chapter 1">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）後編のコメンタリーは<a href="commentary_zenpen">前編</a>より先に録っている。今は朝。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter2" heading="Chapter 2">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（加藤）物語前半のキュゥべえはまどか達に明るめに接していたが、裏を知った後の印象を持った人のディレクションだと無感情でと言われたりした。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter4" heading="Chapter 4">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）<LinkExternal href="https://www.madoka-magica.com/zenkouhen/special/">名言ランキング</LinkExternal>で杏子が強い。</p>
			</li>
			<li>
				<p>（斎藤）あるゲームの収録で、ほむらがまどかとの幸せな夢を見てそれから覚めたときに怒りの「うわあぁ」みたいなのを入れてくれと言われたが、ほむらは何回もループしているので幸せなのが夢だったくらいではそうはならないと思い、意見を言ったことが一度だけある。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter8" heading="Chapter 8">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）うまい棒コラボの台本で「まろかー」と書いてあったが、パロディになっていたとしてもファンの方に不快感を与えないラインを考えて、直させてもらった。</p>
				<p>（加藤）世には出ていないが、関西弁で「ワイはキュゥべえや」と言う台本があった。</p>
				<p>（斎藤）最近、ほむらがまどかに対して性的興奮を覚えるド変態になっている描写が増えてきた。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter10" heading="Chapter 10">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）メガネほむらが尻に敷いているハンカチが商品になったことがある。（筆者注: 「魔法少女まどか☆マギカ　ポータブル」の限定版に付属）</p>
			</li>
			<li>
				<p>（斎藤）とある媒体で「ティロ・フィナーレ」ではないが、マミさんと協力する攻撃で必殺技名を言ったことがある。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter15" heading="Chapter 15">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（悠木）顔の見えていない状態で、絵ができた状態で（声を）当てるのは大変。</p>
				<p>（斎藤）テレビシリーズは絵もなければ当日台本なこともあって大変だった。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter19" heading="Chapter 19">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）戦うシーンで（テレビシリーズの時に）絵がなくてリアクションを入れられなかったところに、劇場版では結構入れている。</p>
				<p>（悠木）さやかの魔女と戦う時にどこで車輪が来るか分からなかった。</p>
			</li>
			<li>
				<p>（斎藤）劇場版では、ほむらの血をまどかが拭いてあげている。</p>
			</li>
			<li>
				<p>（悠木）虚淵さんにまどかの選択は最善だったかと聞いてみたら、「ある意味では正解だったんじゃないですか」という回答が返ってきた。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter21" heading="Chapter 21">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（悠木）まどかとほむらのシーンで、テレビシリーズと違いドレスのようなものを着ているのは、新房さんが「大画面になるのに女の子が裸だと可哀想だから」と着せてくれたらしい。</p>
				<p>（斎藤）劇場で見たときより（パッケージの映像は）さらに処理が違う感じがする。</p>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="chapter22" heading="Chapter 22">
		<p>コメンテーター: 悠木碧、斎藤千和、野中藍、加藤英美里</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）コメンタリーを録っている時点では、<a href="commentary_shinpen.html">新作</a>の話を知らない。</p>
			</li>
		</ul>
	</Section>

	<Amazon headingLevel={2}>
		<AmazonItem asin="B00C3EDY68" title="劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語/[後編] 永遠の物語【通常版】 [Blu-ray]" date="2013-07-24" imageId="51IOl9Ky54L" imageWidth={135} imageHeight={160} />
	</Amazon>
</Layout>
