---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『さよなら絶望先生』における『魔法少女まどか☆マギカ』ネタ',
	dateModified: dayjs('2017-04-25'),
	description: '久米田康治先生の『さよなら絶望先生』の作中で描かれた『魔法少女まどか☆マギカ』ネタをまとめました。',
	breadcrumb: [
		{ path: '/madoka/', name: 'まどか資料館' },
		{ path: '/madoka/yomoyama/kumeta', name: '久米田作品における『まどか☆マギカ』ネタ' },
	],
	localNav: {
		label: '久米田作品',
		items: [
			{ path: '/madoka/yomoyama/kumeta_kaizo', name: 'かってに改蔵' },
			{ path: '/madoka/yomoyama/kumeta_zetsubou', name: 'さよなら絶望先生' },
			{ path: '/madoka/yomoyama/kumeta_joshiraku', name: 'じょしらく' },
			{ path: '/madoka/yomoyama/kumeta_sekadoro', name: 'せっかち伯爵と時間どろぼう' },
			{ path: '/madoka/yomoyama/kumeta_kakushigoto', name: 'かくしごと' },
		],
	},
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<Fragment slot="heading">作品概要</Fragment>

		<p>「<cite>週刊少年マガジン</cite>」において2005年〜2012年に連載され、2011年以降に描かれた話には『<cite>魔法少女まどか☆マギカ</cite>』ネタも随所で登場します。</p>

		<p>2007年には久米田作品として初めてアニメ化がなされ、シャフト制作、新房昭之監督、メインキャストに野中藍、新谷良子、斎藤千和など、『<cite>魔法少女まどか☆マギカ</cite>』と共通する関係者も多いのですが、基本的に2010年以前の制作なため、アニメでネタにされた例は存在しません。ただし、一部に劇団イヌカレーが演出に関わっているパートがあり、『<cite>魔法少女まどか☆マギカ</cite>』ファンにとっても一見の価値があります。</p>

		<p>一方、2007年から4年間の長きにわたり配信されたウェブラジオ『<cite>さよなら絶望放送</cite>』では、原作漫画と同じく他作品のパロディを多用するのに加え、パーソナリティの一人が新谷良子ということもあり、2010年秋の『<cite>魔法少女まどか☆マギカ</cite>』制作発表の段階からたびたび言及、ネタにされています。</p>
	</Section>

	<Section id="manga">
		<Fragment slot="heading">漫画</Fragment>

		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百五十六話　出でよ、オツベルと象!</Fragment>

			<p>2011年7月15日　単行本「第二六集」発売</p>

			<p>11ページ目（第二六集の86ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>超難易度高い召喚獣（＝ただのニート）の部屋に<q>契約は計画的に!</q>と書かれたキュゥべえのポスター。また、ニートの男性が手にしている『<cite>MDK MGK</cite>』の表紙には鹿目まどかのような少女が描かれている。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百五十九話　アウェイなる一族</Fragment>

			<p>2011年7月15日　単行本「第二六集」発売</p>

			<p>7ページ目（第二六集の124ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>メイド喫茶のメイドが巴マミの髪型。それについて<q>マミさんみたい</q>と言う男性客が着ているTシャツ文字は<q>QB</q>。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百六十一話　春は曙。やうやう難くなりゆくやめ際。</Fragment>

			<p>2011年10月17日　単行本「第二七集」発売</p>

			<p>12ページ目（第二七集の17ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>やめる時の方が大変なものの例として、<q>契約した魔法少女</q>が挙げられている。背景の壁画はシャルロッテに喰われる直前の巴マミ。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百六十六話　笹の上のメモ</Fragment>

			<p>2011年10月17日　単行本「第二七集」発売</p>

			<p>2ページ目（第二七集の77ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>笹に吊された短冊のひとつが<q>彼女を守る私になりたい ほむら</q>。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百七十四話　善いサマリア人ね。善いサマリア人は善いね。</Fragment>

			<p>2012年2月17日　単行本「第二八集」発売</p>

			<p>6ページ目（第二八集の39ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>直してあげようとして壊してしまった例として巴マミのフィギュアが描かれている。ちなみに壊れ方は首が……。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百七十六話　悲しき絶対</Fragment>

			<p>2012年2月17日　単行本「第二八集」発売</p>

			<p>12ページ目（第二八集の73ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>絶対ギャグ（モチーフを持たぬギャグのためのギャグ）の一例としてバタコさんが新しい顔を投げようとしているが、その顔がなぜか巴マミ。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百七十八話　似勢物語</Fragment>

			<p>2012年2月17日　単行本「第二八集」発売</p>

			<p>2〜5, 13ページ目（第二八集の93〜96, 104ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>藤吉晴美の読んでいる「<cite>アニメジュア</cite>」の表紙がメガネほむら。本の中身もまどか、キュゥべえ、マミ、文字のみでワルプルギスの夜。</li>
					<li>本屋で会話するコスプレーヤーの会話が<q>今年のハロウィン何コス?</q><q>『マゴマギ』やってみようと思うの</q>。実際に「<cite>としまゑん</cite>」でコスプレした結果が（顔が残念な）鹿目まどか。</li>
					<li>アニメや漫画を再現するのが難しい例として、背景にキュゥべえのようなコスプレ。</li>
					<li>衣装と中身が<q>装丁の範囲内</q>な例として、メガネほむら。</li>
					<li>プロのモデルさんがキャラを知らずにコスプレする例として、巴マミのコスプレ。PSPポータブル『<cite>マギカ</cite>』の販売イベントな模様。客の男性から<q>首大丈夫っスか?</q>と話しかけられている。</li>
					<li>棺桶でくつろぐ望が持ち込んでいる漫画の1冊が『<cite>まど☆マギ</cite>』。表紙は髪型から鹿目まどかと思われる。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第二百九十七話　（あと）五回の憂鬱</Fragment>

			<p>2012年8月17日　単行本「第三十集」発売</p>

			<p>8ページ目（第三十集の90ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>2次元との死後婚を希望されるケースとして、遺影のオタク男性の相手が巴マミ。</li>
					<li><q>同じ作品内のキャラだからいいだろう</q>ということで、美樹さやか、佐倉杏子となぜかキュゥべえの遺影。</li>
					<li>倫が<q>棺にフィギュアやら同人誌やら入れられたり</q>と言うコマで、棺の中には巴マミのフィギュアが大小2つ、マミの顔が表紙に書かれた本が1冊、「巴」とだけ書かれた本が1冊、かなりデフォルメされているがシャルロッテ第2形態と思われる表紙の本が1冊入っている。</li>
					<li>続く<q>出棺の時魔法少女のアニメの音楽で見送られるのは</q>のセリフも、それまでの流れから『<cite>まどか☆マギカ</cite>』のことを指していると思われる。コマ背景ではメロディが<q>エエエーエエー</q>と文字表現されているので曲は「<cite>Magia</cite>」か。</li>
				</ul>
			</div>
		</Section>

		<Amazon headingLevel={3}>
			<AmazonItem asin="B00A765D5E" title="単行本 第二六集" date="2011-07-15" imageId="513b3GIZKxL" imageWidth={107} imageHeight={160} />
			<AmazonItem asin="B00A765DCM" title="単行本 第二七集" date="2011-10-17" imageId="51PTVTKsCCL" imageWidth={107} imageHeight={160} />
			<AmazonItem asin="B00A765DGI" title="単行本 第二八集" date="2012-02-17" imageId="51blIkT7EXL" imageWidth={107} imageHeight={160} />
			<AmazonItem asin="B005XOK9N6" title="単行本 第三十集" date="2012-08-17" imageId="51Co7rOEM-L" imageWidth={107} imageHeight={160} />
		</Amazon>
	</Section>

	<Section id="radio">
		<Fragment slot="heading">ラジオ<small>（<cite>さよなら絶望放送</cite>）</small></Fragment>

		<p>全203回配信 + DJCD16枚、その他DJDVDや携帯版、オールナイトニッポンRでの放送など。パーソナリティは神谷浩史（糸色望 役）と新谷良子（日塔奈美 役）。</p>

		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第166回　ティモシー・アーチャーの変声</Fragment>

			<p>2010年11月24日配信</p>

			<p>エンディング</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（神谷浩史）投稿はアニメイト TV のホームページから、各番組へのメールやあるいは、シャフトの皆さん『魔法少女まどか☆マギカ』の制作発表おめでとうございます。たまにでいいので絶望先生のことも思い出してくださいね。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li>放送前の制作発表へのメッセージ。絶望先生のアニメは三期の放送から1年が過ぎた時期。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第175回　フェッセンデンの普通</Fragment>

			<p>2011年2月2日配信</p>

			<p>エンディング</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（神谷浩史）氷川先生、『まどか☆マギカ』ではエンドカード描かせてもらえてよかったですね。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li>氷川へきる先生が第2話の予告イラストを担当されたことに対する言及。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第177回　春季の祭典</Fragment>

			<p>2011年2月16日配信</p>

			<p>コーナー「<cite>さのすけを探せ!</cite>」</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（さのすけ（神谷））シャフト制作の大人気アニメ『魔法少女まどか☆マギカ』第5話の予告イラストに俺を描いてくれたニトロプラス社のゆーぽん先生、ありがとちゃん。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li>再び予告イラストへの言及。「さのすけ」は第31回で誕生した絶望放送発祥のマスコットキャラクター（CV: 神谷浩史）だが、後に久米田作品はもとより様々な漫画、アニメに登場している。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第179回　はしごからの眺め</Fragment>

			<p>2011年3月2日配信</p>

			<p>今週の標語、お別れの一言</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（さのすけ（神谷））りょーこ、俺と契約して絶望少女になってくれよ。</li>
					<li>（新谷良子）さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、マスコットは架空のものです。</li>
				</ul>
			</div>

			<div class="p-box">
				<ul class="p-list">
					<li>（キュゥべえ（新谷））君たちはいつもそうだね。ラジオでありのままに伝えると決まって同じ反応をする。わけがわからないよ。</li>
					<li>（神谷浩史）さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、契約は架空のものです。180回に続きます。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li><q>このラジオはフィクションであり……</q>のくだりは毎回読まれるものであるが、標語のネタ元に合わせて組織名の後の単語（今回で言えば<q>マスコット</q>、<q>契約</q>）は差し替えられる。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第182回　猫のネタに釘を打て</Fragment>

			<p>2011年3月25日配信</p>

			<p>オープニングドラマ</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（新谷良子）あちゃー、「なぜ11話が放送されないんだ」とかつぶやいてる外国の方いますね。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第184回　真・さよなら絶望放送</Fragment>

			<p>2011年4月13日配信</p>

			<p>ゲスト: 野中藍（風浦可符香(PN) 役）</p>

			<p>今週の標語、コーナー「<cite>新谷良子・野中藍 酒と谷の日々</cite>」、お別れの一言</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（野中藍）絶望ネーム「さやか、かわいそうです」、その他の皆さんから寄せられました、今週の標語。</li>
					<li>（志筑仁美（新谷））ずっと前から私、糸色望君のことお慕いしていましたの。</li>
					<li>（野中藍）さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、「緑、許さない、絶対にだ」は架空のものです。</li>
					<li>（新谷良子）（あたしのせいじゃないっつーの。）</li>
				</ul>
			</div>

			<div class="p-box">
				<ul class="p-list">
					<li>（野中藍）仁美さん、杏子さん、こんにちは。『魔法少女まどか☆マギカ』感想です。脚本家さんとシャフトさんの組み合わせからは危険な香りしかしていませんでしたが、うめてんてーの可愛いほのぼののイラストに気を許してしまった結果がこれですよ。</li>
					<li>（BGM一瞬止まる）</li>
					<li>（新谷良子）うん……。あ……ありがとうメール。</li>
					<li>（野中藍）あ、ありがと、キャピキャピだ。でもちょっと、送り先間違えてる。</li>
					<li>（新谷良子）間違えてるね。あ、でもそっかー、あっちはラジオないんだぁ。</li>
					<li>（新谷&amp;野中）あー……。</li>
					<li>（野中藍）「まどかラジオ」、とかそういうのはないんだね。</li>
				</ul>
			</div>

			<div class="p-box">
				<ul class="p-list">
					<li>（新谷良子）それでは今回のお別れの一言、絶望ネーム「食べ物を粗末にするな」さんのリクエストで。</li>
					<li>（野中藍）（あれ、これ可符香だよねでもね、難しいよね。）</li>
					<li>（風浦可符香（野中））独りぼっちは寂しいもんな。いいよ、一緒に絶望してやるよ、奈美。</li>
					<li>（新谷良子）さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、杏子ちゃんマジ天使は架空のものです。185回に続きます。</li>
					<li>（新谷良子）（可符香でやるとちょっと怖いね、これ。）</li>
					<li>（野中藍）（怖いね、逆の意味が。）</li>
					<li>（新谷良子）（そうそうそうそう。）</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第190回　妻という名の魔女子たち</Fragment>

			<p>2011年6月1日配信</p>

			<p>オープニングドラマ</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（神谷浩史）しかし女子力をアップしていくと、自ずと魔女子力をアップすることになりかねませんよ。</li>
					<li>（新谷良子）なんですか、魔女子力って。</li>
					<li>（神谷浩史）魔法少女がいずれ魔女になるのが宿命であるように、女子力が上がり過ぎると男をたぶらかす魔女子力になるのもまた自明の理(り)。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第191回　五十歩万歩の男</Fragment>

			<p>2011年6月8日配信</p>

			<p>オープニングドラマ</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（神谷浩史）一見差があるように見えて大して差がないのが五十歩百歩ですが、いつの間にかその差が大きくなってしまうこと、それが五十歩万歩です。</li>
					<li><em>【中略】</em></li>
					<li>（神谷浩史）去年は DVD が『化物語』の10分の1しか売れないとネタにしていたら、今年は Blu-ray が『まどか☆マギカ』の10分の1以下しか売れない状態に。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">第201回　幻想と解禁</Fragment>

			<p>2011年8月17日配信</p>

			<p>コーナー「<cite>かってに絶望ラジオしてもいいぜ</cite>」</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（神谷浩史）『懺・さよなら絶望先生』BD-BOX購入しましたー。『懺』に加えて『獄』に『番外地』も収録されていて、今やすっかり有名になった劇団イヌカレーさんのオープニング・デチューンや公演回などが全部一緒に高画質で入っててお得だと思います。とくに「エノデンの回」の、えー細い線の書き込みっぷりはBDで観て、えー鳥肌が立ちました。『絶望先生』との相性っぷりはま……え、なにこれ、『絶望先生』との相性っぷりは『まどマギ』に負けていないと思います。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li><q>公演回</q>、<q>エノデンの回</q>とは、『<cite>懺・さよなら絶望先生</cite>』第8話 Cパートの「<cite>最後の、そして始まりのエノデン</cite>」のことで、全編にわたってイヌカレー空間による表現となった異色回。登場キャラクターは『<cite>まどか☆マギカ</cite>』でも多用された、切り絵風の表現となっている。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">携帯版　第190回　誰か注意してあげて下さい!!</Fragment>

			<p>2011年6月1日配信</p>

			<p>コーナー「<cite>たれこみったー</cite>」</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（神谷浩史）私は杉並区のとあるラーメン屋で働いています。その夜、午後11時過ぎに男性二人組が来店いたしました。ご注文を頂いてラーメンを作っていると、カウンター越しにそのお客様の会話が聞こえてきました。「『まどか』売れてるみたいですね。『化物語』かそれ以上らしいじゃないですか。」「まあ、まだ1巻の初動しか出てないんですけどね。一安心てとこでしょうか。」どうやらアニメ関係者であることが分かりました。この手の会話は杉並ではお馴染みなので、さして驚くようなことはありません。しかし……。「宮本さん、会社の入口に婚姻届貼り出したらダメですよ。」「いい作戦だと思ったんですけどね。あ、そのスープ残すなら僕頂いてもいいですか。」</li>
					<li><em>【中略】</em></li>
					<li>（神谷浩史）宮本幸裕さんがどうやら、えーご来店されたようで、えーまあ(笑)、いろいろこう自分の周りのことについてお話されていたわけですね。まあそうですよね。ま、『まどか』のシリーズディレクターですから、宮本さんは。</li>
					<li>（新谷良子）そうですね(笑)、んー。</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B005XOK9N6" title="DJCD さよなら絶望放送 携帯盤SZ-04K" date="2011-12-21" imageId="51%2B2i1YWMNL" imageWidth={160} imageHeight={136} />
			</Amazon>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">DJCD　さよなら絶望放送　第十巻</Fragment>

			<p>2011年10月26日発売</p>

			<p>コーナー「<cite>も、もげーっ! りょうこちゃん、もげーっ!</cite>」</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（ぴろし17歳（神谷））えーということで、今回のゲストを紹介します、この方でーす。</li>
					<li>（新谷良子）もう出ないって言ったのに……。さようなら、新谷良子です。</li>
					<li>（ぴろし17歳（神谷））いやー、もげ! あー、仁美もげ! 俺は上条を絶対に許さない。いいか、絶対にだ!!</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B005I065Z6" title="DJCD　さよなら絶望放送　第十巻" date="2011-10-26" imageId="51zEn8RzOML" imageWidth={160} imageHeight={159} />
			</Amazon>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">糸色望のオールナイトニッポンR</Fragment>

			<p>2011年10月15日放送</p>

			<p>オープニング</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（神谷浩史）ぜんぜん関係ないですけれども、あれ、まあ監督のね、新房さん、新房監督っていうまあ今もう、『まどか☆マギカ』だったりとか、あー、『化物語』だったりとか、いろんなこうものを監督をやってらっしゃる監督なんですけど、まあその監督が『さよなら絶望先生』の監督をやってくださってたんですけど、まあ当然そこんところも、その監督の手によるものなわけじゃないですか。</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B0066C5J84" title="DJCD さよなら絶望放送特別版 〜糸色望のオールナイトニッポンR〜" date="2012-01-25" imageId="511tDm3LUdL" imageWidth={159} imageHeight={160} />
			</Amazon>
		</Section>
	</Section>
</Layout>
