---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『じょしらく』における『魔法少女まどか☆マギカ』ネタ',
	dateModified: dayjs('2017-04-25'),
	description: '久米田康治先生が原作を担当された『じょしらく』の作中で描かれた『魔法少女まどか☆マギカ』ネタをまとめました。',
	breadcrumb: [
		{ path: '/madoka/', name: 'まどか資料館' },
		{ path: '/madoka/yomoyama/kumeta', name: '久米田作品における『まどか☆マギカ』ネタ' },
	],
	localNav: {
		label: '久米田作品',
		items: [
			{ path: '/madoka/yomoyama/kumeta_kaizo', name: 'かってに改蔵' },
			{ path: '/madoka/yomoyama/kumeta_zetsubou', name: 'さよなら絶望先生' },
			{ path: '/madoka/yomoyama/kumeta_joshiraku', name: 'じょしらく' },
			{ path: '/madoka/yomoyama/kumeta_sekadoro', name: 'せっかち伯爵と時間どろぼう' },
			{ path: '/madoka/yomoyama/kumeta_kakushigoto', name: 'かくしごと' },
		],
	},
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">作品概要</H>

		<p>「<cite>別冊少年マガジン</cite>」において2009年〜2013年に連載された作品で、久米田先生は原作として関わっており、作画はヤス先生によるものです。</p>

		<p>2012年にはアニメ化、およびウェブラジオ配信がなされました。『<cite>魔法少女まどか☆マギカ</cite>』と関わりの深いキャストとしては悠木碧（覆面 役）、新谷良子（宇座亭ウザンヌ 役）がおり、ラジオでネタにされたこともあります。</p>
	</Section>

	<Section id="manga">
		<H slot="heading">漫画</H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">特別編　壱／権利衛狸</H>

			<p>2013年2月8日　単行本「第伍巻」発売</p>

			<p>6ページ目（第伍巻の110ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>丸京が<q>あなたの漫画に出てくる四角いメガネキャラ 著作権使用料払って下さい 2億</q>と言うコマで背景にメガネほむらが描かれている。</li>
					<li>続く<q>女子が5人出てくる漫画の 著作権使用料払って下さい</q>も、手に持っている裏表紙の絵を見る限り『<cite>まどか☆マギカ</cite>』のことを指していると思われる。</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B00CUDPEJ2" title="単行本 第伍巻" date="2013-02-08" imageId="513u%2Bb%2BU4PL" imageWidth={113} imageHeight={160} />
			</Amazon>
		</Section>
	</Section>

	<Section id="anime">
		<H slot="heading">アニメ</H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">第十席</H>

			<p><time datetime="2012-09-07">2012年9月6日深夜</time>　MBS放送</p>

			<p>A パート　唐茄子屋楽団</p>

			<div class="p-box">
				<ul class="p-list">
					<li>魔梨威が<q>アニメの DVD をもらったらアニメの Blu-ray をあげよう!</q>と木胡桃に渡す BD『<cite>まが☆マガ</cite>』のパッケージにはまどかとキュゥべえ（っぽいもの）が描かれている。</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B008HTLJVK" title="アニメBlu-ray 巻ノ五（期間限定版）" date="2013-02-27" imageId="51jzkgvOvhL" imageWidth={119} imageHeight={160} />
			</Amazon>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">OAD<small>（単行本第伍巻・限定版付属）</small></H>

			<p>2013年2月8日発売</p>

			<p>B パート 三軒本屋</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（波浪浮亭木胡桃）思い出した、昔ここで力石徹の告別式をやったんですよ。</li>
					<li><em>【中略】</em></li>
					<li>（暗落亭苦来）今で言うと、火拳のエースやマミさんを悼むようなもの?</li>
					<li>一同）おー。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li>B パートは TV 放送、OAD ともにアニメオリジナルストーリーで、上記はメインキャラ5人が文京区にある講談社の講堂を訪れた時のセリフ。</li>
			</ul>

			<Amazon headingLevel={4}>
				<AmazonItem asin="4063584151" title="単行本 第伍巻（限定版）" date="2013-02-08" imageId="51MFgzd%2Bx%2BL" imageWidth={113} imageHeight={160} />
			</Amazon>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">Blu-ray / DVD　第壱巻　特典CD</H>

			<p>二次限無 Girl's Side</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（シスター）初期の飛影は緑色で百目だから「こんなの飛影じゃない」って踏めるかもしれないけど、読書用と保存用と資料用の3冊を持っている7巻は絶対無理。そんな……あんまりだよ、こんなのってないよ。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li>腐女狩りで『<cite>幽☆遊☆白書</cite>』の7巻を踏めと命ぜられたシスター（CV: 佐倉綾音）が発したセリフ。</li>
			</ul>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B008HTLIWA" title="アニメBlu-ray 巻ノ壱（期間限定版）" date="2012-09-26" imageId="51KGf1PMNjL" imageWidth={113} imageHeight={160} />
			</Amazon>
		</Section>
	</Section>

	<Section id="radio">
		<H slot="heading">ラジオ<small>（<cite>【ガールズ落語ラジオ】じょしらじ</cite>）</small></H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">第9回　くされ講釈</H>

			<p>2012年9月12日配信</p>

			<p>パーソナリティ: 佐倉綾音、後藤沙緒里</p>

			<p>コーナー「<cite>じょしがく</cite>」</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（後藤沙緒里）『じょしらく』8話、今回も実に濃密な30分でした。覆面のアイツが喋ったかと思えば、中の人が魔法少女だったり、……</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li>覆面キャラの声は悠木碧さん。アニメでは第一席から登場しているが、セリフがあったのは第八席が初。</li>
			</ul>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">第20回　小別れ</H>

			<p>2012年12月26日配信</p>

			<p>パーソナリティ: 佐倉綾音、後藤沙緒里、南條愛乃、小岩井ことり、山本希望</p>

			<p>おーぷにんぐこばなし</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（南條愛乃）ご当地百合キャラ? 例えばどんな。</li>
					<li>（佐倉綾音）やはり大道の「エイラーニャ」、人気絶頂の「ほむまど」、忘れてはならない「なのフェイ」、ややお歳の方のための「はるみち」、あ、もちろん「のりしま」も。はあ、幸せすぎてとろけそう。</li>
				</ul>
			</div>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">DJCD　ガールズ落語ラジオ　じょしらじ　其之壱</H>

			<p>2012年10月19日発売</p>

			<p>パーソナリティ: 佐倉綾音、小岩井ことり、山本希望</p>

			<p>コーナー「<cite>あいつはいつだってぶじだ…!</cite>」</p>

			<div class="p-box">
				<ul class="p-list">
					<li>（佐倉綾音）……、マスク、ティッシュ、眼鏡、サングラス、はい鏡、『まどか☆マ○○』、ハハハ(笑)……。</li>
				</ul>
			</div>

			<ul class="p-notes">
				<li>パーソナリティの間で持ち物検査が行われることになり、山本希望さんの鞄を漁っている時の様子。 『まどか☆マ○○』の単語後半部分は編集で伏せられている。 Blu-ray / DVD かコミックあるいはグッズかは不明だが、山本さんは当時『魔法少女まどか☆マギカ』の商品を持ち歩いていたということになる。</li>
			</ul>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B00939NFGK" title="DJCD ガールズ落語ラジオ じょしらじ 其之壱" date="2012-10-19" imageId="61XdK8pVkaL" imageWidth={156} imageHeight={160} />
			</Amazon>
		</Section>
	</Section>
</Layout>
