---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『かくしごと』における『魔法少女まどか☆マギカ』ネタ',
	dateModified: dayjs('2019-11-23'),
	description: '久米田康治先生の『かくしごと』の作中で描かれた『魔法少女まどか☆マギカ』ネタをまとめました。',
	breadcrumb: [
		{ path: '/madoka/', name: 'ホーム' },
		{ path: '/madoka/yomoyama/kumeta', name: '久米田作品における『まどか☆マギカ』ネタ' },
	],
	localNav: [
		{ path: '/madoka/yomoyama/kumeta_kaizo', name: 'かってに改蔵' },
		{ path: '/madoka/yomoyama/kumeta_zetsubou', name: 'さよなら絶望先生' },
		{ path: '/madoka/yomoyama/kumeta_joshiraku', name: 'じょしらく' },
		{ path: '/madoka/yomoyama/kumeta_sekadoro', name: 'せっかち伯爵と時間どろぼう' },
		{ path: '/madoka/yomoyama/kumeta_kakushigoto', name: 'かくしごと' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger} id="introduction" heading="作品概要">
		<div class="p-text">
			<p>「月刊少年マガジン」において2015年から連載されている作品であり、2020年にはTVアニメ化も予定されています。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="manga" heading="漫画">
		<Section slugger={slugger} depth={2} heading="第36号　採ってもラッキーマン" headingType="b">
			<div class="p-text">
				<p>2019年11月15日　単行本「第10巻」発売</p>
				<p>5ページ目（第10巻の80ページ）</p>
			</div>

			<div class="p-box">
				<ul class="p-list">
					<li>十丸院が想像するタイトルロゴの一つが『まどか☆マギカ』TV シリーズのロゴに酷似している。</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B0812Z5YXG" title="単行本 第10巻" date="2019-11-15" imageId="51O6jQEcd3L" imageWidth={113} imageHeight={160} />
			</Amazon>
		</Section>
	</Section>
</Layout>
