---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import ListLink from '@components/ListLink.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『魔法少女まどか☆マギカ』公式サイト　ニュース一覧',
	heading: '公式サイト　ニュース一覧',
	dateModified: dayjs('2021-01-28'),
	description: '『魔法少女まどか☆マギカ』公式サイトのニュースをリンク一覧にしました。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<Fragment slot="heading">TV シリーズ</Fragment>

		<ListLink index={true}>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n234575" icon={false}>発売中の『ニュータイプ5月号』『アニメージュ5月号』『アニメディア5月号』に情報掲載中</Anchor> （2011年4月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n234594" icon={false}>発売中の『オトナアニメvol.20』大特集中</Anchor> （2011年4月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n234613" icon={false}>公式HPリニューアル</Anchor> （2011年4月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n234646" icon={false}>配信日時決定のお知らせ</Anchor> （2011年4月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n234986" icon={false}>Blu-ray/DVD法人特典情報更新</Anchor> （2011年4月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235044" icon={false}>4/24発売「B.L.T」アニメショップ版は「魔法少女まどか☆マギカ」が表紙</Anchor> （2011年4月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235131" icon={false}>Blu-ray/DVD第6巻情報公開</Anchor> （2011年4月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235177" icon={false}>BOOKS欄情報更新</Anchor> （2011年4月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235393" icon={false}>第11話、第12話あらすじ公開</Anchor> （2011年4月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235394" icon={false}>魔女図鑑更新</Anchor> （2011年4月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235396" icon={false}>予告イラストギャラリー更新</Anchor> （2011年4月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235407" icon={false}>『魔法少女まどか☆マギカ』が表紙の『リスアニ！』Vol.5好評発売中</Anchor> （2011年4月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235497" icon={false}>4/27発売BD・DVD第1巻 本編ディスクおよびブックレットの一部内容に関するお詫び</Anchor> （2011年4月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n235711" icon={false}>4/27発売BD・DVD第1巻　交換方法に関するFAQ掲載のお知らせ</Anchor> （2011年5月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n236139" icon={false}>Blu-ray/DVD第3巻ジャケット写真公開</Anchor> （2011年5月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n236147" icon={false}>本日発売の『ニュータイプ6月号』『アニメージュ6月号』『アニメディア6月号』に情報掲載中。</Anchor> （2011年5月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n236262" icon={false}>「魔法少女まどか☆マギカ」mixiスキンサービス提供開始</Anchor> （2011年5月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n236944" icon={false}>本日発売の『キャラ★メル Febli』に情報掲載中</Anchor> （2011年5月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n236957" icon={false}>良品発送のご連絡　本編ディスクおよびブックレット交換をお申し込みいただいた御客様へ</Anchor> （2011年5月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n236982" icon={false}>Blu-ray&amp;DVD第3巻特典情報更新</Anchor> （2011年5月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n237107" icon={false}>ニコニコ動画 日台同時一挙生放送決定</Anchor> （2011年5月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n237245" icon={false}>別冊16P小冊子＋ほむら、マミロングポスター付属の『メガミマガジン』本日発売</Anchor> （2011年5月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n237108" icon={false}>Blu-ray/DVD第4巻ジャケット写真公開</Anchor> （2011年5月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n237455" icon={false}>「魔法少女まどか☆マギカ」mixiスキン第二弾　提供中</Anchor> （2011年6月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n238166" icon={false}>本日発売の『ニュータイプ7月号』『アニメージュ7月号』に情報掲載中</Anchor> （2011年6月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n238332" icon={false}>モバイル公式サイトにてきせかえサービス開始！</Anchor> （2011年6月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n238810" icon={false}>まどかが表紙の「SWITCH」本日発売！</Anchor> （2011年6月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n238825" icon={false}>いよいよ明日より全国のローソンにてキャンペーンスタート</Anchor> （2011年6月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n238855" icon={false}>まどかが表紙の『オトナアニメ vol.21』 7月8日発売！</Anchor> （2011年6月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n239131" icon={false}>「魔法少女まどか☆マギカ」一番くじ 2011年8月中旬より発売開始！！</Anchor> （2011年6月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n239327" icon={false}>Blu-ray/DVD第5巻ジャケット写真公開</Anchor> （2011年6月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n239662" icon={false}>「魔法少女まどか☆マギカ」スペシャルファンブック付き『メガミマガジン』本日発売</Anchor> （2011年6月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n240989" icon={false}>Blu-ray&amp;DVD第5巻特典情報更新</Anchor> （2011年7月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n241654" icon={false}>『コミックマーケット80』 販売商品情報公開</Anchor> （2011年8月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n242241" icon={false}>「魔法少女まどか☆ﾏｷﾞｶ」非売品グッズ＋αが当たる！アニプレックス☆Mobile夏のプレキャン開催中。</Anchor> （2011年8月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n242393" icon={false}>Blu-ray/DVD第6巻ジャケット写真公開</Anchor> （2011年8月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n243054" icon={false}>Blu-ray&amp;DVD第6巻特典情報更新</Anchor> （2011年8月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n243617" icon={false}>第16回アニメーション神戸賞 作品賞・テレビ部門受賞</Anchor> （2011年9月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n244674" icon={false}>盲導犬普及支援オリジナルポスター 2011年【秋】まどか☆マギカ先行公開 特別版完成!</Anchor> （2011年9月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n245148" icon={false}>オンラインゲーム『テイルズウィーバー』『レジェンド　オブ　エッダ』とのタイアップ開始</Anchor> （2011年9月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n245161" icon={false}>描き下ろしピンナップ付属『メガミマガジン』本日発売</Anchor> （2011年9月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n245903" icon={false}>ニュータイプアニメアワード2011 12部門受賞</Anchor> （2011年10月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n246144" icon={false}>ニコニコ生放送にて、全話一挙放送が決定</Anchor> （2011年10月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n247387" icon={false}>劇場プロジェクト始動！！</Anchor> （2011年11月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n247433" icon={false}>アニメイト新宿店に巨大看板掲出中</Anchor> （2011年11月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n247964" icon={false}>公式HPプチリニューアル</Anchor> （2011年11月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n247965" icon={false}>『魔法少女まどか☆マギカ』展開催決定！</Anchor> （2011年11月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n248243" icon={false}>『魔法少女まどか☆マギカ』展 名古屋会場開催決定！！</Anchor> （2011年11月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n248516" icon={false}>【期間限定】モバゲーにて5話まで無料配信中</Anchor> （2011年11月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n248517" icon={false}>本日発売の『メガミマガジン1月号』『娘TYPE1月号』に情報掲載中</Anchor> （2011年11月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n248836" icon={false}>コミケ81にて「まどか☆マギカ」オリジナルグッズセット販売決定</Anchor> （2011年12月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n249294" icon={false}>好評発売中の『アニメディア1月号』に情報掲載中</Anchor> （2011年12月14日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n249295" icon={false}>第15回文化庁メディア芸術祭アニメーション部門大賞受賞</Anchor> （2011年12月15日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n249510" icon={false}>コミックマーケット81 NO.221シャフトブースにて原画集先行発売</Anchor> （2011年12月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n249756" icon={false}>コミケ81「魔法少女まどか☆マギカ」アニプレックスブース(No.222)物販情報</Anchor> （2011年12月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n250177" icon={false}>盲導犬普及支援オリジナルポスター 2012年【まどか☆マギカ】第二弾新作完成！！</Anchor> （2011年12月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n251202" icon={false}>4月1日「アニメコンテンツエキスポ」にて、ステージイベント開催決定！！</Anchor> （2012年1月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n251452" icon={false}>「魔法少女まどか☆マギカ」mixiスキン第三弾　提供中</Anchor> （2012年1月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n251517" icon={false}>第2回　まどか検定開催！</Anchor> （2012年1月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n251945" icon={false}>ニコニコ生放送にて英語吹き替え版世界6カ国同時無料上映決定</Anchor> （2012年2月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n252313" icon={false}>『魔法少女まどか☆マギカ』展・大阪会場開催！</Anchor> （2012年2月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n252823" icon={false}>第11回東京アニメアワード３部門受賞</Anchor> （2012年2月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n253029" icon={false}>第15回文化庁メディア芸術祭受賞作品展にてシリーズ一挙上映＆「ラッピングカ―」展示＆試乗決定</Anchor> （2012年2月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n253140" icon={false}>『魔法少女まどか☆マギカ』ラッピングカーの制作を見学しよう！</Anchor> （2012年2月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n253143" icon={false}>アニメコンテンツエキスポ展開内容発表</Anchor> （2012年2月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n253398" icon={false}>『魔法少女まどか☆マギカ』ラッピングカー完成品画像を公開！</Anchor> （2012年2月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n253399" icon={false}>第3回　まどか検定開催！</Anchor> （2012年2月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n254195" icon={false}>『魔法少女まどか☆マギカ』展・名古屋会場開催！</Anchor> （2012年3月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n254783" icon={false}>【3/31発売】「魔法少女まどか☆マギカ」（PUELLA MAGI MADOKA MAGIKA）KEY ANIMATION NOTE　VOL.2</Anchor> （2012年3月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n255294" icon={false}>ニコニコ生放送にて、4月7日（土）12時30分より、第5話英語吹き替え版（日本語字幕付）を無料で生放送</Anchor> （2012年3月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n255380" icon={false}>ACE2012会場限定仕様劇場版「魔法少女まどか☆マギカ」前後編劇場特別観賞券セット販売</Anchor> （2012年3月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n255381" icon={false}>第４回　まどか検定開催！</Anchor> （2012年3月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n255838" icon={false}>ACE2012ステージイベントニコニコ生放送にて中継決定！！</Anchor> （2012年3月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n255708" icon={false}>「劇場版 魔法少女まどか☆マギカ」上映予定劇場情報を公開</Anchor> （2012年4月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n256189" icon={false}>2012年4月5日よりTOKYO MXにて再放送開始</Anchor> （2012年4月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n256873" icon={false}>スマート電気自動車 「魔法少女まどか☆マギカ」 コラボレーションモデルが新潟に初登場！</Anchor> （2012年4月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n257286" icon={false}>オリジナルtwitter用アイコンをプレゼント！</Anchor> （2012年4月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n261552" icon={false}>ニコニコ生放送にて、6月9日（土）12時30分より、第12話英語吹き替え版（日本語字幕付）を無料で生放送</Anchor> （2012年5月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/tv/news/#n263559" icon={false}>『魔法少女まどか☆マギカ オンライン』みんなでテスト参加者募集開始!</Anchor> （2012年6月4日）</li>
		</ListLink>
	</Section>
	<Section slugger={slugger}>
		<Fragment slot="heading">劇場版</Fragment>

		<ListLink index={true}>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14354" icon={false}>【限定特典付き】 劇場窓口販売前売券第1弾7月7日(土)発売</Anchor>（2012年6月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14355" icon={false}>前編＆後編公開日決定！！</Anchor>（2012年6月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14356" icon={false}>劇場版前編＆後編公開館追加情報公開！！</Anchor>（2012年6月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14357" icon={false}>劇場版公式HP公開！！</Anchor>（2012年6月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14353" icon={false}>GOODS情報を更新！</Anchor>（2012年6月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14351" icon={false}>前売券第一弾券面画像＆特典クリアファイルセット画像公開</Anchor>（2012年6月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14352" icon={false}>公式HPリニューアル</Anchor>（2012年6月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14331" icon={false}>前編＆後編主題歌アーティスト決定</Anchor>（2012年7月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14332" icon={false}>劇場版スタッフリスト更新</Anchor>（2012年7月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14333" icon={false}>【限定特典付き】 劇場窓口販売前売券第1弾本日より発売開始</Anchor>（2012年7月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14328" icon={false}>第11回 Sense of Gender賞 シスターフッド賞受賞</Anchor>（2012年7月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14329" icon={false}>第43回星雲賞 メディア部門受賞</Anchor>（2012年7月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14330" icon={false}>TVスポット第1弾公開</Anchor>（2012年7月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14325" icon={false}>ローソン限定グッズ付き　前売券7月31日(火)発売決定！</Anchor>（2012年7月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14326" icon={false}>アニメイト・ゲーマーズ限定グッズ付き　前売券7月31日(火)発売決定！</Anchor>（2012年7月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14327" icon={false}>ローソン×伊藤園×魔法少女まどか☆マギカキャンペーン開催決定！！</Anchor>（2012年7月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14324" icon={false}>劇場予告第1弾公開</Anchor>（2012年7月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14322" icon={false}>7月31日～ローソンキャンペーン詳細公開</Anchor>（2012年7月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14323" icon={false}>ローソン限定グッズ付前売券特典画像公開</Anchor>（2012年7月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14375" icon={false}>GOODS情報を更新！</Anchor>（2012年7月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14442" icon={false}>コミックマーケット82限定前売券情報公開</Anchor>（2012年8月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14479" icon={false}>コミックマーケット82 物販情報公開</Anchor>（2012年8月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14505" icon={false}>【限定特典付き】 劇場窓口販売前売券第2弾 9月8日(土)発売</Anchor>（2012年8月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14506" icon={false}>後編キービジュアル公開</Anchor>（2012年8月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14507" icon={false}>TVシリーズで心に残ったセリフを大募集！</Anchor>（2012年8月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14528" icon={false}>【京都国際マンガ・アニメフェア】ステージイベント開催決定</Anchor>（2012年8月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14658" icon={false}>MUSICページ公開</Anchor>（2012年8月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14659" icon={false}>TVスポット第2弾公開</Anchor>（2012年8月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14710" icon={false}>特典付前売券第二弾券面＆特典ポスター画像公開</Anchor>（2012年9月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14712" icon={false}>公開館追加決定！TOHOシネマズ名古屋ベイシティ</Anchor>（2012年9月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14792" icon={false}>アルティメットまどかが表紙 「ニュータイプ10月号」本日発売</Anchor>（2012年9月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14810" icon={false}>前編・後編連動鑑賞特典情報公開</Anchor>（2012年9月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14811" icon={false}>京都国際マンガ・アニメフェア限定前売券情報公開</Anchor>（2012年9月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14816" icon={false}>ナムコナンジャタウンタイアップ決定！！</Anchor>（2012年9月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14843" icon={false}>前売券のネット通販開始！</Anchor>（2012年9月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14856" icon={false}>京都国際マンガ・アニメフェア限定前売券画像公開</Anchor>（2012年9月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14857" icon={false}>「劇場版 魔法少女まどか☆マギカ」世界展開決定！！</Anchor>（2012年9月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14872" icon={false}>劇場予告第2弾公開</Anchor>（2012年9月15日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14934" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第15位発表</Anchor>（2012年9月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14935" icon={false}>9/29ニコ生にてT Vシリーズ一挙放送決定</Anchor>（2012年9月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14938" icon={false}>ClariS「ルミナス」の2012年10月10日発売決定！</Anchor>（2012年9月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14944" icon={false}>『劇場版 魔法少女まどか☆マギカ［前編］ 始まりの物語』舞台挨拶決定！</Anchor>（2012年9月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14958" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第14位発表</Anchor>（2012年9月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14966" icon={false}>劇場物販情報公開！</Anchor>（2012年9月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14959" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第13位発表</Anchor>（2012年9月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14960" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第12位発表</Anchor>（2012年9月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14973" icon={false}>まどかが表紙 SWITCH特別編集号「ソーシャルカルチャーネ申1oo The Bible」10/6発売</Anchor>（2012年9月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14980" icon={false}>10月7日徳島 ufotable CINEMAでの舞台挨拶決定！</Anchor>（2012年9月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14981" icon={false}>新房監督インタビュー掲載 フリーマガジン「ANI-(C)OM」9月号！</Anchor>（2012年9月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14984" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第11位発表</Anchor>（2012年9月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14994" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第10位発表</Anchor>（2012年9月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=14999" icon={false}>【マチアソビ】眉山ロープウェイガイダンス決定！！</Anchor>（2012年9月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15001" icon={false}>Kalafina「ひかりふる」の2012年10月24日発売決定！</Anchor>（2012年9月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15006" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第9位発表</Anchor>（2012年9月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15016" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第8位発表</Anchor>（2012年9月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15021" icon={false}>『劇場版 魔法少女まどか☆マギカ［後編］永遠の物語』舞台挨拶決定!!</Anchor>（2012年9月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15034" icon={false}>劇場物販情報を追加更新！</Anchor>（2012年9月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15026" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第7位発表</Anchor>（2012年9月29日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15035" icon={false}>「前編」の来場者特典決定！ 先着でMagica Quartet特製色紙をプレゼント！</Anchor>（2012年9月29日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15027" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第6位発表</Anchor>（2012年9月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15028" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第5位発表</Anchor>（2012年10月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15060" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第4位発表</Anchor>（2012年10月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15072" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第3位発表</Anchor>（2012年10月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15081" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第2位発表</Anchor>（2012年10月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15097" icon={false}>10月16日（火）からローソン 魔法少女まどか☆マギカキャンペーン開催！</Anchor>（2012年10月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15099" icon={false}>劇場物販情報を追加更新！</Anchor>（2012年10月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15101" icon={false}>TVスポット第3弾公開</Anchor>（2012年10月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15092" icon={false}>魔法少女まどか☆マギカ 心に残ったセリフ 第1位発表</Anchor>（2012年10月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15164" icon={false}>ufotable CINEMAでの10/7（日）舞台挨拶つき上映回チケットの入手方法変更</Anchor>（2012年10月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15150" icon={false}>「劇場版まどかマギカ」前編パンフレット広告ページの誤植と掲載漏れについてのお詫び</Anchor>（2012年10月6日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15180" icon={false}>GOODS情報を更新しました。</Anchor>（2012年10月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15215" icon={false}>10/13 ニコ生Kalafina特番放送決定！！</Anchor>（2012年10月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15227" icon={false}>魔法少女まどか☆マギカ展 イベント記念品の一部販売のお知らせ</Anchor>（2012年10月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15229" icon={false}>GOODS情報を更新しました。</Anchor>（2012年10月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15259" icon={false}>GOODS情報を更新しました。</Anchor>（2012年10月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15270" icon={false}>『魔法少女まどか☆マギカ TPS FEATURING 美樹さやか＆佐倉杏子』Yahoo!マーケット版販売開始</Anchor>（2012年10月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15281" icon={false}>祝大ヒットスタート！週替わり来場者プレゼントキャンペーン実施決定！</Anchor>（2012年10月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15318" icon={false}>劇場版「魔法少女まどか☆マギカ」ご当地ビジュアル一挙公開</Anchor>（2012年10月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15331" icon={false}>GOODS情報を更新しました。</Anchor>（2012年10月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15350" icon={false}>TVスポット第4弾公開</Anchor>（2012年10月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15375" icon={false}>週替わり来場者プレゼントキャンペーン 10月27日～配布ポストカード発表！</Anchor>（2012年10月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15411" icon={false}>GOODS情報を更新しました。</Anchor>（2012年10月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15454" icon={false}>週替わり来場者プレゼントキャンペーン 11月3日～配布ポストカード発表！</Anchor>（2012年11月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15455" icon={false}>公開館追加決定！</Anchor>（2012年11月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15457" icon={false}>GOODS情報を更新しました。</Anchor>（2012年11月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15468" icon={false}>劇場版「魔法少女まどか☆マギカ」ご当地ビジュアル追加公開</Anchor>（2012年11月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15488" icon={false}>公開館追加決定！</Anchor>（2012年11月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15516" icon={false}>一部上映館、公開日変更のお知らせ</Anchor>（2012年11月6日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15530" icon={false}>公開館追加決定！</Anchor>（2012年11月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15577" icon={false}>公開館追加決定！</Anchor>（2012年11月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15590" icon={false}>公開館追加決定！</Anchor>（2012年11月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15601" icon={false}>GOODS情報を更新しました。</Anchor>（2012年11月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15605" icon={false}>公開館追加決定！</Anchor>（2012年11月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15655" icon={false}>公開館追加決定！</Anchor>（2012年11月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15673" icon={false}>公開劇場拡大記念 来場者特典決定！！</Anchor>（2012年11月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=15746" icon={false}>公開館追加決定！</Anchor>（2012年11月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16026" icon={false}>公開館追加決定！</Anchor>（2012年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16036" icon={false}>12/31(月)年忘れ一挙上映　決定！</Anchor>（2012年12月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16094" icon={false}>コミックマーケット83開催に合わせてローソン国際展示場駅前店にて数量限定販売！！</Anchor>（2012年12月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16061" icon={false}>完全限定生産『劇場版 魔法少女まどか☆マギカ×EXILIM』コラボデジタルカメラ予約開始！</Anchor>（2012年12月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16128" icon={false}>12/31(月)年忘れ一挙上映限定来場者特典イラスト公開！</Anchor>（2012年12月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16594" icon={false}>公開館追加決定！</Anchor>（2013年1月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16617" icon={false}>2013年1月20日よりRCC中国放送にて再放送開始</Anchor>（2013年1月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16664" icon={false}>3月30日「アニメコンテンツエキスポ2013」にて、ステージイベント開催決定！</Anchor>（2013年1月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16682" icon={false}>公開館追加決定！</Anchor>（2013年1月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16783" icon={false}>GOODS情報を更新！</Anchor>（2013年2月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16926" icon={false}>公開館追加決定！</Anchor>（2013年2月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=16978" icon={false}>GOODS情報を更新！</Anchor>（2013年2月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17049" icon={false}>「アニメコンテンツエキスポ2013」ステージイベントの出演者追加決定！</Anchor>（2013年2月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17096" icon={false}>「アニメコンテンツエキスポ2013」ステージイベントに斎藤千和さん参加決定！</Anchor>（2013年2月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17126" icon={false}>明治大学にて魔法少女まどか☆マギカ等身大原動画展開催！</Anchor>（2013年2月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17209" icon={false}>あのまどか☆マギカ展が広島で開催決定！</Anchor>（2013年3月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17240" icon={false}>ACE2013会場限定仕様の「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」劇場特別鑑賞券発売決定</Anchor>（2013年3月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17446" icon={false}>GOODS情報を更新！</Anchor>（2013年3月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17454" icon={false}>GOODS情報を更新！</Anchor>（2013年3月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17469" icon={false}>ACE2013会場限定仕様の「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」劇場特別鑑賞券の姿見公開！</Anchor>（2013年3月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17488" icon={false}>魔法少女まどか☆マギカのパズルゲームアプリ配信開始！</Anchor>（2013年3月29日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17504" icon={false}>「劇場版 魔法少女まどか☆マギカ ［前編］始まりの物語／［後編］永遠の物語」Blu-ray＆DVD発売！</Anchor>（2013年3月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17505" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」公開時期および上映予定劇場情報を公開</Anchor>（2013年3月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17521" icon={false}>Blu-ray&amp;DVD 告知用PV公開</Anchor>（2013年4月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17578" icon={false}>マウスコンピューターとのコラボUltrabook™予約受付開始！</Anchor>（2013年4月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17593" icon={false}>アニプレックス★Mobileで「劇場版 魔法少女まどか☆マギカ」のオリジナルスマホスタンドが貰えるキャンペーン実施中！</Anchor>（2013年4月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17672" icon={false}>公開館追加決定！</Anchor>（2013年4月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17754" icon={false}>GOODS情報を更新！</Anchor>（2013年4月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17770" icon={false}>Blu-ray&amp;DVD店舗別購入特典画像更新</Anchor>（2013年4月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17861" icon={false}>前編/後編Blu-ray完全生産限定版がANIPLEX+にて予約受付開始！</Anchor>（2013年5月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17862" icon={false}>京まふ限定の舞妓さん姿のまどかがフィギュアで登場！</Anchor>（2013年5月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17895" icon={false}>長野グランドシネマズ上映延長！</Anchor>（2013年5月14日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17913" icon={false}>公開館追加決定！</Anchor>（2013年5月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17924" icon={false}>Blu-ray完全生産限定版　パッケージビジュアル公開</Anchor>（2013年5月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=17964" icon={false}>ACE2013で販売された「劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語/[後編] 永遠の物語 B1タペストリー 」が一部店舗および通販にて取扱中！</Anchor>（2013年5月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=18009" icon={false}>GOODS情報を更新！</Anchor>（2013年5月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=18038" icon={false}>GOODS情報を更新！</Anchor>（2013年6月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=18068" icon={false}>GOODS情報を更新！</Anchor>（2013年6月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=18066" icon={false}>Blu-ray店舗別購入特典完成イラスト更新</Anchor>（2013年6月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=18165" icon={false}>GOODS情報を更新！</Anchor>（2013年6月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=18226" icon={false}>GOODS情報を更新！</Anchor>（2013年6月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26453" icon={false}>まどか☆マギカショップが宇都宮、名古屋で開催決定！</Anchor>（2013年6月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26454" icon={false}>「魔法少女まどか☆マギカ×ナゾメイト」チケット絶賛発売中！」</Anchor>（2013年6月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26473" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」第1弾劇場前売り鑑賞券発売決定</Anchor>（2013年6月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26491" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」公開劇場を追加</Anchor>（2013年6月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26536" icon={false}>GOODS情報を更新！</Anchor>（2013年7月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26549" icon={false}>劇場版「魔法少女まどか☆マギカ」前編後編ポスタープレゼントキャンペーン実施中！</Anchor>（2013年7月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26551" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」公開日決定！</Anchor>（2013年7月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26573" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」HPリニューアル</Anchor>（2013年7月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26594" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」公開劇場を追加</Anchor>（2013年7月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26600" icon={false}>GOODS情報を更新！</Anchor>（2013年7月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26641" icon={false}>あいち国際女性映画祭で「劇場版 前編／後編」の上映とトークセッション開催決定！</Anchor>（2013年7月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26660" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」特報を公開しました。</Anchor>（2013年7月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26675" icon={false}>スマートフォンサイトオープン！</Anchor>（2013年7月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26720" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」前売り券情報を追加しました。</Anchor>（2013年7月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26745" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」前売り券情報を追加しました。</Anchor>（2013年7月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26848" icon={false}>コミックマーケット84限定　前売り券の姿見を公開しました</Anchor>（2013年8月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=26851" icon={false}>GOODS情報を更新！</Anchor>（2013年8月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27063" icon={false}>＜セガ＞遊んで＋もらえる　まどか☆マギカキャンペーンスタート！</Anchor>（2013年8月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27067" icon={false}>京都国際マンガ・アニメフェア2013　ブース出展＆ステージイベント開催決定！</Anchor>（2013年8月14日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27069" icon={false}>GOODS情報を更新！</Anchor>（2013年8月14日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27128" icon={false}>GOODS情報を更新！</Anchor>（2013年8月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27138" icon={false}>GOODS情報を更新！</Anchor>（2013年8月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27168" icon={false}>「魔法少女まどか☆マギカ」がLINEスタンプに登場！</Anchor>（2013年8月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27188" icon={false}>『魔法少女まどか☆マギカ』複製原画展-始まりと終わりの物語-　開催決定！</Anchor>（2013年8月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27218" icon={false}>[新編]叛逆の物語の主題歌はClariS「カラフル」、Kalafina「君の銀の庭」に決定!!</Anchor>（2013年8月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27299" icon={false}>京都国際マンガ・アニメフェア2013　ステージイベントに斎藤千和さんの出演が決定！</Anchor>（2013年9月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27301" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」HPリニューアル</Anchor>（2013年9月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27302" icon={false}>第２弾劇場前売券、9月7日より全国上映劇場にて販売開始</Anchor>（2013年9月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27304" icon={false}>「［新編］叛逆の物語」に新たなる魔法少女・百江なぎさ登場！</Anchor>（2013年9月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27356" icon={false}>9月6日放送の「めざましテレビ」内ミドリgaマドグチにて紹介されます！</Anchor>（2013年9月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27357" icon={false}>全国劇場での第2弾劇場前売り券と本予告の上映が明日9月7日からスタート！</Anchor>（2013年9月6日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27407" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」前売り券情報を追加!</Anchor>（2013年9月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27485" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」とロッテリアのコラボ決定！</Anchor>（2013年9月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27486" icon={false}>「魔法少女まどか☆マギカ」TVシリーズの再放送が決定！</Anchor>（2013年9月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27491" icon={false}>ルミネマン渋谷にてコラボキャンペーン開催！</Anchor>（2013年9月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27501" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」予告映像を公開しました。</Anchor>（2013年9月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27561" icon={false}>GOODS情報を更新！</Anchor>（2013年9月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27588" icon={false}>「コップのフチ子」が「魔法少女まどか☆マギカ」と初コラボレーション！</Anchor>（2013年9月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27622" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」の挿入歌にKalafinaの歌う「misterioso」が決定！</Anchor>（2013年9月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27637" icon={false}>第3弾キービジュアル公開！</Anchor>（2013年9月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27638" icon={false}>全国劇場での第3弾劇場前売り券が10月5日から販売スタート！</Anchor>（2013年9月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27653" icon={false}>「劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語」公開カウントダウン企画スタート！</Anchor>（2013年9月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27662" icon={false}>ティ・ジョイスマートフォンアプリ「キネパス」にて公開記念コラボキャンペーンスタート！</Anchor>（2013年9月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27673" icon={false}>GOODS情報を更新！</Anchor>（2013年9月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27695" icon={false}>GOODS情報を更新！</Anchor>（2013年10月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27717" icon={false}>「アニプレックス★MOBILE スマホ版」新規入会者限定で「劇場版　魔法少女まどか☆マギカ」オリジナルスマホスタンドプレゼント！</Anchor>（2013年10月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27735" icon={false}>『劇場版 魔法少女まどか☆マギカ [前編][後編]』地上波放送決定！</Anchor>（2013年10月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27736" icon={false}>「［新編］叛逆の物語」公開記念〝新房昭之監督作品上映祭2013〟＆世界最速上映イベント開催！</Anchor>（2013年10月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27756" icon={false}>『劇場版 魔法少女まどか☆マギカ』と『＜物語＞シリーズセカンドシーズン』との夢のコラボレーションが決定！</Anchor>（2013年10月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27768" icon={false}>チケット販売情報公開！「［新編］叛逆の物語」公開記念 新房昭之監督作品上映祭2013</Anchor>（2013年10月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27778" icon={false}>「叛逆の物語」公開記念 東急電鉄×西武鉄道 モバイルラリー 実施決定！</Anchor>（2013年10月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27782" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」TVCM第3弾 Kalafina「misterioso」ver.を公開しました。</Anchor>（2013年10月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27788" icon={false}>『魔法少女まどか☆マギカぴあ』発売決定！</Anchor>（2013年10月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27796" icon={false}>ロッテリア×Newtype「魔法少女まどか☆マギカ」キャンペーン、明日10日から開始!!</Anchor>（2013年10月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27798" icon={false}>ティ・ジョイ運営劇場限定 スペシャルポップコーンセット＆オリジナルドリンク販売決定!</Anchor>（2013年10月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27786" icon={false}>劇場版2作『[前編]始まりの物語』&amp;『[後編]永遠の物語』のリバイバル公開決定！</Anchor>（2013年10月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27808" icon={false}>『劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語』週替わり来場者プレゼント決定！</Anchor>（2013年10月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27852" icon={false}>Honya Clubプレゼントキャンペーン開催中！</Anchor>（2013年10月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27860" icon={false}>「劇場版 魔法少女まどかマギカ[新編]叛逆の物語」初日舞台挨拶決定！</Anchor>（2013年10月15日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27865" icon={false}>『魔法少女まどか☆マギカfone(フォン)』10月下旬配信スタート！</Anchor>（2013年10月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27877" icon={false}>「新編[叛逆の物語]」深夜からの最速上映決定！</Anchor>（2013年10月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27891" icon={false}>『劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語』と『シリーズセカンドシーズン』のコラボレーション交通広告！</Anchor>（2013年10月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27909" icon={false}>『劇場版 魔法少女まどか☆マギカ 新編 叛逆の物語』の公開を記念したドリンクの発売が、ユナイテッド・シネマ豊洲併設カフェ「Breathe(ブリース)」にて決定！</Anchor>（2013年10月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27910" icon={false}>魔法少女まどか☆マギカ アートタクシー情報</Anchor>（2013年10月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27915" icon={false}>GOODS情報を更新！</Anchor>（2013年10月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27934" icon={false}>「新編 叛逆の物語」劇場物販情報公開</Anchor>（2013年10月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27935" icon={false}>「劇場版公開記念 2時間でわかる!大ヒットアニメ『魔法少女まどか☆マギカ』」放送内容公開！</Anchor>（2013年10月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27936" icon={false}>「ナムコ×劇場版 魔法少女まどか☆マギカ [新編] 叛逆の物語 キャンペーン」開催</Anchor>（2013年10月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27938" icon={false}>とちぎテレビ「魔法少女まどか☆マギカ」再放送、放送時間変更のお知らせ</Anchor>（2013年10月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27958" icon={false}>「[新編] 叛逆の物語」大阪・京都・名古屋 公開記念舞台挨拶決定！</Anchor>（2013年10月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27965" icon={false}>本日配信スタートのANI-COM RADIOに加藤英美里さんがゲスト出演！</Anchor>（2013年10月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27964" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］ 叛逆の物語」長編予告を公開しました。</Anchor>（2013年10月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27973" icon={false}>デジモノステーション12月号＆リスアニ！Vol.15にてとのコラボレーションを実施！</Anchor>（2013年10月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27985" icon={false}>GOODS情報を更新！</Anchor>（2013年10月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27986" icon={false}>「[新編] 叛逆の物語」劇場物販商品を追加！</Anchor>（2013年10月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27987" icon={false}>本日発売のsmart12月号増刊はほむらが表紙！</Anchor>（2013年10月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=27999" icon={false}>10月30日発売の電撃G'sマガジン12月号はまどかが表紙！</Anchor>（2013年10月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28000" icon={false}>「魔法少女まどか☆マギカ」TVシリーズのBlu-ray Disc BOX＆MUSIC COLLECTION発売決定！</Anchor>（2013年10月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28002" icon={false}>「劇場版 魔法少女まどか☆マギカ [新編] 叛逆の物語」ついに本日公開！</Anchor>（2013年10月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28053" icon={false}>GOODS情報を更新！</Anchor>（2013年10月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28054" icon={false}>「[新編]叛逆の物語」週替わり来場者プレゼント第2弾ビジュアル公開！</Anchor>（2013年10月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28060" icon={false}>劇場公開記念！期間限定で劇中に登場したナイトメアのレプリカが登場!!</Anchor>（2013年10月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28063" icon={false}>「［新編］叛逆の物語」のスポーツ報知タブロイド版が発売決定！</Anchor>（2013年10月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28076" icon={false}>全国のローソンでは魔法少女まどか☆マギカキャンペーンを開催中!</Anchor>（2013年10月31日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28114" icon={false}>『魔法少女まどか☆マギカfone(フォン)』配信スタート！</Anchor>（2013年11月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28128" icon={false}>GOODS情報を更新！</Anchor>（2013年11月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28144" icon={false}>キャンバスアート「鹿目まどか」が限定2000個/シリアルナンバー入りで販売決定！</Anchor>（2013年11月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28156" icon={false}>「劇場版 魔法少女まどか☆マギカ［新編］叛逆の物語」公開記念 渋谷ロフト・梅田ロフト タイアップ 『マミ’s Room －マミズルーム－』</Anchor>（2013年11月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28151" icon={false}>『[前編]始まりの物語／[後編]永遠の物語』11月15日ニコニコ生放送一挙放送決定！</Anchor>（2013年11月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28210" icon={false}>GOODS情報を更新！</Anchor>（2013年11月15日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28248" icon={false}>GOODS情報を更新！</Anchor>（2013年11月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28246" icon={false}>劇場動員100万人突破記念 来場者プレゼント決定！</Anchor>（2013年11月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28401" icon={false}>『劇場版 魔法少女まどか☆マギカ [前編][後編]』新春オールナイト</Anchor>（2013年12月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28403" icon={false}>PS Vita TVのCM「TVとあそうぼう」篇でマミさんが登場！</Anchor>（2013年12月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28430" icon={false}>TVシリーズ「魔法少女まどか☆マギカ」とちぎテレビ(FYT)12月14日(土)放送時間変更のお知らせ</Anchor>（2013年12月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28455" icon={false}>TVシリーズ「魔法少女まどか☆マギカ」Blu-ray Disc Box 姿見公開！</Anchor>（2013年12月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28466" icon={false}>ANIPLEX＋にて「魔法少女まどか☆マギカ」グッズを発表！</Anchor>（2013年12月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28484" icon={false}>お客様からの応援に感謝いたしまして、新来場者特典が12月14日よりスタート！</Anchor>（2013年12月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28514" icon={false}>「劇場版 魔法少女まどか☆マギカ」[新編]＆[前編/後編]のバッテリーウィジェットアプリ配信開始！</Anchor>（2013年12月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28577" icon={false}>12月31日限定、全国劇場にて大晦日上映</Anchor>（2013年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28578" icon={false}>シーズン限定来場者特典決定！！</Anchor>（2013年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28583" icon={false}>コミックマーケット85 アニプレックスブースで「[新編] 叛逆の物語」のグッズ販売決定！</Anchor>（2013年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28596" icon={false}>12月29日、ローソン国際展示場駅前店にて限定グッズ販売決定！！</Anchor>（2013年12月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28632" icon={false}>「e-MOOK 魔法少女まどか☆マギカ　LOVE! さやか＆杏子ver.」が12月28日発売！</Anchor>（2013年12月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28682" icon={false}>「アニプレックス★モバイル」で「魔法少女まどか☆マギカ」のグッズも当たるクリスマスキャンペーン開催中！</Anchor>（2013年12月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28748" icon={false}>12月31日大晦日限定、全国劇場にて劇場版前編・後編・新編の年忘れ一挙上映が決定！</Anchor>（2013年12月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28793" icon={false}>『魔法少女まどか☆マギカfone』第2弾「暁美ほむらver.」配信スタート！</Anchor>（2013年12月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28828" icon={false}>公開劇場拡大＆記念来場者特典が決定！</Anchor>（2014年1月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=28924" icon={false}>Blu-ray/DVD発売決定！！</Anchor>（2014年1月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29070" icon={false}>第37回 日本アカデミー賞 優秀アニメーション作品賞 受賞！</Anchor>（2014年1月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29139" icon={false}>AnimeJapan2014にてステージイベント開催決定！</Anchor>（2014年1月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29156" icon={false}>さぬき映画祭にて、「劇場版 魔法少女まどか☆マギカ」3作の上映が決定！</Anchor>（2014年1月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29157" icon={false}>キネカ大森にて前後編の２本立て上映決定！</Anchor>（2014年1月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29232" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」Blu-ray完全生産限定版の特典BD内容追加</Anchor>（2014年1月29日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29260" icon={false}>ANIPLEX+にて「暁美ほむら 時間遡行ver. 1/7 スケールフィギュア」の原型画像を公開！</Anchor>（2014年1月31日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29266" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」Blu-ray完全生産限定版のパッケージビジュアル公開！</Anchor>（2014年2月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29217" icon={false}>全国のローソンで魔法少女まどか☆マギカレシートＩＤキャンペーンが開催！</Anchor>（2014年2月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29295" icon={false}>AnimeJpana2014での「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」トークショーの出演者決定！</Anchor>（2014年2月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29345" icon={false}>ANIPLEX+限定販売で「暁美ほむら悪魔ver. 1/8 スケールフィギュア」の 企画が決定！</Anchor>（2014年2月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29364" icon={false}>公式Twitterフォロワー10万達成記念、蒼樹うめ先生イラストのアイコンプレゼント！</Anchor>（2014年2月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29376" icon={false}>Blu-ray/DVD店舗購入特典画像公開！</Anchor>（2014年2月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29435" icon={false}>日本アカデミー賞優秀賞受賞作品として品川プリンスシネマにて2月20日・21日に上映！</Anchor>（2014年2月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29445" icon={false}>Blu-ray/DVD店舗購入特典 描き下ろしイラストラフ公開！</Anchor>（2014年2月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29537" icon={false}>AnimeJapan限定「魔法少女まどか☆マギカ」×「Rascal」コラボグッズ発表！</Anchor>（2014年2月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29579" icon={false}>「鹿目まどか」「暁美ほむら」「巴マミ」ライブ壁紙 配信開始！</Anchor>（2014年2月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29592" icon={false}>Blu-ray/DVD店舗購入特典画像公開！</Anchor>（2014年3月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29590" icon={false}>Blu-ray/DVD店舗購入特典　描き下ろしイラストを更新しました</Anchor>（2014年3月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29618" icon={false}>Blu-ray完全生産限定版のパッケージ姿見を公開しました。</Anchor>（2014年3月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29647" icon={false}>Blu-ray/DVD店舗購入特典画像公開！</Anchor>（2014年3月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29682" icon={false}>魔法少女まどか☆マギカfone「さやか」「マミ」「杏子」ver.配信開始！iPhone版も発売決定！</Anchor>（2014年3月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29655" icon={false}>「美樹さやか」「佐倉杏子」ライブ壁紙 配信開始！</Anchor>（2014年3月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29772" icon={false}>「なぎさのチーズケーキ」の先行販売が決定！</Anchor>（2014年3月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29786" icon={false}>「魔法少女まどか☆マギカ」オンリーショップがアニメイトにて開催！</Anchor>（2014年3月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29806" icon={false}>Blu-ray/DVD店舗購入特典画像公開！</Anchor>（2014年3月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29817" icon={false}>Blu-ray/DVD店舗購入特典画像公開！</Anchor>（2014年3月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29878" icon={false}>iPhone向けデザイン壁紙配信開始！</Anchor>（2014年3月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29944" icon={false}>「[新編]叛逆の物語」ライブ壁紙＆ロック画面アプリ配信開始！</Anchor>（2014年4月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29951" icon={false}>「アニプレックス★MOBILE」新規入会者限定で「劇場版 魔法少女まどかマギカ[新編]叛逆の物語」オリジナルモバイルスタンドプレゼント！</Anchor>（2014年4月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29973" icon={false}>Bru-ray&amp;DVD発売告知映像を公開！</Anchor>（2014年4月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29976" icon={false}>「劇場版魔法少女まどか☆マギカ展」開催記念キャンペーン－「10,000人でつくるアルティメットまどかと悪魔ほむら」－</Anchor>（2014年4月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=29992" icon={false}>「お菓子の魔女 逃走中抱きまくら」発売決定</Anchor>（2014年4月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30035" icon={false}>『まんがタイムきらら☆マギカ』vol.13が発売中！</Anchor>（2014年4月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30098" icon={false}>Blu-ray、DVDのスタッフ表記についてのお詫び</Anchor>（2014年4月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30128" icon={false}>「ソウルジェムライト 叛逆の物語セット」受注開始</Anchor>（2014年4月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30164" icon={false}>「『[新編]叛逆の物語』ｘ『AVIREX』コラボ デイリーTシャツ」受注開始</Anchor>（2014年4月25日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30184" icon={false}>「魔法少女まどか☆マギカ」と「ニセコイ」のコラボイベント開催！</Anchor>（2014年4月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30269" icon={false}>「劇場版　魔法少女まどか☆マギカ　前編・後編・新編」三本立て一挙上映オールナイト　開催決定！</Anchor>（2014年5月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30379" icon={false}>「劇場版 魔法少女まどか☆マギカ　LOVE! マミ＆なぎさver.」が5月26日発売！</Anchor>（2014年5月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30404" icon={false}>【iPhone専用：きせかえ電話帳】[新編]叛逆の物語　デザイン配信開始！</Anchor>（2014年5月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30566" icon={false}>オーケストラ・コンサート会場、ローソン4店舗限定『オリジナルまどか☆マギカTシャツ』発売開始！</Anchor>（2014年6月6日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30610" icon={false}>ガシャポンから「ソウルジェムストラップ5」が登場！</Anchor>（2014年6月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30741" icon={false}>アーケード版カードバトルゲーム『劇場版 魔法少女まどか☆マギカMAGICARD BATTLE』ロケテスト開催！</Anchor>（2014年6月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=30815" icon={false}>「マスコットリング『キュゥべえ』」予約受付中！</Anchor>（2014年6月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31061" icon={false}>スマートフォン向けゲームアプリ『まどか☆マギカ　マジカルコイン』配信開始！</Anchor>（2014年7月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31147" icon={false}>「新千歳空港国際アニメーション映画祭2014」にて、劇場版3作品をオールナイト上映決定</Anchor>（2014年7月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31186" icon={false}>「T×T GARAGE presents 新千歳空港アニメフェア2014」にて「[新編]叛逆の物語」の展示イベント開催</Anchor>（2014年7月30日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31207" icon={false}>「劇場版魔法少女まどか☆マギカMAGICARD BATTLE」が本日より稼働開始！</Anchor>（2014年7月31日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31208" icon={false}>コミケ86のアニプレックスブースにてグッズ販売決定!!</Anchor>（2014年7月31日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31227" icon={false}>『劇場版 魔法少女まどかマギカ　[新編]叛逆の物語』オーケストラ・コンサート』開催！</Anchor>（2014年8月1日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31250" icon={false}>iPhone版「魔法少女まどか☆マギカfone i」配信開始</Anchor>（2014年8月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31365" icon={false}>コミックマーケット86の開催に合わせた会場周辺のローソン店舗物販情報！</Anchor>（2014年8月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31445" icon={false}>「Puella Magi Madoka Magica The Movie -Rebellion- Sweet Summer Gift 2014」がアニプレックスプラスで予約受付中！</Anchor>（2014年8月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31613" icon={false}>劇場版『魔法少女まどか☆マギカ』折りたたみ傘＋雨用ポンチョ予約受付開始！</Anchor>（2014年8月29日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31656" icon={false}>iOS版『まどか☆マギカ　マジカルコイン』配信開始！</Anchor>（2014年9月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31692" icon={false}>京まふ2014　ローソン限定　グッズ付き入場券発売！！</Anchor>（2014年9月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31732" icon={false}>「魔法少女まどか☆マギカ　オリジナルコッププレゼントキャンペーン」実施中！！</Anchor>（2014年9月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=31974" icon={false}>『劇場版 魔法少女まどかマギカ　[新編]叛逆の物語』オーケストラ・コンサート』のメインビジュアルを公開！</Anchor>（2014年9月29日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32010" icon={false}>シダックスライブカフェ×「劇場版 魔法少女まどか☆マギカ オーケストラ・コンサート」開催決定！</Anchor>（2014年10月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32154" icon={false}>10/13(月)【新編】オーケストラコンサート大阪公演の台風１９号への対応につきまして</Anchor>（2014年10月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32182" icon={false}>シダックスライブカフェ×「劇場版 魔法少女まどか☆マギカ オーケストラ・コンサート」がスタート！</Anchor>（2014年10月14日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32317" icon={false}>11月4日(火)より、全国のローソンにて、数量限定 「キュゥべえまん」発売！</Anchor>（2014年10月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32433" icon={false}>『劇場版 魔法少女まどか☆マギカ』オーケストラ・コンサート、札幌での開催が決定！</Anchor>（2014年11月8日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32477" icon={false}>「劇場版魔法少女まどか☆マギカMAGICARD BATTLE 2nd」が絶賛稼働中！</Anchor>（2014年11月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32801" icon={false}>コミックマーケット87 No.111アニプレックスブースにて「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」グッズ発売！</Anchor>（2014年12月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32903" icon={false}>第二回目販売！ローソン描き下ろしイラスト まどかフィギュア先行販売！</Anchor>（2014年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32925" icon={false}>「魔法少女まどか☆マギカ Plus」が、遂にモブキャストに登場!!</Anchor>（2014年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32934" icon={false}>コミックマーケット87の追加物販情報！！</Anchor>（2014年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=32937" icon={false}>「劇場版 魔法少女まどか☆マギカ [新編]叛逆の物語」が札幌雪まつりに参加決定！</Anchor>（2014年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33077" icon={false}>ローソン限定　グッズ付きバレンタインギフト</Anchor>（2014年12月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33235" icon={false}>「SNOW MIKU 2015」と「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」のコラボレーションイラスト公開！</Anchor>（2015年1月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33319" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」と「SNOW MIKU 2015」のコラボグッズの販売が決定！</Anchor>（2015年1月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33348" icon={false}>イオンにて「魔法少女まどか☆マギカ　イオンオリジナルランチョンマットプレゼント キャンペーン」を実施！！</Anchor>（2015年1月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33464" icon={false}>さっぽろ雪まつりに合わせて会場周辺の一部ローソンにてオリジナルグッズを販売！！</Anchor>（2015年2月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33487" icon={false}>『劇場版 魔法少女まどか☆マギカ』オーケストラ・コンサート札幌公演開催記念の新ビジュアルを公開！</Anchor>（2015年2月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33537" icon={false}>グッズ情報更新</Anchor>（2015年2月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33669" icon={false}>劇場版３部作　川崎で2／28（土）より一挙上映決定！</Anchor>（2015年2月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33722" icon={false}>ローソン限定「キュゥべえのにごり酒」予約受付開始</Anchor>（2015年2月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33893" icon={false}>SUGOI JAPANにて「魔法少女まどか☆マギカ」がアニメ部門およびグランプリを受賞しました！</Anchor>（2015年3月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33855" icon={false}>AnimeJapan2015のローソン限定オリジナルグッズ情報</Anchor>（2015年3月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=33997" icon={false}>『まどか☆マギカ　アイコンチェンジ』iOS・Androidで配信開始！</Anchor>（2015年3月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34255" icon={false}>劇場版3部作　大阪で4／18（土）より一挙上映決定！</Anchor>（2015年4月6日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34259" icon={false}>「劇場版 魔法少女まどか☆マギカ[新編 叛逆の物語]」アプリ配信開始！</Anchor>（2015年4月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34313" icon={false}>4月10日発売のNewtype5月号に蒼樹うめ先生描き下ろしピンナップが掲載！</Anchor>（2015年4月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34314" icon={false}>本日4月10日は「きらら☆マギカ　Vol.19」の発売日！</Anchor>（2015年4月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34335" icon={false}>「劇場版 魔法少女まどか☆マギカ [新編] 叛逆の物語」きせかえアプリ配信開始！</Anchor>（2015年4月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34336" icon={false}>iPhone向けロック画面壁紙配信中！</Anchor>（2015年4月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34226" icon={false}>「アニプレックス★MOBILE」モバイルスタンドプレゼントキャンペーン締め切り間近！</Anchor>（2015年4月27日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=34957" icon={false}>本日6月10日は「きらら☆マギカ　Vol.20」発売！蒼樹うめ先生の表紙が目印！！</Anchor>（2015年6月10日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=35074" icon={false}>創刊30周年「月刊ニュータイプ」が「魔法少女まどか☆マギカ」の超レアグッズを一挙受注生産＆販売開始！</Anchor>（2015年6月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=35253" icon={false}>アニメーション制作スタジオ・シャフト40周年記念展示イベント『MADOGATARI展』開催決定！</Anchor>（2015年7月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=35344" icon={false}>『まどか☆マギカ　マジカルコイン』大型アップデート！「キャラクターボイス」「リアルグッズキャンペーン」を搭載！</Anchor>（2015年7月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=35438" icon={false}>グッズ情報更新</Anchor>（2015年7月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=35550" icon={false}>全国のローソン店内のマルチコピー機サービス「ファンコレ」にて、ローソン限定描き下ろしブロマイドが発売中！</Anchor>（2015年8月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=35637" icon={false}>会場の周辺のローソンにて「劇場版　魔法少女まどか☆マギカ[新編]叛逆の物語」の オリジナルグッズ販売決定！</Anchor>（2015年8月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=35921" icon={false}>京都国際マンガ・アニメフェア2015　グッズ付き入場券発売中！！</Anchor>（2015年8月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=36170" icon={false}>9月22日（火）より全国のローソン店舗（一部店舗を除く）にて「劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語」の缶バッジ、クリアポスターが登場！</Anchor>（2015年9月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=36471" icon={false}>魔法少女まどか✩マギカのブロマイドが期間限定で登場！</Anchor>（2015年10月15日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=36547" icon={false}>「劇場版 魔法少女まどか☆マギカ[新編 叛逆の物語]」アプリ配信開始！</Anchor>（2015年10月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=36680" icon={false}>イオングループにて「魔法少女まどか☆マギカ　イオンオリジナル ダブルポケットクリアファイルプレゼント キャンペーン」を実施！！</Anchor>（2015年11月16日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=36753" icon={false}>＜セガ＞セガ☆限定 魔法少女まどか☆マギカキャンペーンスタート！</Anchor>（2015年11月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=36865" icon={false}>earth music &amp; ecology Japan Label とのコラボレーションアイテムが発売！</Anchor>（2015年12月2日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=36966" icon={false}>「魔法少女まどか☆マギカ×ジャンカラ コラボキャンペーン」実施中！</Anchor>（2015年12月17日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=37315" icon={false}>一番くじプレミアム「魔法少女まどか☆マギカ～Magiccraft～」　1月下旬発売！</Anchor>（2016年1月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=37423" icon={false}>「魔法少女まどか☆マギカ×ジャンカラ コラボキャンペーン 第2弾」実施中！</Anchor>（2016年2月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=37796" icon={false}>全国のローソン店舗で『魔法少女まどか☆マギカ』とタイアップしたイースターキャンペーンを実施！！</Anchor>（2016年3月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=37797" icon={false}>「AnimeJapan2016」のローソン限定オリジナルグッズ情報！！</Anchor>（2016年3月22日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=38199" icon={false}>ローソン限定オリジナルグッズ発売！</Anchor>（2016年4月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=38227" icon={false}>【MADOGATARI展】5/4（火）～8（日）　名古屋にて開催！前売券ローソンチケットにて販売中！</Anchor>（2016年4月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=38262" icon={false}>「東京、大阪、福岡の一部ローソンにてオリジナルグッズを販売！！」</Anchor>（2016年4月26日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=39687" icon={false}>コミックマーケット90に関する物販情報！！</Anchor>（2016年8月5日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=39697" icon={false}>ガールフレンド（仮）x 魔法少女まどか☆マギカコラボ開催！</Anchor>（2016年8月12日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=39865" icon={false}>大好評につきコミックマーケット90開催記念ローソン限定グッズをLoppiで予約開始！！</Anchor>（2016年8月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=40102" icon={false}>コミックマーケット90記念「魔法少女まどか☆マギカ」オリジナルブロマイド発売！</Anchor>（2016年9月13日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=40208" icon={false}>「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」とデノンのコラボヘッドホンが登場！</Anchor>（2016年9月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=40321" icon={false}>スマートフォンゲーム「マギアレコード 魔法少女まどか☆マギカ外伝」2017年春配信！事前登録受付スタート！！</Anchor>（2016年10月3日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=40382" icon={false}>チネチッタ川崎にて「魔法少女まどか☆マギカ」劇場版3部作が”LIVE ZOUND”にて上映決定！</Anchor>（2016年10月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=41178" icon={false}>「マギアレコード」応援！TVシリーズ一挙放送が決定！！</Anchor>（2016年12月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=41203" icon={false}>ローソン限定オリジナルグッズ発売！</Anchor>（2016年12月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=41587" icon={false}>塚口サンサン劇場にて「魔法少女まどか☆マギカ」劇場版3部作が上映決定！</Anchor>（2017年1月28日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=43301" icon={false}>ローソン限定オリジナルグッズ発売！</Anchor>（2017年4月18日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=43622" icon={false}>ローソンオリジナル菓子発売！</Anchor>（2017年5月23日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=43773" icon={false}>「魔法少女まどか☆マギカ」のTV・劇場版の代表曲を網羅した"アルティメット"コレクション発売決定！</Anchor>（2017年6月9日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=44573" icon={false}>8/9の発売に先駆けて、「魔法少女まどか☆マギカ」Ultimate Best 視聴動画公開！！</Anchor>（2017年8月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=45161" icon={false}>AbemaTVにて、「劇場版 魔法少女まどか☆マギカ」3作品一挙配信決定！</Anchor>（2017年10月6日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=45302" icon={false}>キネマ旬報シアターにて「魔法少女まどか☆マギカ」劇場版3部作が上映決定！</Anchor>（2017年10月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=45573" icon={false}>イオンシネマ幕張新都心にて「魔法少女まどか☆マギカ」劇場版3部作がULTIRA上映決定！</Anchor>（2017年11月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=45883" icon={false}>魔法少女まどかマギカ 劇場版3作を3日間連続で AbemaTVで無料配信！</Anchor>（2017年12月24日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=49319" icon={false}>川崎チネチッタにて、新編のLIVE ZOUND上映決定！</Anchor>（2018年12月19日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=49733" icon={false}>「魔法少女まどか☆マギカ」×森永製菓コラボキャンペーンの開催決定</Anchor>（2019年1月29日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=50623" icon={false}>5月21日(火)より「魔法少女まどか☆マギカ」×森永製菓コラボキャンペーンの開催決定！</Anchor>（2019年5月14日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=50759" icon={false}>TVアニメ「魔法少女まどか☆マギカ」再放送が決定！</Anchor>（2019年5月31日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=51625" icon={false}>スマートフォン向けアプリゲーム『逆転オセロニア』とのコラボレーションが決定！</Anchor>（2019年9月11日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=52584" icon={false}>川崎チネチッタにて、前編・後編・新編のLIVEサウンド上映決定！</Anchor>（2019年12月4日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=52838" icon={false}>劇場版[新編]レンタル配信がスタート！</Anchor>（2019年12月20日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=56036" icon={false}>「魔法少女まどか☆マギカ」10周年記念プロジェクト始動！！</Anchor>（2021年1月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=56037" icon={false}>「魔法少女まどか☆マギカ」10周年記念プロジェクト始動！！</Anchor>（2021年1月7日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=56138" icon={false}>ハノカゲさんからのお祝いイラスト公開！</Anchor>（2021年1月14日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=56326" icon={false}>PAPAさんからのお祝いイラスト公開！</Anchor>（2021年1月21日）</li>
			<li><Anchor href="https://www.madoka-magica.com/rebellion/news/?id=56327" icon={false}>川井マコト先生からのお祝いイラスト公開！</Anchor>（2021年1月28日）</li>
		</ListLink>
	</Section>

	<ListNote>
		<li>2021年1月をもって収集作業を停止したので、以降のデータは<Anchor href="https://www.madoka-magica.com/rebellion/news/">公式サイトのニュースページ</Anchor>を参照ください。</li>
	</ListNote>
</Layout>
