---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import Box from '@components/Box.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import List from '@components/List.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '蒼樹うめ展　音声ガイド',
	dateModified: dayjs('2016-03-28'),
	description: '蒼樹うめ展の音声ガイドの内容からとくに注目したい箇所を抜粋し、要約のうえ記載しています。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="guidelist">
		<Fragment slot="heading">各会場のガイドリスト</Fragment>

		<Grid column="narrow">
			<GridItem>
				<Embedded border={true}>
					<Image path="madoka/yomoyama/umeten_guide_list_tokyo.jpg" alt="画像拡大" width={155} height={220} quality={60} link={true} slot="media" />
					<Fragment slot="caption">ガイドリスト（東京）</Fragment>
				</Embedded>
			</GridItem>
			<GridItem>
				<Embedded border={true}>
					<Image path="madoka/yomoyama/umeten_guide_list_osaka.jpg" alt="画像拡大" width={155} height={220} quality={60} link={true} slot="media" />
					<Fragment slot="caption">ガイドリスト（大阪）</Fragment>
				</Embedded>
			</GridItem>
			<GridItem>
				<Embedded border={true}>
					<Image path="madoka/yomoyama/umeten_guide_opus_click.jpg" alt="写真拡大" width={147} height={220} quality={60} link={true} slot="media" />
					<!-- 2016-03-19 057C10068 -->
					<Fragment slot="caption">マルチメディアガイド機オーパス</Fragment>
				</Embedded>
			</GridItem>
		</Grid>
	</Section>

	<Section id="chapter1">
		<Fragment slot="heading">第1章　プロローグ、展覧会メインビジュアル ほか</Fragment>

		<Section id="no1" depth={2} headingType="c">
			<Fragment slot="heading">1　プロローグ</Fragment>

			<p>3人の挨拶。阿澄佳奈、悠木碧は簡単な自己紹介付き。</p>
		</Section>

		<Section id="no2" depth={2} headingType="c">
			<Fragment slot="heading">2　「蒼樹うめ展」描き下ろしイラスト（展覧会メインビジュアル）</Fragment>

			<p>描き下ろしイラストについてのトーク。</p>

			<Box>
				<List>
					<li><p>（蒼樹）ゆのとまどかはどちらも身長が低い設定で、ゆのは144cm。</p></li>
					<li>
						<p>（悠木）私、144.5cm。</p>

						<p>（蒼樹）私も144.5cm。</p>
					</li>
					<li><p>（蒼樹）まどかは152cmで、5人の魔法少女の中でもいちばん小さいが、ゆのと並べて描くと大きくなってしまう。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no3" depth={2} headingType="c">
			<Fragment slot="heading">3　クレヨン画「お友だち」 〜子どもの頃の夢と漫画家になるまで</Fragment>

			<p>蒼樹うめの一人トーク。</p>

			<Box>
				<List>
					<li><p>（蒼樹）私や兄が小さい頃に作った作品を母が保管しており、その中からとくに印象だったものを持ってた。</p></li>
					<li><p>（蒼樹）小さい頃はソフトクリーム屋さんかパン屋さん、花屋さんになりたいと思っていた。</p></li>
					<li><p>（蒼樹）水泳とピアノ、習字を習っていた。</p></li>
					<li><p>（蒼樹）中学3年頃から始めた同人誌の活動を始めた。</p></li>
					<li>
						<p>（蒼樹）里帰りをするたびにおじいちゃんに『らんま1/2』を買ってもらっていた。女の子を描くということを意識したのは、高橋留美子先生の影響が大きかった。</p>
					</li>
				</List>
			</Box>
		</Section>

		<ListNote>
			<li>大阪会場では 2 と 3 の順序が逆。</li>
		</ListNote>
	</Section>
	<Section id="chapter2">
		<Fragment slot="heading">第2章　ひだまりスケッチ</Fragment>

		<Section id="no4" depth={2} headingType="c">
			<Fragment slot="heading">4　「ひだまりスケッチ」連載スタートのきっかけ</Fragment>

			<Box>
				<List>
					<li><p>（阿澄）『ひだまりスケッチ』の連載が始まったのは2004年4月の「まんがタイムきららキャラット」で、先生が大学生だった頃。</p></li>
					<li><p>（蒼樹）ひだまり以前はパソコンゲームメーカーのPR4コマの連載をしていたのと、アンソロジーコミックも何本か描かせていただいていた。</p></li>
					<li><p>（阿澄）ゆのっちはいちばん最初にレギュラーとしていただいたキャラクター。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no5" depth={2} headingType="c">
			<Fragment slot="heading">5　実体験に基づく「ひだまり」の世界</Fragment>

			<Box>
				<List>
					<li><p>（阿澄）『ひだまりスケッチ』の世界観は先生の実体験に基づいていると伺った。</p></li>
					<li><p>（蒼樹）予備校時代はクラスにほとんど友達がいなかった。アニメーション研究部と合唱部を掛け持ちで入っていて、そちらに友達がいた。</p></li>
					<li>
						<p>（蒼樹）ゆのの身長は最初から自分に近い設定で決めていたので、自分が小さいことで経験したことを、ネタとして拾ってゆのに反映させている。</p>
					</li>
					<li><p>（蒼樹）ゆの以外のキャラクターも、漫画を描いている時の感じに近いのが沙英さんだったりと、私の中のいろんな部分という感じ。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no6" depth={2} headingType="c">
			<Fragment slot="heading">6　「ひだまりスケッチ」作画用資料（ひだまりカラーパレット）</Fragment>

			<Box>
				<List>
					<li><p>（蒼樹）ご覧頂いているのは『ひだまりスケッチ』のためのカラーパレット。パソコンで作業するときに色を塗るための自分用の資料。</p></li>
					<li><p>（阿澄）ゆのが住む201号室の間取り図の設定画もある。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no7" depth={2} headingType="c">
			<Fragment slot="heading">7　阿澄佳奈が語る「ひだまりスケッチ」の魅力とうめ先生</Fragment>

			<p>阿澄佳奈の一人トーク。</p>

			<Box>
				<List>
					<li><p>（阿澄）『ひだまりスケッチ』でとくに心に残っているのは、原作の第6巻にあるヒロさんが進路に悩むお話。</p></li>
					<li>
						<p>（阿澄）うめ先生と一緒に食事に行ったり、遊びに行ったりすると、たまに漫画の1巻に出てきた酔っぱらいゆのっちの片鱗のようなものが見えたりする。</p>
					</li>
				</List>
			</Box>
		</Section>
	</Section>
	<Section id="chapter3">
		<Fragment slot="heading">第3章　原稿の部屋</Fragment>

		<Section id="no8" depth={2} headingType="c">
			<Fragment slot="heading">8　スペシャルトラック: 「原稿の部屋」　〜アトリエでの過ごし方</Fragment>

			<p>阿澄佳奈、悠木碧との視聴者が蒼樹うめのアトリエを訪問するという体での小芝居風。</p>

			<Box>
				<List>
					<li><p>（阿澄）机にキャラクターのフィギュアが置いてある。</p></li>
					<li>
						<p>（蒼樹）原稿中は音楽を聴いたり、アニメを流しながら。アニメはその時々の好きなものを観るが、まどかやひだまりなど、自分が関わったものはあまり観ない。</p>
					</li>
					<li><p>（蒼樹）最近は液晶タブレットはメインの機械になっている。</p></li>
				</List>
			</Box>
		</Section>
	</Section>
	<Section id="chapter4">
		<Fragment slot="heading">第4章　魔法少女まどか☆マギカ</Fragment>

		<Section id="no9" depth={2} headingType="c">
			<Fragment slot="heading">9　TVアニメ「魔法少女まどか☆マギカ」キャラクターデザイン原案</Fragment>

			<Box>
				<List>
					<li>
						<p>（蒼樹）『魔法少女まどか☆マギカ』は脚本やシナリオ、キャラクターの基本の設定を仕上げる方が別にいるので、だいたいこういう子という情報を事前にいただいて、そこからイメージしてキャラクターを描いた。</p>
					</li>
					<li><p>（蒼樹）まどかはヒロインなので愛されキャラにしたいと、髪型（ツインテール）やリボンなど親しみやすさを考えた。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no10" depth={2} headingType="c">
			<Fragment slot="heading">10　TVアニメ「魔法少女まどか☆マギカ」第1話、第2話エンディングイラスト 〜悠木碧が語る「魔法少女まどか☆マギカ」の魅力とうめ先生</Fragment>

			<p>悠木碧の一人トーク。</p>

			<Box>
				<List>
					<li><p>（悠木）まどかの役の話を頂く前からうめ先生の絵はよく知っていた。</p></li>
					<li><p>（悠木）オーディションの時点で既にキャラクターデザインのなんとなくのイラストはあった。</p></li>
					<li><p>（悠木）「また あした」を収録したのは4話を録っていた時期くらいだったかな?</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no11" depth={2} headingType="c">
			<Fragment slot="heading">11　「劇場版　魔法少女まどか☆マギカ [新編]叛逆の物語」キャラクターデザイン（私服）</Fragment>

			<Box>
				<List>
					<li><p>（蒼樹）キャラクターの私服はを考える時は、ブランドを想像し、通販サイトを見て組み合わせたりアレンジをして作っている。</p></li>
					<li><p>（蒼樹）とくにお気に入りの服は、劇場版の色紙に描いたまどかの私服（茶色のチェックのシャツにデニムのショートパンツ）。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no12" depth={2} headingType="c">
			<Fragment slot="heading">12　「劇場版　魔法少女まどか☆マギカ」劇場プレゼント色紙　〜お気に入りの一枚</Fragment>

			<Box>
				<List>
					<li><p>（阿澄）自分のキャラ描いていただいてるので、百江なぎさちゃんとマミさんが二人一緒にいるやつが好き。なぎさの眉毛すごく好き。</p></li>
					<li><p>（蒼樹）ほむらとまどかが仲良さそうなやつがお気に入り。</p></li>
					<li><p>（蒼樹）色紙を直筆で描く仕事はあまり多くない。印刷が綺麗で、消し跡まで綺麗に出てしまう(笑)。</p></li>
				</List>
			</Box>
		</Section>
	</Section>
	<Section id="chapter5">
		<Fragment slot="heading">第5章　収録を終えて、エピローグ ほか</Fragment>

		<Section id="no13" depth={2} headingType="c">
			<Fragment slot="heading">13　微熱空間 〜うめ先生の恋愛漫画</Fragment>

			<Box>
				<List>
					<li><p>（阿澄）『微熱空間』は、「楽園 Le Paradis」で昨年から連載が始まったばかりの作品。</p></li>
					<li><p>（阿澄）ファンの方からうめ先生の同人誌をいただいたり、ご本人から頂戴したりということがある。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no14" depth={2} headingType="c">
			<Fragment slot="heading">14　スペシャルトラック: 収録を終えて</Fragment>

			<Box>
				<List>
					<li><p>（蒼樹）美術展をするにあたり、いわゆる美術展のイメージの改まる、厳かな感じにはならない展示にしようと思っていた。</p></li>
				</List>
			</Box>
		</Section>

		<Section id="no15" depth={2} headingType="c">
			<Fragment slot="heading">15　TVアニメ「ニセコイ」第14話エンドカードイラスト、TVアニメ「彼女がフラグをおられたら」第11話エンドカードイラスト「吟遊院芹香」</Fragment>

			<Box>
				<List>
					<li>
						<p>（阿澄）『ひだまりスケッチ』のゆの、『魔法少女まどか☆マギカ』の百江なぎさのほか、ここに展示されている『ニセコイ』第14話のエンドカードで描かれている橘万里花役も務めさせていただいた。</p>

						<p>（悠木）私も先生が第11話のエンドカードを描いてくださった『彼女がフラグをおられたら』で吟遊院芹香役を務めさせていただいた。</p>
					</li>
					<li>
						<p>（悠木）先生の描く丸っこいキャラクターは、『ひだまりスケッチ』の場合は雰囲気そのまま、『まどか☆マギカ』の場合はあえてそうしてあるという指標になっている。</p>
					</li>
				</List>
			</Box>
		</Section>

		<Section id="no16" depth={2} headingType="c">
			<Fragment slot="heading">16　「蒼樹うめ展」描き下ろしイラスト（オリジナル） 〜エピローグ</Fragment>

			<Box>
				<List>
					<li>
						<p>（蒼樹）こちらのオリジナルイラストは、私は女子高生が好きなのと(笑)、10月3日から会期が始まることで秋っぽいイラストが欲しいということで描いたもの。<strong>（※管理者注: 10月から会期が始まる旨の部分は東京会場のみで、大阪会場ではカット）</strong></p>
					</li>
				</List>
			</Box>
		</Section>
	</Section>
</Layout>
