<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "魔法少女まどか☆マギカ複製原画展",
				"description": "2013年に行われた「魔法少女まどか☆マギカ複製原画展」の開催情報をまとめました。",
				"breadcrumb": [{ "path": "/madoka/", "name": "ホーム" }]
			}
		</script>

		<%- include('./_include/head_madoka') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_madoka') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="genga-zenkouhen">
						<div class="p-section__hdg">
							<h2>劇場版　魔法少女まどか☆マギカ複製原画展（前後編）</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">地域</th>
									<th scope="col" aria-sort="ascending">期間</th>
									<th scope="col">場所</th>
									<th scope="col">紹介サイト</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">大阪</th>
									<td>2013年9月26日(木)〜29日(日)</td>
									<td>うめきた・グランフロント大阪北館 ナレッジキャピタル地下1階イベントラボ</td>
									<td>
										<ul>
											<li><a href="https://www.mpsinc.co.jp/madoka-magica-event/genga/outline/osaka.html">公式ページ</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<th scope="row">福岡</th>
									<td>2013年10月3日(木)〜6日(日)</td>
									<td>ホークスタウンモール 1階特設会場</td>
									<td>
										<ul>
											<li><a href="https://www.mpsinc.co.jp/madoka-magica-event/genga/outline/fukuoka.html">公式ページ</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<th scope="row">東京</th>
									<td>2013年10月19日(土)〜11月4日(月・祝)</td>
									<td>六本木ヒルズ展望台（森タワー52階東京シティビュー内）</td>
									<td>
										<ul>
											<li><a href="https://www.mpsinc.co.jp/madoka-magica-event/genga/outline/tokyo.html">公式ページ</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<th scope="row">名古屋</th>
									<td>2013年10月24日(木)〜29日(火)</td>
									<td>名古屋丸栄 8階大催事場</td>
									<td>
										<ul>
											<li><a href="https://www.mpsinc.co.jp/madoka-magica-event/genga/outline/nagoya.html">公式ページ</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<th scope="row">札幌</th>
									<td>2013年11月8日(金)〜10日(日)</td>
									<td>ノルベサ 3階特設会場</td>
									<td>
										<ul>
											<li><a href="https://www.mpsinc.co.jp/madoka-magica-event/genga/outline/sapporo.html">公式ページ</a></li>
											<li><a href="http://www.mediamagic.co.jp/madoka-sapporo/">MediaMagic</a></li>
											<li><a href="https://www.facebook.com/madoka.sapporo">Facebook</a></li>
											<li><a href="https://sapporo.keizai.biz/headline/1936/">札幌経済新聞</a></li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
