<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "蒼樹うめ展",
				"description": "2015年～2018年に行われた「蒼樹うめ展」の開催情報をまとめました。",
				"breadcrumb": [{ "path": "/madoka/", "name": "ホーム" }]
			}
		</script>

		<%- include('./_include/head_madoka') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_madoka') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<table class="p-table">
						<thead>
							<tr>
								<th scope="col">地域</th>
								<th scope="col" aria-sort="ascending">期間</th>
								<th scope="col">場所</th>
								<th scope="col">備考</th>
								<th scope="col">紹介サイト</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">東京</th>
								<td>2015年10月3日(土)〜12日(月・祝)</td>
								<td>上野の森美術館</td>
								<td>サイン会: 10月4日(日)、9日(金) 15時〜</td>
								<td>
									<ul>
										<li><a href="http://www.ueno-mori.org/exhibitions/article.cgi?id=129">上野の森美術館</a></li>
										<li><a href="https://natalie.mu/comic/news/161761">コミックナタリー</a></li>
										<li><a href="https://web.archive.org/web/*/aplista.iza.ne.jp/f-iphone/246748">産経アプリスタ</a></li>
										<li><a href="http://www.zakzak.co.jp/entertainment/ent-news/news/20151003/enn1510031527013-n1.htm">ZAKZAK</a></li>
										<li><a href="https://www.oricon.co.jp/news/2060170/full/">ORICON STYLE</a></li>
										<li><a href="https://web.archive.org/web/*/www.c-lab.link/animation/50360">カルラボ</a></li>
										<li><a href="http://www.museum.or.jp/modules/topics/?action=view&amp;id=714">インターネットミュージアム</a></li>
										<li><a href="http://nlab.itmedia.co.jp/nl/articles/1510/02/news147.html">ねとらぼ</a></li>
										<li><a href="http://ure.pia.co.jp/articles/-/45984">ウレぴあ総研</a></li>
										<li><a href="https://entertainmentstation.jp/7778">entertainment station</a></li>
										<li><a href="https://web.archive.org/web/*/getnavi.jp/8298">GetNavi web</a></li>
										<li><a href="http://news.mynavi.jp/news/2015/10/10/139/">マイナビニュース</a></li>
										<li><a href="https://web.archive.org/web/*/blog.commucom.jp/blog/7580">commucom.jp</a></li>
										<li><a href="http://orezui.blog91.fc2.com/blog-entry-1729.html">俺之脳髄（オレズイ）</a></li>
										<li><a href="https://web.archive.org/web/*/bogosorter.net/post/2015-10-12">無計画算法</a></li>
									</ul>
								</td>
							</tr>
							<tr>
								<th scope="row">大阪</th>
								<td>2016年3月19日(土)〜27日(日)</td>
								<td>大阪文化館・天保山</td>
								<td>サイン会: 3月20日(日) 15時〜</td>
								<td>
									<ul>
										<li><a href="https://www.osaka-c-t.jp/event/umeten/">大阪文化館・天保山</a></li>
										<li><a href="http://www.sankei.com/west/news/160208/wst1602080040-n1.html">産経WEST</a></li>
										<li><a href="http://www.sankei.com/west/news/160219/wst1602190060-n1.html">産経WEST（梅田駅広告）</a></li>
										<li><a href="http://www.sankei.com/west/news/160304/wst1603040057-n1.html">産経WEST（グッズ発表）</a></li>
										<li><a href="http://www.sankei.com/west/news/160315/wst1603150050-n1.html">産経WEST</a></li>
										<li><a href="http://www.sankei.com/west/news/160317/wst1603170005-n1.html">産経WEST（うめ先生インタビュー）</a></li>
										<li><a href="http://www.sankei.com/west/news/160319/wst1603190010-n1.html">産経WEST（開幕）</a></li>
										<li><a href="http://www.sankei.com/west/news/160319/wst1603190050-n1.html">産経WEST（初日サプライズ）</a></li>
										<li><a href="http://natalie.mu/comic/news/177028">コミックナタリー</a></li>
									</ul>
								</td>
							</tr>
							<tr>
								<th scope="row">新潟</th>
								<td>
									前期: 2017年2月18日(土)〜3月20日(日)<br />
									後期: 2017年3月25日(土)〜4月23日(日)
								</td>
								<td>新潟市マンガ・アニメ情報館</td>
								<td>サイン会: 3月4日(土)、4月8日(土) 13時〜</td>
								<td>
									<ul>
										<li><a href="http://museum.nmam.jp/2017/01/13/aokiume_ngt/">新潟市マンガ・アニメ情報館</a></li>
										<li><a href="http://museum.nmam.jp/2017/02/10/aokiume_event/">新潟市マンガ・アニメ情報館（サイン会）</a></li>
										<li>
											<a href="http://www.city.niigata.lg.jp/shisei/koho/kohoshi/shiho/backnumber/h29/shiho170205/index.html">市報にいがた 平成29年2月5日 2606号</a>
										</li>
										<li><a href="https://www.nsttv.com/event/10062/">Niigata Smile TV</a>（リンク切れ）</li>
										<li><a href="http://www.sankei.com/region/news/170218/rgn1702180067-n1.html">産経ニュース</a></li>
										<li><a href="http://www.asahi.com/articles/ASK2L3GTMK2LUOHB00J.html">朝日新聞デジタル</a>（リンク切れ）</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th scope="row">青森</th>
								<td>2017年12月16日(土)〜2018年2月12日(月・祝)</td>
								<td>青森県立美術館 企画展示室</td>
								<td>サイン会: 12月16日(土)、1月27日(土) 14時〜</td>
								<td>
									<ul>
										<li><a href="https://web.archive.org/web/*/www.rab.co.jp/pdfdir/event/saiji2017.pdf">RAB青森放送 平成29年度 催事予定</a></li>
										<li><a href="http://www.sankei.com/region/news/171217/rgn1712170004-n1.html">産経ニュース</a></li>
										<li><a href="https://www.toonippo.co.jp/articles/-/26515">Web東奥</a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
