---
import dayjs from 'dayjs';
import { env } from '@w0s/env-value-type';
import Layout from '@layouts/Admin.astro';
import Table from '@components/Table.astro';
import SubmitButton from '@components/+phrasing/SubmitButton.astro';
import CrawlerNewsDataDao from '@db/CrawlerNewsData.js';
import { response303 } from '@util/httpResponse.ts';
import { getParams as getRequestParams, string as requestString, boolean as requestBoolean } from '@util/request.ts';
import { init as ssrInit } from '@util/ssr.ts';
import type { StructuredData } from '@type/util.ts';

interface RequestQuery {
	url: string | undefined;
	id: string | undefined;
	actionDelete: boolean;
}

export const prerender = false;
const { logger } = ssrInit(Astro, { dev: import.meta.env.DEV });

const structuredData: StructuredData = {
	title: 'ウェブ巡回（ニュース）',
	breadcrumb: [{ path: '/admin/crawler-news/', name: 'ウェブ巡回（ニュース）' }],
};

const requestParams = getRequestParams(Astro.url);
const requestBody = Astro.request.method === 'POST' ? await Astro.request.formData() : undefined;

const requestQuery: RequestQuery = {
	url: requestString(requestParams.get('url') ?? requestBody?.get('url')),
	id: requestString(requestBody?.get('id')),
	actionDelete: requestBoolean(requestBody?.get('actiondel')),
};

const dao = new CrawlerNewsDataDao(env('SQLITE_CRAWLER'));

if (requestQuery.actionDelete) {
	/* 削除 */
	if (requestQuery.id !== undefined) {
		await dao.delete(requestQuery.id);
		logger.info('データ削除', requestQuery.id);

		return response303(Astro.request, `?url=${requestQuery.url}`);
	}
}

/* 初期表示 */
const newsDataList = requestQuery.url !== undefined ? await dao.getNewsDataList(requestQuery.url) : []; // 新着データ
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<p><a href={requestQuery.url} referrerpolicy="no-referrer">{requestQuery.url}</a></p>

	<Table>
		<thead>
			<tr>
				<td></td>
				<th scope="col">日付</th>
				<th scope="col">メッセージ</th>
			</tr>
		</thead>
		<tbody>
			{
				newsDataList.map((newsData) => (
					<tr>
						<td>
							<form action={Astro.url.pathname} method="post">
								<p>
									<SubmitButton buttonStyle="compact" name="actiondel" value="1" class="js-button-confirm" data-message="削除しますか?">
										削除
									</SubmitButton>
								</p>
								<p>
									<input type="hidden" name="url" value={requestQuery.url} />
								</p>

								<p>
									<input type="hidden" name="id" value={newsData.uuid} />
								</p>
							</form>
						</td>
						<td>{newsData.date !== undefined && <time datetime={dayjs(newsData.date).format('YYYY-MM-DD')}>{dayjs(newsData.date).format('YYYY年M月D日')}</time>}</td>
						<td>
							{newsData.refer_url !== undefined && (
								<a href={newsData.refer_url} referrerpolicy="no-referrer">
									{newsData.content}
								</a>
							)}
							{newsData.refer_url === undefined && <>{newsData.content}</>}
						</td>
					</tr>
				))
			}
		</tbody>
	</Table>
</Layout>
