---
import dayjs from 'dayjs';
import { actions } from 'astro:actions';
import { env } from '@w0s/env-value-type';
import Layout from '@layouts/Admin.astro';
import Table from '@components/Table.astro';
import SubmitButton from '@components/+phrasing/SubmitButton.astro';
import CrawlerNewsDataDao from '@db/CrawlerNewsData.ts';
import { response303, response400 } from '@util/httpResponse.ts';
import type { StructuredData } from '../../../../@types/util.d.ts';

export const prerender = false;

const structuredData: StructuredData = {
	title: 'ウェブ巡回（ニュースデータ）',
	breadcrumb: [{ path: '/admin/crawler-news/', name: 'ウェブ巡回（ニュース）' }],
};

const deleteActionResult = Astro.getActionResult(actions.crawlernews.newsdatadelete);
if (deleteActionResult !== undefined) {
	const { data, error } = deleteActionResult;

	if (error !== undefined) {
		Astro.locals.logger.warn(error.message);
		return response400();
	}

	Astro.locals.logger.info('データ削除', data.id);
	return response303(Astro.request, `?newsid=${data.newsId}`);
}

/* 初期表示 */
const requestParamNewsId = Astro.locals.requestParams.get('newsid') ?? undefined;

const dao = new CrawlerNewsDataDao(`${env('ROOT')}/${env('SQLITE_DIR')}/${env('SQLITE_CRAWLER')}`);

const [news, newsDataList] = await Promise.all([
	dao.getNews(requestParamNewsId), // ニュースデータ
	requestParamNewsId !== undefined ? dao.getNewsDataList(requestParamNewsId) : undefined, // 新着データ
]);
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	{
		news !== undefined && (
			<p>
				<a href={news.url} referrerpolicy="no-referrer">
					{news.title} &lt;<code>{news.url}</code>&gt;
				</a>
			</p>
		)
	}

	<Table>
		<thead>
			<tr>
				<td></td>
				<th scope="col">日付</th>
				<th scope="col">メッセージ</th>
			</tr>
		</thead>
		<tbody>
			{
				(newsDataList ?? []).map((newsData) => (
					<tr>
						<td>
							<form method="post">
								<p>
									<SubmitButton formaction={actions.crawlernews.newsdatadelete} buttonStyle="compact" class="js-button-confirm" data-message="削除しますか?">
										削除
									</SubmitButton>
									<input type="hidden" name="newsid" value={requestParamNewsId} />
									<input type="hidden" name="id" value={newsData.random_id} />
								</p>
							</form>
						</td>
						<td>{newsData.date !== undefined && <time datetime={dayjs(newsData.date).format('YYYY-MM-DD')}>{dayjs(newsData.date).format('YYYY年M月D日')}</time>}</td>
						<td>
							<a href={newsData.refer_url} referrerpolicy="no-referrer">
								{newsData.content}
							</a>
						</td>
					</tr>
				))
			}
		</tbody>
	</Table>
</Layout>
