<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急電車　車歴表（出典一覧）",
				"headline": "出典一覧",
				"dateModified": "2010-03-31",
				"description": "車歴表で入籍日、改番日の出典とした参考資料です。",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/data/", "name": "車両データ" },
					{ "path": "/tokyu/data/history/", "name": "車歴表" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="source">
						<div class="p-section__hdg">
							<h2>入籍日、改番日の出典</h2>
						</div>
						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic442">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル1985年1月臨時増刊号（No.442）<small>（東京急行電鉄特集）</small></h3>
							</div>

							<ul class="p-list">
								<li>7001–7014, 7019–7064, 7101–7170</li>
								<li>7201–7212, 7251–7260, 7301–7302, 7351, 7401–7402, 7451–7452, 7501–7512, 7551–7560</li>
								<li>8001–8052, 8101–8130, 8133–8166, 8201–8255, 8408</li>
								<li>8501–8533, 8601–8633, 8701–8776, 8801–8841, 8843–8884, 8901–8966</li>
								<li>8091–8096, 8191–8196, 8291–8296, 8390–8393, 8491–8493</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic496">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル1988年5月臨時増刊号（No.496）<small>（新車年鑑1988年版）</small></h3>
							</div>

							<ul class="p-list">
								<li>8979–8980</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic534">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル1990年10月臨時増刊号（No.534）<small>（新車年鑑1990年版）</small></h3>
							</div>

							<ul class="p-list">
								<li>1010–1011, 1210–1211, 1310–1311, 1360–1361</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic550">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル1991年10月臨時増刊号（No.550）<small>（新車年鑑1991年版）</small></h3>
							</div>

							<ul class="p-list">
								<li>7603</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic600">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル1994年12月臨時増刊号（No.600）<small>（東京急行電鉄特集）</small></h3>
							</div>

							<ul class="p-list">
								<li>7015–7018</li>
								<li>7200, 7290</li>
								<li>7601–7602, 7653–7662, 7682</li>
								<li>7701–7714, 7801–7814, 7901–7914, 7951–7961</li>
								<li>8131–8132, 8167–8169, 8256–8264, 8409</li>
								<li>8080–8090, 8097–8099, 8180–8190, 8197–8199, 8280–8290, 8297–8299, 8394–8399, 8490, 8494–8499, 8591–8595, 8691–8695</li>
								<li>8534–8542, 8634–8642, 0700–0718, 8777–8799, 8842, 8885–8899, 0800–0818, 8967–8978</li>
								<li>9001–9015, 9101–9115, 9201–9215, 9301–9315, 9401–9415, 9601–9615, 9701–9715, 9801–9815</li>
								<li>1001–1008, 1012–1024, 1101–1108, 1201–1208, 1212–1224, 1251–1258, 1301–1308, 1312–1324, 1351–1358, 1362, 1401–1408, 1451–1458</li>
								<li>2001–2003, 2101–2103, 2201–2203, 2251–2253, 2301–2303, 2351–2353, 2401–2403, 2451–2453, 2701–2703, 2801–2803</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic692">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル2000年10月臨時増刊号（No.692）<small>（新車年鑑2000年版）</small></h3>
							</div>

							<ul class="p-list">
								<li>Y001–Y003, Y011–Y013</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic708">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル2001年10月臨時増刊号（No.708）<small>（新車年鑑2001年版）</small></h3>
							</div>

							<ul class="p-list">
								<li>3013, 3113, 3213, 3261, 3413, 3513</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-tetsupic749">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル2004年7月臨時増刊号（No.749）<small>（東京急行電鉄特集）</small></h3>
							</div>

							<ul class="p-list">
								<li>7590</li>
								<li>7673（入籍日のみ）, 7681–7682</li>
								<li>7715, 7815, 7915</li>
								<li>1051</li>
								<li>3001–3012, 3101–3112, 3201–3212, 3251–3262, 3401–3412, 3501–3512</li>
								<li>301A–310A, 301B–310B</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="source-form1995">
							<div class="p-section__hdg">
								<h3>私鉄車両編成表 ’95年版</h3>
							</div>

							<ul class="p-list">
								<li>7673（改番日のみ）</li>
							</ul>
						</section>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="refer">
						<div class="p-section__hdg">
							<h2>参考文献</h2>
						</div>

						<div class="p-text">
							<p>直接の出典ではないものの、ほかの資料と照らし合わせて正確性の向上に役立てたものとなります。なお、次に挙げる3件は誤りが多いため、あえて参考にしていません。</p>
						</div>

						<ul class="p-list">
							<li>鉄道ジャーナル1979年10月号（No.152）「昭和53年度 私鉄車両のうごき」</li>
							<li>鉄道ジャーナル1981年5月号（No.171）「昭和55年度上半期 私鉄車両のうごき」</li>
							<li>鉄道ピクトリアル1986年5月臨時増刊号（No.464）「民鉄車両 竣功月日表」</li>
						</ul>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="referer-form">
							<div class="p-section__hdg">
								<h3>私鉄車両編成表（ジェー・アール・アール）</h3>
							</div>

							<ul class="p-list">
								<li>私鉄車両編成表 都市私鉄編</li>
								<li>私鉄車両編成表－都市私鉄編－’80年版</li>
								<li>私鉄車両編成表－全国版－’81年版</li>
								<li>私鉄車両編成表－全国版－’82年版</li>
								<li>私鉄車両編成表 83年版</li>
								<li>私鉄車両編成表 ’84年版</li>
								<li>私鉄車両編成表 ’85年版</li>
								<li>私鉄車両編成表 ’86年版</li>
								<li>私鉄車両編成表 ’87年版</li>
								<li>私鉄車両編成表 ’88年版</li>
								<li>私鉄車両編成表 89年版 （ISBN: 4-88283-210-0）</li>
								<li>私鉄車両編成表 90年版 （ISBN: 4-88283-211-9）</li>
								<li>私鉄車両編成表 ’91年版 （ISBN: 4-88283-212-7）</li>
								<li>私鉄車両編成表 ’92年版 （ISBN: 4-88283-213-5）</li>
								<li>私鉄車両編成表 ’93年版 （ISBN: 4-88283-214-3）</li>
								<li>私鉄車両編成表 ’94年版 （ISBN: 4-88283-215-1）</li>
								<li>私鉄車両編成表 ’95年版 （ISBN: 4-88283-216-X）</li>
								<li>私鉄車両編成表 ’97年版 （ISBN: 4-88283-218-6）</li>
								<li>私鉄車両編成表 ’98年版 （ISBN: 4-88283-219-4）</li>
								<li>私鉄車両編成表 ’00年版 （ISBN: 4-88283-221-6）</li>
								<li>私鉄車両編成表 ’01年版 （ISBN: 4-88283-222-4）</li>
								<li>私鉄車両編成表 ’02年版 （ISBN: 4-88283-223-2）</li>
								<li>私鉄車両編成表 ’03年版 （ISBN: 4-88283-224-0）</li>
								<li>私鉄車両編成表 ’04年版 （ISBN: 4-88283-225-9）</li>
								<li>私鉄車両編成表 ’05年版 （ISBN: 4-88283-226-7）</li>
								<li>私鉄車両編成表 ’06年版 （ISBN: 4-88283-227-5）</li>
								<li>私鉄車両編成表 ’07年版 （ISBN: 978-4-88283-228-7）</li>
								<li>私鉄車両編成表 ’08年版 （ISBN: 978-4-88283-229-4）</li>
								<li>私鉄車両編成表 2009 （ISBN: 978-4-330-08209-7）</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="referer-rj">
							<div class="p-section__hdg">
								<h3>鉄道ジャーナル（私鉄車両のうごき）</h3>
							</div>

							<ul class="p-list">
								<li>1980年4月号（No.158） 昭和54年度上半期 私鉄車両のうごき</li>
								<li>1980年10月号（No.164） 昭和54年度下半期 私鉄車両のうごき</li>
								<li>1981年10月号（No.176） 昭和55年度下半期 私鉄車両のうごき</li>
								<li>1982年5月号（No.183） 昭和56年度上半期 私鉄車両のうごき</li>
								<li>1982年11月号（No.189） 昭和56年度下半期 私鉄車両のうごき</li>
								<li>1983年5月号（No.195） 昭和57年度上半期 私鉄車両のうごき</li>
								<li>1983年11月号（No.201） 昭和57年度下半期 私鉄車両のうごき</li>
								<li>1984年4月号（No.206） 昭和58年度上半期 私鉄車両のうごき</li>
								<li>1984年9月号（No.211） 昭和58年度下半期 私鉄車両のうごき</li>
								<li>1985年3月号（No.217） 昭和59年度上半期 私鉄車両のうごき</li>
								<li>1985年9月号（No.223） 昭和59年度下半期 私鉄車両のうごき</li>
								<li>1985年10月号（No.224） 昭和59年度下半期 私鉄車両のうごき</li>
								<li>1986年3月号（No.230） 昭和60年度上半期 私鉄車両のうごき</li>
								<li>1986年9月号（No.237） 昭和60年度下半期 私鉄車両のうごき</li>
								<li>1986年10月号（No.238） 昭和60年度下半期 私鉄車両のうごき</li>
								<li>1987年3月号（No.244） 昭和61年度上半期 私鉄車両のうごき</li>
								<li>1987年4月号（No.245） 昭和61年度上半期 私鉄車両のうごき</li>
								<li>1987年10月号（No.252） 昭和61年度下半期 私鉄車両のうごき</li>
								<li>1988年3月号（No.257） 昭和62年度上半期 私鉄車両のうごき</li>
								<li>1988年9月号（No.263） 昭和62年度下半期 私鉄車両のうごき</li>
								<li>1989年4月号（No.270） 1988年度上半期 私鉄車両のうごき</li>
								<li>1989年11月号（No.277） 1988年度下半期 私鉄車両のうごき</li>
								<li>1990年5月号（No.283） 1989年度上半期 私鉄車両のうごき</li>
								<li>1990年11月号（No.289） 1989年度下半期 私鉄車両のうごき</li>
								<li>1991年5月号（No.295） 1990年度上半期 私鉄車両のうごき</li>
								<li>1991年12月号（No.302） 1990年度下半期 私鉄車両のうごき</li>
								<li>1992年5月号（No.307） 1991年度上半期 私鉄車両のうごき</li>
								<li>1992年12月号（No.314） 1991年度下半期 私鉄車両のうごき</li>
								<li>1993年10月号（No.324） 1992年度下半期 私鉄車両のうごき</li>
								<li>1994年4月号（No.330） 1993年度上半期 私鉄車両のうごき</li>
								<li>1998年10月号（No.384） 1997年度下半期 私鉄車両のうごき</li>
								<li>2000年5月号（No.403） 1999年度上半期 私鉄車両のうごき</li>
								<li>2000年11月号（No.409） 1999年度下半期 私鉄車両のうごき</li>
								<li>2001年3月号（No.413） 2000年度上半期 私鉄車両のうごき</li>
								<li>2001年10月号（No.420） 2000年度下半期 私鉄車両のうごき</li>
								<li>2002年10月号（No.432） 2001年度下半期 私鉄車両のうごき</li>
								<li>2003年5月号（No.439） 2002年度上半期 私鉄車両のうごき</li>
								<li>2003年11月号（No.445） 2002年度下半期 私鉄車両のうごき</li>
								<li>2004年12月号（No.458） 2003年度 私鉄車両のうごき</li>
								<li>2005年11月号（No.469） 2004年度 私鉄車両のうごき</li>
								<li>2006年11月号（No.481） 2005年度 私鉄車両のうごき</li>
								<li>2006年12月号（No.482） 2005年度 私鉄車両のうごき（続）</li>
								<li>2007年11月号（No.493） 2006年度 私鉄車両のうごき</li>
								<li>2007年12月号（No.494） 2006年度 私鉄車両のうごき（続）</li>
								<li>2008年11月号（No.505） 2007年度 私鉄車両のうごき</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="referer-tetsupic">
							<div class="p-section__hdg">
								<h3>鉄道ピクトリアル（新車年鑑、鉄道車両年鑑）</h3>
							</div>

							<ul class="p-list">
								<li>1984年10月増刊号（No.438）</li>
								<li>1985年5月増刊号（No.448）</li>
								<li>1987年5月増刊号（No.480）</li>
								<li>1988年5月増刊号（No.496）</li>
								<li>1989年5月増刊号（No.512）</li>
								<li>1990年10月増刊号（No.534）</li>
								<li>1991年10月増刊号（No.550）</li>
								<li>1992年10月増刊号（No.566）</li>
								<li>1993年10月増刊号（No.582）</li>
								<li>1994年10月増刊号（No.597）</li>
								<li>1995年10月増刊号（No.612）</li>
								<li>1997年10月増刊号（No.644）</li>
								<li>1998年10月増刊号（No.660）</li>
								<li>2000年10月増刊号（No.692）</li>
								<li>2001年10月増刊号（No.708）</li>
								<li>2003年10月増刊号（No.738）</li>
								<li>2004年10月増刊号（No.753）</li>
								<li>2005年10月増刊号（No.767）</li>
								<li>2006年10月増刊号（No.781）</li>
								<li>2007年10月増刊号（No.795）</li>
								<li>2008年10月増刊号（No.810）</li>
								<li>2009年10月増刊号（No.825）</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="referer-dj">
							<div class="p-section__hdg">
								<h3>鉄道ダイヤ情報（私鉄DATA FILE 私鉄車両のうごき）</h3>
							</div>

							<ul class="p-list">
								<li>1984年冬号（No.21） 私鉄DATA FILE 私鉄車両のうごき58年7月1日～9月30日</li>
								<li>1984年春号（No.22） 私鉄DATA FILE 私鉄車両のうごき58年10月1日～12月31日</li>
								<li>1985年冬号（No.25） 私鉄DATA FILE 私鉄車両のうごき59年7月1日～9月30日</li>
								<li>1985年春号（No.26） 私鉄DATA FILE 私鉄車両のうごき59年10月1日～12月31日</li>
								<li>1985年夏号（No.27） 私鉄DATA FILE 私鉄車両のうごき60年1月1日～3月31日</li>
								<li>1985年秋号（No.28） 私鉄DATA FILE 私鉄車両のうごき60年4月1日～6月30日</li>
								<li>1986年春号（No.30） 私鉄DATA FILE 私鉄車両のうごき60年10月1日～12月31日</li>
								<li>1986年夏号（No.31） 私鉄DATA FILE 私鉄車両のうごき61年1月1日～3月31日</li>
								<li>1986年秋号（No.32） 私鉄DATA FILE 私鉄車両のうごき61年4月1日～6月30日</li>
								<li>1987年1月号（No.33） 私鉄DATA FILE 私鉄車両のうごき61年7月1日～9月30日</li>
								<li>1987年4月号（No.36） 私鉄DATA FILE 私鉄車両のうごき61年10月1日～12月31日</li>
								<li>1987年7月号（No.39） 私鉄DATA FILE 私鉄車両のうごき62年1月1日～3月31日</li>
								<li>1988年1月号（No.45） 私鉄DATA FILE 私鉄車両のうごき62年7月1日～9月30日</li>
								<li>1988年4月号（No.48） 私鉄DATA FILE 私鉄車両のうごき62年10月1日～12月31日</li>
								<li>1988年7月号（No.51） 私鉄DATA FILE 私鉄車両のうごき63年1月1日～3月31日</li>
								<li>1988年11月号（No.55） 私鉄DATA FILE 私鉄車両のうごき63年4月1日～6月30日</li>
								<li>1989年1月号（No.57） 私鉄DATA FILE 私鉄車両のうごき63年7月1日～9月30日</li>
								<li>1989年4月号（No.60） 私鉄DATA FILE 私鉄車両のうごき1988年10月1日～12月31日</li>
								<li>1989年7月号（No.63） 私鉄DATA FILE 私鉄車両のうごき1989年1月1日～3月31日</li>
								<li>1990年1月号（No.69） 私鉄DATA FILE 私鉄車両のうごき1989年7月1日～9月30日</li>
								<li>1990年4月号（No.72） 私鉄DATA FILE 私鉄車両のうごき1989年10月1日～12月31日</li>
								<li>1990年7月号（No.75） 私鉄DATA FILE 私鉄車両のうごき1990年1月1日～3月31日</li>
								<li>1990年10月号（No.78） 私鉄DATA FILE 私鉄車両のうごき1990年4月1日～6月30日</li>
								<li>1991年1月号（No.81） 私鉄DATA FILE 私鉄車両のうごき1990年7月1日～9月30日</li>
								<li>1991年4月号（No.84） 私鉄DATA FILE 私鉄車両のうごき1990年10月1日～12月31日</li>
								<li>1991年7月号（No.87） 私鉄DATA FILE 私鉄車両のうごき1991年1月1日～3月31日</li>
								<li>1991年10月号（No.90） 私鉄DATA FILE 私鉄車両のうごき1991年4月1日～6月30日</li>
								<li>1992年1月号（No.93） 私鉄DATA FILE 私鉄車両のうごき1991年7月1日～9月30日</li>
								<li>1992年4月号（No.96） 私鉄DATA FILE 私鉄車両のうごき1991年10月1日～12月31日</li>
								<li>1992年7月号（No.99） 私鉄DATA FILE 私鉄車両のうごき1992年1月1日～3月31日</li>
								<li>1993年7月号（No.111） 私鉄DATA FILE 私鉄車両のうごき1993年1月1日～3月31日</li>
								<li>1994年4月号（No.120） 私鉄DATA FILE 私鉄車両のうごき1993年10月1日～12月31日</li>
								<li>1995年7月号（No.135） 私鉄DATA FILE 私鉄車両のうごき1995年1月1日～3月31日</li>
								<li>1997年2月号（No.154） 私鉄DATA FILE 私鉄車両のうごき1996年7月1日～9月30日</li>
								<li>1998年8月号（No.172） 私鉄DATA FILE 私鉄車両のうごき1998年1月1日～3月31日</li>
								<li>1999年11月号（No.187） 私鉄DATA FILE 私鉄車両のうごき1999年4月1日～6月30日</li>
								<li>2000年1月号（No.189） 私鉄DATA FILE 私鉄車両のうごき1999年7月1日～9月30日</li>
								<li>2000年7月号（No.195） 私鉄DATA FILE 私鉄車両のうごき2000年1月1日～3月31日</li>
								<li>2000年10月号（No.198） 私鉄DATA FILE 私鉄車両のうごき2000年4月1日～6月30日</li>
								<li>2001年2月号（No.202） 私鉄DATA FILE 私鉄車両のうごき2000年7月1日～9月30日</li>
								<li>2001年4月号（No.204） 私鉄DATA FILE 私鉄車両のうごき2000年10月1日～12月31日</li>
								<li>2001年7月号（No.207） 私鉄DATA FILE 私鉄車両のうごき2001年1月1日～3月31日</li>
								<li>2002年4月号（No.216） 私鉄DATA FILE 私鉄車両のうごき2001年10月1日～12月31日</li>
								<li>2002年8月号（No.220） 私鉄DATA FILE 私鉄車両のうごき2002年1月1日～3月31日</li>
								<li>2003年4月号（No.228） 私鉄DATA FILE 私鉄車両のうごき2002年7月1日～12月31日</li>
								<li>2003年7月号（No.231） 私鉄DATA FILE 私鉄車両のうごき2003年1月1日～3月31日</li>
								<li>2004年1月号（No.237） 私鉄DATA FILE 私鉄車両のうごき2003年7月1日～9月30日</li>
								<li>2004年7月号（No.243） 私鉄DATA FILE 私鉄車両のうごき2004年1月1日～3月31日</li>
								<li>2004年10月号（No.246） 私鉄DATA FILE 私鉄車両のうごき2004年4月1日～6月30日</li>
								<li>2005年10月号（No.258） 私鉄DATA FILE 私鉄車両のうごき2005年4月1日～6月30日</li>
								<li>2006年1月号（No.261） 私鉄DATA FILE 私鉄車両のうごき2005年7月1日～9月30日</li>
								<li>2006年4月号（No.264） 私鉄DATA FILE 私鉄車両のうごき2005年10月1日～12月31日</li>
								<li>2006年7月号（No.267） 私鉄DATA FILE 私鉄車両のうごき2006年1月1日～3月31日</li>
								<li>2006年10月号（No.270） 私鉄DATA FILE 私鉄車両のうごき2006年4月1日～6月30日</li>
								<li>2007年1月号（No.273） 私鉄DATA FILE 私鉄車両のうごき2006年7月1日～9月30日</li>
								<li>2007年4月号（No.276） 私鉄DATA FILE 私鉄車両のうごき2006年10月1日～12月31日</li>
								<li>2007年7月号（No.279） 私鉄DATA FILE 私鉄車両のうごき2007年1月1日～3月31日</li>
								<li>2007年10月号（No.282） 私鉄DATA FILE 私鉄車両のうごき2007年4月1日～6月30日</li>
								<li>2008年1月号（No.285） 私鉄DATA FILE 私鉄車両のうごき2007年7月1日～9月30日</li>
								<li>2008年4月号（No.288） 私鉄DATA FILE 私鉄車両のうごき2007年10月1日～12月31日</li>
								<li>2008年7月号（No.291） 私鉄DATA FILE 私鉄車両のうごき2008年1月1日～3月31日</li>
								<li>2008年10月号（No.294） 私鉄DATA FILE 私鉄車両のうごき2008年4月1日～6月30日</li>
								<li>2009年1月号（No.297） 私鉄DATA FILE 私鉄車両のうごき2008年7月1日～9月30日</li>
								<li>2009年4月号（No.300） 私鉄DATA FILE 私鉄車両のうごき2008年10月1日～12月31日</li>
								<li>2009年7月号（No.303） 私鉄DATA FILE 私鉄車両のうごき2009年1月1日～3月31日</li>
							</ul>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link" id="referer-etc">
							<div class="p-section__hdg">
								<h3>その他</h3>
							</div>

							<ul class="p-list">
								<li>私鉄の車両4 東京急行電鉄（飯島巌、宮田道一、井上広和） （ISBN: 4-586-53204-1）</li>
								<li>鉄道ピクトリアル 1985年1月増刊号（No.442）（東京急行電鉄特集） 車両入籍，改造，廃車一覧表</li>
								<li>鉄道ピクトリアル 1991年9月号（No.548） 東急7000系ものがたり〔前編〕（荻原俊夫）</li>
								<li>鉄道ピクトリアル 1994年12月増刊号（No.600）（東京急行電鉄特集） 車両履歴表</li>
								<li>鉄道ピクトリアル 2004年7月増刊号（No.749）（東京急行電鉄特集） 東京急行電鉄 車歴表</li>
								<li>鉄道ファン2000年9月号（No.473） 大手私鉄各社のデータバンク1999／2000</li>
								<li>鉄道ファン2001年4月号（No.480） 田園都市線開業から目蒲線終えんまで 東急7200系活躍の記録（久保敏）</li>
								<li>鉄道ファン2001年7月号（No.483） 大手私鉄車両file2001</li>
								<li>鉄道ファン2002年9月号（No.497） 大手私鉄の車両ファイル2002</li>
								<li>鉄道ファン2003年9月号（No.509） 大手私鉄の車両ファイル2003</li>
								<li>鉄道ファン2004年9月号（No.521） 大手私鉄の車両ファイル2004</li>
								<li>鉄道ファン2005年9月号（No.533） 大手私鉄の車両ファイル2005</li>
								<li>鉄道ファン2006年9月号（No.545） 東急8000系ファミリーの記録2（荻原俊夫）</li>
								<li>鉄道ファン2006年10月号（No.546） 大手私鉄車両ファイル2006</li>
								<li>鉄道ファン2007年9月号（No.557） 大手私鉄車両ファイル2007</li>
								<li>鉄道ファン2008年9月号（No.569） 大手私鉄車両ファイル2008</li>
								<li>鉄道ファン2009年9月号（No.581） 大手私鉄車両ファイル2009</li>
							</ul>
						</section>
					</section>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
