---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import NoteRef from '@components/NoteRef.astro';
import NoteRefContent from '@components/NoteRefContent.astro';
import Section from '@components/Section.astro';
import Link from '@components/Link.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '久米田康治画集「悔画展」収録イラスト一覧',
	heading: '「悔画展」収録イラスト一覧',
	dateModified: dayjs('2023-11-19'),
	description: '2016年に発売された久米田康治画集「悔画展」に収録されているイラストのリストです。',
	image: 'https://m.media-amazon.com/images/I/51m9Oqxw9kL.jpg',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Amazon headingLevel={2}>
		<AmazonItem asin="406364992X" title="久米田康治画集　悔画展" imageId="51m9Oqxw9kL" imageWidth={112} imageHeight={160} />
	</Amazon>

	<Section slugger={slugger}>
		<Fragment slot="heading">収録イラスト一覧</Fragment>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col" colspan="2">作品名</th>
						<th scope="col">収録・放送媒体</th>
						<th scope="col">発売・放送日</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2005年22・23合併号　第一話トビラ</td>
						<td>2005年4月27日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B001O5OGU0/">マガジンドラゴン 2009年1/25号</Link>　表紙</td>
						<td>2009年1月7日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2005年43号　第二十一話トビラ</td>
						<td>2005年9月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2007年21・22合併号　第九十二話トビラ</td>
						<td>2007年4月25日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2007年40号　第百八話トビラ</td>
						<td>2007年9月5日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2008年13号　第百二十九話トビラ</td>
						<td>2008年2月27日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2012年28号　第三百一話(最終話)　最終ページ</td>
						<td>2012年6月13日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2009年48号　第二百話トビラ</td>
						<td>2009年10月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BCO/">単行本第一集</Link>　カバー表1</td>
						<td>2005年9月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BCO/">単行本第一集</Link>　カバー表4</td>
						<td>2005年9月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BCE/">単行本第二集</Link>　カバー表1</td>
						<td>2005年12月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BCE/">単行本第二集</Link>　カバー表4</td>
						<td>2005年12月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BFG/">単行本第三集</Link>　カバー表1</td>
						<td>2006年3月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BFG/">単行本第三集</Link>　カバー表4</td>
						<td>2006年3月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BJ2/">単行本第四集</Link>　カバー表4</td>
						<td>2006年6月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BWO/">単行本第五集</Link>　カバー表4</td>
						<td>2006年9月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BJ2/">単行本第四集</Link>　カバー表1</td>
						<td>2006年6月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BWO/">単行本第五集</Link>　カバー表1</td>
						<td>2006年9月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BLA/">単行本第六集</Link>　カバー表1</td>
						<td>2006年12月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BLU/">単行本第七集</Link>　カバー表1</td>
						<td>2007年2月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BOM/">単行本第八集</Link>　カバー表1</td>
						<td>2007年4月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BP6/">単行本第九集</Link>　カバー表1 別ver.</td>
						<td>2007年7月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BLA/">単行本第六集</Link>　カバー表4</td>
						<td>2006年12月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BOM/">単行本第八集</Link>　カバー表4</td>
						<td>2007年4月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BLU/">単行本第七集</Link>　カバー表4</td>
						<td>2007年2月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BP6/">単行本第九集</Link>　カバー表4</td>
						<td>2007年7月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BRE/">単行本第十集</Link>　カバー表1</td>
						<td>2007年9月14日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BXS/">単行本第十二集</Link>　カバー表1</td>
						<td>2008年2月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BW4/">単行本第十一集</Link>　カバー表1</td>
						<td>2007年12月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765C64/">単行本第十三集</Link>　カバー表1</td>
						<td>2008年5月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765C6O/">単行本第十四集</Link>　カバー表1</td>
						<td>2008年7月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CM8/">単行本第十六集</Link>　カバー表1</td>
						<td>2009年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CCI/">単行本第十五集</Link>　カバー表1</td>
						<td>2008年10月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DJA/">単行本第三十集</Link>　カバー表1</td>
						<td>2012年8月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CO6/">単行本第十八集</Link>　カバー表4</td>
						<td>2009年8月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CZ0/">単行本第十九集</Link>　カバー表4</td>
						<td>2009年11月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CVY/">単行本第二十一集</Link>　カバー表4</td>
						<td>2010年5月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CWS/">単行本第二十集</Link>　カバー表4</td>
						<td>2010年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BRE/">単行本第十集</Link>　カバー表4</td>
						<td>2007年9月14日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BW4/">単行本第十一集</Link>　カバー表4</td>
						<td>2007年12月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765C6O/">単行本第十四集</Link>　カバー表4</td>
						<td>2008年7月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CCI/">単行本第十五集</Link>　カバー表4</td>
						<td>2008年10月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765C64/">単行本第十三集</Link>　カバー表4</td>
						<td>2008年5月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CM8/">単行本第十六集</Link>　カバー表4</td>
						<td>2009年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765BXS/">単行本第十二集</Link>　カバー表4</td>
						<td>2008年2月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CNW/">単行本第十七集</Link>　カバー表4</td>
						<td>2009年5月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CNW/">単行本第十七集</Link>　カバー表1 別ver.</td>
						<td>2009年5月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CO6/">単行本第十八集</Link>　カバー表1 別ver.</td>
						<td>2009年8月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CY6/">単行本第二十二集</Link>　カバー表1</td>
						<td>2010年8月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CVY/">単行本第二十一集</Link>　カバー表1</td>
						<td>2010年5月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CZ0/">単行本第十九集</Link>　カバー表1</td>
						<td>2009年11月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CWS/">単行本第二十集</Link>　カバー表1</td>
						<td>2010年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765D2M/">単行本第二十三集</Link>　カバー表1</td>
						<td>2010年11月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DBS/">単行本第二十四集</Link>　カバー表1</td>
						<td>2011年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DGI/">単行本第二十八集</Link>　カバー表4</td>
						<td>2012年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DJU/">単行本第二十九集</Link>　カバー表4</td>
						<td>2012年5月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DJU/">単行本第二十九集</Link>　カバー表1</td>
						<td>2012年5月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DGI/">単行本第二十八集</Link>　カバー表1</td>
						<td>2012年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DCM/">単行本第二十七集</Link>　カバー表1</td>
						<td>2011年10月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765D4U/">単行本第二十五集</Link>　カバー表 4</td>
						<td>2011年4月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765D5E/">単行本第二十六集</Link>　カバー表</td>
						<td>2011年7月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DCM/">単行本第二十七集</Link>　カバー表 4</td>
						<td>2011年10月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765D4U/">単行本第二十五集</Link>　カバー表1</td>
						<td>2011年4月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765D5E/">単行本第二十六集</Link>　カバー表1</td>
						<td>2011年7月15日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765CY6/">単行本第二十二集</Link>　カバー表4</td>
						<td>2010年8月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765D2M/">単行本第二十三集</Link>　カバー4</td>
						<td>2010年11月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DBS/">単行本第二十四集</Link>　カバー表4</td>
						<td>2011年2月17日</td>
					</tr>
					<tr>
						<td>舞台</td>
						<td><cite>49日後…</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00GGL5OY4/">パンフレット</Link>寄稿イラスト</td>
						<td>2008年4月12日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00A765DJA/">単行本第三十集</Link>　カバー表4</td>
						<td>2012年8月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2008年6号　第百二十二話トビラ</td>
						<td>2008年1月9日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>週刊少年マガジン 2005年21号掲載　連載予告カット</td>
						<td>2005年4月20日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>連載前イメージイラスト</td>
						<td class="u-cell -center">―</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>Blu-ray BOX化記念　全巻購入者特典用ディスク収録タイトルバック</td>
						<td>2012年2月上旬<NoteRef by="zetsubou-bdbox" /></td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>俗・さよなら絶望先生</cite></td>
						<td>第13話（最終話）エンドカード</td>
						<td>2008年3月30日（29日深夜）</td>
					</tr>
					<tr>
						<td>OAD</td>
						<td><cite>獄・さよなら絶望先生</cite>　下</td>
						<td>「<cite>一本昔ばなし</cite>」 タイトルバック</td>
						<td>2009年2月17日<NoteRef by="goku-zetsubou3" /></td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>懺・さよなら絶望先生</cite></td>
						<td>第13話（最終話）エンドカード</td>
						<td>2009年9月27日（26日深夜）</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite>、<cite>さよなら絶望先生</cite>（サンデー×マガジン　コラボ企画）</td>
						<td>週刊少年サンデー、週刊少年マガジン 2011年22・23合併号　表紙イラスト</td>
						<td>2011年4月27日</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>第13話（最終話）エンドカード</td>
						<td>2007年9月23日（22日深夜）</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>東風（不）見聞録</cite></td>
						<td>週刊少年サンデー 2013年35号 　トビラ</td>
						<td>2013年7月31日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>下請探偵　鋸織粕日郎シリーズ「密室の留学生」</cite></td>
						<td>週刊少年マガジン 2013年4・5合併号　トビラ</td>
						<td>2012年12月26日</td>
					</tr>
					<tr>
						<td></td>
						<td><cite>おわり人間ギャルとルーズ</cite></td>
						<td>ヤングマガジンサード 2014年Vol.3　イラスト</td>
						<td>2014年11月6日</td>
					</tr>
					<tr>
						<td>小説</td>
						<td><Link href="https://www.amazon.co.jp/dp/B00JIMMVLC/"><cite>エースの系譜</cite></Link></td>
						<td>カバーイラスト</td>
						<td>2011年3月18日</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><Link href="https://www.amazon.co.jp/dp/4778320522/">マンガ・エロティクス・エフ Vol.49</Link>　イラスト</td>
						<td>2008年1月9日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>いいがかり姉さん</cite></td>
						<td>ヤングガンガン 2005年9号　トビラ</td>
						<td>2005年4月22日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>スタジオパルプ</cite></td>
						<td><Link href="https://www.hakusensha.co.jp/rakuen/vol17/">楽園 17号 Web 予告イラスト</Link></td>
						<td>2015年1月17日頃</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>スタジオパルプ</cite></td>
						<td><Link href="https://www.hakusensha.co.jp/rakuen/vol18/">楽園 18号 Web 予告イラスト</Link></td>
						<td>2015年5月15日頃</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>スタジオパルプ</cite></td>
						<td><Link href="https://www.hakusensha.co.jp/rakuen/vol19/">楽園 19号 Web 予告イラスト</Link></td>
						<td>2015年9月17日頃</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>スタジオパルプ</cite></td>
						<td><Link href="https://www.hakusensha.co.jp/rakuen/vol20/">楽園 20号 Web 予告イラスト</Link></td>
						<td>2016年1月14日頃</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>夏のあらし!</cite></td>
						<td>第9話エンドカード</td>
						<td>2009年6月1日（31日深夜）</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>クメショート</cite>（<cite>タワマンとも子</cite>）</td>
						<td>週刊少年サンデー 2016年9号　トビラ</td>
						<td>2016年1月27日</td>
					</tr>
					<tr>
						<td>小説</td>
						<td><Link href="https://www.amazon.co.jp/dp/4061399292/"><cite>骨董靴工房アッシェンプッテルの来客簿</cite></Link></td>
						<td>カバーイラスト</td>
						<td>2015年12月16日</td>
					</tr>
					<tr>
						<td>小説</td>
						<td><Link href="https://www.amazon.co.jp/dp/4061399292/"><cite>骨董靴工房アッシェンプッテルの来客簿</cite></Link></td>
						<td>口絵イラスト</td>
						<td>2015年12月16日</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>化物語</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/4062154986/">アニメ『化物語』オフィシャルガイドブック</Link>　イラスト</td>
						<td>2009年6月30日</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>月刊少年シリウス 2009年2月号　付録小冊子「<cite>ファイティング・ビューティ・インパクト</cite>」イラスト</td>
						<td>2008年12月26日</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>月刊少年シリウス 2010年8月号　付録小冊子「<cite>私立シリウス学園　学校案内</cite>」制服デザイン</td>
						<td>2010年6月26日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かくしごと</cite></td>
						<td>月刊少年マガジン 2016年1月号　第1話トビラ</td>
						<td>2015年12月4日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かくしごと</cite></td>
						<td>月刊少年マガジン 2016年3月号　第3話トビラ</td>
						<td>2016年2月5日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かくしごと</cite></td>
						<td>月刊少年マガジン 2016年6月号　第6話トビラ</td>
						<td>2016年5月6日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td>週刊少年マガジン 2014年1号　表紙集合イラスト</td>
						<td>2013年12月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td>週刊少年マガジン 2013年49号　第1話トビラ</td>
						<td>2013年11月6日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td>週刊少年マガジン 2014年11号　第12話トビラ</td>
						<td>2014年2月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td>週刊少年マガジン 2014年43号　第39話トビラ</td>
						<td>2014年9月24日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00LC9YFM2/">単行本第1巻</Link>　カバー表1</td>
						<td>2014年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00LC9YFOK/">単行本第2巻</Link>　カバー表1</td>
						<td>2014年5月16日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00LP5ET7O/">単行本第3巻</Link>　カバー表1</td>
						<td>2014年7月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00NGG9TP2/">単行本第4巻</Link>　カバー表1</td>
						<td>2014年9月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00QTN5AUW/">単行本第5巻</Link>　カバー表1</td>
						<td>2014年12月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00TIFKG7K/">単行本第6巻</Link>　カバー表1</td>
						<td>2015年2月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>週刊少年サンデー 2004年32・33号　表紙集合イラスト<NoteRef by="sunday2004-32+33" /></td>
						<td>2004年7月7日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite>（サンデー×マガジン　コラボ企画）</td>
						<td>週刊少年マガジン 2011年22・23合併号　出張版トビラ</td>
						<td>2011年4月27日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZGZLU/">単行本4巻</Link>　カバー表1</td>
						<td>1999年7月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZGZTM/">単行本11巻</Link>　カバー表1</td>
						<td>2001年3月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZGZW4/">単行本15巻</Link>　カバー表1</td>
						<td>2002年3月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZH02S/">単行本20巻</Link>　カバー表1</td>
						<td>2003年3月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZGZXI/">単行本17巻</Link>　カバー表1</td>
						<td>2002年8月9日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZGZWO/">単行本16巻</Link>　カバー表1</td>
						<td>2002年5月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZH032/">単行本21巻</Link>　カバー表1</td>
						<td>2003年6月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZH03M/">単行本22巻</Link>　カバー表1</td>
						<td>2003年9月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZH05A/">単行本23巻</Link>　カバー表1</td>
						<td>2003年12月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZH050/">単行本24巻</Link>　カバー表1</td>
						<td>2004年3月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZH06E/">単行本25巻</Link>　カバー表1</td>
						<td>2004年6月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B009JZH06Y/">単行本26巻</Link>　カバー表1</td>
						<td>2004年9月17日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>週刊少年サンデー 2000年27号　第100話トビラ</td>
						<td>2000年5月31日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>週刊少年サンデー 1999年49号　第74話トビラ</td>
						<td>1999年11月3日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>週刊少年サンデー 2000年41号　第113話トビラ</td>
						<td>2000年9月6日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>週刊少年サンデー 2002年42号　第207話トビラ</td>
						<td>2002年9月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><Link href="https://www.amazon.co.jp/dp/B07C7PXZ46/"><cite>トゥインクルスターのんのんじーEX</cite></Link></td>
						<td>寄稿イラスト<NoteRef by="nonnonji" /></td>
						<td>2004年9月29日</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>ひだまりスケッチ×365</cite><NoteRef by="hidamari365" /></td>
						<td><Link href="https://www.tbs.co.jp/anime/hidamari/2nd/08special/illust.html#illust12">第12話エンドカード</Link></td>
						<td>2008年9月19日（18日深夜）</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>まりあ†ほりっく</cite></td>
						<td>第9話エンドカード</td>
						<td>2009年3月2日（1日深夜）</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>機動戦士ガンダム</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00X65OCO6/">ガンダムグッズエース（ガンダムエース9月号増刊）</Link>　寄稿イラスト<NoteRef by="gundam-goods-ace1" /></td>
						<td>2003年7月15日<NoteRef by="gundam-goods-ace2" /></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>うる星やつら</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00D74MUP4/">新装版27巻</Link>　口絵イラスト</td>
						<td>2007年12月15日</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>アルスラーン戦記</cite></td>
						<td><Link href="https://x.com/arslan_anime/status/592244288295055361">第五章エンドカード</Link></td>
						<td>2015年4月26日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>特に負けても構わない戦いがそこにはある〜サレジオ落穂によろしく（仮題）〜</cite></td>
						<td>ヤングサンデー 2005年27号</td>
						<td>2005年6月2日</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>くじびきアンバランス</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B000IZJ18E/">DVD BOX Ⅲ</Link> 小冊子　アンソロジーピンナップイラスト<NoteRef by="kujibiki1" /></td>
						<td>2007年4月25日<NoteRef by="kujibiki2" /></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>ローゼンメイデン</cite></td>
						<td>週刊ヤングジャンプ 2013年31号ピンナップイラスト</td>
						<td>2013年7月4日</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>有頂天家族</cite></td>
						<td>ティーザーイラスト</td>
						<td>2013年3月21日</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>有頂天家族</cite></td>
						<td>アニメ『有頂天家族』設定資料集　カバーイラスト</td>
						<td>2013年10月26日</td>
					</tr>
					<tr>
						<td>アーケードゲーム</td>
						<td><Link href="http://www.sengoku-taisen.com/"><cite>戦国大戦 -1560 尾張の風雲児-</cite></Link></td>
						<td><Link href="http://www.sengoku-taisen.com/cardlist_0031.html#79">竹中半兵衛イラスト</Link></td>
						<td>2010年11月10日</td>
					</tr>
					<tr>
						<td>スマホゲーム</td>
						<td><Link href="https://jp.apps.gree.net/ja/943"><cite>戦国キングダム</cite></Link></td>
						<td>風浦可符香イラスト</td>
						<td class="u-cell -center">―</td>
					</tr>
					<tr>
						<td>スマホゲーム</td>
						<td><Link href="https://jp.apps.gree.net/ja/943"><cite>戦国キングダム</cite></Link></td>
						<td>糸色望イラスト</td>
						<td>2013年7月1日</td>
					</tr>
					<tr>
						<td>オンラインゲーム</td>
						<td><Link href="https://web.archive.org/web/20121205124223/http://cog-members.oni-soul.jp/"><cite>鬼武者Soul</cite></Link></td>
						<td>木津千里イラスト</td>
						<td>2012年11月8日</td>
					</tr>
					<tr>
						<td>PC ゲーム</td>
						<td><cite>AIR</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B005RD6XJC/">かのうぉ</Link>掲載「<cite>AIR徹底大紹介</cite>」扉イラスト</td>
						<td>2000年11月29日</td>
					</tr>
					<tr>
						<td>ゲーム</td>
						<td><cite>ストリートファイター　シリーズ</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/4796635459/">ストリートファイター15周年最強読本</Link>　寄稿イラスト</td>
						<td>2003年8月26日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>太陽の戦士ポカポカ</cite></td>
						<td>週刊少年サンデー 1996年39号　表紙イラスト</td>
						<td>1996年8月28日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>太陽の戦士ポカポカ</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00BH94XYC/">単行本第2巻</Link>　カバー表1</td>
						<td>1997年4月18日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>幽良物件仲介します</cite></td>
						<td>週刊ヤングサンデー1996年7号　トビラ</td>
						<td>1996年1月18日<NoteRef by="youngsunday1996-07" /></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOYI/">単行本20巻</Link>　カバー表1</td>
						<td>1996年6月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>週刊少年サンデー 1996年34号　最終回カラー</td>
						<td>1996年7月24日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOIO/">単行本1巻</Link>　カバー表1</td>
						<td>1992年1月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOIO/">単行本1巻</Link>　カバー表4</td>
						<td>1992年1月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOMK/">単行本5巻</Link>　カバー表1</td>
						<td>1992年9月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOLQ/">単行本6巻</Link>　カバー表1</td>
						<td>1992年12月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOLG/">単行本7巻</Link>　カバー表1</td>
						<td>1993年2月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QON4/">単行本8巻</Link>　カバー表1</td>
						<td>1993年5月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOOS/">単行本9巻</Link>　カバー表1</td>
						<td>1993年7月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOP2/">単行本10巻</Link>　カバー表1</td>
						<td>1993年10月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOSY/">単行本12巻</Link>　カバー表1</td>
						<td>1994年3月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOR0/">単行本13巻</Link>　カバー表1</td>
						<td>1994年6月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QP0G/">単行本21巻</Link>　カバー表4</td>
						<td>1996年8月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOZM/">単行本22巻</Link>　カバー表1</td>
						<td>1996年10月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>週刊少年サンデー 1996年34号　最終回カラー</td>
						<td>1996年7月24日</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QOT8/">単行本14巻</Link>　カバー表1</td>
						<td>1994年9月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QORA/">単行本15巻</Link>　カバー表1</td>
						<td>1994年12月</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td><Link href="https://www.amazon.co.jp/dp/B00DE1QORA/">単行本15巻</Link>　カバー表4</td>
						<td>1994年12月</td>
					</tr>
					<tr>
						<td>文庫</td>
						<td><Link href="https://www.amazon.co.jp/dp/4480429956/"><cite>ひきこもりはなぜ「治る」のか?</cite></Link></td>
						<td>カバーイラスト</td>
						<td>2012年10月10日</td>
					</tr>
				</tbody>
			</table>

			<NoteRefContent id="zetsubou-bdbox">悔画展では初出が<q>2011年</q>とされているが、実際の商品到着日は2012年2月上旬。</NoteRefContent>

			<NoteRefContent id="goku-zetsubou3">悔画展では初出が<q>2008年</q>とされているが、実際の発売日は2009年2月17日。</NoteRefContent>

			<NoteRefContent id="sunday2004-32+33">悔画展の初出には<q>週刊少年サンデー 2004年33号</q>とあるが、実際は合併号。</NoteRefContent>

			<NoteRefContent id="nonnonji">悔画展の初出には<q>付録小冊子寄稿イラスト</q>とあるが、実際はコミック本体。</NoteRefContent>

			<NoteRefContent id="hidamari365">悔画展の初出には作品名が<q>アニメ『ひだまりスケッチ』</q>とあるが、正確にはアニメ第2期の『<cite>ひだまりスケッチ×365</cite>』。</NoteRefContent>

			<NoteRefContent id="gundam-goods-ace1">悔画展の初出には書籍名が<q>僕たちの好きなガンダム　永遠に残したい名場面100</q>とあるが、そちらに掲載されたのは部屋着で機械いじりをするアムロ・レイのイラストであり別物。</NoteRefContent>

			<NoteRefContent id="gundam-goods-ace2">悔画展では初出が<q>2006年</q>とされているが、前述のとおり書籍名が誤っているためこちらも事実と異なり、正しくは2003年7月15日。</NoteRefContent>

			<NoteRefContent id="kujibiki1">悔画展では単に<q>DVD BOX</q> とされているが、久米田先生のピンナップイラストが封入されたのは第3巻にあたる DVD-BOX Ⅲ。</NoteRefContent>

			<NoteRefContent id="kujibiki2">悔画展では初出が<q>2006年</q>とされている。DVD BOX Ⅰ の発売日は2006年12月22日だが、久米田先生のピンナップイラストが含まれた <Link href="https://web.archive.org/web/20070423055359/http://www.kujian.info/goods_dvd.html">DVD-BOX Ⅲ</Link> が発売されたのは2007年4月25日。</NoteRefContent>

			<NoteRefContent id="youngsunday1996-07">悔画展ではなぜが初出年が抜けている。</NoteRefContent>
		</div>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">主な非収録イラスト</Fragment>

		<ul class="p-notes">
			<li>すべての非収録事例をまとめているわけではありません。モノクロイラストや簡素な掲載例を除いた、画集に収録されるに相応しい事例のみを対象としています。意図としては、今後画集の第二弾が制作される暁には是非とも収録して欲しいものをまとめたリストとなります。</li>
			<li>「<cite>悔画展</cite>」の発売後に発表されたイラストは除きます。</li>
			<li>漫画形式のカラーページはトビラや大コマのみに絞っています。</li>
			<li>単行本のカバーイラスト（表紙、裏表紙）やカラーページは電子版や中古販売で容易に入手可能なことから対象外としています。ただし『<cite>育ってダーリン!!</cite>』1巻（新装版ではないオリジナル版の方）のみ現在では入手困難なため、例外的に含めています。</li>
		</ul>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col" colspan="2">作品名</th>
						<th scope="col">イラスト内容</th>
						<th scope="col">収録・放送媒体</th>
						<th scope="col">発売・放送日</th>
						<th scope="col"><cite>全曝し</cite>図録</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>アイスホッケー姿の月斗</td>
						<td>週刊少年サンデー 1991年10号　表紙</td>
						<td>1991年2月13日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>アイスホッケー姿の月斗</td>
						<td>週刊少年サンデー 1991年15号　表紙</td>
						<td>1991年3月20日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>月斗&amp;そあら</td>
						<td>週刊少年サンデー 1991年15号　第2話トビラ</td>
						<td>1991年3月20日</td>
						<td class="u-cell -center">✘</td>
						<td><Link href="https://websunday.net/4209/" icon={false}>少年サンデー名作ミュージアム</Link>で公開</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>月斗</td>
						<td>週刊少年サンデー 1991年17号　第4話トビラ</td>
						<td>1991年4月</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>月斗と浜津学園の生徒達</td>
						<td>週刊少年サンデー 1991年29号　表紙</td>
						<td>1991年6月26日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>浜辺を走る月斗ほかアイスホッケー部員</td>
						<td>週刊少年サンデー 1991年29号　第8話トビラ</td>
						<td>1991年6月26日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>アイスホッケー姿の月斗</td>
						<td>週刊少年サンデー 1991年30号　表紙</td>
						<td>1991年7月3日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>正月晴着の月斗</td>
						<td>週刊少年サンデー 1992年3・4号　表紙</td>
						<td>1991年12月25日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>真剣な表情でアイスホッケーする月斗（鼻の絆創膏なし）</td>
						<td>週刊少年サンデー 1992年7号　表紙</td>
						<td>1992年1月22日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>スキー場での月斗&amp;そあら</td>
						<td>週刊少年サンデー 1992年7号　第33話トビラ</td>
						<td>1992年1月22日</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>プロレスリング上の月斗&amp;出場選手達</td>
						<td>週刊少年サンデー 1992年16号　第42話トビラ</td>
						<td>1992年3月25日</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>サーカス団の月斗&amp;そあら</td>
						<td>週刊少年サンデー 1992年27号　第52話トビラ</td>
						<td>1992年6月10日</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>アシという名のもとに 〜まんが家アシスタント残酷物語〜</cite></td>
						<td>芦村幸太</td>
						<td>週刊少年サンデー増刊 1992年9月号　表紙</td>
						<td>1992年8月28日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>私服でスティックを構える月斗</td>
						<td>週刊少年サンデー 1993年3・4号　表紙</td>
						<td>1992年12月22日</td>
						<td class="u-cell -center">✘</td>
						<td>同誌1993年16号、30号の表紙にも採用</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>花見酒をする月斗&amp;そあら&amp;舞子</td>
						<td>週刊少年サンデー 1993年13号　第86話トビラ</td>
						<td>1993年3月3日</td>
						<td class="u-cell -center">✔</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>√P ルートパラダイス</cite></td>
						<td>ビーチでの春平&amp;夏樹</td>
						<td>ヤングサンデー 1993年 No.15　Paradise.1 トビラ</td>
						<td>1993年7月23日</td>
						<td class="u-cell -center">✔</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>√P ルートパラダイス</cite></td>
						<td>夏樹<small>（トマトちゃん）</small></td>
						<td>ヤングサンデー 1993年 No.16　Paradise.2 トビラ</td>
						<td>1993年8月11日</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>礼装の月斗</td>
						<td>週刊少年サンデー 1993年51号　表紙</td>
						<td>1993年11月24日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>私服の月斗</td>
						<td>週刊少年サンデー 1994年3・4号　表紙</td>
						<td>1993年12月22日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>制服姿の月斗&amp;そあら</td>
						<td>週刊少年サンデー 1994年12号　表紙</td>
						<td>1994年2月23日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>私服の月斗</td>
						<td>週刊少年サンデー 1994年15号　表紙</td>
						<td>1994年3月16日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>浜辺で水着のそあら&amp;月斗</td>
						<td>週刊少年サンデー 1994年29号　表紙</td>
						<td>1994年6月22日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>浜辺で水着のそあら&amp;舞子</td>
						<td>週刊少年サンデー 1994年29号　第149話トビラ</td>
						<td>1994年6月22日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>育ってダーリン!!</cite></td>
						<td>ドレス姿のうらら&amp;冬馬</td>
						<td>週刊少年サンデー増刊 1994年12月号　表紙</td>
						<td>1994年11月19日</td>
						<td class="u-cell -center">✔</td>
						<td><Link href="https://websunday.net/4233/" icon={false}>少年サンデー名作ミュージアム</Link>で公開</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>育ってダーリン!!</cite></td>
						<td>ドレス姿のうらら&amp;冬馬</td>
						<td>週刊少年サンデー増刊 1994年12月号　レッスン1 トビラ</td>
						<td>1994年11月19日</td>
						<td class="u-cell -center">✔</td>
						<td>2色カラー、<Link href="https://websunday.net/4233/" icon={false}>少年サンデー名作ミュージアム</Link>で公開</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>育ってダーリン!!</cite></td>
						<td>うらら</td>
						<td>週刊少年サンデー超（増刊） 1995年1月号　表紙</td>
						<td>1994年12月20日</td>
						<td class="u-cell -center">✔</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>チャイナ服の月斗</td>
						<td>週刊少年サンデー 1995年4号　表紙</td>
						<td>1994年12月27日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>チアリーダーのそあら</td>
						<td>週刊少年サンデー 1995年14号　表紙</td>
						<td>1995年3月8日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>育ってダーリン!!</cite></td>
						<td>ドレス姿のうらら&amp;冬馬</td>
						<td><Link href="https://www.amazon.co.jp/dp/4091236413/">単行本1巻</Link>　カバー表1</td>
						<td>1995年10月</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>育ってダーリン!!</cite></td>
						<td>冬馬</td>
						<td><Link href="https://www.amazon.co.jp/dp/4091236413/">単行本1巻</Link>　カバー表4</td>
						<td>1995年10月</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>冬服の月斗</td>
						<td>週刊少年サンデー 1996年3・4号　表紙</td>
						<td>1995年12月22日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>行け!!南国アイスホッケー部</cite></td>
						<td>月斗</td>
						<td>週刊少年サンデー 1996年14号　表紙</td>
						<td>1996年3月6日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>太陽の戦士ポカポカ</cite></td>
						<td>ポカポカ</td>
						<td>週刊少年サンデー 1996年39号　第1話トビラ</td>
						<td>1996年8月28日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>太陽の戦士ポカポカ</cite></td>
						<td>ポカポカほか</td>
						<td>週刊少年サンデー 1996年40号　第2話トビラ</td>
						<td>1996年9月4日</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>太陽の戦士ポカポカ</cite></td>
						<td>ポカポカ</td>
						<td>週刊少年サンデー 1997年4号　表紙</td>
						<td>1996年12月24日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>太陽の戦士ポカポカ</cite></td>
						<td>ポカポカ</td>
						<td>週刊少年サンデー 1997年14号　表紙</td>
						<td>1997年3月</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>太陽の戦士ポカポカ</cite></td>
						<td>無益ロボ　シャンボット3</td>
						<td>週刊少年サンデー 1997年19号　第31話トビラ</td>
						<td>1997年4月9日</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>科特部メンバー</td>
						<td>週刊少年サンデー 1998年21・22号　表紙</td>
						<td>1998年4月22日</td>
						<td class="u-cell -center">✔</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>改蔵&amp;地丹</td>
						<td>週刊少年サンデー 1999年4号　表紙</td>
						<td>1998年12月30日</td>
						<td class="u-cell -center">✘</td>
						<td><Link href="http://www.gofa.co.jp/art/160702_kumetaten/062702.shtml">「<cite>一挙後悔中</cite>」のキーホルダー</Link>としてグッズ化</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>制服の改蔵</td>
						<td>週刊少年サンデー 1999年16号　表紙</td>
						<td>1999年3月17日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>科特部メンバー</td>
						<td>週刊少年サンデー 1999年21号　第48話トビラ</td>
						<td>1999年4月21日</td>
						<td class="u-cell -center">✘</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>すず</td>
						<td>週刊少年サンデー 1999年40号　第65話トビラ</td>
						<td>1999年9月1日</td>
						<td class="u-cell -center">✔</td>
						<td>2色カラー</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>制服の改蔵</td>
						<td>週刊少年サンデー 2000年6号　表紙</td>
						<td>2000年1月4日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>科特部メンバー&amp;山田さん</td>
						<td>週刊少年サンデー 2000年41号　表紙</td>
						<td>2000年9月6日</td>
						<td class="u-cell -center">✘</td>
						<td>地丹のみ同号 p.3 のニセ表紙にもカラー掲載（単行本11巻にモノクロ収録）</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>下っぱスーツの地丹</td>
						<td>週刊少年サンデー 2000年49号　表紙</td>
						<td>2000年11月1日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>露天風呂での女子キャラ</td>
						<td>週刊少年サンデー 2000年49号　第121話トビラ</td>
						<td>2000年11月1日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>育ってダーリン!!</cite></td>
						<td>うらら&amp;冬馬</td>
						<td>週刊少年サンデー 2002年19号　表紙</td>
						<td>2002年4月10日</td>
						<td class="u-cell -center">✘</td>
						<td>単行本新装版A巻のカバー裏表紙にも採用</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>「200+7」アニバーサリーTシャツを着た改蔵</td>
						<td>週刊少年サンデー 2002年42号　表紙</td>
						<td>2002年9月18日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>私服の改蔵（『かってに改蔵』スーパーマンス）</td>
						<td>週刊少年サンデー 2003年27号　表紙</td>
						<td>2003年6月4日</td>
						<td class="u-cell -center">✘</td>
						<td>イラスト自体は同誌2002年39号トビラが初出（本号でカラー化）</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>着物姿の改蔵（サンデー維新）</td>
						<td>週刊少年サンデー 2004年16号　表紙</td>
						<td>2004年3月</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>第1話トビラのリメイク</td>
						<td>週刊少年サンデー 2004年24号　第281話トビラ</td>
						<td>2004年5月12日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かってに改蔵</cite></td>
						<td>浜辺での改蔵&amp;羽美</td>
						<td>週刊少年サンデー 2004年34号　最終話カラーページ</td>
						<td>2004年7月21日</td>
						<td class="u-cell -center">✘</td>
						<td>新装版14巻にカラー収録</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>特に負けても構わない戦いがそこにはある〜サレジオ落穂によろしく（仮題）〜</cite></td>
						<td>久米田康治の自画像</td>
						<td>週刊少年週刊ヤングサンデー 2005年27号　表紙</td>
						<td>2005年6月2日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>機動戦士ガンダム</cite></td>
						<td>部屋着で機械いじりをするアムロ・レイ</td>
						<td><Link href="https://www.amazon.co.jp/dp/4796655115/">僕たちの好きなガンダム　永遠に残したい名場面100</Link>　寄稿イラスト</td>
						<td>2006年11月21日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>ef - a tale of melodies.</cite></td>
						<td>久瀬修一&amp;羽山ミズキ</td>
						<td>#6 エンドカード</td>
						<td>2008年11月11日（10日深夜）</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>望</td>
						<td>週刊少年マガジン 2007年28号　TVアニメ情報ページ</td>
						<td>2007年6月13日</td>
						<td class="u-cell -center">✘</td>
						<td>同誌2008年10号、32号の表紙にも採用</td>
					</tr>
					<tr>
						<td>アニメ</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>望（アヌメージョ）</td>
						<td><Link href="https://www.amazon.co.jp/dp/B0012RQMAC/">アニメージュ 2008年3月号</Link>　付録表紙</td>
						<td>2008年2月9日</td>
						<td class="u-cell -center">✘</td>
						<td>イラスト自体は単行本十集の巻末おまけが初出（本誌でカラー化）</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>さよなら絶望先生</cite></td>
						<td>『<cite>はじめの一歩</cite>』コスプレの望</td>
						<td>週刊少年マガジン 2009年16号　表紙</td>
						<td>2009年3月</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>せっかち伯爵と時間どろぼう</cite></td>
						<td>サンジェルマン伯爵</td>
						<td>週刊少年マガジン 2013年49号　表紙</td>
						<td>2013年11月6日</td>
						<td class="u-cell -center">✘</td>
						<td>同誌2013年51号とマガジン SPECIAL 2014年3号でも表紙に採用</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>オフサイドトラップ</cite></td>
						<td>嘉手納千代</td>
						<td>ヤングマガジン 2015年6号　表紙</td>
						<td>2015年1月5日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>スタジオパルプ</cite></td>
						<td>映写機を操作するひろ子</td>
						<td><Link href="https://www.amazon.co.jp/dp/B016ZWJU20/">楽園 Le Paradis 17号</Link>　本編後のカラーイラスト</td>
						<td>2015年2月28日</td>
						<td class="u-cell -center">✔</td>
						<td>単行本1巻にカラー収録</td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>クメショート</cite>（<cite>タワマンとも子</cite>、<cite>リゾマンとも子</cite>）</td>
						<td>二階堂とも子</td>
						<td>週刊少年サンデー 2016年8号　予告</td>
						<td>2016年1月20日</td>
						<td class="u-cell -center">✘</td>
						<td>同誌2016年9号（読切掲載号）の表紙にも採用</td>
					</tr>
					<tr>
						<td>小説</td>
						<td><Link href="https://www.amazon.co.jp/dp/4061399411/"><cite>骨董靴工房アッシェンプッテルの来客簿　ハイヒールは嘘つきのはじまり</cite></Link></td>
						<td></td>
						<td>カバーイラスト</td>
						<td>2016年4月16日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>小説</td>
						<td><Link href="https://www.amazon.co.jp/dp/4061399411/"><cite>骨董靴工房アッシェンプッテルの来客簿　ハイヒールは嘘つきのはじまり</cite></Link></td>
						<td></td>
						<td>口絵イラスト</td>
						<td>2016年4月16日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
					<tr>
						<td>漫画</td>
						<td><cite>かくしごと</cite></td>
						<td>可久士&amp;姫</td>
						<td><Link href="https://www.amazon.co.jp/dp/B01GFTJ2Y4/">月刊少年マガジン 2016年7月号</Link>　第7話トビラ&amp;電子版表紙</td>
						<td>2016年6月6日</td>
						<td class="u-cell -center">✘</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>
</Layout>
