---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『スタジオパルプ』最終話　大団円イラストキャラ',
	dateModified: dayjs('2022-03-27'),
	description: '『スタジオパルプ』最終話（Act15.）の大団円イラストに描かれたキャラクターを特定してみました。',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<H slot="heading">大団円イラスト</H>

		<details class="p-toggle js-details-animation">
			<summary>イラストを見る<small>（※最終話ネタバレ注意）</small></summary>

			<div class="p-toggle__contents">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="kumeta/yomoyama/pulp15_daidanen.jpg" alt="大画像" width={1022} height={734} quality={60} link={true} />
					</div>
					<figcaption class="c-caption">見開きの大団円イラスト（<cite>楽園</cite>32号 pp.360–361 を加工）</figcaption>
				</figure>
			</div>
		</details>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading">登場キャラクター一覧</H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">行け!!南国アイスホッケー部</H>

			<ul class="p-list">
				<li>蘭堂月斗</li>
				<li>岡本そあら</li>
				<li>朝霧舞子</li>
				<li>天草健太郎</li>
				<li>鈴木保奈男</li>
				<li>ロブ・ドールマン</li>
				<li>亀頭雁男【28話ほか】</li>
				<li>シーモネーター【36〜37話ほか】</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">育ってダーリン!!</H>

			<ul class="p-list">
				<li>羽留うらら</li>
				<li>坂本冬馬</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">太陽の戦士ポカポカ</H>

			<ul class="p-list">
				<li>ポカポカ</li>
				<li>ピューピュー</li>
				<li>チャプチャプ</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">かってに改蔵</H>

			<ul class="p-list">
				<li>勝改蔵</li>
				<li>名取羽美</li>
				<li>彩園すず</li>
				<li>坪内地丹</li>
				<li>山田さん</li>
				<li>泊亜留美</li>
				<li>坪内砂丹</li>
				<li>しえちゃん</li>
				<li>神崎美智子</li>
				<li>よし子先生(?)</li>
				<li>地丹の母</li>
				<li>町内会長</li>
				<li>マリオ</li>
				<li>のりお（のり屋の主人）【18話】</li>
				<li>パンプキンベレー【26話】</li>
				<li>イガ天バンド【44話】</li>
				<li>ラブ影先生【55話】</li>
				<li>軽井沢夫人【60話】</li>
				<li>避暑っぽい人【60話】</li>
				<li>鉄道マニアの幽霊【61話】</li>
				<li>みつる【67話】</li>
				<li>曼★愚憂棲メンバー【141話】</li>
				<li>大佐【148話】</li>
				<li>ひろし（後ろの人）【162〜166話】</li>
				<li>久保（あだ名「ビグザム」）【167話】</li>
				<li>光中【183話】</li>
				<li>羽美のハムスター【187話】</li>
				<li>虎馬高校で飼っている動物【223話】</li>
				<li>Mecky【235話】</li>
				<li>羽美の股裂き人形</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">さよなら絶望先生</H>

			<ul class="p-list">
				<li>糸色望</li>
				<li>臼井影郎</li>
				<li>大浦可奈子</li>
				<li>大草麻菜実</li>
				<li>音無芽留</li>
				<li>加賀愛</li>
				<li>木津千里</li>
				<li>木野国也</li>
				<li>木村カエレ</li>
				<li>久藤准</li>
				<li>小節あびる</li>
				<li>小森霧</li>
				<li>関内・マリア・太郎</li>
				<li>常月まとい</li>
				<li>根津美子</li>
				<li>日塔奈美</li>
				<li>藤吉晴美</li>
				<li>丸内翔子</li>
				<li>万世橋わたる</li>
				<li>三珠真夜</li>
				<li>ことのん</li>
				<li>糸色命</li>
				<li>糸色倫</li>
				<li>糸色交</li>
				<li>時田</li>
				<li>一旧さん</li>
				<li>新井智恵</li>
				<li>ペリー【十二話ほか】</li>
				<li>天下り【二十五話ほか】</li>
				<li>糸色チル【三十二話】</li>
				<li>コウノトリ【四十一話】</li>
				<li>リー・仲直【五十二話】</li>
				<li>カントク【五十三話】</li>
				<li>芽留の父親【百十二話ほか】</li>
				<li>きよ彦【番外編】</li>
				<li>望と“何もなかった”男性【百五十三話ほか】</li>
				<li>木津多祢【百九十話ほか】</li>
				<li>棒犬</li>
				<li>さのすけ</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">せっかち伯爵と時間どろぼう</H>

			<ul class="p-list">
				<li>サンジェルマン伯爵</li>
				<li>ミチル</li>
				<li>ホムンクルス</li>
				<li>時只卓</li>
				<li>夕仏真心</li>
				<li>時只歩</li>
				<li>黒奥様</li>
				<li>コテカの戦士【3話ほか】</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">スタジオパルプ</H>

			<ul class="p-list">
				<li>役者丸ひろ子</li>
				<li>三流漫画家像【Act1.】</li>
				<li>改蔵と羽美の子供【Act10. ほか】</li>
			</ul>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">かくしごと</H>

			<ul class="p-list">
				<li>後藤可久士</li>
				<li>後藤姫</li>
				<li>志治仰</li>
				<li>墨田羅砂</li>
				<li>筧亜美</li>
				<li>芥子駆</li>
			</ul>
		</Section>
	</Section>
</Layout>
