---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import YouTube from '@components/EmbeddedYouTube.astro';
import Link from '@components/Link.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: 'アニメ『さよなら絶望先生』公式サイトのアーカイブ',
	dateModified: dayjs('2024-07-22'),
	description: 'アニメ『さよなら絶望先生』の Web サイトは Flash を多用していたため、2021年の Adobe Flash Player 終了に伴い、裏ページなどいくつかのコンテンツは通常の方法では閲覧できなくなってしまいました。ここではブラウザ画面を録画したアーカイブを紹介します。',
	image: 'https://i1.ytimg.com/vi/J3J4b_wuxsM/hqdefault.jpg',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<Fragment slot="heading">公式サイト一覧</Fragment>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col">Web サイト</th>
						<th scope="col">入口ページ</th>
						<th scope="col">トップページ</th>
						<th scope="col">Flash 使用コンテンツ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>さよなら絶望先生シリーズ</td>
						<td colspan="2"><Link href="https://king-cr.jp/special/zetsubou_series/" icon={false}><code>index.html</code></Link></td>
						<td>なし</td>
					</tr>
					<tr>
						<td>さよなら絶望先生</td>
						<td><Link href="https://web.archive.org/web/20240128211100/https://king-cr.jp/special/zetsubou/" icon={false}><code>index.html</code></Link><small>（2024年まで）</small></td>
						<td><Link href="https://king-cr.jp/special/zetsubou/" icon={false}>旧<code>top.html</code><small>（現<code>index.html）</code></small></Link></td>
						<td>入口ページ、裏ページ</td>
					</tr>
					<tr>
						<td>俗・さよなら絶望先生</td>
						<td><Link href="https://web.archive.org/web/20231214185856/https://king-cr.jp/special/zetsubou2/" icon={false}><code>index.html</code></Link><small>（2024年まで）</small></td>
						<td><Link href="https://king-cr.jp/special/zetsubou2/" icon={false}>旧<code>top.html</code><small>（現<code>index.html）</code></small></Link></td>
						<td>入口ページ、裏ページ</td>
					</tr>
					<tr>
						<td>獄・さよなら絶望先生</td>
						<td colspan="2"><Link href="https://king-cr.jp/special/zetsubou_oad/" icon={false}><code>index.html</code></Link></td>
						<td>なし</td>
					</tr>
					<tr>
						<td>懺・さよなら絶望先生</td>
						<td><Link href="https://web.archive.org/web/20231214185937/https://king-cr.jp/special/zetsubou3/" icon={false}><code>index.html</code></Link><small>（2024年まで）</small></td>
						<td><Link href="https://king-cr.jp/special/zetsubou3/" icon={false}>旧<code>top.html</code><small>（現<code>index.html）</code></small></Link></td>
						<td>入口ページ、トップページのメニュー部分、裏ページ</td>
					</tr>
					<tr>
						<td>さよなら絶望先生 Blu-ray BOX</td>
						<td colspan="2"><Link href="https://king-cr.jp/special/zetsubou_bd/" icon={false}><code>index.html</code></Link></td>
						<td>「<cite>メビウス荒野〜絶望伝説エピソード1</cite>」動画</td>
					</tr>
					<tr>
						<td>大槻ケンヂと絶望少女達</td>
						<td colspan="2"><Link href="https://king-cr.jp/artist/otsuki/" icon={false}><code>index.html</code></Link></td>
						<td>なし</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>入口ページ（<code>index.html</code>）とトップページ（<code>top.html</code>）が分かれていた TV アニメ 3サイトは、2024年に入口ページが廃止され、トップページを <code>top.html</code> から <code>index.html</code> にリネームする変更が行われました。</li>
			<li>
				『<cite>懺・さよなら絶望先生</cite>』のサイトはトップページのメニュー部分も Flash によるものなので、現在はリンクを辿ることはできませんが、コンテンツはサーバーに残っており URL を直接指定すれば閲覧可能です。
				<ul>
					<li><Link href="https://king-cr.jp/special/zetsubou3/news.html" icon={false}>ニュース</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/staff.html" icon={false}>スタッフ&amp;キャスト</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/sch.html" icon={false}>放送日時</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/release.html" icon={false}>リリース情報</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/gallery.html" icon={false}>ギャラリー</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/chara.html" icon={false}>キャラクター</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/arasuji.html" icon={false}>各話あらすじ</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/story.html" icon={false}>懺・さよなら絶望先生とは? （ストーリー）</Link></li>
				</ul>
			</li>
		</ul>
	</Section>
	<Section slugger={slugger}>
		<Fragment slot="heading"><cite>さよなら絶望先生</cite></Fragment>

		<YouTube id="J3J4b_wuxsM" title="『さよなら絶望先生』公式サイト閲覧の様子" />
	</Section>
	<Section slugger={slugger}>
		<Fragment slot="heading"><cite>俗・さよなら絶望先生</cite></Fragment>

		<YouTube id="kDSBb4UD5CQ" title="『俗・さよなら絶望先生』公式サイト閲覧の様子" />

		<ul class="p-notes">
			<li>裏ページ内の神谷浩史コメント動画は直接<Link href="https://king-cr.jp/special/zetsubou2/ura/kamiya_com.flv">動画ファイル（Flash Video 形式）</Link>をダウンロードして閲覧ください。</li>
		</ul>
	</Section>
	<Section slugger={slugger}>
		<Fragment slot="heading"><cite>懺・さよなら絶望先生</cite></Fragment>

		<YouTube id="t4j7jg8_GZQ" title="『懺・さよなら絶望先生』公式サイト閲覧の様子" />

		<ul class="p-notes">
			<li>
				裏ページ内の動画コンテンツはそれぞれ以下のリンクから直接動画ファイル（Flash Video 形式）をダウンロードして閲覧ください。
				<ul>
					<li><Link href="https://king-cr.jp/special/zetsubou3/ura/01_op.flv">オープニング　ムービー</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/ura/02_ed.flv">エンディング　ムービー</Link></li>
					<li><Link href="https://king-cr.jp/special/zetsubou3/ura/05_otsuki.flv">大槻ケンヂ　コメント</Link></li>
				</ul>
			</li>
		</ul>
	</Section>
</Layout>
