---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import H from '@components/H.astro';
import LinkExternal from '@components/LinkExternal.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: 'アニメ『さよなら絶望先生』公式サイトのアーカイブ',
	dateModified: dayjs('2022-03-27'),
	description: 'アニメ『さよなら絶望先生』の Web サイトは Flash を多用していたため、裏ページなどいくつかのコンテンツは通常の方法では閲覧できなくなってしまいました。ここではブラウザ画面を録画したアーカイブを紹介します。',
	image: 'https://i1.ytimg.com/vi/J3J4b_wuxsM/hqdefault.jpg',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<H slot="heading">公式サイト一覧</H>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col">Web サイト</th>
						<th scope="col">入口ページ</th>
						<th scope="col">トップページ</th>
						<th scope="col">Flash 使用コンテンツ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>さよなら絶望先生シリーズ</td>
						<td colspan="2"><LinkExternal href="http://king-cr.jp/special/zetsubou_series/" icon={false}>index.html</LinkExternal></td>
						<td>なし</td>
					</tr>
					<tr>
						<td>さよなら絶望先生</td>
						<td><LinkExternal href="http://king-cr.jp/special/zetsubou/" icon={false}>index.html</LinkExternal></td>
						<td><LinkExternal href="http://king-cr.jp/special/zetsubou/top.html" icon={false}>top.html</LinkExternal></td>
						<td>入口ページ、裏ページ</td>
					</tr>
					<tr>
						<td>俗・さよなら絶望先生</td>
						<td><LinkExternal href="http://king-cr.jp/special/zetsubou2/" icon={false}>index.html</LinkExternal></td>
						<td><LinkExternal href="http://king-cr.jp/special/zetsubou2/top.html" icon={false}>top.html</LinkExternal></td>
						<td>入口ページ、裏ページ</td>
					</tr>
					<tr>
						<td>獄・さよなら絶望先生</td>
						<td colspan="2"><LinkExternal href="http://king-cr.jp/special/zetsubou_oad/" icon={false}>index.html</LinkExternal></td>
						<td>なし</td>
					</tr>
					<tr>
						<td>懺・さよなら絶望先生</td>
						<td><LinkExternal href="http://king-cr.jp/special/zetsubou3/" icon={false}>index.html</LinkExternal></td>
						<td><LinkExternal href="http://king-cr.jp/special/zetsubou3/top.html" icon={false}>top.html</LinkExternal></td>
						<td>入口ページ、トップページのメニュー部分、裏ページ</td>
					</tr>
					<tr>
						<td>さよなら絶望先生 Blu-ray BOX</td>
						<td colspan="2"><LinkExternal href="http://king-cr.jp/special/zetsubou_bd/" icon={false}>index.html</LinkExternal></td>
						<td>「<cite>メビウス荒野〜絶望伝説エピソード1</cite>」動画</td>
					</tr>
					<tr>
						<td>大槻ケンヂと絶望少女達</td>
						<td colspan="2"><LinkExternal href="http://king-cr.jp/artist/otsuki/" icon={false}>index.html</LinkExternal></td>
						<td>なし</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>『<cite>さよなら絶望先生</cite>』の<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji.html" icon={false}>各話あらすじ</LinkExternal>は Flash とは無関係のサーバー設定不具合により話数選択プルダウンが表示できなくなっていますが、コンテンツはサーバーに残っており URL を直接指定すれば閲覧可能です（<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/01.html" icon={false}>一話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/02.html" icon={false}>二話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/03.html" icon={false}>三話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/04.html" icon={false}>四話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/05.html" icon={false}>五話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/06.html" icon={false}>六話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/07.html" icon={false}>七話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/08.html" icon={false}>八話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/09.html" icon={false}>九話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/10.html" icon={false}>十話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/11.html" icon={false}>十一話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou/arasuji/12.html" icon={false}>十二話</LinkExternal>）。</li>
			<li>『<cite>俗・さよなら絶望先生</cite>』の<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji.html" icon={false}>各話あらすじ</LinkExternal>は Flash とは無関係のサーバー設定不具合により話数選択プルダウンが表示できなくなっていますが、コンテンツはサーバーに残っており URL を直接指定すれば閲覧可能です（<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/01.html" icon={false}>一話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/02.html" icon={false}>二話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/03.html" icon={false}>三話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/04.html" icon={false}>四話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/05.html" icon={false}>五話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/06.html" icon={false}>六話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/07.html" icon={false}>七話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/08.html" icon={false}>八話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/09.html" icon={false}>九話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/10.html" icon={false}>十話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/11.html" icon={false}>十一話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/12.html" icon={false}>十二話</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou2/arasuji/13.html" icon={false}>十三話</LinkExternal>）。</li>
			<li>『<cite>懺・さよなら絶望先生</cite>』はトップページのメニュー部分も Flash によるものなので、現在はリンクを辿ることはできませんが、コンテンツはサーバーに残っており URL を直接指定すれば閲覧可能です（<LinkExternal href="http://king-cr.jp/special/zetsubou3/news.html" icon={false}>ニュース</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou3/staff.html" icon={false}>スタッフ&amp;キャスト</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou3/sch.html" icon={false}>放送日時</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou3/release.html" icon={false}>リリース情報</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou3/gallery.html" icon={false}>ギャラリー</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou3/chara.html" icon={false}>キャラクター</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou3/arasuji.html" icon={false}>各話あらすじ</LinkExternal>、<LinkExternal href="http://king-cr.jp/special/zetsubou3/story.html" icon={false}>懺・さよなら絶望先生とは? （ストーリー）</LinkExternal>）。</li>
		</ul>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading"><cite>さよなら絶望先生</cite></H>

		<figure>
			<div class="p-embed -border">
				<iframe src="https://www.youtube-nocookie.com/embed/J3J4b_wuxsM" allow="accelerometer;autoplay;clipboard-write;encrypted-media;fullscreen;gyroscope;picture-in-picture" title="YouTube 動画" width="560" height="315" style="--aspect-ratio: 560/315"></iframe>
			</div>
			<figcaption class="c-caption -meta"><LinkExternal href="https://www.youtube.com/watch?v=J3J4b_wuxsM">『さよなら絶望先生』公式サイト閲覧の様子</LinkExternal></figcaption>
		</figure>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading"><cite>俗・さよなら絶望先生</cite></H>

		<figure>
			<div class="p-embed -border">
				<iframe src="https://www.youtube-nocookie.com/embed/kDSBb4UD5CQ" allow="accelerometer;autoplay;clipboard-write;encrypted-media;fullscreen;gyroscope;picture-in-picture" title="YouTube 動画" width="560" height="315" style="--aspect-ratio: 560/315"></iframe>
			</div>
			<figcaption class="c-caption -meta"><LinkExternal href="https://www.youtube.com/watch?v=kDSBb4UD5CQ">『俗・さよなら絶望先生』公式サイト閲覧の様子</LinkExternal></figcaption>
		</figure>

		<ul class="p-notes">
			<li>裏ページ内の神谷浩史コメント動画は直接<LinkExternal href="http://king-cr.jp/special/zetsubou2/ura/kamiya_com.flv">動画ファイル（Flash Video 形式）</LinkExternal>をダウンロードして閲覧ください。</li>
		</ul>
	</Section>
	<Section slugger={slugger}>
		<H slot="heading"><cite>懺・さよなら絶望先生</cite></H>

		<figure>
			<div class="p-embed -border">
				<iframe src="https://www.youtube-nocookie.com/embed/t4j7jg8_GZQ" allow="accelerometer;autoplay;clipboard-write;encrypted-media;fullscreen;gyroscope;picture-in-picture" title="YouTube 動画" width="560" height="315" style="--aspect-ratio: 560/315"></iframe>
			</div>
			<figcaption class="c-caption -meta"><LinkExternal href="https://www.youtube.com/watch?v=t4j7jg8_GZQ">『懺・さよなら絶望先生』公式サイト閲覧の様子</LinkExternal></figcaption>
		</figure>

		<ul class="p-notes">
			<li>
				裏ページ内の動画コンテンツはそれぞれ以下のリンクから直接動画ファイル（Flash Video 形式）をダウンロードして閲覧ください。
				<ul>
					<li><LinkExternal href="http://king-cr.jp/special/zetsubou3/ura/01_op.flv">オープニング　ムービー</LinkExternal></li>
					<li><LinkExternal href="http://king-cr.jp/special/zetsubou3/ura/02_ed.flv">エンディング　ムービー</LinkExternal></li>
					<li><LinkExternal href="http://king-cr.jp/special/zetsubou3/ura/05_otsuki.flv">大槻ケンヂ　コメント</LinkExternal></li>
				</ul>
			</li>
		</ul>
	</Section>
</Layout>
