---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import YouTube from '@components/EmbeddedYouTube.astro';
import Note from '@components/Note.astro';
import Section from '@components/Section.astro';
import Table from '@components/Table.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: 'アニメ『さよなら絶望先生』公式サイトのアーカイブ',
	dateModified: '2024-07-22',
	description: 'アニメ『さよなら絶望先生』の Web サイトは Flash を多用していたため、2021年の Adobe Flash Player 終了に伴い、裏ページなどいくつかのコンテンツは通常の方法では閲覧できなくなってしまいました。ここではブラウザ画面を録画したアーカイブを紹介します。',
	image: new URL('https://i1.ytimg.com/vi/J3J4b_wuxsM/hqdefault.jpg'),
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id={slugger}>
		<Fragment slot="heading">公式サイト一覧</Fragment>

		<Table>
			<thead>
				<tr>
					<th scope="col">Web サイト</th>
					<th scope="col">入口ページ</th>
					<th scope="col">トップページ</th>
					<th scope="col">Flash 使用コンテンツ</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>さよなら絶望先生シリーズ</td>
					<td colspan="2"><Anchor href="https://king-cr.jp/special/zetsubou_series/" icon={false}><code>index.html</code></Anchor></td>
					<td>なし</td>
				</tr>
				<tr>
					<td>さよなら絶望先生</td>
					<td><Anchor href="https://web.archive.org/web/20240128211100/https://king-cr.jp/special/zetsubou/" icon={false}><code>index.html</code></Anchor><small>（2024年まで）</small></td>
					<td><Anchor href="https://king-cr.jp/special/zetsubou/" icon={false}>旧<code>top.html</code><small>（現<code>index.html）</code></small></Anchor></td>
					<td>入口ページ、裏ページ</td>
				</tr>
				<tr>
					<td>俗・さよなら絶望先生</td>
					<td><Anchor href="https://web.archive.org/web/20231214185856/https://king-cr.jp/special/zetsubou2/" icon={false}><code>index.html</code></Anchor><small>（2024年まで）</small></td>
					<td><Anchor href="https://king-cr.jp/special/zetsubou2/" icon={false}>旧<code>top.html</code><small>（現<code>index.html）</code></small></Anchor></td>
					<td>入口ページ、裏ページ</td>
				</tr>
				<tr>
					<td>獄・さよなら絶望先生</td>
					<td colspan="2"><Anchor href="https://king-cr.jp/special/zetsubou_oad/" icon={false}><code>index.html</code></Anchor></td>
					<td>なし</td>
				</tr>
				<tr>
					<td>懺・さよなら絶望先生</td>
					<td><Anchor href="https://web.archive.org/web/20231214185937/https://king-cr.jp/special/zetsubou3/" icon={false}><code>index.html</code></Anchor><small>（2024年まで）</small></td>
					<td><Anchor href="https://king-cr.jp/special/zetsubou3/" icon={false}>旧<code>top.html</code><small>（現<code>index.html）</code></small></Anchor></td>
					<td>入口ページ、トップページのメニュー部分、裏ページ</td>
				</tr>
				<tr>
					<td>さよなら絶望先生 Blu-ray BOX</td>
					<td colspan="2"><Anchor href="https://king-cr.jp/special/zetsubou_bd/" icon={false}><code>index.html</code></Anchor></td>
					<td>「<cite>メビウス荒野〜絶望伝説エピソード1</cite>」動画</td>
				</tr>
				<tr>
					<td>大槻ケンヂと絶望少女達</td>
					<td colspan="2"><Anchor href="https://king-cr.jp/artist/otsuki/" icon={false}><code>index.html</code></Anchor></td>
					<td>なし</td>
				</tr>
			</tbody>
		</Table>

		<Note>入口ページ（<code>index.html</code>）とトップページ（<code>top.html</code>）が分かれていた TV アニメ 3サイトは、2024年に入口ページが廃止され、トップページを <code>top.html</code> から <code>index.html</code> にリネームされました。</Note>
		<Note>『<cite>懺・さよなら絶望先生</cite>』のサイトはトップページのメニュー部分も Flash によるものなので、現在はリンクを辿ることはできませんが、コンテンツはサーバーに残っており URL を直接指定すれば閲覧可能です。（<Anchor href="https://king-cr.jp/special/zetsubou3/news.html" icon={false}><cite>最新情報</cite></Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/staff.html" icon={false}><cite>スタッフ&amp;キャスト</cite></Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/sch.html" icon={false}><cite>放送日時</cite></Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/release.html" icon={false}><cite>リリース情報</cite></Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/gallery.html" icon={false}><cite>ギャラリー</cite></Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/chara.html" icon={false}><cite>キャラクター</cite></Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/arasuji.html" icon={false}><cite>各話あらすじ</cite></Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/story.html" icon={false}><cite>懺・さよなら絶望先生とは?</cite></Anchor>）</Note>
	</Section>
	<Section id={slugger}>
		<Fragment slot="heading"><cite>さよなら絶望先生</cite></Fragment>

		<YouTube id="J3J4b_wuxsM" title="『さよなら絶望先生』公式サイト閲覧の様子" />
	</Section>
	<Section id={slugger}>
		<Fragment slot="heading"><cite>俗・さよなら絶望先生</cite></Fragment>

		<YouTube id="kDSBb4UD5CQ" title="『俗・さよなら絶望先生』公式サイト閲覧の様子" />

		<Note>裏ページ内の神谷浩史コメント動画は直接<Anchor href="https://king-cr.jp/special/zetsubou2/ura/kamiya_com.flv">動画ファイル（Flash Video 形式）</Anchor>をダウンロードして閲覧ください。</Note>
	</Section>
	<Section id={slugger}>
		<Fragment slot="heading"><cite>懺・さよなら絶望先生</cite></Fragment>

		<YouTube id="t4j7jg8_GZQ" title="『懺・さよなら絶望先生』公式サイト閲覧の様子" />

		<Note>裏ページ内の動画コンテンツはそれぞれ以下のリンクから動画ファイル（Flash Video 形式）をダウンロードして閲覧ください。（<Anchor href="https://king-cr.jp/special/zetsubou3/ura/01_op.flv" icon={false}>オープニング　ムービー</Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/ura/02_ed.flv" icon={false}>エンディング　ムービー</Anchor>、<Anchor href="https://king-cr.jp/special/zetsubou3/ura/05_otsuki.flv" icon={false}>大槻ケンヂ　コメント</Anchor>）</Note>
	</Section>
</Layout>
