---
import dayjs from 'dayjs';

interface Props {
	asin: string;
	title: string;
	date?: string;
	imageId: string;
	imageWidth: number;
	imageHeight: number;
}

const { asin, title, date, imageId, imageWidth, imageHeight } = Astro.props;

const dateDayjs = date !== undefined ? dayjs(date) : undefined;
---

<li>
	<a href={`https://www.amazon.co.jp/dp/${asin}/ref=nosim?tag=w0s.jp-22`} class="p-amazon__link">
		<div class="p-amazon__thumb">
			<img src={`https://m.media-amazon.com/images/I/${imageId}._SL160_.jpg`} srcset={`https://m.media-amazon.com/images/I/${imageId}._SL320_.jpg`} alt="" width={imageWidth} height={imageHeight} class="p-amazon__image" />
		</div>
		<div class="p-amazon__text">
			<p class="p-amazon__title">{title}</p>
			{dateDayjs !== undefined && <p class="p-amazon__date">{dateDayjs.format('YYYY年M月D日')} 発売</p>}
		</div>
	</a>
</li>
