---
import dayjs from 'dayjs';

interface Props {
	asin: string;
	title: string;
	date?: string;
	imageId: string;
	imageWidth: number;
	imageHeight: number;
}

const { asin, title, date, imageId, imageWidth, imageHeight } = Astro.props;

const dateDayjs = date !== undefined ? dayjs(date) : undefined;
---

<div class="amazon">
	<div class="label">Amazonで買う</div>

	<p class="item">
		<a href={`https://www.amazon.co.jp/dp/${asin}/ref=nosim?tag=w0s.jp-22`}>
			<span class="thumb">
				<img src={`https://m.media-amazon.com/images/I/${imageId}._SL160_.jpg`} srcset={`https://m.media-amazon.com/images/I/${imageId}._SL320_.jpg 2x`} alt="" width={imageWidth} height={imageHeight} class="image" />
			</span>
			<span class="title">{title}</span>
		</a>
		{dateDayjs !== undefined && <span class="date">{dateDayjs.format('YYYY年M月D日')}発売</span>}
	</p>
</div>

<style>
	@layer component {
		.amazon {
			--_bg-color: oklch(95% 0.05 66.67deg);

			border: 1px solid var(--_bg-color);
			border-radius: var(--border-radius-large);
			background-color: var(--_bg-color);
			inline-size: min(30em, 100%);
			line-height: var(--line-height-narrow);
			color: var(--color-black);
		}

		.label {
			display: inline flow-root;
			margin-block-start: -1px;
			margin-inline-start: -1px;
			border: 1px solid oklch(from var(--_bg-color) l calc(c + 0.1) h);
			border-start-start-radius: calc(var(--border-radius-large) - 1px);
			border-end-end-radius: calc(var(--border-radius-large) - 1px);
			background-color: oklch(from var(--_bg-color) l calc(c + 0.1) h);
			padding: 0.5em 0.5lh;
			vertical-align: top;
			font-size: calc(100% / pow(var(--font-ratio), 2));
			font-weight: var(--font-weight-bold);
		}

		.item {
			--_gap: 15px;
			--_bullet-inline-size: 0.45em;
			--_bullet-block-size: 0.75em;
			--_bullet-color: var(--link-color-bullet);
			--_bullet-gap: 0.5em;
			/* stylelint-disable-next-line unit-layout-mappings */
			--_image-width: min(160px, 30dvw);
			--_image-height: 160px;

			contain: layout;
			margin: 1em min(1dvi, 1em);
			padding-inline: calc(var(--_image-width) + var(--_gap) + var(--_bullet-inline-size) + var(--_bullet-gap)) 0;
			/* stylelint-disable-next-line property-layout-mappings */
			min-height: calc(var(--_image-height));

			& > :any-link {
				outline: none;
				color: var(--color-darkgray);

				&:hover {
					text-shadow: oklch(from currentColor l c h / 25%) 0 0 0.05em;
				}
			}
		}

		/* 画像エリア */
		.thumb {
			display: inline flex;
			position: absolute;
			inset-block-start: 0;
			inset-inline: 0 auto;
			flex-wrap: nowrap;
			justify-content: center;
			/* stylelint-disable-next-line property-layout-mappings */
			width: var(--_image-width);
			pointer-events: none;
		}

		/* 商品画像 */
		.image {
			display: block flow;
			background-color: var(--color-white);
			/* stylelint-disable property-layout-mappings */
			max-width: var(--_image-width);
			height: auto;
			max-height: var(--_image-height);
			/* stylelint-enable property-layout-mappings */
			color: var(--color-black);
			pointer-events: auto;

			:focus & {
				outline: var(--outline-width-bold) solid var(--outline-color);
				outline-offset: -1px;
			}

			:any-link:hover & {
				box-shadow: oklch(from var(--_bg-color) calc(l - 0.2) calc(c + 0.1) h) 0 0 5px 1px;
			}
		}

		/* 商品タイトル */
		.title {
			margin-inline-start: calc(0px - var(--_bullet-inline-size) - var(--_bullet-gap));
			font-weight: var(--font-weight-bold);

			:focus & {
				outline: var(--outline-width) solid var(--outline-color);
				outline-offset: var(--outline-offset-linkonly);
			}

			&::before {
				display: inline flow-root;
				margin-inline-end: var(--_bullet-gap);
				border-block-start: var(--_bullet-block-size) solid var(--_bullet-color);
				clip-path: var(--shape-link-triangle);
				inline-size: var(--_bullet-inline-size);
				vertical-align: calc((1cap - var(--_bullet-block-size)) / 2);
				content: '';
			}
		}

		/* 発売日 */
		.date {
			display: block flow;
			margin-block-start: 1em;
			font-size: calc(100% / pow(var(--font-ratio), 1));
		}
	}
</style>
