---
import crypto from 'node:crypto';
import hljs from 'highlight.js/lib/core';
import hljsCss from 'highlight.js/lib/languages/css';
import hljsJavaScript from 'highlight.js/lib/languages/javascript';
import hljsXml from 'highlight.js/lib/languages/xml';

interface Props {
	code: string;
	language?: string;
}

const { code, language } = Astro.props;

const hash = crypto.createHash('md5');
hash.update(code);
const id = `code-${hash.digest('hex')}`; // コード ID

hljs.registerLanguage('xml', hljsXml);
hljs.registerLanguage('css', hljsCss);
hljs.registerLanguage('javascript', hljsJavaScript);

let registLanguageName: string | undefined;
if (language !== undefined) {
	switch (language) {
		case 'xml':
		case 'html':
		case 'svg': {
			registLanguageName = 'xml';
			break;
		}
		case 'css': {
			registLanguageName = 'css';
			break;
		}
		case 'javascript': {
			registLanguageName = 'javascript';
			break;
		}
		default: {
			console.warn('無効な言語名', language);
		}
	}
}

const highlighted = registLanguageName !== undefined ? hljs.highlight(code, { language: registLanguageName }).value : undefined;
---

<figure>
	<div class="code-block">
		<div class="clipboard">
			<button type="button" class="clipboard-button js-button-clipboard" data-target={id}>
				<img src="/assets/image/copy.svg" alt="コピー" width="16" height="16" />
			</button>
		</div>
		<pre class="code">{highlighted !== undefined && <code id={id} set:html={highlighted} />}{highlighted === undefined && <code id={id}>{code}</code>}</pre>
	</div>
</figure>

<style>
	@layer component {
		.code-block {
			position: relative;
			contain: content;
		}

		.clipboard {
			display: none;
			position: absolute;
			inset-block-start: 0.5em;
			inset-inline-end: 0.5em;

			.code-block:hover > :global(&) {
				display: block flow;
			}
		}

		.clipboard-button {
			--_bg-color: var(--bgcolor-light);
			--_ripple-color: var(--color-black);
			--_ripple-opacity: 0.25;
			--_ripple-transition-duration: 0.5s;

			display: block flow;
			contain: layout; /* ripple effect */
			outline-offset: -1px;
			outline-width: var(--outline-width-bold);
			border: 1px solid var(--border-color-light);
			border-radius: var(--border-radius-normal);
			background-color: var(--_bg-color);
			padding: 0.5em;
			overflow: hidden; /* ripple effect */
			color: var(--color-black);

			&:hover {
				background-color: oklch(from var(--_bg-color) calc(l + var(--bgcolor-hover-l)) c h);
			}

			/* ripple effect */
			&::before {
				position: absolute;
				inset: 0;
				transform: scale(4);
				transition-duration: var(--_ripple-transition-duration);
				opacity: 0;
				background-image: radial-gradient(circle, var(--_ripple-color) 25%, transparent 0);
				block-size: 100%;
				inline-size: 100%;
				content: '';
			}

			/* ripple effect */
			&:active::before {
				transform: scale(0);
				transition-duration: initial;
				opacity: var(--_ripple-opacity);
			}

			& > :global(img) {
				display: block flow;
				block-size: 1em;
				inline-size: 1em;
			}
		}

		.code {
			border: 1px solid var(--border-color-light);
			background-color: var(--color-white);
			padding: 1em;
			overflow-x: auto;
			line-height: var(--line-height-narrow);
			color: var(--color-black);

			&:focus {
				border-color: var(--outline-color); /* 横スクロールバーが表示される場合はブラウザによってフォーカス可能 */
			}

			& > :global(code) {
				color: oklch(27.806% 0.012 248.25deg); /* #24292e; https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
			}

			/* stylelint-disable selector-class-pattern */
			& :global(:is(.hljs-doctag, .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_)) {
				/* prettylights-syntax-keyword */
				color: oklch(58.794% 0.193 20.469deg); /* #d73a49 */
			}

			& :global(:is(.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_)) {
				/* prettylights-syntax-entity */
				color: oklch(50.152% 0.188 294.99deg); /* #6f42c1 */
			}

			& :global(:is(.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-variable, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id)) {
				/* prettylights-syntax-constant */
				color: oklch(49.49% 0.18 257.601deg); /* #005cc5 */
			}

			& :global(:is(.hljs-regexp, .hljs-string)) {
				/* prettylights-syntax-string */
				color: oklch(31.077% 0.101 255.87deg); /* #032f62 */
			}

			& :global(:is(.hljs-built_in, .hljs-symbol)) {
				/* prettylights-syntax-variable */
				color: oklch(64.823% 0.18 45.869deg); /* #e36209 */
			}

			& :global(:is(.hljs-comment, .hljs-code, .hljs-formula)) {
				/* prettylights-syntax-comment */
				color: oklch(55.137% 0.019 250.98deg); /* #6a737d */
			}

			& :global(:is(.hljs-name, .hljs-quote, .hljs-selector-tag, .hljs-selector-pseudo)) {
				/* prettylights-syntax-entity-tag */
				color: oklch(54.635% 0.144 147.32deg); /* #22863a */
			}

			& :global(:is(.hljs-subst)) {
				/* prettylights-syntax-storage-modifier-import */
				color: oklch(27.806% 0.012 248.25deg); /* #24292e */
			}

			& :global(:is(.hljs-section)) {
				/* prettylights-syntax-markup-heading */
				color: oklch(49.49% 0.18 257.6deg); /* #005cc5 */
				font-weight: var(--font-weight-bold);
			}

			& :global(:is(.hljs-bullet)) {
				/* prettylights-syntax-markup-list */
				color: oklch(48.457% 0.093 90.48deg); /* #735c0f */
			}

			& :global(:is(.hljs-emphasis)) {
				/* prettylights-syntax-markup-italic */
				color: oklch(27.806% 0.012 248.25deg); /* #24292e */
				font-style: italic;
			}

			& :global(:is(.hljs-strong)) {
				/* prettylights-syntax-markup-bold */
				color: oklch(27.806% 0.012 248.25deg); /* #24292e */
				font-weight: var(--font-weight-bold);
			}

			& :global(:is(.hljs-addition)) {
				/* prettylights-syntax-markup-inserted */
				background-color: oklch(98.591% 0.021 154.14deg); /* #f0fff4 */
				color: oklch(54.635% 0.144 147.32deg); /* #22863a */
			}

			& :global(:is(.hljs-deletion)) {
				/* prettylights-syntax-markup-deleted */
				background-color: oklch(96.312% 0.019 9.298deg); /* #ffeef0 */
				color: oklch(49.595% 0.183 24.187deg); /* #b31d28 */
			}

			& :global(:is(.hljs-char.escape_, .hljs-link, .hljs-params, .hljs-property, .hljs-punctuation, .hljs-tag)) {
				/* purposely ignored */
			}
			/* stylelint-enable selector-class-pattern */
		}
	}
</style>
