---
interface Props {
	title: string;
	data: Map<number, string | undefined>;
	prefix: string;
	refPrefix: string;
}

const { title, data, prefix, refPrefix } = Astro.props;
---

{
	data.size > 0 && (
		<section class="footnote">
			<h2 class="hdg">{title}</h2>

			<ul class="list">
				{[...data].map(([no, html]) => (
					<li>
						<span class="no">{no}.</span>
						<p class="content">
							<span id={`${prefix}${no}`} set:html={html} />
							<a href={`#${refPrefix}${no}`} class="backref">
								↩ 戻る
							</a>
						</p>
					</li>
				))}
			</ul>
		</section>
	)
}

<style>
	@layer component {
		.footnote {
			border: 1px solid var(--color-bg-light);
			border-radius: var(--border-radius-large);
			background-color: var(--color-bg-light);
			padding: 1em;
			font-size: calc(100% / pow(var(--font-ratio), 1));

			& > * + * {
				margin-block-start: 1em;
			}
		}

		.hdg {
		}

		.list {
			display: block grid;
			grid-template-columns: auto 1fr;
			gap: 1em 0.5em;

			& > :global(li) {
				display: block grid;
				grid-template-columns: subgrid;
				grid-column: 1 / -1;
			}

			& > :global(li:not(:first-child) > *) {
			}
		}

		.no,
		.content {
		}

		.no {
			text-align: end;
		}

		.content {
		}

		.backref {
			margin-inline-start: 1em;
			font-size: calc(100% / pow(var(--font-ratio), 2));
		}
	}
</style>
