---
import dayjs from 'dayjs';
import type GithubSlugger from 'github-slugger';
import IsbnVerify from '@w0s/isbn-verify';

interface Props {
	slugger: GithubSlugger;
	headingLevel: number;
	title: string;
	release?: string;
	distribution?: string;
	tags?: string[];
	isbn?: string;
	amazonAsin?: string;
	amazonImageId?: string;
	amazonImageWidth?: number;
	amazonImageHeight?: number;
}

const { slugger, headingLevel, title, release, distribution, tags, isbn, amazonAsin, amazonImageId, amazonImageWidth, amazonImageHeight } = Astro.props;

const sectionId = slugger.slug(title);

const dateDisplay = (date: string): string => {
	if (/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/.test(date)) {
		return dayjs(date).format('YYYY年M月D日');
	} else if (/^[0-9]{4}-[0-9]{2}$/.test(date)) {
		return dayjs(date).format('YYYY年M月');
	} else if (/^[0-9]{4}$/.test(date)) {
		return `${date}年`;
	}

	console.warn(`Invalid date: ${date}`);
	return date;
};

if (isbn !== undefined && !new IsbnVerify(isbn, { strict: true }).isValid()) {
	console.warn(`Invalid ISBN: ${isbn}`);
}
---

<section class="p-library" id={sectionId}>
	<header class="p-library__header">
		<div class="p-library__title">
			{headingLevel === 3 && <h3>{title}</h3>}
			<p class="p-section__self-link"><a href={`#${encodeURIComponent(sectionId)}`} class="c-self-link">§</a></p>
		</div>
		{
			release !== undefined && (
				<Fragment>
					{/* prettier-ignore */}
					<p class="p-library__release"><time datetime={release}>{dateDisplay(release)}</time>発売</p>
				</Fragment>
			)
		}
		{
			distribution !== undefined && (
				<Fragment>
					{/* prettier-ignore */}
					<p class="p-library__release"><time datetime={distribution}>{dateDisplay(distribution)}</time>配布</p>
				</Fragment>
			)
		}
		{
			tags !== undefined && tags.length >= 1 && (
				<ul class="p-library__tags">
					{tags.map((tag) => (
						<li>
							<button type="button" class="js-library-tag" disabled="">
								{tag}
							</button>
						</li>
					))}
				</ul>
			)
		}
		{
			isbn !== undefined && (
				<p class="p-library__isbn">
					<a href={`https://ndlsearch.ndl.go.jp/search?cs=bib&f-isbn=${isbn}`} rel="external">
						ISBN: <data value={isbn}>{isbn}</data>
					</a>
					<small class="c-domain">
						<img src="/assets/image/icon/ndlsearch.svg" alt="(国立国会図書館サーチ)" width="16" height="16" />
					</small>
				</p>
			)
		}
	</header>
	<div class="p-library__main">
		{amazonAsin === undefined && <slot />}
		{
			amazonAsin !== undefined && (
				<div class="c-embed-sidebar -embed-first">
					<div class="c-embed-sidebar__embed">
						<div class="p-embed-link">
							<a href={`https://www.amazon.co.jp/dp/${amazonAsin}/ref=nosim?tag=w0s.jp-22`}>
								{amazonImageId !== undefined && <img src={`https://m.media-amazon.com/images/I/${amazonImageId}._SL160_.jpg`} srcset={`https://m.media-amazon.com/images/I/${amazonImageId}._SL320_.jpg 2x`} alt="" width={amazonImageWidth} height={amazonImageHeight} />}
								{amazonImageId === undefined && <img src="/assets/image/amazon-noimage.svg" alt="" width="113" height="160" />}
								<span class="p-embed-link__title">Amazon 商品ページ</span>
							</a>
						</div>
					</div>
					<div class="c-embed-sidebar__text">
						<slot />
					</div>
				</div>
			)
		}
	</div>
</section>
