---
import LinkExternal from './LinkExternal.astro';

interface Props {
	name: string; // 図書名
	authors: string[]; // 著者、出版社
	year: number; // 発行年
	article?: string | string[]; // 記事タイトル
	pages: number[]; // ページ数
	url?: string; // Web ページの URL
	linkScope?: 'name' | 'page'; // リンクの対象範囲（図書全体 or 当該ページのみ）省略時は図書全体
}

const { name, authors, year, article, pages, url, linkScope = 'name' } = Astro.props;

const authorsDisplay = authors.join('、');

let articleDisplay: string | undefined;
if (article !== undefined) {
	articleDisplay = typeof article === 'string' ? article : article.join(' – ');
}

const [startPage, endPage] = pages;
const pageDisplay = endPage !== undefined ? `pp.${startPage}–${endPage}` : `p.${startPage}`;
---

<span class="c-ref -book">
	{
		url !== undefined && linkScope === 'name' && (
			<>
				<LinkExternal href={url}>
					<cite class="c-ref__name">{name}</cite>
					<span class="c-ref__meta">
						<span class="c-ref__author">{authorsDisplay}</span>
						<time datetime={String(year)} class="c-ref__date">
							{year}年
						</time>
					</span>
				</LinkExternal>
				{article !== undefined && (
					<>
						<span class="c-ref__article">{articleDisplay}</span>
					</>
				)}
				<span class="c-ref__pages">{pageDisplay}</span>
			</>
		)
	}
	{
		url !== undefined && linkScope === 'page' && (
			<LinkExternal href={url}>
				<cite class="c-ref__name">{name}</cite>
				<span class="c-ref__meta">
					<span class="c-ref__author">{authorsDisplay}</span>
					<time datetime={String(year)} class="c-ref__date">
						{year}年
					</time>
				</span>
				{article !== undefined && (
					<>
						<span class="c-ref__article">{articleDisplay}</span>
					</>
				)}
				<span class="c-ref__pages">{pageDisplay}</span>
			</LinkExternal>
		)
	}
	{
		url === undefined && (
			<>
				<cite class="c-ref__name">{name}</cite>
				<span class="c-ref__meta">
					<span class="c-ref__author">{authorsDisplay}</span>
					<time datetime={String(year)} class="c-ref__date">
						{year}年
					</time>
				</span>
				{article !== undefined && (
					<>
						<span class="c-ref__article">{articleDisplay}</span>
					</>
				)}
				<span class="c-ref__pages">{pageDisplay}</span>
			</>
		)
	}
</span>
