---
import LinkExternal from './LinkExternal.astro';

interface Props {
	name: string; // 図書名
	article?: string; // 記事タイトル
	author?: string; // 著者
	pages: string; // ページ数
	url?: string; // Web ページの URL
	urlScope?: 'name' | 'page'; // URL の対象範囲（図書全体 or 当該ページのみ）省略時は図書全体
}

const { name, article, author, pages, url, urlScope } = Astro.props;

const [startPage, endPage] = pages.split('-');
const pageDisplay = endPage !== undefined ? `pp.${startPage}–${endPage}` : `p.${startPage}`;
---

<span class="c-ref -book">
	{
		url !== undefined && (urlScope === undefined || urlScope === 'name') && (
			<>
				<LinkExternal href={url}>
					<cite class="c-ref__name">{name}</cite>
				</LinkExternal>
				{article !== undefined && (
					<>
						<span class="c-ref__article">{article}</span>
					</>
				)}
				{author !== undefined && (
					<>
						<span class="c-ref__author">{author}</span>
					</>
				)}
				<span class="c-ref__pages">{pageDisplay}</span>
			</>
		)
	}
	{
		url !== undefined && urlScope === 'page' && (
			<LinkExternal href={url}>
				<cite class="c-ref__name">{name}</cite>
				{article !== undefined && (
					<>
						<span class="c-ref__article">{article}</span>
					</>
				)}
				{author !== undefined && (
					<>
						<span class="c-ref__author">{author}</span>
					</>
				)}
				<span class="c-ref__pages">{pageDisplay}</span>
			</LinkExternal>
		)
	}
	{
		url === undefined && (
			<>
				<cite class="c-ref__name">{name}</cite>
				{article !== undefined && (
					<>
						<span class="c-ref__article">{article}</span>
					</>
				)}
				{author !== undefined && (
					<>
						<span class="c-ref__author">{author}</span>
					</>
				)}
				<span class="c-ref__pages">{pageDisplay}</span>
			</>
		)
	}
</span>
