---
import type GithubSlugger from 'github-slugger';

interface Props {
	slugger?: GithubSlugger;
	id?: string;
	depth?: number;
	heading: string;
	headingNote?: string;
	headingType?: string;
	class?: string;
}

const { slugger, id, depth = 1, heading, headingNote, headingType = 'a', class: className } = Astro.props;

let sectionId = '';
if (id !== undefined) {
	sectionId = id;
} else {
	if (slugger !== undefined) {
		sectionId = slugger.slug(heading);
	} else {
		console.warn('The `slugger` property is not specified.', heading);
	}
}
---

<section class:list={['p-section', `-hdg-${headingType}`, className]} id={sectionId}>
	<div class="p-section__hdg">
		{
			depth === 1 && (
				<h2>
					{heading}
					{headingNote !== undefined && <small>（{headingNote}）</small>}
				</h2>
			)
		}
		{
			depth === 2 && (
				<h3>
					{heading}
					{headingNote !== undefined && <small>（{headingNote}）</small>}
				</h3>
			)
		}
		{
			depth === 3 && (
				<h4>
					{heading}
					{headingNote !== undefined && <small>（{headingNote}）</small>}
				</h4>
			)
		}
		<p class="p-section__self-link"><a href={`#${encodeURIComponent(sectionId)}`} class="c-self-link">§</a></p>
	</div>

	<slot />
</section>
