---
import type { getCollection } from 'astro:content';
import { Parser, HtmlRenderer } from 'commonmark';
import dayjs from 'dayjs';
import AnchorButton from '@components/+phrasing/AnchorButton.astro';

interface Props {
	id: string;
	collection: Awaited<ReturnType<typeof getCollection<'updateKumeta'> | typeof getCollection<'updateMadoka'> | typeof getCollection<'updateTokyu'>>>;
	feedHref: string;
	updateHref?: string;
}

const { id, collection, feedHref, updateHref } = Astro.props;

const updateEntries = collection
	.filter(({ data }, index) => {
		/* 件数と更新日でフィルターする */
		const compareDate = new Date();
		compareDate.setFullYear(compareDate.getFullYear() - 1);

		return data.updated > compareDate || index < 5;
	})
	.map(({ data }) => {
		const contentParsed = new Parser().parse(data.content);
		const contentHtml = new HtmlRenderer().render(contentParsed);

		const contentWalker = contentParsed.walker();

		let event = contentWalker.next();
		while (event !== null) {
			const { node } = event;
			const { type: nodeType } = node;

			if (!['text', 'html_inline', 'link', 'code', 'document', 'paragraph'].includes(nodeType)) {
				throw new Error(`許可されていない Markdown 構文 <${nodeType}> が使用: ${data.content}`);
			}

			event = contentWalker.next();
		}

		return {
			/* Date → Dayjs */
			updated: dayjs(data.updated),
			/* Markdown → HTML */
			content: contentHtml,
		};
	});
---

<section class="top-update" id={id}>
	<header>
		<div class="hdg">
			<h2>更新履歴</h2>
		</div>

		<div class="notice">
			<AnchorButton href={feedHref} type="atom" narrow={true}>新着フィード</AnchorButton>
		</div>
	</header>
	<div class="main">
		<ul class="list">
			{
				updateEntries.map(({ updated, content }) => (
					<li>
						<div class="date">
							<time datetime={updated.format('YYYY-MM-DD')}>{updated.format('YYYY年M月D日')}</time>
						</div>
						<div class="info" set:html={content} />
					</li>
				))
			}
		</ul>
	</div>
	{
		updateHref !== undefined && (
			<footer>
				<p class="more-link">
					<a href={updateHref}>これ以前の更新履歴</a>
				</p>
			</footer>
		)
	}
</section>

<style>
	@layer component {
		.top-update {
			line-height: var(--line-height-normal);
		}

		header {
			display: block flex;
			flex-flow: wrap;
			gap: 0.25em 1em;
			align-items: baseline;
			justify-content: space-between;
		}

		.main {
			margin-block-start: 0.25em;
		}

		footer {
		}

		.hdg {
			font-size: calc(100% * pow(var(--font-ratio), 2));
			line-height: var(--line-height-narrow);
		}

		.notice {
		}

		.list {
			container-type: inline-size;
			border: 2px solid var(--color-border-light);
			border-radius: var(--border-radius-normal);
			background-color: var(--color-white);
			overflow: hidden;

			& > :global(li) {
				--_padding: 15px;

				display: block grid;
				grid-template-areas: 'date info';
				grid-template-columns: calc(7.5em + var(--_padding) * 2) 1fr;
			}

			& > :global(li:not(:first-child)) {
				border-block-start: 1px dotted var(--color-border-light);
			}
		}

		.date {
			grid-column: date;
			background-color: var(--color-bg-verylight);
			padding: var(--_padding);
		}

		.info {
			grid-column: info;
			padding: var(--_padding);

			& > :global(* + *) {
				margin-block-start: 1em;
			}
		}

		@container (inline-size <= 40rem) {
			.list {
				& > :global(li) {
					grid-template-areas:
						'date'
						'info';
					grid-template-columns: 1fr;
				}
			}

			.date {
				padding-block: calc(var(--_padding) / 2);
				font-weight: var(--font-weight-bold);
			}
		}

		.more-link {
			margin-inline-start: auto;
			inline-size: fit-content;
		}
	}
</style>
