---
import dayjs from 'dayjs';

interface Props {
	timeStart: string;
	timeEnd?: string;
}

const { timeStart: timeStartStr, timeEnd: timeEndStr } = Astro.props;

const timeStart = dayjs(`1970-01-01 ${timeStartStr}`, 'YYYY-MM-DD HH:mm:ss', true);
const timeStartDisplay = timeStart.format('H') === '0' ? timeStart.format('m′s″') : timeStart.format('H[h] m′s″');

const timeEnd = timeEndStr !== undefined ? dayjs(`1970-01-01 ${timeEndStr}`, 'YYYY-MM-DD HH:mm:ss', true) : undefined;
const timeEndDisplay = timeStart.format('H') === '0' ? timeEnd?.format('m′s″') : timeEnd?.format('H[h] m′s″');
---

<div>
	{
		timeEnd === undefined && (
			<dt>
				<time datetime={timeStart.format('HH:mm:ss')}>{timeStartDisplay}</time>
			</dt>
		)
	}
	{
		timeEnd !== undefined && (
			<dt>
				<time datetime={timeStart.format('HH:mm:ss')}>{timeStartDisplay}</time> ～ <time datetime={timeEnd.format('HH:mm:ss')}>{timeEndDisplay}</time>
			</dt>
		)
	}
	<dd>
		<slot />
	</dd>
</div>

<style>
	div {
		padding: 1em min(1dvi, 1em);
	}

	div + div {
		border-block-start: 1px solid;
	}

	dt {
		font-size: calc(100% * pow(var(--font-ratio), 1));
		font-weight: var(--font-weight-bold);
	}

	dd {
		margin-block-start: 0.5em;

		& > :global(* + *) {
			margin-block-start: var(--stack-margin-base);
		}
	}
</style>
