<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急電車よもやま話",
				"headline": "よもやま話",
				"dateModified": "2018-12-23",
				"description": "東急電鉄の車両や車両機器に関するよもやま話です。",
				"breadcrumb": [{ "path": "/tokyu/", "name": "ホーム" }]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="yomoyama">
						<div class="p-section__hdg">
							<h2>車両よもやま</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="8637">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/8637/1998_balloon.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">8637F の装飾移り変わり</span>
									</a>
									<div class="p-item__text">
										<p>装飾の変遷や編成替えの記録を紹介します。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="echizen_mc1101">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/echizen_mc1101/MC1102.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">えちぜん鉄道MC1101形の主制御器<small>（MMC-H-10K 型）</small></span>
									</a>
									<div class="p-item__text">
										<p>えちぜん鉄道MC1101形の主制御器は、元をたどれば東急・旧3000系グループで使われていたものです。</p>
									</div>
								</div>
							</li>
						</ul>
					</section>
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="imanao">
						<div class="p-section__hdg">
							<h2>&quot;今なお現役&quot; 的なもの</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="hsc">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/hsc/sakusei.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">HSC 電磁直通ブレーキ</span>
									</a>
									<div class="p-item__text">
										<p>東急では最後のHSCブレーキ搭載車となったデヤ7200、デヤ7290と、弘南鉄道黒石駅で平日朝に行われている増解結作業を紹介します。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="ca105">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ca105/mizuma_7003.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">CA-105 型　放送装置</span>
									</a>
									<div class="p-item__text">
										<p>水間鉄道と熊本電気鉄道に残るテープ式の放送装置を紹介します。</p>
									</div>
								</div>
							</li>
						</ul>
					</section>
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="preserve">
						<div class="p-section__hdg">
							<h2>保存車</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="ibaraki_6000">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">茨城県の旧6000系廃車体</span>
									</a>
									<div class="p-item__text">
										<p>茨城県各所で倉庫や店舗などに活用されていた旧6000系を訪ねました。</p>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
