---
interface Props {
	html?: string;
	footnoteData?: Map<number, string | undefined>;
}

const { html, footnoteData } = Astro.props;
---

<div class="l-content__body">
	<Fragment set:html={html} />

	{
		footnoteData !== undefined && footnoteData.size > 0 && (
			<section class="p-footnote">
				<h2 class="p-footnote__hdg">脚注</h2>

				<ul class="p-footnote__list">
					{[...footnoteData].map(([fnNo, fnHtml]) => (
						<li>
							<span class="p-footnote__no">{fnNo}.</span>
							<p class="p-footnote__content">
								<span id={`fn-${fnNo}`} set:html={fnHtml} />
								<a href={`#fnref-${fnNo}`} class="p-footnote__backref">
									↩ 戻る
								</a>
							</p>
						</li>
					))}
				</ul>
			</section>
		)
	}
</div>
