<section class="p-library <%= buildHeadingAnchorClassName %>" itemscope="" itemtype="http://schema.org/Newspaper">
	<header class="p-library__header">
		<div class="p-library__title">
			<h<%= headingLevel %> itemprop="name"><%= name %><%_ if (release !== undefined) { _%>　<span class="htmlbuild-datetime" itemprop="datePublished"><%= release %></span><%_ } _%><%_ if (npclass !== undefined) { _%>　<%= npclass %><%_ } _%></h<%= headingLevel %>>
		</div>
		<%_ if (tags.length >= 1) { _%>
			<ul class="p-library__tags">
				<%_ for (tag of tags) { _%>
				<li><button type="button" class="js-library-tag" disabled=""><%= tag %></button></li>
				<%_ } _%>
			</ul>
		<%_ } _%>
	</header>
	<div class="p-library__main">
<%- contents %>
	</div>
</section>
