<div class="p-footnote">
	<h2 class="p-footnote__hdg">脚注</h2>

	<ul class="p-footnote__list">
		<%_ foortnotes.forEach((footnote, index) => { _%>
		<li>
			<span class="p-footnote__no"><%= index + 1 %>.</span>
			<p class="p-footnote__content">
				<span id="<%= idPrefix %><%= index + 1 %>"><%- footnote %></span> <a href="#<%= triggerIdPrefix %><%= index + 1 %>" class="c-footnote-backref">↩ 戻る</a>
			</p>
		</li>
		<%_ }) _%>
	</ul>
</div>
