<span class="c-annotate"><a href="#<%= footnoteIdPrefix %><%= no %>" id="<%= idPrefix %><%= no %>" is="w0s-tooltip-trigger" data-tooltip-label="脚注" data-tooltip-class="p-tooltip" data-tooltip-close-text="閉じる" data-tooltip-close-image-src="/assets/image/tooltip-close.svg">[<%= no %>]</a></span>
