<ul class="p-footnotes">
	<%_ foortnotes.forEach((footnote, index) => { _%>
	<li>
		<span class="p-footnotes__no"><a href="#<%= triggerIdPrefix %><%= index + 1 %>">[<%= index + 1 %>]</a></span>
		<span class="p-footnotes__text" id="<%= idPrefix %><%= index + 1 %>"><%- footnote %></span>
	</li>
	<%_ }) _%>
</ul>
