---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '東急8500系後期車　冷房配置バリエーション',
	heading: '8500系後期車　冷房配置バリエーション',
	dateModified: dayjs('2022-07-30'),
	description: '8637F〜8642F は冷房装置が9000系と同じタイプに変更されましたが、後年は田園都市線の一部のみ新型へ置き換えられ、新旧混在で運用されました。ここでは編成ごとの配置バリエーションと時期による変遷を紹介します。',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: [
		{ path: '/tokyu/data/acu_9000', name: '9000系' },
		{ path: '/tokyu/data/acu_8500', name: '8500系後期車' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger} id="introduction" heading="概要">
		<div class="p-text">
			<p>8000系グループのうち、9000系デビュー以降に編成単位で製造された車両（8637F〜8642F）は冷房装置が RPU-2204 型になりました。9000系と同じくマイナーチェンジした RPU-2214A 型も存在します。</p>
			<p>東横線9000系に引き続き、田園都市線所属の8500系も2005年に一部が新型（RPU-4018 型）へ置き換えられました。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="8637F" heading="8637F">
		<Section slugger={slugger} depth={2} heading="2010年時点" headingType="c">
			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/denentoshi_8637_2010.svg" alt="8637: もっとも上り方のみ新型、その他3基はRPU-2214型、8797: 4基ともRPU-2214型、8973: もっとも下り方のみ新型、その他3基はRPU-2214型、0801: 中央2基はRPU-2214型、両端は新型、8798: 中央2基はRPU-2214型、両端は新型、0808: もっとも上り方のみ新型、下り方から2基目はRPU-2214A型、その他2基はRPU-2214型、0711: 中央2基はRPU-2214型、両端は新型、8980: 中央2基はRPU-2214A型、両端は新型、0803: 4基ともRPU-2214型、8537: もっとも下り方のみ新型、その他3基はRPU-2214型" width="946" height="49" style="min-width: 640px" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} heading="2019年時点" headingType="c">
			<!-- 2018-12-03, 2019-01-10, 2019-07-19 -->

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/denentoshi_8637_2019.svg" alt="8637: もっとも上り方のみ新型、その他3基はRPU-2214型、8797: 4基ともRPU-2214型、8973: もっとも下り方のみ新型、その他3基はRPU-2214型、0801: 中央2基はRPU-2214型、両端は新型、8798: 中央2基はRPU-2214型、両端は新型、0808: もっとも上り方のみ新型、その他3基はRPU-2214A型、0711: 中央2基はRPU-2214A型、両端は新型、8980: 中央2基はRPU-2214A型、両端は新型、0803: もっとも下り方のみRPU-2214A型、その他3基はRPU-2214型、8537: もっとも下り方のみ新型、その他3基はRPU-2214A型" width="946" height="49" style="min-width: 640px" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} heading="2022年時点" headingType="c">
			<!-- 2022-07-29 -->

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/denentoshi_8637_2022.svg" alt="8637: もっとも上り方のみ新型、その他3基はRPU-2214A型、8797: 4基ともRPU-2214A型、8973: もっとも下り方のみ新型、その他3基はRPU-2214A型、0801: 中央2基はRPU-2214A型、両端は新型、8798: 中央2基はRPU-2214A型、両端は新型、0808: もっとも上り方のみ新型、その他3基はRPU-2214A型、0711: 中央2基はRPU-2214A型、両端は新型、8980: 中央2基はRPU-2214A型、両端は新型、0803: 4基ともRPU-2214A型、8537: もっとも下り方のみ新型、その他3基はRPU-2214A型" width="946" height="49" style="min-width: 640px" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>8637Fには19次車が3両組み込まれていますが（0711, 0808, 8980）、2010年時点ではRPU-2214A型を搭載しているのはデハ0808の下り方から2基目とサハ8980のみとなっていました。</p>
			<p>2019年時点では19次車3両、およびデハ8537の旧型クーラーはすべてRPU-2214A型に統一、またデハ0803のもっとも下り方もRPU-2214A型になりました。</p>
			<p>2022年時点ではRPU-2214型がすべてA型に置き換えられて消滅しました。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="8638F" heading="8638F" headingNote="2019年運用離脱">
		<Section slugger={slugger} depth={2} heading="2010年時点" headingType="c">
			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_8638_2010.svg" alt="8638: 4基ともRPU-2214型、0700: 4基ともRPU-2214型、8975: 4基ともRPU-2214型、0804: 4基ともRPU-2214型、8538: 4基ともRPU-2214型" width="471" height="39" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} heading="2019年時点" headingType="c">
			<!-- 2018-12-03, 2019-01-10 -->

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_8638_2019.svg" alt="8638: 4基ともRPU-2214型、0700: 下り方から2基目のみRPU-2214A型、その他3基はRPU-2214型、8975: 4基ともRPU-2214型、0804: 4基ともRPU-2214型、8538: 4基ともRPU-2214型" width="471" height="39" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>2010年時点ではすべてRPU-2214型でした。</p>
			<p>2019年時点ではデハ0700の下り方から2基目のみRPU-2214A型になっていました。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="8639F" heading="8639F" headingNote="2018年運用離脱">
		<Section slugger={slugger} depth={2} heading="2010年時点" headingType="c">
			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_8639_2010.svg" alt="8639: 4基ともRPU-2214型、0701: 4基ともRPU-2214型、8976: 4基ともRPU-2214型、0805: 4基ともRPU-2214型、8539: 4基ともRPU-2214型" width="471" height="39" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>すべてRPU-2214型でした。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="8640F" heading="8640F" headingNote="2019年運用離脱">
		<Section slugger={slugger} depth={2} heading="2010年時点、2019年時点" headingType="c">
			<!-- 2019-01-10 -->

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_8640_2010.svg" alt="8640: 4基ともRPU-2214型、0702: 4基ともRPU-2214型、8977: もっとも下り方のみRPU-2214A型、その他3基はRPU-2214型、0806: 4基ともRPU-2214型、8540: 4基ともRPU-2214型" width="471" height="39" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>サハ8977のもっとも下り方のみRPU-2214A型で、その他はすべてRPU-2214型です。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="8641F" heading="8641F" headingNote="2019年運用離脱">
		<Section slugger={slugger} depth={2} heading="2010年時点、2019年時点" headingType="c">
			<!-- 2018-12-05, 2019-01-10 -->

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_8641_2010.svg" alt="8641: 4基ともRPU-2214型、0703: 4基ともRPU-2214型、8978: もっとも下り方のみRPU-2214A型、その他3基はRPU-2214型、0807: 4基ともRPU-2214型、8541: もっとも下り方のみRPU-2214型、その他3基はRPU-2214A型" width="471" height="39" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>デハ8541の上り方3基とサハ8978のもっとも下り方のみRPU-2214A型で、その他はRPU-2214型です。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="8642F" heading="8642F" headingNote="2019年運用離脱">
		<Section slugger={slugger} depth={2} heading="2010年時点" headingType="c">
			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/denentoshi_8642_2010.svg" alt="8642: もっとも上り方のみ新型、その他3基はRPU-2214A型、0710: 4基ともRPU-2214A型、8979: もっとも下り方のみ新型、その他3基はRPU-2214A型、0818: 中央2基はRPU-2214A型、両端は新型、0718: 中央2基はRPU-2214A型、両端は新型、0802: もっとも上り方のみ新型、その他3基はRPU-2214A型、8799: 中央2基はRPU-2214A型、両端は新型、8974: 中央2基はRPU-2214型、両端は新型、0809: 4基ともRPU-2214A型、8542: もっとも下り方のみ新型、その他3基はRPU-2214A型" width="946" height="49" style="min-width: 640px" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} heading="2018年時点" headingType="c">
			<!-- 2018-12-03 -->

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/denentoshi_8642_2018.svg" alt="8642: もっとも上り方のみ新型、その他3基はRPU-2214A型、0710: 4基ともRPU-2214A型、8979: もっとも下り方のみ新型、その他3基はRPU-2214A型、0818: 中央2基はRPU-2214A型、両端は新型、0718: 中央2基はRPU-2214A型、両端は新型、0802: もっとも上り方のみ新型、その他3基はRPU-2214A型、8799: 中央2基はRPU-2214A型、両端は新型、8974: 中央2基はRPU-2214型、両端は新型、0809: 4基ともRPU-2214A型、8542: もっとも下り方のみ新型、その他3基はRPU-2214A型" width="946" height="49" style="min-width: 640px" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} heading="2019年時点" headingType="c">
			<!-- 2019-07-18 -->

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/denentoshi_8642_2019.svg" alt="8642: もっとも上り方のみ新型、その他3基はRPU-2214A型、0710: 4基ともRPU-2214A型、8979: もっとも下り方のみ新型、その他3基はRPU-2214A型、0818: 中央2基はRPU-2214A型、両端は新型、0718: 中央2基はRPU-2214A型、両端は新型、0802: もっとも上り方のみ新型、その他3基はRPU-2214A型、8799: 下り方から2基目はRPU-2214A型、下り方から3基目はRPU-2214型、両端は新型、8974: 中央2基はRPU-2214型、両端は新型、0809: 4基ともRPU-2214A型、8542: もっとも下り方のみ新型、その他3基はRPU-2214A型" width="946" height="49" style="min-width: 640px" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>8642Fには18次車が3両組み込まれていますが（8799, 0802, 8974）、2010年時点ではRPU-2214型を搭載しているのはサハ8974のみとなっていました。</p>
			<p>2018年時点ではデハ0802のもっとも下り方もRPU-2214型になっていました。</p>
			<p>2019年時点ではさらにデハ8799の下り方から3基目もRPU-2214型になっていました。</p>
		</div>
	</Section>
</Layout>
