---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急9000系　冷房配置バリエーション',
	heading: '9000系　冷房配置バリエーション',
	dateModified: dayjs('2018-12-05'),
	description: '9000系の冷房装置は2001年より新型タイプへ換装されましたが、新旧が混在しており、一時期は編成ごとに多彩な配置バリエーションが見られました。ここでは大井町線転籍後の配置の変遷を紹介します。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: [
		{ path: '/tokyu/data/acu_9000', name: '9000系' },
		{ path: '/tokyu/data/acu_8500', name: '8500系後期車' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<div class="p-text">
			<p>1986年に登場した9000系の冷房装置は、それまでの8000系と比べて容量アップや薄形化を図った RPU-2214 型が搭載されました。2次車からはマイナーチェンジした RPU-2214A 型となり、側面のキセ開口部から本体形状の違いが確認できます。</p>
			<p>2001年より新型タイプ RPU-4018 型への換装が開始され、東横線では一部の異端車を除き弱冷房車（当時は8両編成の6号車）以外の両端2基が更新されました。</p>
			<p>さて、9000系は2009年より順次5両化のうえ大井町線への転籍が行われ、元からいた1編成（9007F）とともに同線での最大勢力となっていますが、転籍開始当初は編成ごとに多くの配置バリエーションが存在しました。転籍後の改修で順次配置統一が進められ、2018年にすべての編成の改修が完了し、現在に至ります。</p>
		</div>
	</Section>

	<Section id="9001F">
		<H slot="heading">9001F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2018年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9001_2013.svg" alt="9001: 下り方から2基目はRPU-2214型、同3基目はRPU-2214A型、両端は新型、9201: 下り方から3基目のみRPU-2214A型、その他3基はRPU-2214型、9401: 中央2基はRPU-2214型、両端は新型、9601: 下り方から3基目のみRPU-2214型、その他3基は新型、9101: 中央2基はRPU-2214型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2018年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9001_2018.svg" alt="9001: 4基とも新型、9201: 4基ともRPU-2214A型、9401: 下り方から2基目のみRPU-2214A型、その他3基は新型、9601: 4基とも新型、9101: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>1次車のためRPU-2214型を搭載していましたが、2013年の大井町線への転籍時点でクハ9001とデハ9201の下り方から3基目のみRPU-2214A型となっていました。</p>
			<p>新型（RPU-4018型）の配置は各車の両端2基が基本でしたが、弱冷房車である2号車（デハ9201）はすべて旧型、4号車（デハ9601）は下り方から1, 2, 4番目の3基が新型となっていました。</p>
			<p>2018年には新型の置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一され、さらに残ったRPU-2214型はすべてA型に置き換えられました。</p>
		</div>
	</Section>

	<Section id="9002F">
		<H slot="heading">9002F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2009年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9002_2009-1.svg" alt="9002: 中央2基はRPU-2214A型、両端は新型（三菱電機製）、9202: 中央2基はRPU-2214A型、両端は新型（三菱電機製）、9402: 4基ともRPU-2214A型、9602: 中央2基はRPU-2214A型、両端は新型、9102: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2009年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9002_2009-2.svg" alt="9002: 中央2基はRPU-2214A型、両端は新型、9202: 4基ともRPU-2214A型、9402: 中央2基はRPU-2214A型、両端は新型、9602: 中央2基はRPU-2214A型、両端は新型、9102: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9002_2013.svg" alt="9002: 中央2基はRPU-2214A型、両端は新型、9202: 4基ともRPU-2214A型、9402: 中央2基はRPU-2214A型、両端は新型、9602: 下り方から3基目のみRPU-2214A型、その他3基は新型、9102: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9002_2017.svg" alt="9003: 4基とも新型、9203: 4基ともRPU-2214A型、9403: 下り方から2基目のみRPU-2214A型、その他3基は新型、9603: 4基とも新型、9103: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>東横線時代の2001年に2, 4号車（デハ9202, 9302）の冷房装置が三菱電機製のCU-503型に交換されました。後に配置換えが行われてこの新型機は1〜4号車の両端に2基ずつという配置に変更され、また5, 7〜8号車の両端は東芝製の新型RPU-4018型に更新されたので、3種類のクーラーを搭載する状況になっていました。</p>
			<p>2009年に東横組の先陣を切って大井町線に転籍した当初は東横線時代の配置のままでしたが、まもなく交換工事が行われてCU-503型は消滅しました。</p>
			<p>2013年には4号車（デハ9602）のRPU-2214A型がひとつRPU-4018型に交換されました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9003F">
		<H slot="heading">9003F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2010年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9003_2010.svg" alt="9003: 中央2基はRPU-2214A型、両端は新型、9203: 4基ともRPU-2214A型、9403: 中央2基はRPU-2214A型、両端は新型、9603: 中央2基はRPU-2214A型、両端は新型、9103: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9003_2013.svg" alt="9003: 中央2基はRPU-2214A型、両端は新型、9203: 4基ともRPU-2214A型、9403: 中央2基はRPU-2214A型、両端は新型、9603: 下り方から3基目のみRPU-2214A型、その他3基は新型、9103: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9003_2017.svg" alt="9003: 4基とも新型、9203: 4基ともRPU-2214A型、9403: 下り方から2基目のみRPU-2214A型、その他3基は新型、9603: 4基とも新型、9103: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>転籍時は、弱冷房車は4基ともRPU-2214A型、それ以外は両端がRPU-4018型という、当時の大井町線の標準的な配置でした。</p>
			<p>2013年にはデハ9603のRPU-2214A型がひとつRPU-4018型に交換されました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9004F">
		<H slot="heading">9004F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2010年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9004_2010.svg" alt="9004: 中央2基はRPU-2214A型、両端は新型、9204: 4基ともRPU-2214A型、9404: 中央2基はRPU-2214A型、両端は新型、9604: 中央2基はRPU-2214A型、両端は新型、9104: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9004_2013.svg" alt="9004: 中央2基はRPU-2214A型、両端は新型、9204: 4基ともRPU-2214A型、9404: 中央2基はRPU-2214A型、両端は新型、9604: 下り方から3基目のみRPU-2214A型、その他3基は新型、9104: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9004_2017.svg" alt="9004: 4基とも新型、9204: 4基ともRPU-2214A型、9404: 下り方から2基目のみRPU-2214A型、その他3基は新型、9604: 4基とも新型、9104: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>転籍時は9003Fと同様、弱冷房車は4基ともRPU-2214A型、それ以外は両端がRPU-4018型という、当時の大井町線の標準的な配置でした。</p>
			<p>2013年にはデハ9604のRPU-2214A型がひとつRPU-4018型に交換されました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9005F">
		<H slot="heading">9005F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9005_2013.svg" alt="9005: 中央2基はRPU-2214A型、両端は新型、9205: 4基ともRPU-2214A型、9405: 中央2基はRPU-2214A型、両端は新型、9605: 下り方から3基目のみRPU-2214A型、その他3基は新型、9105: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9005_2017.svg" alt="9005: 4基とも新型、9205: 4基ともRPU-2214A型、9405: 下り方から2基目のみRPU-2214A型、その他3基は新型、9605: 4基とも新型、9105: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>2013年の転籍時は、弱冷房車は4基ともRPU-2214A型、4号車（デハ9600形）は3基がRPU-4018型、それ以外は両端がRPU-4018型という、当時の大井町線の標準的な配置でした。</p>
			<p>2017年には新型の置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9006F">
		<H slot="heading">9006F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2010年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9006_2010.svg" alt="9006: 中央2基はRPU-2214A型、両端は新型、9206: 4基ともRPU-2214A型、9406: 中央2基はRPU-2214A型、両端は新型、9606: 4基とも新型、9106: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9006_2017.svg" alt="9006: 4基とも新型、9206: 4基ともRPU-2214A型、9406: 下り方から2基目のみRPU-2214A型、その他3基は新型、9606: 4基とも新型、9106: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>ほかの編成とは異なり、下り方2両がすべてRPU-4018型とされました。</p>
			<p>2017年には新型の置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9007F">
		<H slot="heading">9007F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2009年〜2010年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9007_2009.svg" alt="9007: もっとも上り方のみ新型、その他3基はRPU-2214A型、9207: 4基ともRPU-2214A型、9407: 4基ともRPU-2214A型、9607: 4基ともRPU-2214A型、9107: もっとも下り方のみ新型、その他3基はRPU-2214A型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2010年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9007_2010.svg" alt="9007: 4基とも新型、9207: 4基ともRPU-2214A型、9407: 中央2基はRPU-2214A型、両端は新型、9607: もっとも下り方のみ新型、その他3基はRPU-2214A型、9107: もっとも下り方のみ新型、その他3基はRPU-2214A型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9007_2013.svg" alt="9007: 中央2基はRPU-2214A型、両端は新型、9207: 4基ともRPU-2214A型、9407: 中央2基はRPU-2214A型、両端は新型、9607: 下り方から3基目のみRPU-2214A型、その他3基は新型、9107: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9007_2017.svg" alt="9007: 4基とも新型、9207: 4基ともRPU-2214A型、9407: 下り方から2基目のみRPU-2214A型、その他3基は新型、9607: 4基とも新型、9107: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>1988年の製造時から5連で大井町線に在籍しているこの編成は、2009年に両先頭車のもっとも運転台方のみRPU-4018型へ交換されました。</p>
			<p>翌2010年には再度工事が行われ、6基がRPU-4018型へ交換されましたが、変則的な配置になっていました。</p>
			<p>2013年の配置換えで、同年以降の大井町線の標準的な配置となりました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9008F">
		<H slot="heading">9008F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2011年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9008_2011.svg" alt="9008: 中央2基はRPU-2214A型、両端は新型、9208: もっとも下り方のみRPU-2214型、その他3基はRPU-2214A型、9408: 中央2基はRPU-2214A型、両端は新型、9608: 中央2基はRPU-2214A型、両端は新型、9108: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9008_2013-1.svg" alt="9008: 中央2基はRPU-2214A型、両端は新型、9208: もっとも下り方のみRPU-2214型、その他3基はRPU-2214A型、9408: 中央2基はRPU-2214A型、両端は新型、9608: 下り方から3基目のみRPU-2214A型、その他3基は新型、9108: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9008_2013-2.svg" alt="9008: 中央2基はRPU-2214A型、両端は新型、9208: もっとも下り方のみRPU-2214型、その他3基はRPU-2214A型、9408: 中央2基はRPU-2214A型、両端は新型、9608: 下り方2基は新型、その次はRPU-2214A型、もっとも上り方はRPU-2214型、9108: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9008_2017.svg" alt="9008: 4基とも新型、9208: 4基ともRPU-2214A型、9408: 下り方から2基目のみRPU-2214A型、その他3基は新型、9608: 4基とも新型、9108: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>新型機の配置は転籍直後の9003Fや9004Fと同様ですが、デハ9208のもっとも下り方のみ1次車用のRPU-2214型となっていました。</p>
			<p>2013年にはデハ9608のRPU-2214A型がひとつRPU-4018型に交換されましたが、直後にもっとも上り方がRPU-2214型とされ、変則的な配置となりました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。その際、デハ9208のもっとも下り方に搭載されていたRPU-2214型はA型に置き換えられました。</p>
		</div>
	</Section>

	<Section id="9009F">
		<H slot="heading">9009F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2009年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9009_2009.svg" alt="9009: 中央2基はRPU-2214A型、両端は新型、9209: もっとも上り方のみRPU-2214型、その他3基はRPU-2214A型、9409: 中央2基はRPU-2214A型、両端は新型、9609: 中央2基はRPU-2214A型、両端は新型、9109: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9009_2013.svg" alt="9009: 中央2基はRPU-2214A型、両端は新型、9209: もっとも上り方のみRPU-2214型、その他3基はRPU-2214A型、9409: 中央2基はRPU-2214A型、両端は新型、9609: 下り方から3基目のみRPU-2214A型、その他3基は新型、9109: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜2018年頃</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9009_2017.svg" alt="9009: 4基とも新型、9209: もっとも上り方のみRPU-2214型、その他3基はRPU-2214A型、9409: 下り方から2基目のみRPU-2214A型、その他3基は新型、9609: 4基とも新型、9109: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2018年頃〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9009_2018.svg" alt="9009: 4基とも新型、9209: 4基ともRPU-2214A型、9409: 下り方から2基目のみRPU-2214A型、その他3基は新型、9609: 4基とも新型、9109: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>新型機の配置は転籍直後の9003Fや9004Fと同様ですが、デハ9209のもっとも上り方のみ1次車用のRPU-2214型となっていました。</p>
			<p>2013年にはデハ9609のRPU-2214A型がひとつRPU-4018型に交換されました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
			<p>2018年頃にはデハ9209のもっとも上り方に搭載されていたRPU-2214型がA型に置き換えられました。</p>
		</div>
	</Section>

	<Section id="9010F">
		<H slot="heading">9010F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9010_2013-1.svg" alt="9010: 4基ともRPU-2214A型、9210: 4基ともRPU-2214A型、9410: 4基ともRPU-2214A型、9610: 4基ともRPU-2214A型、9110: 4基ともRPU-2214A型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9010_2013-2.svg" alt="9010: 中央2基はRPU-2214A型、両端は新型、9210: 4基ともRPU-2214A型、9410: 中央2基はRPU-2214A型、両端は新型、9610: 下り方から3基目のみRPU-2214A型、その他3基は新型、9110: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9010_2017.svg" alt="9010: 4基とも新型、9210: 4基ともRPU-2214A型、9410: 下り方から2基目のみRPU-2214A型、その他3基は新型、9610: 4基とも新型、9110: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>9010Fは転籍当初、冷房装置の換装が行われず、すべてRPU-2214A型となっていました。</p>
			<p>ところがわずか1週間ほどで換装工事が行われて、2013年以降の大井町線の標準的な配置になりました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9011F">
		<H slot="heading">9011F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2011年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9011_2011.svg" alt="9011: 中央2基はRPU-2214A型、両端は新型、9211: 4基ともRPU-2214A型、9411: 中央2基はRPU-2214A型、両端は新型、9611: 中央2基はRPU-2214A型、両端は新型、9111: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9011_2013.svg" alt="9011: 中央2基はRPU-2214A型、両端は新型、9211: 4基ともRPU-2214A型、9411: 中央2基はRPU-2214A型、両端は新型、9611: 下り方から3基目のみRPU-2214A型、その他3基は新型、9111: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9011_2017.svg" alt="9011: 4基とも新型、9211: 4基ともRPU-2214A型、9411: 下り方から2基目のみRPU-2214A型、その他3基は新型、9611: 4基とも新型、9111: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>転籍直後の9003Fや9004Fと同じく、弱冷房車は4基ともRPU-2214A型、それ以外は両端がRPU-4018型という、当時の大井町線の標準的な配置でした。</p>
			<p>2013年にはデハ9611のRPU-2214A型がひとつRPU-4018型に交換されました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9012F">
		<H slot="heading">9012F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9012_2013.svg" alt="9012: 中央2基はRPU-2214A型、両端は新型、9212: 4基ともRPU-2214A型、9412: 中央2基はRPU-2214A型、両端は新型、9612: 下り方から3基目のみRPU-2214A型、その他3基は新型、9112: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9012_2017.svg" alt="9012: 4基とも新型、9212: 4基ともRPU-2214A型、9412: 下り方から2基目のみRPU-2214A型、その他3基は新型、9612: 4基とも新型、9112: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>東横線時代の2001年に2, 4号車（デハ9212, 9312）の冷房装置が東芝製RPU-4018型に交換されました。2011年には大井町線転籍を見越してか、1〜2, 7〜8号車（9012, 9212, 9612, 9112）の両端に2基ずつという配置に変更され、翌々年に転籍しています。</p>
			<p>転籍にあたっては4号車（デハ9612）の新型3基化が行われ、2013年以降の大井町線の標準的な配置となりました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9013F">
		<H slot="heading">9013F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2012年〜2013年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9013_2012.svg" alt="9013: 中央2基はRPU-2214A型、両端は新型、9213: 4基ともRPU-2214A型、9413: 中央2基はRPU-2214A型、両端は新型、9613: 中央2基はRPU-2214A型、両端は新型、9113: 4基ともRPU-2214A型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2017年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9013_2013.svg" alt="9013: 中央2基はRPU-2214A型、両端は新型、9213: 4基ともRPU-2214A型、9413: 中央2基はRPU-2214A型、両端は新型、9613: 下り方から3基目のみRPU-2214A型、その他3基は新型、9113: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2017年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9013_2017.svg" alt="9013: 4基とも新型、9213: 4基ともRPU-2214A型、9413: 下り方から2基目のみRPU-2214A型、その他3基は新型、9613: 4基とも新型、9113: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>ほかの編成とは異なり、5号車（クハ9113）はすべて旧型のままでした。</p>
			<p>2013年にはクハ9113とデハ9613の更新が行われ、ほかの多くの編成と同じ標準的な配置となりました。</p>
			<p>2017年にはさらに新型への置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9014F">
		<H slot="heading">9014F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2013年〜2018年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9014_2013.svg" alt="9014: 中央2基はRPU-2214A型、両端は新型、9214: 4基ともRPU-2214A型、9414: 中央2基はRPU-2214A型、両端は新型、9614: 下り方から3基目のみRPU-2214A型、その他3基は新型、9114: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2018年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9014_2018.svg" alt="9014: 4基とも新型、9214: 4基ともRPU-2214A型、9414: 下り方から2基目のみRPU-2214A型、その他3基は新型、9614: 4基とも新型、9114: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>2013年の転籍当初は、弱冷房車は4基ともRPU-2214A型、4号車（デハ9600形）は3基がRPU-4018型、それ以外は両端がRPU-4018型という、2013年以降の大井町線の標準的な配置でした。</p>
			<p>2018年には新型の置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>

	<Section id="9015F">
		<H slot="heading">9015F</H>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2012年〜2018年</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9015_2012.svg" alt="9015: 中央2基はRPU-2214A型、両端は新型、9215: 4基ともRPU-2214A型、9415: 中央2基はRPU-2214A型、両端は新型、9615: 下り方から3基目のみRPU-2214A型、その他3基は新型、9115: 中央2基はRPU-2214A型、両端は新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<H slot="heading">2018年〜</H>

			<figure class="c-fit">
				<div class="p-embed">
					<img src="/tokyu/data/image/acu/oimachi_9015_2018.svg" alt="9015: 4基とも新型、9215: 4基ともRPU-2214A型、9415: 下り方から2基目のみRPU-2214A型、その他3基は新型、9615: 4基とも新型、9115: 4基とも新型" width="471" height="49" />
				</div>
			</figure>
		</Section>

		<div class="p-text">
			<p>2012年の転籍当初は9014Fと同様、弱冷房車は4基ともRPU-2214A型、4号車（デハ9600形）は3基がRPU-4018型、それ以外は両端がRPU-4018型という、2013年以降の大井町線の標準的な配置です。</p>
			<p>2018年には新型の置き換えが進み、弱冷房車とデハ9400形の下り方から2基目を除き新型に統一されました。</p>
		</div>
	</Section>
</Layout>
