---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '東急電車　主要機器搭載表（路線別）',
	heading: '主要機器搭載表',
	subHeading: '路線別',
	dateModified: dayjs('2009-03-31'),
	description: '東急電鉄、横浜高速鉄道の車両（新5000系以降を除く）について、制御装置、補助電源装置、空気圧縮機、蓄電池の搭載状況を編成表形式で紹介します。',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: [
		{ path: '/tokyu/data/form_car', name: '車種別' },
		{ path: '/tokyu/data/form_line', name: '路線別' },
	],
};

const slugger = new GithubSlugger();
---

<Layout structuredData={structuredData}>
	<Section slugger={slugger} id="toyoko" heading="東横線">
		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="9000系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">9000形 <span class="p-tokyu-form__type -tc">Tc2</span></th>
								<th scope="col">9200形 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">9700形 <span class="p-tokyu-form__type -t">T2</span></th>
								<th scope="col">9300形 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">9800形 <span class="p-tokyu-form__type -t">T1</span></th>
								<th scope="col">9400形 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">9600形 <span class="p-tokyu-form__type -m-ac">M0</span></th>
								<th scope="col">9100形 <span class="p-tokyu-form__type -tc">Tc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>

			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="1000系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">1000形 <span class="p-tokyu-form__type -tc">Tc2</span></th>
								<th scope="col">1250形 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">1200形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">1350形 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">1300形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">1450形 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">1400形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">1100形 <span class="p-tokyu-form__type -tc">Tc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="meguro" heading="目黒線">
		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="3000系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">3000形 <span class="p-tokyu-form__type -tc">Tc2</span></th>
								<th scope="col">3250形 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">3200形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">3500形 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">3400形 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">3100形 <span class="p-tokyu-form__type -tc">Tc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-igbt">IGBT-VVVF</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-igbt">IGBT-VVVF</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">210kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">210kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 C2500</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 C2500</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・60Ah / 24V・30Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・60Ah / 24V・30Ah</span></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="dento" heading="田園都市線">
		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8500系（CP3台編成）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">8600形 <span class="p-tokyu-form__type -m-dc">M2c</span></th>
								<th scope="col">8700形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8900形 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">8800形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8700形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8800形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8700形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8900形 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">8800形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8500形 <span class="p-tokyu-form__type -m-dc">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>

					<ul class="p-notes">
						<li>18次車以降の空気圧縮機はHS-20形</li>
					</ul>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8500系（CP4台編成・8637F）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">デハ8637 <span class="p-tokyu-form__type -m-dc">M2c</span></th>
								<th scope="col">デハ8797 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">サハ8973 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">デハ0801 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">デハ8798 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">デハ0808 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">デハ0711 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">サハ8980 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">デハ0803 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">デハ8537 <span class="p-tokyu-form__type -m-dc">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8500系（VVVF車組込・8642F）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">デハ8642 <span class="p-tokyu-form__type -m-dc">M2c</span></th>
								<th scope="col">デハ0710 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">サハ8979 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">デハ0818 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">デハ0718 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">デハ0802 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">デハ8799 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">サハ8974 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">デハ0809 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">デハ8542 <span class="p-tokyu-form__type -m-dc">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8090系（先頭車が8590系）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">8690形 <span class="p-tokyu-form__type -m-dc">M2c</span></th>
								<th scope="col">8190形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8390形 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">8290形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8190形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8290形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8190形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8390形 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">8290形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8590形 <span class="p-tokyu-form__type -m-dc">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="2000系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">2000形 <span class="p-tokyu-form__type -tc">Tc2</span></th>
								<th scope="col">2250形 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">2200形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">2700形 <span class="p-tokyu-form__type -t">T2</span></th>
								<th scope="col">2350形 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">2300形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">2800形 <span class="p-tokyu-form__type -t">T1</span></th>
								<th scope="col">2450形 <span class="p-tokyu-form__type -m-ac">M2</span></th>
								<th scope="col">2400形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">2100形 <span class="p-tokyu-form__type -tc">Tc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="oimachi" heading="大井町線">
		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8090系（先頭車が12〜13次車）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">8090形 <span class="p-tokyu-form__type -tc">Tc2</span></th>
								<th scope="col">8490形 <span class="p-tokyu-form__type -m-dc">M</span></th>
								<th scope="col">8290形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8190形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8090形 <span class="p-tokyu-form__type -tc">Tc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">140kVA-MG</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-few">10kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000（2台）</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span>、<span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
							</tr>
						</tbody>
					</table>

					<ul class="p-notes">
						<li>デハ8296の補助電源装置は100kVA-SIV</li>
					</ul>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8090系（先頭車が16〜17次車）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">8090形 <span class="p-tokyu-form__type -tc">Tc2</span></th>
								<th scope="col">8490形 <span class="p-tokyu-form__type -m-dc">M</span></th>
								<th scope="col">8290形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8190形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8090形 <span class="p-tokyu-form__type -tc">Tc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-few">10kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000（2台）</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span>、<span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
							</tr>
						</tbody>
					</table>

					<ul class="p-notes">
						<li>デハ8298、8282、8290の補助電源装置は100kVA-SIV</li>
					</ul>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8090系（先頭車が8590系）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">8690形 <span class="p-tokyu-form__type -m-dc">M2c</span></th>
								<th scope="col">8190形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8390形 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">8290形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8590形 <span class="p-tokyu-form__type -m-dc">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HB-2000（2台）</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah（2台）</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="8500系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">8600形 <span class="p-tokyu-form__type -m-dc">M2c</span></th>
								<th scope="col">8700形 <span class="p-tokyu-form__type -m-dc">M1</span></th>
								<th scope="col">8900形 <span class="p-tokyu-form__type -t">T</span></th>
								<th scope="col">8800形 <span class="p-tokyu-form__type -m-dc">M2</span></th>
								<th scope="col">8500形 <span class="p-tokyu-form__type -m-dc">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-ch">界磁チョッパ</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-few">2kVA-SIV</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">170kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="9000系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">クハ9007 <span class="p-tokyu-form__type -tc">Tc2</span></th>
								<th scope="col">デハ9207 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">デハ9407 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">デハ9607 <span class="p-tokyu-form__type -m-ac">M0</span></th>
								<th scope="col">クハ9107 <span class="p-tokyu-form__type -tc">Tc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td></td>
								<td></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>

		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="デヤ7200形" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">デヤ7200 <span class="p-tokyu-form__type -m-dc">cMc</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td><span class="p-tokyu-form__device -ctr-r">抵抗制御</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">50kVA-SIV</span></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="デヤ7290形" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">デヤ7290 <span class="p-tokyu-form__type -m-dc">cMc</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td><span class="p-tokyu-form__device -ctr-r">抵抗制御</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-few">7.5kVA-MG</span>、<span class="p-tokyu-form__device -aps-few">5.5kVA-MG</span></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="サヤ7590形" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">サヤ7590 <span class="p-tokyu-form__type -t">T</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="iketama" heading="池上、多摩川線">
		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="7600系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">7600形 <span class="p-tokyu-form__type -tc">Tc</span></th>
								<th scope="col">7670形 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">7650形 <span class="p-tokyu-form__type -m-ac">Mc</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">90kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span></td>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-24">24V・20Ah</span></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="7700系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">7900形 <span class="p-tokyu-form__type -tc">Tc</span></th>
								<th scope="col">7800形 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">7700形 <span class="p-tokyu-form__type -m-ac">Mc</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・40Ah</span>、<span class="p-tokyu-form__device -bt-24">24V・20Ah</span></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="7700系（7915F）" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">クハ7915 <span class="p-tokyu-form__type -tc">Tc</span></th>
								<th scope="col">デハ7815 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">デハ7715 <span class="p-tokyu-form__type -m-ac">Mc</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-igbt">IGBT-VVVF</span></td>
								<td rowspan="2"><span class="p-tokyu-form__device -ctr-siv">IGBT-VVVF（140kVA-SIV一体型）</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-20</span></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span>、<span class="p-tokyu-form__device -bt-24">24V・20Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="1000N′系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">1000形 <span class="p-tokyu-form__type -tc">Tc</span></th>
								<th scope="col">1200形 <span class="p-tokyu-form__type -m-ac">M</span></th>
								<th scope="col">1310形 <span class="p-tokyu-form__type -m-ac">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-10</span></td>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-10</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="1000N系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">1000形 <span class="p-tokyu-form__type -tc">Tc</span></th>
								<th scope="col">1200形 <span class="p-tokyu-form__type -m-ac">M1</span></th>
								<th scope="col">1310形 <span class="p-tokyu-form__type -m-ac">M1c</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
								<td><span class="p-tokyu-form__device -ctr-gto">GTO-VVVF</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">120kVA-SIV</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-20（2台）</span></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td></td>
								<td><span class="p-tokyu-form__device -bt-124">100V・30Ah / 24V・30Ah</span></td>
								<td><span class="p-tokyu-form__device -bt-100">100V・30Ah</span></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="kodomo" heading="こどもの国線">
		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="横浜高速鉄道Y000系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">Y000形 <span class="p-tokyu-form__type -tc">Tc</span></th>
								<th scope="col">Y010形 <span class="p-tokyu-form__type -m-ac">Mc</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td rowspan="2"><span class="p-tokyu-form__device -ctr-siv">IGBT-VVVF（80kVA-SIV一体型）</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-ac">交流 HS-5（2台）</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-124">100V・60Ah / 24V・30Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="setagaya" heading="世田谷線">
		<div class="c-flex -hdg-c">
			<div class="c-flex__item">
				<Section slugger={slugger} depth={2} heading="300系" headingType="c">
					<table class="p-tokyu-form">
						<thead>
							<tr>
								<td></td>
								<th scope="col">300B形 <span class="p-tokyu-form__type -m-ac">Mc2</span></th>
								<th scope="col">300A形 <span class="p-tokyu-form__type -m-ac">Mc1</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">制御装置</th>
								<td></td>
								<td><span class="p-tokyu-form__device -ctr-igbt">IGBT-VVVF</span></td>
							</tr>
							<tr>
								<th scope="row">補助電源</th>
								<td><span class="p-tokyu-form__device -aps-much">20kVA-SIV</span></td>
								<td><span class="p-tokyu-form__device -aps-much">20kVA-SIV</span></td>
							</tr>
							<tr>
								<th scope="row">空気圧縮機</th>
								<td><span class="p-tokyu-form__device -cp-dc">直流 HS-5（2台）</span></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">蓄電池</th>
								<td><span class="p-tokyu-form__device -bt-124">100V・20Ah / 24V・80Ah</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
