---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Flex from '@components/Flex.astro';
import FlexItem from '@components/FlexItem.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import MachineForm from '@components/tokyu/MachineForm.astro';
import MachineFormAps from '@components/tokyu/+phrasing/MachineFormAPS.astro';
import MachineFormBattery from '@components/tokyu/+phrasing/MachineFormBattery.astro';
import MachineFormComp from '@components/tokyu/+phrasing/MachineFormComp.astro';
import MachineFormCont from '@components/tokyu/+phrasing/MachineFormCont.astro';
import MachineFormSeries from '@components/tokyu/MachineFormSeries.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '東急電車　主要機器搭載表（車種別）',
	heading: '主要機器搭載表',
	subHeading: '車種別',
	dateModified: '2009-03-31',
	description: '東急電鉄、横浜高速鉄道の車両（新5000系以降を除く）について、制御装置、補助電源装置、空気圧縮機、蓄電池の搭載状況を編成表形式で紹介します。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: {
		label: '主要機器搭載表',
		items: [
			{ path: '/tokyu/data/form_car', name: '車種別' },
			{ path: '/tokyu/data/form_line', name: '路線別' },
		],
	},
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="series7200">
		<Fragment slot="heading">7200系</Fragment>

		<Flex>
			<FlexItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">デヤ7200形</Fragment>

					<MachineForm>
						<Fragment slot="series">
							<MachineFormSeries name="デヤ7200" sign="cMc" electric="dc" />
						</Fragment>
						<Fragment slot="cont">
							<td><MachineFormCont type="r" /></td>
						</Fragment>
						<Fragment slot="aps">
							<td><MachineFormAps type="siv" use="much" capacity={50} /></td>
						</Fragment>
						<Fragment slot="cp">
							<td><MachineFormComp electric="dc" model="HS-20" /></td>
						</Fragment>
						<Fragment slot="bt">
							<td><MachineFormBattery v100={30} /></td>
						</Fragment>
					</MachineForm>
				</Section>
			</FlexItem>
			<FlexItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">デヤ7290形</Fragment>

					<MachineForm>
						<Fragment slot="series">
							<MachineFormSeries name="デヤ7290" sign="cMc" electric="dc" />
						</Fragment>
						<Fragment slot="cont">
							<td><MachineFormCont type="r" /></td>
						</Fragment>
						<Fragment slot="aps">
							<td><MachineFormAps type="mg" use="few" capacity={7.5} />、<MachineFormAps type="mg" use="few" capacity={5.5} /></td>
						</Fragment>
						<Fragment slot="cp">
							<td><MachineFormComp electric="dc" model="HS-20" /></td>
						</Fragment>
						<Fragment slot="bt">
							<td><MachineFormBattery v100={30} /></td>
						</Fragment>
					</MachineForm>
				</Section>
			</FlexItem>
			<FlexItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">サヤ7590形</Fragment>

					<MachineForm>
						<Fragment slot="series">
							<MachineFormSeries name="サヤ7590" sign="T" />
						</Fragment>
						<Fragment slot="cont">
							<td></td>
						</Fragment>
						<Fragment slot="aps">
							<td></td>
						</Fragment>
						<Fragment slot="cp">
							<td></td>
						</Fragment>
						<Fragment slot="bt">
							<td></td>
						</Fragment>
					</MachineForm>
				</Section>
			</FlexItem>
		</Flex>
	</Section>

	<Section id="series7600">
		<Fragment slot="heading">7600系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">池上、多摩川線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="7600形" sign="Tc" />
					<MachineFormSeries name="7670形" sign="M" electric="ac" />
					<MachineFormSeries name="7650形" sign="Mc" electric="ac" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td><MachineFormCont type="gto" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="much" capacity={90} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={20} /></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="series7700">
		<Fragment slot="heading">7700系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">池上、多摩川線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="7900形" sign="Tc" />
					<MachineFormSeries name="7800形" sign="M" electric="ac" />
					<MachineFormSeries name="7700形" sign="Mc" electric="ac" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td><MachineFormCont type="gto" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td><MachineFormBattery v100={30} /></td>
					<td><MachineFormBattery v100={40} />、<MachineFormBattery v24={20} /></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">池上、多摩川線（7915F）</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="クハ7915" sign="Tc" />
					<MachineFormSeries name="デハ7815" sign="M" electric="ac" />
					<MachineFormSeries name="デハ7715" sign="Mc" electric="ac" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="igbt" /></td>
					<td rowspan="2"><MachineFormCont type="igbt" siv={140} /></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={30} />、<MachineFormBattery v24={20} /></td>
					<td><MachineFormBattery v100={30} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="series8000">
		<Fragment slot="heading">8000系グループ</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">田園都市線8500系（CP3台編成）</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="8600形" sign="M2c" electric="dc" />
					<MachineFormSeries name="8700形" sign="M1" electric="dc" />
					<MachineFormSeries name="8900形" sign="T" />
					<MachineFormSeries name="8800形" sign="M2" electric="dc" />
					<MachineFormSeries name="8700形" sign="M1" electric="dc" />
					<MachineFormSeries name="8800形" sign="M2" electric="dc" />
					<MachineFormSeries name="8700形" sign="M1" electric="dc" />
					<MachineFormSeries name="8900形" sign="T" />
					<MachineFormSeries name="8800形" sign="M2" electric="dc" />
					<MachineFormSeries name="8500形" sign="M1c" electric="dc" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HB-2000" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" /></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
				</Fragment>
			</MachineForm>

			<ListNote>
				<li>18次車以降の空気圧縮機は HS-20形</li>
			</ListNote>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">田園都市線8500系（CP4台編成・8637F）</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="デハ8637" sign="M2c" electric="dc" />
					<MachineFormSeries name="デハ8797" sign="M1" electric="dc" />
					<MachineFormSeries name="サハ8973" sign="T" />
					<MachineFormSeries name="デハ0801" sign="M2" electric="dc" />
					<MachineFormSeries name="デハ8798" sign="M1" electric="dc" />
					<MachineFormSeries name="デハ0808" sign="M2" electric="dc" />
					<MachineFormSeries name="デハ0711" sign="M1" electric="dc" />
					<MachineFormSeries name="サハ8980" sign="T" />
					<MachineFormSeries name="デハ0803" sign="M2" electric="dc" />
					<MachineFormSeries name="デハ8537" sign="M1c" electric="dc" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">田園都市線8500系（VVVF車組込・8642F）</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="デハ8642" sign="M2c" electric="dc" />
					<MachineFormSeries name="デハ0710" sign="M1" electric="dc" />
					<MachineFormSeries name="サハ8979" sign="T" />
					<MachineFormSeries name="デハ0818" sign="M2" electric="ac" />
					<MachineFormSeries name="デハ0718" sign="M1" electric="ac" />
					<MachineFormSeries name="デハ0802" sign="M2" electric="ac" />
					<MachineFormSeries name="デハ8799" sign="M1" electric="ac" />
					<MachineFormSeries name="サハ8974" sign="T" />
					<MachineFormSeries name="デハ0809" sign="M2" electric="dc" />
					<MachineFormSeries name="デハ8542" sign="M1c" electric="dc" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">田園都市線8090系</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="8690形" sign="M2c" electric="dc" />
					<MachineFormSeries name="8190形" sign="M1" electric="dc" />
					<MachineFormSeries name="8390形" sign="T" />
					<MachineFormSeries name="8290形" sign="M2" electric="dc" />
					<MachineFormSeries name="8190形" sign="M1" electric="dc" />
					<MachineFormSeries name="8290形" sign="M2" electric="dc" />
					<MachineFormSeries name="8190形" sign="M1" electric="dc" />
					<MachineFormSeries name="8390形" sign="T" />
					<MachineFormSeries name="8290形" sign="M2" electric="dc" />
					<MachineFormSeries name="8590形" sign="M1c" electric="dc" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" /></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">大井町線8090系（先頭車が12〜13次車）</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="8090形" sign="Tc2" />
					<MachineFormSeries name="8490形" sign="M" electric="dc" />
					<MachineFormSeries name="8290形" sign="M2" electric="dc" />
					<MachineFormSeries name="8190形" sign="M1" electric="dc" />
					<MachineFormSeries name="8090形" sign="Tc1" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="mg" use="much" capacity={140} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="few" capacity={10} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" count={2} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v100={40} />、<MachineFormBattery v24={30} /></td>
				</Fragment>
			</MachineForm>

			<ListNote>
				<li>デハ8296 の補助電源装置は 100kVA SIV</li>
			</ListNote>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">大井町線8090系（先頭車が16〜17次車）</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="8090形" sign="Tc2" />
					<MachineFormSeries name="8490形" sign="M" electric="dc" />
					<MachineFormSeries name="8290形" sign="M2" electric="dc" />
					<MachineFormSeries name="8190形" sign="M1" electric="dc" />
					<MachineFormSeries name="8090形" sign="Tc1" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="few" capacity={10} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" count={2} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v100={40} />、<MachineFormBattery v24={30} /></td>
				</Fragment>
			</MachineForm>

			<ListNote>
				<li>デハ8298、8282、8290 の補助電源装置は 100kVA SIV</li>
			</ListNote>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">大井町線8090系（先頭車が8590系）</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="8690形" sign="M2c" electric="dc" />
					<MachineFormSeries name="8190形" sign="M1" electric="dc" />
					<MachineFormSeries name="8390形" sign="T" />
					<MachineFormSeries name="8290形" sign="M2" electric="dc" />
					<MachineFormSeries name="8590形" sign="M1c" electric="dc" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HB-2000" count={2} /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} count={2} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">大井町線8500系</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="8600形" sign="M2c" electric="dc" />
					<MachineFormSeries name="8700形" sign="M1" electric="dc" />
					<MachineFormSeries name="8900形" sign="T" />
					<MachineFormSeries name="8800形" sign="M2" electric="dc" />
					<MachineFormSeries name="8500形" sign="M1c" electric="dc" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="ch" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="ch" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="few" capacity={2} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="dc" model="HS-20" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
					<td><MachineFormBattery v24={30} /></td>
					<td><MachineFormBattery v100={40} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="series9000">
		<Fragment slot="heading">9000系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">東横線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="9000形" sign="Tc2" />
					<MachineFormSeries name="9200形" sign="M" electric="ac" />
					<MachineFormSeries name="9700形" sign="T2" />
					<MachineFormSeries name="9300形" sign="M" electric="ac" />
					<MachineFormSeries name="9800形" sign="T1" />
					<MachineFormSeries name="9400形" sign="M" electric="ac" />
					<MachineFormSeries name="9600形" sign="M0" electric="ac" />
					<MachineFormSeries name="9100形" sign="Tc1" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={30} /></td>
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">大井町線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="クハ9007" sign="Tc2" />
					<MachineFormSeries name="デハ9207" sign="M" electric="ac" />
					<MachineFormSeries name="デハ9407" sign="M" electric="ac" />
					<MachineFormSeries name="デハ9607" sign="M0" electric="ac" />
					<MachineFormSeries name="クハ9107" sign="Tc1" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td><MachineFormCont type="gto" /></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td></td>
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="series1000">
		<Fragment slot="heading">1000系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">東横線1000系</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="1000形" sign="Tc2" />
					<MachineFormSeries name="1250形" sign="M2" electric="ac" />
					<MachineFormSeries name="1200形" sign="M1" electric="ac" />
					<MachineFormSeries name="1350形" sign="M2" electric="ac" />
					<MachineFormSeries name="1300形" sign="M1" electric="ac" />
					<MachineFormSeries name="1450形" sign="M2" electric="ac" />
					<MachineFormSeries name="1400形" sign="M1" electric="ac" />
					<MachineFormSeries name="1100形" sign="Tc1" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td></td>
					<td><MachineFormBattery v100={30} /></td>
					<td></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">池上、多摩川線1000N′系</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="1000形" sign="Tc" />
					<MachineFormSeries name="1200形" sign="M" electric="ac" />
					<MachineFormSeries name="1310形" sign="M1c" electric="ac" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td><MachineFormCont type="gto" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-10" /></td>
					<td><MachineFormComp electric="dc" model="HS-10" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={30} /></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">池上、多摩川線1000N系</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="1000形" sign="Tc" />
					<MachineFormSeries name="1200形" sign="M1" electric="ac" />
					<MachineFormSeries name="1310形" sign="M1c" electric="ac" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td><MachineFormCont type="gto" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="much" capacity={120} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-20" count={2} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td><MachineFormBattery v100={30} /></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="series2000">
		<Fragment slot="heading">2000系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">田園都市線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="2000形" sign="Tc2" />
					<MachineFormSeries name="2250形" sign="M2" electric="ac" />
					<MachineFormSeries name="2200形" sign="M1" electric="ac" />
					<MachineFormSeries name="2700形" sign="T2" />
					<MachineFormSeries name="2350形" sign="M2" electric="ac" />
					<MachineFormSeries name="2300形" sign="M1" electric="ac" />
					<MachineFormSeries name="2800形" sign="T1" />
					<MachineFormSeries name="2450形" sign="M2" electric="ac" />
					<MachineFormSeries name="2400形" sign="M1" electric="ac" />
					<MachineFormSeries name="2100形" sign="Tc1" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
					<td></td>
					<td><MachineFormCont type="gto" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={170} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td><MachineFormComp electric="ac" model="HS-20" /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={30} /></td>
					<td></td>
					<td></td>
					<td><MachineFormBattery v100={30} v24={30} /></td>
					<td></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="series3000">
		<Fragment slot="heading">新3000系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">目黒線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="3000形" sign="Tc2" />
					<MachineFormSeries name="3250形" sign="M2" electric="ac" />
					<MachineFormSeries name="3200形" sign="M1" electric="ac" />
					<MachineFormSeries name="3500形" sign="T" />
					<MachineFormSeries name="3400形" sign="M" electric="ac" />
					<MachineFormSeries name="3100形" sign="Tc1" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td></td>
					<td><MachineFormCont type="igbt" /></td>
					<td></td>
					<td><MachineFormCont type="igbt" /></td>
					<td></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={210} /></td>
					<td></td>
					<td><MachineFormAps type="siv" use="much" capacity={210} /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td></td>
					<td><MachineFormComp electric="ac" model="C2500" /></td>
					<td></td>
					<td><MachineFormComp electric="ac" model="C2500" /></td>
					<td></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td></td>
					<td><MachineFormBattery v100={60} v24={30} /></td>
					<td></td>
					<td><MachineFormBattery v100={60} v24={30} /></td>
					<td></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="series300">
		<Fragment slot="heading">300系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">世田谷線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="300B形" sign="Mc2" electric="ac" />
					<MachineFormSeries name="300A形" sign="Mc1" electric="ac" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td><MachineFormCont type="igbt" /></td>
				</Fragment>
				<Fragment slot="aps">
					<td><MachineFormAps type="siv" use="much" capacity={20} /></td>
					<td><MachineFormAps type="siv" use="much" capacity={20} /></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="dc" model="HS-5" count={2} /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={20} v24={80} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>

	<Section id="seriesY000">
		<Fragment slot="heading">Y000系</Fragment>

		<Section slugger={slugger} depth={2} headingType="c">
			<Fragment slot="heading">こどもの国線</Fragment>

			<MachineForm>
				<Fragment slot="series">
					<MachineFormSeries name="Y000形" sign="Tc" />
					<MachineFormSeries name="Y010形" sign="Mc" electric="ac" />
				</Fragment>
				<Fragment slot="cont">
					<td></td>
					<td rowspan="2"><MachineFormCont type="igbt" siv={80} /></td>
				</Fragment>
				<Fragment slot="aps">
					<td></td>
				</Fragment>
				<Fragment slot="cp">
					<td><MachineFormComp electric="ac" model="HS-5" count={2} /></td>
					<td></td>
				</Fragment>
				<Fragment slot="bt">
					<td><MachineFormBattery v100={60} v24={30} /></td>
					<td></td>
				</Fragment>
			</MachineForm>
		</Section>
	</Section>
</Layout>
