---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Flex from '@components/Flex.astro';
import FlexItem from '@components/FlexItem.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import CarRenewal from '@components/tokyu/CarRenewal.astro';
import CarStyle from '@components/tokyu/CarStyle.astro';
import LocalForm from '@components/tokyu/LocalForm.astro';
import Car from '@components/tokyu/LocalFormCar.astro';
import CarOld from '@components/tokyu/LocalFormCarOld.astro';
import CarTokyu from '@components/tokyu/LocalFormCarTokyu.astro';
import Series from '@components/tokyu/LocalFormSeries.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急電車　譲渡車両編成表',
	heading: '譲渡車両編成表',
	dateModified: dayjs('2020-02-27'),
	description: '東急電鉄から国内の地方私鉄に譲渡された車両の編成表です。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="konan">
		<Fragment slot="heading">弘南鉄道</Fragment>

		<Section id="konan-konan" depth={2} headingType="c">
			<Fragment slot="heading">弘南線</Fragment>

			<Flex>
				<FlexItem>
					<LocalForm stationUp="弘前" stationDown="黒石">
						<Fragment slot="series">
							<Series name="デハ7020" sign="Mc" electric="dc" />
							<Series name="デハ7010" sign="Mc" electric="dc" />
						</Fragment>
						<tr slot="formation">
							<Car num="7021" maker="toyo">
								<CarTokyu slot="tokyu" num="7014" note="4次" renewal="room" />
							</Car>
							<Car num="7011" maker="toyo">
								<CarTokyu slot="tokyu" num="7013" note="4次" renewal="room" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7022" maker="toyo">
								<CarTokyu slot="tokyu" num="7026" note="6次" />
							</Car>
							<Car num="7012" maker="toyo">
								<CarTokyu slot="tokyu" num="7025" note="6次" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7023" maker="toyo">
								<CarTokyu slot="tokyu" num="7030" note="7次" />
							</Car>
							<Car num="7013" maker="toyo">
								<CarTokyu slot="tokyu" num="7029" note="7次" />
							</Car>
						</tr>
					</LocalForm>
				</FlexItem>
				<FlexItem>
					<LocalForm stationUp="弘前" stationDown="黒石">
						<Fragment slot="series">
							<Series name="デハ7150" sign="Mc" electric="dc" />
							<Series name="デハ7100" sign="Mc" electric="dc" />
						</Fragment>
						<tr slot="formation">
							<Car num="7152" maker="toyo">
								<CarTokyu slot="tokyu" num="7144" note="8次" />
							</Car>
							<Car num="7102" maker="toyo">
								<CarTokyu slot="tokyu" num="7143" note="8次" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7153" maker="toyo">
								<CarTokyu slot="tokyu" num="7108" note="4次" />
							</Car>
							<Car num="7103" maker="toyo">
								<CarTokyu slot="tokyu" num="7109" note="5次" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7154" maker="toyo">
								<CarTokyu slot="tokyu" num="7154" note="9次" />
							</Car>
							<Car num="7101" maker="toyo">
								<CarTokyu slot="tokyu" num="7141" note="8次" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7155" maker="toyo">
								<CarTokyu slot="tokyu" num="7122" note="6次" />
							</Car>
							<Car num="7105" maker="toyo">
								<CarTokyu slot="tokyu" num="7153" note="9次" />
							</Car>
						</tr>
					</LocalForm>
				</FlexItem>
			</Flex>

			<ListNote>
				<li>電装品は全車両が東洋電機製造。</li>
				<li><CarRenewal type="room">7011</CarRenewal>, <CarRenewal type="room">7021</CarRenewal> は東急時代の室内更新車。</li>
			</ListNote>
		</Section>

		<Section id="konan-owani" depth={2} headingType="c">
			<Fragment slot="heading">大鰐線</Fragment>

			<Flex>
				<FlexItem>
					<LocalForm stationUp="大鰐" stationDown="中央弘前">
						<Fragment slot="series">
							<Series name="デハ7000" sign="Mc" electric="dc" />
							<Series name="デハ7000" sign="Mc" electric="dc" />
						</Fragment>
						<tr slot="formation">
							<Car num="7032" maker="hitachi">
								<CarTokyu slot="tokyu" num="7032" note="8次" />
							</Car>
							<Car num="7031" maker="hitachi">
								<CarTokyu slot="tokyu" num="7031" note="8次" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7034" maker="hitachi">
								<CarTokyu slot="tokyu" num="7034" note="8次" />
							</Car>
							<Car num="7033" maker="hitachi">
								<CarTokyu slot="tokyu" num="7033" note="8次" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7038" maker="hitachi">
								<CarTokyu slot="tokyu" num="7038" note="9次" />
							</Car>
							<Car num="7037" maker="hitachi">
								<CarTokyu slot="tokyu" num="7037" note="9次" />
							</Car>
						</tr>
						<tr slot="formation">
							<Car num="7040" maker="hitachi">
								<CarTokyu slot="tokyu" num="7040" note="9次" />
							</Car>
							<Car num="7039" maker="hitachi">
								<CarTokyu slot="tokyu" num="7039" note="9次" />
							</Car>
						</tr>
					</LocalForm>
				</FlexItem>
				<FlexItem>
					<LocalForm stationUp="大鰐" stationDown="中央弘前">
						<Fragment slot="series">
							<Series name="デハ6000" sign="Mc" electric="dc" />
							<Series name="デハ6000" sign="Mc" electric="dc" />
						</Fragment>
						<tr slot="formation">
							<Car num="6008">
								<CarTokyu slot="tokyu" num="6008" note="C編成" />
							</Car>
							<Car num="6007">
								<CarTokyu slot="tokyu" num="6007" note="C編成" />
							</Car>
						</tr>
					</LocalForm>
				</FlexItem>
			</Flex>

			<ListNote>
				<li>7000系の電装品は全車両が日立製作所。</li>
			</ListNote>
		</Section>
	</Section>

	<Section id="fukushima">
		<Fragment slot="heading">福島交通</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="福島" stationDown="飯坂温泉">
					<Fragment slot="series">
						<Series name="デハ1100" sign="Mc" electric="ac" />
						<Series name="クハ1200" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="1101">
							<CarTokyu slot="tokyu" num="1301" note="1次" />
						</Car>
						<Car num="1202">
							<CarTokyu slot="tokyu" num="1251" note="1次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1103">
							<CarTokyu slot="tokyu" num="1302" note="1次" />
						</Car>
						<Car num="1204">
							<CarTokyu slot="tokyu" num="1252" note="1次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1105">
							<CarTokyu slot="tokyu" num="1304" note="2次" />
						</Car>
						<Car num="1206">
							<CarTokyu slot="tokyu" num="1254" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1107">
							<CarTokyu slot="tokyu" num="1307" note="2次" />
						</Car>
						<Car num="1208">
							<CarTokyu slot="tokyu" num="1257" note="2次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="福島" stationDown="飯坂温泉">
					<Fragment slot="series">
						<Series name="デハ1100" sign="Mc" electric="ac" />
						<Series name="デハ1300" sign="M" electric="ac" />
						<Series name="クハ1200" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="1109">
							<CarTokyu slot="tokyu" num="1308" note="3次" />
						</Car>
						<Car num="1313">
							<CarTokyu slot="tokyu" num="1408" note="3次" />
						</Car>
						<Car num="1210">
							<CarTokyu slot="tokyu" num="1258" note="3次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1111">
							<CarTokyu slot="tokyu" num="1303" note="2次" />
						</Car>
						<Car num="1314">
							<CarTokyu slot="tokyu" num="1402" note="1次" />
						</Car>
						<Car num="1212">
							<CarTokyu slot="tokyu" num="1253" note="2次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="福島" stationDown="飯坂温泉">
					<Fragment slot="series">
						<Series name="デハ7100" sign="Mc" electric="dc" />
						<Series name="デハ7200" sign="Mc" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7101" maker="toyo">
							<CarTokyu slot="tokyu" num="7126" note="7次" />
						</Car>
						<Car num="7202" maker="toyo">
							<CarTokyu slot="tokyu" num="7125" note="7次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li>7000系時代、3両編成の中間車は検査時等に組み込み編成が逆転したり、他編成に組み込まれたりすることがあったため、1000系も同様の編成替えが行われる可能性がある。</li>
			<li>7000系の電装品は全車両が東洋電機製造。</li>
		</ListNote>
	</Section>

	<Section id="chichibu">
		<Fragment slot="heading">秩父鉄道</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="羽生" stationDown="三峰口">
					<Fragment slot="series">
						<Series name="デハ7000" sign="M1c" electric="dc" />
						<Series name="サハ7100" sign="T" />
						<Series name="デハ7200" sign="M2c" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7001">
							<CarTokyu slot="tokyu" num="8509" note="6次" renewal="body" />
						</Car>
						<Car num="7101" style="light">
							<CarTokyu slot="tokyu" num="8950" note="13次" />
						</Car>
						<Car num="7201">
							<CarTokyu slot="tokyu" num="8609" note="6次" renewal="body" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7002">
							<CarTokyu slot="tokyu" num="8709" note="6次" renewal="body" />
						</Car>
						<Car num="7102">
							<CarTokyu slot="tokyu" num="8926" note="10-1次" renewal="body" />
						</Car>
						<Car num="7202">
							<CarTokyu slot="tokyu" num="8809" note="7-2次" renewal="body" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="羽生" stationDown="三峰口">
					<Fragment slot="series">
						<Series name="クハ7700" sign="Tc1" />
						<Series name="デハ7600" sign="M1" electric="dc" />
						<Series name="デハ7500" sign="M2c" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7701">
							<CarTokyu slot="tokyu" num="8092" note="12-1次" />
						</Car>
						<Car num="7601">
							<CarTokyu slot="tokyu" num="8192" note="12-1次" />
						</Car>
						<Car num="7501">
							<CarTokyu slot="tokyu" num="8091" note="12-1次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7702">
							<CarTokyu slot="tokyu" num="8084" note="16-2次" />
						</Car>
						<Car num="7602">
							<CarTokyu slot="tokyu" num="8184" note="16-2次" />
						</Car>
						<Car num="7502">
							<CarTokyu slot="tokyu" num="8083" note="16-2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7703">
							<CarTokyu slot="tokyu" num="8086" note="16-2次" />
						</Car>
						<Car num="7603">
							<CarTokyu slot="tokyu" num="8186" note="16-2次" />
						</Car>
						<Car num="7503">
							<CarTokyu slot="tokyu" num="8085" note="16-2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7704">
							<CarTokyu slot="tokyu" num="8094" note="13次" />
						</Car>
						<Car num="7604">
							<CarTokyu slot="tokyu" num="8194" note="13次" />
						</Car>
						<Car num="7504">
							<CarTokyu slot="tokyu" num="8093" note="13次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7705">
							<CarTokyu slot="tokyu" num="8088" note="17-1次" />
						</Car>
						<Car num="7605">
							<CarTokyu slot="tokyu" num="8188" note="17-1次" />
						</Car>
						<Car num="7505">
							<CarTokyu slot="tokyu" num="8087" note="17-1次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7706">
							<CarTokyu slot="tokyu" num="8096" note="13次" />
						</Car>
						<Car num="7606">
							<CarTokyu slot="tokyu" num="8196" note="13次" />
						</Car>
						<Car num="7506">
							<CarTokyu slot="tokyu" num="8095" note="13次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7707">
							<CarTokyu slot="tokyu" num="8090" note="17-1次" />
						</Car>
						<Car num="7607">
							<CarTokyu slot="tokyu" num="8190" note="17-1次" />
						</Car>
						<Car num="7507">
							<CarTokyu slot="tokyu" num="8089" note="17-1次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="羽生" stationDown="三峰口">
					<Fragment slot="series">
						<Series name="デハ7800" sign="Mc" electric="dc" />
						<Series name="クハ7900" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7801">
							<CarTokyu slot="tokyu" num="8490" note="17-1次" />
						</Car>
						<Car num="7901">
							<CarTokyu slot="tokyu" num="8290" note="17-1次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7802">
							<CarTokyu slot="tokyu" num="8494" note="16-2次" />
						</Car>
						<Car num="7902">
							<CarTokyu slot="tokyu" num="8298" note="16-2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7803">
							<CarTokyu slot="tokyu" num="8496" note="16-2次" />
						</Car>
						<Car num="7903">
							<CarTokyu slot="tokyu" num="8282" note="16-2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7804">
							<CarTokyu slot="tokyu" num="8495" note="16-2次" />
						</Car>
						<Car num="7904">
							<CarTokyu slot="tokyu" num="8280" note="16-2次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li><CarRenewal type="body">7001</CarRenewal>, <CarRenewal type="body">7002</CarRenewal>, <CarRenewal type="body">7201</CarRenewal>, <CarRenewal type="body">7202</CarRenewal>, <CarRenewal type="body">7102</CarRenewal> は東急時代の車体更新車。</li>
			<li><CarStyle type="light">7101</CarStyle> と7700系、7800系全車は軽量車。</li>
		</ListNote>
	</Section>

	<Section id="toyama">
		<Fragment slot="heading">富山地方鉄道<small>（鉄道線）</small></Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="(社)富山／宇奈月♨" stationDown="上市／立山">
					<Fragment slot="series">
						<Series name="モハ17480" sign="M1c" electric="dc" />
						<Series name="モハ17480" sign="M2c" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="17481">
							<CarTokyu slot="tokyu" num="8592" note="20次" />
						</Car>
						<Car num="17482">
							<CarTokyu slot="tokyu" num="8692" note="20次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="17483">
							<CarTokyu slot="tokyu" num="8593" note="20次" />
						</Car>
						<Car num="17484">
							<CarTokyu slot="tokyu" num="8693" note="20次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="17485">
							<CarTokyu slot="tokyu" num="8594" note="20次" />
						</Car>
						<Car num="17486">
							<CarTokyu slot="tokyu" num="8694" note="20次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>
	</Section>

	<Section id="hokuriku">
		<Fragment slot="heading">北陸鉄道<small>（石川線）</small></Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="野町" stationDown="鶴来">
					<Fragment slot="series">
						<Series name="モハ7000" sign="Mc" electric="dc" />
						<Series name="クハ7010" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7001">
							<CarTokyu slot="tokyu" num="7050" note="10次" />
						</Car>
						<Car num="7011">
							<CarTokyu slot="tokyu" num="7049" note="10次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="野町" stationDown="鶴来">
					<Fragment slot="series">
						<Series name="モハ7100" sign="Mc" electric="dc" />
						<Series name="クハ7110" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7101">
							<CarTokyu slot="tokyu" num="7054" note="10次" />
						</Car>
						<Car num="7111">
							<CarTokyu slot="tokyu" num="7053" note="10次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7102">
							<CarTokyu slot="tokyu" num="7056" note="10次" />
						</Car>
						<Car num="7112">
							<CarTokyu slot="tokyu" num="7055" note="10次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="野町" stationDown="鶴来">
					<Fragment slot="series">
						<Series name="モハ7200" sign="Mc" electric="dc" />
						<Series name="クハ7210" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7201">
							<CarTokyu slot="tokyu" num="7136" note="8次" />
						</Car>
						<Car num="7211">
							<CarTokyu slot="tokyu" num="7137" note="8次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7202">
							<CarTokyu slot="tokyu" num="7138" note="8次" />
						</Car>
						<Car num="7212">
							<CarTokyu slot="tokyu" num="7135" note="8次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li>7001, 7011 は非冷房車。</li>
		</ListNote>
	</Section>

	<Section id="ueda">
		<Fragment slot="heading">上田電鉄</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="上田" stationDown="別所温泉">
					<Fragment slot="series">
						<Series name="デハ1000" sign="Mc" electric="ac" />
						<Series name="クハ1100" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="1001">
							<CarTokyu slot="tokyu" num="1315" note="4次" />
						</Car>
						<Car num="1101">
							<CarTokyu slot="tokyu" num="1015" note="4次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1002">
							<CarTokyu slot="tokyu" num="1318" note="4次" />
						</Car>
						<Car num="1102">
							<CarTokyu slot="tokyu" num="1018" note="4次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1003">
							<CarTokyu slot="tokyu" num="1314" note="4次" />
						</Car>
						<Car num="1103">
							<CarTokyu slot="tokyu" num="1014" note="4次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1004">
							<CarTokyu slot="tokyu" num="1316" note="4次" />
						</Car>
						<Car num="1104">
							<CarTokyu slot="tokyu" num="1016" note="4次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="上田" stationDown="別所温泉">
					<Fragment slot="series">
						<Series name="デハ6000" sign="Mc" electric="ac" />
						<Series name="クハ6100" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="6001">
							<CarTokyu slot="tokyu" num="1305" note="2次" />
						</Car>
						<Car num="6101">
							<CarTokyu slot="tokyu" num="1255" note="2次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>
	</Section>

	<Section id="nagano">
		<Fragment slot="heading">長野電鉄</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="長野" stationDown="信州中野">
					<Fragment slot="series">
						<Series name="デハ8510" sign="M2c" electric="dc" />
						<Series name="サハ8550" sign="T" />
						<Series name="デハ8500" sign="M1c" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="8511">
							<CarTokyu slot="tokyu" num="8601" note="6次" />
						</Car>
						<Car num="8551">
							<CarTokyu slot="tokyu" num="8903" note="6次" renewal="body" />
						</Car>
						<Car num="8501">
							<CarTokyu slot="tokyu" num="8501" note="6次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8512">
							<CarTokyu slot="tokyu" num="8602" note="6次" />
						</Car>
						<Car num="8552">
							<CarTokyu slot="tokyu" num="8908" note="6次" renewal="body" />
						</Car>
						<Car num="8502">
							<CarTokyu slot="tokyu" num="8502" note="6次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8513">
							<CarTokyu slot="tokyu" num="8603" note="6次" renewal="body" />
						</Car>
						<Car num="8553">
							<CarTokyu slot="tokyu" num="8910" note="6次" renewal="body" />
						</Car>
						<Car num="8503">
							<CarTokyu slot="tokyu" num="8503" note="6次" renewal="body" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8514">
							<CarTokyu slot="tokyu" num="8605" note="6次" renewal="body" />
						</Car>
						<Car num="8554">
							<CarTokyu slot="tokyu" num="8905" note="6次" renewal="body" />
						</Car>
						<Car num="8504">
							<CarTokyu slot="tokyu" num="8505" note="6次" renewal="body" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8515">
							<CarTokyu slot="tokyu" num="8624" note="8次" renewal="body" />
						</Car>
						<Car num="8555">
							<CarTokyu slot="tokyu" num="8920" note="10-1次" renewal="body" />
						</Car>
						<Car num="8505">
							<CarTokyu slot="tokyu" num="8524" note="8次" renewal="body" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8516" style="light">
							<CarTokyu slot="tokyu" num="8841" note="13次" renewal="body" />
						</Car>
						<Car num="8556">
							<CarTokyu slot="tokyu" num="8944" note="12-2次" renewal="body" />
						</Car>
						<Car num="8506">
							<CarTokyu slot="tokyu" num="8730" note="8次" renewal="body" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li><CarRenewal type="body">8503〜8506</CarRenewal>, <CarRenewal type="body">8513〜8516</CarRenewal>, <CarRenewal type="body">8551〜8556</CarRenewal> は東急時代の車体更新車。</li>
			<li><CarStyle type="light">8516</CarStyle> は軽量車。</li>
		</ListNote>
	</Section>

	<Section id="izukyu">
		<Fragment slot="heading">伊豆急行</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="熱海／伊東" stationDown="伊豆急下田">
					<Fragment slot="series">
						<Series name="クハ8000" sign="Tc2" />
						<Series name="モハ8200" sign="M2" electric="dc" />
						<Series name="クモハ8150" sign="M1c" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="8011">
							<CarTokyu slot="tokyu" num="8011" note="2次" renewal="room" />
						</Car>
						<Car num="8201">
							<CarTokyu slot="tokyu" num="8112" note="2次" renewal="room" />
						</Car>
						<Car num="8157">
							<CarTokyu slot="tokyu" num="8138" note="4次" renewal="room" shintama={true} />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8012">
							<CarTokyu slot="tokyu" num="8029" note="3-2次" renewal="room" />
						</Car>
						<Car num="8202">
							<CarTokyu slot="tokyu" num="8130" note="3-2次" renewal="room" />
						</Car>
						<Car num="8151">
							<CarTokyu slot="tokyu" num="8155" note="11-1次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8013">
							<CarTokyu slot="tokyu" num="8043" note="5次" renewal="body" shintama={true} />
						</Car>
						<Car num="8203">
							<CarTokyu slot="tokyu" num="8151" note="10-1次" renewal="body" />
						</Car>
						<Car num="8153">
							<CarTokyu slot="tokyu" num="8121" note="3-1次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8014">
							<CarTokyu slot="tokyu" num="8037" note="4次" shintama={true} />
						</Car>
						<Car num="8204">
							<CarTokyu slot="tokyu" num="8153" note="11-1次" />
						</Car>
						<Car num="8154">
							<CarTokyu slot="tokyu" num="8122" note="3-1次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8015">
							<CarTokyu slot="tokyu" num="8023" note="3-1次" renewal="room" />
						</Car>
						<Car num="8205">
							<CarTokyu slot="tokyu" num="8124" note="3-1次" renewal="room" />
						</Car>
						<Car num="8155">
							<CarTokyu slot="tokyu" num="8126" note="3-1次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8016">
							<CarTokyu slot="tokyu" num="8013" note="2次" renewal="room" />
						</Car>
						<Car num="8206">
							<CarTokyu slot="tokyu" num="8114" note="2次" renewal="room" />
						</Car>
						<Car num="8156">
							<CarTokyu slot="tokyu" num="8132" note="4次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8017">
							<CarTokyu slot="tokyu" num="8015" note="2次" renewal="room" />
						</Car>
						<Car num="8207">
							<CarTokyu slot="tokyu" num="8116" note="2次" renewal="room" />
						</Car>
						<Car num="8152">
							<CarTokyu slot="tokyu" num="8723" note="7-2次" renewal="body" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8018">
							<CarTokyu slot="tokyu" num="8019" note="2次" renewal="room" />
						</Car>
						<Car num="8208">
							<CarTokyu slot="tokyu" num="8118" note="2次" renewal="room" />
						</Car>
						<Car num="8158">
							<CarTokyu slot="tokyu" num="8136" note="4次" renewal="room" shintama={true} />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="熱海／伊東" stationDown="伊豆急下田">
					<Fragment slot="series">
						<Series name="クモハ8250" sign="M2c" electric="dc" />
						<Series name="モハ8100" sign="M1" electric="dc" />
						<Series name="クハ8000" sign="Tc1" />
					</Fragment>
					<tr slot="formation">
						<Car num="8257">
							<CarTokyu slot="tokyu" num="8017" note="2次" renewal="room" />
						</Car>
						<Car num="8101">
							<CarTokyu slot="tokyu" num="8111" note="2次" renewal="room" />
						</Car>
						<Car num="8001">
							<CarTokyu slot="tokyu" num="8012" note="2次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8251">
							<CarOld slot="old" num="伊豆急8051" />
							<CarTokyu slot="tokyu" num="8035" note="4次" shintama={true} />
						</Car>
						<Car num="8102">
							<CarTokyu slot="tokyu" num="8129" note="3-2次" renewal="room" />
						</Car>
						<Car num="8002">
							<CarTokyu slot="tokyu" num="8030" note="3-2次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8253">
							<CarTokyu slot="tokyu" num="8021" note="3-1次" renewal="room" />
						</Car>
						<Car num="8103">
							<CarTokyu slot="tokyu" num="8150" note="10-1次" renewal="body" />
						</Car>
						<Car num="8003">
							<CarTokyu slot="tokyu" num="8044" note="5次" renewal="body" shintama={true} />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8254">
							<CarTokyu slot="tokyu" num="8033" note="4次" shintama={true} />
						</Car>
						<Car num="8104" style="light">
							<CarTokyu slot="tokyu" num="8157" note="12-3次" />
						</Car>
						<Car num="8004">
							<CarTokyu slot="tokyu" num="8034" note="4次" shintama={true} />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8255">
							<CarTokyu slot="tokyu" num="8025" note="3-1次" renewal="room" />
						</Car>
						<Car num="8105">
							<CarTokyu slot="tokyu" num="8123" note="3-1次" renewal="room" />
						</Car>
						<Car num="8005">
							<CarTokyu slot="tokyu" num="8024" note="3-1次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8256">
							<CarTokyu slot="tokyu" num="8031" note="4次" renewal="room" />
						</Car>
						<Car num="8106">
							<CarTokyu slot="tokyu" num="8113" note="2次" renewal="room" />
						</Car>
						<Car num="8006">
							<CarTokyu slot="tokyu" num="8014" note="2次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="8252">
							<CarTokyu slot="tokyu" num="8049" note="5次" />
						</Car>
						<Car num="8107">
							<CarTokyu slot="tokyu" num="8115" note="2次" renewal="room" />
						</Car>
						<Car num="8007">
							<CarTokyu slot="tokyu" num="8016" note="2次" renewal="room" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li><CarStyle type="light">8104</CarStyle> は軽量車。</li>
			<li><CarRenewal shintama={true}>8157</CarRenewal>, <CarRenewal shintama={true}>8158</CarRenewal>, <CarRenewal shintama={true}>8251</CarRenewal>, <CarRenewal shintama={true}>8254</CarRenewal>, <CarRenewal shintama={true}>8003</CarRenewal>, <CarRenewal shintama={true}>8004</CarRenewal>, <CarRenewal shintama={true}>8013</CarRenewal>, <CarRenewal shintama={true}>8014</CarRenewal> は新玉川線復旧車。</li>
			<li><CarRenewal type="room">8101</CarRenewal>, <CarRenewal type="room">8102</CarRenewal>, <CarRenewal type="room">8105〜8107</CarRenewal>, <CarRenewal type="room">8153〜8158</CarRenewal>, <CarRenewal type="room">8201, 8202</CarRenewal>, <CarRenewal type="room">8205〜8208</CarRenewal>, <CarRenewal type="room">8253</CarRenewal>, <CarRenewal type="room">8255〜8257</CarRenewal>, <CarRenewal type="room">8001</CarRenewal>, <CarRenewal type="room">8002</CarRenewal>, <CarRenewal type="room">8005〜8007</CarRenewal>, <CarRenewal type="room">8011</CarRenewal>, <CarRenewal type="room">8012</CarRenewal>, <CarRenewal type="room">8015〜8018</CarRenewal> は東急時代の室内更新車。</li>
			<li><CarRenewal type="body">8103</CarRenewal>, <CarRenewal type="body">8152</CarRenewal>, <CarRenewal type="body">8203</CarRenewal>, <CarRenewal type="body">8003</CarRenewal>, <CarRenewal type="body">8013</CarRenewal> は東急時代の車体更新車（8152 は田園都市線、ほか4両は東横線所属車）。</li>
		</ListNote>
	</Section>

	<Section id="oigawa">
		<Fragment slot="heading">大井川鐵道<small>（大井川本線）</small></Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="金谷" stationDown="千頭">
					<Fragment slot="series">
						<Series name="モハ7200" sign="cMc" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7204" maker="hitachi">
							<CarOld slot="old" num="十和田7204" />
							<CarTokyu slot="tokyu" num="7211" note="3次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="金谷" stationDown="千頭">
					<Fragment slot="series">
						<Series name="モハ7300" sign="cMc" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7305" maker="toyo">
							<CarOld slot="old" num="十和田7305" />
							<CarTokyu slot="tokyu" num="7259" note="3次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li>電装品は 7204 が日立製作所、 7305 が東洋電機製造。</li>
		</ListNote>
	</Section>

	<Section id="toyohashi">
		<Fragment slot="heading">豊橋鉄道<small>（渥美線）</small></Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="新豊橋" stationDown="三河田原">
					<Fragment slot="series">
						<Series name="ク2800" sign="Tc" />
						<Series name="モ1810" sign="M" electric="dc" />
						<Series name="モ1800" sign="Mc" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="2801">
							<CarTokyu slot="tokyu" num="7502" note="1次" renewal="board" />
						</Car>
						<Car num="1811" count={2} maker="hitachi">
							<CarTokyu slot="tokyu" num="7204" note="1次" />
						</Car>
						<Car num="1801" count={2} maker="hitachi">
							<CarTokyu slot="tokyu" num="7209" note="3次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2802">
							<CarTokyu slot="tokyu" num="7507" note="3次" />
						</Car>
						<Car num="1812" maker="hitachi">
							<CarTokyu slot="tokyu" num="7207" note="3次" />
						</Car>
						<Car num="1802" maker="hitachi">
							<CarTokyu slot="tokyu" num="7206" note="2次" renewal="board" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2803">
							<CarTokyu slot="tokyu" num="7504" note="1次" />
						</Car>
						<Car num="1813" maker="hitachi">
							<CarTokyu slot="tokyu" num="7210" note="3次" />
						</Car>
						<Car num="1803" maker="hitachi">
							<CarTokyu slot="tokyu" num="7201" note="1次" renewal="board" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2810">
							<CarOld slot="old" num="上田7551" />
							<CarTokyu slot="tokyu" num="7551" note="1次" />
						</Car>
						<Car num="1860" maker="toyo">
							<CarOld slot="old" num="上田7251" />
							<CarTokyu slot="tokyu" num="7257" note="3次" />
						</Car>
						<Car num="1810" maker="toyo">
							<CarTokyu slot="tokyu" num="7255" note="2次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="新豊橋" stationDown="三河田原">
					<Fragment slot="series">
						<Series name="ク2800" sign="Tc" />
						<Series name="モ1850" sign="M" electric="dc" />
						<Series name="モ1800" sign="Mc" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="2804">
							<CarTokyu slot="tokyu" num="7501" note="1次" renewal="board" />
						</Car>
						<Car num="1854" maker="hitachi">
							<CarTokyu slot="tokyu" num="7301" note="4次" renewal="board" />
						</Car>
						<Car num="1804" maker="hitachi">
							<CarTokyu slot="tokyu" num="7212" note="3次" renewal="board" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2805">
							<CarTokyu slot="tokyu" num="7508" note="3次" renewal="board" />
						</Car>
						<Car num="1855" maker="hitachi">
							<CarTokyu slot="tokyu" num="7302" note="4次" renewal="board" />
						</Car>
						<Car num="1805" maker="hitachi">
							<CarTokyu slot="tokyu" num="7208" note="3次" renewal="board" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2806">
							<CarTokyu slot="tokyu" num="7505" note="2次" />
						</Car>
						<Car num="1856" maker="hitachi">
							<CarTokyu slot="tokyu" num="7401" note="4次" />
						</Car>
						<Car num="1806" maker="hitachi">
							<CarTokyu slot="tokyu" num="7205" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2807">
							<CarTokyu slot="tokyu" num="7554" note="2次" />
						</Car>
						<Car num="1857" maker="toyo">
							<CarTokyu slot="tokyu" num="7351" note="4次" />
						</Car>
						<Car num="1807" maker="toyo">
							<CarTokyu slot="tokyu" num="7251" note="1次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2808">
							<CarTokyu slot="tokyu" num="7560" note="5次" />
						</Car>
						<Car num="1858" maker="toyo">
							<CarTokyu slot="tokyu" num="7452" note="5次" />
						</Car>
						<Car num="1808" maker="toyo">
							<CarTokyu slot="tokyu" num="7260" note="5次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="2809">
							<CarTokyu slot="tokyu" num="7552" note="1次" />
						</Car>
						<Car num="1859" maker="toyo">
							<CarTokyu slot="tokyu" num="7451" note="4次" />
						</Car>
						<Car num="1809" maker="toyo">
							<CarTokyu slot="tokyu" num="7256" note="3次" renewal="board" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li>電動車の電装品は車号下1桁が 1 〜 6 の12両が日立製作所、 0, 7 〜 9 の8両が東洋電機製造。</li>
			<li>1801, 1811 は2代目。</li>
			<li><CarRenewal type="board">1802〜1805</CarRenewal>, <CarRenewal type="board">1809</CarRenewal>, <CarRenewal type="board">1854</CarRenewal>, <CarRenewal type="board">1855</CarRenewal>, <CarRenewal type="board">2801</CarRenewal>, <CarRenewal type="board">2804</CarRenewal>, <CarRenewal type="board">2805</CarRenewal> は東急時代の化粧板修繕車。</li>
		</ListNote>
	</Section>

	<Section id="yoro">
		<Fragment slot="heading">養老鉄道</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="大垣" stationDown="揖斐／桑名">
					<Fragment slot="series">
						<Series name="モ7700" sign="Mc" electric="ac" />
						<Series name="モ7800" sign="M" electric="ac" />
						<Series name="ク7900" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7703">
							<CarTokyu slot="tokyu" num="7703" note="TCC" />
							<CarTokyu slot="tokyu" num="7024" note="5次" />
						</Car>
						<Car num="7803">
							<CarTokyu slot="tokyu" num="7803" note="TCC" />
							<CarTokyu slot="tokyu" num="7112" note="5次" />
						</Car>
						<Car num="7903">
							<CarTokyu slot="tokyu" num="7903" note="TYSD" />
							<CarTokyu slot="tokyu" num="7023" note="5次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7712">
							<CarTokyu slot="tokyu" num="7712" note="TCC" />
							<CarTokyu slot="tokyu" num="7060" note="10次" />
						</Car>
						<Car num="7812">
							<CarTokyu slot="tokyu" num="7812" note="TCC" />
							<CarTokyu slot="tokyu" num="7150" note="9次" />
						</Car>
						<Car num="7912">
							<CarTokyu slot="tokyu" num="7912" note="TCC" />
							<CarTokyu slot="tokyu" num="7059" note="10次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7714">
							<CarTokyu slot="tokyu" num="7714" note="TCC" />
							<CarTokyu slot="tokyu" num="7062" note="10次" />
						</Car>
						<Car num="7814">
							<CarTokyu slot="tokyu" num="7814" note="TCC" />
							<CarTokyu slot="tokyu" num="7120" note="6次" />
						</Car>
						<Car num="7914">
							<CarTokyu slot="tokyu" num="7914" note="TCC" />
							<CarTokyu slot="tokyu" num="7027" note="6次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="大垣" stationDown="揖斐／桑名">
					<Fragment slot="series">
						<Series name="モ7700" sign="Mc" electric="ac" />
						<Series name="ク7900" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7701">
							<CarTokyu slot="tokyu" num="7701" note="TCC" />
							<CarTokyu slot="tokyu" num="7064" note="10次" />
						</Car>
						<Car num="7901">
							<CarTokyu slot="tokyu" num="7901" note="TYSD" />
							<CarTokyu slot="tokyu" num="7045" note="10次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7705">
							<CarTokyu slot="tokyu" num="7705" note="TCC" />
							<CarTokyu slot="tokyu" num="7044" note="10次" />
						</Car>
						<Car num="7905">
							<CarTokyu slot="tokyu" num="7905" note="TYSD" />
							<CarTokyu slot="tokyu" num="7043" note="10次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="7706">
							<CarTokyu slot="tokyu" num="7706" note="TCC" />
							<CarTokyu slot="tokyu" num="7042" note="10次" />
						</Car>
						<Car num="7906">
							<CarTokyu slot="tokyu" num="7906" note="TYSD" />
							<CarTokyu slot="tokyu" num="7041" note="10次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li>7701, 7703, 7705, 7706, 7712, 7814, 7803, 7812, 7814, 7912, 7914 は7700系化改造を東急車輛製造（TCC）で実施。</li>
			<li>7901, 7903, 7905, 7906 は7700系化改造を東横車輛電設（TYSD）で実施。</li>
		</ListNote>
	</Section>

	<Section id="iga">
		<Fragment slot="heading">伊賀鉄道</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="伊賀上野" stationDown="伊賀神戸">
					<Fragment slot="series">
						<Series name="ク100" sign="Tc" />
						<Series name="モ200" sign="Mc" electric="ac" />
					</Fragment>
					<tr slot="formation">
						<Car num="101">
							<CarTokyu slot="tokyu" num="1010" note="2次" />
						</Car>
						<Car num="201">
							<CarTokyu slot="tokyu" num="1311" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="102">
							<CarTokyu slot="tokyu" num="1011" note="2次" />
						</Car>
						<Car num="202">
							<CarTokyu slot="tokyu" num="1310" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="103">
							<CarTokyu slot="tokyu" num="1106" note="2次" />
						</Car>
						<Car num="203">
							<CarTokyu slot="tokyu" num="1406" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="104">
							<CarTokyu slot="tokyu" num="1006" note="2次" />
						</Car>
						<Car num="204">
							<CarTokyu slot="tokyu" num="1206" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="105">
							<CarTokyu slot="tokyu" num="1356" note="2次" />
						</Car>
						<Car num="205">
							<CarTokyu slot="tokyu" num="1306" note="2次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>
	</Section>

	<Section id="mizuma">
		<Fragment slot="heading">水間鉄道</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="貝塚" stationDown="水間観音">
					<Fragment slot="series">
						<Series name="デハ1000" sign="Mc" electric="dc" />
						<Series name="デハ1000" sign="Mc" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="1001" maker="toyo">
							<CarOld slot="old" num="水間7002" />
							<CarTokyu slot="tokyu" num="7010" note="3次" renewal="room" />
						</Car>
						<Car num="1002" maker="toyo">
							<CarOld slot="old" num="水間7102" />
							<CarTokyu slot="tokyu" num="7009" note="3次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1003" maker="toyo">
							<CarOld slot="old" num="水間7001" />
							<CarTokyu slot="tokyu" num="7008" note="3次" renewal="room" />
						</Car>
						<Car num="1004" maker="toyo">
							<CarOld slot="old" num="水間7101" />
							<CarTokyu slot="tokyu" num="7007" note="3次" renewal="room" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1005" maker="toyo">
							<CarOld slot="old" num="水間7051" />
							<CarTokyu slot="tokyu" num="7128" note="7次" />
						</Car>
						<Car num="1006" maker="toyo">
							<CarOld slot="old" num="水間7151" />
							<CarTokyu slot="tokyu" num="7127" note="7次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1007" maker="toyo">
							<CarOld slot="old" num="水間7052" />
							<CarTokyu slot="tokyu" num="7110" note="5次" />
						</Car>
						<Car num="1008" maker="toyo">
							<CarOld slot="old" num="水間7152" />
							<CarTokyu slot="tokyu" num="7139" note="8次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
			<FlexItem>
				<LocalForm stationUp="貝塚" stationDown="水間観音">
					<Fragment slot="series">
						<Series name="デハ7000" sign="Mc" electric="dc" />
						<Series name="デハ7100" sign="Mc" electric="dc" />
					</Fragment>
					<tr slot="formation">
						<Car num="7003" maker="toyo">
							<CarTokyu slot="tokyu" num="7012" note="4次" renewal="room" />
						</Car>
						<Car num="7103" maker="toyo">
							<CarTokyu slot="tokyu" num="7011" note="4次" renewal="room" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>

		<ListNote>
			<li>電装品は全車両が東洋電機製造。</li>
			<li>7003, 7103 は非冷房車。</li>
			<li><CarRenewal type="room">1001〜1004</CarRenewal>, <CarRenewal type="room">7003</CarRenewal>, <CarRenewal type="room">7103</CarRenewal> は東急時代の室内更新車。</li>
		</ListNote>
	</Section>

	<Section id="ichibata">
		<Fragment slot="heading">一畑電車</Fragment>

		<Flex>
			<FlexItem>
				<LocalForm stationUp="一畑口" stationDown="(社)出雲市／大社／松江♨">
					<Fragment slot="series">
						<Series name="デハ1000" sign="Mc" electric="ac" />
						<Series name="クハ1100" sign="Tc" />
					</Fragment>
					<tr slot="formation">
						<Car num="1001">
							<CarTokyu slot="tokyu" num="1405" note="2次" />
						</Car>
						<Car num="1101">
							<CarTokyu slot="tokyu" num="1455" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1002">
							<CarTokyu slot="tokyu" num="1403" note="2次" />
						</Car>
						<Car num="1102">
							<CarTokyu slot="tokyu" num="1453" note="2次" />
						</Car>
					</tr>
					<tr slot="formation">
						<Car num="1003">
							<CarTokyu slot="tokyu" num="1407" note="2次" />
						</Car>
						<Car num="1103">
							<CarTokyu slot="tokyu" num="1457" note="2次" />
						</Car>
					</tr>
				</LocalForm>
			</FlexItem>
		</Flex>
	</Section>
</Layout>
