---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import ListLink from '@components/ListLink.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	type: 'website',
	title: '東急電車の車両データ',
	heading: '車両データ',
	dateModified: dayjs('2024-12-31'),
	description: '東急電鉄の車両の車歴や編成表などのデータを紹介します。',
	breadcrumb: [{ path: '/tokyu/', name: '東急電車資料室' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Section id="history">
		<Fragment slot="heading">車両履歴</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/data/history_mekama&toyoko_passenger">目黒蒲田電鉄、東京横浜電鉄　旅客車</a></li>
			<li><a href="/tokyu/data/history_mekama&toyoko_freight">目黒蒲田電鉄、東京横浜電鉄　機関車&amp;貨車</a></li>
			<li><a href="/tokyu/data/history_ikegami">池上電気鉄道</a></li>
			<li><a href="/tokyu/data/history_tokyu">東京急行電鉄</a>（1949年以前）</li>
			<li><a href="/tokyu/data/history_tamagawa">玉川電気鉄道、玉川線</a>（1949年以前）</li>
			<li><a href="/tokyu/data/history/">車歴検索</a>（旧7000系〜新3000系、2010年3月時点）</li>
		</ListLink>
	</Section>

	<Section id="count">
		<Fragment slot="heading">車種別車両数推移</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/data/count_mekama&toyoko_passenger">目黒蒲田電鉄、東京横浜電鉄　旅客車</a></li>
		</ListLink>
	</Section>

	<Section id="form">
		<Fragment slot="heading">編成表</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/data/form_car">主要機器搭載表（車種別）</a>（2009年3月時点）</li>
			<li><a href="/tokyu/data/form_line">主要機器搭載表（路線別）</a>（2009年3月時点）</li>
			<li><a href="/tokyu/data/form_local">譲渡車両編成表</a>（2020年2月時点）</li>
		</ListLink>
	</Section>

	<Section id="list">
		<Fragment slot="heading">機器一覧</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/data/siv_8500">8500系　大容量 SIV 形式一覧</a>（2005年2月時点）</li>
			<li><a href="/tokyu/data/acu_8500">8500系後期車　冷房配置バリエーション</a>（2022年7月時点）</li>
			<li><a href="/tokyu/data/acu_9000">9000系　冷房配置バリエーション</a>（2018年12月時点）</li>
			<li><a href="/tokyu/data/truck_300">300系　台車製造年一覧</a>（2023年4月時点）</li>
		</ListLink>
	</Section>

	<Section id="preservation">
		<Fragment slot="heading">保存車両</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/data/preservation">保存車両リスト</a>（2019年10月時点）</li>
		</ListLink>
	</Section>
</Layout>
