---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import Section from '@components/Section.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '../../../../types/types.js';

const structuredData: StructuredData = {
	title: '鉄道ピクトリアル掲載原稿「地方私鉄へ譲渡された元東急の車両の近況」',
	heading: '地方私鉄へ譲渡された元東急の車両の近況',
	dateModified: dayjs('2012-04-12'),
	description: '鉄道ピクトリアル 2011年8月号に掲載された「地方私鉄へ譲渡された元東急の車両の近況」の本文です。写真や編成表は挿入していません。完全版は掲載誌をご覧ください。',
	image: 'https://media.w0s.jp/image/tokyu/book/tetsupic851_cover.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/book/', name: '鉄道本執筆' },
	],
};

const slugger = new GithubSlugger();
---

<Layout structuredData={structuredData}>
	<Amazon headingLevel={2}>
		<AmazonItem asin="B0055D79J2" title="鉄道ピクトリアル 2011年8月号 【特集】地方私鉄の現状" date="2011-06-21" imageId="51AmFnfy6TL" imageWidth={114} imageHeight={160} />
	</Amazon>

	<Section slugger={slugger} id="prologue" heading="はじめに">
		<div class="p-text -col2">
			<p>東京急行電鉄は昔から車両譲渡に積極的な事業者のひとつであるが、近年は8000系グループの廃車が進み、伊豆急行や長野電鉄をはじめ海外にも進出、またVVVF制御車である7700系や1000系の譲渡も進んでいる。一方、20年ほど前に各地へ散った7000系もその多くが現役である。</p>
			<p>本稿では国内の現役車両に的を絞り、路線毎の特徴を見ていきたいと思う。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="towada" heading="十和田観光電鉄">
		<div class="p-text -col2">
			<p>2002(平成14)年に7700系6両と7200系2両が譲渡された。これにより従来の吊掛車を置き換えたが、モハ3603と自社発注のモハ3401は廃車を免れ、七百の車庫に置かれている。</p>
			<p>7700系は連結面に転落防止装置を設置、クハ7900形の空気圧縮機をHS-20形から旧式のHB-1500形へ交換、モハ7700形車端部に車椅子スペース設置など小規模な改造のみである。</p>
			<p>東急7200系は、7000系と同じく日立車と東洋車が存在するが、十和田へはそれぞれ1両ずつが譲渡されており、車号も日立車が7200番台、東洋車が7300番台と区分されている。こちらは単行運転が可能なように、三沢方に切妻の運転台を新設し両運転台とされた。2両編成での運転も多いことから貫通扉が設けられ、連結時は通り抜けが可能である。また、補助電源は既存のMGを撤去して富士電機製の30kVA-SIVを搭載、ジャンパ連結器を7700系と同じ114芯に交換、主幹制御器を日立製に統一、戸閉車側灯を移設、扇風機を交流駆動タイプへ交換、車椅子スペースを中央の側戸脇に設置するなどの改造を行っている。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="konan" heading="弘南鉄道">
		<div class="p-text -col2">
			<p>1988(昭和63)年から翌年にかけて7000系8両と6000系4両が大鰐線用に譲渡された。7000系には電機品が東洋電機製造製と日立製作所製の2種類があるが、大鰐線に行ったのは日立車で、モーター出力が東洋車の60kWに対して70kWと高く、制御方式も8台の複巻電動機を2群に分け、直並列制御するものである<FootnoteReference>今泉藤麿、樋口徹、神谷清「東京急行電鉄株式会社納7000形電車用停車用電力回生ブレーキ付電気品」日立評論No.520（1965年5月号）</FootnoteReference>（東洋車は8台直列）。</p>
			<p>1989(平成元)年には弘南線にも7000系東洋車が導入され、翌年にかけて16両が譲渡された。このうち10両は中間車のデハ7100形を先頭車化したもので、車号は7100番台とされ、正面は非常扉を設けず、東急9000系のように運転台側の窓が大きい非対称3枚窓の切妻となった。</p>
			<p>7011、7021は東急時代に室内更新工事を受けており、下段が固定化された窓や短い吊手、室内側に化粧板の貼られた正面貫通扉などに非更新車との違いが見られる。</p>
			<p>外観の特徴としては、デハ7000形大鰐向き先頭車の正面に低圧55芯ジャンパケーブルが垂れているのが目立つ。7031・7037は譲渡後にこれが追設されたため、車体下部の掛具形状が他車と異なっている。</p>
			<p>大鰐線の6000系、7000系は導入当初、側戸が半自動とされ把手が取り付けられていたが、まもなく自動に戻されたため撤去され、取付穴がネジで埋められている。その後、弘南線ともにワンマン化や側戸の開閉ボタン設置、ATS搭載などが行われた。</p>
			<p>弘南線7104、7151は1997(平成9)年の事故で廃車になり、残された車両同士で7154-7101という編成が組まれたが、近年はイベント専用車となっているようで、通常運転に就くことはない。</p>
			<p>大鰐線の6000系は平日ラッシュ時の快速を中心に運転されていたが、2006(平成18)年に快速が廃止されてからはほとんど動いていないようである。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="fukushima" heading="福島交通">
		<div class="p-text -col2">
			<p>1991(平成3)年に7000系16両が譲渡され、車両の総取替と1500V昇圧が行われた。</p>
			<p>すべて中間車からの改造で、先頭部は水間鉄道の先頭化改造車に似た顔であるが、尾灯が円形から長方形に変更されている。また、方向幕は水間鉄道より小型のものであり、フォントにバリエーションが見られる。2両は電装を解除した中間車サハ7300形とされ、デハ7100形とデハ7200形に挟まれた3両編成<FootnoteReference>7111-7316-7212、7113-7315-7214と書かれた文献が多いが、実際にはときどき編成替えが行われており、7315と7316が逆になったり、他の編成に組み込まれることもある。</FootnoteReference>で平日ラッシュ時に活躍している。また、全車が東洋車であるが、7109・7111・7113、7210・7212・7214は主幹制御器が日立製となっている。</p>
			<p>7101・7103・7105、7202・7204・7206の6両は連結面方車端部の座席や荷棚を片側撤去して床置の冷房装置を搭載しており、妻窓と側窓を外してルーバーが設けられた。冷風口は後述する北陸鉄道と同じく、荷棚付近に4ヵ所設置されている。</p>
			<p>集電装置は、2列の舟体から垂れ下がったホーンが末端で結合している。これは弘南鉄道6000系や上田電鉄7200系と同じタイプで、他社向けの7000系とは舟支え機構も異なる。</p>
			<p>
				2001年には7107、7208の2両が事故により廃車された。また、2002(平成14)年にはATSが搭載され、停車位置の見直しに伴い3両編成の先頭車は一部扉が締切となった<FootnoteReference>とみ「<LinkExternal href="http://gold.zero.jp/tomi103pc2008/03topics/tetsudo/ats.htm">ATS導入に伴う3両編成電車の一部ドア閉め切りについて</LinkExternal>」</FootnoteReference>。
			</p>
			<p>近年の変化としては、一部車両の座席モケットが薄い青色に交換されている。また、7103、7204のみ暖房強化のためか座席蹴込板の打抜穴が増設されている。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="chichibu" heading="秩父鉄道">
		<div class="p-text -col2">
			<p>2009(平成21)年より8500系、8090系が譲渡されており、形式はそれぞれ7000系、7500系となっている。</p>
			<p>7000系の集電装置は菱形だが、剛体架線に対応した短舟のPT4309S形から長舟のPT4304形へ換装され、またデハ7200形にも冷房装置を一機撤去のうえ搭載された。</p>
			<p>7002はデハ8700形、7202はデハ8800形からの先頭化改造車で、オリジナルのイメージを保った3枚窓の非貫通顔となっている。</p>
			<p>7500系は先頭車がいずれもクハだったため、三峰口方の車両を電装し、台車がTS-807B形へ交換された。中間車デハ7600形の集電装置は大井町線時代にシングルアーム式のPT7108形へ換装されていたが、譲渡にあたり菱形（うち7602・7603は小型のPT44S形）に再換装されるとともに、羽生方にも増設して2丁となった。舟体はいずれも7000系と同じく長舟となっている。</p>
			<p>7702(東急8084)の連結面方台車には踏面清掃装置が装備されていたが、譲渡にあたり撤去された。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="nagano" heading="長野電鉄">
		<div class="p-text -col2">
			<p>2005(平成17)年から8500系が譲渡されており、3連6本が長野―信州中野間で活躍している。</p>
			<p>
				8552の一部座席と8502、8512の優先席（片側のみ）はシートモケットが変更されている。これは2004(平成16)年頃、東急で譲渡デモカーになっていた車両が試用していたものと同じである<FootnoteReference>レールファン東急「<LinkExternal href="https://web.archive.org/web/20050904194612/http://www.railfan.ne.jp/tokyu/topics2/2004/11/22120451.shtml">8000(8500)系譲渡用試作車完成！</LinkExternal>」</FootnoteReference>。
			</p>
			<p>2009(平成21)年に導入した8515-8555-8505と8516-8556-8506は、中間車サハ8550形に搭載している補助電源装置がSIVとなり（8554まではMG）、デハ8510形にも集電装置が設けられて編成あたり2台とされた。また8506はデハ8700形、8516はデハ8800形からの先頭化改造車で、秩父7002、7202と同じように、3枚窓の非貫通顔になっている。</p>
			<p>
				これらのほか8718と8824が送られ、須坂に置かれているが、数年前にブリル27-MCBタイプの仮台車に履き替えられた<FootnoteReference>富永冴樹「<a href="https://blog.w0s.jp/151">27-MCB台車を履いた東急電車</a>」</FootnoteReference>。
			</p>
		</div>
	</Section>

	<Section slugger={slugger} id="ueda" heading="上田電鉄">
		<div class="p-text -col2">
			<p>1993(平成5)年に7200系10両が譲渡された。</p>
			<p>東洋車が大半であり、クハ7554のみ日立車だが、主幹制御器は東洋製にされていたため、他車との差異はジャンパ栓受程度であった。</p>
			<p>1998(平成10)年にワンマン化、2002年よりクハ7500形の台車更新が開始された。もともとはパイオニアⅢのTS-707形を履いていたが、東急末期にクハ8000形の台車更新で発生したTS-708形（ツインディスクブレーキへ改造済み）に交換されており、さらに上田で7551以外の4両が軸ばね式TS-835形に履き替えられた。</p>
			<p>2005(平成17)年には7253-7553と7255-7555が「まるまどりーむ号」となり、600V時代の「丸窓電車」を模した装飾を施され、室内も化粧板や座席モケットが替えられた（<a href="#errata-ueda-moquette">※訂正あり</a>）。</p>
			<p>2008(平成20)年には1000N′系が譲渡され、翌年にかけて8両が入線している。7200系は「まるまどりーむ号」以外の6両が廃車となり、うち7251-7551は豊橋鉄道、7252・7254は東急車輛製造へと再譲渡された。</p>
			<p>デハ1000形は運転台方にもシングルアーム式集電装置を増設し、連結面方もホーンが1本のタイプに換装された。このほか、連結面に転落防止装置設置、クハ1100形に車椅子スペース設置、1001(東急1315)に搭載されていた滑走防止装置の撤去などが行われている。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="izukyu" heading="伊豆急行">
		<div class="p-text -col2">
			<p>2005(平成17)年から8000系、8500系45両が譲渡された。当初は基本4連と付属2連の組み合わせであり、2連、4連、6連、また多客時など4+4の8連で運用されたこともあった。</p>
			<p>主な改造内容は、先頭車正面の密着自動連結器を電連付き密着式に交換、伊豆急とJR伊東線乗り入れ用の保安装置を搭載、正面スカートの設置などである。4連のうち、上り方から2両目のモハ8200形(M2)は東急デハ8100形(M1)からの改造車で、集電装置はそのままに床下機器が交換されている。2連のうち下田方のクモハ8150形は、デハ8100形またはデハ8700形に運転台を取り付けたものである。</p>
			<p>車内は、海側の座席が車端部を除きクロスシートとなり、またモハ8200形の上り方車端部山側にトイレ、クモハ8150形とモハ8200形の上り方車端部には車椅子スペースが設けられた。</p>
			<p>
				2連はクハ8050-クモハ8150の1M1Tであったが、第2編成からはクハが電動車クモハ8250形に変更された。外観では運転台方にシングルアーム式集電装置を搭載したのが目立つ。クハ8051も同様に改造されている。8256(東急8031)は東急末期の2001(平成13)年に補助電源装置を250kVA-SIVに換装していたが<FootnoteReference>高橋うさお「<LinkExternal href="https://web.archive.org/web/20040625234704/http://www.interone.jp/~tokyufan/109/log/tree_12.htm">Re:8031Ｆの新型ＳＩＶ</LinkExternal>」</FootnoteReference>、譲渡にあたり140kVA-MGに戻された。
			</p>
			<p>
				8012編成と8251編成は2007年より河津バガテル公園の装飾が施されている<FootnoteReference>伊豆急行「<LinkExternal href="http://www.izukyu.co.jp/dennsya/index.html">電車のご案内</LinkExternal>」</FootnoteReference>。
			</p>
			<p>2008(平成20)年には4連と2連をすべて3連に統一することになり、8000-8200-8150のA編成と8250-8100-8000のB編成に組み替えられた。これに伴い、B編成のクハ8000形にトイレと車椅子スペースを設置した。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="toyotetsu" heading="豊橋鉄道（渥美線）">
		<div class="p-text -col2">
			<p>2000(平成12)年に7200系30両が譲渡され、2代目1800系となった。</p>
			<p>部品車3両を除いて3連9本が組成され、うち6本は日立車、3本は東洋車の編成とされた。</p>
			<p>
				先頭車が多いため、モ1800形(東急デハ7200形)のうち3両は中間組込となり、車号も1810番台で区別された。2006(平成18)年には形式がモ1810形に変更され<FootnoteReference>ジェー・アール・アール「<LinkExternal href="https://www.amazon.co.jp/dp/4882832283/">私鉄車両編成表 ’07年版</LinkExternal>」 ISBN: 978-4-88283-228-7</FootnoteReference>、一部車両は主幹制御器や警笛などの部品を撤去したが、乗務員室自体は残されている。
			</p>
			<p>譲渡直後に1801、1811が火災被害を受け、部品車を同番号で整備し振り替えられた。旧1811は今も高師車庫の奥に残されている。</p>
			<p>2006(平成18)年よりク2800形の台車更新が行われ、東急クハ8000形が履いていたTS-815F形をTS-815Tに改称して履き替えている。なお、東急時代に化粧板修繕工事を受けた車両のうち、1995(平成7)年度の施工車である2804・2805はサハ7950形発生品のTS-835形に履き替えられており<FootnoteReference>台車形式はクハ7600形と同じくTS-839形とされた。また、豊鉄譲渡後に他車に合わせて「TS-815T」の銘板が取り付けられ、オリジナルの「TS-835」の銘板は撤去された。</FootnoteReference>、交換の対象外とされた。</p>
			<p>2008(平成20)年には上田電鉄で廃車になった2両が入線し、部品車7255をつなげた3両編成で再デビューした。2810の台車はTS-708形から他車と同じくTS-815T形へ履き替えられ、冷房電源のSIVは50kVAから90kVAへ換装された。</p>
			<p>2009(平成21)年にはク2800形MG搭載車のSIV化が行われた。初期に冷改された車両と新製時からの冷房車は日立製90kVA-MGを搭載していたが、2810と同じSIVへ更新された。</p>
			<p>また、集電装置はPT44形であるが（1812のみPT4304形）、2009(平成21)年よりシングルアーム化が進められている。その他にも1804・1805、2804・2805の先頭台車に増粘着材噴射装置を設置、一部先頭車の低圧27芯コネクタ撤去、シルバーシートモケット色変更など、少しずつ姿を変えている。</p>
			<p>2804編成と2807編成はそれぞれ青、黄を基調としたカラーリングを施され、「なぎさ号」、「なのはな号」と呼ばれている。2008(平成20)年以降、初春に「なのはな号」、夏季に「なぎさ号」が車内も含めて特別装飾されるが、2008年と2009年の「なのはな号」は、通常時と異なる2805編成にラッピングされていた。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="hokutetsu" heading="北陸鉄道（石川線）">
		<div class="p-text -col2">
			<p>1990(平成2)年に7000系10両が譲渡された。4両は中間車からの改造車で、車号は7200番台とされ、弘南鉄道と同じく切妻顔となっている。</p>
			<p>他の7000系譲渡車と異なり、活用されたのは車体など一部のみで、床下機器や集電装置は交換されている。台車は電動台車が住友金属製のFS342形、付随台車はDT21T形、TR64形、DT21B形の3種類の存在を確認している。主制御器はCS20形、MGはTDK-366形、CPも交換されたが再交換によって今はHB-1500形を搭載している<FootnoteReference>山本宏之「現有私鉄概説 北陸鉄道」 鉄道ピクトリアルNo.701（2001年5月号臨時増刊）</FootnoteReference>。主幹制御器は東急旧3000形の発生品を使用していたが、これも交換を行っている。</p>
			<p>モハ7000形、クハ7010形以外の8両は冷房を搭載したが、室外機を床下に搭載するタイプであり、冷風口は荷棚と吊手を一部撤去して4ヵ所設置されている。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="iga" heading="伊賀鉄道">
		<div class="p-text -col2">
			<p>2009(平成21)年より1000系が譲渡され、200系として編成ごとに忍者やマスコットキャラクターなどのラッピングを行っている。</p>
			<p>最初の2編成は、東横線所属ながら分割して目蒲線でも使用できるよう4+4の組成にした1000N系を改造したもので、中間組込先頭車だった102、202は正面扉が中央にある。103、203は他車とは逆向きに入線しており、床下機器や冷房装置の配置が逆になっている。</p>
			<p>VVVF主制御器は、201・202は池上・東急多摩川線で廃車になったデハ1200形から取り外したRG636形に換装、203以降は種車のままのRG621形である。このほか、ク100形にHS-10形空気圧縮機と120kVA-SIVを搭載している。モ200形の運転台方には下枠交差式パンタグラフが増設され、冬季を中心に使用するが、203のみ配置が逆なため、連結面方の下枠交差パンタを常時使用している。</p>
			<p>室内は側戸間1ヵ所がクロスシートとされ、荷棚や吊手を撤去、またク100形車端部には車椅子スペースが設置された。203の妻窓は室内から見て右側のみ二段窓になっているが、これは新製当初、日比谷線乗り入れのため妻面窓下にレスポンスブロックを取り付けていた名残である。下窓に窓戸錠があり、上昇できるようになっていたが、譲渡に際し開閉機構を止めている。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="mizuma" heading="水間鉄道">
		<div class="p-text -col2">
			<p>1990(平成2)年に7000系10両が譲渡された。</p>
			<p>4両は中間車からの改造車で車号は50番台とされ、弘南鉄道や北陸鉄道と同じく切妻顔であるが、上部に方向幕が設置された。当初はこの4両のみ冷房が搭載されたが、屋根上に本体を設置した本格的な冷房車で、電源装置は東急8000系グループから転用した50kVA-SIVをデハ7150形に搭載した。1991年には7001、7101も現地で冷改されている<FootnoteReference>渡辺健太郎、高嶋修一「現有私鉄概説 水間鉄道」 鉄道ピクトリアルNo.685（2000年5月号臨時増刊）</FootnoteReference>。</p>
			<p>2006(平成18)年から翌年にかけてATS搭載に伴うリニューアル工事が行われ、1000形として再デビューした。内装の更新が中心であるが、非冷房だった1001(旧7002)、1002(旧7102)はあわせて冷房搭載も行われた。1008(旧7152)は側引戸窓がHゴム支持であったが、7003と扉を交換してノーマルなタイプとなった。また、この車両は改造後まもなく補助電源装置が1002と同じ75kVA-MGに換装されている。</p>
			<p>
				7003-7103は改造の対象外となり、営業運転を外れて水間の車庫に留置されている。2008年には貝塚駅の待合室工事に伴い、1年間ほど2番線で“待合電車”となり、地元野菜の販売など地域イベントにも活用された<FootnoteReference>水鉄ファンネット「<LinkExternal href="https://web.archive.org/web/20130721043817/http://pub.ne.jp/sfnb/?entry_id=2079441">水間鉄道貝塚駅で水なす漬販売開始！（水なすヘッドマーク）</LinkExternal>」</FootnoteReference>。
			</p>
		</div>
	</Section>

	<Section slugger={slugger} id="kumamoto" heading="熊本電気鉄道">
		<div class="p-text -col2">
			<p>1981(昭和56)年に5000系2両（5043・5044）が譲渡された。架線電圧が600Vであるため、CPやMGの交換が行われたが、主制御器はオリジナルの東芝製PE-11形を引き続き使用した。</p>
			<p>CPはギヤ式のD-2-N形に交換された。これはデハ3450形など吊掛車に搭載されていたもので、東急線が600Vだった時代、将来の1500V昇圧を見込んで複電圧対応として造られた。東急では1993(平成5)年にデハ3499とデヤ3001が引退するまで現役であった<FootnoteReference>熊本電気鉄道が所有する個体を予備品も含めて調査したところ、銘板が残るものについては昭和20年代の製造とあり、さすがに初期の個体ではなかったが、いずれにしても骨董品である。</FootnoteReference>。</p>
			<p>MGは、他社からの中古品と思われるCLG-333形へ交換された。もともとはCLG-107形の両端に主抵抗器を接続して、送風機による強制通風冷却を行う構造であったが、MG搭載場所を変更してMR同士を近づけ、改めて新製した送風機を接続している。これは福島交通へ譲渡された5000系と同じ方式である<FootnoteReference>宮田道一「福島交通デハ5000形」 鉄道ジャーナルNo.170（1981年4月号）</FootnoteReference>。</p>
			<p>1985(昭和60)年にはさらに4両が、部品車2両とともに譲渡されたが、単行運転が可能なように両運転台のモハ5100形となり、あわせてワンマン対応化などの大改造が行われた。増設運転台方は貫通扉を設けた切妻3枚窓で、側面には乗務員扉こそないものの、形状の似た落とし窓が設けられた。ワンマン設備としては正面のバックミラー、車側灯付近の発車ベル、側戸脇の表示灯などが目立つ。また、5102・5104の増設方は右側運転台となっている。</p>
			<p>CPは先に入線したモハ5000形と同じくD-2-N形であるが、MGはTDK-359形へ変更された。MG調整器は新製されたものであり、オリジナルや寄せ集めが大半を占める床下で異彩を放っている。</p>
			<p>
				1988(昭和63)年には2両編成のうち5043の両運転台化が行われ、5105となった。他の4両と比較して、増設方の前照灯、尾灯の形状が異なり、車掌台側のみ乗務員扉が設置、パンタグラフが増設されて2丁に、また発車ベルが正面に設けられるなどの差異がある。ただし増設パンタは、のちに撤去された<FootnoteReference>Ｙｏｕ－ｅｎてっど「<LinkExternal href="http://www2.odn.ne.jp/~ccp10350/kikuden/aogaeru/aogaeru-main-06.html">蛙さんの活躍（その６）</LinkExternal>」</FootnoteReference>。なお、後年5103も増設パンタを除き5105と似た形態になっていた。
			</p>
			<p>東京都交通局から譲渡された6000形の増備に伴い廃車が進み、現在は2両が上熊本―北熊本間にて単行で運用されている。2004(平成16)年にはATS取付に伴い車号末尾に“A”が付き、車体塗装も東急グリーン一色へ変更された。また、連結運転の機会がなくなったため、増設方の幌常備を取り止めていたが、最近になって幌吊も撤去された。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="annnounce" heading="自動放送">
		<div class="p-text -col2">
			<p>ワンマン運転を行う車両の多くには自動放送が搭載されている。東急の譲渡車も豊橋鉄道渥美線以外の各路線で導入されており、機器や放送フレーズにさまざまなバリエーションが存在する。アナウンスは女性声によるものが多数派だが、上田電鉄の7200系下り列車と熊本電気鉄道は男性声である<FootnoteReference>上田電鉄7200系上り列車でも、平日朝ラッシュ時の一部区間のみ男性声の放送が行われる。</FootnoteReference>。</p>
			<p>放送機器は、数年前まで8トラテープ式が主流であったが、音声合成装置が普及した現在では熊本電気鉄道のみテープ式で残る。これによりきめ細かな案内が容易となり、時間帯によって放送内容を変えたり、交通運動など時期限定の案内を流す例が増えている。</p>
			<p>福島交通と北陸鉄道では広告放送が行われている。北鉄石川線は新西金沢のひとつ前の駅を発車した時点で北鉄自動車学校の案内が行われるのみだが、飯坂線ではほぼ全区間で沿線の店舗や医院などの宣伝が行われる。とくに福島寄りでは一駅間で2つの宣伝が流れる区間も多い。以前は熊本電鉄でも行われていたが、2008(平成20)年に中止されている（藤崎宮前―御代志間では現在も行われている）。</p>
			<p>最近は英語放送を導入する路線もあり、東急でも東横線と世田谷線以外で行われているが、北陸鉄道と秩父鉄道7000系、7500系も英語放送が導入されている。前者は主要駅到着時に最低限の案内を行うのみだが、後者は駅名や乗換情報だけでなく、マナー放送や一部扉締切の案内まで行われており、本家顔負けの充実ぶりである。</p>
			<p>
				変わった例として、福島交通の下り冬季バージョン<FootnoteReference>SaekiTominaga「<LinkExternal href="https://www.youtube.com/watch?v=q_yLCp89C9E">福島交通飯坂線 冬季の自動放送（下り飯坂温泉到着）</LinkExternal>」</FootnoteReference>が挙げられる。終点の飯坂温泉駅は2面1線の頭端式で、乗車と降車ホームが分かれているが、冬季は降車ホームが閉鎖されるので、専用の放送が用意されているのである。
			</p>
		</div>
	</Section>

	<Section slugger={slugger} id="epilogue" heading="おわりに">
		<div class="p-text -col2">
			<p>以上、駆け足ではあるが、国内の東急譲渡車を紹介させていただいた。本稿ではとくに基本的な事項のみを取り扱っており、物足りない思いをした方もおられるかと思うが、より詳しい解説や最新動向は随時ウェブでフォローしてゆくつもりである。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="errata" heading="正誤データ">
		<Section slugger={slugger} id="errata-ueda" depth={2} heading="上田電鉄" headingType="b">
			<Section slugger={slugger} id="errata-ueda-moquette" depth={3} heading="7200系「まるまどりーむ号」の座席モケット" headingType="c">
				<div class="p-box">
					<p>(誤) 2005(平成17)年には7253-7553と7255-7555が「まるまどりーむ号」となり、<b>（中略）</b>、室内も化粧板や座席モケットが替えられた。</p>
					<p>(正) 2005(平成17)年には7253-7553と7255-7555が「まるまどりーむ号」となり、<b>（中略）</b>、室内も化粧板や座席モケットが替えられた<ins>（7255-7555の座席モケットは後に交換）</ins>。</p>
				</div>

				<ul class="p-notes">
					<li>7255-7555 は「まるまどりーむ号」になった当初、座席モケットは従来の「橙・薄茶」モケットのままでした。ほどなく 7253-7553 と同じ赤モケットに交換されています。</li>
				</ul>
			</Section>
		</Section>
	</Section>
</Layout>
