---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import LinkPhoto from '@components/LinkPhoto.astro';
import Image from '@components/Image.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '東急電車のブレーキ制御装置',
	heading: 'ブレーキ制御装置',
	dateModified: dayjs('2010-07-01'),
	description: '7200系から新3000系までに搭載されたブレーキ制御装置を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/sty/bce/HD23.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/sty/', name: '車両形態' },
	],
};

const slugger = new GithubSlugger();
---

<Layout structuredData={structuredData}>
	<Section slugger={slugger} id="hsc" heading="電磁直通ブレーキ">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="hd23" depth={2} heading="7200系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/bce/HD23.jpg" type="image/jpeg">
								<Image path="tokyu/sty/bce/HD23.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-05-12 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デヤ7200（2次車）山側</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>HSC（High Speed Control）としては最後の新造形式となった7200系が装備しているブレーキ制御装置。自動ブレーキの作用は7000系までのA制御弁に代わり、M非常弁で非常ブレーキ（EB）のみ行っています。</p>
						<p>現在残るデヤ7200、デヤ7290は、運転台を電気指令式のワンハンドルタイプに更新するにあたり、CP圧力制御装置（このCPは Control Pipe の略）を搭載して主幹制御器からの電気信号を直通管（SAP）圧力へ変換しています。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="electric" heading="電気指令式ブレーキ">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="e6" depth={2} heading="8000系グループ、サヤ7590" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/bce/E6-M.jpg" type="image/jpeg">
								<Image path="tokyu/sty/bce/E6-M.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2005-12-24 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ8115（2次車）山側</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>8000系では全電気指令式ブレーキの<dfn>HRD</dfn>（High Response Digital）が採用されました。これは主幹制御器から3本の常用ブレーキ指令線を引き、0（オフ）と1（オン）の組み合わせによるデジタル指令を行うものであり、アナログ変換されたブレーキ指令を、ブレーキ制御装置で電気演算して空気ブレーキ制御装置へ送っています。</p>
						<p>
							1998年に新製された軌道検測車サヤ7590は、7200系では唯一HRDブレーキとなり、また<LinkPhoto href="https://media.w0s.jp/image/tokyu/sty/bce/abs-7590.jpg" title="サヤ7590山側"><!-- 撮影日: 2010-03-29 -->フラット防止装置（ABS）</LinkPhoto>が搭載されています。
						</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="e30" depth={2} heading="9000系、1000系、2000系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/bce/E30-A.jpg" type="image/jpeg">
								<Image path="tokyu/sty/bce/E30-A.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2007-04-21 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ9311（3次車）山側</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>9000系では、主幹制御器からの指令電送をアナログ信号で行う<dfn>HRA</dfn>（High Response Analog）となりました。ブレーキ制御装置はユニット方式を採用しています。</p>
						<p>
							ブレーキユニット右側に設けられる装置は、M車やM1車は受量器、Tc車はマスコン指令をDCに変換する指令器、M2車やT車は継電器となっています。なお、<LinkPhoto href="https://media.w0s.jp/image/tokyu/sty/bce/MCA001.jpg" title="デハ1318海側"><!-- 撮影日: 2007-04-15 -->M1c車の指令器</LinkPhoto>は、海側に単体で設置されています。
						</p>
						<p>またデハ1215、クハ1015にはフラット防止装置が搭載されていましたが、クハ1015は上田電鉄への譲渡にあたり撤去されました。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="e53" depth={2} heading="7600系、7700系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/bce/E53.jpg" type="image/jpeg">
								<Image path="tokyu/sty/bce/E53.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-08-19 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7713（5次車）山側</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>
							7600系、7700系は、当初は種車のままHSC-Rで竣工しましたが、遅れ込め制御などの実現のため海側に受量器が設置されました（ただし、後にT車から改造された<LinkPhoto href="https://media.w0s.jp/image/tokyu/sty/bce/7715.jpg" title="デハ7715山側"><!-- 撮影日: 2007-06-03 -->デハ7715の受量器</LinkPhoto>は山側にある。）
						</p>
						<p>7700系は4次車より全電気指令式となり、ブレーキ制御装置は換装されました。ほかの車両も7700系は1992年までに、7600系は室内更新時に改造されています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="e78" depth={2} heading="新3000系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/bce/E78-M1.jpg" type="image/jpeg">
								<Image path="tokyu/sty/bce/E78-M1.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2008-05-18 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ3212（2次車）山側</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>新3000系から使われているブレーキ制御装置は、9000系などと同じユニット構造ですが、主制御器のある電動車では、受量器類および継電器類が一体の箱に収められており、フラット防止装置も内蔵されているため3部屋構造となっています。</p>
						<p>
							主制御器のない車両は、受量器がない分<LinkPhoto href="https://media.w0s.jp/image/tokyu/sty/bce/E78-T.jpg" title="クハ3112山側"><!-- 撮影日: 2008-05-17 -->ユニット箱は小振り</LinkPhoto>です。
						</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="e80" depth={2} heading="300系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/bce/E80.jpg" type="image/jpeg">
								<Image path="tokyu/sty/bce/E80.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2005-11-30 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ304A（2次車）山側</span>
						</figcaption>
					</figure>

					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/bce/BSR70.jpg" type="image/jpeg">
								<Image path="tokyu/sty/bce/BSR70.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2007-10-21 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ309A（2次車）山側</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>世田谷線の300系が装備するブレーキ制御装置（上写真）で、下高井戸向きのA車に搭載されています。別置きで受量器（下写真）を装備します。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
