---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import H from '@components/H.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import LinkPhoto from '@components/LinkPhoto.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急電車の制御装置（抵抗制御、界磁チョッパ制御）',
	heading: '制御装置',
	subHeading: '抵抗制御、界磁チョッパ制御',
	dateModified: dayjs('2023-09-28'),
	description: '8000系グループまでの抵抗制御車に搭載された制御装置を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/sty/cont/MMC-HTR-20A_8117.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/sty/', name: '車両形態' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<table class="p-table -full">
		<caption>抵抗制御（高性能車）</caption>
		<thead>
			<tr>
				<th scope="col">搭載車種</th>
				<th scope="col">形式</th>
				<th scope="col">製造所</th>
				<th scope="col">登場年</th>
				<th scope="col">DCM 接続</th>
				<th scope="col">組合せ制御</th>
				<th scope="col">弱め界磁</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>5000系<small>（デハ5001〜5020）</small></td>
				<td><a href="#pe-11" class="c-link">PE-11A</a></td>
				<td rowspan="2">東芝</td>
				<td>1954年</td>
				<td rowspan="2">直巻 110kW×4</td>
				<td rowspan="2">直並列</td>
				<td rowspan="2">カム軸</td>
			</tr>
			<tr>
				<td>5000系G<small>（デハ5021<FootnoteReference>鉄道ファン 1985年3月号（No.287）「30才を迎えた“青ガエル”　東急5000系のあゆみ」（宮田道一、荻原俊夫） p.45</FootnoteReference>〜）</small></td>
				<td><a href="#pe-11" class="c-link">PE-11B</a></td>
				<td>1956年</td>
			</tr>
			<tr>
				<td>デハ200形</td>
				<td><a href="#ab-54-6mdb" class="c-link">AB-54-6MDB</a><FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/2313824/1/9">電気鉄道 1955年9月号（No.88）「東京急行玉川線の連接車」（白石安之） p.12</LinkExternal></FootnoteReference></td>
				<td>三菱</td>
				<td>1955年</td>
				<td>直巻 38kW×4</td>
				<td>永久直並列</td>
				<td class="u-cell -center">―</td>
			</tr>
			<tr>
				<td>6000系<small>（東洋車、A編成）</small></td>
				<td><a href="#es753-a" class="c-link">ACRF-H4100-753A</a><FootnoteReference>電気車の科学 1960年5月号（No.145）「東京急行新ステンレスカー6000形について」（白石安之） p.17</FootnoteReference></td>
				<td>東洋</td>
				<td>1960年</td>
				<td>複巻 100kW×4</td>
				<td>永久直列</td>
				<td>FR</td>
			</tr>
			<tr>
				<td>6000系<small>（東芝車、B編成）</small></td>
				<td><a href="#mm-101a" class="c-link">MM-101A</a><FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/3253820/1/53">東芝レビュー 1960年8月号（No.127）「新製品紹介」 p.949</LinkExternal></FootnoteReference></td>
				<td>東芝</td>
				<td>1960年</td>
				<td>複巻 85kW×4</td>
				<td>永久直列</td>
				<td>ブースター</td>
			</tr>
			<tr>
				<td>6000系<small>（東洋車、C編成）</small></td>
				<td><a href="#es753-a" class="c-link">ACRF-H4120-754A</a><FootnoteReference>鉄道ピクトリアル 1972年9月号（No.269）「私鉄車両めぐり〔93〕東京急行電鉄の車両」（荻原二郎、久原秀雄、宮田道一） p.78</FootnoteReference></td>
				<td rowspan="2">東洋</td>
				<td>1961年</td>
				<td>複巻 120kW×4</td>
				<td rowspan="2">永久直列</td>
				<td rowspan="2">FR</td>
			</tr>
			<tr>
				<td>7000系<small>（東洋車、1〜2次車）</small></td>
				<td><a href="#es754-a" class="c-link">ACRF-H860-754A</a><FootnoteReference>電気車の科学 1962年1月号（No.165）「東京急行の7000形オールステンレス・カーについて (1)」（白石安之） p.10</FootnoteReference></td>
				<td>1962年</td>
				<td>複巻 60kW×8</td>
			</tr>
			<tr>
				<td>7000系<small>（東洋車、3〜10次車）</small></td>
				<td><a href="#es754-a" class="c-link">ACRF-H860-757A</a></td>
				<td>東洋</td>
				<td>1963年</td>
				<td>複巻 60kW×8</td>
				<td>永久直列</td>
				<td>FR</td>
			</tr>
			<tr>
				<td>7000系<small>（日立車）</small></td>
				<td><a href="#mmc-htr-10a" class="c-link">MMC-HTR-10A</a><FootnoteReference><LinkExternal href="https://hitachirev-pdfsearch.himdx.net/cgi-bin/rev/search/jp/index.cgi?rm=thumbnail;url=https%3a%2f%2fwww%2ehitachihyoron%2ecom%2fjp%2fpdf%2f1965%2f05%2f1965_05_08%2epdf">日立評論 1965年5月号「東京急行電鉄株式会社納7000形電車用停車用電力回生ブレーキ付電気品」（今泉藤麿、樋口徹、神谷清） p.45</LinkExternal></FootnoteReference></td>
				<td>日立</td>
				<td>1963年</td>
				<td>複巻 70kW×8</td>
				<td>直並列</td>
				<td>カム軸</td>
			</tr>
			<tr>
				<td>7200系<small>（日立車）</small></td>
				<td><a href="#mmc-htr-10b" class="c-link">MMC-HTR-10B</a></td>
				<td>日立</td>
				<td>1967年</td>
				<td>複巻 110kW×4</td>
				<td>直並列</td>
				<td>カム軸</td>
			</tr>
			<tr>
				<td>7200系<small>（東洋車）</small></td>
				<td><a href="#es764-a" class="c-link">ACRF-H4110-764A</a></td>
				<td>東洋</td>
				<td>1967年</td>
				<td>複巻 110kW×4</td>
				<td>直並列</td>
				<td>FR</td>
			</tr>
		</tbody>
	</table>

	<table class="p-table -full">
		<caption>抵抗制御（界磁チョッパ制御）</caption>
		<thead>
			<tr>
				<th scope="col" rowspan="2">搭載車種</th>
				<th scope="col" colspan="2">形式</th>
				<th scope="col" rowspan="2">製造所</th>
				<th scope="col" rowspan="2">登場年</th>
				<th scope="col" rowspan="2">DCM 接続</th>
				<th scope="col" rowspan="2">備考</th>
			</tr>
			<tr>
				<th scope="col">主制御器</th>
				<th scope="col">界磁チョッパ</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>8000系<small>（1〜4次車）</small></td>
				<td><a href="#mmc-htr-20a" class="c-link">MMC-HTR-20A</a></td>
				<td>形式表記なし</td>
				<td>日立</td>
				<td>1969年</td>
				<td>複巻 130kW×8</td>
				<td></td>
			</tr>
			<tr>
				<td>8000系G<small>（5〜11次車）</small></td>
				<td><a href="#mmc-htr-20c" class="c-link">MMC-HTR-20C</a></td>
				<td>CH-SF101A, B</td>
				<td>日立</td>
				<td>1974年</td>
				<td>複巻 130kW×8</td>
				<td></td>
			</tr>
			<tr>
				<td>8000系G<small>（12〜16次車）</small></td>
				<td rowspan="2"><a href="#mmc-htr-20f" class="c-link">MMC-HTR-20F</a></td>
				<td>CH-SF101C</td>
				<td>日立</td>
				<td>1980年</td>
				<td rowspan="2">複巻 130kW×8</td>
				<td>16次車は組込のみ</td>
			</tr>
			<tr>
				<td>8000系G<small>（16〜20次車）</small></td>
				<td>CH-SF111</td>
				<td>日立</td>
				<td>1984年</td>
				<td>16次車は編成のみ</td>
			</tr>
			<tr>
				<td>8000系G<small>（単 M 車）</small></td>
				<td><a href="#mmc-htr-10d" class="c-link">MMC-HTR-10D</a></td>
				<td>ユニット準ず</td>
				<td>日立</td>
				<td>1982年<FootnoteReference>実際の機器の製造初年は1981年。</FootnoteReference></td>
				<td>複巻 130kW×4</td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<ul class="p-notes">
		<li>機器形式は脚注のあるものを除き現車調査による。</li>
		<li><q>東芝</q>は東京芝浦電気の略、<q>東洋</q>は東洋電機製造の略、<q>日立</q>は日立製作所の略、<q>三菱</q>は三菱電機の略。</li>
		<li>旧7000系の東洋電機車には ACRF-H860-759A 型も存在したようだが、詳細は不明。現車調査では発見できていない。</li>
		<li>機器の登場年は東急電車でその機器が初めて搭載された車両の入籍日ないし改造日を基準としており、機器の実際の製造初年とは限らない。なお、製造銘板で実際の製造初年が判明しているものについては脚注にて補足している。</li>
	</ul>

	<Section id="old">
		<H slot="heading">旧性能車（概略）</H>

		<div class="p-text">
			<p>吊り掛け駆動の旧性能車については機器の詳細には踏み込まず、全体的な概略を述べるに留めます。また電動貨車、電気機関車、ガソリン動車および玉川線系統の路面電車については触れません。</p>
			<p>目黒蒲田電鉄の開業に向けて1922年に製造されたデハ1形、および翌1923年に増備されたデハ6形<small>（いずれも後にモハ1形に統合）</small>は直接制御であったものの、1924〜1926年に鉄道省の木造電車の払い下げを受けたデハ20形、30形、40形は運転台のマスコン指令を床下に配した主制御器（複式制御器）で受ける<dfn>間接制御</dfn>であり、舶来品の電磁スイッチ式が搭載されていました。</p>
			<p>同時期の新造車では1925年のデハ100形<small>（後のデハ3100形→サハ3100形）</small>に圧縮空気によるエンジンでカム軸を回転させる<dfn>電空カム軸</dfn>式で自動進段の PR-150 型<small>（鉄道省形式 CS-2）</small>が搭載されたのを皮切りに、1928年のモハ500形<small>（後のデハ3400形）</small>に PR-200 型、そして1931年のモハ510形<small>（後のデハ3450形）</small>の一部に PR-1Y1 型といった具合に、ほとんどの車両に日立製作所の機器が搭載されました。</p>
			<p>一方、新造車以外では東洋電機製造の機器を搭載した車両も若干数存在しました。同社はイギリス English Electric 社と技術提携を結んでおり、その技術によりカム軸を電動機で回転させる<dfn>電動カム軸</dfn>式の主制御装置を国産化、EE 社の前身である Dick, Kerr 社の名前から<dfn>デッカーシステム（DK システム）</dfn>とも呼ばれ、新京阪鉄道（現：阪急電鉄）の P-6 形電車に採用されたのが有名なところです。しかし目黒蒲田電鉄と東京横浜電鉄では限定的な採用に留まったため、東京急行電鉄成立後は異端の車両となり、運用面の制約からデハ3250形は早期に廃車されてしまったのは有名な話です。下表に東洋電機製の採用事例をまとめます。このほか池上電気鉄道の甲号電車→目黒蒲田電鉄モハ15形も間接制御で、電機品は東洋電機製造のものを使用していたようですが、主制御器も間違いなく東洋電機製なのかどうかその形式も含めて詳細は不明です。</p>
		</div>

		<table class="p-table">
			<caption>東洋電機製造の主制御器を搭載した旧性能車両</caption>
			<thead>
				<tr>
					<th scope="col" colspan="2">車両形式</th>
					<th scope="col" rowspan="2">事由</th>
					<th scope="col" rowspan="2">搭載時期</th>
					<th scope="col" rowspan="2">主制御器</th>
					<th scope="col" rowspan="2">備考</th>
				</tr>
				<tr>
					<th scope="col">目蒲、東横</th>
					<th scope="col">東急</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>モハ300形</td>
					<td>デハ3200形</td>
					<td>クハ1形の電装化</td>
					<td>1928年</td>
					<td>ES-504</td>
					<td>モハ306 のみ、後に日立に統一(?)<FootnoteReference>レイル 1979年7月号（No.16）「東横電鉄、目蒲電鉄　初期の車輛」（荻原二郎） p.34</FootnoteReference></td>
				</tr>
				<tr>
					<td>モハ120形</td>
					<td rowspan="2">デハ3250形</td>
					<td rowspan="2">池上電気鉄道の引継車</td>
					<td>1928年</td>
					<td rowspan="2">ES-155</td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>モハ130形</td>
					<td>1930年</td>
				</tr>
				<tr>
					<td>モハ1形</td>
					<td class="u-cell -center">―</td>
					<td>直接制御車の間接化</td>
					<td>1932年<FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/1114809/1/75">鉄道講習会講演集「過去十箇ケ年間に於ける電車の修繕費と故障に就て」（小宮次郎） p.141</LinkExternal></FootnoteReference></td>
					<td rowspan="2">ES-158</td>
					<td>1940年頃に鉄道省払下車と制御装置を交換</td>
				</tr>
				<tr>
					<td>モハ150形</td>
					<td>デハ3300形</td>
					<td>鉄道省払下車の鋼体化</td>
					<td>1940年頃</td>
					<td>モハ1形と交換、戦後に日立 MMC 化<FootnoteReference>鉄道ピクトリアル 1972年9月号（No.269）「東京急行電鉄旅客車一覧表」 p.77</FootnoteReference></td>
				</tr>
			</tbody>
		</table>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/sty/cont/ES504.jpg" alt="" width={485} height={162} quality={60} />
					</div>
					<figcaption class="c-caption">
						<span class="c-caption__title">新京阪鉄道 P-6 形電車にも搭載された電動カム軸制御器 ES-504 型<br />（<LinkExternal href="https://dl.ndl.go.jp/pid/1190932/1/91">交通電氣博ポスター選集</LinkExternal>より転載）</span>
					</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>さて、1939年のモハ1000形<small>（後のデハ3500形）</small>では日立も電動カム軸を採用し（MC-200 型）、さらに同年には多段式制御の MMC-200 型が開発されました。これはカム接触器をカム軸の上下2段に配し、さらにカム軸は直列制御で1回転の後、並列切り換えを行いさらに1回転する<dfn>1方向2回転制御</dfn>を行うことで従来の2倍以上のノッチ数である21ノッチを実現しながらも小型軽量化を達成した画期的なもので<FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/2364356/1/10">電氣協會雑誌 1939年8月号（No.212）「MMC制御器に就て」（平田憲一） pp.15–16</LinkExternal></FootnoteReference>、1940年にまずモハ1009, 1010 の2両に搭載されました<FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/1124913/1/344">『東京横浜電鉄沿革史』第六編第三章第四節二「車輛の主なる改造工事」p.515</LinkExternal></FootnoteReference>。</p>
			<p>戦後の1948年、運輸省規格型のデハ3700形には国鉄制式の電空カム軸式 CS-5 型が搭載され、当初は弱め界磁制御を有していました。1952年から東横線を皮切りに鉄道各線の 1500V 昇圧が行われますが、これと前後して MMC-H-10 型が登場<FootnoteReference>鉄道ファン 1981年7月号（No.243）「東急3450形物語2」（宮田道一、荻原俊夫） p.75</FootnoteReference>、デハ3700形を含め在来型を置き換えてゆきます。これにより1970年代中には旧3000形グループの主制御器は MMC-H-10 型への統一が図られました。</p>
		</div>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/sty/cont/MMC-H-10K_towada3603.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2006-04-30 -->
					</div>
					<figcaption class="c-caption">
						<span class="c-caption__title">旧性能車で最後に導入された MMC-H-10K 型、機器単体で見れば8000系1次車より新しい<br />（十和田観光電鉄モハ3603 ← 東急デハ3655）</span>
					</figcaption>
				</figure>
			</div>
		</div>
	</Section>

	<Section id="new">
		<H slot="heading">高性能車</H>

		<Section id="pe-11" depth={2} headingType="b">
			<H slot="heading">PE-11A<small>（旧5000系・デハ5001〜5020）</small>、PE-11B<small>（旧5000系・デハ5021〜、5200系）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/PE11A_nagano2510.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-12-09 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器、PE11-A】</b>長野電鉄モハ2510（東急デハ5015）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/PE11B_kumamoto5102A.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-05-06 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器、PE11-B】</b>熊本電気鉄道モハ5102A（東急デハ5032）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/JP15-A_gakunan5102.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2005-11-15 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>岳南鉄道モハ5002（東急デハ5028）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MR_matsumoto5005.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2010-06-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主抵抗器&amp;MG】</b>松本電気鉄道モハ5005（東急デハ5055）</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>黎明期の高性能車両として名高い旧5000系ですが、制御装置は東京芝浦電気（現：東芝）の MPE 型が使用されました。MPE 型制御装置はカム軸が抵抗短絡用と直並列切り換えや弱め界磁用などの2軸に分かれており、これらをフリーホイールを介し一つの電動機で操作するタイプであり、同じ年の京阪神急行電鉄（現：阪急電鉄）1000形にも導入されています。PE-11 型の運転上の主な特徴としては「弱め界磁」「マスコン操作による高加速」「電気ブレーキと制動ノッチ選択」が挙げられます。</p>
				<p>弱め界磁機能は旧デハ3700形に続き導入されたものですが、3700形の CS-5 型とは異なり直巻電動機の回路に界磁分路を設けてその誘導抵抗（インダクティブ・シャント）により界磁を制御する方式で、その界磁分路抵抗器は主制御器箱の向かって左端の突き出た部分に格納されています。デハ3800形では省略されていた弱め界磁を実装したのは当時休止されていた東横線の急行運転復活を見越してのものでしたが<FootnoteReference>清和 1954年11月号（No.181）</FootnoteReference>、旧5000系では並列最終段に達した後の高速域だけでなく、起動時の力行1ノッチ段においても弱め界磁起動によるスムーズな発進が行われます。</p>
				<p>運転台のマスコンは4ノッチまで存在しますが、後の車両におけるスタンダードな区分と異なり、3ノッチで並列切り替えののち弱め界磁最終段まで進み、4ノッチは限流値を増加させて加速度を高める<dfn>高加速</dfn>モードとされているのが特徴です。高加速機能自体は目新しいものではなく、旧3000形グループでは運転台右上の押スイッチ操作によるものだったのが、旧5000系ではマスコン操作へ変更されたものとなります。ちなみに後年、8500系が地下鉄乗り入れのために高加速モードを装備した際は運転席背面の限流値増スイッチを操作する方式とされました。</p>
				<p>ブレーキは電気ブレーキが導入されましたが、惰行中にブレーキハンドルを “準備” 位置に移すと電気ブレーキ回路に微弱な電流を流し、そのときの速度に応じてカム軸位置を追従させることで電気ブレーキのスムーズな立ち上がりを実現、これが<dfn>ノッチ選択</dfn>機能と呼ばれますが、北米の PCC カーなどで導入されていた<dfn><span lang="en">spotting</span>（スポッティング）</dfn>と同じ機構です。また制動力不足の際の空気ブレーキ補足や低速域での電空切り替わりも自動で行われます。断流器は L1 〜 L3 に電気ブレーキ用の L4 が加えられ4個となりました。</p>
				<p>主抵抗器は<a href="/tokyu/sty/aps#clg107">電動発電機（MG）</a>の両脇に配置されて送風機を介し強制空冷される方式で、同様のものは国鉄モハ90形（101系）でも採用されました。譲渡車ではこの部分を改造した例が多く、長野電鉄譲渡車では<LinkPhoto href="https://media.w0s.jp/image/tokyu/sty/cont/MR_nagano2510.jpg" title="長野電鉄モハ2510"><!-- 撮影日: 2006-08-06 -->自然通風式の抵抗器</LinkPhoto>に換装され MG も移設、また福島交通と熊本電気鉄道の譲渡車は降圧改造による MG 換装により送風機直結方式が取り止められました。</p>
				<p>増備に伴う変更点として、主抵抗器の冷却は当初は室内から空気を取り入れていたのが1956年の 5017F より外気からの取り入れに変更され<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/4777052206/">RM LIBRARY 98 東京急行電鉄5000形</LinkExternal>（宮田道一、守谷之男） p.45</FootnoteReference>、また同年の 5021F 以降は主制御器が改良された PE-11B 型となりました。</p>
				<p>現在は譲渡車で最後まで残った熊本電気鉄道モハ5101A が北熊本車庫で動態保存されており、前述のとおり降圧化改造により主抵抗器の冷却部分は改造がなされているものの主制御器自体は東急時代のものが引き続き使用されています。このほか静態保存で残っている個体もわずかながら存在し、そのうち松本電気鉄道モハ5005<small>（群馬県赤城南麓で保存）</small>と上田交通モハ5201<small>（総合車輌製作所横浜事業所で保存）</small>の2両は MG による冷却機構を含めて原形に近い貴重な存在です。また長野電鉄モハ2510<small>（総合車輌製作所横浜事業所で復原工事中）</small>は現存する唯一の PE-11A 型を搭載しています。</p>
			</div>
		</Section>

		<Section id="ab-54-6mdb" depth={2} headingType="b">
			<H slot="heading">AB-54-6MDB<small>（デハ200形）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<div class="c-flex">
						<div class="c-flex__item">
							<figure class="c-fit">
								<div class="p-embed -border">
									<img src="/assets/image/noimage-485x243.svg" alt="No Image" lang="en" width="485" height="243" />
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>

			<div class="p-text">
				<p>1955年に登場した軌道線（玉川線）用デハ200形はそれまでの手動進段車とは一線を画し、間接制御による自動進段式となりました。</p>
				<p>2両連接の主電動機4台制御ですが、主回路は2個直列を2群に分けて並列繋ぎした永久直並列繋ぎとされ、直列⇔並列の切り替えはありません。マスコンは4ノッチまであり、2ノッチで最終段に達しますが、2〜4ノッチでは限流値を変えることで加速度が変化するのが路面電車らしいところです。</p>
				<p>ブレーキは電気ブレーキを装備しており、ブレーキハンドル位置により3段階の減速度を調整できます。<a href="#pe-11">鉄道線の旧5000系</a>と同様にスポッティングの機能を装備しており、応答性の高さがアピールされていましたが、実際の運転ではデッドタイムが気になるという感想も見られ<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/4811706056/">世田谷のちんちん電車≪玉電今昔≫</LinkExternal>「タルゴ君の夜話」（飯島巌） p.153</FootnoteReference>、必ずしも理屈どおりとはいかなかったようです。</p>
				<p>また、当初はブレーキハンドルを切位置に戻さないと力行が始まらなかったため、上り勾配での発進時に緩いブレーキを掛けながら力行を行う運転テクニック（現代の電車でいう<dfn>勾配起動</dfn>）が使えなかったものの、これは後の改造により改善されたようです<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/4811706064/">世田谷・たまでん時代</LinkExternal>「座談会　戦前戦後の玉電意外史」（山本孫太郎、荻原二郎、坂戸直輝、宮田道一） p.67</FootnoteReference>。</p>
				<p>超低床車体のボディーマウント構造なため、台車やパンタグラフ以外の室外機器の様子を伺うことはできませんが、新造時の見聞<FootnoteReference>電気車の科学 1955年8月号（No.88）「お手並み拝見　東京玉川線に国産タルゴ現る」（T記者）p.58</FootnoteReference>によると主制御器と断流器はパンタグラフのない第2位車（渋谷方の車体）の海側に、主抵抗器は同じく第2位車の屋根上（二重屋根の内部）に搭載されていたようです。</p>
				<p>世田谷線には引き継がれず玉川線廃止とともに引退し、現在は電車とバスの博物館にデハ204 が保存されていますが、機器が現存しているかどうかは不明です。</p>
			</div>
		</Section>

		<Section id="es753-a" depth={2} headingType="b">
			<H slot="heading">ACRF-H4100-753A<small>（旧6000系・A編成）</small>、ACRF-H4120-754A<small>（旧6000系・C編成）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/ES754A_konan6006.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-04-30 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>弘南鉄道デハ6006（東急デハ6006）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/RG305-B_konan6006.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-07-23 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁調整器】</b>弘南鉄道デハ6006（東急デハ6006）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/SA_konan6008.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-09-03 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>弘南鉄道デハ6008（東急デハ6008）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MR_konan6008.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-09-03 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【限流抵抗器&amp;主抵抗器】</b>弘南鉄道デハ6008（東急デハ6008）</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>1960年に登場した旧6000系は主電動機に複巻電動機を使用した平坦線向け回生ブレーキ電車で、東急電鉄の鉄道線車両では初めて電動車が2両ユニット構成となりましたが、主電動機は<a href="/tokyu/sty/truck_ts300#ts315">台車</a>の中央にひとつ搭載され2軸駆動を行うモノモータータイプのため、ユニット車でありながら主制御器が担当する主電動機は4台となります。また主電動機は永久直列とされ、組み合わせ制御は行われません。</p>
				<p>電機品メーカーは東洋電機製造と東京芝浦電気（現：東芝）があり、落成順に東洋電機車はA編成、<a href="#mm-101a">東芝車</a>はB編成と呼称されました。翌年の増備車は東洋製のC編成となり、A編成と比べて主電動機出力が 100kW → 120kW へ増強されています。電機メーカーによる大きな違いは分巻界磁電流の制御にあり、東洋電機車では超多段の界磁調整器を使用しているのが何よりの特徴で、これは<a href="#tdk-fr">後述のコラム</a>にて詳説します。</p>
				<p>もう一つの特徴は、力行でカム軸が最終段に到達した後に惰行へ移行すると、断流器は閉じた状態、すなわち主回路を架線に接続したまま主電動機の逆起電力が架線電圧と同じになるよう分巻界磁電流を強めることで電機子電流をゼロにする<dfn>惰行制御</dfn>（あるいは<dfn><ruby>0A<rp>（</rp><rt>ゼロアンペア</rt><rp>）</rp></ruby>制御</dfn>とも）が行われることです。惰行中も走行抵抗や勾配により速度は変化しますが、主電動機の定格速度を下回るまでは常に 0A 状態を維持するよう追従し、これにより再力行あるいは回生ブレーキ投入の応答性が向上しています。この制御は類似システムを持つ旧7000系と7200系の東洋電機車はもちろん、界磁チョッパ制御の8000系グループまで続くことになります。</p>
				<p>さて、1969年頃より電車の制御装置に IC を使用して無接点化を図ったものが登場し、有名どころでは国鉄103系の地下鉄乗り入れ車に搭載された CS40 型が挙げられますが、この旧6000系用の主制御器も1974年より改修工事が行われ、左側の部屋に納められている各種増幅器が IC 化<FootnoteReference>東洋電機技報 1974年7月号（No.20）「東京急行電鉄6000形，7000形電車の制御装置の更新」 pp.10–16</FootnoteReference>、また同時期に主抵抗器や限流抵抗器も更新されました（上記掲載写真はいずれも更新後のもの）。</p>
				<p>現在は弘南鉄道大鰐線にC編成が1編成のみが残っていますが、本線で動くことはまずありません。</p>
			</div>

			<Section id="tdk-fr" depth={3} headingType="c" class="p-box">
				<H slot="heading">磁気増幅器制御の整流子型界磁調整器による弱め界磁制御</H>

				<div class="p-text">
					<p>抵抗制御車の力行において、速度上昇に伴い主電動機の回転が速くなるにつれ逆起電力が増加してゆきますが、低速域では抵抗を徐々に減らしてゆくことで主電動機に流れる電流を調整し、一定の加速度を維持します。すべての抵抗が短絡した後は、本来であれば回転力の伸びが大幅に低下し加速度が落ちてゆくところ、界磁に流れる電流を弱めて逆起電力を減らすことでその低下度を抑えることができ、これを<dfn>弱め界磁制御</dfn>と呼びます。</p>
					<p>界磁電流を弱める制御にはいくつかの方法があり、後年はサイリスタチョッパを使用した<dfn>界磁チョッパ制御</dfn>が8000系に採用されたのが有名ですが、それ以前の旧6000系〜7200系では電機メーカーにより異なる制御が行われており、このうち東洋電機車では超多段式の抵抗器である<dfn>界磁調整器（FR）</dfn>が使用されました。</p>
					<p>これは PCC カーの超多段式制御装置に着想を得て<FootnoteReference>R&amp;m 2008年4月号「自動制御・低速運転制御　誕生の頃　―永渕澄夫氏（東洋電機製造OB）に聞く―」（福原俊一） p.55</FootnoteReference>、1959年の京阪電気鉄道1651-1652（スーパーカー試験車）および2000系（スーパーカー量産車）に採用されていたもので、機器の下部に円盤状の整流子があり、その外周部を磁気増幅器で制御されたサーボモーター駆動による接触子が回転しながら摺動することで200段を超える抵抗制御を実現しています。前述のとおり惰行中も主回路は接続されたままですから、運転士のマスコンないしブレーキハンドル操作に応じてこの装置で界磁電流を調整するだけで再力行と回生ブレーキを実現しているものとなります。</p>
					<p>同時期の旧7000系〜7200系にて、日立車がカム軸による弱め界磁制御をしていたのを比べると野心的なシステムではあったのでしょうが、鉄道事業者によっては故障に泣かされたようで、旧7000系の東洋電機車が譲渡された福島交通では晩年、保守に苦労していたことが語られています<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/B07HSK3H4M/">鉄道ジャーナル 2018年12月号（No.626）「譲渡車両の知られざる現実　福島交通飯坂線1000系導入秘話」（三浦祥兒） p.58</LinkExternal></FootnoteReference>。それでも旧6000系と同じ年に同様のシステムを導入した京阪神急行電鉄（現：阪急電鉄）京都線の2300系が冷房改造時に界磁チョッパ方式に改造されたのと比べると、東急電鉄では7200系東洋電機車が2000年に引退するまで使われ続け、今なお弘南鉄道や豊橋鉄道など複数の譲渡先で現役であるのは長寿の部類にあると言えるのかもしれません。</p>
				</div>

				<div class="c-flex">
					<div class="c-flex__item">
						<figure class="c-fit">
							<div class="p-embed -border">
								<Image path="tokyu/sty/cont/RG305-B_fukushima7105.jpg" alt="写真拡大" width={360} height={360} quality={60} link={true} />
								<!-- 撮影日: 2017-08-26 -->
							</div>
							<figcaption class="c-caption">
								<span class="c-caption__title">旧7000系の界磁調整器<br />（福島交通デハ7105 ← 東急デハ7158）</span>
							</figcaption>
						</figure>
					</div>
					<div class="c-flex__item">
						<figure class="c-fit">
							<div class="p-embed -border">
								<Image path="tokyu/sty/cont/TA_fukushima7105.jpg" alt="写真拡大" width={360} height={240} quality={60} link={true} />
								<!-- 撮影日: 2017-08-26 -->
							</div>
							<figcaption class="c-caption">
								<span class="c-caption__title">旧7000系の磁気増幅器ユニット（IC 化後）、左端が FR 用<br />（福島交通デハ7105 ← 東急デハ7158）</span>
							</figcaption>
						</figure>
					</div>
				</div>
			</Section>
		</Section>

		<Section id="mm-101a" depth={2} headingType="b">
			<H slot="heading">MM-101A<small>（旧6000系・B編成）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<div class="c-flex">
						<div class="c-flex__item">
							<figure class="c-fit">
								<div class="p-embed -border">
									<img src="/assets/image/noimage-485x243.svg" alt="No Image" lang="en" width="485" height="243" />
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>

			<div class="p-text">
				<p>旧6000系は<a href="#es753-a">前述</a>のとおり電機品メーカーにより制御方式に違いがあり、東洋電機車（A, C編成）では分巻界磁電流を界磁調整器で制御していたのに対し、東芝車（B編成）では<a href="/tokyu/sty/aps#clg320">電動発電機（MG）</a>の軸端に設置されたブースターによる制御が行われていた違いがあります。このブースターはアンプリスタット（磁気増幅器）によってその界磁電流が制御されます。</p>
				<p>構造上の違いとしては、断流器を横付けしたために東洋電機車と比べ大型（横長）の箱となりました。</p>
				<p>東急電鉄に続き京阪神急行電鉄（現：阪急電鉄）神宝線の2000系、2100系でも同様のシステムが採用されましたが、どちらも保守には手を焼いていたようで、東急6000系は1969年に回生ブレーキを停止<FootnoteReference>鉄道ピクトリアル 1972年9月号（No.269）「私鉄車両めぐり〔93〕東京急行電鉄の車両」（荻原二郎、久原秀雄、宮田道一） p.73</FootnoteReference>、京阪神も昇圧工事の際にやはり機能を撤去され<FootnoteReference>鉄道ピクトリアル 1998年12月臨時増刊号（No.663）「阪急　車両技術発達史」（篠原丞） p.195</FootnoteReference>、この方式は電気鉄道で主流になることなく終わりました。</p>
				<p>旧6000系B編成は晩年 VVVF インバータ制御の試験車として改造され、この制御装置は1984年に消滅しました。</p>
			</div>

			<Section id="mcm" depth={3} headingType="c" class="p-box">
				<H slot="heading">東芝 MCM パッケージ型主制御器</H>

				<div class="p-text">
					<p>旧6000系B編成の主制御器は東芝の資料によると <dfn>MCM 型</dfn>として区分されていますが<FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/3253820/1/53">東芝レビュー 1960年8月号（No.127）「新製品紹介」 p.949</LinkExternal></FootnoteReference>、本来の MCM 型の特徴とはかなり違いがあります。</p>
					<p>もともと MCM とはアメリカ <span lang="en">General Electric</span> 社による制御装置の区分であり、1950年代初頭に電動カム軸式で主抵抗器など関連する機器を一つの箱に収めた<dfn><span lang="en">package type</span>（パッケージ型）</dfn>として登場したものです。日本の電車に関係する契機は、1955年にシカゴの高架鉄道 Chicago "L" 6000シリーズにおける試験において軽量化、高速化の点で画期的な結果を残したことに東京芝浦電気が注目し、名称もそのままに東芝の MCM 型として採用された経緯があります<FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/3253771/1/45">東芝レビュー 1956年9月号（No.80）「電気鉄道技術における最近の傾向と問題(2)」（森佐一郎、鳥居泰之助、脇屋秋夫、内田曙男） pp.1071–1072</LinkExternal></FootnoteReference>。</p>
					<p>1956年に最初に採用されたのは阪神電気鉄道のジェットカー試験車、および神戸市電の新造車です。構造は GE 社のものとほぼ同じで、中央部に強制通風式の主抵抗器と、その両側に2台の電動カム軸すなわち抵抗制御用の<dfn>KMR</dfn>と力行／ブレーキ、前進／後進など回路切り換え用の<dfn>KMC</dfn>を配し、機器の脇からは主抵抗器冷却用のダクトが出ているのが外観の特徴ともなっています。</p>
					<p>1958年の名古屋鉄道5500系では KMR、KMC の2種類のカム軸を一つの電動機で操作する方式となり、後に改良型が7000系（パノラマカー）や7700系にも大量採用されて名鉄線内で一世を風靡します。</p>
					<p>一方、1959年の阪神5101形、5201形（ジェットカーの量産車）では主抵抗器一体型を止めごく一般的なタイプとなりました。形式も MC ではなく MM とされ、こうなると GE 社から派生した当初の面影はなくなったように思えますが、それでもあくまで MCM 型の一員であったようです。</p>
					<p>同年の東急6000系向けでは断流器を横付けする大きな変化があったためか、型番が MM-101 と3桁数字になったものの、その後の製品は MM-11, MM-12, ……と2桁に戻っています。ここまでの採用例を一覧にしてみましょう<FootnoteReference>東芝レビュー 1957年4月号（No.87）、1959年3月号（No.110）、1960年3月号（No.122）のそれぞれ「電気鉄道」の章に記載されたデータを元に作成。</FootnoteReference>。</p>
				</div>

				<table class="p-table">
					<caption>初期の東芝 MCM 型主制御器</caption>
					<thead>
						<tr>
							<th scope="col">型式</th>
							<th scope="col">製造初年</th>
							<th scope="col">搭載車種</th>
							<th scope="col">特徴</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>MC-1A</td>
							<td>1956年</td>
							<td>阪神電気鉄道 1121形（1130）</td>
							<td>ジェットカー試験車</td>
						</tr>
						<tr>
							<td>MC-2A</td>
							<td>1956年</td>
							<td>神戸市交通局 1150形（1153〜1158）</td>
							<td>和製 PCC カー</td>
						</tr>
						<tr>
							<td>MC-3A</td>
							<td>1958年</td>
							<td>阪神電気鉄道 5001形</td>
							<td>ジェットカー試作車、永久並列接続</td>
						</tr>
						<tr>
							<td>MC-11A</td>
							<td>1958年</td>
							<td>名古屋鉄道 5500系（1次車）</td>
							<td>冷房車</td>
						</tr>
						<tr>
							<td>MC-11B</td>
							<td>1959年</td>
							<td>名古屋鉄道 5500系（2次車）</td>
							<td>冷房車</td>
						</tr>
						<tr>
							<td>MM-10A</td>
							<td>1959年</td>
							<td>阪神電気鉄道 5101形、5201形</td>
							<td>ジェットカー量産車</td>
						</tr>
						<tr>
							<td>MM-10B</td>
							<td>1959年</td>
							<td>福井鉄道 200形</td>
							<td>連接車</td>
						</tr>
						<tr>
							<td>MM-101A</td>
							<td>1959年</td>
							<td>東京急行電鉄 6000系（B編成）</td>
							<td>回生ブレーキ</td>
						</tr>
					</tbody>
				</table>

				<div class="p-text">
					<p>上表では省略しましたが1960年以降もほとんどは MM タイプの採用であり、MC タイプは名鉄が7000系や7700系で MC-11C〜E 型を採用したのが唯一の例となります。多くの鉄道事業者では限定的な採用に留まり、ある程度の量産が行われた阪神電鉄も1960年代の昇圧改造で制御器が交換されてしまったのに対し、名鉄が MCM 型それも初期型の MC タイプを大量採用し、ブロアーの交換程度で大きな改造もなく晩年まで使用された<FootnoteReference><LinkExternal href="http://www15.plala.or.jp/hidekih/gijyutushi28.htm">「電鉄技術史情報２８」（白井昭）</LinkExternal></FootnoteReference>のは日本の鉄道事業者では特異なことです。</p>
					<p>最後に、近年まで現役だった福井鉄道200形に搭載されていた MM-10B 型の写真を掲載します。</p>
				</div>

				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/sty/cont/MM-10B_fukui203-1.jpg" alt="写真拡大" width={360} height={180} quality={60} link={true} />
						<!-- 撮影日: 2009-07-20 -->
					</div>
					<figcaption class="c-caption">
						<span class="c-caption__title">東芝 MM-10B 型主制御器（福井鉄道モハ203-1）</span>
					</figcaption>
				</figure>
			</Section>
		</Section>

		<Section id="es754-a" depth={2} headingType="b">
			<H slot="heading">ACRF-H860-754A<small>（旧7000系・東洋車 1〜2次車）</small>、ACRF-H860-757A<small>（旧7000系・東洋車 3〜10次車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/ES754A_mizuma7003.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-09-02 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>水間鉄道デハ7003（東急デハ7012）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/RG305-B_konan7021.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-07-23 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁調整器】</b>弘南鉄道デハ7021（東急デハ7158）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/SA_mizuma1001.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-11-25 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>水間鉄道デハ1001（東急デハ7010）</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>1962年に登場したオールステンレスカー・旧7000系は1〜2次車の時点では旧6000系東洋電機車のシステムが踏襲されています。主電動機は永久直列（直並列制御なし）で分巻界磁電流の制御は界磁調整器（FR）で行うといった基本的な制御方式は変わっていませんが、旧6000系は1電動機2軸駆動方式だったのに対し、旧7000系は<a href="/tokyu/sty/truck_ts700#ts701">パイオニアⅢ台車</a>を履用し主電動機は1軸ごとにある一般的な方式のため、ひとつの主制御器には8台の主電動機が接続されます。</p>
				<p>当初は旧6000系と同じ ACRF-H 系の 754A 型でしたが、3次車からは改良された 757A 型となり、また旧6000系と同様に1970年代には各種増幅器の IC 化と主抵抗器&amp;限流抵抗器の更新が行われました。</p>
				<p>現在は 757A 型が弘南鉄道弘南線、水間鉄道の譲渡先で活躍しています。</p>
			</div>
		</Section>

		<Section id="mmc-htr-10a" depth={2} headingType="b">
			<H slot="heading">MMC-HTR-10A<small>（旧7000系・日立車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MMC-HTR-10A_konan7040.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-04-30 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>弘南鉄道デハ7040（東急デハ7040）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/FC_konan7034.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-10-07 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁制御器】</b>弘南鉄道デハ7034（東急デハ7034）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/URB-PH_konan7034.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-10-07 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>弘南鉄道デハ7034（東急デハ7034）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MR_konan7032.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-05-05 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主抵抗器ほか】</b>弘南鉄道デハ7032（東急デハ7032）</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>旧7000系は当初は電機品が東洋電機製造によるものでしたが、1963年の5次車より日立製作所が参入し、以降は東洋電機車とともに増備が行われました。</p>
				<p>東洋電機車との違いとして直並列制御が行われており、抵抗損失の低下による節電効果のほか、回生ブレーキ時にも並直列制御を行うことで定格速度の半分である約 18km/h の低速域まで回生が効くようになっています<FootnoteReference><LinkExternal href="https://hitachirev-pdfsearch.himdx.net/cgi-bin/rev/search/jp/index.cgi?rm=thumbnail;url=https%3a%2f%2fwww%2ehitachihyoron%2ecom%2fjp%2fpdf%2f1965%2f05%2f1965_05_08%2epdf">日立評論 1965年5月号「東京急行電鉄株式会社納7000形電車用停車用電力回生ブレーキ付電気品」（今泉藤麿、樋口徹、神谷清） p.47</LinkExternal></FootnoteReference>。また弱め界磁は界磁電流をカム軸によって制御されますが、複巻電動機の直巻界磁を制御する方式とされ、このため力行時の主電動機は直巻特性を持つものとなっています。これらのメーカーによる機構の違いは外観的には断流器に見ることができ、東洋電機製と比べると直並列切り替え用（S, P, G）とブレーキ時に直巻界磁を短絡する F16, F26 の単位スイッチが増えたことで、断流器箱のアーク流しが8個となっているのが特徴です。なお、直並列切り替え用の3つのスイッチは組み合わせ制御を行っていた従来車、すなわち旧3000系の日立 MMC-H-10 型や旧5000系の<a href="#pe-11">東芝 PE-11 型</a>では主制御器の内部に納められていたのが、旧7000系で断流器箱に移動されたものとなります。</p>
				<p>このように旧7000系は東洋電機車と日立車で運転特性が異なるため、混結は極力避けられていましたが、1979年の田玉線運転系統一本化&amp;大井町線分離の際、8500系と入れ替わりに旧7000系の全134両が東横線に集結した結果、7005F（東洋電機車4両）+ 7033F（日立車2両）の混結6両編成が誕生し<FootnoteReference>鉄道ファン 1979年11月号（No.223）「多摩田園都市が都心に直結 ―東急田園都市線↔新玉川線全列車直通運転開始―」（宮田道一） p.56</FootnoteReference>、その後も断続的に東横線と大井町線で混結編成が存在したようです。</p>
				<p>旧7000系日立車は弘南鉄道大鰐線と北陸鉄道石川線に譲渡されましたが、北陸鉄道譲渡車は譲渡時に機器を換装されたため、現在このシステムは弘南鉄道大鰐線でのみに見ることができます。またこどもの国線で2000年まで活躍していた 7057F ワンマンカーは東急車輛製造（現：総合車両製作所）に譲渡され、現在はデハ7052 が同社の横浜事業所で静態保存されています。</p>
			</div>
		</Section>

		<Section id="mmc-htr-10b" depth={2} headingType="b">
			<H slot="heading">MMC-HTR-10B<small>（7200系・日立車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MMC-HTR-10B_7290.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2010-03-16 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>デヤ7290（2次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/FC-CH-5B_toyohashi1803.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-04-01 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁制御器】</b>豊橋鉄道モ1803（東急デハ7210）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/URB-PH_toyohashi1806.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2005-12-11 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>豊橋鉄道モ1806（東急デハ7205）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MR_toyohashi1804.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-09-17 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主抵抗器ほか】</b>豊橋鉄道モ1804（東急デハ7212）</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>1967年に登場した7200系は、旧7000系と同じく電機メーカーが日立製作所の車両と東洋電機製造の車両が存在します。日立車のシステム自体は旧7000系日立車を踏襲していますが、ユニット車ではなく 1M 方式に戻ったため主電動機は4台制御となりました。</p>
				<p>主制御器は旧7000系とほぼ同一なものの、断流器箱や抵抗器は大きく変わっており、とくに断流器箱のうち向かって右側の区画（直巻界磁用の F16、F26 および分巻界磁用の FS）は他車種には見られない独特な形状をしています。</p>
				<p>1991年にはアルミ車のデハ7200、クハ7500がそれぞれ動力車（デハ7200、後にデヤ7200）、電気検測車（デヤ7290）に改造されましたが、その際回生ブレーキ機能は撤去されたとのことです<FootnoteReference>鉄道ジャーナル 1991年4月号（No.294）「東急の新しい電気検測車 – デヤ7290形」 p.110</FootnoteReference>。</p>
				<p>東急線からは2012年のデヤ7200、デヤ7290 引退に伴い消滅しましたが、豊橋鉄道、大井川鐵道の譲渡先で活躍しています。</p>
			</div>
		</Section>

		<Section id="es764-a" depth={2} headingType="b">
			<H slot="heading">ACRF-H4110-764A<small>（7200系・東洋電機車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/ES764-A_ueda7255.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-01-26 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>上田電鉄モハ7255（東急デハ7258）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/RG303-B_ueda7254.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-01-27 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁調整器】</b>上田電鉄モハ7254（東急デハ7254）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/SA_ueda7252.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-05-03 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>上田電鉄モハ7252（東急デハ7252）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MR_ueda7255.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2005-03-29 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主抵抗器ほか】</b>上田交通モハ7255（東急デハ7258）</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>7200系の東洋電機製造車は、弱め界磁制御に界磁調整器（FR）を用いた方式は踏襲しつつも、旧7000系までの永久直列制御から日立車と同じく直並列制御を行うように変更されています。</p>
				{/* <p>旧7000系と異なり日立車と東洋電機車の混結は日常的に行われ、現在も大井川鐵道で見られます。</p> */}
				<p>東急線からは2000年の7200系旅客車引退に伴い消滅しましたが、豊橋鉄道、大井川鐵道の譲渡先で活躍しています。</p>
			</div>
		</Section>
	</Section>

	<Section id="fcc">
		<H slot="heading">界磁チョッパ制御</H>

		<div class="p-text">
			<p>1969年に登場した8000系では<dfn>界磁チョッパ制御</dfn>が導入されました。電機子電流（直巻界磁）は従来と同じく電動カム軸による抵抗制御が用いられる一方で、他励界磁電流（分巻界磁）の制御にサイリスタチョッパが使用されたもので、</p>
			<ul class="p-list">
				<li>力行時の抵抗制御（低速時の全界磁領域）では、複巻電動機の他励界磁電流を電機子電流に比例させることで直巻特性を与えられる</li>
				<li>チョッパ制御が行われる弱め界磁制御時と回生ブレーキ時において、応答速度の向上と界磁電流の連続変化によりスムーズな加減速が実現できる</li>
			</ul>
			<p>といったメリットがあります。</p>
			<p>採用車種としては8000系グループ（8000系、8500系、8090系）のみに留まったものの、20年間も続いた増備により全盛期は東急電鉄の在籍車両の過半数を占め、VVVF インバータ制御が普及するまでの代表的な制御方式となりました。</p>
		</div>

		<Section id="mmc-htr-20a" depth={2} headingType="b">
			<H slot="heading">MMC-HTR-20A<small>（8000系1〜4次車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MMC-HTR-20A_8117.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2005-11-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>デハ8117（2次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/CHS_8102.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-07-21 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁チョッパ装置】</b>デハ8102（1次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/URB-PH_8102.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-08-18 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>デハ8102（1次車）海側</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>1968年の7200系による現車試験<FootnoteReference><LinkExternal href="https://www.hitachihyoron.com/jp/archive/1960s/1968/ex.html">日立評論　50周年記念号「サイリスタ式電気車の開発」（伊沢省二） p.26</LinkExternal></FootnoteReference>の後、8000系に最初に搭載されたのは MMC-HTR-20A 型で、4次車までがこのタイプとなっています。8500系、8090系を含む8000系グループでは23年間にわたる増備の中で制御装置のマイナーチェンジが何度か行われていますが、基本的な機器構成は VVVF 車を除き同一で、M<span class="u-tokyu-unit">1</span> 車の海側に界磁チョッパ装置、主制御器、断流器箱が横並びで配置され、山側には多数の抵抗器がずらっと並ぶ配置となっています。</p>
				<p>主制御器は当初3枚蓋でしたが、後に改修を受けて4枚蓋となり、5次車以降の <a href="#mmc-htr-20c">MMC-HTR-20C 型</a>に酷似した形態となりました。断流器箱は分巻回路用（FS1〜FS2）と直巻回路用（L1〜L3）、直並列切り替え用（S, P, G）の各スイッチを装備していましたが、これも改修工事で限流遮断器（L3）が高速度遮断器（HSCB）に置き換えられました<FootnoteReference>鉄道ピクトリアル 1975年4月号（No.305）「東京急行電鉄　49年度新造車デハ8000形系の概要」（市村昇一） p.70</FootnoteReference>。その際、高速度遮断器は単体の箱が向かって右側に増設された一方で、元の限流遮断器の跡地はそのまま空きスペースとされ、改造然とした形態になったのが特徴です。</p>
				<p>東急線からは2008年までに消滅しましたが、国内では伊豆急行の譲渡車で多数が活躍しています。</p>
			</div>

			<Section id="8000-m1" depth={3} headingType="c" class="p-box">
				<H slot="heading">8000系グループの単独 M<span class="u-tokyu-unit">1</span> 系車</H>

				<div class="p-text">
					<p>8000系はもともと新玉川線完成時に⑥両編成にて使用される想定で製造され、電動車は M<span class="u-tokyu-unit">1</span>–M<span class="u-tokyu-unit">2</span> で2両ユニットを組む構成ですが、1〜4次車の登場当初は東横線にて 3M2T の⑤両編成で運用されていました。この場合、電動車が奇数両になりますから、うち1両は MCOS 操作により M<span class="u-tokyu-unit">1</span> 車（デハ8100形）のみの単独制御となります。主電動機の接続は4台で、並列段には進まず直列制御のみとなり、回生ブレーキの有効速度はユニット車の直並列渡りに相当する 45km/h までとなります（通常のユニット車は 22km/h 程度）。また運転特性を合わせるため、2ノッチ時もユニット車は強制的に3ノッチ投入で並列段に入るよう設定されました。</p>
					<p>新玉川線は当初予定より遅れて1977年に開通しますが、周知のとおり新たに設計し直された8500系が投入されることとなり、8000系は主に東横線や田園都市線（大井町線）で運用されることになります。1982年には<a href="#mmc-htr-10d">単独 M 車のデハ8400形</a>が作られたものの、すべての編成から単独 M<span class="u-tokyu-unit">1</span> 車を排除するには至らず、とくに大井町線では晩年（2005年）まで残ることになります。</p>
					<p>8500系についても東横線や新玉川線などで 5M1T の⑥連ないし 5M2T の⑦連が組まれていたことがあり、やはり単独 M<span class="u-tokyu-unit">1</span> 系車が1986年まで存在していました。</p>
					<p>譲渡車では、伊豆急行に譲渡された8000系第1陣のうち2両編成車が 1M1T 構成とされ、伊豆急下田寄りのクモハ8151（東急デハ8155、11-1次車）が当初単独 M<span class="u-tokyu-unit">1</span>c 車とされましたが、運用開始後まもなくして相方の電装化に伴いユニット車となりました。また、モデルカーとされたデハ8723（7-2次車）は伊豆急行クモハ8152 として単独 M<span class="u-tokyu-unit">1</span>c 車のまま出場したものの、現地での営業入りまでにユニット化されています。</p>
				</div>

				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/sty/cont/tokyu8103.jpg" alt="" width={360} height={240} quality={60} />
						<!-- 撮影日: 2005-08-14 -->
					</div>
					<figcaption class="c-caption">
						<span class="c-caption__title">大井町線で最後まで残った単独 M<span class="u-tokyu-unit">1</span> 車のデハ8103</span>
					</figcaption>
				</figure>
			</Section>
		</Section>

		<Section id="mmc-htr-20c" depth={2} headingType="b">
			<H slot="heading">MMC-HTR-20C<small>（8000系5〜11次車、8500系6〜11次車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MMC-HTR-20C_8519.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-04-27 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>デハ8519（8次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/CH-SF101C_8736.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-02-10 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁チョッパ装置】</b>デハ8736（9-1次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/URB-PH_8514.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-11-19 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>デハ8514（7-1次車）海側</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>1974年の5次車は田園都市線（大井町 – すずかけ台）向けに④両編成で登場しましたが、2M2T で 編成中に M<span class="u-tokyu-unit">1</span> 車が1両しかないためデハ8100形が2丁パンタとされ、MT 比が低いため主抵抗器が容量増加により従来の8個に対して10個に増やされるなど、さまざまなバリエーションがあった8000系グループの中でもとくに異端のシステムとされました。</p>
				<p>主制御器は保護回路として<dfn>過電圧抑制サイリスタ（OVCRf）</dfn>と<dfn>高速度遮断器</dfn>（限流遮断器を兼用）の機能が付いた MMC-HTR-20C 型となりました。OVCRf は電機子回路と並列に設置され、回生ブレーキ時に付近を走行中の列車が力行を止めるなどの負荷減少が発生すると電機子回路を短絡することで架線電圧の上昇を抑え、また高速度遮断器により電機子回路への過大な電流突入を阻止し、モーターの整流悪化を防ぎます<FootnoteReference><LinkExternal href="https://hitachirev-pdfsearch.himdx.net/cgi-bin/rev/search/jp/index.cgi?rm=thumbnail;url=https%3a%2f%2fwww%2ehitachihyoron%2ecom%2fjp%2fpdf%2f1976%2f09%2f1976_09_12%2epdf">日立評論 1976年9月号「最近の日立車両用界磁チョッパ制御装置」（今野信義、小澤勉） p.757</LinkExternal></FootnoteReference>。このような変更が行われたものの、前述のとおり1〜4次車の <a href="#mmc-htr-20a">MMC-HTR-20A 型</a>も改修工事で同じ機能が追加されたため、主制御器の外観に大きな違いは見られません。一方、界磁チョッパ装置や断流器箱は4次車以前と5次車以降で差異が見られます。とくに断流器箱は2分割されたのが特徴で、向かって左側の大きめの箱には分巻回路用（FS1, FS2）と直並列切り替え用（S, P, G）のスイッチが、右側の小さな箱には直巻回路用スイッチ（L1〜L2）と高速度遮断器（HSCB）が納められています。</p>
				<p>翌1975年の6次車では地下鉄11号線（半蔵門線）乗り入れに対応した8500系が登場しますが、登場時点では5次車と同じ④両編成ながら先頭車を電動車にした 3M1T の編成になったため主抵抗器は8個に戻された一方、上り勾配における後退対策として緩いブレーキを掛けながら力行を行う<dfn>勾配起動</dfn>や、故障列車を勾配で併結押し上げするための<dfn>限流値増</dfn>回路の追加が行われています。</p>
				<p>2002年には新5000系の投入による車両転配で8000系の廃車が始まりますが、諸般の事情で最初に離脱した東横線 8041F を別とすれば、M<span class="u-tokyu-unit">1</span> 車に5次車が含まれる編成（東横線 8027F、大井町線 8045F〜8051F）から優先して廃車が行われた理由は推して知るべしといったところでしょう。廃車タイミングもあってか電動車の譲渡は1両もなく、5次車そのものはクハ8000形が伊豆急行に3両が譲渡されたものの、特徴的だったシステムはもはや見ることができません。</p>
				<p>6次車以降の車両も東急線からは2022年までに消滅しましたが、国内では伊豆急行、長野電鉄、秩父鉄道の各譲渡先で活躍しています。</p>
			</div>
		</Section>

		<Section id="mmc-htr-20f" depth={2} headingType="b">
			<H slot="heading">MMC-HTR-20F<small>（8000系12〜18次車、8500系12〜20次車、8090系12〜20次車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MMC-HTR-20F_8181.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-06-08 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>デハ8181（16-2次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/CH-SF111_8497.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-06-08 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【界磁チョッパ装置、GTO】</b>デハ8497（16-2次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/URB-PH_8180.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-08-18 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱、小型】</b>デハ8180（16-2次車）海側</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>1980年に12次車として登場した8090系ではカム段数を増加（直列 13→15段、並列全界磁 11→13段）させた MMC-HTR-20F 型となりました。8000系、8500系も同様に変更され、<a href="#mmc-htr-10d">単独 M 車</a>を除き20次車まで続きます。界磁チョッパ装置も IC 化の推進などの改良が行われたものの<FootnoteReference>鉄道ピクトリアル 1981年3月号（No.387）「東京急行電鉄8090系軽量ステンレス車」（金邊秀雄） p.52</FootnoteReference>、この時点では外観に変更はありません（写真は省略）。</p>
				<p>13次車では断流器が小型化されています。</p>
				<p>8090系は1984年の16次車（8097F〜）でマイナーチェンジが行われ、デハ8490形の組成位置変更や前尾灯位置の変更による正面顔の変化などが目立つところですが、界磁チョッパ装置も変更が加えられ素子に GTO サイリスタを使用した小型タイプとなりました。これは前年よりデハ8100形で現車試験が行われていたもので<FootnoteReference>鉄道ピクトリアル 1985年3月号（No.444）「東急8090系モデルチェンジ車」（荻原俊夫） p.64</FootnoteReference>、この時点では GTO サイリスタは 2500V 耐圧のものしか開発されておらず、直流 1500V 用電車での使用に際し、2個の GTO サイリスタを直列接続する方式が採られています<FootnoteReference><LinkExternal href="https://hitachirev-pdfsearch.himdx.net/cgi-bin/rev/search/jp/index.cgi?rm=thumbnail;url=https%3a%2f%2fwww%2ehitachihyoron%2ecom%2fjp%2fpdf%2f1984%2f06%2f1984_06_13%2epdf">日立評論 1984年6月号「GTOサイリスタ界磁チョッパ装置の開発」 p.53</LinkExternal></FootnoteReference>。この GTO サイリスタ使用の界磁チョッパ装置は、16次車では編成単位で新製された車両のみの採用であり、8097F より入籍が4か月遅いデハ8777（田玉線 8606F の⑩連化組み込み用）は従来タイプを搭載するという逆転現象が起こっていましたが、17次車以降は組込車を含め全車が GTO タイプとなっています。</p>
				<p>東急線からは2023年の8500系全廃に伴い消滅しましたが、国内では伊豆急行、秩父鉄道、富山地方鉄道の各譲渡先で活躍しています。</p>
			</div>
		</Section>

		<Section id="mmc-htr-10d" depth={2} headingType="b">
			<H slot="heading">MMC-HTR-10D<small>（8000系グループ・単 M 車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MMC-HTR-10D_8495.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-06-08 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>デハ8495（16-2次車）海側</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MR_8497.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-12-03 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【限流抵抗器&amp;主抵抗器】</b>デハ8497（16-2次車）山側</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>1981年度の13次車では、東横線の編成増強に伴う⑥連→⑦連化ないし⑦連→⑧連化が一部の編成で行われ、単独 M 車のデハ8400形が登場しました<FootnoteReference>軽量試作車の初代デハ8400形はこれに先駆けて改番されています。</FootnoteReference>。同時期に8090系の 8093F〜8095F が⑧両編成で新製され、同様に新登場のデハ8490形が組み込まれています。</p>
				<p>8000系グループにおいて編成の都合でユニットを組まない M<span class="u-tokyu-unit">1</span> 車は<a href="#8000-m1">前述のコラム</a>のとおり1次車新製時から存在していたものの、この場合は直列制御のみとなり、回生ブレーキの有効速度などの面で改善を要する問題がありました。これに対し、最初から単独 M 車として設計されたデハ8400形、デハ8490形では主電動機を端子電圧 750V の 2S2P 接続とすることで 1C4M 構成での直並列制御が可能となっています。</p>
				<p>主制御器も専用の MMC-HTR-10D 型となりましたが、外観はユニット車用の <a href="#mmc-htr-20f">MMC-HTR-20F 型</a>と変わりません。しかし車両山側に目を向けると主抵抗器はユニット車の8個に対して7個と少なくなっており、抵抗器群のもっとも上り方にあるやや大きめの限流抵抗器との間が歯抜けになっている違いがあります。</p>
				<p>9両が製造されたデハ8400形のうち、デハ8401〜8407 は新製まもない1984年から1985年にかけてユニット構成の M<span class="u-tokyu-unit">1</span> 車であるデハ8100形（デハ8162〜8168）へ車種変更されましたが、その際この主制御器は同時期に新製されたデハ8490形の16-2次車〜17次車へ転用されています。このうちデハ8162〜8166（旧デハ8401〜8405）は1988年の東横線全列車⑧連化までに M<span class="u-tokyu-unit">2</span> 車（デハ8200形）と組むことができたものの、大井町線に転籍したデハ8167〜8168（旧デハ8406〜8407）はせっかく改造したユニット構成を最後まで活かせないまま2003年の早期に廃車される残念な運命となりました。一方、デハ8408〜8409、およびデハ8490形（全10両）はその後も単 M 構成で残り、1988年度のデハ8590形、デハ8690形新製に伴う8090系の編成替え後は大井町線に集結しました。晩年、デハ8408〜8409 は5次車編成を先に廃車させるために組み込みをそれぞれ 8005F、8001F に変更する措置を執ってまで延命されたのは、単に車歴が若いというだけでなく、単独 M 車の利点を最後まで活用させる意図があったものと思われます。</p>
				<p>東急線からは2013年までに消滅しましたが、デハ8490形のうち最後まで残った4両は先頭化改造を受けて秩父鉄道に譲渡され、7800系として活躍しています。</p>
			</div>
		</Section>
	</Section>

	<Section id="local">
		<H slot="heading">譲渡車の換装例</H>

		<Section id="cs20a" depth={2} headingType="b">
			<H slot="heading">CS20A<small>（旧7000系北陸鉄道譲渡車）</small></H>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/CS20A_hokuriku7102.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-03-31 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主制御器】</b>北陸鉄道モハ7102（東急デハ7056）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/SA_hokuriku7201.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2007-11-23 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【断流器箱】</b>北陸鉄道モハ7201（東急デハ7136）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/WFL_hokuriku7202.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2023-03-02 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【弱め界磁リアクトル】</b>北陸鉄道7202（東急デハ7138）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/cont/MR_hokuriku7102.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2006-11-04 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title"><b>【主抵抗器】</b>北陸鉄道モハ7102（東急デハ7056）</span>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="p-text">
				<p>旧7000系のうち北陸鉄道石川線に譲渡された車両は台車や床下機器、集電装置など主要機器の多くが換装され、主制御器は JR 103系初期車（試作車を除く）の CS20A 型となりました。</p>
				<p>主制御器箱の前面蓋にはメーカーの社紋が刻印されていますが、これは日立製作所（モハ7001<!-- 2006-11, 2007-08, 2009-11 -->, 7201<!-- 2007-08, 2009-11, 2011-10 -->, 7202<!-- 2007-08, 2009-11, 2011-10, 2023-03 -->）、東京芝浦電気（現：東芝、モハ7101<!-- 2007-08, 2011-10 -->）、東洋電機製造（モハ7102<!-- 2007-03, 2007-08, 2020-11 -->）の3社を確認しています。</p>
				<p>断流器箱は101系はM車とM′車に分かれて搭載されていたのが、103系では一体型となったもので、前面には6つのアーク流しがあり、向かって左端の横幅が広いものは高速度遮断器（L1）となっています。アーク流しの形状は個体によりバリエーションが見られます。</p>
				<p>主抵抗器は主制御器、断流器箱とは逆側（鶴来方を向いて左側）に搭載されていますが、自然通風タイプなので主制御器とは別の車両からの流用と思われます。また、その左側には弱め界磁リアクトルが配置されています。</p>
			</div>
		</Section>
	</Section>
</Layout>
