---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '東急電車の禁煙標記',
	heading: '禁煙標記',
	dateModified: dayjs('2006-07-01'),
	description: '東急線の列車は言うまでもなく全車禁煙ですが、それを示す車内標記は車種や年代によってバリエーションが豊富です。近年はピクトグラムの導入や、プレート式をやめて化粧板に直接印刷されたものになるなどの変化もあります。',
	image: 'https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_blue.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/sty/', name: '車両形態' },
	],
};

const slugger = new GithubSlugger();
---

<Layout structuredData={structuredData}>
	<Section slugger={slugger} id="string" heading="文字のみのタイプ">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="bold-purple" depth={2} heading="太フォント、英文紺字" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_purple.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/bold_purple.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-07-30 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ8218（4次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>長方形のプレートに赤字で「禁煙」、紺色で「NO SMOKING」と書かれています。ほかの太フォントタイプと比べると字体が若干異なります。残存枚数は1桁台と思われます。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="bold-black" depth={2} heading="太フォント、英文黒字" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_black.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/bold_black.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-07-30 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ8040（4次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>太フォント、英文黒字のタイプ。こちらも残存枚数わずかと思われますが、譲渡車両には多数現存します。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="bold-blue" depth={2} heading="太フォント、英文青字" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_blue.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/bold_blue.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-06-25 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ1312（3次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>2000系1次車までの車両に広く使用されています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="thin-black" depth={2} heading="細フォント、英文黒字" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/thin_black.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/thin_black.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-06-25 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7908（2次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>8000系や8500系、7700系などの一部は、フォントが細字なタイプとなっています。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="pictogram1" heading="ピクトグラム（旧）">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="pic-str" depth={2} heading="ピクトグラム + 文字" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/pic_str.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/pic_str.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-06-18 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7653（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>2000系アメニティ向上車や1000系5次車ではピクトグラム標記が採用され、プレートの左側に禁煙サイン、右側は従来どおり「禁煙」「NO SMOKING」と文字が書かれています。8000系（東横線所属車）や8500系、7600系の室内・車体更新車もこのタイプに交換されました。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="pic-only" depth={2} heading="ピクトグラムのみ" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/pic_only.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/pic_only.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-06-18 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ8001（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>大井町線の8000系車体更新車は、正方形のシールによる掲出となり、文字はなく禁煙サインのみです。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="pictogram2" heading="ピクトグラム（新）">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="3000" depth={2} heading="新3000系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/3000.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/3000.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-06-25 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ3013（3次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>新3000系からは、室内標記が化粧板に直接印刷されたものとなり、禁煙サインもデザインが変わり小型のものが号車標記と一体になった形で印刷されています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="y000" depth={2} heading="Y000系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/Y000.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/Y000.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-06-24 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハY011（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>こどもの国線のY000系は、地下線に乗り入れることがないためか号車標記がなく、禁煙サインが車号標記と一体になっています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="300" depth={2} heading="300系" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/300.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/300.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-06-24 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ301A（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>世田谷線の300系は、車号標記とは独立した位置に禁煙サインのみが印刷されています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="9000-renewal" depth={2} heading="9000系化粧板修繕車" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/9000_renewal.jpg" type="image/jpeg">
								<Image path="tokyu/sty/nosmoking/9000_renewal.jpg" alt="写真拡大" width={485} height={364} quality={60} />
								<!-- 撮影日: 2006-07-01 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ9011（3次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>2003年より9000系の化粧板修繕工事が開始されましたが、2本目以降は室内標記も交換対象となりました。禁煙サインは再び旧デザインのものとなり、号車標記と一体になって印刷されています。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
