---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '東急7700系　屋根上機器配置',
	heading: '7700系　屋根上機器配置',
	dateModified: dayjs('2010-08-01'),
	description: '東急池上線、多摩川線で活躍した7700系の屋根上写真を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/sty/roof/7801.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/sty/', name: '車両形態' },
	],
	localNav: [
		{ path: '/tokyu/sty/roof_7200', name: '7200系' },
		{ path: '/tokyu/sty/roof_7600', name: '7600系' },
		{ path: '/tokyu/sty/roof_7700', name: '7700系' },
		{ path: '/tokyu/sty/roof_7700n', name: '7915F' },
		{ path: '/tokyu/sty/roof_1000n', name: '1000N系（池多摩線）、1000N′系' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger} id="mc-7700" heading="デハ7700形">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7701" depth={2} heading="デハ7701〜7702" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7701.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7701.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-05-21 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7702（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>上り方車端部に集電装置（菱形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。</p>
						<p>冷房装置は3台配置されており、キセの開口部は下り方2台は上り方に、上り方1台は下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
						<p>下り方の乗務員室直上には逆L字型のSRアンテナがあります。デハ7702のみアンテナ配管が露出しており、短い距離ながら下り方妻面に向かって延びていて、妻面直前で車体に埋め込まれています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7703" depth={2} heading="デハ7703〜7708, 7712〜7714" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7700.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7700.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-05-12 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7707（3次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>デハ7703以降はランボードが小形になりました。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7710" depth={2} heading="デハ7710" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7710.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7710.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-05-21 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7710（3次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>デハ7710のみは配管のレイアウトが他車と異なります。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="m-7800" heading="デハ7800形">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7801" depth={2} heading="デハ7801, 7803" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7801.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7801.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-06-18 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7801（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>上り方車端部に集電装置（菱形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。</p>
						<p>冷房装置は3台配置されており、キセの開口部はすべて下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7802" depth={2} heading="デハ7802, 7805〜7808, 7812〜7714" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7800.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7800.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-05-21 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7802（2次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>デハ7802とデハ7804以降はランボードが小形になりました。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7810" depth={2} heading="デハ7810" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7810.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7810.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-05-21 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7810（3次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>デハ7810のみは配管のレイアウトが他車と異なります。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="tc-7900" heading="クハ7900形">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="tc-7901" depth={2} heading="クハ7901〜7902" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7901.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7901.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-06-18 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7901（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>冷房装置が等間隔に3台配置されており、キセの開口部はすべて下り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
						<p>上り方の乗務員室直上には逆L字型のSRアンテナがあります。クハ7901のみアンテナ配管が露出しており、短い距離ながら上り方妻面（運転台側）に向かって延びていて、妻面直前で車体に埋め込まれています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="tc-7903" depth={2} heading="クハ7903〜7914" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/roof/7900.jpg" type="image/jpeg">
								<Image path="tokyu/sty/roof/7900.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2009-05-21 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7910（3次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7903以降はランボードが小形になりました。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
