---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急7600系　床下機器配置',
	heading: '7600系　床下機器配置',
	dateModified: dayjs('2008-02-01'),
	description: '東急池上線、多摩川線で活躍した7600系の床下機器配置を写真で紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/sty/ub/7670m.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/sty/', name: '車両形態' },
	],
	localNav: [
		{ path: '/tokyu/sty/ub_7600', name: '7600系' },
		{ path: '/tokyu/sty/ub_7700', name: '7700系' },
		{ path: '/tokyu/sty/ub_7700n', name: '7915F' },
		{ path: '/tokyu/sty/ub_1000n', name: '1000N系池多' },
		{ path: '/tokyu/sty/ub_1000n2', name: '1000N′系' },
		{ path: '/tokyu/sty/ub_1500', name: '1000系1500番台' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="mc-7650">
		<H slot="heading">デハ7650形（台車間）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="mc-7650-sea" depth={2} headingType="c">
					<H slot="heading">海側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7650s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-01-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7662海側（2次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、24V蓄電池、24V整流装置、VVVF断流器、VVVF継電器、VVVFフィルタリアクトル、接地開閉器、ブレーキ受量器です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="mc-7650-mount" depth={2} headingType="c">
					<H slot="heading">山側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7650m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-01-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7662山側（2次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、VVVF主制御器（RG617-B-M型）、VVVFフィルタリアクトル、ブレーキ制御装置です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="m-7670">
		<H slot="heading">デハ7670形（台車間）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="m-7670-sea" depth={2} headingType="c">
					<H slot="heading">海側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7670s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-01-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7682海側（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、ブレーキ受量器、VVVF断流器、VVVF継電器、接地開閉器、VVVFフィルタリアクトル、空気圧縮機（HS-20型）です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="m-7670-mount" depth={2} headingType="c">
					<H slot="heading">山側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7670m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-01-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7682山側（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、積算電力計、VVVF主制御器（RG614-A-M型）、元空気だめとその奥にVVVFフィルタリアクトル、ブレーキ制御装置です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="tc-7600">
		<H slot="heading">クハ7600形（台車間）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="tc-7600-sea" depth={2} headingType="c">
					<H slot="heading">海側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7600s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-01-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7602海側（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、SIV起動装置、接地開閉器、SIVフィルタトランス、元空気だめ、空気圧縮機（HS-20型）です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="tc-7600-mount" depth={2} headingType="c">
					<H slot="heading">山側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7600m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-01-20 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7602山側（1次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、整流装置、静止形インバーター（INV-006型）、ブレーキ制御装置、100V蓄電池です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="couple">
		<H slot="heading">連結部</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="couple7601" depth={2} headingType="c">
					<H slot="heading">クハ7600形 ｰ デハ7670形間<small>（7601F, 7602F）</small></H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7670-7600_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-16 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7681 ｰ クハ7601海側</span>
						</figcaption>
					</figure>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7600-7670_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-24 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7601 ｰ デハ7681山側</span>
						</figcaption>
					</figure>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="couple7603" depth={2} headingType="c">
					<H slot="heading">クハ7600形 ｰ デハ7670形間<small>（7603F）</small></H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7673-7603_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-17 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7673 ｰ クハ7603海側</span>
						</figcaption>
					</figure>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7603-7673_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-16 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7603 ｰ デハ7673山側</span>
						</figcaption>
					</figure>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="couple7661" depth={2} headingType="c">
					<H slot="heading">デハ7650形 ｰ デハ7670形間<small>（7601F, 7602F）</small></H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7650-7670_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-09 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7662 ｰ デハ7682海側</span>
						</figcaption>
					</figure>
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7670-7650_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-16 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7681 ｰ デハ7661山側</span>
						</figcaption>
					</figure>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="couple7653" depth={2} headingType="c">
					<H slot="heading">デハ7650形 ｰ デハ7670形間<small>（7603F）</small></H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7653-7673_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-16 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7653 ｰ デハ7673海側</span>
						</figcaption>
					</figure>
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7673-7653_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-16 -->
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7673 ｰ デハ7653山側</span>
						</figcaption>
					</figure>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
