---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急クハ7900形山側　床下機器配置',
	heading: 'クハ7900形山側　床下機器配置',
	dateModified: dayjs('2008-03-01'),
	description: '7700系のうち、クハ7900形山側の床下機器配置は車両ごとの差違が際立っています。',
	image: 'https://media.w0s.jp/image/tokyu/sty/ub/7901m.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/sty/', name: '車両形態' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<div class="p-text">
			<p>7700系の床下は、東洋電機製造 SIV 装備車や IGBT-VVVF 車など異端車の存在によりいくつかのバリエーションが存在しますが、クハ7900形の山側、各種空気だめや情報伝送装置のある部分はとくに車両ごとの差違が際立っています。</p>
			<p>1〜3次車は、当初は7000系時代と同じく空気指令式ブレーキでしたが、5次車登場と前後して電気指令化改造が行われました。さらに、1999年には目蒲線分断に伴うワンマン化対応として、池上線転籍車と同様の工事が行われ、情報伝送装置の更新などが行われています。</p>
			<p>4次車からは制御空気だめのコック設置位置が変更され、ほかの各種コックとまとまった場所となりました。また、識別票（ID タグ）の位置も異なります。</p>
		</div>
	</Section>

	<Section id="air">
		<H slot="heading">元空気指令車（1〜3次車）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="c7901" depth={2} headingType="c">
					<H slot="heading">クハ7901</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7901m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-01 -->
						</div>
						<figcaption class="c-caption -meta">クハ7901（1次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>ブレーキ制御装置より下り方の主な機器は順に、元空気だめ、情報伝送装置、床下灯、識別票、速度計補償器、除湿装置です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7902" depth={2} headingType="c">
					<H slot="heading">クハ7902</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7902m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-01 -->
						</div>
						<figcaption class="c-caption -meta">クハ7902（1次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7903" depth={2} headingType="c">
					<H slot="heading">クハ7903</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7903m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-29 -->
						</div>
						<figcaption class="c-caption -meta">クハ7903（2次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7905" depth={2} headingType="c">
					<H slot="heading">クハ7905</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7905m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-04-12 -->
						</div>
						<figcaption class="c-caption -meta">クハ7905（2次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7906" depth={2} headingType="c">
					<H slot="heading">クハ7906</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7906m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-29 -->
						</div>
						<figcaption class="c-caption -meta">クハ7906（2次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7907" depth={2} headingType="c">
					<H slot="heading">クハ7907</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7907m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-01 -->
						</div>
						<figcaption class="c-caption -meta">クハ7907（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7908" depth={2} headingType="c">
					<H slot="heading">クハ7908</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7908m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-04-05 -->
						</div>
						<figcaption class="c-caption -meta">クハ7908（2次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7910" depth={2} headingType="c">
					<H slot="heading">クハ7910</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7910m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-29 -->
						</div>
						<figcaption class="c-caption -meta">クハ7910（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="electric">
		<H slot="heading">改造当初からの電気指令車（4〜5次車）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="c7912" depth={2} headingType="c">
					<H slot="heading">クハ7912</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7912m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-08 -->
						</div>
						<figcaption class="c-caption -meta">クハ7912（4次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>ブレーキ制御装置より下り方の主な機器は順に、元空気だめ、情報伝送装置、床下灯、速度計補償器、除湿装置、識別票です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7913" depth={2} headingType="c">
					<H slot="heading">クハ7913</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7913m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-23 -->
						</div>
						<figcaption class="c-caption -meta">クハ7913（5次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7912と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="c7914" depth={2} headingType="c">
					<H slot="heading">クハ7914</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7914m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-08 -->
						</div>
						<figcaption class="c-caption -meta">クハ7914（5次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>クハ7912と同じ配置ですが、管やコックなどの細部は異なります。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="t-7950">
		<H slot="heading">サハ7950形からの改造車（5次車）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="c7915" depth={2} headingType="c">
					<H slot="heading">クハ7915</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/sty/ub/7915m.jpg" alt="写真拡大" width={485} height={122} quality={60} link={true} />
							<!-- 撮影日: 2008-03-23 -->
						</div>
						<figcaption class="c-caption -meta">クハ7915（5次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>ブレーキ制御装置より下り方の主な機器は順に、元空気だめ、除湿装置、情報伝送装置、床下灯、速度計補償器、識別票です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
