---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '東急7700系（7915F）　床下機器配置',
	heading: '7700系（7915F）　床下機器配置',
	dateModified: dayjs('2008-02-01'),
	description: '東急池上線、多摩川線で活躍した7700系のうち、中間車サハ7950形から改造された 7915F の床下機器配置を写真で紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/sty/ub/7700Ns.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/sty/', name: '車両形態' },
	],
	localNav: [
		{ path: '/tokyu/sty/ub_7600', name: '7600系' },
		{ path: '/tokyu/sty/ub_7700', name: '7700系' },
		{ path: '/tokyu/sty/ub_7700n', name: '7915F' },
		{ path: '/tokyu/sty/ub_1000n', name: '1000N系池多' },
		{ path: '/tokyu/sty/ub_1000n2', name: '1000N′系' },
		{ path: '/tokyu/sty/ub_1500', name: '1000系1500番台' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger} id="mc-7715" heading="デハ7715（台車間）">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7715-sea" depth={2} heading="海側" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7700Ns.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7700Ns.jpg" alt="写真拡大" width={485} height={152} quality={60} />
								<!-- 撮影日: 2008-01-20 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7715海側（5次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、SIV一体型VVVF主制御器（RG660-A-M型）、接地開閉器、VVVF断流器、定位置停止支援装置（TASC）です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="mc-7715-mount" depth={2} heading="山側" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7700Nm.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7700Nm.jpg" alt="写真拡大" width={485} height={152} quality={60} />
								<!-- 撮影日: 2008-01-20 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7715山側（5次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、SIV一体型VVVF主制御器（RG660-A-M型）、SIV抵抗器、ブレーキ制御装置、ブレーキ受量器です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="m-7815" heading="デハ7815（台車間）">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="m-7815-sea" depth={2} heading="海側" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800Ns.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7800Ns.jpg" alt="写真拡大" width={485} height={152} quality={60} />
								<!-- 撮影日: 2008-01-20 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7815海側（4次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、100V蓄電池、VVVF継電器、VVVF断流器、接地開閉器、ブレーキ受量器、空気圧縮機（HS-20型）です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="m-7815-mount" depth={2} heading="山側" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800Nm.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7800Nm.jpg" alt="写真拡大" width={485} height={152} quality={60} />
								<!-- 撮影日: 2008-01-20 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7815山側（4次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、VVVF主制御器（RG654-A-M型）、元空気だめ、ブレーキ制御装置です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="tc-7915" heading="クハ7915（台車間）">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="tc-7915-sea" depth={2} heading="海側" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900Ns.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7900Ns.jpg" alt="写真拡大" width={485} height={152} quality={60} />
								<!-- 撮影日: 2008-01-20 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7915海側（5次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、100V蓄電池、24V蓄電池、軌条塗油器、定位置停止支援装置（TASC）、接地開閉器、CP起動装置、空気圧縮機（HS-20型）です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="tc-7915-mount" depth={2} heading="山側" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900Nm.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7900Nm.jpg" alt="写真拡大" width={485} height={152} quality={60} />
								<!-- 撮影日: 2008-01-20 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7915山側（5次車）</span>
						</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、整流装置、ブレーキ制御装置、元空気だめ、情報伝送装置です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section slugger={slugger} id="couple" heading="連結部">
		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} id="couple7715" depth={2} heading="デハ7700形 ｰ デハ7800形間" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7700N-7800N_sea.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7700N-7800N_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2008-04-12 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7715 ｰ デハ7815海側</span>
						</figcaption>
					</figure>

					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800N-7700N_mount.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7800N-7700N_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2008-02-24 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7815 ｰ デハ7715山側</span>
						</figcaption>
					</figure>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} id="couple7815" depth={2} heading="デハ7700形 ｰ デハ7800形間" headingType="c">
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800N-7900N_sea.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7800N-7900N_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2008-04-12 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">デハ7815 ｰ クハ7915海側</span>
						</figcaption>
					</figure>
					<figure class="c-fit">
						<div class="p-embed -border">
							<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900N-7800N_mount.jpg" type="image/jpeg">
								<Image path="tokyu/sty/ub/7900N-7800N_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} />
								<!-- 撮影日: 2008-02-17 --></a
							>
						</div>
						<figcaption class="c-caption -meta">
							<span class="c-caption__title">クハ7915 ｰ デハ7815山側</span>
						</figcaption>
					</figure>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
