<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急電車の冷房制御装置",
				"headline": "冷房制御装置",
				"dateModified": "2020-02-08",
				"description": "1000系と9020系（旧2000系）に搭載されたブレーキ制御装置を紹介します。",
				"image": "https://media.w0s.jp/image/tokyu/sty/aci/INV049.jpg",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/sty/", "name": "車両形態" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="original">
						<div class="p-section__hdg">
							<h2>オリジナルタイプ（製造時）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="inv049">
									<div class="p-section__hdg">
										<h3>INV-049</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aci/INV049.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aci/INV049.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-07-18 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ1022（5次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>1988年に登場した1000系では冷房装置がインバータ制御になりました。従来はサーモスタットにより冷房能力を段階的に切り替える方式でしたが、本形式からは各車の床下にマイコン制御による無段階切替を行う制御箱（東芝製）が設けられ、無段階制御を行っています。</p>
										<p>後述の新型タイプへの更新や車両の廃車により、現在は譲渡先でのみ見ることができます。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="inv088">
									<div class="p-section__hdg">
										<h3>INV-088</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aci/INV088.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aci/INV088.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-02-14 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ2251（1次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>1992年に登場した2000系も、1000系と同じ方式の無段階可変制御を行っています。20m大型車のため冷房装置が4台搭載となった関係で、制御装置は1000系と異なるタイプが採用されました。</p>
										<p>後述の新型タイプへ置き換えられたため、現在は消滅しています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="renewal2014">
						<div class="p-section__hdg">
							<h2>2014年更新後</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc220">
									<div class="p-section__hdg">
										<h3>TCE-220</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aci/TCE220.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aci/TCE220.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2019-04-26 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ9021（1次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>2014年には冷房装置の更新が始まり、床下の制御装置も新型に換装されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
