<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急8000系グループの客室内スピーカ",
				"headline": "8000系グループの客室内スピーカ",
				"dateModified": "2005-08-01",
				"description": "東急8000系グループ（8000系、8500系、8090系、8590系）の室内天井に設置されているスピーカーを紹介します。",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/sty/", "name": "東急電車の車両形態" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header') %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="trumpet-1">
						<div class="p-section__hdg">
							<h2>トランペット型（1〜5次車）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>1次車（一部を除く）</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-1_1.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-1_1.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-07 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ8004（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>8000系のスピーカーは天井頂点部に2か所設置されており、ケースは下底が短い等脚台形で、その形状や打抜穴のパターンにバリエーションがみられます。</p>
										<p>この写真は大井町線1次車のうち8001〜8004、8102〜8104、8106、8201〜8202、および8101（廃車）に設置されているものです。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>1次車（一部）</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-1_2.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-1_2.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-07 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ8006（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>大井町線1次車のうち、8005、8006、8203、および8105（廃車）は穴の形状が若干異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>5次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-3.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-3.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2002-05-23 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ8051（5次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>5次車のうち、東横線の車体更新車を除く車両は穴面積が小さく列数も少ないものでしたが、現在は全車が解体または運用離脱しています。大井町線所属の車体更新車である8047〜8048、8145、8224は、色が白くなっていました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="trumpet-6">
						<div class="p-section__hdg">
							<h2>トランペット型（6〜15次車）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>6〜8次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-6.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-6.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-25 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8515（7次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>6〜8次車では穴面積が拡大されました。車体更新車は撤去されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>9次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-9.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-9.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8629（9-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>9次車は、8次車までのタイプと似ているが穴の列数が少なくなりました。車体更新車は撤去されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>10次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-10.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-10.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サハ8931（10-1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>10次車は穴が再び千鳥配置になりました。車体更新車は撤去されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>11〜14次車など</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-11.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-11.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-07 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8409（13次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>8090系を除く11〜14次車と15次車（組込車のみ）は、10次車のタイプと似ていますが穴の列数が多くなりました。11次車の車体更新車は撤去されており、東横線の車両と田園都市線12〜14次車は、後述する新型タイプへ更新されています。15次車（組込車）は、後述するコーン型も併設されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="cone">
						<div class="p-section__hdg">
							<h2>コーン型</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>15〜20次車と8090系全車両</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-15.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-15.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-07 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ0807（18-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>15次車からはコーン型の8個配置となり、設置場所は天井中央部から肩部に近いところへ移りました。8090系は全車両がこのタイプですが、8590系も含め1両に6個の設置となっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>21次車と8945, 8946</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-21.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-21.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ0718（21次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>21次車では、穴の行数・列数が多くなりました。東横線所属の室内・車体更新車や、田園都市線所属の車体更新車のうち初期に更新された12次車（サハ8945、サハ8946）もこのタイプに更新されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="renewal">
						<div class="p-section__hdg">
							<h2>更新工事</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>田園都市線6〜11次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8500-ir.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8500-ir.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8629（9-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>田園都市線所属の6〜11次車は、非常灯が撤去されてその跡地に小型のスピーカが増設されています。車体更新未施工車においては、従来のタイプとの併設となっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link">
									<div class="p-section__hdg">
										<h3>田園都市線12〜14次車など</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/amp/8000-tr.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/amp/8000-tr.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2005-07-14 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8248（12-3次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>東横線所属の13次車までの室内・車体更新未施工車、および田園都市線所属の12〜14次車（サハ8945、サハ8946除く）は、新型タイプへの更新が行われ、ケースは直方体に近いものとなりました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
