<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急電車の空気圧縮機",
				"headline": "空気圧縮機",
				"dateModified": "2023-02-22",
				"description": "東急電鉄の旧5000系から新3000系まで（旧性能車のデハ150形を除く）に搭載された空気圧縮機を紹介します。",
				"image": "https://media.w0s.jp/image/tokyu/sty/cp/HS20_9101.jpg",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/sty/", "name": "東急電車の車両形態" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header') %>
				<main class="l-content__main">
					<table class="p-table -full">
						<colgroup span="3"></colgroup>
						<colgroup span="2"></colgroup>
						<colgroup></colgroup>
						<thead>
							<tr>
								<th scope="colgroup" colspan="2">圧縮機</th>
								<th scope="colgroup" colspan="2">電動機</th>
								<th scope="colgroup" rowspan="2">主な搭載車両</th>
							</tr>
							<tr>
								<th scope="col">形式</th>
								<th scope="col">変位容積</th>
								<th scope="col">形式</th>
								<th scope="col">電圧</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#d2n" class="c-link">D2N</a></td>
								<td>?</td>
								<td>?</td>
								<td>DC 750V / 1500V</td>
								<td>3000形グループ、熊本電気鉄道5000形</td>
							</tr>
							<tr>
								<td><a href="#3ys" class="c-link">3YS</a></td>
								<td>1,000ℓ/min<htmlbuild-footnote>「TKK超軽量電車5000型」（パンフレット）より。ただし、現車調査において 1,175ℓ/min の固体も存在することを確認しています。後の増備で増加したのか、それとも資料ではおおよその値を示しているに過ぎないのかは不明です。</htmlbuild-footnote></td>
								<td>SE551</td>
								<td>DC 1500V</td>
								<td>5000系、5200系</td>
							</tr>
							<tr>
								<td><a href="#c1000" class="c-link">C1000</a></td>
								<td>1,194ℓ/min<htmlbuild-footnote>電気車の科学 1960年5月号（No.145）「東京急行新ステンレスカー6000形について」（白石安之） p.17</htmlbuild-footnote></td>
								<td>MH80</td>
								<td>DC 1500V</td>
								<td>6000系、7000系、7200系</td>
							</tr>
							<tr>
								<td><a href="#hb1500" class="c-link">HB1500</a></td>
								<td>1,590ℓ/min</td>
								<td>CM1515</td>
								<td>DC 1500V</td>
								<td>7200系、7000系、サハ7950形</td>
							</tr>
							<tr>
								<td rowspan="2"><a href="#hb2000" class="c-link">HB2000</a></td>
								<td rowspan="2">2,130ℓ/min</td>
								<td>CM2015</td>
								<td rowspan="2">DC 1500V</td>
								<td rowspan="2">8000系グループ<small>（17次車以前）</small></td>
							</tr>
							<tr>
								<td>EFO-H30</td>
							</tr>
							<tr>
								<td rowspan="3"><a href="#hs20" class="c-link">HS20</a></td>
								<td rowspan="2">2,100ℓ/min</td>
								<td>A1544</td>
								<td rowspan="2">AC 440V</td>
								<td>9000系、1000系<small>（N、N′除く）</small>、2000系→9020系、クハ7915</td>
							</tr>
							<tr>
								<td>TFC221</td>
								<td>クハ9010</td>
							</tr>
							<tr>
								<td>2,130ℓ/min</td>
								<td>D1215</td>
								<td>DC 1500V</td>
								<td>7600系、8000系グループ<small>（18次車以降）</small>、7700系、1000N系</td>
							</tr>
							<tr>
								<td rowspan="2"><a href="#hs10" class="c-link">HS10</a></td>
								<td>1,175ℓ/min</td>
								<td>D6515</td>
								<td>DC 1500V</td>
								<td>1000N′系、伊賀鉄道200系</td>
							</tr>
							<tr>
								<td>1,120ℓ/min</td>
								<td>?</td>
								<td>AC 440V</td>
								<td>福島交通1000系</td>
							</tr>
							<tr>
								<td rowspan="2"><a href="#hs5" class="c-link">HS5</a></td>
								<td>600ℓ/min<htmlbuild-footnote>ナブコ技報 1986年7月号（No.62）「HS5電動空気圧縮機装置」 p.53</htmlbuild-footnote></td>
								<td>D3360</td>
								<td>DC 600V</td>
								<td>デハ70形、300系</td>
							</tr>
							<tr>
								<td>610ℓ/min<htmlbuild-footnote>鉄道ピクトリアル 1999年10月号（No.675）「横浜高速鉄道Y000系」（服部典夫、佐藤浩規） p.64</htmlbuild-footnote></td>
								<td>?</td>
								<td>AC 440V</td>
								<td>Y000系</td>
							</tr>
							<tr>
								<td><a href="#c2500" class="c-link">C2500L</a></td>
								<td>2,463ℓ/min<htmlbuild-footnote>車両技術 1999年9月号（No.218）「東京急行電鉄3000系車両」（神尾純一、門田吉人） p.49</htmlbuild-footnote></td>
								<td>A1744</td>
								<td>AC 440V</td>
								<td>新3000系</td>
							</tr>
							<tr>
								<td><a href="#c2000m" class="c-link">C2000M</a></td>
								<td>2,100ℓ/min<htmlbuild-footnote>ナブコ技報 1984年1月号（No.57）「低騒音空気圧縮機の開発」（小椋聡） p.7</htmlbuild-footnote></td>
								<td>?</td>
								<td>DC 1500V</td>
								<td>富山地方鉄道17480形</td>
							</tr>
						</tbody>
					</table>

					<ul class="p-notes">
						<li>圧縮機変位容積で注釈番号のないものは現車調査による。</li>
					</ul>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="d2n">
						<div class="p-section__hdg">
							<h2>D2N</h2>
						</div>

						<div class="c-flex">
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/D2N_510.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/D2N_510.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2009-05-19 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">モハ510 復元車</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/D2N_kumamoto5102A.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/D2N_kumamoto5102A.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2006-05-06 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">熊本電気鉄道モハ5102A（東急デハ5032）</p>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="p-text">
							<p>モハ510形（デハ3450形）の一部をはじめ旧性能車に広く搭載されていたギヤ式の CP で、当初から昇圧を見込み複電圧対応として製作されました。そのため1952年〜1958年にかけての鉄道線 1500V 昇圧後も引き続き使用され、1993年のデハ3450形、デヤ3000形引退まで長く使用されました。また、唯一の電気機関車であったデキ1形（デキ3021 形）も本タイプを搭載していました。</p>
							<p>晩年はモータ側が正面を向いた形で設置されていましたが、当初は90度向きが異なるケースが主流だったようで、モハ510 復元車では真横から見るとモータ軸（右側）、クランク軸（左側）の2つの軸を観察することができます。</p>
							<p>旧5000系の熊本電気鉄道譲渡に際しては複電圧の特性を活かして CP が本タイプへ換装され、最後の1両が現在も動態保存で残っています。</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="3ys">
						<div class="p-section__hdg">
							<h2>3YS</h2>
						</div>

						<div class="c-flex">
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS_matsumoto5005.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/3YS_matsumoto5005.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2010-03-21 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">松本電気鉄道モハ5005（東急デハ5055）</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS_nagano2510.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/3YS_nagano2510.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2007-05-05 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">長野電鉄モハ2510（東急デハ5015）</p>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="p-text">
							<p>
								旧5000系グループで採用された CP は従来のギヤ式に変わり、独立した電動機と圧縮機がベルトで結合された方式となりました。CP を裏側から見ると<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS_gakunan5004_belt.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2006-11-25 -->プーリーとベルトの様子</a><small>（リンク先写真は岳南鉄道モハ5004）</small>が窺えますが、圧縮機側の大プーリーは冷却ファンの羽根を兼ねていることが分かります。
							</p>
							<p>
								長野電鉄に譲渡された車両は A 基準対応化や、信州中野―湯田中間の急勾配対策による2両固定編成の主電動機交換などのほか、各種の冬季対策も行われ、 CP には覆いが被せられました。そのため、一見しただけでは他の床下機器に紛れて CP だと判別しづらい様相になっています。なお、下部には<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS_nagano2510_bottom.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2009-09-08 -->通気口</a><small>（リンク先写真は長野電鉄モハ2510）</small>が設けられています。
							</p>
							<p>本タイプを搭載した車両は岳南鉄道譲渡車を最後に2002年までにすべて引退しましたが、現在も静態保存車に残っています。</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="c1000">
						<div class="p-section__hdg">
							<h2>C1000</h2>
						</div>

						<div class="c-flex">
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/C1000_konan6005.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C1000_konan6005.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2006-09-03 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">弘南鉄道デハ6005（東急デハ6005）</p>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="p-text">
							<p><a href="#3ys">3YS 型</a>の改良タイプであり、旧6000系から7200系（デハ7300形）まで搭載され、後にデハ3450形やデハ3500形などにも広く普及しました。</p>
							<p>譲渡車でも水間鉄道7000系の一部などに搭載されていましたが、現在は弘南鉄道6000系奇数車と十和田観光電鉄モハ3603（静態保存車）に残るのみとなっています。</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="hb1500">
						<div class="p-section__hdg">
							<h3>HB1500</h3>
						</div>

						<div class="c-flex">
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB1500_ueda7255.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB1500_ueda7255.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2005-03-29 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title"><b>【7200系タイプ】</b>上田交通モハ7255（東急デハ7258）</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB1500_fukushima7202.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB1500_fukushima7202.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2013-07-07 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title"><b>【7000系タイプ】</b>福島交通デハ7202（東急デハ7125）</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB1500_hokuriku7211.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB1500_hokuriku7211.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2008-04-13 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title"><b>【京阪タイプ】</b>北陸鉄道クハ7211（東急デハ7137）</p>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="p-text">
							<p><a href="#3ys">3YS 型</a>、<a href="#c1000">C1000 型</a>からさらに構造が変わり、電動機と圧縮機をゴム可とう継手で繋ぎ、高圧・低圧それぞれ2つのシリンダを対向に配したもの（水平対向4気筒）となりました。この基本構造は後の <a href="#hb2000">HB2000 型</a>や <a href="#hs20">HS20 型</a>にも引き継がれています。</p>
							<p>本タイプは東急では7200系で採用され、後に旧7000系の一部にも C1000 型の交換という形で搭載、7700系でもサハ7950形の一部やクハ7915（先頭化改造車）が搭載していました。7200系用と7000系用では形態が異なり、ちりこしの設置高さや配管配置、シリンダ形状などに違いが見られます。変わったところだと、長津田車両工場の入れ替え車となったデワ3043 に晩年7200系タイプが搭載されていたこともありました。</p>
							<p>現在では徐々に数を減らしているとはいえ、豊橋鉄道、大井川鐵道などで7200系タイプが、弘南鉄道、水間鉄道で7000系タイプがまだ多数活躍しています。ただし水間鉄道デハ1008 は7000系ながら7200系タイプを搭載しています。</p>
							<p>なお、旧7000系のうち北陸鉄道譲渡車は床下機器が一新され、このうち CP は後に京阪電気鉄道の発生品<htmlbuild-footnote>鉄道ピクトリアル 2001年5月臨時増刊号（No.701）「現有私鉄概説　北陸鉄道」（山本宏之） p.88</htmlbuild-footnote>への再交換がなされたのですが、奇しくも HB1500 型を搭載することになりました。ただし東急とは表裏逆向きに取り付けられており、また<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB1500_ueda7255_back.jpg" type="image/jpeg" class="htmlbuild-anchor-type">東急タイプの HB1500 型の裏側</a><small>（リンク先写真は上田電鉄モハ7255）</small>と比較すると電動機が異なるほか、フレームの電動機側の下端が斜めにカットされた形状になっている特徴が分かります。</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="hb2000">
						<div class="p-section__hdg">
							<h2>HB2000</h2>
						</div>

						<div class="c-flex">
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_8879.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_8879.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2009-04-05 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title"><b>【神鋼電機】</b>デハ8879（15次車）海側</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_8281.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_8281.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2008-09-06 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title"><b>【日立製作所】</b>デハ8281（16-2次車）海側 #1</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_izukyu8252.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_izukyu8252.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2006-05-28 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title"><b>【神鋼電機、反転】</b>伊豆急行クモハ8252（東急デハ8049）</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_8881_frame.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_8881_frame.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2009-05-22 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">デハ8881（15次車）海側</p>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="p-text">
							<p>8000系に搭載された HB2000 型の基本構造は7200系で採用された <a href="#hb1500">HB1500 型</a>と同様ですが、容積や出力がアップされています。</p>
							<p>8500系、8090系も含めた17次車までに搭載され、電動機は神鋼電機<small>（現：シンフォニアテクノロジー）</small>製の CM2015 型が多くを占めていましたが、日立製作所製の EFO 型も混在しており、出力や定格回転数の特性は同一ながら点検蓋の形状などに差異がみられました。</p>
							<p>8000系グループの東急での活躍末期は神鋼製に統一されており、長野電鉄、秩父鉄道の譲渡車も同様の状況と思われますが、伊豆急行では CP 搭載車のおよそ3分の1ほどが日立製を搭載しています<htmlbuild-footnote>2011年頃の調査では CP 搭載車22両のうち、日立製作所製は次の8両でした。モハ8201, 8202, 8206, 8257、クハ8002, 8005, 8006, 8007。</htmlbuild-footnote>。また、伊豆急行譲渡車のうちクモハ8250形のみは表裏逆向きに取り付けられているのが特徴です。</p>
							<p>ユニークなところで田園都市線の8500系（10両編成）は、一部編成を除き6号車の CP を撤去して1編成あたりの台数を3機にする改造が行われましたが、一部の撤去車は吊枠のみ残されていました<htmlbuild-footnote>吊枠のみの状態になっていたのは次の7両です。デハ8842<small>（8625F）</small>、デハ8843<small>（8626F）</small>、デハ8845<small>（8617F）</small>、デハ8849<small>（8621F）</small>、デハ8866<small>（8623F）</small>、デハ8878<small>（8632F）</small>、デハ8881<small>（8633F）</small>。このうちデハ8845 はいったん撤去された後、改めて吊枠のみ設置されたことを確認しています。</htmlbuild-footnote>。なお当該車両はいずれも13次車以降で、これは 100V 蓄電池が山側に搭載された車両だったため（CP は海側搭載）、車両の重量バランスを考慮した処置だったものと思われます。</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="hs20">
						<div class="p-section__hdg">
							<h2>HS20</h2>
						</div>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>誘導電動機<small>（HS20-1）</small></h3>
							</div>

							<div class="c-flex">
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_9101.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_9101.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-01-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ9101（1次車）海側</p>
										</figcaption>
									</figure>
								</div>
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_9010.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_9010.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2013-06-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ9010（3次車）海側</p>
										</figcaption>
									</figure>
								</div>
							</div>

							<div class="p-text">
								<p>低騒音、小型軽量化、低振動化を図るために開発された機種で、弁部から発生する音を軽減したり、フレーム構造を廃して圧縮機と電動機を直結したりすることにより、 <a href="#hb2000">HB2000 型</a>と比較して重量 40% 減、車内騒音値 11% 減を達成しています<htmlbuild-footnote>ナブコ技報 1984年1月号（No.57）「低騒音空気圧縮機の開発」（小椋聡） p.7–8</htmlbuild-footnote>。</p>
								<p>現車試験の後、1986年デビューの9000系で本格採用され、2000系までの新造車に搭載されています。また <a href="#hb1500">HB1500 型</a>を搭載していたクハ7915 も先頭化改造からしばらくして本タイプに換装されました。</p>
								<p>
									電動機は交流駆動とされ、 SIV から出力された三相交流が直接供給されます。隣接して<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_cm_9001.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2007-09-15 -->起動装置</a><small>（リンク先写真はクハ9001 海側）</small>を備えますが、<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_cm_9009.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2010-03-31 -->9000系3次車以降の起動装置</a><small>（リンク先写真はクハ9009 海側）</small>は小型化されています。
								</p>
								<p>
									クハ9010 の CP は1992年に<dfn>双固定子誘導電動機（SIM モーター）</dfn>を使ったものに交換されました<htmlbuild-footnote>SIM とは開発元である佐竹製作所（現在の<a href="https://satake-japan.co.jp/" class="htmlbuild-host">株式会社サタケ</a>）から名称を取った SATAKE Induction Motor の略です。1989年に開発され、1992年に東急電車にて初めて実車搭載がなされました。装置の詳細については、電気車の科学 1993年10月号（No.546）「SIMモータ式空気圧縮機の実用化について」（宮田道一、尾崎正明）や<a href="https://dl.ndl.go.jp/pid/2322419/1/46" class="htmlbuild-host">自動化技術 1993年11月号「車載用双固定子形誘導電動機式空気圧縮機の実用化」（丸山博正）</a>に、また開発時のエピソードは<a href="https://satake-japan.co.jp/news/new-release/news120418-2.html" class="htmlbuild-host">新幹線E5系に採用された時のニュースリリース</a>に掲載されています。</htmlbuild-footnote>。これは始動時のみローターバーの抵抗を高くして、ローターに流れる誘導電流を抑えることで始動電流の抑制を図ったものであり、電動機（TFC221 型）の特性は通常の誘導電動機タイプとほぼ同一となっています。当時、東武鉄道など量産が行われた事業者もありましたが、東急電鉄では現車試験を続けている中で旅客車両の新造が1993年〜1999年の6年間途絶えたためか、 HS20 型の SIM タイプは量産されないまま、クハ9010 の CP も2013年の大井町線転籍直後に通常タイプに戻されて消滅しました。
								</p>
							</div>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>直流電動機<small>（HS20G）</small></h3>
							</div>

							<div class="c-flex">
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_8641.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_8641.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-12-29 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8641（18-2次車）海側</p>
										</figcaption>
									</figure>
								</div>
							</div>

							<div class="p-text">
								<p>7600系や8000系グループ18次車以降も HS20 型が採用されましたが、こちらは直流駆動式とされました。</p>
								<p>その後7700系（クハ7900形）と1000N系にも搭載され、7700系は3連化時にデハ7800形にも追設されたほか<small>（サハ7950形から改造されたデハ7815 を含む）</small>、デヤ7200、デヤ7290 もこのタイプに換装されました。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="hs10">
						<div class="p-section__hdg">
							<h2>HS10</h2>
						</div>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>直流電動機</h3>
							</div>

							<div class="c-flex">
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS10_1223.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10_1223.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-04-17 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ1223（4次車）海側</p>
										</figcaption>
									</figure>
								</div>
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS10_iga101.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10_iga101.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-12-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">伊賀鉄道ク101（東急クハ1010）</p>
										</figcaption>
									</figure>
								</div>
							</div>

							<div class="p-text">
								<p><a href="#hs20">HS20 型</a>を元に開発された小容量タイプで、全体的にコンパクトになり、ちりこしが横向きに配されるなど印象も異なります。</p>
								<p>東急電鉄では池上線向けに製造された1000N′系にのみ搭載されていますが、1000N系と同様に短編成で SIV が1機なため、電動機は架線給電の直流駆動式とされました。</p>
								<p>HS20 型を搭載していた1000系、1000N系のうち、伊賀鉄道譲渡車はク100形に本タイプが搭載されましたが、1000N′系登場前に製造された個体もあるため<htmlbuild-footnote>2012年にク105 の銘板を調査したところ、製造番号は 89035 でした。通常、製造番号の上2桁は製造年を表すため、これは1989年製造であるものと思われます。一方、1000N′系の登場は1991年です。</htmlbuild-footnote>、型式、外観は同一ながら東急以外からの出物ではないかと思われます。</p>
							</div>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>誘導電動機</h3>
							</div>

							<div class="c-flex">
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS10_fukushima1208.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10_fukushima1208.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-04-17 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">福島交通クハ1208（東急デハ1257）</p>
										</figcaption>
									</figure>
								</div>
							</div>

							<div class="p-text">
								<p>1000系の福島交通譲渡車はクハ1200形の CP が新品の HS10 型に換装されました。この際、種車と同じく交流駆動とされ、東急では見られなかった誘導電動機による HS10 型となっています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="hs5">
						<div class="p-section__hdg">
							<h2>HS5</h2>
						</div>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>直流電動機<small>（HS5）</small></h3>
							</div>

							<div class="c-flex">
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS5_310B.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_310B.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-02-22 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ310B（2次車）山側 #2</p>
										</figcaption>
									</figure>
								</div>
							</div>

							<div class="p-text">
								<p>路面電車など小型車両用に開発されたもので、シリンダ配列は <a href="#hs10">HS10 型</a>までの水平対向4気筒から V型2気筒へ変更されています。</p>
								<p>昔ながらのギヤ式 DH 型を搭載していた世田谷線のデハ70形は1980年代後半に CP 更新が行われ、この HS5 型へ交換されました。廃車後は300系に転用され、三軒茶屋向きのB車に2機が搭載されています。</p>
							</div>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>誘導電動機<small>（HS5-1）</small></h3>
							</div>

							<div class="c-flex">
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS5_Y001.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_Y001.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-04-06 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハY001（1次車）海側 #1</p>
										</figcaption>
									</figure>
								</div>
								<div class="c-flex__item">
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS5_Y002.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_Y002.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-03-22 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハY002（2次車）海側 #1</p>
										</figcaption>
									</figure>
								</div>
							</div>

							<div class="p-text">
								<p>こどもの国線用のY000系には交流駆動タイプが搭載されています。本体は枕木方向に配されており、圧縮機が外側を向いているので2気筒である様子がよく分かります。</p>
								<p>
									向かって右隣（上り方）に<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS5_CM16_Y003.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2009-03-22 -->起動装置</a><small>（リンク先写真はクハY003 海側）</small>を備えています。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="c2500">
						<div class="p-section__hdg">
							<h2>C2500L</h2>
						</div>

						<figure class="c-fit">
							<div class="p-embed -border">
								<a href="https://media.w0s.jp/image/tokyu/sty/cp/C2500L_3510.jpg" type="image/jpeg">
									<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2500L_3510.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
									<!-- 撮影日: 2007-08-19 --></a
								>
							</div>
							<figcaption class="c-caption -meta">
								<p class="c-caption__title">サハ3510（2次車）海側</p>
							</figcaption>
						</figure>

						<div class="p-text">
							<p>新3000系に搭載されたもので、シリンダは <a href="#hs20">HS20 型</a>などの対向4気筒から直列3気筒となり、ちりこしの右側に低圧2、高圧1 が一列に並んだ様相が特徴です。</p>
							<p>
								向かって左隣（下り方）に<a href="https://media.w0s.jp/image/tokyu/sty/cp/C2500L_CM15_3510.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2007-08-19 -->起動装置</a><small>（リンク先写真はサハ3510 海側）</small>を備えています。
							</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="c2000m">
						<div class="p-section__hdg">
							<h2>C2000M</h2>
						</div>

						<div class="c-flex">
							<div class="c-flex__item">
								<figure class="c-fit">
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/sty/cp/C2000M_toyama17482.jpg" type="image/jpeg">
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2000M_toyama17482.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
											<!-- 撮影日: 2013-11-03 --></a
										>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">富山地方鉄道モハ17482</p>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="p-text">
							<p>富山地方鉄道に譲渡された8590系は、モハ17482形（東急デハ8690形）の CP が同鉄道の他車種の多くに使用されている C2000M 型に交換されました。</p>
							<p>譲渡先で東急とは縁もゆかりもない CP が搭載される唯一の例となっています。</p>
						</div>
					</section>

					<htmlbuild-footnotes></htmlbuild-footnotes>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
