<!DOCTYPE html>
<html lang="ja" itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<title>東急7700系 先頭車正面</title>

		<meta itemprop="dateModified" content="2012-10-08" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">7700系 先頭車正面</h1>
						<%- include('./_include/_contents_header_date') %>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急池上線、多摩川線で活躍する7700系電車、および十和田観光電鉄譲渡車の先頭車正面写真を紹介します。7000系として新製された時からの形態差違に加え、各種改造によるバリエーションをお楽しみください。</p>
						<p>なお撮影時期は2006年〜2008年で、現在は廃車になったり形態が異なったりしている車両もあります。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<table class="p-table -full -font-small">
						<caption>
							東急電鉄7700系 正面形態バリエーション<small>（2008年現在、先頭化改造車を除く）</small>
						</caption>
						<thead>
							<tr>
								<th scope="col">車号</th>
								<th scope="col">幌取付ボルト</th>
								<th scope="col">非常扉水切り</th>
								<th scope="col">渡り板</th>
								<th scope="col">窓上 手すり</th>
								<th scope="col">窓下 手すり</th>
								<th scope="col">外気取入口蓋</th>
								<th scope="col">前尾灯台座</th>
								<th scope="col">前照灯</th>
								<th scope="col">急行灯</th>
								<th scope="col">急行灯手すり</th>
								<th scope="col">裾部ステップ</th>
								<th scope="col">ジャンパ受け跡</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">7701</th>
								<td>あり</td>
								<td>R付</td>
								<td>狭い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7702</th>
								<td>あり</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>あり</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7703</th>
								<td>あり</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>あり</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7705</th>
								<td>あり</td>
								<td>R付</td>
								<td>狭い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>あり</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7706</th>
								<td>あり</td>
								<td>R付</td>
								<td>狭い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>あり</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7707</th>
								<td>あり</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>縦ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>あり</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7708</th>
								<td>あり</td>
								<td>直角</td>
								<td>広い</td>
								<td>なし</td>
								<td>長い</td>
								<td>小型</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>内寄り、短い</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7710</th>
								<td>あり</td>
								<td>なし</td>
								<td>広い</td>
								<td>あり</td>
								<td>大きい</td>
								<td>小型</td>
								<td>SUS</td>
								<td>縦ヒンジ</td>
								<td>標準</td>
								<td>内寄り、短い</td>
								<td>あり</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7712</th>
								<td>撤去</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7713</th>
								<td>あり</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7714</th>
								<td>撤去</td>
								<td>R付</td>
								<td>狭い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>若干外寄り</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="row">7901</th>
								<td>あり</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>ボルト4本</td>
							</tr>
							<tr>
								<th scope="row">7902</th>
								<td>あり</td>
								<td>R付</td>
								<td>狭い</td>
								<td>なし</td>
								<td>短い</td>
								<td>車掌側のみ</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>ボルト4本</td>
							</tr>
							<tr>
								<th scope="row">7903</th>
								<td>なし</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>車掌側のみ</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7905</th>
								<td>あり</td>
								<td>R付</td>
								<td>狭い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>ボルト2本</td>
							</tr>
							<tr>
								<th scope="row">7906</th>
								<td>あり</td>
								<td>R付</td>
								<td>狭い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>ボルト4本</td>
							</tr>
							<tr>
								<th scope="row">7907</th>
								<td>あり</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>縦ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>あり</td>
								<td>ボルト4本</td>
							</tr>
							<tr>
								<th scope="row">7908</th>
								<td>なし</td>
								<td>直角</td>
								<td>広い</td>
								<td>なし</td>
								<td>長い</td>
								<td>小型</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>高い</td>
								<td>外寄り、短い</td>
								<td>なし</td>
								<td>ボルト4本</td>
							</tr>
							<tr>
								<th scope="row">7910</th>
								<td>なし</td>
								<td>なし</td>
								<td>広い</td>
								<td>あり</td>
								<td>大きい</td>
								<td>小型</td>
								<td>SUS</td>
								<td>縦ヒンジ</td>
								<td>標準</td>
								<td>内寄り、短い</td>
								<td>車掌側のみ</td>
								<td>ボルト4本</td>
							</tr>
							<tr>
								<th scope="row">7912</th>
								<td>撤去</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>若干外寄り</td>
								<td>あり</td>
								<td>金属板</td>
							</tr>
							<tr>
								<th scope="row">7913</th>
								<td>あり</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7914</th>
								<td>なし</td>
								<td>R付</td>
								<td>広い</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
						</tbody>
					</table>

					<table class="p-table -full -font-small">
						<caption>
							十和田観光電鉄7700系 正面形態バリエーション<small>（2008年現在）</small>
						</caption>
						<thead>
							<tr>
								<th scope="col">車号</th>
								<th scope="col">幌取付ボルト</th>
								<th scope="col">非常扉水切り</th>
								<th scope="col">窓上 手すり</th>
								<th scope="col">窓下 手すり</th>
								<th scope="col">外気取入口蓋</th>
								<th scope="col">前尾灯台座</th>
								<th scope="col">前照灯</th>
								<th scope="col">急行灯高さ</th>
								<th scope="col">急行灯手すり</th>
								<th scope="col">裾部ステップ</th>
								<th scope="col">ジャンパ受け跡</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">7701</th>
								<td>あり</td>
								<td>R付</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>あり</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7702</th>
								<td>なし</td>
								<td>直角</td>
								<td>なし</td>
								<td>長い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>高い</td>
								<td>外寄り、短い</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7703</th>
								<td>あり</td>
								<td>R付</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="row">7901</th>
								<td>なし</td>
								<td>R付</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>FRP</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>なし</td>
							</tr>
							<tr>
								<th scope="row">7902</th>
								<td>あり</td>
								<td>直角</td>
								<td>なし</td>
								<td>長い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>内寄り、短い</td>
								<td>なし</td>
								<td>ボルト4本</td>
							</tr>
							<tr>
								<th scope="row">7903</th>
								<td>あり</td>
								<td>R付</td>
								<td>なし</td>
								<td>短い</td>
								<td>あり</td>
								<td>SUS</td>
								<td>横ヒンジ</td>
								<td>標準</td>
								<td>標準位置</td>
								<td>なし</td>
								<td>小型ボルト4本</td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="mc-7700">
						<div class="p-section__hdg">
							<h2>デハ7700形</h2>
						</div>

						<div class="c-grid -narrow -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7701">
									<div class="p-section__hdg">
										<h3>デハ7701<small>（1次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7701.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7701.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-10-01 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>7700系に改造された当初は裾部ステップが残っていましたが、後に撤去されました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7702">
									<div class="p-section__hdg">
										<h3>デハ7702<small>（1次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7702.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7702.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-07 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>この車両とクハ7901はSRアンテナからの配線が埋め込まれておらず、屋根上に露出しています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7703">
									<div class="p-section__hdg">
										<h3>デハ7703<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7703.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7703.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-21 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>特筆すべき点は多くない車両ですが、池多摩線に残った7700系で前尾灯台座が金属製の車両は意外と少ないです。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7705">
									<div class="p-section__hdg">
										<h3>デハ7705<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7705.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7705.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-16 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>至ってノーマルな形態で、正面に限って言えばデハ7706との違いがほとんどありませんが、非常扉窓のワイパー取り付け向きが異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7706">
									<div class="p-section__hdg">
										<h3>デハ7706<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7706.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7706.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-09-02 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>先に同じくデハ7705との違いは非常扉窓のワイパーくらいです。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7707">
									<div class="p-section__hdg">
										<h3>デハ7707<small>（3次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7707.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7707.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-08 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>この車両とデハ7710、クハ7907、クハ7910の4両は7700系化に際しなぜか前照灯が交換されず、旧型の縦ヒンジタイプとなっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7708">
									<div class="p-section__hdg">
										<h3>デハ7708<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7708.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7708.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-08 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>7000系2次車からの改造車であり、非常扉上部の水切りがRのないタイプとなっているなど様々な違いがあります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7710">
									<div class="p-section__hdg">
										<h3>デハ7710<small>（3次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7710.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7710.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-22 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>7000系1次車からの改造車であり、非常扉上部の水切りがない、昇降ステップの間隔が異なるなど様々な違いがあります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7712">
									<div class="p-section__hdg">
										<h3>デハ7712<small>（4次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7712.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7712.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-09-09 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>海側にある昇降ステップは小型のもので、設置位置も若干内側となっています。正面では他にデハ7714やクハ7912も同様です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7713">
									<div class="p-section__hdg">
										<h3>デハ7713<small>（5次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7713.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7713.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-10-01 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>“歌舞伎”の7700系は幌取付ボルトを撤去された車両もありますが、このデハ7713とクハ7913は残されていました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7714">
									<div class="p-section__hdg">
										<h3>デハ7714<small>（5次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7714.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7714.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-10-01 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>この車両とクハ7912は急行灯横の手すり位置が他車より若干外側になっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7715">
									<div class="p-section__hdg">
										<h3>デハ7715<small>（5次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7715.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7715.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-21 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>サハ7950形からの先頭化改造車です。7700系では唯一の前パンでした。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="tc-7900">
						<div class="p-section__hdg">
							<h2>クハ7900形</h2>
						</div>

						<div class="c-grid -narrow -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7901">
									<div class="p-section__hdg">
										<h3>クハ7901<small>（1次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7901.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7901.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-11-23 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>写真では分かりづらいですが、SRアンテナからの配線は埋め込まれておらず、屋根上に露出しています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7902">
									<div class="p-section__hdg">
										<h3>クハ7902<small>（1次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7902.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7902.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-09-16 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>撮影当時、一部車両は写真のようにワイパーブレードが黒色のタイプになっていました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7903">
									<div class="p-section__hdg">
										<h3>クハ7903<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7903.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7903.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-07 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>この車両とクハ7902は窓下の風取入口跡が車掌台側しかありません。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7905">
									<div class="p-section__hdg">
										<h3>クハ7905<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7905.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7905.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-07-16 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>この車両はジャンパ栓撤去跡のボルトが上2本しか差し込まれていません。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7906">
									<div class="p-section__hdg">
										<h3>クハ7906<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7906.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7906.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-10-28 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>クハ7900形のなかではもっともノーマルな形態の車両だと思います。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7907">
									<div class="p-section__hdg">
										<h3>クハ7907<small>（3次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7907.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7907.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-11-23 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>この車両とデハ7707、デハ7710、クハ7910の4両は前照灯が旧型の縦ヒンジタイプとなっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7908">
									<div class="p-section__hdg">
										<h3>クハ7908<small>（2次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7908.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7908.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-10-28 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>7000系2次車からの改造車であり、非常扉上部の水切りがRのないタイプとなっているなど様々な違いがあります。</p>
										<p>写真は警笛交換前の撮影。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7910">
									<div class="p-section__hdg">
										<h3>クハ7910<small>（3次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7910.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7910.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-10-28 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>7000系1次車からの改造車であり、非常扉上部の水切りがない、昇降ステップの間隔が異なるなど様々な違いがあります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7912">
									<div class="p-section__hdg">
										<h3>クハ7912<small>（4次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7912.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7912.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-10-28 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>海側のジャンパ受け撤去跡が板留めになっているのが特徴です。</p>
										<p>また、“歌舞伎”の7700系は大半が裾部ステップを撤去されましたが、この車両のみ残っています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7913">
									<div class="p-section__hdg">
										<h3>クハ7913<small>（5次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7913.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7913.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-10-01 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>“歌舞伎”の7700系は幌取付ボルトを撤去された車両もありますが、このクハ7913とデハ7713は残されていました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7914">
									<div class="p-section__hdg">
										<h3>クハ7914<small>（5次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7914.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7914.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-10-01 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>この車両とデハ7714、クハ7913は運転台窓下にあるウインドウォッシャー吹出口の形状が他車と異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7915">
									<div class="p-section__hdg">
										<h3>クハ7915<small>（5次車）</small></h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/7915.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/7915.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-09-23 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>サハ7950形からの先頭化改造車です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="mc-7700-towada">
						<div class="p-section__hdg">
							<h2>十和田観光電鉄 モハ7700形</h2>
						</div>

						<div class="c-grid -narrow -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-towada7701">
									<div class="p-section__hdg">
										<h3>モハ7701</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/towada_7701.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/towada_7701.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2008-05-04 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>元・東急デハ7704です。十和田観光譲渡車では唯一、裾部ステップが残存していた車両です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-towada7702">
									<div class="p-section__hdg">
										<h3>モハ7702</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/towada_7702.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/towada_7702.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2008-07-21 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>元・東急デハ7709で、非常扉上部の水切りがRのないタイプです。</p>
										<p>この車両と東急クハ7908は運転台側の急行灯と手すりが他車より離れています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-towada7703">
									<div class="p-section__hdg">
										<h3>モハ7703</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/towada_7703.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/towada_7703.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2008-05-04 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>元・東急デハ7711です。</p>
										<p>7700系改造時、当初から電気指令式ブレーキとして改造されたグループなため、空気管周りの配置が7701, 7702とは異なります。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="tc-7900-towada">
						<div class="p-section__hdg">
							<h2>十和田観光電鉄 クハ7900形</h2>
						</div>

						<div class="c-grid -narrow -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-towada7901">
									<div class="p-section__hdg">
										<h3>クハ7901</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/towada_7901.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/towada_7901.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2008-09-13 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>元・東急クハ7904です。この車両は目蒲線時代から渡り板が撤去されていました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-towada7902">
									<div class="p-section__hdg">
										<h3>クハ7902</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/towada_7902.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/towada_7902.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2006-09-03 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>元・東急クハ7909で、非常扉上部の水切りがRのないタイプです。</p>
										<p>急行灯横の手すり位置も他車とは若干異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-towada7903">
									<div class="p-section__hdg">
										<h3>クハ7903</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/front/towada_7903.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/front/towada_7903.jpg?type=jpeg;w=216;quality=60" alt="写真拡大" width="216" height="270" class="htmlbuild-image" />
												<!-- 撮影日: 2007-04-30 -->
											</a>
										</div>
									</figure>

									<div class="p-text">
										<p>元・東急クハ7911です。モハ7703と同じ理由で空気管周りの配置が異なります。</p>
										<p>写真では見づらいですが、ジャンパ受け撤去跡のボルトが特異な形状をしています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer"><%- include('./_include/_contents_footer_source') %></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
