<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急電車の整流装置",
				"headline": "整流装置",
				"dateModified": "2007-09-01",
				"description": "東急電鉄の7200系から新3000系までに搭載された整流装置を紹介します。",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/sty/", "name": "東急電車の車両形態" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: true }) %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="summary">
						<div class="p-section__hdg">
							<h2>概要</h2>
						</div>

						<div class="p-text">
							<p>東急電鉄に冷房車が登場したのは1971年の8000系2次車から（当初は8019Fのみ）ですが、1986年に登場した9000系では、空気圧縮機の電動機が交流化されたことに伴い、SIV の出力電圧が三相交流 440V に変更されたため、単相交流 200V や直流 100V・24V への変圧・整流を行う整流装置が設けられました。その後の新造車、改造車も一部を除き同様のシステムになっています。</p>
							<p>整流装置自体は MG 時代から存在しますが、ここでは主に三相交流 440V からの整流を行う装置のバリエーションを紹介します。</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series7200">
						<div class="p-section__hdg">
							<h2>7200系</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rs120">
									<div class="p-section__hdg">
										<h3>RS120</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RS120.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RS120.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-10-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デヤ7290（2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>7200系に搭載されていた整流装置。検測車へ改造されたデヤ7290には、旅客車と搭載場所は異なるものの、同型の整流装置が設けられました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series8000">
						<div class="p-section__hdg">
							<h2>8000系グループ</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rs175">
									<div class="p-section__hdg">
										<h3>RS175</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RS175.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RS175.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-06-08 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8692（20次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>8500系やサハ8390形に搭載されている整流装置。特殊車へ改造されたデヤ7200のほか、東横線から大井町線へ転籍した8590系（デハ8690形）のうち、デハ8692, 8693もこのタイプを装備します。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rs180">
									<div class="p-section__hdg">
										<h3>RS180</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RS180.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RS180.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-06-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ8091（12-1次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>同じ8000系グループでも、8000系や8090形には2枚蓋のタイプが搭載されています。大井町線転籍後のデハ8691もこのタイプを装備します。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series9000">
						<div class="p-section__hdg">
							<h2>9000系、1000系、2000系、クハ7915</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe001a">
									<div class="p-section__hdg">
										<h3>RFE001-A、RFE001-B</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE001-A.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE001-A.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-02-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ9001（1次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>9000系、1000系、2000系、およびクハ7915にはRFE001系整流装置が搭載されていますが、9000系1次車のみ1枚蓋タイプで異彩を放っています。写真は100V・24V共用のA型で、ほかに100V専用のB型がサハ9801に搭載されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe001d">
									<div class="p-section__hdg">
										<h3>RFE001-C、RFE001-D</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE001-C.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE001-C.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-03-08 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ9006（2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>9000系2次車以降は、2枚蓋タイプのC型（100V・24V）、およびD型（100V）となりました。</p>
										<p>搭載位置は、9000系はTc1、Tc2、T1の各車山側、1000系・2000系はSIV本体と同じくM2車山側、クハ7915はほかの7700系同様Tc車山側となっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe001e">
									<div class="p-section__hdg">
										<h3>RFE001-E、RFE001-F</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE001-E.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE001-E.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-09-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ1213（3次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>1000N系は、デハ1350形奇数車用のE型と同偶数車用のF型を搭載します。</p>
										<p>池上、多摩川線転籍にあたり3連化改造を受けた車両は、デハ1200形の海側に移設されました。東横線に残った1編成は、2003年の編成組み替え後もSIVと同様、引き続き2台搭載となっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe001g">
									<div class="p-section__hdg">
										<h3>RFE001-G</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE001-G.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE001-G.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-07-14 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ1222（4次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>1000N′系は、小型化されたG型（100V・24V共用）をM車に搭載します。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series7600">
						<div class="p-section__hdg">
							<h2>7600系</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe005">
									<div class="p-section__hdg">
										<h3>RFE005</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE005.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE005.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-08-18 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7601（1次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>Tc車に搭載されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series8500-18">
						<div class="p-section__hdg">
							<h2>8500系（18次車以降の編成車）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe007">
									<div class="p-section__hdg">
										<h3>RFE007</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE007.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE007.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-08-12 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サハ8975（18-1次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>8000系18次車以降の編成車では、<a href="aps#inv008">SIVの出力電圧変更</a>とともに整流装置も変更されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series7700">
						<div class="p-section__hdg">
							<h2>7700系</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe013">
									<div class="p-section__hdg">
										<h3>RFE013</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE013.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE013.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-08-19 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7905（2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>Tc車に搭載。同型のSIVを搭載する9000系や1000系の整流装置よりもDC出力容量が増加しています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="s4341">
									<div class="p-section__hdg">
										<h3>S4341</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/S4341.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/S4341.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-08-18 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7910（3次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>東洋電機製造のSIVを装備するクハ7910、クハ7914は、整流装置も同社製のものとなっています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series3000">
						<div class="p-section__hdg">
							<h2>新3000系</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="cg316">
									<div class="p-section__hdg">
										<h3>CG316</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/CG316.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/CG316.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-08-19 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サハ3510（2次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>SIV本体搭載車と同じM2, T車に搭載されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="seriesY000">
						<div class="p-section__hdg">
							<h2>Y000系</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe059">
									<div class="p-section__hdg">
										<h3>RFE059</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE059.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE059.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-09-25 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハY001（1次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>Tc車に搭載されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="series8090-100k">
						<div class="p-section__hdg">
							<h2>大井町線8090系二電源化工事車</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rfe068">
									<div class="p-section__hdg">
										<h3>RFE068</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RFE068.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RFE068.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-09-28 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8282（16-2次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>大井町線8090系の一部編成は二電源化工事が行われ、3号車（デハ8290形）のSIVを100kVAに換装していますが、整流装置も更新されています。写真は<a href="aps#inv104">INV-104型SIV</a>搭載車のもので、台車のすぐ脇に搭載されていますが、<a href="aps#inv153">INV-153型SIV</a>搭載車は同位置にリアクトル箱があるため、設置位置が若干2位方になっています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="v24">
						<div class="p-section__hdg">
							<h2>24V整流装置</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="rs157">
									<div class="p-section__hdg">
										<h3>RS157</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/rec/RS157.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/rec/RS157.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-09-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サハ8975（18-1次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>7600系、7700系（7915F除く）、8500系、8090系には、24V用の整流装置が独立して設けられています。いずれも、24V蓄電池を搭載する車両の海側に設置されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
