<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急デヤ7200、デヤ7290、サヤ7590　屋根上機器配置",
				"headline": "屋根上機器配置　7200系（デヤ7200、デヤ7290、サヤ7590）",
				"dateModified": "2012-02-18",
				"description": "東急線で検測車、動力車として活躍するデヤ7200、デヤ7290、サヤ7590の屋根上写真を紹介します。",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/sty/", "name": "東急電車の車両形態" }
				],
				"localNav": [
					{ "path": "/tokyu/sty/roof_7200", "name": "7200系" },
					{ "path": "/tokyu/sty/roof_7600", "name": "7600系" },
					{ "path": "/tokyu/sty/roof_7700", "name": "7700系" },
					{ "path": "/tokyu/sty/roof_7700n", "name": "7915F" },
					{ "path": "/tokyu/sty/roof_1000n", "name": "1000N系（池多摩線）、1000N′系" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: true }) %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="cmc-7200">
						<div class="p-section__hdg">
							<h2>デヤ7200形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="cmc-7200-1">
									<div class="p-section__hdg">
										<h3>デヤ7200</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/7200.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/7200.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2011-11-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デヤ7200（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>両側の車端部に集電装置（菱形パンタグラフ）が設置されており、それぞれの車央方には避雷器があります。上り方の集電装置から延びる配管は、下り方集電装置からのもの共々、下り方妻面から床下へ繋がっています。</p>
										<p>車央部にはベンチレーターが2台残されており、また両端の乗務員室直上にはそれぞれ逆L字型のSRアンテナがあります。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="cmc-7290">
						<div class="p-section__hdg">
							<h2>デヤ7290形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="cmc-7290-1">
									<div class="p-section__hdg">
										<h3>デヤ7290<small>（集電装置換装前）</small></h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/7290.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/7290.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-07-09 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デヤ7290（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>両側の車端部に菱形パンタグラフが設置されており、それぞれの上り方には避雷器があります。下り方の測定用パンタグラフから上り方へ向かって延びる配管は、車央部付近で車体に埋め込まれます。上り方の集電用パンタグラフから延びる配管は、上り方妻面から床下へ繋がっています。</p>
										<p>車央部は屋根を掘り下げて観測ドームと測定装置を搭載しています。観測ドームは四方に窓が設けられ、このうち前後方向の窓はワイパー付きです。さらに、前後方向の窓の両脇には架線に向けて投光器が設置されています。</p>
										<p>逆L字型のSRアンテナは、下り方の乗務員室直上のほか、上り方集電装置の下り方にも2基増設されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="cmc-7290-2">
									<div class="p-section__hdg">
										<h3>デヤ7290<small>（集電装置シングルアーム化）</small></h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/7290_PT7108.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/7290_PT7108.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2011-11-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デヤ7290（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>2010年に明電舎製の新型検測装置<dfn>CATENARY EYE（カテナリーアイ）</dfn>が搭載されました。これは観測ドームと上り方の集電用パンタグラフの間に配置され、集電用パンタグラフはシングルアーム式に換装されました。</p>
										<p>これに伴い、投光器が1つ撤去されたほか、上り方のSRアンテナやヒューズ箱などが移設されています。</p>
										<p>下り方の測定用パンタグラフは検測運転時も用いられることはなくなりましたが、撤去はされず残っています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="t-7590">
						<div class="p-section__hdg">
							<h2>サヤ7590形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="t-7590-1">
									<div class="p-section__hdg">
										<h3>サヤ7590</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/7590.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/7590.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2011-11-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サヤ7590（5次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>冷房装置が2台配置されており、キセの開口部はすべて下り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたってランボードが設けられています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
