<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急大井町線デハ8290形　床下機器配置",
				"headline": "大井町線デハ8290形　床下機器配置",
				"dateModified": "2007-08-01",
				"description": "大井町線の8090系（5両編成）は3号車に小容量 SIV が搭載されていますが、いずれも1970年代の製造であり、老朽化および予備品確保のためか、大容量タイプに更新し二電源化を実現する工事が一部編成で行われました。",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/sty/", "name": "車両形態" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header') %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="m2-8290-bs33">
						<div class="p-section__hdg">
							<h2>10kVA SIV 搭載車</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-bs33-s">
									<div class="p-section__hdg">
										<h3>海側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8290s-BS33.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8290s-BS33.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2005-05-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8294海側（13次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、遮断器箱（SIV 起動装置）、接地開閉器、空気圧縮機（HB-2000 型、2台）、100V蓄電池です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-bs33-m">
									<div class="p-section__hdg">
										<h3>山側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8290m-BS33.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8290m-BS33.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2007-09-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8284山側（16-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、<a href="aps#bs33">静止形インバータ（BS-33 型）</a>、負荷接触器、元空気だめ、除湿装置、元空気だめ、除湿装置、ブレーキ制御装置です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-bs33-j">
									<div class="p-section__hdg">
										<h3>山側連結部</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/IC3C.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/IC3C.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2007-08-18 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8495 ｰ デハ8280山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>デハ8490形（2号車）とデハ8290形（3号車）の山側連結部の様子。手前から2本目、MRPの奥にあるジャンパ栓が3芯の冷房用高圧栓（IC3C 型）です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="m2-8290-inv104">
						<div class="p-section__hdg">
							<h2>100kVA SIV（INV-104 型）搭載車</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-inv104-s">
									<div class="p-section__hdg">
										<h3>海側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8290s-INV104.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8290s-INV104.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2005-05-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8282海側（16-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>2000年に100kVAへ換装された車両では、海側の遮断器箱を撤去して<a href="rec#rfe068">RFE068型整流装置</a>が取り付けられ、高圧接触器や電動空気圧縮機が若干移設されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-inv104-m">
									<div class="p-section__hdg">
										<h3>山側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8290m-INV104.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8290m-INV104.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2007-10-13 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8296山側（13次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、<a href="aps#inv104">静止形インバータ（INV-104 型）</a>、元空気だめ、除湿装置、元空気だめ、除湿装置、ブレーキ制御装置です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-inv104-j">
									<div class="p-section__hdg">
										<h3>山側連結部</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/IC3C-fo.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/IC3C-fo.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2007-04-15 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8496 ｰ デハ8282山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>二電源化を行った車両編成では、換装された3号車の SIV が3〜5号車の給電を担当するため、2〜3号車間の冷房用繋ぎは不要となりました。なお、8496-8282間のみ冷房栓は撤去されずに残っています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="m2-8290-inv153">
						<div class="p-section__hdg">
							<h2>100kVA SIV（INV-153 型）搭載車</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-inv153-s">
									<div class="p-section__hdg">
										<h3>海側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8290s-INV153.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8290s-INV153.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2005-05-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8298海側（16-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>2005年に 100kVA へ換装された車両では、海側の遮断器箱を撤去して <a href="rec#rfe068">RFE068 型整流装置</a>やリアクトル・トランス箱が新設されました。</p>
										<p>なお、山側の配置は INV-104 型搭載車とほぼ同様です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-8290-inv153-j">
									<div class="p-section__hdg">
										<h3>山側連結部</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/IC3C-rem.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/IC3C-rem.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
												<!-- 撮影日: 2007-05-19 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8494 ｰ デハ8298山側</p>
										</figcaption>
									</figure>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="m2-8200">
						<div class="p-section__hdg">
							<h2>（参考）10kVA SIV 搭載車・デハ8200形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m2-820-s">
									<div class="p-section__hdg">
										<h3>海側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8200s.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8200s.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2005-05-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8203海側（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>蛇足になりますが、デハ8200形の海側も紹介します。</p>
										<p>主な機器は下り方から順に、遮断器箱（SIV起動装置）、接地開閉器、空気圧縮機（HB-2000 型）、100V 蓄電池、空気圧縮機（HB-2000 型）、100V 蓄電池で、デハ8290形と異なり蓄電池が2台搭載されているのが外観上最大の特徴です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
