---
import AnchorIcon from './AnchorIcon.astro';

interface Props {
	href?: string;
	hreflang?: string;
	type?: string;
	lang?: string;
	id?: string;
	'aria-labelledby'?: string[];
	icon?: boolean;
	bullet?: boolean;
}

interface TypeIcon {
	type: string;
	name: string;
	fileName: string;
}

interface HostIcon {
	host: string;
	name: string;
	fileName: string;
}

const TYPE_ICONS: TypeIcon[] = [
	{
		type: 'application/pdf',
		name: 'PDF',
		fileName: 'pdf.png',
	},
];

const HOST_ICONS: HostIcon[] = [
	{
		host: 'github.com',
		name: 'GitHub',
		fileName: 'github.svg',
	},
	{
		host: 'www.youtube.com',
		name: 'YouTube',
		fileName: 'youtube.svg',
	},
	{
		host: 'x.com',
		name: 'X',
		fileName: 'x.png',
	},
	{
		host: 'www.amazon.co.jp',
		name: 'Amazon',
		fileName: 'amazon.png',
	},
	{
		host: 'ndlsearch.ndl.go.jp',
		name: '国立国会図書館サーチ',
		fileName: 'ndlsearch.svg',
	},
	{
		host: 'dl.ndl.go.jp',
		name: '国立国会図書館デジタルコレクション',
		fileName: 'ndldl.svg',
	},
	{
		host: 'www.digital.archives.go.jp',
		name: '国立公文書館デジタルアーカイブ',
		fileName: 'archives.png',
	},
	{
		host: 'www.nicovideo.jp',
		name: 'ニコニコ動画',
		fileName: 'nicovideo.png',
	},
	{
		host: 'www.w3.org',
		name: 'W3C',
		fileName: 'w3c.png',
	},
	{
		host: 'html.spec.whatwg.org',
		name: 'WHATWG',
		fileName: 'whatwg.svg',
	},
];

const { href, hreflang, type, lang, id, 'aria-labelledby': ariaLabelledby, icon = true, bullet } = Astro.props;

let url: URL | undefined;

if (href !== undefined) {
	let urlStr = href;
	if (href?.match(/^https:\/\/www\.amazon\.[a-z]+(\.[a-z]+)?\/dp\/([A-Z0-9]{10})\/$/v)) {
		urlStr = `${href}ref=nosim?tag=w0s.jp-22`;
	}

	if (URL.canParse(href)) {
		url = new URL(urlStr);
	}
}

const typeIcon = type !== undefined ? TYPE_ICONS.find((data) => data.type === type) : undefined;
const hostIcon = url !== undefined ? HOST_ICONS.find((data) => data.host === url.host) : undefined;
---

{
	url === undefined && (
		<>
			{/* prettier-ignore */}
			<a href={href} hreflang={hreflang} lang={lang} id={id} class:list={[{ '-bullet': bullet }]} aria-current={href === undefined ? 'page' : undefined} aria-labelledby={ariaLabelledby?.join(' ')}><slot /></a>
		</>
	)
}
{
	url !== undefined && (
		<>
			{/* prettier-ignore */}
			<a href={url.toString()} rel="external" hreflang={hreflang} lang={lang} id={id} class:list={[{ '-bullet': bullet }]} aria-labelledby={ariaLabelledby?.join(' ')}><slot /></a>
			{icon && typeIcon !== undefined && (
				<small class="type">
					<AnchorIcon fileName={typeIcon.fileName} alt={typeIcon.name} />
				</small>
			)}
			{icon && hostIcon !== undefined && (
				<small class="domain">
					<AnchorIcon fileName={hostIcon.fileName} alt={hostIcon.name} />
				</small>
			)}
			{icon && hostIcon === undefined && (
				<small class="domain">
					(<code>{url.host}</code>)
				</small>
			)}
		</>
	)
}

<style>
	@layer component {
		a.-bullet {
			--_bullet-clip-path: var(--shape-link-triangle);
			--_bullet-inline-size: 0.45em;
			--_bullet-block-size: 0.75em;
			--_bullet-color: var(--color-gray);
			--_bullet-gap: 0.5em;

			&:any-link {
				/* 他ページ */
				&:not([href^='#']) {
					--_bullet-color: var(--link-color-bullet);
				}

				/* 同一ページ */
				&[href^='#'] {
					--_bullet-clip-path: var(--shape-pagelink-triangle);
					--_bullet-inline-size: 0.75em;
					--_bullet-block-size: 0.5625em;
				}

				&:hover {
					--_bullet-color: var(--link-color-hover);
				}

				&::before {
					display: inline flow-root;
					clip-path: var(--_bullet-clip-path);
					margin-inline-end: var(--_bullet-gap);
					border-block-start: var(--_bullet-block-size) solid var(--_bullet-color);
					inline-size: var(--_bullet-inline-size);
					content: '';
				}
			}
		}

		:is(.type, .domain) {
			word-break: break-all;
			color: var(--color-gray);
			font-size: calc(100% * var(--_font-size-ratio, 1));

			&:not(:has(img)) {
				--_font-size-ratio: calc(1 / pow(var(--font-ratio), 1));
			}
		}

		.domain {
			& > :global(code) {
				font-family: inherit;
			}
		}
	}
</style>
