---
import DateWareki from './DateWareki.astro';
import Anchor from './Anchor.astro';

interface Props {
	possess?: 'tetsudo' | 'naimu' | 'tokyo';
	company: string; // 鉄道事業者名
	no?: string; // 資料番号
	date: string; // 年月日（YYYY-MM-DD, YYYY-MM, YYYY）
	title?: string; // タイトル
	url: string; // 国立公文書館デジタルアーカイブの URL
}

const { possess = 'tetsudo', company, no, date: dateStr, title, url } = Astro.props;

const date = new Date(dateStr);

let government = '';
switch (possess) {
	case 'tetsudo': {
		if (date < new Date('1920-05-15')) {
			government = '鉄道院';
		} else if (date < new Date('1943-11-01')) {
			government = '鉄道省';
		} else if (date < new Date('1945-05-19')) {
			government = '運輸通信省';
		} else if (date < new Date('2001-01-06')) {
			government = '運輸省';
		} else {
			government = '国土交通省';
		}
		break;
	}
	case 'naimu': {
		if (date < new Date('1948-01-01')) {
			government = '内務省';
		} else if (date < new Date('1948-07-10')) {
			government = '建設院';
		} else {
			government = '建設省';
		}
		break;
	}
	case 'tokyo': {
		if (date < new Date('1943-07-01')) {
			government = '東京府';
		} else {
			government = '東京都';
		}
		break;
	}
	default:
}
---

<span class="doc">
	<b class="government">{government}文書</b>
	<Anchor href={url}>
		<span class="company">{company}</span>
		{
			no !== undefined && (
				<>
					<span class="no">{no}</span>
				</>
			)
		}
		<DateWareki value={dateStr} class="date" />
		{title !== undefined && <cite class="article">{title}</cite>}
	</Anchor>
</span>

<style>
	.doc {
		--_space-width: 0.25em;
	}

	/* 行政機関名（鉄道省、運輸省……） */
	.government {
		all: unset;
		margin-inline-end: calc(0px - var(--_space-width));

		&::before {
			content: '【';
		}

		&::after {
			content: '】';
		}
	}

	/* 全角スペース相当の間隔を開ける */
	.no {
		&::before {
			margin-inline-start: -0.5em;
			content: '\3000';
		}
	}

	.date {
		&::before {
			margin-inline-start: -0.5em;
			content: '\3000';
		}
	}

	/* 記事タイトル */
	.article {
		margin-inline-start: calc(0px - var(--_space-width));

		&::before {
			content: '「';
		}

		&::after {
			content: '」';
		}
	}
</style>
