---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '東急電車の自動放送',
	heading: '自動放送',
	dateModified: dayjs('2020-03-19'),
	description: '東急電鉄では1986年に登場した9000系で自動放送が導入され、1999年の新3000系からは英語放送も行われています。ここでは各路線の放送内容を紹介します。',
	breadcrumb: [{ path: '/tokyu/', name: 'ホーム' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="tokyu">
		<H slot="heading">東急電鉄</H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">東横線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">普通</th>
						<th scope="col">急行</th>
						<th scope="col">特急</th>
						<th scope="col">日比谷線直通</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_up_local_2011">2011年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_up_exp_2011">2011年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_up_ltd_2011">2011年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_up_hibiya_2011">2011年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_down_local_2011">2011年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_down_exp_2011">2011年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_down_ltd_2011">2011年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyoko_down_hibiya_2006">2006年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">目黒線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">普通</th>
						<th scope="col">急行</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="meguro_up_local_2006">2006年</a>
								<a href="meguro_up_local_2009">2009年</a>
								<a href="meguro_up_local_2020">2020年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="meguro_up_exp_2006">2006年</a>
								<a href="meguro_up_exp_2008">2008年</a>
								<a href="meguro_up_exp_2020">2020年</a></span
							>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="meguro_down_local_2006">2006年</a>
								<a href="meguro_down_local_2009">2009年</a>
								<a href="meguro_down_local_2020">2020年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="meguro_down_exp_2006">2006年</a>
								<a href="meguro_down_exp_2008">2008年</a>
								<a href="meguro_down_exp_2020">2020年</a></span
							>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">田園都市線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">普通</th>
						<th scope="col">準急</th>
						<th scope="col">急行</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="dento_up_local_2006">2006年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="dento_up_semiexp_2009">2009年</a> <a href="dento_up_semiexp_2013">2013年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="dento_up_exp_2005">2005年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="dento_down_local_2006">2006年</a></span>
						</td>
						<td></td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="dento_down_exp_2005">2005年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">大井町線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">普通</th>
						<th scope="col">普通（鷺沼発着）</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="oimachi_up_local_2006">2006年</a>
								<a href="oimachi_up_local_2009">2009年</a>
								<a href="oimachi_up_local_2017">2017年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="oimachi_up_local_saginuma_2006">2006年</a> <a href="oimachi_up_local_saginuma_2009">2009年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="oimachi_down_local_2006">2006年</a>
								<a href="oimachi_down_local_2009">2009年</a>
								<a href="oimachi_down_local_2017">2017年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="oimachi_down_local_saginuma_2006">2006年</a> <a href="oimachi_down_local_saginuma_2009">2009年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">池上線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">7600系、7700系</th>
						<th scope="col">1000系（1500番台を含む）</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="ikegami_up_2004_7700">2004年</a> <a href="ikegami_up_2016_7700">2016年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="ikegami_up_2014_1500">2014年</a> <a href="ikegami_up_2016_1000">2016年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="ikegami_down_2004_7700">2004年</a>

								<a href="ikegami_down_2015_7700">2015年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="ikegami_down_2014_1500">2014年</a> <a href="ikegami_down_2016_1000">2016年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">東急多摩川線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">7600系、7700系</th>
						<th scope="col">1000系（1500番台を含む）</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="tamagawa_up_2004_7700">2004年</a> <a href="tamagawa_up_2016_7700">2016年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="tamagawa_up_2014_1500">2014年</a> <a href="tamagawa_up_2016_1000">2016年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="tamagawa_down_2006_7700">2006年</a> <a href="tamagawa_down_2016_7700">2016年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="tamagawa_down_2014_1500">2014年</a> <a href="tamagawa_down_2016_1000">2016年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">こどもの国線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">Y000系</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="kodomo_up_2006">2006年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="kodomo_down_2006">2006年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">世田谷線</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">300系</th>
						<th scope="col">300系（上町行）</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="setagaya_up_2006">2006年</a>
								<a href="setagaya_up_2015">2015年</a>
								<a href="setagaya_up_2016">2016年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="setagaya_up_kamimachi_2006">2006年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="setagaya_down_2006">2006年1月</a>
								<a href="setagaya_down_2006_2">2006年4月</a>
								<a href="setagaya_down_2015">2015年</a>
								<a href="setagaya_down_2016">2016年</a></span
							>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</Section>
	</Section>

	<Section id="transfer">
		<H slot="heading">譲渡車両</H>

		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">十和田観光電鉄<small>（2012年廃線）</small></H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">7700系、7200系</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toutetsu_up_2006">2006年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toutetsu_down_2006">2006年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">弘南鉄道（弘南線）</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="2">7000系</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
						<th scope="col">快速</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="konan_up_2006">2006年</a>
								<a href="konan_up_2008">2008年</a>
								<a href="konan_up_2016">2016年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="konan_up_rapid_2006">2006年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="konan_down_2006">2006年</a>
								<a href="konan_down_2008">2008年</a>
								<a href="konan_down_2016">2016年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="konan_down_rapid_2006">2006年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">弘南鉄道（大鰐線）</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="2">6000系、7000系</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
						<th scope="col">快速</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="owani_up_2006">2006年</a>
								<a href="owani_up_2008">2008年</a>
								<a href="owani_up_2009">2009年</a>
								<a href="owani_up_flyingwitch_2016">2016年（ふらいんぐうぃっち）</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="owani_up_rapid_2006">2006年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="owani_down_2006">2006年</a>
								<a href="owani_down_2008">2008年</a>
								<a href="owani_down_2016">2016年</a>
								<a href="owani_down_flyingwitch_2016">2016年（ふらいんぐうぃっち）</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="owani_down_rapid_2006">2006年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">福島交通</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="3">7000系</th>
						<th scope="col" colspan="2">1000系</th>
					</tr>
					<tr>
						<th scope="col">2連</th>
						<th scope="col">2連（桜水行）</th>
						<th scope="col">3連</th>
						<th scope="col">2連</th>
						<th scope="col">3連</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="iizaka_up_2006_7000_2r">2006年1月</a>
								<a href="iizaka_up_2006_2_7000_2r">2006年4月</a>
								<a href="iizaka_up_2008_7000_2r">2008年</a></span
							>
						</td>
						<td></td>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="iizaka_up_2006_7000_3r">2006年1月</a>
								<a href="iizaka_up_2008_7000_3r">2008年</a>
								<a href="iizaka_up_2012_7000_3r">2012年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iizaka_up_2017_1000_2r">2017年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iizaka_up_2017_1000_3r">2017年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="iizaka_down_2006_7000_2r">2006年</a>
								<a href="iizaka_down_2008_7000_2r">2008年</a>
								<a href="iizaka_down_2011_7000_2r">2011年</a></span
							>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iizaka_down_sakuramizu_2007_7000_2r">2007年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iizaka_down_2006_7000_3r">2006年</a> <a href="iizaka_down_2012_7000_3r">2012年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iizaka_down_2017_1000_2r">2017年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iizaka_down_2017_1000_3r">2017年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">秩父鉄道</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="2">7000系、7500系、7800系</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="chichibu_up_2009">2009年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="chichibu_down_2009">2009年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">富山地方鉄道</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="3"></td>
						<th scope="col" colspan="3">17480形</th>
					</tr>
					<tr>
						<th scope="col">本線</th>
						<th scope="col">立山線</th>
						<th scope="col">不二越・上滝線</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
						<th scope="col">普通</th>
						<th scope="col">普通</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyama_up_2013">2013年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyama_tateyama_up_2013">2013年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyama_fujikoshi-kamitaki_up_2013">2013年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyama_down_2013">2013年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyama_tateyama_down_2013">2013年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="toyama_fujikoshi-kamitaki_down_2013">2013年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">北陸鉄道（石川線）</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="2">7000系</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
						<th scope="col">準急</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="ishikawa_up_2007">2007年</a> <a href="ishikawa_up_2015">2015年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="ishikawa_up_semiexp_2006">2006年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="ishikawa_down_2006">2006年</a> <a href="ishikawa_down_2015">2015年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="ishikawa_down_semiexp_2006">2006年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">上田電鉄</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col">7200系</th>
						<th scope="col" colspan="2">1000系</th>
					</tr>
					<tr>
						<th scope="col">ワンマン</th>
						<th scope="col">ワンマン</th>
						<th scope="col">ツーマン</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="bessho_up_2006_7200">2006年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="bessho_up_2009_1000">2009年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="bessho_up_2013_1000_twoman">2013年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="bessho_down_2006_7200">2006年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="bessho_down_2009_1000">2009年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="bessho_down_2013_1000_twoman">2013年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">長野電鉄</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col">8500系</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="nagano_up_2006">2006年</a> <a href="nagano_up_2013">2013年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="nagano_down_2006">2006年</a> <a href="nagano_down_2013">2013年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">伊豆急行</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="2">8000系</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
						<th scope="col">快速</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="izukyu_up_2006_ito">2006年（伊東行）</a> <a href="izukyu_up_2006_atami">2006年（熱海行）</a></span>
						</td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="izukyu_down_2006">2006年</a> <a href="izukyu_down_2017">2017年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="izukyu_down_rapid_2007">2007年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">大井川鐵道（大井川本線）</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="2">7200系</th>
					</tr>
					<tr>
						<th scope="col">普通</th>
						<th scope="col">電車急行</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="oigawa_up_2015">2015年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="oigawa_up_exp_2015">2015年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="oigawa_down_2015">2015年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="oigawa_down_exp_2015">2015年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">養老鉄道</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="2"></td>
						<th scope="col" colspan="2">7700系</th>
					</tr>
					<tr>
						<th scope="col">揖斐 – 大垣</th>
						<th scope="col">大垣 – 桑名</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="yoro_ibi_up_2019">2019年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="yoro_kuwana_up_2019">2019年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="yoro_ibi_down_2019">2019年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="yoro_kuwana_down_2019">2019年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">伊賀鉄道</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">200系</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iga_up_2012">2012年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="iga_down_2013">2013年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">水間鉄道</H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td rowspan="3"></td>
						<th scope="col" colspan="2">7000系</th>
						<th scope="col" colspan="3">1000形</th>
					</tr>
					<tr>
						<th scope="col" colspan="2">日中ツーマン時代</th>
						<th scope="col" colspan="2">日中ツーマン時代</th>
						<th scope="col">全列車ワンマン化後</th>
					</tr>
					<tr>
						<th scope="col">ツーマン</th>
						<th scope="col">ワンマン</th>
						<th scope="col">ツーマン</th>
						<th scope="col">ワンマン</th>
						<th scope="col">ワンマン</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_up_2006_7000">2006年</a></span>
						</td>
						<td></td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_up_2007_1000">2007年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_up_2009_1000_oneman">2009年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_up_2009_1000">2009年</a></span>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_down_2006_7000">2006年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_down_2006_7000_oneman">2006年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_down_2006_1000">2006年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_down_2007_1000_oneman">2007年</a></span>
						</td>
						<td>
							<span class="p-tokyu-index-table__link"><a href="mizuma_down_2009_1000">2009年</a></span>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
		<Section slugger={slugger} depth={2} headingType="b">
			<H slot="heading">熊本電気鉄道（菊池線）<small>（2016年東急譲渡車引退）</small></H>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<td></td>
						<th scope="col">5100形</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">上り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="kikuchi_up_2006">2006年</a>
								<a href="kikuchi_up_2009">2009年</a>
								<a href="kikuchi_up_keroro_2012">2012年（ケロロ電車）</a>
								<a href="kikuchi_up_2015">2015年</a></span
							>
						</td>
					</tr>
					<tr>
						<th scope="row">下り</th>
						<td>
							<span class="p-tokyu-index-table__link">
								<a href="kikuchi_down_2006">2006年</a>
								<a href="kikuchi_down_2008">2008年</a>
								<a href="kikuchi_down_keroro_2012">2012年（ケロロ電車）</a></span
							>
						</td>
					</tr>
				</tbody>
			</table>
		</Section>
	</Section>

	<Section id="etc">
		<H slot="heading">その他の自動放送関連コンテンツ</H>

		<ul class="p-links">
			<li><a href="menu">メニュー放送一覧</a></li>
			<li><a href="iketama_compare">池上、多摩川線 車種別放送内容比較</a></li>
			<li><a href="sound">自動放送音声</a></li>
		</ul>
	</Section>
</Layout>
