---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急8000系グループの客室内スピーカーバリエーション',
	heading: '8000系グループの客室内スピーカーバリエーション',
	dateModified: dayjs('2005-08-01'),
	description: '8000系グループ（8000系、8500系、8090系、8590系）の室内天井に設置されているスピーカーのバリエーションを紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/yomoyama/8000_amp/trumpet_8629.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/yomoyama/', name: 'よもやま話' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="trumpet-1">
		<H slot="heading">トランペット型（1〜5次車）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">1次車（一部を除く）</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/trumpet_8004.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-07 -->
						</div>
						<figcaption class="c-caption -meta">クハ8004（1次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>8000系のスピーカーは天井頂点部に2か所設置されており、ケースは下底が短い等脚台形で、その形状や打抜穴のパターンにバリエーションがみられます。</p>
						<p>この写真は大井町線1次車のうちデハ8101〜8104, 8106、デハ8201〜8202、クハ8001〜8004 に設置されているものです。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">1次車（一部）</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/trumpet_8006.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-07 -->
						</div>
						<figcaption class="c-caption -meta">クハ8006（1次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>大井町線1次車のうちデハ8105、デハ8203、クハ8005〜8006 は穴の形状が若干異なります。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">5次車</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/trumpet_8051.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2002-05-23 -->
						</div>
						<figcaption class="c-caption -meta">クハ8051（5次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>5次車のうち、東横線の車体更新車を除く車両は穴面積が小さく列数も少ないものでしたが、現在は全車が解体または運用離脱しています。大井町線所属の車体更新車であるデハ8145、デハ8224、クハ8047〜8048 は、色が白くなっていました。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="trumpet-6">
		<H slot="heading">トランペット型（6〜15次車）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">6〜8次車</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/trumpet_8515.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-25 -->
						</div>
						<figcaption class="c-caption -meta">デハ8515（7次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>6〜8次車では穴面積が拡大されました。車体更新車は撤去されています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">9次車</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/trumpet_8629.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-10 -->
						</div>
						<figcaption class="c-caption -meta">デハ8629（9-2次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>9次車は、8次車までのタイプと似ているが穴の列数が少なくなりました。車体更新車は撤去されています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">10次車</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/trumpet_8931.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-10 -->
						</div>
						<figcaption class="c-caption -meta">サハ8931（10-1次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>10次車は穴が再び千鳥配置になりました。車体更新車は撤去されています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">11〜14次車など</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/trumpet_8409.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-07 -->
						</div>
						<figcaption class="c-caption -meta">デハ8409（13次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>8090系を除く11〜14次車と15次車（組込車のみ）は、10次車のタイプと似ていますが穴の列数が多くなりました。11次車の車体更新車は撤去されており、東横線の車両と田園都市線12〜14次車は、後述する新型タイプへ更新されています。15次車（組込車）は、後述するコーン型も併設されています。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="cone">
		<H slot="heading">コーン型</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">15〜20次車と8090系全車両</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/cone_0807.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-07 -->
						</div>
						<figcaption class="c-caption -meta">デハ0807（18-2次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>15次車からはコーン型の8個配置となり、設置場所は天井中央部から肩部に近いところへ移りました。8090系は全車両がこのタイプですが、8590系も含め1両に6個の設置となっています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">21次車と8945, 8946</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/cone_0718.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-11 -->
						</div>
						<figcaption class="c-caption -meta">デハ0718（21次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>21次車では、穴の行数・列数が多くなりました。東横線所属の室内・車体更新車や、田園都市線所属の車体更新車のうち初期に更新された12次車（サハ8945〜8946）もこのタイプに更新されています。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="renewal">
		<H slot="heading">更新工事</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">田園都市線6〜11次車</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/emergency_8629.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-10 -->
						</div>
						<figcaption class="c-caption -meta">デハ8629（9-2次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>田園都市線所属の6〜11次車は、非常灯が撤去されてその跡地に小型のスピーカーが増設されています。車体更新未施工車においては、従来のタイプとの併設となっています。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section slugger={slugger} depth={2} headingType="c">
					<H slot="heading">田園都市線12〜14次車など</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/yomoyama/8000_amp/renewal_8248.jpg" alt="" width={485} height={324} quality={60} />
							<!-- 撮影日: 2005-07-14 -->
						</div>
						<figcaption class="c-caption -meta">デハ8248（12-3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>東横線所属の13次車までの室内・車体更新未施工車、および田園都市線所属の12〜14次車（サハ8945〜8946除く）は新型タイプへの更新が行われ、ケースは直方体に近いものとなりました。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
