---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '茨城県の東急(旧)6000系廃車体',
	heading: '茨城県の旧6000系廃車体',
	dateModified: dayjs('2018-12-23'),
	description: '旧6000系（6200系）車両は晩年 VVVF 試験車として改造され、1987年まで活躍した後、4両全車が車体のみ売りに出され、茨城県各所で倉庫や店舗などに活用されました。これらの車体は2018年までにすべて撤去されましたが、ここでは現存当時の様子を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/yomoyama/ibaraki_6000/6201.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/yomoyama/', name: 'よもやま話' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger} id="deha6201" heading="デハ6201">
		<div class="p-text">
			<p>土浦市虫掛の株式会社オリトモ本社に置かれていました。幌枠が残っているのが貴重でした。</p>
		</div>

		<ul class="p-notes">
			<li>2018年に撤去されました。</li>
		</ul>

		<div class="c-grid -wide">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="tokyu/yomoyama/ibaraki_6000/6201.jpg" alt="写真拡大" width={500} height={333} quality={60} link={true} />
					</div>
					<figcaption class="c-caption -meta">
						デハ6201（撮影: 2009年5月<!-- 2009-05-03 -->）
					</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="tokyu/yomoyama/ibaraki_6000/6201_surroundings.jpg" alt="写真拡大" width={500} height={333} quality={60} link={true} />
					</div>
					<figcaption class="c-caption -meta">
						デハ6201が置かれている周辺（撮影: 2017年4月<!-- 2017-04-22 -->）
					</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-links">
			<li>
				<a href="https://www.google.co.jp/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E8%99%AB%E6%8E%9B3585">Google マップで地図を表示する（茨城県土浦市虫掛3585）</a>
			</li>
			<li>
				<LinkExternal href="https://maps.gsi.go.jp/#18/36.089654/140.180083/&ls=seamlessphoto&disp=1&lcd=seamlessphoto_spec&vs=c1j0h0k0l0u0t0z0r0s0m0f0&d=vl">国土地理院の航空写真（2008年撮影）</LinkExternal>
			</li>
		</ul>

		<div class="p-text">
			<p>アクセス: <LinkExternal href="https://www.kantetsu.co.jp/bus/">関東鉄道バス</LinkExternal>の「田中三丁目」または「田中二丁目北」バス停より徒歩数分。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="deha6202" heading="デハ6202">
		<div class="p-text">
			<p>阿見町若栗のアンティーク展示場（ウェアハウス阿見倉庫）にありました。当時は敷地内に事務所と思われる建物があり、そこに隣接して置かれていました。車両の屋根上には住宅用空調装置がずらりと置かれるなど、異様な光景となっていました。</p>
		</div>

		<ul class="p-notes">
			<li>2017年4月に訪問したところ、事務所と思われる建物もろとも撤去されていました。</li>
		</ul>

		<div class="c-grid -wide">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="tokyu/yomoyama/ibaraki_6000/6202.jpg" alt="写真拡大" width={500} height={333} quality={60} link={true} />
					</div>
					<figcaption class="c-caption -meta">
						デハ6202（撮影: 2009年5月<!-- 2009-05-03 -->）
					</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="tokyu/yomoyama/ibaraki_6000/6202_trace.jpg" alt="写真拡大" width={500} height={333} quality={60} link={true} />
					</div>
					<figcaption class="c-caption -meta">
						デハ6202が置かれていた跡地（撮影: 2017年4月<!-- 2017-04-22 -->）
					</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-links">
			<li>
				<a href="https://www.google.co.jp/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E7%A8%B2%E6%95%B7%E9%83%A1%E9%98%BF%E8%A6%8B%E7%94%BA%E8%8B%A5%E6%A0%973418-110">Google マップで地図を表示する（茨城県稲敷郡阿見町若栗3418-110）</a>
			</li>
			<li>
				<LinkExternal href="https://maps.gsi.go.jp/#18/36.012309/140.210411/&base=std&ls=std%7C_ort&blend=0&disp=11&lcd=airphoto&vs=c1j0l0u0t0z0r0f0&d=vl">国土地理院の航空写真（2008年撮影）</LinkExternal>
			</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="deha6301" heading="デハ6301">
		<div class="p-text">
			<p>結城郡石下町（現在の常総市）で「ロングライダース」というバーの店舗として利用されていたようですが、現存しません。</p>
		</div>

		<ul class="p-links">
			<li>
				<a href="https://www.google.com/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%B8%B8%E7%B7%8F%E5%B8%82%E6%9C%AC%E7%9F%B3%E4%B8%8B1072">Google マップで地図を表示する（茨城県常総市本石下1072）</a>
			</li>
			<li><LinkExternal href="http://web.archive.org/web/20080331115231/http://www9.big.or.jp/~rdct55/6000vvvf.html">6000系インバータ試験車（東急電車フォトギャラリー）</LinkExternal>（当時の様子を紹介しているウェブページ）</li>
		</ul>
	</Section>

	<Section slugger={slugger} id="deha6302" heading="デハ6302">
		<div class="p-text">
			<p>土浦市宍塚の製薬会社敷地内に置かれていまた。昔は近づくことさえ困難な状況だったようですが、2009年の時点では隣接するコンビニエンスストアの駐車場から連結面や山側側面を観察することができました。</p>
		</div>

		<ul class="p-notes">
			<li>2014年〜2015年頃に撤去されたようです。ブログ「饂飩と蕎麦」の記事<LinkExternal href="https://karaageya.exblog.jp/25291913/">東急6000系の保存車たち</LinkExternal>に2015年2月時点で更地になっていたとの情報があります。</li>
		</ul>

		<div class="c-grid -wide">
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="tokyu/yomoyama/ibaraki_6000/6302_1.jpg" alt="写真拡大" width={500} height={333} quality={60} link={true} />
					</div>
					<figcaption class="c-caption -meta">
						デハ6302 （1位側）（撮影: 2009年5月<!-- 2009-05-03 -->）
					</figcaption>
				</figure>
			</div>
			<div class="c-grid__item">
				<figure>
					<div class="p-embed -border">
						<Image path="tokyu/yomoyama/ibaraki_6000/6302_2.jpg" alt="写真拡大" width={500} height={333} quality={60} link={true} />
					</div>
					<figcaption class="c-caption -meta">
						デハ6302 （2位側）（撮影: 2009年5月<!-- 2009-05-03 -->）
					</figcaption>
				</figure>
			</div>
		</div>

		<ul class="p-links">
			<li>
				<a href="https://www.google.co.jp/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E5%AE%8D%E5%A1%9A327-1">Google マップで地図を表示する（茨城県土浦市宍塚327-1）</a>
			</li>
			<li><LinkExternal href="https://maps.gsi.go.jp/#18/36.074574/140.164052/&base=std&ls=std%7C_ort&blend=0&disp=11&lcd=airphoto&vs=c1j0l0u0t0z0r0f0&d=vl">国土地理院の航空写真（2008年撮影）</LinkExternal></li>
		</ul>
	</Section>
</Layout>
