---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急電車の冷房制御装置',
	heading: '冷房制御装置',
	dateModified: dayjs('2020-02-08'),
	description: '1000系と9020系（旧2000系）に搭載されたブレーキ制御装置を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/aci/INV049.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="original">
		<Fragment slot="heading">オリジナルタイプ（製造時）</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="inv049" depth={2} headingType="c">
					<Fragment slot="heading">INV-049</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/aci/INV049.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-07-18 -->
						<Fragment slot="caption">クハ1022（5次車）海側</Fragment>
					</Embedded>

					<p>1988年に登場した1000系では冷房装置がインバーター制御になりました。従来はサーモスタットにより冷房能力を段階的に切り替える方式でしたが、本形式からは各車の床下にマイコン制御による無段階切替を行う制御箱（東芝製）が設けられ、無段階制御を行っています。</p>

					<p>後述の新型タイプへの更新や車両の廃車により、現在は譲渡先でのみ見ることができます。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="inv088" depth={2} headingType="c">
					<Fragment slot="heading">INV-088</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/aci/INV088.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-02-14 -->
						<Fragment slot="caption">デハ2251（1次車）海側</Fragment>
					</Embedded>

					<p>1992年に登場した2000系も、1000系と同じ方式の無段階可変制御を行っています。20m大型車のため冷房装置が4台搭載となった関係で、制御装置は1000系と異なるタイプが採用されました。</p>

					<p>後述の新型タイプへ置き換えられたため、現在は消滅しています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="renewal2014">
		<Fragment slot="heading">2014年更新後</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="tc220" depth={2} headingType="c">
					<Fragment slot="heading">TCE-220</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/aci/TCE220.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2019-04-26 -->
						<Fragment slot="caption">クハ9021（1次車）海側</Fragment>
					</Embedded>

					<p>2014年には冷房装置の更新が始まり、床下の制御装置も新型に換装されました。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
