---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import AnchorPhoto from '@components/+phrasing/AnchorPhoto.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急電車の ATC 装置',
	heading: 'ATC 装置',
	dateModified: dayjs('2008-11-01'),
	description: '8000系から新3000系までに搭載された ATC 装置を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/atc/AT-CS21TK5.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="dento">
		<Fragment slot="heading">田園都市線、こどもの国線</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="dento-2" depth={2} headingType="c">
					<Fragment slot="heading">8590系、2000系<small>（三菱電機）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/atc/CMR-DC-129.jpg" alt="写真拡大" width={485} height={244} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-02-28 -->
						<Fragment slot="caption">デハ8695（20次車）海側</Fragment>
					</Embedded>

					<p>1991年、田玉線・こどもの国線に22現示コードや予告情報などを実装した<dfn>一段ブレーキ制御式ATC</dfn>（新ATC）が導入されました。</p>

					<p>2002年頃にはATC装置の換装が行われ、三菱電機製の装置が搭載されました。8590系2編成は、2003年の東横線復帰時、およびその後の田都線再転籍時にもそのまま使用されています。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="kodomo-2" depth={2} headingType="c">
					<Fragment slot="heading">Y000系<small>（日立製作所）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/atc/AT-CS21TK16.jpg" alt="写真拡大" width={485} height={244} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-10-02 -->
						<Fragment slot="caption">クハY001（1次車）海側</Fragment>
					</Embedded>

					<p>1999年にこどもの国線用として導入されたY000系は、後述する新3000系と同じくATC本体を編成あたり1台とし、下り向き先頭車には増幅器が搭載されています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="toyoko">
		<Fragment slot="heading">東横線</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="toyoko-1" depth={2} headingType="c">
					<Fragment slot="heading">8000系（一部）<small>（日立製作所）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/atc/toyoko_ATS-P_1.jpg" alt="写真拡大" width={485} height={244} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2006-03-20 -->
						<Fragment slot="caption">クハ8024（3-1次車）山側</Fragment>
					</Embedded>

					<p>1997年、東横線渋谷〜菊名間がATC化されました。これは田玉線の保安システムを改良し、踏切制御装置との連動機能や車上パターン式過走防護（ORP: Over Run stop Pattern）などを付加したものであり、<dfn>ATC-P</dfn>と呼ばれます。</p>

					<p>写真は初期に導入されたタイプであり、8000系のうち東横線先頭車の約半数に搭載されていましたが、廃車の進行に伴い2006年に消滅しました。インドネシアの PT KAI 社に譲渡されたクハ8007, 8008は撤去されずに残っているようです。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="toyoko-2" depth={2} headingType="c">
					<Fragment slot="heading">8000系、9000系、1000系<small>（日立製作所）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/atc/AT-CS21TK11.jpg" alt="写真拡大" width={485} height={244} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-02-28 -->
						<Fragment slot="caption">クハ9101（1次車）海側</Fragment>
					</Embedded>

					<p>1993年度以降の工事車は、点検蓋が2枚になるなど形態が異なります。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="meguro">
		<Fragment slot="heading">目黒線</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="meguro-1" depth={2} headingType="c">
					<Fragment slot="heading">新3000系<small>（三菱電機）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/atc/CMR-DC-117.jpg" alt="写真拡大" width={485} height={244} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-05 -->
						<Fragment slot="caption">クハ3010（2次車）海側</Fragment>
					</Embedded>

					<p>従来、ATC装置は編成の両先頭車に搭載されるのが一般的でしたが、1999年に導入された新3000系では下り向き先頭車に<AnchorPhoto href="https://media.w0s.jp/image/tokyu/machine/atc/RB1367.jpg" title="クハ3101海側"><!-- 撮影日: 2009-01-04 -->ATC増幅器</AnchorPhoto>（日本信号製）を搭載し、上り向き先頭車の制御部と伝送を行うことで本体を編成中に1台としました。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="oimachi-ats">
		<Fragment slot="heading">大井町線（ATS時代）</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="dento-1" depth={2} headingType="c">
					<Fragment slot="heading">8000系、8090系、9000系<small>（日立製作所）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/atc/AT-CS21TK5.jpg" alt="写真拡大" width={485} height={244} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-09-08 -->
						<Fragment slot="caption">クハ8098（16-2次車）山側</Fragment>
					</Embedded>

					<p>1991年の田玉線ATC化の際、田都線に乗り入れる大井町線車両も対応工事を行い、両先頭車への車上装置搭載や運転台の改造が行われました。</p>

					<p>このタイプは、後述のATC-P対応型への更新により、2008年に消滅しました。インドネシアの PT KAI 社に譲渡されたクハ8003, 8004は撤去されずに残っているようです。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="oimachi-atc">
		<Fragment slot="heading">大井町線（ATC-P化）</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="oimachi-1" depth={2} headingType="c">
					<Fragment slot="heading">8090系（一部）、9000系（一部）<small>（日立製作所）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/atc/AT-CS21TK17.jpg" alt="写真拡大" width={485} height={244} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-04-27 -->
						<Fragment slot="caption">クハ8085（16-2次車）海側</Fragment>
					</Embedded>

					<p>2008年の大井町線ATC-P化に伴う機器換装では、東横線で使われていた装置を流用した車両と、新製品に換装された車両が存在します。</p>

					<p>新型ATC-P装置は、3台目から表側に<AnchorPhoto href="https://media.w0s.jp/image/tokyu/machine/atc/AT-CS21TK17_win.jpg" title="クハ8088山側"><!-- 撮影日: 2010-04-01 -->点検窓</AnchorPhoto>が設けられ、後に<AnchorPhoto href="https://media.w0s.jp/image/tokyu/machine/atc/AT-CS21TK17_8084.jpg" title="クハ8084山側"><!-- 撮影日: 2007-10-13 -->最初の2台</AnchorPhoto>も窓付きに改造されています。</p>

					<p>なお、2005年に東横線から転籍した8590系は、東横時代の装置をそのまま使用しています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
