---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import H from '@components/H.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import LinkPhoto from '@components/LinkPhoto.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急電車の制御装置（抵抗制御、高性能車）',
	heading: '制御装置',
	subHeading: '抵抗制御、高性能車',
	dateModified: dayjs('2024-04-12'),
	description: '旧5000系から7200系までの高性能車に搭載された制御装置を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/cont/PE11B_kumamoto5102A.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: [
		{ path: '/tokyu/machine/cont_old', name: '旧性能' },
		{ path: '/tokyu/machine/cont_high', name: '高性能' },
		{ path: '/tokyu/machine/cont_fcc', name: '界磁チョッパ' },
		{ path: '/tokyu/machine/cont_gto', name: 'VVVF・GTO' },
		{ path: '/tokyu/machine/cont_igbt', name: 'VVVF・IGBT' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<div class="p-text">
			<p>1954年に登場した旧5000系は旧来の吊り掛け式電車とは一線を画した高性能車で、東急電車で初めて発電ブレーキを搭載するなど制御まわりも革新されました。</p>
			<p>続く旧6000系では複巻電動機による電力回生ブレーキが導入されましたが、その分巻界磁電流の制御は電機メーカーによりそれぞれ異なった特徴的な方式が採用、旧7000系や7200系でも同様に2種類の方式が混在した状況の中、それぞれが独自に改良を重ねてゆく試行錯誤の様子が覗えるものとなっています。</p>
		</div>

		<table class="p-table -full">
			<caption>高性能車の主制御器一覧</caption>
			<thead>
				<tr>
					<th scope="col">搭載車種</th>
					<th scope="col">形式</th>
					<th scope="col">製造所</th>
					<th scope="col">登場年</th>
					<th scope="col">DCM 接続</th>
					<th scope="col">組合せ制御</th>
					<th scope="col">弱め界磁</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>5000系<small>（デハ5001〜5020）</small></td>
					<td><a href="#pe-11" class="c-link">PE-11A</a></td>
					<td rowspan="2">東芝</td>
					<td>1954年</td>
					<td rowspan="2">直巻 110kW×4</td>
					<td rowspan="2">直並列</td>
					<td rowspan="2">カム軸</td>
				</tr>
				<tr>
					<td>5000系G<small>（デハ5021<FootnoteReference>鉄道ファン 1985年3月号（No.287）「30才を迎えた“青ガエル”　東急5000系のあゆみ」（宮田道一、荻原俊夫） p.45</FootnoteReference>〜）</small></td>
					<td><a href="#pe-11" class="c-link">PE-11B</a></td>
					<td>1956年</td>
				</tr>
				<tr>
					<td>デハ200形</td>
					<td><a href="#ab-54-6mdb" class="c-link">AB-54-6MDB</a><FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/2313824/1/9">電気鉄道 1955年9月号（No.88）「東京急行玉川線の連接車」（白石安之） p.12</LinkExternal></FootnoteReference></td>
					<td>三菱</td>
					<td>1955年</td>
					<td>直巻 38kW×4</td>
					<td>永久並列</td>
					<td class="u-cell -center">―</td>
				</tr>
				<tr>
					<td>6000系<small>（東洋車、A編成）</small></td>
					<td><a href="#es753-a" class="c-link">ACRF-H4100-753A</a><FootnoteReference>電気車の科学 1960年5月号（No.145）「東京急行新ステンレスカー6000形について」（白石安之） p.17</FootnoteReference></td>
					<td>東洋</td>
					<td>1960年</td>
					<td>複巻 100kW×4</td>
					<td>永久直列</td>
					<td>FR</td>
				</tr>
				<tr>
					<td>6000系<small>（東芝車、B編成）</small></td>
					<td><a href="#mm-101a" class="c-link">MM-101A</a><FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/3253820/1/53">東芝レビュー 1960年8月号（No.127）「新製品紹介」 p.949</LinkExternal></FootnoteReference></td>
					<td>東芝</td>
					<td>1960年</td>
					<td>複巻 85kW×4</td>
					<td>永久直列</td>
					<td>ブースター</td>
				</tr>
				<tr>
					<td>6000系<small>（東洋車、C編成）</small></td>
					<td><a href="#es753-a" class="c-link">ACRF-H4120-754A</a><FootnoteReference>鉄道ピクトリアル 1972年9月号（No.269）「私鉄車両めぐり〔93〕東京急行電鉄の車両」（荻原二郎、久原秀雄、宮田道一） p.78</FootnoteReference></td>
					<td rowspan="2">東洋</td>
					<td>1961年</td>
					<td>複巻 120kW×4</td>
					<td rowspan="2">永久直列</td>
					<td rowspan="2">FR</td>
				</tr>
				<tr>
					<td>7000系<small>（東洋車、1〜2次車）</small></td>
					<td><a href="#es754-a" class="c-link">ACRF-H860-754A</a><FootnoteReference>電気車の科学 1962年1月号（No.165）「東京急行の7000形オールステンレス・カーについて (1)」（白石安之） p.10</FootnoteReference></td>
					<td>1962年</td>
					<td>複巻 60kW×8</td>
				</tr>
				<tr>
					<td>7000系<small>（東洋車、3〜10次車）</small></td>
					<td><a href="#es754-a" class="c-link">ACRF-H860-757A</a></td>
					<td>東洋</td>
					<td>1963年</td>
					<td>複巻 60kW×8</td>
					<td>永久直列</td>
					<td>FR</td>
				</tr>
				<tr>
					<td>7000系<small>（日立車）</small></td>
					<td><a href="#mmc-htr-10a" class="c-link">MMC-HTR-10A</a><FootnoteReference><LinkExternal href="https://hitachirev-pdfsearch.himdx.net/cgi-bin/rev/search/jp/index.cgi?rm=thumbnail;url=https%3a%2f%2fwww%2ehitachihyoron%2ecom%2fjp%2fpdf%2f1965%2f05%2f1965_05_08%2epdf">日立評論 1965年5月号「東京急行電鉄株式会社納7000形電車用停車用電力回生ブレーキ付電気品」（今泉藤麿、樋口徹、神谷清） p.45</LinkExternal></FootnoteReference></td>
					<td>日立</td>
					<td>1963年</td>
					<td>複巻 70kW×8</td>
					<td>直並列</td>
					<td>カム軸</td>
				</tr>
				<tr>
					<td>7200系<small>（日立車）</small></td>
					<td><a href="#mmc-htr-10b" class="c-link">MMC-HTR-10B</a></td>
					<td>日立</td>
					<td>1967年</td>
					<td>複巻 110kW×4</td>
					<td>直並列</td>
					<td>カム軸</td>
				</tr>
				<tr>
					<td>7200系<small>（東洋車）</small></td>
					<td><a href="#es764-a" class="c-link">ACRF-H4110-764A</a></td>
					<td>東洋</td>
					<td>1967年</td>
					<td>複巻 110kW×4</td>
					<td>直並列</td>
					<td>FR</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td>7000系<small>（北陸鉄道譲渡車）</small></td>
					<td><a href="#cs-20a" class="c-link">CS-20A</a></td>
					<td>(複数)</td>
					<td></td>
					<td>直巻 120kW×4</td>
					<td>直並列</td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<ul class="p-notes">
			<li>機器形式は脚注のあるものを除き現車調査による。</li>
			<li><q>東芝</q>は東京芝浦電気の略、<q>東洋</q>は東洋電機製造の略、<q>日立</q>は日立製作所の略、<q>三菱</q>は三菱電機の略。</li>
			<li>旧7000系の東洋電機車には ACRF-H860-759A 型も存在したようだが、詳細は不明。現車調査では発見できていない。</li>
			<li>機器の登場年は東急電車でその機器が初めて搭載された車両の入籍日ないし改造日を基準としており、機器の実際の製造初年とは限らない。</li>
		</ul>
	</Section>

	<Section id="pe-11">
		<H slot="heading">PE-11A<small>（旧5000系・デハ5001〜5020）</small>、PE-11B<small>（旧5000系・デハ5021〜、5200系）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/PE11A_nagano2510.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-12-09 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器、PE11-A】</b>長野電鉄モハ2510（東急デハ5015）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/PE11B_kumamoto5102A.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2006-05-06 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器、PE11-B】</b>熊本電気鉄道モハ5102A（東急デハ5032）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/JP15-A_gakunan5102.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2005-11-15 -->
					</div>
					<figcaption class="c-caption -meta"><b>【断流器箱】</b>岳南鉄道モハ5002（東急デハ5028）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MR_matsumoto5005.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2010-06-20 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主抵抗器&amp;MG】</b>松本電気鉄道モハ5005（東急デハ5055）</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>黎明期の高性能車両として名高い旧5000系ですが、制御装置は東京芝浦電気<small>（現：東芝）</small>の MPE 型が使用されました。MPE 型制御装置はカム軸が抵抗短絡用と直並列切り換えや弱め界磁用などの2軸に分かれており、これらをフリーホイールを介し一つの電動機で操作するタイプであり、同じ年の京阪神急行電鉄<small>（現：阪急電鉄）</small>1000形にも導入されています。PE-11 型の運転上の主な特徴としては「弱め界磁」「マスコン操作による高加速」「発電ブレーキと制動ノッチ選択」が挙げられます。</p>
			<p>弱め界磁機能は旧デハ3700形、デハ3800形に続き導入されたものですが、<a href="/tokyu/machine/cont_old#cs5">CS-5 型</a>とは異なり直巻電動機の回路に界磁分路を設けてその誘導抵抗（インダクティブ・シャント）により界磁を制御する方式で、その界磁分路抵抗器は主制御器箱の向かって左端の突き出た部分に格納されています。弱め界磁の実装は当時休止されていた東横線の急行運転復活を見越してのものでしたが<FootnoteReference>清和 1954年11月号（No.181）「座談会　新造電車の特徴―TKK超軽量電車五〇〇〇形について―」（田中勇、白石安之ほか） p.10</FootnoteReference>、旧5000系では並列最終段に達した後の高速域だけでなく、起動時の力行1ノッチ段においても弱め界磁起動によるスムーズな発進が行われます。</p>
			<p>運転台のマスコンは4ノッチまで存在しますが、後の車両におけるスタンダードな区分と異なり、3ノッチで並列切り替えののち弱め界磁最終段まで進み、4ノッチは限流値を増加させて加速度を高める<dfn>高加速</dfn>モードとされているのが特徴です。高加速機能自体は目新しいものではなく、旧3000形グループでは運転台右上の押スイッチ操作によるものだったのが、旧5000系ではマスコン操作へ変更されたものとなります。ちなみに後年、8500系が地下鉄乗り入れのために高加速モードを装備した際は運転席背面の限流値増スイッチを操作する方式とされました。</p>
			<p>ブレーキは発電ブレーキが導入されましたが、惰行中にブレーキハンドルを “準備” 位置に移すと電気ブレーキ回路に微弱な電流を流し、そのときの速度に応じてカム軸位置を追従させることで発電ブレーキのスムーズな立ち上がりを実現、これが<dfn>ノッチ選択</dfn>機能と呼ばれますが、北米の PCC カーなどで導入されていた<dfn><span lang="en">spotting</span>（スポッティング）</dfn>と同じ機構です。また制動力不足の際の空気ブレーキ補足や低速域での電空切り替わりも自動で行われます。断流器は L1 〜 L3 に発電ブレーキ用の L4 が加えられ4個となりました。</p>
			<p>主抵抗器は<a href="/tokyu/machine/aps#clg107">電動発電機（MG）</a>の両脇に配置されて送風機を介し強制空冷される方式で、同様のものは国鉄モハ90形（101系）でも採用されました。譲渡車ではこの部分を改造した例が多く、長野電鉄譲渡車では<LinkPhoto href="https://media.w0s.jp/image/tokyu/machine/cont/MR_nagano2510.jpg" title="長野電鉄モハ2510"><!-- 撮影日: 2006-08-06 -->自然通風式の抵抗器</LinkPhoto>に換装され MG も移設、また福島交通と熊本電気鉄道の譲渡車は降圧改造による MG 換装により送風機直結方式が取り止められました。</p>
			<p>増備に伴う変更点として、主抵抗器の冷却は当初は室内から空気を取り入れていたのが1956年の 5017F より外気からの取り入れに変更され<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/4777052206/">RM LIBRARY 98 東京急行電鉄5000形</LinkExternal>（宮田道一、守谷之男） p.45</FootnoteReference>、また同年の 5021F 以降は主制御器が改良された PE-11B 型となりました。</p>
			<p>現在は譲渡車で最後まで残った熊本電気鉄道モハ5101A が北熊本車庫で動態保存されており、前述のとおり降圧化改造により主抵抗器の冷却部分は改造がなされているものの主制御器自体は東急時代のものが引き続き使用されています。このほか静態保存で残っている個体もわずかながら存在し、そのうち松本電気鉄道モハ5005<small>（群馬県赤城南麓で保存）</small>と上田交通モハ5201<small>（総合車輌製作所横浜事業所で保存）</small>の2両は MG による冷却機構を含めて原形に近い貴重な存在です。また長野電鉄モハ2510<small>（総合車輌製作所横浜事業所で復原工事中）</small>は現存する唯一の PE-11A 型を搭載しています。</p>
		</div>
	</Section>

	<Section id="ab-54-6mdb">
		<H slot="heading">AB-54-6MDB<small>（デハ200形）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<img src="/assets/image/noimage-485x243.svg" alt="No Image" lang="en" width="485" height="243" />
					</div>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>1955年に登場した軌道線（玉川線）用デハ200形はそれまでの手動進段車とは一線を画し、間接制御による自動進段式となりました。</p>
			<p>2両連接の主電動機4台制御ですが、主回路は2個直列を2群に分けて並列繋ぎした永久直並列繋ぎとされ、直列⇔並列の切り替えはありません。マスコンは4ノッチまであり、2ノッチで最終段に達しますが、2〜4ノッチでは限流値を変えることで加速度が変化するのが路面電車らしいところです。</p>
			<p>ブレーキは発電ブレーキを装備しており、ブレーキハンドル位置により3段階の減速度を調整できます。<a href="#pe-11">鉄道線の旧5000系</a>と同様にスポッティングの機能を装備しており、応答性の高さがアピールされていましたが、実際の運転ではデッドタイムが気になるという感想も見られ<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/4811706056/">世田谷のちんちん電車≪玉電今昔≫</LinkExternal>「タルゴ君の夜話」（飯島巌） p.153</FootnoteReference>、必ずしも理屈どおりとはいかなかったようです。</p>
			<p>また、当初はブレーキハンドルを切位置に戻さないと力行が始まらなかったため、上り勾配での発進時に緩いブレーキを掛けながら力行を行う運転テクニック（現代の電車でいう<dfn>勾配起動</dfn>）が使えなかったものの、これは後の改造により改善されたようです<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/4811706064/">世田谷・たまでん時代</LinkExternal>「座談会　戦前戦後の玉電意外史」（山本孫太郎、荻原二郎、坂戸直輝、宮田道一） p.67</FootnoteReference>。</p>
			<p>超低床車体のボディーマウント構造なため、台車やパンタグラフ以外の室外機器の様子を伺うことはできませんが、新造時の見聞<FootnoteReference>電気車の科学 1955年8月号（No.88）「お手並み拝見　東京玉川線に国産タルゴ現る」（T記者）p.58</FootnoteReference>によると主制御器と断流器はパンタグラフのない第2位車（渋谷方の車体）の海側に、主抵抗器は同じく第2位車の屋根上（二重屋根の内部）に搭載されていたようです。</p>
			<p>世田谷線には引き継がれず玉川線廃止とともに引退し、現在は電車とバスの博物館にデハ204 が保存されていますが、機器が現存しているかどうかは不明です。</p>
		</div>
	</Section>

	<Section id="es753-a">
		<H slot="heading">ACRF-H4100-753A<small>（旧6000系・A編成）</small>、ACRF-H4120-754A<small>（旧6000系・C編成）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/ES754A_konan6006.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-04-30 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器】</b>弘南鉄道デハ6006（東急デハ6006）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/RG305-B_konan6006.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2009-07-23 -->
					</div>
					<figcaption class="c-caption -meta"><b>【界磁調整器】</b>弘南鉄道デハ6006（東急デハ6006）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/SA_konan6008.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2006-09-03 -->
					</div>
					<figcaption class="c-caption -meta"><b>【断流器箱】</b>弘南鉄道デハ6008（東急デハ6008）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MR_konan6008.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2006-09-03 -->
					</div>
					<figcaption class="c-caption -meta"><b>【限流抵抗器&amp;主抵抗器】</b>弘南鉄道デハ6008（東急デハ6008）</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>1960年に登場した旧6000系は主電動機に複巻電動機を使用した平坦線向け電力回生ブレーキ電車で、東急電鉄の鉄道線車両では初めて電動車が2両ユニット構成となりましたが、主電動機は<a href="/tokyu/truck/ts300#ts315">台車</a>の中央にひとつ搭載され2軸駆動を行うモノモータータイプのため、ユニット車でありながら主制御器が担当する主電動機は4台となります。また主電動機は永久直列とされ、組み合わせ制御は行われません。</p>
			<p>電機品メーカーは東洋電機製造と東京芝浦電気<small>（現：東芝）</small>があり、落成順に東洋電機車はA編成、<a href="#mm-101a">東芝車</a>はB編成と呼称されました。翌年の増備車は東洋製のC編成となり、A編成と比べて主電動機出力が 100kW → 120kW へ増強されています。電機メーカーによる大きな違いは分巻界磁電流の制御にあり、東洋電機車では超多段の界磁調整器を使用しているのが何よりの特徴で、これは<a href="#tdk-fr">後述のコラム</a>にて詳説します。</p>
			<p>もう一つの特徴は、力行でカム軸が最終段に到達した後に惰行へ移行すると、断流器は閉じた状態、すなわち主回路を架線に接続したまま主電動機の逆起電力が架線電圧と同じになるよう分巻界磁電流を強めることで電機子電流をゼロにする<dfn>惰行制御</dfn>（あるいは<dfn><ruby>0A<rp>（</rp><rt>ゼロアンペア</rt><rp>）</rp></ruby>制御</dfn>とも）が行われることです。惰行中も走行抵抗や勾配により速度は変化しますが、主電動機の定格速度を下回るまでは常に 0A 状態を維持するよう追従し、これにより再力行あるいは電力回生ブレーキ投入の応答性が向上しています。この制御は類似システムを持つ旧7000系と7200系の東洋電機車はもちろん、界磁チョッパ制御の8000系グループまで続くことになります。</p>
			<p>さて、1969年頃より電車の制御装置に IC を使用して無接点化を図ったものが登場し、有名どころでは国鉄103系の地下鉄乗り入れ車に搭載された CS40 型が挙げられますが、この旧6000系用の主制御器も1974年より改修工事が行われ、左側の部屋に納められている各種増幅器が IC 化<FootnoteReference>東洋電機技報 1974年7月号（No.20）「東京急行電鉄6000形，7000形電車の制御装置の更新」（野坂卓見、三富忠造、渡辺悦郎） pp.10–16</FootnoteReference>、また同時期に主抵抗器や限流抵抗器も更新されました（上記掲載写真はいずれも更新後のもの）。</p>
			<p>現在は弘南鉄道大鰐線にC編成が1編成のみが残っていますが、本線で動くことはまずありません。</p>
		</div>

		<Section id="tdk-fr" depth={2} headingType="c" class="p-box">
			<H slot="heading">磁気増幅器制御の整流子型界磁調整器による弱め界磁制御</H>

			<div class="p-text">
				<p>抵抗制御車の力行において、速度上昇に伴い主電動機の回転が速くなるにつれ逆起電力が増加してゆきますが、低速域では抵抗を徐々に減らしてゆくことで主電動機に流れる電流を調整し、一定の加速度を維持します。すべての抵抗が短絡した後は、本来であれば回転力の伸びが大幅に低下し加速度が落ちてゆくところ、界磁に流れる電流を弱めて逆起電力を減らすことでその低下度を抑えることができ、これを<dfn>弱め界磁制御</dfn>と呼びます。</p>
				<p>界磁電流を弱める制御にはいくつかの方法があり、後年はサイリスタチョッパを使用した<dfn>界磁チョッパ制御</dfn>が8000系に採用されたのが有名ですが、それ以前の旧6000系〜7200系では電機メーカーにより異なる制御が行われており、このうち東洋電機車では超多段式の可変抵抗器である<dfn>界磁調整器（FR）</dfn>が使用されました。</p>
				<p>これは PCC カーの超多段式制御装置に着想を得て<FootnoteReference>R&amp;m 2008年4月号「自動制御・低速運転制御　誕生の頃―永渕澄夫氏（東洋電機製造OB）に聞く―」（福原俊一） p.55</FootnoteReference>、1959年の京阪電気鉄道1651-1652（スーパーカー試験車）および2000系（スーパーカー量産車）に採用されていたもので、機器の下部に円盤状の整流子があり、その外周部を磁気増幅器で制御されたサーボモーター駆動による接触子が回転しながら摺動することで200段を超える抵抗制御を実現しています。前述のとおり惰行中も主回路は接続されたままですから、運転士のマスコンないしブレーキハンドル操作に応じてこの装置で界磁電流を調整するだけで再力行と電力回生ブレーキを実現しているものとなります。</p>
				<p>同時期の旧7000系〜7200系にて、日立車がカム軸による弱め界磁制御をしていたのを比べると野心的なシステムではあったのでしょうが、鉄道事業者によっては故障に泣かされたようで、旧7000系の東洋電機車が譲渡された福島交通では晩年、保守に苦労していたことが語られています<FootnoteReference><LinkExternal href="https://www.amazon.co.jp/dp/B07HSK3H4M/">鉄道ジャーナル 2018年12月号（No.626）「譲渡車両の知られざる現実　福島交通飯坂線1000系導入秘話」（三浦祥兒） p.58</LinkExternal></FootnoteReference>。それでも旧6000系と同じ年に同様のシステムを導入した京阪神急行電鉄<small>（現：阪急電鉄）</small>京都線の2300系が冷房改造時に界磁チョッパ方式に改造されたのと比べると、東急電鉄では7200系東洋電機車が2000年に引退するまで使われ続け、今なお弘南鉄道や豊橋鉄道など複数の譲渡先で現役であるのは長寿の部類にあると言えるのかもしれません。</p>
			</div>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/cont/RG305-B_fukushima7105.jpg" alt="写真拡大" width={360} height={360} quality={60} link={true} />
							<!-- 撮影日: 2017-08-26 -->
						</div>
						<figcaption class="c-caption">
							<span class="c-caption__title">旧7000系の界磁調整器<br />（福島交通デハ7105 ← 東急デハ7158）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/cont/TA_fukushima7105.jpg" alt="写真拡大" width={360} height={240} quality={60} link={true} />
							<!-- 撮影日: 2017-08-26 -->
						</div>
						<figcaption class="c-caption">
							<span class="c-caption__title">旧7000系の磁気増幅器ユニット（IC 化後）、左端が FR 用<br />（福島交通デハ7105 ← 東急デハ7158）</span>
						</figcaption>
					</figure>
				</div>
			</div>
		</Section>
	</Section>

	<Section id="mm-101a">
		<H slot="heading">MM-101A<small>（旧6000系・B編成）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<img src="/assets/image/noimage-485x243.svg" alt="No Image" lang="en" width="485" height="243" />
					</div>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>旧6000系は<a href="#es753-a">前述</a>のとおり電機品メーカーにより制御方式に違いがあり、東洋電機車（A, C編成）では分巻界磁電流を界磁調整器で制御していたのに対し、東芝車（B編成）では<a href="/tokyu/machine/aps#clg320">電動発電機（MG）</a>の軸端に設置されたブースターによる制御が行われていた違いがあります。このブースターはアンプリスタット（磁気増幅器）によってその界磁電流が制御されます。</p>
			<p>構造上の違いとしては、断流器を横付けしたために東洋電機車と比べ大型（横長）の箱となりました。</p>
			<p>東急電鉄に続き京阪神急行電鉄<small>（現：阪急電鉄）</small>神宝線の2000系、2100系でも同様のシステムが採用されましたが、どちらも保守には手を焼いていたようで、東急6000系は1969年に電力回生ブレーキを停止<FootnoteReference>鉄道ピクトリアル 1972年9月号（No.269）「私鉄車両めぐり〔93〕東京急行電鉄の車両」（荻原二郎、久原秀雄、宮田道一） p.73</FootnoteReference>、京阪神も昇圧工事の際にやはり機能を撤去され<FootnoteReference>鉄道ピクトリアル 1998年12月臨時増刊号（No.663）「阪急　車両技術発達史」（篠原丞） p.195</FootnoteReference>、この方式は電気鉄道で主流になることなく終わりました。</p>
			<p>旧6000系B編成は晩年 VVVF インバーター制御の試験車として改造され、この制御装置は1984年に消滅しました。</p>
		</div>

		<Section id="mcm" depth={2} headingType="c" class="p-box">
			<H slot="heading">東芝 MCM パッケージ型主制御器</H>

			<div class="p-text">
				<p>旧6000系B編成の主制御器は東芝の資料によると <dfn>MCM 型</dfn>として区分されていますが<FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/3253820/1/53">東芝レビュー 1960年8月号（No.127）「新製品紹介」 p.949</LinkExternal></FootnoteReference>、本来の MCM 型の特徴とはかなり違いがあります。</p>
				<p>もともと MCM とはアメリカ <span lang="en">General Electric</span> 社による制御装置の区分であり、1950年代初頭に電動カム軸式で主抵抗器など関連する機器を一つの箱に収めた<dfn><span lang="en">package type</span>（パッケージ型）</dfn>として登場したものです。日本の電車に関係する契機は、1955年にシカゴの高架鉄道 Chicago "L" 6000シリーズにおける試験において軽量化、高速化の点で画期的な結果を残したことに東京芝浦電気が注目し、名称もそのままに東芝の MCM 型として採用された経緯があります<FootnoteReference><LinkExternal href="https://dl.ndl.go.jp/pid/3253771/1/45">東芝レビュー 1956年9月号（No.80）「電気鉄道技術における最近の傾向と問題(2)」（森佐一郎、鳥居泰之助、脇屋秋夫、内田曙男） pp.1071–1072</LinkExternal></FootnoteReference>。</p>
				<p>1956年に最初に採用されたのは阪神電気鉄道のジェットカー試験車、および神戸市電の新造車です。構造は GE 社のものとほぼ同じで、中央部に強制通風式の主抵抗器と、その両側に2台の電動カム軸すなわち抵抗制御用の<dfn>KMR</dfn>と力行／ブレーキ、前進／後進など回路切り換え用の<dfn>KMC</dfn>を配し、機器の脇からは主抵抗器冷却用のダクトが出ているのが外観の特徴ともなっています。</p>
				<p>1958年の名古屋鉄道5500系では KMR、KMC の2種類のカム軸を一つの電動機で操作する方式となり、後に改良型が7000系（パノラマカー）や7700系にも大量採用されて名鉄線内で一世を風靡します。</p>
				<p>一方、1959年の阪神5101形、5201形（ジェットカーの量産車）では主抵抗器一体型を止めごく一般的なタイプとなりました。型式も MC ではなく MM とされ、こうなると GE 社から派生した当初の面影はなくなったように思えますが、それでもあくまで MCM 型の一員であったようです。</p>
				<p>同年の東急6000系向けでは断流器を横付けする大きな変化があったためか、型番が MM-101 と3桁数字になったものの、その後の製品は MM-11, MM-12, ……と2桁に戻っています。ここまでの採用例を一覧にしてみましょう。</p>
			</div>

			<table class="p-table">
				<caption>初期の東芝 MCM 型主制御器</caption>
				<thead>
					<tr>
						<th scope="col">型式</th>
						<th scope="col">製造初年</th>
						<th scope="col">搭載車種</th>
						<th scope="col">特徴</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>MC-1A</td>
						<td>1956年</td>
						<td>阪神電気鉄道 1121形（1130）</td>
						<td>ジェットカー試験車</td>
					</tr>
					<tr>
						<td>MC-2A</td>
						<td>1956年</td>
						<td>神戸市交通局 1150形（1153〜1158）</td>
						<td>和製 PCC カー</td>
					</tr>
					<tr>
						<td>MC-3A</td>
						<td>1958年</td>
						<td>阪神電気鉄道 5001形</td>
						<td>ジェットカー試作車、永久並列接続</td>
					</tr>
					<tr>
						<td>MC-11A</td>
						<td>1958年</td>
						<td>名古屋鉄道 5500系（1次車）</td>
						<td>冷房車</td>
					</tr>
					<tr>
						<td>MC-11B</td>
						<td>1959年</td>
						<td>名古屋鉄道 5500系（2次車）</td>
						<td>冷房車</td>
					</tr>
					<tr>
						<td>MM-10A</td>
						<td>1959年</td>
						<td>阪神電気鉄道 5101形、5201形</td>
						<td>ジェットカー量産車</td>
					</tr>
					<tr>
						<td>MM-10B</td>
						<td>1959年</td>
						<td>福井鉄道 200形</td>
						<td>連接車</td>
					</tr>
					<tr>
						<td>MM-101A</td>
						<td>1959年</td>
						<td>東京急行電鉄 6000系（B編成）</td>
						<td>電力回生ブレーキ</td>
					</tr>
				</tbody>
			</table>

			<ul class="p-notes">
				<li>東芝レビュー <LinkExternal href="https://dl.ndl.go.jp/pid/3253779">1957年4月号（No.87）</LinkExternal>、<LinkExternal href="https://dl.ndl.go.jp/pid/3253802">1959年3月号（No.110）</LinkExternal>、<LinkExternal href="https://dl.ndl.go.jp/pid/3253815">1960年3月号（No.122）</LinkExternal>のそれぞれ「電気鉄道」の章に記載されたデータを元に作成。</li>
			</ul>

			<div class="p-text">
				<p>上表では省略しましたが1960年以降もほとんどは MM タイプの採用であり、MC タイプは名鉄が7000系や7700系で MC-11C〜E 型を採用したのが唯一の例となります。多くの鉄道事業者では限定的な採用に留まり、ある程度の量産が行われた阪神電鉄も1960年代の昇圧改造で制御器が交換されてしまったのに対し、名鉄が MCM 型それも初期型の MC タイプを大量採用し、ブロアーの交換程度で大きな改造もなく晩年まで使用された<FootnoteReference><LinkExternal href="http://www15.plala.or.jp/hidekih/gijyutushi28.htm">「電鉄技術史情報２８」（白井昭）</LinkExternal></FootnoteReference>のは日本の鉄道事業者では特異なことです。</p>
			</div>

			<div class="c-flex">
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/cont/MC-11_meitetsu7028.jpg" alt="写真拡大" width={360} height={180} quality={60} link={true} />
							<!-- 撮影日: 2023-10-21 -->
						</div>
						<figcaption class="c-caption">
							<span class="c-caption__title">東芝 MC-11 型（名古屋鉄道モ7028）</span>
						</figcaption>
					</figure>
				</div>
				<div class="c-flex__item">
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/cont/MM-10B_fukui203-1.jpg" alt="写真拡大" width={360} height={180} quality={60} link={true} />
							<!-- 撮影日: 2009-07-20 -->
						</div>
						<figcaption class="c-caption">
							<span class="c-caption__title">東芝 MM-10 型（福井鉄道モハ203-1）</span>
						</figcaption>
					</figure>
				</div>
			</div>
		</Section>
	</Section>

	<Section id="es754-a">
		<H slot="heading">ACRF-H860-754A<small>（旧7000系・東洋車 1〜2次車）</small>、ACRF-H860-757A<small>（旧7000系・東洋車 3〜10次車）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/ES754A_mizuma7003.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2006-09-02 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器】</b>水間鉄道デハ7003（東急デハ7012）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/RG305-B_konan7021.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2009-07-23 -->
					</div>
					<figcaption class="c-caption -meta"><b>【界磁調整器】</b>弘南鉄道デハ7021（東急デハ7158）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/SA_mizuma1001.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-11-25 -->
					</div>
					<figcaption class="c-caption -meta"><b>【断流器箱】</b>水間鉄道デハ1001（東急デハ7010）</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>1962年に登場したオールステンレスカー・旧7000系は1〜2次車の時点では旧6000系東洋電機車のシステムが踏襲されています。主電動機は永久直列（直並列制御なし）で分巻界磁電流の制御は界磁調整器（FR）で行うといった基本的な制御方式は変わっていませんが、旧6000系は1電動機2軸駆動方式だったのに対し、旧7000系は<a href="/tokyu/truck/ts700#ts701">パイオニアⅢ台車</a>を履用し主電動機は1軸ごとにある一般的な方式のため、ひとつの主制御器には8台の主電動機が接続されます。</p>
			<p>当初は旧6000系と同じ ACRF-H 系の 754A 型でしたが、3次車からは改良された 757A 型となり、また旧6000系と同様に1970年代には各種増幅器の IC 化と主抵抗器&amp;限流抵抗器の更新が行われました。</p>
			<p>現在は 757A 型が弘南鉄道弘南線、水間鉄道の譲渡先で活躍しています。</p>
		</div>
	</Section>

	<Section id="mmc-htr-10a">
		<H slot="heading">MMC-HTR-10A<small>（旧7000系・日立車）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MMC-HTR-10A_konan7040.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-04-30 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器】</b>弘南鉄道デハ7040（東急デハ7040）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/FC_konan7034.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-10-07 -->
					</div>
					<figcaption class="c-caption -meta"><b>【界磁制御器】</b>弘南鉄道デハ7034（東急デハ7034）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/URB-PH_konan7034.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-10-07 -->
					</div>
					<figcaption class="c-caption -meta"><b>【断流器箱】</b>弘南鉄道デハ7034（東急デハ7034）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MR_konan7032.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2008-05-05 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主抵抗器ほか】</b>弘南鉄道デハ7032（東急デハ7032）</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>旧7000系は当初は電機品が東洋電機製造によるものでしたが、1963年の5次車より日立製作所が参入し、以降は東洋電機車とともに増備が行われました。</p>
			<p>日立のカム軸式制御器は1937年に<a href="/tokyu/machine/cont_old#hitachi-mc">多段式の MMC 式</a>が開発されて以来、カム軸を直列制御で1回転ののち並列切り換えを行いさらに1回転する<dfn>一方向2回転式</dfn>が長らく用いられていましたが、本タイプでは直列と並列、さらに弱め界磁を含めたすべての制御を1回転で行う<dfn>1回転式</dfn>が採用されました。</p>
			<p>東洋電機車との違いとして直並列制御が行われており、抵抗損失の低下による節電効果のほか、電力回生ブレーキ時にも並直列制御を行うことで定格速度の半分である約 18km/h の低速域まで回生が効くようになっています<FootnoteReference><LinkExternal href="https://hitachirev-pdfsearch.himdx.net/cgi-bin/rev/search/jp/index.cgi?rm=thumbnail;url=https%3a%2f%2fwww%2ehitachihyoron%2ecom%2fjp%2fpdf%2f1965%2f05%2f1965_05_08%2epdf">日立評論 1965年5月号「東京急行電鉄株式会社納7000形電車用停車用電力回生ブレーキ付電気品」（今泉藤麿、樋口徹、神谷清） p.47</LinkExternal></FootnoteReference>。また弱め界磁は界磁電流をカム軸によって制御されますが、複巻電動機の直巻界磁を制御する方式とされ、このため力行時の主電動機は直巻特性を持つものとなっています。これらのメーカーによる機構の違いは外観的には断流器箱で顕著に感じることができ、東洋電機製と比べると直並列切り替え用（S, P, G）とブレーキ時に直巻界磁を短絡する F16, F26 のスイッチが増えたことで、断流器箱のアーク流しが8個となっているのが特徴です。なお、直並列切り替え用の3つのスイッチは組み合わせ制御を行っていた従来車、すなわち旧3000系の日立 MMC-H-10 型や旧5000系の<a href="#pe-11">東芝 PE-11 型</a>では主制御器の内部に納められていたのが、旧7000系で断流器箱に移動されたものとなります。</p>
			<p>このように旧7000系は東洋電機車と日立車で運転特性が異なるため、混結は極力避けられていましたが、1979年の田玉線運転系統一本化&amp;大井町線分離の際、8500系と入れ替わりに旧7000系の全134両が東横線に集結した結果、7005F（東洋電機車4両）+ 7033F（日立車2両）の混結6両編成が誕生し<FootnoteReference>鉄道ファン 1979年11月号（No.223）「多摩田園都市が都心に直結―東急田園都市線↔新玉川線全列車直通運転開始―」（宮田道一） p.56</FootnoteReference>、その後も断続的に東横線と大井町線で混結編成が存在したようです。</p>
			<p>旧7000系日立車は弘南鉄道大鰐線と北陸鉄道石川線に譲渡されましたが、北陸鉄道譲渡車は譲渡時に機器を換装されたため、現在このシステムは弘南鉄道大鰐線でのみに見ることができます。またこどもの国線で2000年まで活躍していた 7057F ワンマンカーは東急車輛製造<small>（現：総合車両製作所）</small>に譲渡され、現在はデハ7052 が同社の横浜事業所で静態保存されています。</p>
		</div>
	</Section>

	<Section id="mmc-htr-10b">
		<H slot="heading">MMC-HTR-10B<small>（7200系・日立車）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MMC-HTR-10B_7290.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2010-03-16 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器】</b>デヤ7290（2次車）海側</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/FC-CH-5B_toyohashi1803.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-04-01 -->
					</div>
					<figcaption class="c-caption -meta"><b>【界磁制御器】</b>豊橋鉄道モ1803（東急デハ7210）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/URB-PH_toyohashi1806.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2005-12-11 -->
					</div>
					<figcaption class="c-caption -meta"><b>【断流器箱】</b>豊橋鉄道モ1806（東急デハ7205）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MR_toyohashi1804.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-09-17 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主抵抗器ほか】</b>豊橋鉄道モ1804（東急デハ7212）</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>1967年に登場した7200系は、旧7000系と同じく電機メーカーが日立製作所の車両と東洋電機製造の車両が存在します。日立車のシステム自体は旧7000系日立車を踏襲していますが、ユニット車ではなく 1M 方式に戻ったため主電動機は4台制御となりました。</p>
			<p>主制御器は旧7000系とほぼ同一なものの、断流器箱や抵抗器は大きく変わっており、とくに断流器箱のうち向かって右側の区画（直巻界磁用の F16、F26 および分巻界磁用の FS）は他車種には見られない独特な形状をしています。</p>
			<p>1991年にはアルミ車のデハ7200、クハ7500がそれぞれ動力車（デハ7200、後にデヤ7200）、電気検測車（デヤ7290）に改造されましたが、その際電力回生ブレーキ機能は撤去されたとのことです<FootnoteReference>鉄道ジャーナル 1991年4月号（No.294）「東急の新しい電気検測車 – デヤ7290形」 p.110</FootnoteReference>。</p>
			<p>東急線からは2012年のデヤ7200、デヤ7290 引退に伴い消滅しましたが、豊橋鉄道、大井川鐵道の譲渡先で活躍しています。</p>
		</div>
	</Section>

	<Section id="es764-a">
		<H slot="heading">ACRF-H4110-764A<small>（7200系・東洋電機車）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/ES764-A_ueda7255.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2008-01-26 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器】</b>上田電鉄モハ7255（東急デハ7258）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/RG303-B_ueda7254.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2008-01-27 -->
					</div>
					<figcaption class="c-caption -meta"><b>【界磁調整器】</b>上田電鉄モハ7254（東急デハ7254）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/SA_ueda7252.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2008-05-03 -->
					</div>
					<figcaption class="c-caption -meta"><b>【断流器箱】</b>上田電鉄モハ7252（東急デハ7252）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MR_ueda7255.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2005-03-29 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主抵抗器ほか】</b>上田交通モハ7255（東急デハ7258）</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>7200系の東洋電機製造車は、弱め界磁制御に界磁調整器（FR）を用いた方式は踏襲しつつも、旧7000系までの永久直列制御から日立車と同じく直並列制御を行うように変更されています。</p>
			{/* <p>旧7000系と異なり日立車と東洋電機車の混結は日常的に行われ、現在も大井川鐵道で見られます。</p> */}
			<p>東急線からは2000年の7200系旅客車引退に伴い消滅しましたが、豊橋鉄道、大井川鐵道の譲渡先で活躍しています。</p>
		</div>
	</Section>

	<Section id="cs-20a">
		<H slot="heading">CS-20A<small>（旧7000系北陸鉄道譲渡車）</small></H>

		<div class="c-flex">
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/CS20A_hokuriku7102.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2023-10-22 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主制御器】</b>北陸鉄道モハ7102（東急デハ7056）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/SA_hokuriku7201.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2007-11-23 -->
					</div>
					<figcaption class="c-caption -meta"><b>【断流器箱】</b>北陸鉄道モハ7201（東急デハ7136）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/WFL_hokuriku7202.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2023-03-02 -->
					</div>
					<figcaption class="c-caption -meta"><b>【弱め界磁リアクトル】</b>北陸鉄道7202（東急デハ7138）</figcaption>
				</figure>
			</div>
			<div class="c-flex__item">
				<figure class="c-fit">
					<div class="p-embed -border">
						<Image path="tokyu/machine/cont/MR_hokuriku7202.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
						<!-- 撮影日: 2023-10-22 -->
					</div>
					<figcaption class="c-caption -meta"><b>【主抵抗器】</b>北陸鉄道7202（東急デハ7138）</figcaption>
				</figure>
			</div>
		</div>

		<div class="p-text">
			<p>旧7000系のうち北陸鉄道石川線に譲渡された車両は台車や床下機器、集電装置など主要機器の多くが換装され、主制御器は JR 103系初期車（試作車を除く）の CS20A 型となりました。</p>
			<p>主制御器箱の前面蓋にはメーカーの社紋が刻印されていますが、これは日立製作所（モハ7001<!-- 2006-11, 2007-08, 2009-11 -->, 7201<!-- 2007-08, 2009-11, 2011-10, 2023-10 -->, 7202<!-- 2007-08, 2009-11, 2011-10, 2023-03, 2023-10 -->）、東京芝浦電気<small>（現：東芝）</small>（モハ7101<!-- 2007-08, 2011-10, 2023-10 -->）、東洋電機製造（モハ7102<!-- 2007-03, 2007-08, 2020-11, 2023-10 -->）の3社を確認しています。</p>
			<p>断流器箱も103系用の CB25 型を搭載しています。国鉄ではそれまでの101系において、断流器箱はM車とM′車に分かれて搭載されていたのが103系では一体型となったもので、6つの遮断器（向かって左側から L1, L4, L3, K1, L5, L2）が納められています。このうち左端の L1 は高速度遮断器でやや大きめなのが特徴で、また4番目の K1 は直並列切り替えの際に投入される遮断器です。近年になりカバーの交換が行われて上記写真のタイプは消滅しましたが、過渡期には2分割されたカバーの片側だけ交換された車両も存在しました。</p>
			<p>主抵抗器は自然通風タイプが主制御器、断流器箱とは逆側（鶴来方を向いて左側）に搭載、その左側には弱め界磁リアクトルが配置されています。</p>
		</div>
	</Section>
</Layout>
