---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import ListLink from '@components/ListLink.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	type: 'website',
	title: '東急電車の車両機器',
	heading: '車両機器',
	dateModified: dayjs('2024-04-12'),
	description: '東急電鉄の車両に搭載されている各種機器を紹介します。',
	breadcrumb: [{ path: '/tokyu/', name: '東急電車資料室' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Section id="cont">
		<Fragment slot="heading">制御装置</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/machine/cont_old">抵抗制御（旧性能車）</a>（デハ1形〜デハ3800形）</li>
			<li><a href="/tokyu/machine/cont_high">抵抗制御（高性能車）</a>（旧5000系〜7200系）</li>
			<li><a href="/tokyu/machine/cont_fcc">抵抗制御（界磁チョッパ）</a>（8000系〜8090系）</li>
			<li><a href="/tokyu/machine/cont_gto">VVVF インバーター制御（GTO サイリスタ）</a>（9000系〜2000系）</li>
			<li><a href="/tokyu/machine/cont_igbt">VVVF インバーター制御（IGBT）</a>（デハ7815〜新3000系、1000系1500番台）</li>
		</ListLink>
	</Section>

	<Section id="sty">
		<Fragment slot="heading">その他の車両機器</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/machine/aps">補助電源装置</a>（旧5000系〜新3000系）</li>
			<li><a href="/tokyu/machine/cp">空気圧縮機</a>（旧5000系〜新3000系）</li>
			<li><a href="/tokyu/machine/bce">ブレーキ制御装置</a>（7200系〜新3000系）</li>
			<li><a href="/tokyu/machine/bt">蓄電池</a>（7200系〜新3000系）</li>
			<li><a href="/tokyu/machine/rec">整流装置</a>（7200系〜新3000系）</li>
			<li><a href="/tokyu/machine/aci">冷房制御装置</a>（1000系〜2000系）</li>
			<li><a href="/tokyu/machine/usl">床下灯</a>（7200系〜2000系）</li>
			<li><a href="/tokyu/machine/tra">情報伝送装置</a>（旧7000系〜新3000系）</li>
			<li><a href="/tokyu/machine/atc">ATC 装置</a>（8000系〜新3000系）</li>
			<li><a href="/tokyu/machine/pt_7000">7200系、7600系、7700系　集電装置</a></li>
		</ListLink>
	</Section>

	<Section id="ub">
		<Fragment slot="heading">床下機器配置</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/machine/ub_7600">7600系</a></li>
			<li><a href="/tokyu/machine/ub_7700">7700系</a></li>
			<li><a href="/tokyu/machine/ub_7700n">7700系（7915F）</a></li>
			<li><a href="/tokyu/machine/ub_1000n">1000N系（池上、多摩川線）</a></li>
			<li><a href="/tokyu/machine/ub_1000n2">1000N′系</a></li>
			<li><a href="/tokyu/machine/ub_1500">1000系1500番台</a></li>
			<li><a href="/tokyu/machine/ub_7900_m">クハ7900形山側</a></li>
			<li><a href="/tokyu/machine/ub_8290">大井町線デハ8290形</a></li>
			<li><a href="/tokyu/machine/ub_8800">デハ8800形海側</a></li>
		</ListLink>
	</Section>

	<Section id="roof">
		<Fragment slot="heading">屋根上機器配置</Fragment>

		<ListLink index={true}>
			<li><a href="/tokyu/machine/roof_7200">7200系（デヤ7200、デヤ7290、サヤ7590）</a></li>
			<li><a href="/tokyu/machine/roof_7600">7600系</a></li>
			<li><a href="/tokyu/machine/roof_7700">7700系</a></li>
			<li><a href="/tokyu/machine/roof_7700n">7700系（7915F）</a></li>
			<li><a href="/tokyu/machine/roof_1000n">1000N系（池上、多摩川線）、1000N′系</a></li>
		</ListLink>
	</Section>
</Layout>
