---
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Image from '@components/+phrasing/Image.astro';
import AnchorPhoto from '@components/+phrasing/AnchorPhoto.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '東急7200系、7600系、7700系　集電装置',
	heading: '7200系、7600系、7700系　集電装置',
	dateModified: '2011-01-01',
	description: '7600系、7700系と、7200系（デヤ7200、デヤ7290）に搭載された集電装置を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/pt/PT44.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="pantograph">
		<Fragment slot="heading">菱形パンタグラフ</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="pt43" depth={2} headingType="c">
					<Fragment slot="heading">PT43</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT43.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2010-06-30 -->
						<Fragment slot="caption">デハ7701（1次車）</Fragment>
					</Embedded>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT43_side.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-03-24 -->
						<Fragment slot="caption">デハ7701（1次車）</Fragment>
					</Embedded>

					<p>PT43型は旧6000系に搭載されたパンタグラフで、地下鉄日比谷線乗り入れに備えて折り畳み高さを小さくし、また集電舟はホーンを舟から分離して軽量化され、追従性能を向上して剛体架線に対応したものとなっています。</p>

					<p>後に旧7000系や旧3000系の一部にも搭載され、現在でも7700系のうちデハ7701、デハ7802に残るほか、クハ7500形から電装化されたデヤ7290の上り方もPT43型が搭載されています。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="pt44" depth={2} headingType="c">
					<Fragment slot="heading">PT44</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT44.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2010-06-30 -->
						<Fragment slot="caption">デハ7801（1次車）</Fragment>
					</Embedded>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT44_side.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-02-24 -->
						<Fragment slot="caption">デハ7810（3次車）</Fragment>
					</Embedded>

					<p>旧7000系、7200系に搭載されたPT44型はPT43型とよく似ていますが、台枠内部の形状が異なるほか、下げシリンダを前後のいずれにも設置できるよう架台やシリンダに接続するてこが双方に準備されている個体が多いのが特徴です。なお、実際には下り方にのみシリンダが接続されていますが、デヤ7200のみは上り方の接続となっています。</p>

					<p>7200系3次車の一部と4次車からは台枠取付部の<AnchorPhoto href="https://media.w0s.jp/image/tokyu/machine/pt/PT43_few-insulator.jpg" title="デヤ7290上り方、PT43型"><!-- 撮影日: 2007-03-27 -->絶縁碍子が少なくなりました</AnchorPhoto>。デヤ7200、デヤ7290は特殊車への改造にあたりパンタグラフが増設されていますが、それらも少ないタイプとなっています。</p>

					<p>現在、東急に残る個体はPT43型ともどもすべてホーンが2本のタイプとなっていますが、弘南鉄道6000系や福島交通7000系、上田電鉄7200系に<AnchorPhoto href="https://media.w0s.jp/image/tokyu/machine/pt/PT44_horn1.jpg" title="福島交通デハ7111"><!-- 撮影日: 2009-07-22 -->1本ホーンのタイプ</AnchorPhoto>が残っています。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="pt44s-c" depth={2} headingType="c">
					<Fragment slot="heading">PT44S（C型）</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT44S-C.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2010-08-20 -->
						<Fragment slot="caption">デハ7705（2次車）</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT44S-C_side.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-02-24 -->
						<Fragment slot="caption">デハ7805（3次車）</Fragment>
					</Embedded>

					<p>7700系のうちデハ7705のみは、ほかに類を見ないPT44S-C型を載せていますが、形状や大きさはPT44型に近く、わずかに台枠部のフック形状がPT44S-D型、E型と同じものとなっています。</p>

					<p>なお、シリンダ架台は片側のみの設置です。</p>

					<ListNote>
						<li>2012年3月24日、搭載車がデハ7806に変わっていることを確認しました。</li>
					</ListNote>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="pt44s" depth={2} headingType="c">
					<Fragment slot="heading">PT44S（D型、E型）</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT44S.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2010-07-01 -->
						<Fragment slot="caption">デハ7682（1次車）下り方</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT44S_side.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-03-03 -->
						<Fragment slot="caption">デハ7681（1次車）下り方</Fragment>
					</Embedded>

					<p>7600系改造車両は、PT44S-D型または同E型に換装されています。これは9000系や8637F〜8642Fなどに採用されているもので、小型化されて全長が短くなり、折り畳み高さを抑えるために上枠と下枠が重なるようにされたことで関節部の構造が大きく変わっています。また、電磁鍵外しが台枠内に組み込まれたほか、舟体の形状もPT44型などとは異なります。</p>

					<p>2丁パンタ車であるデハ7681、デハ7682のみにみられる特徴として、下り方の個体のみ、避雷器がある側の上枠と下枠の間接部同士を繋ぐ横控管（枕木方向）がありません。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="pt4309" depth={2} headingType="c">
					<Fragment slot="heading">PT4309（架線検測車・測定用）</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT4309.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2005-05-17 -->
						<Fragment slot="caption">デヤ7290（2次車）下り方</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT4309_side.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-03-08 -->
						<Fragment slot="caption">デヤ7290（2次車）下り方</Fragment>
					</Embedded>

					<p>7200系架線検測車（デヤ7290）の下り方に設けられている測定用パンタグラフは、8000系グループで使用されているPT4309型となっています。この個体のみ、主ばねにカバーがされていません。なお、7200系や7700系譲渡車の中にも、譲渡後にPT4304型やPT4309型へ載せ替えられた例が存在します。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="single-arm">
		<Fragment slot="heading">シングルアーム形パンタグラフ</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="pt7108" depth={2} headingType="c">
					<Fragment slot="heading">PT7108</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT7108-A.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2010-06-07 -->
						<Fragment slot="caption">デハ7715（5次車）</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT7108-B.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2010-06-07 -->
						<Fragment slot="caption">デハ7815（4次車）</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/pt/PT7108_side.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2007-04-22 -->
						<Fragment slot="caption">デハ7815（4次車）</Fragment>
					</Embedded>

					<p>サハ7950形から電装化されたデハ7715、デハ7815は、下り方（#1と#2の冷房装置の間）にシングルアーム形の集電装置を装備します。当初はホーンが1本のタイプで異彩を放っていましたが、まもなく両車ともノーマルな2本タイプに交換されました。これら2台は主ばね周りなどの形状に差異がみられ、デハ7815の方は8000系グループや1000系のシングルアーム形と同じ形状となっています。</p>

					<p>2007年には7600系のデハ7653、デハ7673もシングルアーム形に交換されましたが、いずれも2010年までに廃車となり、7600系、7700系のシングルアーム形パンタグラフ搭載車は消滅しました。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
