---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急デヤ7200、デヤ7290、サヤ7590　屋根上機器配置',
	heading: 'デヤ7200、デヤ7290、サヤ7590　屋根上機器配置',
	dateModified: dayjs('2012-02-18'),
	description: '東急線で検測車、動力車として活躍するデヤ7200、デヤ7290、サヤ7590 の屋根上写真を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/roof/7290.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: {
		label: '屋根上機器配置',
		items: [
			{ path: '/tokyu/machine/roof_7200', name: '7200系' },
			{ path: '/tokyu/machine/roof_7600', name: '7600系' },
			{ path: '/tokyu/machine/roof_7700', name: '7700系' },
			{ path: '/tokyu/machine/roof_7700n', name: '7915F' },
			{ path: '/tokyu/machine/roof_1000n', name: '1000N系（池多摩線）、1000N′系' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="cmc-7200">
		<Fragment slot="heading">デヤ7200形</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="cmc-7200-1" depth={2} headingType="c">
					<Fragment slot="heading">デヤ7200</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7200.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2011-11-10 -->
						<Fragment slot="caption">デヤ7200（2次車）</Fragment>
					</Embedded>

					<p>両側の車端部に集電装置（菱形パンタグラフ）が設置されており、それぞれの車央方には避雷器があります。上り方の集電装置から延びる配管は、下り方集電装置からのもの共々、下り方妻面から床下へ繋がっています。</p>

					<p>車央部にはベンチレーターが2台残されており、また両端の乗務員室直上にはそれぞれ逆L字型のSRアンテナがあります。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="cmc-7290">
		<Fragment slot="heading">デヤ7290形</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="cmc-7290-1" depth={2} headingType="c">
					<Fragment slot="heading">デヤ7290<small>（集電装置換装前）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7290.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-07-09 -->
						<Fragment slot="caption">デヤ7290（2次車）</Fragment>
					</Embedded>

					<p>両側の車端部に菱形パンタグラフが設置されており、それぞれの上り方には避雷器があります。下り方の測定用パンタグラフから上り方へ向かって延びる配管は、車央部付近で車体に埋め込まれます。上り方の集電用パンタグラフから延びる配管は、上り方妻面から床下へ繋がっています。</p>

					<p>車央部は屋根を掘り下げて観測ドームと測定装置を搭載しています。観測ドームは四方に窓が設けられ、このうち前後方向の窓はワイパー付きです。さらに、前後方向の窓の両脇には架線に向けて投光器が設置されています。</p>

					<p>逆L字型のSRアンテナは、下り方の乗務員室直上のほか、上り方集電装置の下り方にも2基増設されています。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="cmc-7290-2" depth={2} headingType="c">
					<Fragment slot="heading">デヤ7290<small>（集電装置シングルアーム化）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7290_PT7108.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2011-11-10 -->
						<Fragment slot="caption">デヤ7290（2次車）</Fragment>
					</Embedded>

					<p>2010年に明電舎製の新型検測装置<dfn>CATENARY EYE（カテナリーアイ）</dfn>が搭載されました。これは観測ドームと上り方の集電用パンタグラフの間に配置され、集電用パンタグラフはシングルアーム式に換装されました。</p>

					<p>これに伴い、投光器が1つ撤去されたほか、上り方のSRアンテナやヒューズ箱などが移設されています。</p>

					<p>下り方の測定用パンタグラフは検測運転時も用いられることはなくなりましたが、撤去はされず残っています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="t-7590">
		<Fragment slot="heading">サヤ7590形</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="t-7590-1" depth={2} headingType="c">
					<Fragment slot="heading">サヤ7590</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7590.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2011-11-10 -->
						<Fragment slot="caption">サヤ7590（5次車）</Fragment>
					</Embedded>

					<p>冷房装置が2台配置されており、キセの開口部はすべて下り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたってランボードが設けられています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
