---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急1000N系（池上、多摩川線）、1000N′系　屋根上機器配置',
	heading: '1000N系（池上、多摩川線）、1000N′系　屋根上機器配置',
	dateModified: dayjs('2010-08-01'),
	description: '東急池上線、多摩川線で活躍する1000N系、1000N′系の屋根上写真を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/roof/1200N.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: {
		label: '屋根上機器配置',
		items: [
			{ path: '/tokyu/machine/roof_7200', name: '7200系' },
			{ path: '/tokyu/machine/roof_7600', name: '7600系' },
			{ path: '/tokyu/machine/roof_7700', name: '7700系' },
			{ path: '/tokyu/machine/roof_7700n', name: '7915F' },
			{ path: '/tokyu/machine/roof_1000n', name: '1000N系（池多摩線）、1000N′系' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="tc-1000">
		<H slot="heading">クハ1000形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="tc-1000N" depth={2} headingType="c">
					<H slot="heading">1000N系、1000N′系</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/1000N2.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-11 -->
						</div>
						<figcaption class="c-caption -meta">クハ1017（4次車）</figcaption>
					</figure>

					<p>車央部に冷房装置が3台配置されており、キセの開口部は両端の2台は下り方に、中央の1台は上り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたってランボードが設けられています。</p>
					<p>上り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="m-1200">
		<H slot="heading">デハ1200形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="m-1200N" depth={2} headingType="c">
					<H slot="heading">1000N系</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/1200N.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-11 -->
						</div>
						<figcaption class="c-caption -meta">デハ1213（3次車）</figcaption>
					</figure>

					<p>上り方車端部に集電装置（菱形またはシングルアーム形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。なお、主ヒューズ（MF）を通る配管は2本です。</p>
					<p>冷房装置は車央部に3台配置されており、キセの開口部は両端の2台は下り方に、中央の1台は上り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="m-1200N2" depth={2} headingType="c">
					<H slot="heading">1000N′系</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/1200N2.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-11 -->
						</div>
						<figcaption class="c-caption -meta">デハ1221（4次車）</figcaption>
					</figure>

					<p>1000N′系のデハ1200形は、主ヒューズ（MF）を通る配管が1本となっています。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="mc-1300">
		<H slot="heading">デハ1300形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="mc-1300N" depth={2} headingType="c">
					<H slot="heading">1000N系、1000N′系</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/1300N2.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-27 -->
						</div>
						<figcaption class="c-caption -meta">デハ1323（5次車）</figcaption>
					</figure>

					<p>上り方車端部に集電装置（菱形またはシングルアーム形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。なお、主ヒューズ（MF）を通る配管は2本です。</p>
					<p>冷房装置は車央部に3台配置されており、キセの開口部は両端の2台は下り方に、中央の1台は上り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
					<p>下り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
