---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急7700系　屋根上機器配置',
	heading: '7700系　屋根上機器配置',
	dateModified: dayjs('2010-08-01'),
	description: '東急池上線、多摩川線で活躍した7700系の屋根上写真を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/roof/7801.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: {
		label: '屋根上機器配置',
		items: [
			{ path: '/tokyu/machine/roof_7200', name: '7200系' },
			{ path: '/tokyu/machine/roof_7600', name: '7600系' },
			{ path: '/tokyu/machine/roof_7700', name: '7700系' },
			{ path: '/tokyu/machine/roof_7700n', name: '7915F' },
			{ path: '/tokyu/machine/roof_1000n', name: '1000N系（池多摩線）、1000N′系' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="mc-7700">
		<H slot="heading">デハ7700形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="mc-7701" depth={2} headingType="c">
					<H slot="heading">デハ7701〜7702</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7701.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">デハ7702（1次車）</figcaption>
					</figure>

					<p>上り方車端部に集電装置（菱形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。</p>
					<p>冷房装置は3台配置されており、キセの開口部は下り方2台は上り方に、上り方1台は下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
					<p>下り方の乗務員室直上には逆L字型のSRアンテナがあります。デハ7702のみアンテナ配管が露出しており、短い距離ながら下り方妻面に向かって延びていて、妻面直前で車体に埋め込まれています。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="mc-7703" depth={2} headingType="c">
					<H slot="heading">デハ7703〜7708, 7712〜7714</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7700.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-12 -->
						</div>
						<figcaption class="c-caption -meta">デハ7707（3次車）</figcaption>
					</figure>

					<p>デハ7703以降はランボードが小形になりました。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="mc-7710" depth={2} headingType="c">
					<H slot="heading">デハ7710</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7710.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">デハ7710（3次車）</figcaption>
					</figure>

					<p>デハ7710のみは配管のレイアウトが他車と異なります。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="m-7800">
		<H slot="heading">デハ7800形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="mc-7801" depth={2} headingType="c">
					<H slot="heading">デハ7801, 7803</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7801.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-06-18 -->
						</div>
						<figcaption class="c-caption -meta">デハ7801（1次車）</figcaption>
					</figure>

					<p>上り方車端部に集電装置（菱形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。</p>
					<p>冷房装置は3台配置されており、キセの開口部はすべて下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="mc-7802" depth={2} headingType="c">
					<H slot="heading">デハ7802, 7805〜7808, 7812〜7714</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7800.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">デハ7802（2次車）</figcaption>
					</figure>

					<p>デハ7802とデハ7804以降はランボードが小形になりました。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="mc-7810" depth={2} headingType="c">
					<H slot="heading">デハ7810</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7810.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">デハ7810（3次車）</figcaption>
					</figure>

					<p>デハ7810のみは配管のレイアウトが他車と異なります。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="tc-7900">
		<H slot="heading">クハ7900形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="tc-7901" depth={2} headingType="c">
					<H slot="heading">クハ7901〜7902</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7901.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-06-18 -->
						</div>
						<figcaption class="c-caption -meta">クハ7901（1次車）</figcaption>
					</figure>

					<p>冷房装置が等間隔に3台配置されており、キセの開口部はすべて下り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
					<p>上り方の乗務員室直上には逆L字型のSRアンテナがあります。クハ7901のみアンテナ配管が露出しており、短い距離ながら上り方妻面（運転台側）に向かって延びていて、妻面直前で車体に埋め込まれています。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="tc-7903" depth={2} headingType="c">
					<H slot="heading">クハ7903〜7914</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7900.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">クハ7910（3次車）</figcaption>
					</figure>

					<p>クハ7903以降はランボードが小形になりました。</p>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
