---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急7700系（7915F）　屋根上機器配置',
	heading: '7700系（7915F）　屋根上機器配置',
	dateModified: dayjs('2010-08-01'),
	description: '東急池上線、多摩川線で活躍した7700系のうち、中間車サハ7950形から改造され、先頭車化やシングルアーム式パンタグラフの搭載などが行われた 7915F の屋根上写真を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/roof/7801.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: {
		label: '屋根上機器配置',
		items: [
			{ path: '/tokyu/machine/roof_7200', name: '7200系' },
			{ path: '/tokyu/machine/roof_7600', name: '7600系' },
			{ path: '/tokyu/machine/roof_7700', name: '7700系' },
			{ path: '/tokyu/machine/roof_7700n', name: '7915F' },
			{ path: '/tokyu/machine/roof_1000n', name: '1000N系（池多摩線）、1000N′系' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="mc-7700">
		<H slot="heading">デハ7700形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="mc-7715" depth={2} headingType="c">
					<H slot="heading">デハ7715</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7700N.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">デハ7715（5次車）</figcaption>
					</figure>

					<p>もっとも下り方の冷房装置の上り方に集電装置（シングルアーム形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。</p>

					<p>冷房装置は等間隔に3台配置されており、キセの開口部はすべて下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって小型のランボードが設けられています。</p>

					<p>下り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="m-7800">
		<H slot="heading">デハ7800形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="m-7815" depth={2} headingType="c">
					<H slot="heading">デハ7815</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7800N.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">デハ7815（4次車）</figcaption>
					</figure>

					<p>もっとも下り方の冷房装置の上り方に集電装置（シングルアーム形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、下り方妻面から床下へ繋がっています。</p>

					<p>冷房装置は等間隔に3台配置されており、キセの開口部はすべて下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって小型のランボードが設けられています。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="tc-7900">
		<H slot="heading">クハ7900形</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="tc-7915" depth={2} headingType="c">
					<H slot="heading">クハ7915</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/roof/7900N.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2009-05-21 -->
						</div>
						<figcaption class="c-caption -meta">クハ7915（5次車）</figcaption>
					</figure>

					<p>冷房装置が等間隔に3台配置されており、キセの開口部はすべて下り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたって小型のランボードが設けられています。</p>

					<p>上り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
