---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急7600系　屋根上機器配置',
	heading: '7600系　屋根上機器配置',
	dateModified: dayjs('2010-08-01'),
	description: '東急池上線、多摩川線で活躍した7600系の屋根上写真を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/roof/7670.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: {
		label: '屋根上機器配置',
		items: [
			{ path: '/tokyu/machine/roof_7200', name: '7200系' },
			{ path: '/tokyu/machine/roof_7600', name: '7600系' },
			{ path: '/tokyu/machine/roof_7700', name: '7700系' },
			{ path: '/tokyu/machine/roof_7700n', name: '7915F' },
			{ path: '/tokyu/machine/roof_1000n', name: '1000N系（池多摩線）、1000N′系' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="tc-7600">
		<Fragment slot="heading">クハ7600形</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="tc-7601" depth={2} headingType="c">
					<Fragment slot="heading">クハ7601〜7603</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7600.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-05-21 -->
						<Fragment slot="caption">クハ7602（1次車）</Fragment>
					</Embedded>

					<p>冷房装置が等間隔に4台配置されており、キセの開口部はすべて上り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたってゲタ型のランボードが設けられています。</p>

					<p>上り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="mc-7650">
		<Fragment slot="heading">デハ7650形</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="mc-7653" depth={2} headingType="c">
					<Fragment slot="heading">デハ7653</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7653.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-05-27 -->
						<Fragment slot="caption">デハ7653（1次車）</Fragment>
					</Embedded>

					<p>下り方車端部に集電装置（シングルアーム形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。上り方には集電装置の撤去跡として台座が残されています。</p>

					<p>冷房装置は4台配置されており、キセの開口部は下り方2台は上り方に、上り方2台は下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたってゲタ型のランボードが設けられています。</p>

					<p>下り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="mc-7661" depth={2} headingType="c">
					<Fragment slot="heading">デハ7661〜7662</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7650.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-05-21 -->
						<Fragment slot="caption">デハ7662（2次車）</Fragment>
					</Embedded>

					<p>冷房装置が等間隔に4台配置されており、キセの開口部はすべて下り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたってゲタ型のランボードが設けられています。</p>

					<p>下り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="m-7670">
		<Fragment slot="heading">デハ7670形</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="m-7673" depth={2} headingType="c">
					<Fragment slot="heading">デハ7673</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7673.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-05-27 -->
						<Fragment slot="caption">デハ7673（3次車）</Fragment>
					</Embedded>

					<p>下り方車端部に集電装置（シングルアーム形パンタグラフ）が設置されており、その下り方には避雷器があります。集電装置から延びる配管は、下り方妻面から床下へ繋がっています。</p>

					<p>冷房装置は4台配置されており、キセの開口部はすべて上り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたってゲタ型のランボードが設けられています。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="m-7681" depth={2} headingType="c">
					<Fragment slot="heading">デハ7681〜7682</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/roof/7670.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-05-21 -->
						<Fragment slot="caption">デハ7682（1次車）</Fragment>
					</Embedded>

					<p>両側の車端部に集電装置（菱形パンタグラフ）が設置されており、それぞれの上り方には避雷器があります。下り方の集電装置から延びる配管は、上り方集電装置からのもの共々、上り方妻面から床下へ繋がっています。</p>

					<p>冷房装置は4台配置されており、キセの開口部は下り方2台は上り方に、上り方2台は下り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたってゲタ型のランボードが設けられています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
