---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '東急電車の情報伝送装置',
	heading: '情報伝送装置',
	dateModified: dayjs('2008-04-01'),
	description: '東急電鉄の車両に搭載された情報伝送装置を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/tra/dnt_oimachi.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="door-non-treat">
		<Fragment slot="heading">扉非扱い制御用</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">大井町線</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/tra/dnt_oimachi.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-06-08 -->
						<Fragment slot="caption">クハ8091（12-1次車）海側</Fragment>
					</Embedded>

					<p>東急線で初めてトランスポンダ式装置が導入されたのは1989年で、目蒲線と大井町線の扉非扱い制御用として導入されました。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">池上、多摩川線</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/tra/dnt_ikegami.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-01-24 -->
						<Fragment slot="caption">クハ7912（4次車）山側</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/tra/dnt_ikegami_7600.jpg" alt="写真拡大" width={485} height={397} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-03-21 -->
						<Fragment slot="caption">クハ7601（1次車）</Fragment>
					</Embedded>

					<p>池上線ではワンマン運転に伴い、TASC地点情報伝送を当装置で行っています。なお、7600系の伝送装置は車掌台上部に設置されています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="atc">
		<Fragment slot="heading">列車情報などの伝送用</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">東横線（1000系まで）</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/tra/atc_toyoko.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2009-01-17 -->
						<Fragment slot="caption">クハ9013（3次車）山側</Fragment>
					</Embedded>

					<p>東横線では1997年のATC導入にあたり、列車制御などの情報伝送をトランスポンダで行っています。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">目黒線、こどもの国線（Y000系）</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/tra/atc_meguro.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-12-06 -->
						<Fragment slot="caption">クハ3004（2次車）山側</Fragment>
					</Embedded>

					<p>TASC地点情報伝送やホームドア制御などを行う目黒線では、東横線とは異なるタイプの装置が導入されました。</p>

					<p>7000系ワンマン車両を導入していたこどもの国線では、1991年より開扉方向制御にトランスポンダを採用しています。1999〜2000年に導入されたY000系には、新3000系と同じタイプの装置が搭載されました。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">大井町線</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/tra/atc_oimachi.jpg" alt="写真拡大" width={485} height={324} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-06-21 -->
						<Fragment slot="caption">デハ8641（18-2次車）海側</Fragment>
					</Embedded>

					<p>大井町線では2008年のATC導入にあたり、従来の扉非扱い制御用とは別にトランスポンダが搭載されました。</p>

					<p>東横線ATC化後に大井町線へ転籍した車両は、しばらく東横時代の装置を搭載したまま運用されていましたが、東横線へ戻った9000系1編成を除き、ほかの大井町車と同じ新型タイプに換装されました。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
