---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急1000N系（池上、多摩川線）　床下機器配置',
	heading: '1000N系　床下機器配置',
	subHeading: '池上、多摩川線',
	dateModified: dayjs('2008-02-01'),
	description: '東急池上線、多摩川線で活躍する1000N系の床下機器配置を写真で紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/ub/1310Nm.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: [
		{ path: '/tokyu/machine/ub_7600', name: '7600系' },
		{ path: '/tokyu/machine/ub_7700', name: '7700系' },
		{ path: '/tokyu/machine/ub_7700n', name: '7915F' },
		{ path: '/tokyu/machine/ub_1000n', name: '1000N系池多' },
		{ path: '/tokyu/machine/ub_1000n2', name: '1000N′系' },
		{ path: '/tokyu/machine/ub_1500', name: '1000系1500番台' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="m1-1200">
		<H slot="heading">デハ1200形（台車間）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="m1-1200-s" depth={2} headingType="c">
					<H slot="heading">海側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1200Ns.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-02-09 -->
						</div>
						<figcaption class="c-caption -meta">デハ1212海側（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、冷房制御装置、VVVF継電器、VVVF断流器、接地開閉器とその奥にVVVFフィルタリアクトル、100V・24V整流装置、100V・24V蓄電池です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="m1-1200-m" depth={2} headingType="c">
					<H slot="heading">山側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1200Nm.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-02-02 -->
						</div>
						<figcaption class="c-caption -meta">デハ1213山側（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、VVVF主制御器（RG621-A-M型）、VVVFフィルタリアクトル、ブレーキ制御装置です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="m1c-1310">
		<H slot="heading">デハ1310形（台車間）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="m1c-1310-s" depth={2} headingType="c">
					<H slot="heading">海側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1310Ns.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-02-09 -->
						</div>
						<figcaption class="c-caption -meta">デハ1313海側（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、冷房制御装置、VVVF継電器、VVVF断流器、VVVFフィルタリアクトル、100V蓄電池、定位置停止支援装置（TASC）、接地開閉器、主幹指令装置です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="m1c-1310-m" depth={2} headingType="c">
					<H slot="heading">山側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1310Nm.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-02-09 -->
						</div>
						<figcaption class="c-caption -meta">デハ1313山側（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、VVVF主制御器（RG621-A-M型）、VVVFフィルタリアクトル、ブレーキ制御装置です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="tc-1000">
		<H slot="heading">クハ1000形（台車間）</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="tc-1000-sea" depth={2} headingType="c">
					<H slot="heading">海側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1000Ns.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-03-01 -->
						</div>
						<figcaption class="c-caption -meta">クハ1012海側（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、冷房制御装置、接地開閉器、静止形インバーター（INV-020型）、SIV起動装置、空気圧縮機（HS-20型）、定位置停止支援装置（TASC）です。</p>
					</div>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="tc-1000-mount" depth={2} headingType="c">
					<H slot="heading">山側</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1000Nm.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} />
							<!-- 撮影日: 2008-03-01 -->
						</div>
						<figcaption class="c-caption -meta">クハ1013山側（3次車）</figcaption>
					</figure>

					<div class="p-text">
						<p>主な機器は下り方から順に、SIVフィルタトランス、空気圧縮機（HS-20型）、元空気だめ、ブレーキ制御装置、情報伝送装置です。</p>
					</div>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="couple">
		<H slot="heading">連結部</H>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="couple1200" depth={2} headingType="c">
					<H slot="heading">デハ1200形 ｰ クハ1000形間</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1200N-1000N_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-17 -->
						</div>
						<figcaption class="c-caption -meta">デハ1213 ｰ クハ1013海側</figcaption>
					</figure>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1000N-1200N_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-17 -->
						</div>
						<figcaption class="c-caption -meta">クハ1013 ｰ デハ1213山側</figcaption>
					</figure>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="couple1310" depth={2} headingType="c">
					<H slot="heading">デハ1310形 ｰ デハ1200形間</H>

					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1310N-1200N_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-16 -->
						</div>
						<figcaption class="c-caption -meta">デハ1313 ｰ デハ1212海側</figcaption>
					</figure>
					<figure class="c-fit">
						<div class="p-embed -border">
							<Image path="tokyu/machine/ub/1200N-1310N_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} />
							<!-- 撮影日: 2008-02-16 -->
						</div>
						<figcaption class="c-caption -meta">デハ1212 ｰ デハ1313山側</figcaption>
					</figure>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
