---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Image from '@components/Image.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急7700系　床下機器配置',
	heading: '7700系　床下機器配置',
	dateModified: dayjs('2008-02-01'),
	description: '東急池上線、多摩川線で活躍した7700系の床下機器配置を写真で紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/ub/7700m.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: {
		label: '床下機器配置',
		items: [
			{ path: '/tokyu/machine/ub_7600', name: '7600系' },
			{ path: '/tokyu/machine/ub_7700', name: '7700系' },
			{ path: '/tokyu/machine/ub_7700n', name: '7915F' },
			{ path: '/tokyu/machine/ub_1000n', name: '1000N系池多' },
			{ path: '/tokyu/machine/ub_1000n2', name: '1000N′系' },
			{ path: '/tokyu/machine/ub_1500', name: '1000系1500番台' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="mc-7700">
		<Fragment slot="heading">デハ7700形（台車間）</Fragment>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="mc-7700-sea" depth={2} headingType="c">
					<Fragment slot="heading">海側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7700s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7710海側（3次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、24V整流装置、定位置停止支援装置（TASC）、VVVF断流器、VVVF継電器、接地開閉器、VVVFフィルタトランス、ブレーキ受量器、100V蓄電池です。</p>

					<p>3両化時に、海側に定位置停止支援装置（TASC）が新設されました。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="mc-7700-mount" depth={2} headingType="c">
					<Fragment slot="heading">山側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7700m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7706山側（2次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、24V蓄電池、VVVF主制御器（RG617-A-M型）、VVVFフィルタトランス、ブレーキ制御装置です。</p>

					<p>3両化時に、山側に24V蓄電池が新設されました。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="m-7800">
		<Fragment slot="heading">デハ7800形（台車間）</Fragment>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="m-7800-sea" depth={2} headingType="c">
					<Fragment slot="heading">海側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7800s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7806海側（3次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、100V蓄電池、VVVF断流器、VVVF継電器、接地開閉器、VVVFフィルタトランス、ブレーキ受量器、空気圧縮機（HS-20型）です。</p>

					<p>3両化時に、100V蓄電池を更新・設置位置を下り方に変更の上、その撤去跡に空気圧縮機が設置されました。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="m-7800-mount" depth={2} headingType="c">
					<Fragment slot="heading">山側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7800m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7810山側（3次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、VVVF主制御器（RG617-A-M型）、元空気だめとその奥にVVVFフィルタトランス、ブレーキ制御装置です。</p>

					<p>3両化時に、元空気だめが設置されました。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="tc-7900">
		<Fragment slot="heading">クハ7900形（台車間、東芝SIV搭載車）</Fragment>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="tc-7900-sea" depth={2} headingType="c">
					<Fragment slot="heading">海側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7900s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">クハ7906海側（2次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、SIV起動装置、軌条塗油器、定位置停止支援装置（TASC）、SIVフィルタトランス、接地開閉器、空気圧縮機（HS-20型）です。</p>

					<p>3両化時に、海側に定位置停止支援装置（TASC）が新設されたほか、接触器の移設などが行われています。</p>

					<p>写真は軌条塗油器搭載車で、SIV起動装置の右隣に塗油器が設置されています。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="tc-7900-mount" depth={2} headingType="c">
					<Fragment slot="heading">山側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7900m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">クハ7906山側（2次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、整流装置、静止形インバーター（INV-020型）、ブレーキ制御装置、元空気だめ、情報伝送装置です。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="tc-7900-tdk">
		<Fragment slot="heading">クハ7900形（台車間、東洋SIV搭載車）</Fragment>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="tc-7900-tdk-s" depth={2} headingType="c">
					<Fragment slot="heading">海側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7900TDKs.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">クハ7910海側（3次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、SIV起動装置、定位置停止支援装置（TASC）、SIVフィルタトランス、接地開閉器、空気圧縮機（HS-20型）です。</p>

					<p>クハ7910、クハ7914は東洋製の補助電源装置を積んでおり、SIV本体、起動装置、フィルタトランス、整流装置などに差異がみられます。</p>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="tc-7900-tdk-m" depth={2} headingType="c">
					<Fragment slot="heading">山側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7900TDKm.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">クハ7910山側（3次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、整流装置、静止形インバーター（SVH-120型）、ブレーキ制御装置、元空気だめ、情報伝送装置です。</p>
				</Section>
			</div>
		</div>
	</Section>

	<Section id="couple">
		<Fragment slot="heading">連結部</Fragment>

		<div class="c-grid -wide -hdg-c">
			<div class="c-grid__item">
				<Section id="couple7700" depth={2} headingType="c">
					<Fragment slot="heading">デハ7700形 ｰ デハ7800形間</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7700-7800_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-16 -->
						<Fragment slot="caption">デハ7701 ｰ デハ7801海側</Fragment>
					</Embedded>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7800-7700_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-09 -->
						<Fragment slot="caption">デハ7807 ｰ デハ7707山側</Fragment>
					</Embedded>
				</Section>
			</div>
			<div class="c-grid__item">
				<Section id="couple7800" depth={2} headingType="c">
					<Fragment slot="heading">デハ7800形 ｰ クハ7900形間</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7800-7900_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-02 -->
						<Fragment slot="caption">デハ7806 ｰ クハ7906海側</Fragment>
					</Embedded>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7900-7800_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-02 -->
						<Fragment slot="caption">クハ7906 ｰ デハ7806山側</Fragment>
					</Embedded>
				</Section>
			</div>
		</div>
	</Section>
</Layout>
