---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '東急7600系　床下機器配置',
	heading: '7600系　床下機器配置',
	dateModified: dayjs('2008-02-01'),
	description: '東急池上線、多摩川線で活躍した7600系の床下機器配置を写真で紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/ub/7670m.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
	localNav: {
		label: '床下機器配置',
		items: [
			{ path: '/tokyu/machine/ub_7600', name: '7600系' },
			{ path: '/tokyu/machine/ub_7700', name: '7700系' },
			{ path: '/tokyu/machine/ub_7700n', name: '7915F' },
			{ path: '/tokyu/machine/ub_1000n', name: '1000N系池多' },
			{ path: '/tokyu/machine/ub_1000n2', name: '1000N′系' },
			{ path: '/tokyu/machine/ub_1500', name: '1000系1500番台' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="mc-7650">
		<Fragment slot="heading">デハ7650形（台車間）</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="mc-7650-sea" depth={2} headingType="c">
					<Fragment slot="heading">海側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7650s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7662海側（2次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、24V蓄電池、24V整流装置、VVVF断流器、VVVF継電器、VVVFフィルタリアクトル、接地開閉器、ブレーキ受量器です。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="mc-7650-mount" depth={2} headingType="c">
					<Fragment slot="heading">山側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7650m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7662山側（2次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、VVVF主制御器（RG617-B-M型）、VVVFフィルタリアクトル、ブレーキ制御装置です。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="m-7670">
		<Fragment slot="heading">デハ7670形（台車間）</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="m-7670-sea" depth={2} headingType="c">
					<Fragment slot="heading">海側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7670s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7682海側（1次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、ブレーキ受量器、VVVF断流器、VVVF継電器、接地開閉器、VVVFフィルタリアクトル、空気圧縮機（HS-20型）です。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="m-7670-mount" depth={2} headingType="c">
					<Fragment slot="heading">山側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7670m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">デハ7682山側（1次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、積算電力計、VVVF主制御器（RG614-A-M型）、元空気だめとその奥にVVVFフィルタリアクトル、ブレーキ制御装置です。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="tc-7600">
		<Fragment slot="heading">クハ7600形（台車間）</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="tc-7600-sea" depth={2} headingType="c">
					<Fragment slot="heading">海側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7600s.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">クハ7602海側（1次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、SIV起動装置、接地開閉器、SIVフィルタトランス、元空気だめ、空気圧縮機（HS-20型）です。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="tc-7600-mount" depth={2} headingType="c">
					<Fragment slot="heading">山側</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7600m.jpg" alt="写真拡大" width={485} height={152} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-01-20 -->
						<Fragment slot="caption">クハ7602山側（1次車）</Fragment>
					</Embedded>

					<p>主な機器は下り方から順に、整流装置、静止形インバーター（INV-006型）、ブレーキ制御装置、100V蓄電池です。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="couple">
		<Fragment slot="heading">連結部</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section id="couple7601" depth={2} headingType="c">
					<Fragment slot="heading">クハ7600形 ｰ デハ7670形間<small>（7601F, 7602F）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7670-7600_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-16 -->
						<Fragment slot="caption">デハ7681 ｰ クハ7601海側</Fragment>
					</Embedded>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7600-7670_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-24 -->
						<Fragment slot="caption">クハ7601 ｰ デハ7681山側</Fragment>
					</Embedded>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="couple7603" depth={2} headingType="c">
					<Fragment slot="heading">クハ7600形 ｰ デハ7670形間<small>（7603F）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7673-7603_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-17 -->
						<Fragment slot="caption">デハ7673 ｰ クハ7603海側</Fragment>
					</Embedded>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7603-7673_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-16 -->
						<Fragment slot="caption">クハ7603 ｰ デハ7673山側</Fragment>
					</Embedded>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="couple7661" depth={2} headingType="c">
					<Fragment slot="heading">デハ7650形 ｰ デハ7670形間<small>（7601F, 7602F）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7650-7670_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-09 -->
						<Fragment slot="caption">デハ7662 ｰ デハ7682海側</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7670-7650_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-16 -->
						<Fragment slot="caption">デハ7681 ｰ デハ7661山側</Fragment>
					</Embedded>
				</Section>
			</GridItem>
			<GridItem>
				<Section id="couple7653" depth={2} headingType="c">
					<Fragment slot="heading">デハ7650形 ｰ デハ7670形間<small>（7603F）</small></Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7653-7673_sea.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-16 -->
						<Fragment slot="caption">デハ7653 ｰ デハ7673海側</Fragment>
					</Embedded>
					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/ub/7673-7653_mount.jpg" alt="写真拡大" width={485} height={243} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2008-02-16 -->
						<Fragment slot="caption">デハ7673 ｰ デハ7653山側</Fragment>
					</Embedded>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
