---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Embedded from '@components/Embedded.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import Image from '@components/+phrasing/Image.astro';
import AnchorPhoto from '@components/+phrasing/AnchorPhoto.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急電車の床下灯',
	heading: '床下灯',
	dateModified: dayjs('2008-02-01'),
	description: '鉄道車両の車体側面には戸閉め知らせ等のほかに機器の異常を知らせる表示灯が設けられることが多いですが、床下に付いているケースもあります。ここでは7200系から2000系までに設置されている床下設置タイプの表示灯を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/machine/usl/9000_side-lamp-4.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/machine/', name: '車両機器' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="olr">
		<Fragment slot="heading">7200系、7600系の過負荷灯</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">オリジナルタイプ</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/usl/7200_OLR1.jpg" alt="写真拡大" width={485} height={364} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2006-09-16 -->
						<Fragment slot="caption">デハ7662（2次車）山側</Fragment>
					</Embedded>

					<p>主制御器のある車両に取り付けられている過負荷灯は床下にあり、昔ながらの独立タイプです。7600系化された車両は非常通報灯を車体側面に増設しましたが、過負荷灯は床下のままとなっています。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">新型タイプ</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/usl/7200_OLR2.jpg" alt="写真拡大" width={485} height={364} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2006-09-07 -->
						<Fragment slot="caption">デヤ7200（2次車）海側</Fragment>
					</Embedded>

					<p>デハ7653、デハ7681、デハ7682、デヤ7200は異なる形状をしています。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="series8000">
		<Fragment slot="heading">8000系グループ、7600系、7700系等の床下灯</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">3灯タイプ</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/usl/8500_side-lamp.jpg" alt="写真拡大" width={485} height={364} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2006-08-13 -->
						<Fragment slot="caption">デハ8591（20次車）山側</Fragment>
					</Embedded>

					<p>8000系で車体側面に設けられた<AnchorPhoto href="https://media.w0s.jp/image/tokyu/machine/usl/8000_bcl.jpg" title="デハ8408"><!-- 撮影日: 2005-08-10 -->BC不緩解灯</AnchorPhoto>は、8500系では床下設置となりました。以降、8090系を除くすべての新造・改造形式は、車体にBC不緩解灯を持ちません。</p>

					<p>床下灯は3灯で、上から「不緩解」「保安動作」「不足」です。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>

	<Section id="series9000">
		<Fragment slot="heading">9000系、2000系等の床下灯</Fragment>

		<Grid column="wide" headingType="c">
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">4灯タイプ</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/usl/9000_side-lamp-4.jpg" alt="写真拡大" width={485} height={364} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2006-10-21 -->
						<Fragment slot="caption">デハ1218（4次車）山側</Fragment>
					</Embedded>

					<p>2000系までのVVVF新造車、および8500系VVVF車ではブレーキ装置に横付けされており、主制御器のある電動車と先頭車が4灯（「受量器異常」または「指令器異常」が追加）となりました。</p>
				</Section>
			</GridItem>
			<GridItem>
				<Section slugger={slugger} depth={2} headingType="c">
					<Fragment slot="heading">3灯タイプ</Fragment>

					<Embedded border={true} captionMeta={true}>
						<Image path="tokyu/machine/usl/9000_side-lamp-3.jpg" alt="写真拡大" width={485} height={364} quality={60} link={true} slot="media" />
						<!-- 撮影日: 2006-08-19 -->
						<Fragment slot="caption">サハ9706（2次車）山側</Fragment>
					</Embedded>

					<p>主制御器のない電動車と付随車は3灯です。</p>
				</Section>
			</GridItem>
		</Grid>
	</Section>
</Layout>
