<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "『せっかち伯爵と時間どろぼう』における『魔法少女まどか☆マギカ』ネタ",
				"dateModified": "2017-04-25",
				"description": "久米田康治先生の『せっかち伯爵と時間どろぼう』の作中で描かれた『魔法少女まどか☆マギカ』ネタをまとめました。",
				"breadcrumb": [
					{ "path": "/madoka/", "name": "ホーム" },
					{ "path": "/madoka/yomoyama/kumeta", "name": "久米田作品における『まどか☆マギカ』ネタ" }
				],
				"localNav": [
					{ "path": "/madoka/yomoyama/kumeta_kaizo", "name": "かってに改蔵" },
					{ "path": "/madoka/yomoyama/kumeta_zetsubou", "name": "さよなら絶望先生" },
					{ "path": "/madoka/yomoyama/kumeta_joshiraku", "name": "じょしらく" },
					{ "path": "/madoka/yomoyama/kumeta_sekadoro", "name": "せっかち伯爵と時間どろぼう" },
					{ "path": "/madoka/yomoyama/kumeta_kakushigoto", "name": "かくしごと" }
				]
			}
		</script>

		<%- include('./_include/_head_madoka') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: true }) %>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="summary">
						<div class="p-section__hdg">
							<h2>作品概要</h2>
						</div>

						<div class="p-text">
							<p>「別冊少年マガジン」において2013年〜2015年に連載された作品で、作中では2回だけ『魔法少女まどか☆マギカ』ネタを確認しています。</p>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="manga">
						<div class="p-section__hdg">
							<h2>漫画</h2>
						</div>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>00′03″　かわいそうな伯爵</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2014年2月17日</span>　単行本「第1巻」発売</p>
								<p>1ページ目（第1巻の64ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li>扉絵の真心の上にルーン文字で「kaname madoka」と書かれている。</li>
								</ul>
							</div>

							<aside class="p-amazon">
								<h4 class="p-amazon__hdg"><img src="/assets/image/amazon-buy.png" srcset="/assets/image/amazon-buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" /></h4>
								<ul class="p-amazon__list">
									<li>
										<a href="https://www.amazon.co.jp/dp/B00LC9YFM2/" class="p-amazon__link htmlbuild-amazon-associate">
											<div class="p-amazon__thumb">
												<img src="https://m.media-amazon.com/images/I/412XP8u9YZL._SL160_.jpg" alt="" width="108" height="160" class="p-amazon__image htmlbuild-image-amazon" />
											</div>
											<div class="p-amazon__text">
												<p class="p-amazon__title">単行本 第1巻</p>
												<p class="p-amazon__date">2014年2月17日 発売</p>
											</div>
										</a>
									</li>
								</ul>
							</aside>
						</section>

						<section class="p-section -hdg-b htmlbuild-heading-self-link">
							<div class="p-section__hdg">
								<h3>00′29″　かしこい葦</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2014年9月17日</span>　単行本「第4巻」発売</p>
								<p>9ページ目（第4巻の77ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li>七夕の短冊に書かれた願い（欲しいもの）のひとつが「まどマギブルーレイBOX」。</li>
								</ul>
							</div>

							<aside class="p-amazon">
								<h4 class="p-amazon__hdg"><img src="/assets/image/amazon-buy.png" srcset="/assets/image/amazon-buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" /></h4>
								<ul class="p-amazon__list">
									<li>
										<a href="https://www.amazon.co.jp/dp/B00NGG9TP2/" class="p-amazon__link htmlbuild-amazon-associate">
											<div class="p-amazon__thumb">
												<img src="https://m.media-amazon.com/images/I/41flCWdPwiL._SL160_.jpg" alt="" width="107" height="160" class="p-amazon__image htmlbuild-image-amazon" />
											</div>
											<div class="p-amazon__text">
												<p class="p-amazon__title">単行本 第4巻</p>
												<p class="p-amazon__date">2014年9月17日 発売</p>
											</div>
										</a>
									</li>
								</ul>
							</aside>
						</section>
					</section>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
