---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import Embedded from '@components/Embedded.astro';
import Image from '@components/Image.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import Link from '@components/Link.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '久米田康治先生の X アイコン履歴',
	heading: 'X アイコン履歴',
	dateModified: dayjs('2021-06-25'),
	description: '久米田先生は X で発言をしない一方、時折アイコンを変更したり、フリートを投稿したりすることがあります。ここではアイコンの変遷を紹介します。',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<ul class="p-links">
		<li><Link href="https://x.com/3doO4OZ07IlQnOo">久米田先生の X アカウント</Link></li>
	</ul>

	<Section slugger={slugger}>
		<Fragment slot="heading">アイコン履歴<small>（新しい順）</small></Fragment>

		<ul class="p-kumeta-x-images -icon">
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1408410553228267521_TjA8u78P.jpg.jpeg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2021年6月25日 〜</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1400351001018658816_qy5arqJH.jpg.jpeg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2021年6月3日 〜 6月25日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1400348572097257473_e66MA7rG.jpg.jpeg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2021年6月3日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1399911791325433857_v2gkYm9q.jpg.jpeg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2021年6月2日 〜 6月3日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1394152318157811713_oQ3JY4iy.jpg.jpeg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2021年5月17日 〜 6月2日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1363740344886550529_QhDX9Hl1.jpg.jpeg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2021年2月22日 〜 5月17日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1327851470780198913_Ye4-TmCa.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年11月15日 〜 2021年2月22日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1287298632341848064_1VBcrVKq.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年7月26日 〜 11月15日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1284006685846233088_2ikV7Vsa.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年7月17日 〜 7月26日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1264894156867948544_l3CY7neV.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年5月25日 〜 7月17日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1245619057593700352_U1LMLxDn.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年4月2日 〜 5月25日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1240915754943262720_He1PQtk9.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年3月20日 〜 4月2日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1223990059491160064_6d49eucZ.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年2月3日 〜 3月20日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1222732605214183424_H79FeE20.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年1月30日 〜 2月3日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1222730357000138754_KmGpTlaZ.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年1月30日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1219488655745548288_3S-JhKPZ.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2020年1月21日 〜 1月30日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1201788717888704513_NGubWw_s.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年12月3日 〜 2020年1月21日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1201784483592032256_6TRDw9cm.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年12月3日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1201778194950418432_WWx0YFb8.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年12月3日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1200300079791235074_8sEA4dWH.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年11月29日 〜 12月3日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1184690518933958656_5Qz57WpT.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年10月17日 〜 11月29日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1184672977167642624_JFdn0ynC.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年10月17日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1184653198239260672_G-QN5feI.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年10月17日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1184428125045702656_ri24lRB9.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">2019年10月16日 〜 10月17日</Fragment>
				</Embedded>
			</li>
			<li>
				<Embedded border={true}>
					<Image path="kumeta/x/profile_images_1180045807350763520_cN1I7jBs.jpg.jpg" alt="アイコン画像" width={100} height={100} quality={60} link={true} slot="media" />
					<Fragment slot="caption">〜 2019年10月16日</Fragment>
				</Embedded>
			</li>
		</ul>
	</Section>

	<ListNote>
		<li>初めてアイコン画像が登録された2019年9月24日から10月4日までの変更情報は<Link href="https://togetter.com/li/2180579">久米田康治アイコン履歴 2019年9月24日〜10月4日分</Link>にまとめています。</li>
	</ListNote>
</Layout>
