---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '鉄道ピクトリアル掲載原稿「みなとみらい線　開業前後の動き」',
	heading: 'みなとみらい線　開業前後の動き',
	dateModified: dayjs('2012-05-23'),
	description: '鉄道ピクトリアル 2004年7月臨時増刊号に掲載された「みなとみらい線 開業前後の動き」の本文です。写真は挿入していません。完全版は掲載誌をご覧ください。',
	image: 'https://media.w0s.jp/image/tokyu/book/tetsupic749_cover.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/book/', name: '鉄道本執筆' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Amazon headingLevel={2}>
		<AmazonItem asin="B007LI4BP4" title="鉄道ピクトリアル 2004年7月臨時増刊号 【特集】東京急行電鉄" imageId="51wDvJBMCbL" imageWidth={114} imageHeight={160} />
	</Amazon>

	<Section slugger={slugger} id="prologue" heading="はじめに">
		<div class="p-text -col2">
			<p>2004(平成16)年2月1日、横浜高速鉄道みなとみらい線が開業し、東横線との相互直通運転が開始された。これに伴い、横浜―桜木町間は1月31日に廃止となり、横浜―高島町間は1928(昭和3)年、高島町―桜木町間は1932(昭和7)年に開業して以来の歴史に幕を下ろした。</p>
			<p>ここでは廃止と開業、およびそれに関連した出来事を電鉄ファンの視点からまとめてみたいと思う。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="toyoko-car" heading="1. 東横線関連の車両動向など">
		<div class="p-text -col2">
			<p>ここで主に紹介するのは、廃止と開業に深く関連する2003年下半期〜2004年2月のことであるが、最初にそれ以前の車両面の動きを簡単にまとめてみる。</p>
			<p>1980(昭和55)年から順次東横線に投入された8090系は、1985(昭和60)年には5M3Tの編成が10本活躍していた。1988(昭和63)年には、みなとみらい線への乗入れを考慮されて正面に非常扉を設けられた8590形、8690形がそれぞれ5両ずつ製造され、従来の8090系編成を5連化して大井町線へ転属、抜き出された30両を6両ずつ組み込むことで6M2Tの編成が5本できあがった。</p>
			<p>その後、東横線の渋谷―菊名間ATC化や、目黒線開通に伴う朝間の運用減により余剰が出ることから、一部編成が田園都市線に移籍され（<a href="#errata-toyoko-car-8590change">※訂正あり</a>）、最少で8連2編成のみの時期もあった。しかし、田園都市線に新5000系が導入されると順次元の編成に戻され、2003(平成15)年1月〜3月にかけて東横線に帰還した。</p>
			<p>それに伴って8027Fと8039Fが運用を外され、8027Fは3月に東横線を離れ、軽量試作車8254号車を含む中間電動車6両は解体された。一方、運用離脱後も元住吉検車区に留置されていた8039Fは7月に重要部検査を受け、運用復帰を果たしている。</p>
			<p>この時点で東横線で活躍している車両は、8000系（8連×17F）、8090系・8590系（8連×5F）、9000系（8連×14F）、1000系（8連×9F）であった。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="trial-run" heading="2. 夜間走行試験">
		<div class="p-text -col2">
			<p>2003(平成15)年10月から菊名―東白楽間を中心に、ATC化などに伴う夜間走行試験が実施された。試験走行には、事業用車両であるデヤ7200+デヤ7290の他、元住吉検車区所属の営業用編成が使用された。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="delivery" heading="3. 車両搬入工事">
		<div class="p-text -col2">
			<p>新たに建設された地下線内で試験走行を行うため、東京急行と横浜高速の車両が1編成ずつ先行搬入されることとなった。搬入にあたっては、長津田車両工場へ回送された車両を、深夜にトレーラー牽引で東白楽付近に設置された搬入線まで輸送した。</p>
			<p>先に搬入されたのは横浜高速のY516F。2003(平成15)年10月31日から11月3日まで、一日2両ずつ4日間かけて行われた。この作業の様子はマスコミでも報道され、地元住民をはじめ多くの人に注目される工事となった。最初の2両が搬入された10月31日には、東急車の搬入編成である9008Fが工場へ回送された。こちらの搬入はY516Fが終了して1日空け、11月5日から同じく4日間行われた。</p>
			<p>車両搬入の仮線路は、搬入工事が終わると早々に撤去され、線路切替え工事へ向けての準備が行われることとなった。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="sign" heading="4. 表示器の更新">
		<div class="p-text -col2">
			<p>12月になると、みなとみらい線への乗入れを考慮し、表示器の更新が始まった。更新は9000系と8090系・8590系から始まり、行先内容に横浜や元町・中華街などが入ったものとなった。また、普通列車はそれまで種別幕が無表示（黒一色）となっていたが、「各停」の表示がされるようになった。その他、ローマ字併記は従来「Shibuya」のように、先頭文字だけ大文字であったものが「SHIBUYA」とすべて大文字になり、正面の種別幕にも英文が入った。ちなみに、LED式に改造された車両の側面表示器は従来からすべて大文字の英文併記である。側面表示のデザインも大幅に変更となり、行先駅名の部分は、種別にかかわらず黒地に白文字となった。</p>
			<p>この作業は8000系や、日比谷線直通用の1000系にも行われ、営業離脱予定だった編成を除き、1月中に完了した。ちなみに、LED化の進行により、東横線の8000系で字幕表示を行っているのは8021Fおよび8023F側面のみとなってしまっていたが（<a href="#errata-sign-8000spcm">※訂正あり</a>）、どちらも表示形態は変わったものの、LED化は成されず字幕のまま残った。</p>
			<p>ところで、9000系の1・2次車である9001F〜9007Fは、元来正面の行先幕が英文併記のないタイプであったが、転属に伴う内容変更や故障等の理由により、少しずつ英文併記タイプに交換され、わずかに9102号車のみがオリジナルタイプで残っていた。しかし、今回の交換工事により12月中旬に消滅してしまった。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="inspect" heading="5. 最後の検測">
		<div class="p-text -col2">
			<p>2004(平成16)年1月14日から3日間、鉄道線で架線・高速軌道検測が実施された。東横線の検測が行われた15日は、“派手車”最後の桜木町入線を見届けようと多くのファンが集まり、鉄道の安全を守る裏方の勇姿を写真に納めていた。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="to8000-forY500" heading="6. 来たるもの、追われしもの">
		<div class="p-text -col2">
			<p>1月30日、横浜―桜木町間の最終営業日である。この日は、車両面でも翌日にかけて大きな動きがあった。2月1日からの営業運転開始を前にY500系が元住吉に集結し、代わりに8000系の一部編成が疎開または廃車のために住み慣れた地を離れてしまうのであった。</p>
			<p>30日には8011Fと8033Fが、31日には8035F、8029F、8037Fが元住吉を離れ、このうち“歌舞伎”編成である8011Fと8029Fは鷺沼留置線へ、その他の3編成は長津田検車区へ回送された。代わってY500系が30日に1編成、31日に2編成が長津田あるいは鷺沼から新製配置のため回送された。31日の早朝には地下線からY516Fが帰還しており、先に元住吉で待機していた2編成と合わせて全6編成が集結したのである。</p>
			<p>一方、東横線で最大勢力を誇っていた8000系は、5編成40両が運用離脱したことにより、長きにわたる主勢力の座を9000系に明け渡したのである。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="sakuragicho-end" heading="7. 横浜－桜木町の終焉">
		<div class="p-text -col2">
			<p>日付が前後してしまうが、再び1月30日である。最後の時を見届けようと、各地から多くの鉄道ファンや利用客らが押し寄せ、各駅は大変な混雑であった。特に高島町、桜木町の両駅では、終始人が途絶えることはなかった。</p>
			<p>桜木町発の最終営業列車となる27-242列車には、先頭車がシャボン玉装飾である9013Fが充当され、桜木町駅ホームでは乗務員らに花束贈呈が行われた。なお、通常この列車は6番線に発着するが、贈呈式のためかこの日に限って5番線発着に変更された。</p>
			<p>上り営業終列車の後も、桜木町駅には2本の列車が到着する。通常ならそのまま桜木町滞泊となる運用だが、この日に限っては車両を収容するため、到着後に回送列車で元住吉に向かわなくてはならない。1時5分、桜木町行きの最終営業列車が6番線に到着した。この列車には9000系トップ編成である9001Fが充当された。東白楽―反町間の線路切替え工事に支障を来さないよう、列車はすぐに折返す。行先表示を回送にされ、1時8分、本当の最終列車である08-012列車が発車していった。盛大な拍手がわき起こる中、再び行先表示が桜木町へと回されたとき、フィーバーは最高潮に達していた。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="for-yokohama" heading="8. 切替え工事と横浜行き">
		<div class="p-text -col2">
			<p>1月31日未明、終列車が通過した後の東白楽付近の切替え現場では、地下線切替えの作業が進んでいた。まずレールの切断作業が行われ、仮桁を撤去。そして新設の軌道および電車線を既存区間と接続し、わずか3時間強で作業は終了した。営業初列車の時間が近くなると、東白楽4時53分発の試験走行列車を筆頭に、送出の回送列車や事前投入車両の返却回送列車などで慌ただしく、早朝にもかかわらず2分間隔で列車が続くこともあった。</p>
			<p>さて、31日はこの日のみの臨時ダイヤでの運転となり、途中駅止まりを除いた全下り列車が横浜行きとして運転された。もっとも、列車は元町・中華街まで回送として走行したので、ダイヤ的には2月1日以降と変わらないものであった。ちなみに、2月1日以降も夜間に横浜行きが1本設定されているが、基本的には横高車での運転であり、東急車による横浜行きは貴重なものとなった。</p>
			<p>余談になるが、悪天候等の理由により切替工事が延期になった場合の31日の運転は、列車は桜木町駅まで運転するが、営業はやはり横浜までとし、横浜―桜木町間は回送運転する計画となっていた。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="mm21-start" heading="9. みなとみらい線、開業">
		<div class="p-text -col2">
			<p>2月1日、ついにみなとみらい線が開業し、渋谷―元町・中華街間が一本で結ばれた。</p>
			<p>車両運用面での前準備として、上り一番列車となる08-042列車に横高車を充当するため、前日夜間に東急車と入替わりに、Y511Fが元町・中華街駅へ送られた。開業日から約1ヵ月の間は、元住吉検車区に所属する全編成の正面扉部分に、順次相互直通運転開始を記念する小さなステッカーが掲げられたが、その中でこのY511Fのみはステッカーの代わりに楕円形ヘッドマークが取付けられ、ひときわ目立つ存在であった。</p>
			<p>ところで、地下線へ先行投入され何かと注目されていた9008Fであるが、1月31日早朝に元住吉へ戻ってからも営業にはつかず、そのまま重要部検査のために入場してしまった。この編成は地下線内で字幕表示器の交換、記念ステッカーの貼付が行われており、ステッカーを付けたままこどもの国線まで入線したのは特記される。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="epilogue" heading="10. おわりに">
		<div class="p-text -col2">
			<p>変化が激しく、常に話題性のある東横線。ここ十数年の間にも複々線化、連続立体化などで車窓風景は大きく変わった。そのような中でも今回の桜木町廃止とみなとみらい線直通が東横線の歴史に大きな足跡を残したことは間違いないであろう。今後も新車投入や渋谷駅地下化など、更なる変化を続けてゆくであろう東横線が、多くの方に愛され続けてゆくことを願いたい。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="errata" heading="正誤データ">
		<Section slugger={slugger} id="errata-toyoko-car" depth={2} heading="1. 東横線関連の車両動向など" headingType="b">
			<Section slugger={slugger} id="errata-toyoko-car-8590change" depth={3} heading="8694F, 8695Fの転籍" headingType="c">
				<div class="p-box">
					<p>(誤) その後、東横線の渋谷―菊名間ATC化や、目黒線開通に伴う朝間の運用減により余剰が出ることから、一部編成が田園都市線に移籍され、</p>
					<p>(正) その後、東横線の渋谷―菊名間ATC化や、目黒線開通に伴う朝間の運用減により余剰が出ることから、一部編成が田園都市線<ins>、新玉川線</ins>に移籍され、</p>
				</div>

				<ul class="p-notes">
					<li>8694F, 8695Fが転籍した当時（1997年）は、渋谷―二子玉川園（現在の二子玉川）間は新玉川線と呼ばれていました。名称が田園都市線に統合されたのは2000年のことです。</li>
				</ul>
			</Section>
		</Section>

		<Section slugger={slugger} id="errata-sign" depth={2} heading="4. 表示器の更新" headingType="b">
			<Section slugger={slugger} id="errata-sign-8000spcm" depth={3} heading="8021F, 8023Fの字幕" headingType="c">
				<div class="p-box">
					<p>(誤) ちなみに、LED化の進行により、東横線の8000系で字幕表示を行っているのは8021Fおよび8023F側面のみとなってしまっていたが、</p>
					<p>(正) ちなみに、LED化の進行により、東横線の8000系で字幕表示を行っているのは8021F<ins>（正面、側面とも）</ins>および8023F側面のみとなってしまっていたが、</p>
				</div>

				<ul class="p-notes">
					<li>8021Fは正面、側面とも字幕のままで、8023Fは正面のみLED化が行われていました。紛らわしい表現だったので訂正します。</li>
				</ul>
			</Section>
		</Section>
	</Section>
</Layout>
