---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../../types/types.js';

const structuredData: StructuredData = {
	title: '鉄道ピクトリアル掲載原稿「リニューアルオープンした電車とバスの博物館」',
	heading: 'リニューアルオープンした電車とバスの博物館',
	dateModified: dayjs('2012-04-28'),
	description: '鉄道ピクトリアル 2004年7月臨時増刊号に掲載された「リニューアルオープンした電車とバスの博物館」の本文です。写真は挿入していません。完全版は掲載誌をご覧ください。',
	image: 'https://media.w0s.jp/image/tokyu/book/tetsupic749_cover.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/book/', name: '鉄道本執筆' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Amazon headingLevel={2}>
		<AmazonItem asin="B007LI4BP4" title="鉄道ピクトリアル 2004年7月臨時増刊号 【特集】東京急行電鉄" imageId="51wDvJBMCbL" imageWidth={114} imageHeight={160} />
	</Amazon>

	<Section slugger={slugger} id="description" heading="1. 概要">
		<div class="p-text -col2">
			<p>電車とバスの博物館は1982(昭和57)年4月3日、東京急行の創立60周年を記念して高津駅高架下に開館した。この博物館は特に「体験できる」ことを重視し、多くの展示物に直に触れることが出来るようになっている。当時としては画期的だった運転シミュレータをいち早く導入したのも、そのようなコンセプトがあってのことであろう。</p>
			<p>1991(平成3)年4月29日には、3号館を新設オープンすると共に従来の1、2号館もリニューアルを行い、展示面・資料面でも更に充実した博物館となった。</p>
			<p>しかし、田園都市線複々線化工事の支障となるため、同地での継続運営が困難となり、2002(平成14)年9月1日をもって休館。約半年後の2003(平成15年)年3月21日に、新たに宮崎台駅隣接地にてリニューアルオープンした。</p>
			<p>現在の施設は、博物館（約1,500㎡）とイベント館（約900㎡）に分かれており、博物館では実物車両やシミュレータ、HO、Oゲージ模型を中心とした展示がある。イベント館には、後述するモハ510形、YS-11機の展示やライブラリーがある他、イベント広場では館名の通り各種イベントが行われることがある。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="car" heading="2. 展示車両">
		<div class="p-text">
			<p>レプリカも含めた展示車両を紹介する。</p>
		</div>

		<Section slugger={slugger} id="deha3456" depth={2} heading="(1) デハ3450形3456号（カット車両）" headingType="b">
			<div class="p-text -col2">
				<p>正面口（南口）を入ってまず目につくのがこのデハ3450形である。実車の頭部約1/3をカットして展示されている。運転台での操作により前方の車輪が動作し、また放送装置などの機器も扱えるようになっている。</p>
				<p>車号は3456であるが、現役時代の3456号とは一部に差異が見受けられる。例えば、客用側引戸ガラスは1973(昭和48)年に小窓化されていたが、展示車は大窓である。その他にも乗務員室扉など各部で違いが見受けられ、その為にニセ3456号説まで出てきているが、開館に携わった方のお話を聞いたり、各資料を読む限りでは、実車を展示改造する際に他車の余剰部品（或いは新製?）を一部使用した可能性が考えられる。</p>
				<p>ちなみに、3456号は1963(昭和38)年に、3450形の中で最初に車体・室内更新工事が行われた車両である。</p>
			</div>
		</Section>

		<Section slugger={slugger} id="kuha8090" depth={2} heading="(2) 8090系8090号（シミュレータ）" headingType="b">
			<div class="p-text -col2">
				<p>運転シミュレーション体験ができ、当館の一番の目玉でもある。車体は8090系13次車（Tc2車）を元に制作され、車号は8090となっている。その後、実車でも8090号が登場したが、そちらは17次車（Tc1車）であり、別物である。</p>
				<p>運転台操作により、前方の3面マルチスクリーンに乗務員室から撮影された風景が映し出され、田園都市線長津田〜二子玉川間の運転体験が行えるようになっている。なお、この映像は2002(平成14)年11月に撮影された。</p>
				<p>客室内は、座席や天井部などの構造が分かるようになっており、よい教材となっている。また、実車が時代の流れに合わせて改良を成されているのに対し、このレプリカ車体はほぼ登場時のままを保っており、そのような意味でも貴重なサンプルである。</p>
				<p>運転体験がメインな為、通常は電源を切られているが、字幕表示器や放送装置なども実際に動作する。なお、SRアンテナや冷房キセの再現は、高津時代のスペースの関係から省略されている。</p>
			</div>
		</Section>

		<Section slugger={slugger} id="moha517" depth={2} heading="(3) モハ510形517号（シミュレータ）" headingType="b">
			<div class="p-text -col2">
				<p>先に記した3456号をカットした際、反対側切断面のうち3.7m分を510形時代に復元したものである。517号は3456号の旧番で、こちらはツーハンドルタイプの運転体験が行える。</p>
				<p>当初はシミュレータ装置はなく、「最新型」8090系との室内構造の比較を目的に作られたようであるが、高津時代の館内リニューアルの際に8090系のスクリーンを更新するにあたり、従来使われていたもののお下がりを取り付けられた。また、その際に運転室部分の正面窓を二段窓から一段固定窓に変更されている。</p>
			</div>
		</Section>

		<Section slugger={slugger} id="deha204" depth={2} heading="(4) デハ200形204号" headingType="b">
			<div class="p-text -col2">
				<p>玉川線で活躍していた204号車を展示保存している。</p>
				<p>高津時代は屋外展示であったため、晩年には室内に冷房を取り付けられていたが、現在では室内展示な為、再び撤去されている。</p>
				<p>なお、同車は1969(昭和44)年の廃車後、多摩川園で保存されていたが、閉園に伴い高津駅コンコースへ。その後、モハ510号が同地に置かれることとなり、一旦倉庫地へ避難した後、1991(平成3)年に高津3号館へ移動された。更に博物館の移転により、2002(平成14)年11月に宮崎台に輸送されるという、幾度もの移動劇を繰り返している。</p>
			</div>
		</Section>

		<Section slugger={slugger} id="moha510" depth={2} heading="(5) モハ510形510号（復元車両）" headingType="b">
			<div class="p-text -col2">
				<p>1989(平成元)年に引退したデハ3450形の1号車である3450号を登場時の姿に復元し、保存展示しているものである。高津時代は年に数回の公開時しか車内に立ち入れなかったが、現在では運転室も含め、常時公開されている。</p>
				<p>屋外展示な為、客室内には空調装置が整備されたが、座席下に設置されており、外観上目立たないようになっている。周囲が暗くなると、室内常用白熱灯などが点灯し、ノスタルジックな気分に浸ることができる。なお、吊革は危険防止のため、宮崎台オープン直後に全て取り外されている。</p>
			</div>
		</Section>

		<Section slugger={slugger} id="bus&airport" depth={2} heading="(6) バス、航空機" headingType="b">
			<div class="p-text -col2">
				<p>鉄道車両以外の実物展示品については、概要のみを簡素に述べる。</p>
				<p>博物館1階には路線バス（日野RB10型）と初代東急コーチ（シミュレータ用展示）が置かれている。どちらも、展示形態に合わせて若干の改造が成されている。</p>
				<p>イベント館にはYS-11機の頭頂部があり、フライトシミュレータ体験をすることができる。</p>
			</div>
		</Section>
	</Section>

	<Section slugger={slugger} id="library" heading="3. ライブラリー">
		<div class="p-text -col2">
			<p>鉄道、バスなどに関する資料を備えているライブラリーはイベント館にあり、日曜日と祝日に開いている。（イベント開催中などは臨時閉室の場合あり）</p>
			<p>一般棚（開架）は、交通関連の趣味雑誌やこども向けの本が中心であり、また自主制作を中心とした東京急行関連のビデオ視聴もできる。</p>
			<p>資料的価値のあるものの多くは書庫（閉架）に納められているが、所定の手続きを行えば一般の来館者でも閲覧することができる。</p>
			<p>なお、貸出やコピーサービスは一切行っていない。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="move" heading="4. 高津から宮崎台への移動劇">
		<div class="p-text -col2">
			<p>高津閉館の2002(平成14)年9月から、宮崎台オープンの2003(平成15)年3月までの間に、大型展示物の移動が行われた。</p>
			<p>鉄道車両、航空機はトレーラ積載または牽引にて輸送されたが、2台のバスに関しては仮ナンバーを付けて公道を自走したことは特筆される。</p>
		</div>
		<div class="p-text">
			<p>主な大型展示物の移動日は下記の通りである。</p>
		</div>
		<table class="p-table">
			<thead>
				<tr>
					<td></td>
					<th scope="col">高津搬出</th>
					<th scope="col">宮崎台搬入</th>
					<th scope="col">経由地</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">YS-11機</th>
					<td>10月31日夜間</td>
					<td>12月23日昼間</td>
					<td>長津田工場</td>
				</tr>
				<tr>
					<th scope="row">路線バス</th>
					<td>11月1日昼間</td>
					<td>11月21日早朝</td>
					<td>東横車輛本社</td>
				</tr>
				<tr>
					<th scope="row">東急コーチ</th>
					<td>11月1日昼間</td>
					<td>11月22日早朝</td>
					<td>東横車輛本社</td>
				</tr>
				<tr>
					<th scope="row">デハ3456号</th>
					<td>11月20日夜間</td>
					<td>1月9日夜間</td>
					<td>長津田工場</td>
				</tr>
				<tr>
					<th scope="row">モハ517号、クハ8090号</th>
					<td>11月20日夜間</td>
					<td>11月21日早朝</td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">デハ204号</th>
					<td>11月21日夜間</td>
					<td>11月22日早朝</td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">モハ510号</th>
					<td>12月24日夜間</td>
					<td>12月25日早朝</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</Section>

	<Section slugger={slugger} id="epilogue" heading="おわりに">
		<div class="p-text -col2">
			<p>以上、電車とバスの博物館について展示車両を中心に簡単に紹介させて頂いた。今回は誌面の都合上割愛したが、この他にも歴代車両の模型や復元された旧高津駅出札所、おもいでカード発行に使われている旧定期券発行機などの見所はたくさんある。是非足を運んで頂き、新たな発見をして頂ければ幸いである。</p>
			<p>開館してまだ一年あまり。新しい環境下でしばらくは試行錯誤も続くであろうが、地域、沿線と一体となり、この博物館が更によりよくなってゆくことを期待したい。</p>
		</div>
	</Section>
</Layout>
