---
import dayjs from 'dayjs';
import Layout from '@layouts/Kumeta.astro';
import Embedded from '@components/Embedded.astro';
import Flex from '@components/Flex.astro';
import FlexItem from '@components/FlexItem.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import Stack from '@components/Stack.astro';
import Table from '@components/Table.astro';
import Image from '@components/+phrasing/Image.astro';
import TickAndCross from '@components/+phrasing/TickAndCross.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: 'アニメ映画『劇場編集版　かくしごと』絵コンテ検証',
	heading: '『劇場編集版　かくしごと』絵コンテ検証',
	dateModified: dayjs('2022-03-27'),
	description: '映画館で販売された劇場限定版 Blu-ray 封入特典の絵コンテ集を参考に、TV 版との違いやとくに注目したいカットをまとめました。',
	image: 'https://media.w0s.jp/image/kumeta/anime/kakushigoto/storyboard/movie_bd_00-07-54.jpg',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="first-half">
		<Fragment slot="heading">前半パート</Fragment>

		<Table>
			<thead>
				<tr>
					<th scope="col">カット</th>
					<th scope="col">内容</th>
					<th scope="col">コンテ修正指示</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1–7</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>8</td>
					<td>
						<Stack>
							<p>1話アバン18歳編のカットに太陽光フレアの表現を追加して流用</p>
						</Stack>
					</td>
					<td>演出指示</td>
				</tr>
				<tr>
					<td>31</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>32</td>
					<td>
						<Stack>
							<p>絵コンテに<q>左足貧乏ゆすり</q>と書かれているが実際はない<small>（TV 版、劇場版とも）</small></p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>43</td>
					<td>
						<Stack>
							<p>黒塗りカットでフィルムガタ追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>45</td>
					<td>
						<Stack>
							<p>壁掛け時計の針が削除<small>（TV 版は 17:10 頃を差していた、絵コンテ修正指示なし）</small>、<q>それから10年</q>テロップ追加</p>
						</Stack>
					</td>
					<td>テロップのみ</td>
				</tr>
				<tr>
					<td>54</td>
					<td>
						<Stack>
							<p>志治の名前紹介テロップが小さくなり、表示方法も変更<small>（絵コンテには IN の記載のみだが、実際は OUT も変更）</small></p>
						</Stack>
					</td>
					<td>元々の記載</td>
				</tr>
				<tr>
					<td>55</td>
					<td>
						<Stack>
							<p>芥子の名前紹介テロップが小さくなり、表示方法も変更<small>（絵コンテには OUT の記載のみだが、実際は IN も変更）</small></p>
						</Stack>
					</td>
					<td>元々の記載</td>
				</tr>
				<tr>
					<td>60</td>
					<td>
						<Stack>
							<p>校舎外壁の時計の針が削除<small>（TV 版は 15:35 頃を差していた）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv1_bd_00-05-27.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 1話Aパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-04-43.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>61</td>
					<td>
						<Stack>
							<p>姫を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>62</td>
					<td>
						<Stack>
							<p>鉄棒付近に置かれていたランドセルが削除<small>（原作は下校途中なので TV 版はそれに合わせたが、劇場版では休み時間という設定か?）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv1_bd_00-05-41.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 1話Aパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-04-56.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>64</td>
					<td>
						<Stack>
							<p>一子の名前紹介テロップが小さくなり、表示方法も変更<small>（絵コンテには<q>スクリーントーン61番ぽい色味</q>等の指示があるが、志治や芥子と同じ表現）</small></p>
						</Stack>
					</td>
					<td>元々の記載</td>
				</tr>
				<tr>
					<td>65</td>
					<td>
						<Stack>
							<p>鉄棒付近に置かれていたランドセルが削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>77</td>
					<td>
						<Stack>
							<p>作品ロゴ削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>80</td>
					<td>
						<Stack>
							<p>壁掛け時計の時刻を 17:10 頃→ 13:00 頃に修正<small>（TV 版では BD 修正時も見過ごされていた）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>91</td>
					<td>
						<Stack>
							<p>十丸院の名前紹介テロップが小さくなり、表示方法も変更<small>（絵コンテには指示がないが、他キャラと同じ変更を実施）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>96</td>
					<td>
						<Stack>
							<p>可久士の表情修正<small>（TV 版は<q>久米田作品ぽくなってない</q>との理由）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv1_bd_00-08-40.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 1話Aパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-07-54.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>104</td>
					<td>
						<Stack>
							<p>姫の口パク増加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>108</td>
					<td>
						<Stack>
							<p><q>やり直せ</q>のタイミングでズーム処理&amp;そこで初めて集中線が出るように&amp;可久士に影追加<small>（絵コンテのイラストは左右逆）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv1_bd_00-09-35.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 1話Aパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-08-49.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>117</td>
					<td>
						<Stack>
							<p>画面全体にパンアップ処理追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>119</td>
					<td>
						<Stack>
							<p>カケアミによるパラ追加、トラックアップ追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>138</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>143–145</td>
					<td>
						<Stack>
							<p>新規カット<small>（原作単行本2巻カラーページより）</small></p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>146</td>
					<td>
						<Stack>
							<p>5話Bパート18歳編のカットのパン方向を上下反転して流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>153</td>
					<td>
						<Stack>
							<p>可久士を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>175</td>
					<td>
						<Stack>
							<p>セリフのタイミングを前倒し</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>176</td>
					<td>
						<Stack>
							<p>ペンの色が黄→緑に変更、可久士が話すとき指先に力を込める動きを追加</p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv1_bd_00-13-10.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 1話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-13-15.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td>力込めのみ</td>
				</tr>
				<tr>
					<td>178</td>
					<td>
						<Stack>
							<p>亜美登場時のカメラワークをパンアップ→トラックアップに変更、名前紹介テロップが小さくなり、表示方法も変更<small>（絵コンテには指示がないが、他キャラと同じ変更を実施）</small></p>
						</Stack>
					</td>
					<td>カメラワークのみ</td>
				</tr>
				<tr>
					<td>179</td>
					<td>
						<Stack>
							<p>羅砂の名前紹介テロップが小さくなり、表示方法も変更<small>（絵コンテには<q>墨を垂らしたように</q>と指示があるが、他キャラと変わらない表現になっている）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>183</td>
					<td>
						<Stack>
							<p>背景色が濃くなった、可久士にトラックアップ処理追加</p>
						</Stack>
					</td>
					<td>トラックアップのみ</td>
				</tr>
				<tr>
					<td>186–187</td>
					<td>
						<Stack>
							<p>亜美&amp;可久士のセリフ変更: <q>やはりここは漫豪しかないかと</q>→<q>泣いてるんですか</q>ほか<small>（劇場版では“漫豪”未登場なため?）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>187</td>
					<td>
						<Stack>
							<p>11話Aパートの学校廊下のカットのパン方向を左右反転して流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>215</td>
					<td>
						<Stack>
							<p>マリオ登場時、暗くして目が赤く光る処理を追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>221</td>
					<td>
						<Stack>
							<p>マリオの<q>あ、すごい</q>のセリフは絵コンテには描かれていない<small>（台本にも記載はないので、現場指示か浪川さんのアドリブと思われる）</small></p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>258</td>
					<td>
						<Stack>
							<p>家族写真差し替え（原作12巻 p.139）、小物追加</p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv1_bd_00-21-39.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 1話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-19-45.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>259</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>262</td>
					<td>
						<Stack>
							<p>トラックバック処理追加、作品ロゴ削除</p>
						</Stack>
					</td>
					<td>トラックバックのみ</td>
				</tr>
				<tr>
					<td>263</td>
					<td>
						<Stack>
							<p>4話アバン（18歳編）のカットをパンアップスピードを低下して流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>264</td>
					<td>
						<Stack>
							<p>2話Bパート（18歳編）のカットを流用、木の葉の陰を変更、姫の影を削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>265–271</td>
					<td>
						<Stack>
							<p>2話Bパートのカットに回想用エフェクトを掛けて流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>272</td>
					<td>
						<Stack>
							<p>4話アバン（18歳編）のカットに回想用エフェクトを掛けて流用、箱に添える姫の手を削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>273–278</td>
					<td>
						<Stack>
							<p>4話アバン（18歳編）のカットに回想用エフェクトを掛けて流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>285</td>
					<td>
						<Stack>
							<p>2話Bパート（18歳編）のカットに日差しエフェクトを追加して流用、絵コンテに<q>姫セル位置上にズラす</q>と書かれているが実際は TV 版から変更なし</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>286</td>
					<td>
						<Stack>
							<p>2話Bパート（18歳編）のカットを引いた構図にして流用、姫の髪がなびくタイミングを変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>288</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>290</td>
					<td>
						<Stack>
							<p>4話アバン（18歳編）のカットの箱の文字を<q>18才</q>→<q>17才</q>に変更して流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>292–299a</td>
					<td>
						<Stack>
							<p>新規カット<small>（このシーンは当初「<cite>君は天然色〜めぐろ川たんていじむしょver.〜</cite>」を流す予定だったことが2021年7月11日10:00回の舞台挨拶で村野監督の口から語られた）</small></p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>304</td>
					<td>
						<Stack>
							<p>絵コンテに<q>セリフシート修正したいです</q>と書かれているが、実際は TV 版から変更なし</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>307</td>
					<td>
						<Stack>
							<p>絵コンテに<q>セリフシート修正したいです</q>と書かれているが、実際は TV 版から変更なし</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>309</td>
					<td>
						<Stack>
							<p>シャッターを切ると暗転するように変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>310</td>
					<td>
						<Stack>
							<p>1話アバンのカットを明るくして流用<small>（絵コンテでは<q>新規描き起こしカット</q>を示す紫色のマークとなっているが、実際は再撮と思われる）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>311</td>
					<td>
						<Stack>
							<p>絵コンテに<q>セリフシート修正したいです</q>と書かれているが、実際は TV 版から変更なし</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>317</td>
					<td>
						<Stack>
							<p>背景色が暗くなった、羅砂の斜線表現が動くようになった</p>
						</Stack>
					</td>
					<td>斜線表現のみ</td>
				</tr>
				<tr>
					<td>322</td>
					<td>
						<Stack>
							<p>芥子の口パクタイミングをセリフに合わせて修正</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>323–324</td>
					<td>
						<Stack>
							<p>背景色が暗くなった</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>327–328</td>
					<td>
						<Stack>
							<p>可久士&amp;亜美のセリフ変更: <q>どさくさに紛れて OK してしまったのか、この漫畜生が!</q>→<q>サイン会なんてやるのか!? 俺が!? 十丸院の野郎! 何勝手に OK 出してんだ!</q>ほか、それに伴い口パクのタイミングなどを修正<small>（劇場版では“漫畜”シーンカットのため?）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>333</td>
					<td>
						<Stack>
							<p>亜美セリフ変更: <q>しかしなんで先生、こんな急にいい人になっちゃったんだろう</q>→<q>しかし先生、最近なんか元気ないね</q></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>335</td>
					<td>
						<Stack>
							<p>背景の動き方変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>340</td>
					<td>
						<Stack>
							<p>祖父が顎を引く動作を追加</p>
						</Stack>
					</td>
					<td>元々の記載</td>
				</tr>
				<tr>
					<td>343</td>
					<td>
						<Stack>
							<p>TV 版では車がある程度去った途中からトラックバック処理が始まっていたが、カットはじめから動くように変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>348</td>
					<td>
						<Stack>
							<p>このカットだけ4話Aパートから流用<small>（TV 版は建物外観 → 劇場版は室内）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>353</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>354</td>
					<td>
						<Stack>
							<p>可久士作画し直し<small>（絵コンテには<q>羅砂SLIN追加</q><q>それに伴い羅砂も作画修正した方がバランスいいです</q>とあるが、実際は変更なし）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv6_bd_00-09-48.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 6話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-28-00.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>358</td>
					<td>
						<Stack>
							<p><q>そして日曜日</q>テロップ追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>359</td>
					<td>
						<Stack>
							<p>開始フレーム変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>361</td>
					<td>
						<Stack>
							<p>姫の歩き方変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>362</td>
					<td>
						<Stack>
							<p>振り向く前の可久士を目を瞑っている表情に変更<small>（カット順序変更に伴う前カットとの表情整合性確保のため）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv6_bd_00-10-13.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 6話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-28-43.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>365</td>
					<td>
						<Stack>
							<p>可久士の口パクタイミングをセリフに合わせて修正</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>368</td>
					<td>
						<Stack>
							<p>可久士の左手に指の動きを追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>369</td>
					<td>
						<Stack>
							<p><q>根拠なし</q>のテロップが小型化&amp;ルビ追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>370</td>
					<td>
						<Stack>
							<p>可久士と羅砂の歩き方変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>372</td>
					<td>
						<Stack>
							<p>羅砂と亜美の口パクタイミングをセリフに合わせて修正</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>378</td>
					<td>
						<Stack>
							<p>斜線表現が揺れるようになった</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>411</td>
					<td>
						<Stack>
							<p>カケアミによるパラ追加</p>
						</Stack>
					</td>
					<td>元々の記載</td>
				</tr>
				<tr>
					<td>412</td>
					<td>
						<Stack>
							<p>吹き出し内にエフェクト&amp;白枠追加、<q>聞いていない</q>のテロップが小型化</p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv6_bd_00-14-56.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 6話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-32-20.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td>テロップのみ</td>
				</tr>
				<tr>
					<td>414</td>
					<td>
						<Stack>
							<p>吹き出し内にエフェクト&amp;白枠追加、<q>聞いていない</q>のテロップが小型化</p>
						</Stack>
					</td>
					<td>テロップのみ</td>
				</tr>
				<tr>
					<td>420</td>
					<td>
						<Stack>
							<p>可久士を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>422</td>
					<td>
						<Stack>
							<p>姫を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>424</td>
					<td>
						<Stack>
							<p>可久士を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>429</td>
					<td>
						<Stack>
							<p>可久士の後方から差し込む光の表現を追加、少し引いた構図に変更、カット終わりの切り替え表現を変更</p>
						</Stack>
					</td>
					<td>光線表現以外</td>
				</tr>
				<tr>
					<td>431</td>
					<td>
						<Stack>
							<p>十丸院が喋り終わった後に口が開いたままになっていたのを閉じるように修正</p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>432</td>
					<td>
						<Stack>
							<p>十丸院の口パクタイミングをセリフに合わせて修正</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>435</td>
					<td>
						<Stack>
							<p>可久士沈黙の後、羅砂が<q>本当に……</q>と言うところで口を閉じたままになっていたのを口パクするよう修正</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>443</td>
					<td>
						<Stack>
							<p>可久士の顔アップの背景が黒一色から直前の親子のイラスト（アンダーエフェクト掛け）に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>447</td>
					<td>
						<Stack>
							<p>可久士を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>457</td>
					<td>
						<Stack>
							<p>カケアミによるパラ追加、トラックアップ追加、顔を上げるタイミングを少し遅らせた</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>460</td>
					<td>
						<Stack>
							<p>可久士を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>464</td>
					<td>
						<Stack>
							<p>クイックトラックバック処理をやめ、一子がスライドインするよう変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>465</td>
					<td>
						<Stack>
							<p>トラックバック処理を高速化</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>468</td>
					<td>
						<Stack>
							<p>姫を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>478</td>
					<td>
						<Stack>
							<p>可久士を少し引いた構図に変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>483</td>
					<td>
						<Stack>
							<p>絵コンテでは<q>演出指示のみで再撮可能カット</q>を示す緑色のマークとなっているが、実際は変わっていない</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>484</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>485</td>
					<td>
						<Stack>
							<p>5話Bパート（18歳編）のカットを流用</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>486</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>487</td>
					<td>
						<Stack>
							<p>5話Bパート（18歳編）のカットを流用</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>488</td>
					<td>
						<Stack>
							<p>9話Bパート（18歳編）のカットを流用</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>489</td>
					<td>
						<Stack>
							<p>6話Bパート（18歳編）のカットを流用</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>490</td>
					<td>
						<Stack>
							<p>1話アバン（18歳編）から姫を抜いた背景のみを再撮→新規カットの流れ</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>491–493</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>495</td>
					<td>
						<Stack>
							<p>6話Bパート（18歳編）のカットに影が動く処理を追加して流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>497</td>
					<td>
						<Stack>
							<p>箱の蓋を開けてから手前にパンするタイミングを変更</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>499</td>
					<td>
						<Stack>
							<p>漫画の内容を変更<small>（TV 版は原作単行本4巻カラーページ準拠 → 劇場版は原作最終話で姫が“色を点けた”ページ）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv6_bd_00-21-24.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 6話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-38-55.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>501</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>523–536</td>
					<td>
						<Stack>
							<p>10歳編の各シーンを回想エフェクトを掛けて流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="latter-half">
		<Fragment slot="heading">後半パート</Fragment>

		<Table>
			<thead>
				<tr>
					<th scope="col">カット</th>
					<th scope="col">内容</th>
					<th scope="col">コンテ修正指示</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>537</td>
					<td>
						<Stack>
							<p>冒頭にフェードイン効果追加、姫のセリフ<q>福引で当たった旅行券で……</q>削除<small>（福引のエピソードがカットされたため）</small></p>
						</Stack>
					</td>
					<td>フェードインのみ</td>
				</tr>
				<tr>
					<td>538</td>
					<td>
						<Stack>
							<p>絵コンテでは原作と同じく<q>後部座席に座る姫</q>と描かれているが、実際は助手席に座っている<small>（TV 版、劇場版とも）</small></p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>539</td>
					<td>
						<Stack>
							<p>絵コンテでは<q>窓開けて</q>と描かれているが、実際は最初から開いている<small>（TV 版、劇場版とも）</small></p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>543</td>
					<td>
						<Stack>
							<p>可久士のセリフ<q>ごめんください</q>削除とそれに伴い尺調整、絵コンテでは<q>入口に正月飾り</q>と描かれているが、実際は季節関係ない植木<small>（TV 版、劇場版とも）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>556</td>
					<td>
						<Stack>
							<p>ロクの鳴き声追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>575</td>
					<td>
						<Stack>
							<p>作品ロゴ削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>576</td>
					<td>
						<Stack>
							<p>カット削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>597</td>
					<td>
						<Stack>
							<p>カット削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>637</td>
					<td>
						<Stack>
							<p>従業員「シャラポワ」のネームプレートの中身を省略せず表現</p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv10_bd_00-17-23.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 10話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-47-27.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>638</td>
					<td>
						<Stack>
							<p>キラキラのフィルター追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>651</td>
					<td>
						<Stack>
							<p>亜美セリフ追加<q>先生は何かを…隠している</q></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>652</td>
					<td>
						<Stack>
							<p>TV 版では鎌倉の旧自宅のイメージから中目黒の自宅へ切り替わる演出があったが（家具とともに姫も現れる）、劇場版では最初から中目黒の自宅となった。</p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>654</td>
					<td>
						<Stack>
							<p>影を描き直し&amp;ボカし表現&amp;揺れ方変更、入射光表現追加</p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv10_bd_00-20-56.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 10話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-48-48.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>655–656</td>
					<td>
						<Stack>
							<p>姫のセリフ<q>なんでやめちゃったんだろう</q>削除とそれに伴い尺調整</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>656–657</td>
					<td>
						<Stack>
							<p>カット欠</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>658</td>
					<td>
						<Stack>
							<p>絵コンテには8話Bパート（18歳編）で使用された逗子マリーナの写真が貼られているが、実際はテーブル上の小物を写した構図になっている<small>（TV 版10話の同カットを意識して描き直されているが、「<cite>消えた漫画家</cite>」の本が置かれるなどの変更点がある）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv10_bd_00-21-21.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 10話Bパート（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-49-09.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>659</td>
					<td>
						<Stack>
							<p>テーブル上の小物が変更<small>（「<cite>消えた漫画家</cite>」の本が追加、ドリンクが TV 版は空に対して劇場版は満杯）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>666–670</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>671</td>
					<td>
						<Stack>
							<p>1話アバン（18歳編）のカットを流用</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>672</td>
					<td>
						<Stack>
							<p>1話アバン（18歳編）のカットを流用しているが、線路の橋の右側の草が江ノ電の車両の手前に来るようになった<small>（明らかに不自然で編集ミスと思われる）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv1_bd_00-00-09.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 1話アバン（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_00-50-09.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>673</td>
					<td>
						<Stack>
							<p>カット欠</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>674</td>
					<td>
						<Stack>
							<p>1話アバン（18歳編）のカットになんとかェ門を描き足し、姫を抜いて流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>687</td>
					<td>
						<Stack>
							<p>12話Aパートのカットを尺を伸ばして流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>690</td>
					<td>
						<Stack>
							<p>劇場版カット 143 をパンなしのフィックスにして流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>703</td>
					<td>
						<Stack>
							<p>新規カット（単行本7巻カラーページの家系図）</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>704</td>
					<td>
						<Stack>
							<p>12話Aパートのカットをフィックスにして流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>773</td>
					<td>
						<Stack>
							<p>劇場版カット 30 （1話アバン（18歳編）のカットと同一）を流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>774</td>
					<td>
						<Stack>
							<p>羅砂が電話を受けたときのセリフ<q>えっ?</q>は劇場版で削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>836–837</td>
					<td>
						<Stack>
							<p>可久士セリフ変更：<q>家事手伝いのナディアさんが……</q>→<q>家事手伝いの人が……</q><small>（実際は<q>娘の姫が心配だ</q>から録り直しており、 TV 版よりも抑揚の付いた演技となっている）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>868</td>
					<td>
						<Stack>
							<p>絵コンテには<q>僅かに肩が震えてる姫（泣いてる）</q>とあるが、実際は震えていない<small>（TV 版、劇場版とも）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/movie_bd_01-03-30.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">劇場編集版（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>869–891</td>
					<td>
						<Stack>
							<p>新規カット、なおカット 885 は原作漫画にも描かれた洞窟だが絵コンテには<q>石垣島の「青の洞窟」の感じ</q>とされている</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>893</td>
					<td>
						<Stack>
							<p>亜美の新録セリフに合わせて口パクを追加</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>915</td>
					<td>
						<Stack>
							<p>カット 654 と同じ変更<small>（影を描き直し&amp;ボカし表現&amp;揺れ方変更、入射光表現追加）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>926</td>
					<td>
						<Stack>
							<p>TV 版では次のカットへの切り替わり時にホワイトアウトが掛かっていたが、削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>997–1008</td>
					<td>
						<Stack>
							<p>TV シリーズではここからキャスト・スタッフクレジットが挟まれていたが、劇場版では削除</p>
						</Stack>
					</td>
					<td><TickAndCross type="cross">なし</TickAndCross></td>
				</tr>
				<tr>
					<td>1001</td>
					<td>
						<Stack>
							<p>モブ女生徒をミハルに差し替え<small>（首から上のみを描き直している）</small></p>

							<Flex>
								<FlexItem>
									<Embedded border={true}>
										<Image path="kumeta/anime/kakushigoto/storyboard/tv12_bd_00-22-26.jpg" alt="画像拡大" width={320} height={180} quality={60} link={true} slot="media" />
										<Fragment slot="caption">TV 版 12話（Blu-ray）</Fragment>
									</Embedded>
								</FlexItem>
							</Flex>

							<ListNote>
								<li>差し替え後のイラストは劇場編集版本編でご確認ください</li>
							</ListNote>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1004–1005</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>1009–1013</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>1014</td>
					<td>
						<Stack>
							<p>2話Bパート（18歳編）のカットを箱の張り紙<q>18才</q>→<q>19才</q>に変更、引戸を開ける速度を高めて流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1015–1024</td>
					<td>
						<Stack>
							<p>新規カット</p>
						</Stack>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>1025</td>
					<td>
						<Stack>
							<p>9話Bパート（18歳編）のカットを左右反転、セミ削除、光のエフェクトを変更して流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1027</td>
					<td>
						<Stack>
							<p>9話Bパート（18歳編）のカットを流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1028–1031</td>
					<td>
						<Stack>
							<p>絵コンテではカット 1030 以外は再撮扱いとなっているが、キャラも背景も異なるため、構図の参考のみで新規カットと思われる</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1032</td>
					<td>
						<Stack>
							<p>絵コンテでは12話Aパートのカット 34 の流用とされているが、実際は劇場版のカット 8 を流用</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1033</td>
					<td>
						<Stack>
							<p>絵コンテでは12話Aパートのカット 31B の流用とされているが、実際は新規カット</p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1034</td>
					<td>
						<Stack>
							<p>新規カット<small>（劇場版カット 885 流用）</small></p>
						</Stack>
					</td>
					<td><TickAndCross type="tick">あり</TickAndCross></td>
				</tr>
				<tr>
					<td>1035</td>
					<td>
						<Stack>
							<p>新規カット<small>（原作最終話最終ページ準拠）</small></p>
						</Stack>
					</td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>
</Layout>
