<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="https://w0s.jp/" xml:lang="ja">
	<title>東急電車形態研究</title>
	<subtitle>東急電車の車両形態や自動放送を紹介するサイト</subtitle>
	<id>tag:w0s.jp,2001:/tokyu/</id>
	<link href="/tokyu/" type="text/html" />
	<link href="/tokyu/feed" rel="self" type="application/atom+xml" />
	<author>
		<name>富永冴樹</name>
	</author>
	<icon>/assets/image/feed-icon.png</icon>
	<updated><%= entries[0].last_updated.format('YYYY-MM-DDTHH:mm:ssZ') %></updated>
	<%_ for (entry of entries) { _%>
	<entry>
		<title><%= entry.title %></title>
		<id>tag:w0s.jp,<%= entry.last_updated.format('YYYY-MM-DD') %>:<%= entry.unique %></id>
		<%_ for (link of entry.links) { _%>
		<link href="<%= link %>" />
		<%_ } _%>
		<updated><%= entry.last_updated.format('YYYY-MM-DDTHH:mm:ssZ') %></updated>
		<content type="html"><%= entry.content %></content>
	</entry>
	<%_ } _%>
</feed>
