---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import LayoutTop from '@layouts/content-body/Top.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
import ListLink from '@components/ListLink.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import TopNavText from '@components/TopNavText.astro';
import TopUpdate from '@components/TopUpdate.astro';
import KumetaTopService from '@components/kumeta/TopService.astro';
import KumetaTopServiceItem from '@components/kumeta/TopServiceItem.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '久米田康治データベース',
	description: '漫画家・久米田康治先生の作品データや周辺動向を紹介するファンサイト',
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} top={true}>
	<LayoutTop>
		<Fragment slot="nav">
			<TopNavText heading="サイトコンテンツ">
				<Fragment slot="main">
					<Grid column="wide" headingType="b">
						<GridItem>
							<Section slugger={slugger} depth={2} headingType="b">
								<Fragment slot="heading">漫画</Fragment>

								<ListLink index={true}>
									<li><a href="/kumeta/manga/list">作品リスト</a><small>（1988年〜）</small></li>
									<li><a href="/kumeta/manga/subtitle">連載作品サブタイトル</a><small>（1991年〜）</small></li>
									<li><a href="/kumeta/manga/color">本誌カラー掲載回</a><small>（1991年〜）</small></li>
									<li><a href="/kumeta/manga/comment">本誌目次コメント</a><small>（1992年〜）</small></li>
									<li><a href="/kumeta/manga/convenience">コンビニコミック</a><small>（2004年〜2015年）</small></li>
									<li><a href="/kumeta/manga/ebook">電子書籍の非収録コンテンツ</a></li>
								</ListLink>
							</Section>
						</GridItem>
						<GridItem>
							<Section slugger={slugger} depth={2} headingType="b">
								<Fragment slot="heading">メディア紹介</Fragment>

								<ListLink index={true}>
									<li><a href="/kumeta/library/manga">漫画雑誌</a><small>（1979年〜）</small></li>
									<li><a href="/kumeta/library/book">図書、一般雑誌</a><small>（1993年〜）</small></li>
									<li><a href="/kumeta/library/newspaper">新聞</a><small>（2002年〜）</small></li>
									<li><a href="/kumeta/library/freepaper">フリーペーパー</a><small>（2003年〜）</small></li>
									<li><a href="/kumeta/library/web">Web</a><small>（2007年〜）</small></li>
								</ListLink>
							</Section>
						</GridItem>
						<GridItem>
							<Section slugger={slugger} depth={2} headingType="b">
								<Fragment slot="heading">アニメ</Fragment>

								<ListLink index={true}>
									<li><a href="/kumeta/anime/zetsubou/diff">『さよなら絶望先生』放送版とパッケージ版の比較</a></li>
									<li><a>『かくしごと』放送版とパッケージ版の比較</a></li>
									<li><a href="/kumeta/anime/kakushigoto/storyboard">『劇場編集版　かくしごと』絵コンテ検証</a></li>
								</ListLink>
							</Section>
						</GridItem>
						<GridItem>
							<Section slugger={slugger} depth={2} headingType="b">
								<Fragment slot="heading">久米田先生</Fragment>

								<ListLink index={true}>
									<li><a>年表</a><small>（1988年〜）</small></li>
									<li><a>イベント登壇、サイン会</a><small>（1992年〜）</small></li>
									<li><a href="/kumeta/kumeta/interview">インタビュー</a><small>（1996年〜）</small></li>
									<li><a href="/kumeta/kumeta/media">メディア出演</a><small>（2003年〜）</small></li>
									<li><a href="/kumeta/kumeta/x">X アイコン履歴</a><small>（2019年〜2021年）</small></li>
								</ListLink>
							</Section>
						</GridItem>
						<GridItem>
							<Section slugger={slugger} depth={2} headingType="b">
								<Fragment slot="heading">よもやま</Fragment>

								<ListLink index={true}>
									<li><a href="/kumeta/yomoyama/mangaka">“近所の売れないまんが家” 登場履歴</a><small>（1991年〜）</small></li>
									<li><a href="/kumeta/yomoyama/kuigaten">「悔画展」収録イラスト一覧</a><small>（2016年）</small></li>
									<li><a href="/kumeta/yomoyama/zensarashi_slideshow">「全曝し展」の様子</a><small>（2021年）</small></li>
									<li><a href="/kumeta/yomoyama/zensarashi_badge">「全曝し展」トレーディング著者缶バッジの出典</a></li>
									<li><a href="/kumeta/yomoyama/pulp_daidanen">『スタジオパルプ』最終話　大団円イラストキャラ</a></li>
									<li><a href="/kumeta/yomoyama/zetsubou_web">アニメ『さよなら絶望先生』公式サイトのアーカイブ</a></li>
								</ListLink>
							</Section>
						</GridItem>
						<GridItem>
							<Section slugger={slugger} depth={2} headingType="b">
								<Fragment slot="heading">最新ニュース</Fragment>

								<KumetaTopService>
									<KumetaTopServiceItem title="Google カレンダー" linkPath="https://calendar.google.com/calendar/u/0/embed?src=udi6d8s0b41c10iesq8iovb2c8@group.calendar.google.com" iconPath="/kumeta/image/icon_google-calendar.png" />
									<KumetaTopServiceItem title="Mastodon" linkPath="https://mastodon.social/@kumeta_news" iconPath="/assets/image/icon/mastodon.svg" />
								</KumetaTopService>

								<ListNote>
									<li>本誌連載、コミックス発売、イベント開催などの情報を Google カレンダーに蓄積し、自動投稿で Mastodon に流しています。</li>
								</ListNote>
							</Section>
						</GridItem>
					</Grid>
				</Fragment>
			</TopNavText>
		</Fragment>

		<Fragment slot="update">
			<TopUpdate id="update" updateFile="kumeta.xml" feedHref="/kumeta/feed" />
		</Fragment>
	</LayoutTop>
</Layout>
