---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import TopUpdate from '@components/TopUpdate.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '久米田康治データベース',
	description: '漫画家・久米田康治先生の作品データや周辺動向を紹介するファンサイト',
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} top={true}>
	<nav class="p-top-nav" id="contents">
		<header class="p-top-nav__header">
			<div class="p-top-nav__hdg">
				<h2>サイトコンテンツ</h2>
			</div>
		</header>
		<div class="p-top-nav__main">
			<div class="c-grid -top-nav">
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">漫画</H>

						<ul class="p-links">
							<li><a href="/kumeta/manga/list">作品リスト</a><small>（1988年〜）</small></li>
							<li><a href="/kumeta/manga/subtitle">連載作品サブタイトル</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/manga/color">本誌カラー掲載回</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/manga/comment">本誌目次コメント</a><small>（1992年〜）</small></li>
							<li><a>コンビニコミック</a><small>（2004年〜2015年）</small></li>
							<li><a href="/kumeta/manga/ebook">電子書籍の非収録コンテンツ</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">メディア紹介</H>

						<ul class="p-links">
							<li><a href="/kumeta/library/manga">漫画雑誌</a><small>（1979年〜）</small></li>
							<li><a href="/kumeta/library/book">図書、一般雑誌</a><small>（1993年〜）</small></li>
							<li><a href="/kumeta/library/newspaper">新聞</a><small>（2006年〜）</small></li>
							<li><a href="/kumeta/library/web">Web</a><small>（2007年〜）</small></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">アニメ</H>

						<ul class="p-links">
							<li><a href="/kumeta/anime/zetsubou/diff">『さよなら絶望先生』放送版とパッケージ版の比較</a></li>
							<li><a>『かくしごと』放送版とパッケージ版の比較</a></li>
							<li><a href="/kumeta/anime/kakushigoto/storyboard">『劇場編集版　かくしごと』絵コンテ検証</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">久米田先生</H>

						<ul class="p-links">
							<li><a>年表</a><small>（1988年〜）</small></li>
							<li><a>イベント登壇、サイン会</a><small>（1992年〜）</small></li>
							<li><a href="/kumeta/kumeta/interview">インタビュー</a><small>（1996年〜）</small></li>
							<li><a href="/kumeta/kumeta/media">メディア出演</a><small>（2003年〜）</small></li>
							<li><a href="/kumeta/kumeta/x">X アイコン履歴</a><small>（2019年〜）</small></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">よもやま</H>

						<ul class="p-links">
							<li><a href="/kumeta/yomoyama/mangaka">“近所の売れないまんが家” 登場履歴</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/yomoyama/kuigaten">「悔画展」収録イラスト一覧</a><small>（2016年）</small></li>
							<li><a href="/kumeta/yomoyama/zensarashi_slideshow">「全曝し展」の様子</a><small>（2021年）</small></li>
							<li><a href="/kumeta/yomoyama/pulp_daidanen">『スタジオパルプ』最終話　大団円イラストキャラ</a></li>
							<li><a href="/kumeta/yomoyama/zetsubou_web">アニメ『さよなら絶望先生』公式サイトのアーカイブ</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">最新ニュース</H>

						<ul class="p-links">
							<li><a href="https://calendar.google.com/calendar/u/0/embed?src=udi6d8s0b41c10iesq8iovb2c8@group.calendar.google.com">久米田康治カレンダー</a><small>（Google カレンダー）</small></li>
							<li><a href="https://discord.gg/3G4kchxRgk">久米田康治情報</a><small>（Discord）</small></li>
						</ul>

						<ul class="p-notes">
							<li>本誌連載、コミックス発売、イベント開催などの情報を Google カレンダーに蓄積し、自動投稿で Discord に流しています。</li>
							<li>皆さまからの情報提供もお待ちしております。上記 Discord サーバーに参加のうえ #news チャンネルに投稿ください。</li>
						</ul>
					</Section>
				</div>
			</div>
		</div>
	</nav>

	<section class="p-top-update" id="update">
		<header class="p-top-update__header">
			<div class="p-top-update__hdg">
				<h2>更新履歴</h2>
			</div>

			<div class="p-top-update__notice">
				<a href="/kumeta/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">新着フィード</span>
				</a>
			</div>
		</header>
		<div class="p-top-update__main">
			<ul class="p-top-update-list">
				<TopUpdate date="2024-04-02">
					<p><a href="/kumeta/library/web">メディア紹介 — Web</a> を新規作成</p>
				</TopUpdate>
				<TopUpdate date="2024-03-28">
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>に「週刊少年サンデー 2024年16号」「週刊少年サンデー 2024年18号」を追加</p>
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>に「私は元気です　病める時も健やかなる時も腐る時もイキる時も泣いた時も病める時も。」（2023年）を追加</p>
				</TopUpdate>
				<TopUpdate date="2024-02-25">
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>に「週刊少年キング 1979年6月4日号」を追加</p>
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>に「鉄道ジャーナル 1993年3月号」を追加</p>
				</TopUpdate>
				<TopUpdate date="2024-01-10">
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>に「週刊少年サンデー増刊 1994年9月号」「月刊少年マガジン 2019年9月号」「週刊少年サンデー 2024年7号」および「月刊少年マガジン 2019年10月号」のキャンペーン広告を追加</p>
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>に「明日の夜は千の眼を持つ」（2011年）を追加</p>
				</TopUpdate>
				<TopUpdate date="2023-12-29">
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>に「コミックビーム 2010年10月号」「月刊少年マガジン 2018年3月号」「ハルタ 2021-October Volume 88」および「月刊少年マガジン 2016年9月号」の新人賞コメントを追加</p>
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>に「プレイボーイ 2011年No.48」を追加</p>
				</TopUpdate>
			</ul>
		</div>
	</section>
</Layout>
