---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import TopUpdate from '@components/TopUpdate.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '久米田康治データベース',
	description: '漫画家・久米田康治先生の作品データや周辺動向を紹介するファンサイト',
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} top={true}>
	<nav class="p-top-nav" id="contents">
		<header class="p-top-nav__header">
			<div class="p-top-nav__hdg">
				<h2>サイトコンテンツ</h2>
			</div>
		</header>
		<div class="p-top-nav__main">
			<div class="c-grid -top-nav">
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">漫画</H>

						<ul class="p-links">
							<li><a href="/kumeta/manga/list">作品リスト</a><small>（1988年〜）</small></li>
							<li><a href="/kumeta/manga/subtitle">連載作品サブタイトル</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/manga/color">本誌カラー掲載回</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/manga/comment">本誌目次コメント</a><small>（1992年〜）</small></li>
							<li><a>コンビニコミック</a><small>（2004年〜2015年）</small></li>
							<li><a href="/kumeta/manga/ebook">電子書籍の非収録コンテンツ</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">メディア紹介</H>

						<ul class="p-links">
							<li><a href="/kumeta/library/manga">漫画雑誌</a><small>（1988年〜）</small></li>
							<li><a href="/kumeta/library/book">図書、一般雑誌</a><small>（1993年〜）</small></li>
							<li><a href="/kumeta/library/newspaper">新聞</a><small>（2006年〜）</small></li>
							<li><a>Web</a><small>（2007年〜）</small></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">アニメ</H>

						<ul class="p-links">
							<li><a href="/kumeta/anime/zetsubou/diff">『さよなら絶望先生』放送版とパッケージ版の比較</a></li>
							<li><a>『かくしごと』放送版とパッケージ版の比較</a></li>
							<li><a href="/kumeta/anime/kakushigoto/storyboard">『劇場編集版　かくしごと』絵コンテ検証</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">久米田先生</H>

						<ul class="p-links">
							<li><a>年表</a><small>（1988年〜）</small></li>
							<li><a>イベント登壇、サイン会</a><small>（1992年〜）</small></li>
							<li><a href="/kumeta/kumeta/interview">インタビュー</a><small>（1996年〜）</small></li>
							<li><a href="/kumeta/kumeta/media">メディア出演</a><small>（2003年〜）</small></li>
							<li><a href="/kumeta/kumeta/twitter">Twitter アイコン履歴</a><small>（2019年〜）</small></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">よもやま</H>

						<ul class="p-links">
							<li><a href="/kumeta/yomoyama/mangaka">“近所の売れないまんが家” 登場履歴</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/yomoyama/kuigaten">「悔画展」収録イラスト一覧</a><small>（2016年）</small></li>
							<li><a href="/kumeta/yomoyama/zensarashi_slideshow">「全曝し展」の様子</a><small>（2021年）</small></li>
							<li><a href="/kumeta/yomoyama/pulp_daidanen">『スタジオパルプ』最終話　大団円イラストキャラ</a></li>
							<li><a href="/kumeta/yomoyama/zetsubou_web">アニメ『さよなら絶望先生』公式サイトのアーカイブ</a></li>
						</ul>
					</Section>
				</div>
			</div>
		</div>
	</nav>

	<section class="p-top-update" id="update">
		<header class="p-top-update__header">
			<div class="p-top-update__hdg">
				<h2>更新履歴</h2>
			</div>

			<div class="p-top-update__notice">
				<a href="/kumeta/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">フィード</span>
				</a>
			</div>
		</header>
		<div class="p-top-update__main">
			<ul class="p-top-update-list">
				<TopUpdate date="2023-08-08">
					<p><a href="/kumeta/yomoyama/kuigaten">「悔画展」収録イラスト一覧</a>のページを作成。</p>
				</TopUpdate>
				<TopUpdate date="2023-08-05">
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>のページに「週刊少年サンデー 1992年7号」（『南国』センターカラー）を追加。</p>
				</TopUpdate>
				<TopUpdate date="2023-08-04">
					<p><a href="/kumeta/manga/list">作品リスト</a>のページに『せっかち伯爵と時間どろぼう』の4コマ漫画2作を追加。</p>
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>のページに「マガジン SPECIAL 2014年1号」、「マガジン SPECIAL 2014年2号」「マガジン SPECIAL 2014年8号」「楽園 Le Paradis 16号」を追加。</p>
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>のページに「声優グランプリ 2009年11月号」、「アニサマ公式メモリアル」（2010年）、「戦国大戦　攻略虎の巻」（2011年）、「戦国大戦 —1560 尾張の風雲児— 天下布武への道　〜攻略絵巻　春の陣〜」（2011年）を追加。</p>
					<p><a href="/kumeta/library/newspaper">メディア紹介 — 新聞</a>のページに「東京中日スポーツ 2021年7月12日」を追加。</p>
				</TopUpdate>
				<TopUpdate date="2023-06-20">
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>のページに「日本TVアニメーション大全」（2014年）を追加。</p>
				</TopUpdate>
				<TopUpdate date="2023-05-22">
					<p><a href="/kumeta/manga/subtitle">連載作品サブタイトル</a>に『シブヤニアファミリー』単行本2巻を反映。</p>
				</TopUpdate>
			</ul>
		</div>
	</section>
</Layout>
