---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import TopUpdate from '@components/TopUpdate.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '久米田康治データベース',
	description: '漫画家・久米田康治先生の作品データや周辺動向を紹介するファンサイト',
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} top={true}>
	<nav class="p-top-nav" id="contents" aria-labelledby="contents-hdg">
		<header class="p-top-nav__header">
			<div class="p-top-nav__hdg">
				<h2 id="contents-hdg">サイトコンテンツ</h2>
			</div>
		</header>
		<div class="p-top-nav__main">
			<div class="c-grid -top-nav">
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">漫画</H>

						<ul class="p-links -index">
							<li><a href="/kumeta/manga/list">作品リスト</a><small>（1988年〜）</small></li>
							<li><a href="/kumeta/manga/subtitle">連載作品サブタイトル</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/manga/color">本誌カラー掲載回</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/manga/comment">本誌目次コメント</a><small>（1992年〜）</small></li>
							<li><a>コンビニコミック</a><small>（2004年〜2015年）</small></li>
							<li><a href="/kumeta/manga/ebook">電子書籍の非収録コンテンツ</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">メディア紹介</H>

						<ul class="p-links -index">
							<li><a href="/kumeta/library/manga">漫画雑誌</a><small>（1979年〜）</small></li>
							<li><a href="/kumeta/library/book">図書、一般雑誌</a><small>（1993年〜）</small></li>
							<li><a href="/kumeta/library/newspaper">新聞</a><small>（2002年〜）</small></li>
							<li><a href="/kumeta/library/freepaper">フリーペーパー</a><small>（2003年〜）</small></li>
							<li><a href="/kumeta/library/web">Web</a><small>（2007年〜）</small></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">アニメ</H>

						<ul class="p-links -index">
							<li><a href="/kumeta/anime/zetsubou/diff">『さよなら絶望先生』放送版とパッケージ版の比較</a></li>
							<li><a>『かくしごと』放送版とパッケージ版の比較</a></li>
							<li><a href="/kumeta/anime/kakushigoto/storyboard">『劇場編集版　かくしごと』絵コンテ検証</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">久米田先生</H>

						<ul class="p-links -index">
							<li><a>年表</a><small>（1988年〜）</small></li>
							<li><a>イベント登壇、サイン会</a><small>（1992年〜）</small></li>
							<li><a href="/kumeta/kumeta/interview">インタビュー</a><small>（1996年〜）</small></li>
							<li><a href="/kumeta/kumeta/media">メディア出演</a><small>（2003年〜）</small></li>
							<li><a href="/kumeta/kumeta/x">X アイコン履歴</a><small>（2019年〜）</small></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">よもやま</H>

						<ul class="p-links -index">
							<li><a href="/kumeta/yomoyama/mangaka">“近所の売れないまんが家” 登場履歴</a><small>（1991年〜）</small></li>
							<li><a href="/kumeta/yomoyama/kuigaten">「悔画展」収録イラスト一覧</a><small>（2016年）</small></li>
							<li><a href="/kumeta/yomoyama/zensarashi_slideshow">「全曝し展」の様子</a><small>（2021年）</small></li>
							<li><a href="/kumeta/yomoyama/pulp_daidanen">『スタジオパルプ』最終話　大団円イラストキャラ</a></li>
							<li><a href="/kumeta/yomoyama/zetsubou_web">アニメ『さよなら絶望先生』公式サイトのアーカイブ</a></li>
						</ul>
					</Section>
				</div>
				<div class="c-grid__item">
					<Section slugger={slugger} depth={2} headingType="b">
						<H slot="heading">最新ニュース</H>

						<ul class="p-links -index">
							<li><a href="https://calendar.google.com/calendar/u/0/embed?src=udi6d8s0b41c10iesq8iovb2c8@group.calendar.google.com">久米田康治カレンダー</a><small>（Google カレンダー）</small></li>
							<li><a href="https://discord.gg/3G4kchxRgk">久米田康治情報</a><small>（Discord）</small></li>
							<li><a href="https://mastodon.social/@kumeta_news">久米田康治ニュース</a><small>（Mastodon）</small></li>
						</ul>

						<ul class="p-notes">
							<li>本誌連載、コミックス発売、イベント開催などの情報を Google カレンダーに蓄積し、自動投稿で Discord と Mastodon に流しています。</li>
							<li>皆さまからの情報提供もお待ちしております。上記 Discord サーバーに参加のうえ #news チャンネルに投稿ください。</li>
						</ul>
					</Section>
				</div>
			</div>
		</div>
	</nav>

	<section class="p-top-update" id="update">
		<header class="p-top-update__header">
			<div class="p-top-update__hdg">
				<h2>更新履歴</h2>
			</div>

			<div class="p-top-update__notice">
				<a href="/kumeta/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">新着フィード</span>
				</a>
			</div>
		</header>
		<div class="p-top-update__main">
			<ul class="p-top-update-list">
				<TopUpdate date="2024-07-22">
					<p><a href="/kumeta/yomoyama/zetsubou_web">アニメ『さよなら絶望先生』公式サイトのアーカイブ</a>の一覧表を2024年の TV アニメ 3サイト構成変更に追従</p>
				</TopUpdate>
				<TopUpdate date="2024-06-27">
					<p><a href="/kumeta/library/newspaper">メディア紹介 — 新聞</a>に「読売新聞 2002年3月23日 夕刊」「中日新聞 2009年2月10日 夕刊」「東京新聞 2009年3月16日 朝刊」「日本経済新聞 2010年5月23日 朝刊」「読売新聞 2010年6月28日 夕刊」「読売新聞 2015年7月27日 夕刊」、およびレクサス盗難に関する各紙報道（2024年6月21日〜23日）を追加</p>
					<p><a href="/kumeta/library/web">メディア紹介 — Web</a>に「Re After Recording」第2回「かくしごと」（2024年6月27日）を追加</p>
				</TopUpdate>
				<TopUpdate date="2024-06-15">
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>に「ヤングマガジンサード 2018年 Vol.9」「少年サンデーS増刊 2022年1月号」を追加</p>
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>に『吼えろペン』4巻、『吼えろペン』8巻、『鋼の錬金術師』18巻、および「空想科学「漫画」読本 3」「空想科学「漫画」読本 4」「声優グランプリ 2008年11月号」「別冊カドカワ　総力特集　乃木坂46 vol.03」「ペイントロジック 2021年11月号（Vol.130）」「週刊ファミ通 2022年10月27日号」を追加</p>
				</TopUpdate>
				<TopUpdate date="2024-06-06">
					<p><a href="/kumeta/library/book">メディア紹介 — 図書、一般雑誌</a>に「SPA! 2002年7月9日号」「日本一怖い! ブック・オブ・ザ・イヤー 2005」「SPA! 2006年1月31日号」「AERA '06.9.18号」「SPA! 2007年4月10日号」「女性自身 2012年2月14日号」を追加</p>
					<p><a href="/kumeta/library/newspaper">メディア紹介 — 新聞</a>に「朝日新聞 2012年1月26日 夕刊」を追加</p>
				</TopUpdate>
				<TopUpdate date="2024-05-29">
					<p><a href="/kumeta/library/manga">メディア紹介 — 漫画雑誌</a>に「週刊少年サンデー 2023年30号」「週刊少年サンデー 2024年27号」を追加</p>
				</TopUpdate>
			</ul>
		</div>
	</section>
</Layout>
