<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　秩父鉄道秩父本線　上り普通（7000系、2009年）",
				"heading": "秩父鉄道秩父本線　上り普通",
				"subHeading": "7000系、2009年",
				"dateModified": "2009-05-10",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/chichibu_up_2009", "name": "上り 普通（2009年）" },
					{ "path": "/tokyu/an/chichibu_down_2009", "name": "下り 普通（2009年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="l-tokyu-announce">
						<div class="l-tokyu-announce__header">
							<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　三峰口</span>行</p>
							<p class="p-tokyu-announce-car">7000系、7500系、7800系に搭載されているタイプ</p>
							<p class="p-tokyu-announce-period">2009年の7000系、7500系導入から</p>
						</div>
						<div class="l-tokyu-announce__main">
							<div class="p-tokyu-announce-station">
								<section>
									<h2>羽生停車中</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>本日は秩父鉄道をご利用いただきまして、ありがとうございます。この電車は各駅停車の三峰口行きです。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は全車両禁煙です。また、携帯電話のご利用は、マナーモードに設定して通話はご遠慮ください。皆様のご協力をお願いします。</span></p>
									<p lang="en">This is the local train bound for Mitsumineguchi station. <span class="c-tokyu-announce -manners">All cars are nosmoking. Also, please switch off your mobile phone to silent mode and refrain from talking on the phone. Thank you.</span></p>
								</section>
								<section>
									<h2>羽生発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせいたしました。この電車は各駅停車の三峰口行きです。次は西羽生、西羽生です。</p>
									<p lang="en">This is the local train bound for Mitsumineguchi station. The next stop is Nishi-hanyū.</p>
								</section>
								<section>
									<h2>西羽生到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく西羽生、西羽生です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Nishi-hanyū. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>新郷到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく新郷、新郷です。新郷では、電車とホームが離れており、段差がありますので、お降りの際は足元にご注意ください。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Shingō. Please watch your step when you leave the train. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>武州荒木到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく武州荒木、武州荒木です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Busyū-araki. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>東行田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく東行田、東行田です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Higashi-gyōda. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>行田市到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく行田市、行田市です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Gyōdashi. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>持田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく持田、持田です。持田では、電車とホームが離れており、段差がありますので、お降りの際は足元にご注意ください。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Mochida. Please watch your step when you leave the train. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>熊谷到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく熊谷、熊谷です。<span class="c-tokyu-announce -change">高崎線、新幹線ご利用のお客様はお乗り換えです。</span>お降りのお客様は、車内にお忘れ物のないよう、お支度ください。この電車は各駅停車の三峰口行きです。</p>
									<p lang="en">We will soon arrive at Kumagaya station. Please change here for the Takasaki Line and Shinkansen. This is the local train bound for Mitsumineguchi station.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>熊谷発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>本日は秩父鉄道をご利用いただきまして、ありがとうございます。この電車は各駅停車の三峰口行きです。次は上熊谷、上熊谷です。</p>
									<p lang="en">This is the local train bound for Mitsumineguchi station. The next stop is Kami-kumagaya.</p>
								</section>
								<section>
									<h2>上熊谷到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく上熊谷、上熊谷です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Kami-kumagaya. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>石原到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく石原、石原です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Ishiwara. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>ひろせ野鳥の森到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなくひろせ野鳥の森、ひろせ野鳥の森です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Hirose-yachō-no-mori. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>大麻生到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく大麻生、大麻生です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Ōaso. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>明戸到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく明戸、明戸です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Aketo. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>武川到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく武川、武川です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Takekawa. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>永田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく永田、永田です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Nagata. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>小前田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく小前田、小前田です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Omaeda. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>桜沢到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく桜沢、桜沢です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Sakurazawa. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>寄居到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく寄居、寄居です。<span class="c-tokyu-announce -change">東上線、八高線ご利用のお客様はお乗り換えです。</span>お降りのお客様は、車内にお忘れ物のないよう、お支度ください。この電車は各駅停車の三峰口行きです。</p>
									<p lang="en">We will soon arrive at Yorii. Please change here for the Tōjō Line and the Hachikō Line. This is the local train bound for Mitsumineguchi station.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>寄居発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>本日は秩父鉄道をご利用いただきまして、ありがとうございます。この電車は各駅停車の三峰口行きです。次は波久礼、波久礼です。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は全車両禁煙です。また、携帯電話のご利用は、マナーモードに設定して通話はご遠慮ください。皆様のご協力をお願いします。</span></p>
									<p lang="en">This is the local train bound for Mitsumineguchi station. The next stop is Hagure. <span class="c-tokyu-announce -manners">All cars are nosmoking. Also, please switch off your mobile phone to silent mode and refrain from talking on the phone. Thank you.</span></p>
								</section>
								<section>
									<h2>波久礼到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく波久礼、波久礼です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Hagure. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>樋口到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく樋口、樋口です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Higuchi. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>野上到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく野上、野上です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Nogami. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>長瀞到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく長瀞、長瀞です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Nagatoro. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>上長瀞到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく上長瀞、上長瀞です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Kami-nagatoro. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>親鼻到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく親鼻、親鼻です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Oyahana. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>皆野到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく皆野、皆野です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Minano. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>和銅黒谷到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく和銅黒谷、和銅黒谷です。<span class="c-tokyu-announce -door">和銅黒谷では、各車両外寄りのドアは開きません。お降りのお客様は、中寄り2つのドアからお降りください。</span>また、電車とホームが離れております。お降りの際は足元にご注意ください。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Wadō-kuroya. <span class="c-tokyu-announce -door">At next stop, only the two inside doors of each car will open.</span> Also, please watch out your step when you leave the train. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>大野原到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく大野原、大野原です。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Ōnohara. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>秩父到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく秩父、秩父です。お降りのお客様は、車内にお忘れ物のないよう、お支度ください。</p>
									<p lang="en">We will soon arrive at Chichibu.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>御花畑到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく御花畑、御花畑です。<span class="c-tokyu-announce -change">西武秩父線ご利用のお客様はお乗り換えです。</span>降り口は右側です。</p>
									<p lang="en">We will soon arrive at Ohanabatake station. Please change here for the Seibu Chichibu Line. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>御花畑発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>本日は秩父鉄道をご利用いただきまして、ありがとうございます。この電車は各駅停車の三峰口行きです。次は影森、影森です。</p>
									<p lang="en">This is the local train bound for Mitsumineguchi station. The next stop is Kagemori.</p>
								</section>
								<section>
									<h2>影森到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく影森、影森です。影森では、電車とホームが離れており、段差がありますので、お降りの際は足元にご注意ください。</p>
									<p lang="en">We will soon arrive at Kagemori. Please watch your step when you leave the train.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>浦山口到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく浦山口、浦山口です。<span class="c-tokyu-announce -door">浦山口では、各車両外寄りのドアは開きません。お降りのお客様は、中寄り2つのドアからお降りください。</span>また、電車とホームが離れており、段差がありますので、お降りの際は足元にご注意ください。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Urayamaguchi. <span class="c-tokyu-announce -door">Only the two inside doors of each car will open.</span> Also, please watch out your step when you leave the train. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>武州中川到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく武州中川、武州中川です。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Busyū-nakagawa. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>武州日野到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく武州日野、武州日野です。武州日野では、電車とホームが離れており、段差がありますので、お降りの際は足元にご注意ください。降り口は右側です。</p>
									<p lang="en">We will soon arrive at Busyū-hino. Please watch your step when you leave the train. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>白久到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく白久、白久です。白久では、電車とホームが離れており、段差がありますので、お降りの際は足元にご注意ください。降り口は左側です。</p>
									<p lang="en">We will soon arrive at Shiroku. Please watch your step when you leave the train. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>三峰口到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車お疲れさまでした。まもなく終点の三峰口、三峰口です。車内にお忘れ物のないよう、お支度ください。本日は秩父鉄道をご利用いただきましてありがとうございました。</p>
									<p lang="en">We will soon arrive at Mitsumineguchi station, the last stop. Thank you.</p>
								</section>
							</div>
						</div>
						<div class="l-tokyu-announce__footer">
							<dl class="p-tokyu-announce-data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2009年5月10日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7000系3両編成</dd>
								</div>
							</dl>
						</div>
					</div>

					<ul class="p-notes">
						<li>
							上記のほか、駅発車前に以下の放送が流れる場合があります。
							<ul>
								<li><q>ドアが閉まります。ご注意ください。</q></li>
							</ul>
						</li>
					</ul>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
