<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　東急田園都市線　上り準急（8590系、2013年）",
				"headline": "田園都市線　上り準急",
				"subHeading": "8590系、2013年",
				"dateModified": "2013-07-23",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/dento_up_local_2006", "name": "上り 普通（2006年）" },
					{ "path": "/tokyu/an/dento_up_semiexp_2009", "name": "上り 準急（2009年）" },
					{ "path": "/tokyu/an/dento_up_semiexp_2013", "name": "上り 準急（2013年）" },
					{ "path": "/tokyu/an/dento_up_exp_2005", "name": "上り 急行（2005年）" },
					{ "path": "/tokyu/an/dento_down_local_2006", "name": "下り 普通（2006年）" },
					{ "path": "/tokyu/an/dento_down_exp_2005", "name": "下り 急行（2005年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -semiexp">準急　清澄白河</span>行</p>
							<p class="p-tokyu-announce__car">2000系、8590系、8500系に搭載されているタイプ</p>
							<p class="p-tokyu-announce__period">2009年の大井町線溝の口延伸から</p>
							<p class="p-tokyu-announce__option">（マナー放送、英語放送カット）</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>中央林間停車中</h2>
									<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は半蔵門線直通、準急清澄白河行きです。発車までしばらくお待ちください。</p>
								</section>
								<section>
									<h2>中央林間発車</h2>
									<p>本日も東急田園都市線をご利用くださいまして、ありがとうございます。この電車は半蔵門線直通、準急清澄白河行きです。</p>
								</section>
								<section>
									<h2>長津田到着</h2>
									<p>まもなく長津田、長津田です。<span class="c-tokyu-announce -change">こどもの国線、JR横浜線はお乗り換えです。</span>長津田を出ますと、青葉台に停まります。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>長津田発車</h2>
									<p>この電車は半蔵門線直通、準急清澄白河行きです。</p>
								</section>
								<section>
									<h2>青葉台到着</h2>
									<p>まもなく青葉台、青葉台です。青葉台を出ますと、あざみ野に停まります。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>あざみ野到着</h2>
									<p>まもなくあざみ野、あざみ野です。<span class="c-tokyu-announce -change">横浜市営地下鉄線はお乗り換えです。</span>あざみ野を出ますと、たまプラーザに停まります。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>たまプラーザ到着</h2>
									<p>まもなくたまプラーザ、たまプラーザです。お降りの際は、足元にご注意ください。たまプラーザを出ますと、鷺沼に停まります。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>鷺沼到着</h2>
									<p>まもなく鷺沼、鷺沼です。鷺沼を出ますと、溝の口に停まります。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>溝の口到着</h2>
									<p>まもなく溝の口、溝の口です。<span class="c-tokyu-announce -change">大井町線、JR南武線はお乗り換えです。</span>溝の口を出ますと、二子玉川に停まります。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>二子玉川到着</h2>
									<p>この電車は半蔵門線直通、準急清澄白河行きです。まもなく二子玉川、二子玉川です。<span class="c-tokyu-announce -change">大井町線はお乗り換えです。</span>出口は右側です。二子玉川から渋谷までと、半蔵門線内の各駅に停まります。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>二子玉川発車</h2>
									<p>この電車は半蔵門線直通、準急清澄白河行きです。次は用賀、用賀です。出口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>用賀発車</h2>
									<p>次は桜新町、桜新町です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桜新町発車</h2>
									<p>次は駒沢大学、駒沢大学です。出口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>駒沢大学発車</h2>
									<p>次は三軒茶屋、三軒茶屋です。出口は左側です。<span class="c-tokyu-announce -change">世田谷線はお乗り換えです。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>三軒茶屋発車</h2>
									<p>次は池尻大橋、池尻大橋です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>渋谷到着</h2>
									<p>まもなく渋谷、渋谷です。<span class="c-tokyu-announce -change">東横線、JR線、副都心線、京王井の頭線はお乗り換えです。</span>出口は右側です。この電車は半蔵門線直通、清澄白河行きです。本日も東急田園都市線をご利用くださいまして、ありがとうございました。</p>
								</section>
							</div>

							<p class="p-tokyu-announce__note">（地下鉄半蔵門線へ直通）</p>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2013年7月23日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>8590系10両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
