<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　伊賀鉄道　上り（200系、2012年）",
				"headline": "伊賀鉄道　上り",
				"subHeadline": "200系、2012年",
				"dateModified": "2012-10-14",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/iga_up_2012", "name": "上り 普通（2012年）" },
					{ "path": "/tokyu/an/iga_down_2013", "name": "下り 普通（2013年）" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　伊賀上野</span>行</p>
							<p class="p-tokyu-announce__period">2009年の200系導入から</p>
							<p class="p-tokyu-announce__option">（観光放送）</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>伊賀神戸停車中</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>伊賀鉄道をご利用いただき、ありがとうございます。この電車は上野市方面伊賀上野行きです。発車までしばらくお待ちください。<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先座席付近では、携帯電話の電源をお切りください。それ以外の場所では、マナーモードにしていただき、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
								</section>
								<section>
									<h2>伊賀神戸発車</h2>
									<p>お待たせしました。ご乗車ありがとうございます。この電車は上野市方面伊賀上野行きです。<span class="c-tokyu-announce -cm">これよりみなさまを忍者と芭蕉の上野町へご案内いたします。</span>次は比土、比土です。<span class="c-tokyu-announce -cm">古代の祭祀場、城之越遺跡へお越しのお客様は、次の駅が便利です。</span></p>
								</section>
								<section>
									<h2>比土到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>比土、比土です。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>比土発車</h2>
									<p>次は上林、上林です。</p>
									<p><span class="c-tokyu-announce -chime">♪</span> <span class="c-tokyu-announce -cm">ここで簡単に、忍者と芭蕉の上野町の見所をご紹介します。上野市駅近くにある上野公園には、上野城をはじめ伊賀流忍者博物館や松尾芭蕉ゆかりの俳聖殿がございます。また公園周辺には、だんじり会館、上野歴史民俗資料館、伊賀焼きの展示販売をしている伊賀信楽古陶館などがあり、いずれも上野市駅が便利です。このほか、芭蕉翁ゆかりの蓑虫庵は茅町駅近くに、また、荒木又右衛門の仇討ちで有名な鍵屋の辻や藤堂藩藩校崇廣堂は西大手駅近くにございます。観光地散策に便利な伊賀鉄道に乗って、上野町巡りを存分にお楽しみください。</span></p>
								</section>
								<section>
									<h2>上林到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>上林、上林です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。電車とホームの間が広く空いています。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上林発車</h2>
									<p>次は丸山、丸山です。</p>
								</section>
								<section>
									<h2>丸山到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>丸山、丸山です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>丸山停車中</h2>
									<p>電車の行き違い待ちをいたします。発車までしばらくお待ち願います。</p>
								</section>
								<section>
									<h2>丸山発車</h2>
									<p>次は依那古、依那古です。</p>
								</section>
								<section>
									<h2>依那古到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>依那古、依那古です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>依那古発車</h2>
									<p>次は市部、市部です。<span class="c-tokyu-announce -cm">市部駅には無料駐車場がございます。パーク&amp;ライドに是非ご利用ください。</span></p>
								</section>
								<section>
									<h2>市部到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>市部、市部です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>市部発車</h2>
									<p>次は猪田道、猪田道です。</p>
								</section>
								<section>
									<h2>猪田道到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>猪田道、猪田道です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>猪田道発車</h2>
									<p>次は桑町、桑町です。</p>
								</section>
								<section>
									<h2>桑町到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>桑町、桑町です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桑町発車</h2>
									<p>次は茅町、茅町です。<span class="c-tokyu-announce -cm">芭蕉翁ゆかりの蓑虫庵へお越しのお客様は、次の駅が便利です。</span></p>
								</section>
								<section>
									<h2>茅町到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>茅町、茅町です。お降りの際は、駅の改札口できっぷをお渡しください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>茅町停車中</h2>
									<p>電車の行き違い待ちをいたします。発車までしばらくお待ち願います。</p>
								</section>
								<section>
									<h2>茅町発車</h2>
									<p>次は広小路、広小路です。</p>
								</section>
								<section>
									<h2>広小路到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>広小路、広小路です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。電車とホームの間が広く空いています。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>広小路発車</h2>
									<p>次は上野市、上野市です。<span class="c-tokyu-announce -cm">上野城、上野公園、忍者博物館へお越しのお客様は、次の駅が便利です。</span></p>
								</section>
								<section>
									<h2>上野市到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく上野市、上野市です。この電車は伊賀上野行きです。先へお越しのお客様は、このままご乗車ください。お降りの際は、駅の改札口できっぷをお渡しください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。伊賀鉄道をご利用いただきありがとうございました。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上野市発車</h2>
									<p>伊賀鉄道をご利用いただき、ありがとうございます。この電車は伊賀上野行きです。次は西大手、西大手です。<span class="c-tokyu-announce -cm">荒木又右衛門の仇討ちで有名な鍵屋の辻や、江戸時代に建てられた藤堂藩藩校崇廣堂へお越しのお客様は、次の駅が便利です。</span></p>
								</section>
								<section>
									<h2>西大手到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>西大手、西大手です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>西大手発車</h2>
									<p>次は新居、新居です。<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先座席付近では、携帯電話の電源をお切りください。それ以外の場所では、マナーモードにしていただき、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
								</section>
								<section>
									<h2>新居到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>新居、新居です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。電車とホームの間が広く空いています。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>新居発車</h2>
									<p>次は伊賀上野、伊賀上野、終点です。<span class="c-tokyu-announce -change">JR線はお乗り換えです。</span></p>
								</section>
								<section>
									<h2>伊賀上野到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく伊賀上野、伊賀上野、終点です。<span class="c-tokyu-announce -change">JR線はお乗り換えです。</span>きっぷ、定期券のお客様は、運転士にお示し願います。きっぷをお持ちでないお客様は、前の運賃箱に運賃を入れ、精算券をお受け取りください。お出口は左側です。扉にご注意ください。伊賀鉄道をご利用いただきありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2012年10月14日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>200系2両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
