<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　福島交通飯坂線　上り（2006年1月、7000系3連）",
				"headline": "福島交通飯坂線　上り",
				"subHeadline": "2006年1月、7000系3連",
				"dateModified": "2006-01-17",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/iizaka_up_2006_7000_2r", "name": "上り 7000系2連（2006年1月）" },
					{ "path": "/tokyu/an/iizaka_up_2006_7000_3r", "name": "上り 7000系3連（2006年1月）" },
					{ "path": "/tokyu/an/iizaka_up_2006_2_7000_2r", "name": "上り 7000系2連（2006年4月）" },
					{ "path": "/tokyu/an/iizaka_up_2008_7000_2r", "name": "上り 7000系2連（2008年）" },
					{ "path": "/tokyu/an/iizaka_up_2008_7000_3r", "name": "上り 7000系3連（2008年）" },
					{ "path": "/tokyu/an/iizaka_up_2012_7000_3r", "name": "上り 7000系3連（2012年）" },
					{ "path": "/tokyu/an/iizaka_up_2017_1000_2r", "name": "上り 1000系2連（2017年）" },
					{ "path": "/tokyu/an/iizaka_up_2017_1000_3r", "name": "上り 1000系3連（2017年）" },
					{ "path": "/tokyu/an/iizaka_down_2006_7000_2r", "name": "下り 7000系2連（2006年）" },
					{ "path": "/tokyu/an/iizaka_down_2006_7000_3r", "name": "下り 7000系3連（2006年）" },
					{ "path": "/tokyu/an/iizaka_down_sakuramizu_2007_7000_2r", "name": "下り 桜水行 7000系2連（2007年）" },
					{ "path": "/tokyu/an/iizaka_down_2008_7000_2r", "name": "下り 7000系2連（2008年）" },
					{ "path": "/tokyu/an/iizaka_down_2011_7000_2r", "name": "下り 7000系2連（2011年）" },
					{ "path": "/tokyu/an/iizaka_down_2012_7000_3r", "name": "下り 7000系3連（2012年）" },
					{ "path": "/tokyu/an/iizaka_down_2017_1000_2r", "name": "下り 1000系2連（2017年）" },
					{ "path": "/tokyu/an/iizaka_down_2017_1000_3r", "name": "下り 1000系3連（2017年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通　福島</span>行</p>
							<p class="p-tokyu-announce__car">7000系3両編成列車で放送されるタイプ</p>
							<p class="p-tokyu-announce__period">2006年春まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>飯坂温泉停車中</h2>
									<p>ご乗車ありがとうございます。<span class="c-tokyu-announce -manners">お客様へお願いいたします。優先席付近では携帯電話の電源を切って頂きますよう、お願いいたします。そのほかの場所では、マナーモードに設定のうえ、通話はご遠慮願います。お体の不自由な方、お年寄りには、なるべく席をお譲り願います。</span></p>
								</section>
								<section>
									<h2>飯坂温泉発車</h2>
									<p>ご乗車ありがとうございます。この電車は福島行きです。各駅に停まります。<span class="c-tokyu-announce -manners">車内は禁煙となっておりますので、お煙草はご遠慮願います。</span>次は花水坂、花水坂でございます。</p>
								</section>
								<section>
									<h2>花水坂到着</h2>
									<p>まもなく花水坂です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>花水坂発車</h2>
									<p>次は医王寺前、医王寺前でございます。乗車券をお持ちでない方は、車掌が参りました際にお求め願います。</p>
									<p><b class="c-tokyu-announce -cmsummary">内科・外科・泌尿器科医院の宣伝</b></p>
									<p>まもなく医王寺前です。降り口は右側です。なお、電車とホームの間が離れております。お降りの際、足元にご注意願います。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>医王寺前発車</h2>
									<p>次は平野、平野でございます。<span class="c-tokyu-announce -manners">お客様へお願いいたします。優先席付近では携帯電話の電源を切って頂きますよう、お願いいたします。そのほかの場所では、マナーモードに設定のうえ、通話はご遠慮願います。お体の不自由な方、お年寄りには、なるべく席をお譲り願います。</span></p>
								</section>
								<section>
									<h2>平野到着</h2>
									<p>まもなく平野です。降り口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>平野発車</h2>
									<p>次は桜水、桜水でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">病院の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">餃子店の宣伝</b></p>
									<p>まもなく桜水です。降り口は右側です。<span class="c-tokyu-announce -door">なお、たいへんご迷惑さまですが、3両目の後ろドア開きませんので、お降りの際はそのほかのドアからお降り願います。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桜水発車</h2>
									<p>次は笹谷、笹谷でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">韓国料理店の宣伝</b></p>
									<p>まもなく笹谷です。降り口は右側です。なお、電車とホームの間が離れております。お降りの際、足元にご注意願います。<span class="c-tokyu-announce -door">また、たいへんご迷惑さまですが、3両目の後ろドア開きませんので、お降りの際はそのほかのドアからお降り願います。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>笹谷発車</h2>
									<p>次は上松川、上松川でございます。<span class="c-tokyu-announce -manners">お客様へお願いいたします。優先席付近では携帯電話の電源を切って頂きますよう、お願いいたします。そのほかの場所では、マナーモードに設定のうえ、通話はご遠慮願います。</span></p>
								</section>
								<section>
									<h2>上松川到着</h2>
									<p>まもなく上松川です。降り口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上松川発車</h2>
									<p>次は泉、泉でございます。<span class="c-tokyu-announce -manners">お客様へお願いいたします。優先席付近では携帯電話の電源を切って頂きますよう、お願いいたします。そのほかの場所では、マナーモードに設定のうえ、通話はご遠慮願います。</span></p>
									<p><b class="c-tokyu-announce -cmsummary">皮膚科医院の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">カジノ店の宣伝</b></p>
									<p>まもなく泉です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>泉発車</h2>
									<p>次は岩代清水、岩代清水でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">眼科医院の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">耳鼻咽喉科医院の宣伝</b></p>
									<p>まもなく岩代清水です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>岩代清水発車</h2>
									<p>次は美術館図書館前、美術館図書館前でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">家庭教師協会の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">着物店の宣伝</b></p>
									<p>まもなく美術館図書館前です。降り口は右側です。なお、電車とホームの間が離れております。お降りの際、足元にご注意願います。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>美術館図書館前発車</h2>
									<p>次は曽根田、曽根田でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">旅館の宣伝</b></p>
									<p>まもなく曽根田です。降り口は左側です。<span class="c-tokyu-announce -door">なお、たいへんご迷惑さまですが、1両目の前ドア、および中ドア開きませんので、お降りの際はそのほかのドアからお降り願います。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>曽根田発車</h2>
									<p>ご乗車ありがとうございました。次は終点、福島でございます。どなた様もお忘れ物のないよう、お支度願います。<span class="c-tokyu-announce -change">JR線ご利用の方は、JR1番線ホームにお回りください。阿武隈急行線は、降りたホームの右側です。</span></p>
									<p><b class="c-tokyu-announce -cmsummary">お風呂工房の宣伝</b></p>
									<p>まもなく終点、福島です。降り口は右側です。ご乗車ありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2006年1月17日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7000系3両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
