<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急池上線　下りの自動放送（7700系、2015年）",
				"headline": "池上線　下り",
				"subHeadline": "7700系、2015年",
				"dateModified": "2015-10-25",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "東急電車の自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/ikegami_up_2004_7700", "name": "上り 7700系（2004年）" },
					{ "path": "/tokyu/an/ikegami_up_2014_1500", "name": "上り 1000系1500番台（2014年）" },
					{ "path": "/tokyu/an/ikegami_up_2016_7700", "name": "上り 7700系（2016年）" },
					{ "path": "/tokyu/an/ikegami_up_2016_1000", "name": "上り 1000系（2016年）" },
					{ "path": "/tokyu/an/ikegami_down_2004_7700", "name": "下り 7700系（2004年）" },
					{ "path": "/tokyu/an/ikegami_down_2014_1500", "name": "下り 1000系1500番台（2014年）" },
					{ "path": "/tokyu/an/ikegami_down_2015_7700", "name": "下り 7700系（2015年）" },
					{ "path": "/tokyu/an/ikegami_down_2016_1000", "name": "下り 1000系（2016年）" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　蒲田</span>行</p>
							<p class="p-tokyu-announce__car">7700系に搭載されているタイプ</p>
							<p class="p-tokyu-announce__period">2015年から2018年の廃車まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>五反田停車中</h2>
									<p>ご案内いたします。この電車は蒲田行きです。</p>
								</section>
								<section>
									<h2>大崎広小路到着</h2>
									<p>本日も東急池上線をご利用くださいまして、ありがとうございます。この電車は蒲田行きです。まもなく大崎広小路です。出口は右側です。</p>
									<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>戸越銀座到着</h2>
									<p>まもなく戸越銀座です。出口は左側です。<span class="c-tokyu-announce -manners">お年寄りや体の不自由なお客様には、席をお譲りください。皆様のご協力をお願いいたします。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>荏原中延到着</h2>
									<p>まもなく荏原中延です。次の駅は電車とホームの間が一部広く空いております。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>旗の台到着</h2>
									<p>まもなく旗の台です。<span class="c-tokyu-announce -cm">昭和大学最寄り駅です。</span><span class="c-tokyu-announce -change">大井町線はお乗り換えです。</span></p>
									<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。ドアの開け閉めの際に手を挟まれたり、戸袋に引き込まれないようご注意ください。また、駆け込み乗車はおやめください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>長原到着</h2>
									<p>まもなく長原です。</p>
									<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>洗足池到着</h2>
									<p>まもなく洗足池です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>石川台到着</h2>
									<p>まもなく石川台です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>雪が谷大塚到着</h2>
									<p>まもなく雪が谷大塚です。出口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>御嶽山到着</h2>
									<p>まもなく御嶽山です。出口は左側です。</p>
									<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>久が原到着</h2>
									<p>まもなく久が原です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>千鳥町到着</h2>
									<p>まもなく千鳥町です。次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>池上到着</h2>
									<p>まもなく池上です。お降りの際は、足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>蓮沼到着</h2>
									<p>まもなく蓮沼です。</p>
									<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。ドアの開け閉めの際に手を挟まれたり、戸袋に引き込まれないようご注意ください。また、駆け込み乗車はおやめください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>蓮沼発車</h2>
									<p>次は蒲田、終点です。<span class="c-tokyu-announce -change">多摩川線、JR京浜東北線はお乗り換えです。</span></p>
								</section>
								<section>
									<h2>蒲田到着</h2>
									<p>まもなく蒲田、終点です。本日も東急池上線をご利用くださいまして、ありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2015年10月25日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7700系3両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
