<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　東急目黒線　下り急行（新3000系、2008年）",
				"headline": "目黒線　下り急行",
				"subHeading": "新3000系、2008年",
				"dateModified": "2008-06-22",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/meguro_up_local_2006", "name": "上り 普通（2006年）" },
					{ "path": "/tokyu/an/meguro_up_local_2009", "name": "上り 普通（2009年）" },
					{ "path": "/tokyu/an/meguro_up_local_2020", "name": "上り 普通（2020年）" },
					{ "path": "/tokyu/an/meguro_up_exp_2006", "name": "上り 急行（2006年）" },
					{ "path": "/tokyu/an/meguro_up_exp_2008", "name": "上り 急行（2008年）" },
					{ "path": "/tokyu/an/meguro_up_exp_2020", "name": "上り 急行（2020年）" },
					{ "path": "/tokyu/an/meguro_down_local_2006", "name": "下り 普通（2006年）" },
					{ "path": "/tokyu/an/meguro_down_local_2009", "name": "下り 普通（2009年）" },
					{ "path": "/tokyu/an/meguro_down_local_2020", "name": "下り 普通（2020年）" },
					{ "path": "/tokyu/an/meguro_down_exp_2006", "name": "下り 急行（2006年）" },
					{ "path": "/tokyu/an/meguro_down_exp_2008", "name": "下り 急行（2008年）" },
					{ "path": "/tokyu/an/meguro_down_exp_2020", "name": "下り 急行（2020年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -exp">急行ワンマン　日吉</span>行</p>
							<p class="p-tokyu-announce__period">2008年の日吉延伸から</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>目黒発車</h2>
									<p>本日も東急目黒線をご利用くださいまして、ありがとうございます。この電車は大岡山、田園調布方面、急行日吉行きです。停まる駅は、武蔵小山、大岡山、田園調布、多摩川、武蔵小杉、終点日吉です。</p>
									<p lang="en">Thank you for using the Tōkyū Meguro Line. This is the express bound for Hiyoshi.</p>
									<p><span class="c-tokyu-announce -manners">東急電鉄からのお願いです。優先席ではお年寄りやお体の不自由なお客様、妊娠中や乳幼児をお連れのお客様には、席をお譲りください。車内マナーにご協力をお願いいたします。</span></p>
								</section>
								<section>
									<h2>武蔵小山到着</h2>
									<p>まもなく武蔵小山です。武蔵小山の次は大岡山に停まります。西小山、洗足には停まりません。出口は左側です。</p>
									<p lang="en">We will soon make a brief stop at Musashi-koyama. The stop after Musashi-koyama, will be Ōokayama.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>武蔵小山発車</h2>
									<p>この電車は急行日吉行きです。</p>
									<p lang="en">This is the express bound for Hiyoshi.</p>
									<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車サイン音が鳴り終わりましたら、ドアが閉まりますので、無理なご乗車はお止めください。</span></p>
								</section>
								<section>
									<h2>武蔵小山〜大岡山走行中</h2>
									<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
								</section>
								<section>
									<h2>大岡山到着</h2>
									<p>まもなく大岡山です。<span class="c-tokyu-announce -change">大井町線はお乗り換えです。</span>出口は右側です。大岡山の次は田園調布に停まります。奥沢には停まりません。</p>
									<p lang="en">We will soon make a brief stop at Ōokayama. <span class="c-tokyu-announce -change">Passengers changing to the Ōimachi Line, please transfer at this station.</span> The stop after Ōokayama, will be Den-en-chōfu.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>大岡山発車</h2>
									<p>この電車は急行日吉行きです。</p>
									<p lang="en">This is the express bound for Hiyoshi.</p>
								</section>
								<section>
									<h2>大岡山〜田園調布走行中</h2>
									<p><span class="c-tokyu-announce -manners">お客様にお願いいたします。足を組んだり、前の方に出したりしますと、ほかのお客様のご迷惑となりますので、ご注意ください。</span></p>
								</section>
								<section>
									<h2>田園調布到着</h2>
									<p>まもなく田園調布です。<span class="c-tokyu-announce -change">東横線中目黒、渋谷方面はお乗り換えです。</span>出口は左側です。田園調布の次は多摩川に停まります。</p>
									<p lang="en">
										We will soon make a brief stop at Den-en-chōfu. <span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line for Nakameguro and Shibuya, please transfer at this station.</span>
										The stop after Den-en-chōfu, will be Tamagawa.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>多摩川到着</h2>
									<p>まもなく多摩川です。<span class="c-tokyu-announce -change">東急多摩川線はお乗り換えです。</span>多摩川の次は武蔵小杉に停まります。新丸子には停まりません。お降りの際は、足元にご注意ください。</p>
									<p lang="en">We will soon make a brief stop at Tamagawa. <span class="c-tokyu-announce -change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</span> The stop after Tamagawa, will be Musashi-kosugi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>武蔵小杉到着</h2>
									<p>まもなく武蔵小杉です。<span class="c-tokyu-announce -change">JR線はお乗り換えです。</span>武蔵小杉の次は日吉、終点です。元住吉には停まりません。</p>
									<p lang="en">We will soon make a brief stop at Musashi-kosugi. <span class="c-tokyu-announce -change">Passengers changing to the JR Line, please transfer at this station.</span> The stop after Musashi-kosugi, will be Hiyoshi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>日吉到着</h2>
									<p>まもなく日吉、終点です。<span class="c-tokyu-announce -change">東横線、横浜市営地下鉄はお乗り換えです。</span>出口は左側です。お忘れ物無さいませんように、ご注意ください。本日も東急目黒線をご利用くださいまして、ありがとうございました。</p>
									<p lang="en">
										We will soon be arriving at Hiyoshi, the last stop of this line. <span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line, and the Yokohama Municipal Subway, please transfer at this station.</span>
										Thank you for using the Tōkyū Meguro Line.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>日吉到着後</h2>
									<p>ご乗車ありがとうございました。日吉、この電車の終点です。お忘れ物無さいませんように、ご注意ください。この電車は車庫に入ります。ご乗車にはなれませんので、ご注意ください。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2008年6月22日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>3000系6両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
