<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　水間鉄道　下り（1000形、2006年）",
				"heading": "水間鉄道　下り",
				"subHeading": "1000形、2006年",
				"dateModified": "2006-12-16",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/mizuma_up_2006_7000", "name": "上り 7000系ツーマン（2006年）" },
					{ "path": "/tokyu/an/mizuma_up_2007_1000", "name": "上り 1000形ツーマン（2007年）" },
					{ "path": "/tokyu/an/mizuma_up_2009_1000_oneman", "name": "上り 1000形ワンマン（2009年）" },
					{ "path": "/tokyu/an/mizuma_up_2009_1000", "name": "上り 1000形（2009年）" },
					{ "path": "/tokyu/an/mizuma_down_2006_7000", "name": "下り 7000系ツーマン（2006年）" },
					{ "path": "/tokyu/an/mizuma_down_2006_7000_oneman", "name": "下り 7000系ワンマン（2006年）" },
					{ "path": "/tokyu/an/mizuma_down_2006_1000", "name": "下り 1000形ツーマン（2006年）" },
					{ "path": "/tokyu/an/mizuma_down_2007_1000_oneman", "name": "下り 1000形ワンマン（2007年）" },
					{ "path": "/tokyu/an/mizuma_down_2009_1000", "name": "下り 1000形（2009年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="l-tokyu-announce">
						<div class="l-tokyu-announce__header">
							<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通　水間</span>行</p>
							<p class="p-tokyu-announce-car">1000形に搭載されているタイプ</p>
							<p class="p-tokyu-announce-period">2006年の1000形登場から、2009年のPiTaPa導入まで</p>
						</div>
						<div class="l-tokyu-announce__main">
							<div class="p-tokyu-announce-station">
								<section>
									<h2>貝塚停車中</h2>
									<p>本日も水間鉄道をご利用くださいまして、ありがとうございます。この電車は水間行きです。発車までしばらくお待ちください。</p>
								</section>
								<section>
									<h2>貝塚発車</h2>
									<p>長らくの間お待たせいたしました。毎度ご乗車ありがとうございます。この電車は水間行きです。次は貝塚市役所前、貝塚市役所前です。<span class="c-tokyu-announce -cm">貝塚市役所、福祉センター、コスモスシアターへお越しのお客様は、次でお降りください。</span>出口は右側です。</p>
								</section>
								<section>
									<h2>貝塚市役所前到着</h2>
									<p>まもなく貝塚市役所前、貝塚市役所前です。出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>貝塚市役所前発車</h2>
									<p>次は近義の里、近義の里です。出口は続いて右側です。</p>
								</section>
								<section>
									<h2>近義の里到着</h2>
									<p>まもなく近義の里、近義の里です。出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>近義の里発車</h2>
									<p>次は石才、石才です。出口は左側に変わります。</p>
								</section>
								<section>
									<h2>石才到着</h2>
									<p>まもなく石才、石才です。出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>石才発車</h2>
									<p>次は清児、清児です。出口は続いて左側です。</p>
								</section>
								<section>
									<h2>清児到着</h2>
									<p>まもなく清児、清児です。出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>清児発車</h2>
									<p>次は名越、名越です。出口は右側に変わります。</p>
								</section>
								<section>
									<h2>名越到着</h2>
									<p>まもなく名越、名越です。出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>名越到着</h2>
									<p>次は森、森です。出口は左側に変わります。<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先座席付近では、携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。また、不審物などを発見されましたら乗務員、または駅員にお知らせください。皆様のご協力をお願いします。</span></p>
								</section>
								<section>
									<h2>森到着</h2>
									<p>まもなく森、森です。出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>森発車</h2>
									<p>次は三ツ松、三ツ松です。出口は右側に変わります。</p>
								</section>
								<section>
									<h2>三ツ松到着</h2>
									<p>まもなく三ツ松、三ツ松です。出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>三ツ松発車</h2>
									<p>次は三ヶ山口、三ヶ山口です。出口は左側に変わります。</p>
								</section>
								<section>
									<h2>三ヶ山口到着</h2>
									<p>まもなく三ヶ山口、三ヶ山口です。出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce-station">
								<section>
									<h2>三ヶ山口発車</h2>
									<p>次は終点、水間、水間です。車内にお忘れ物なさいませんよう、ご注意ください。</p>
								</section>
								<section>
									<h2>水間到着</h2>
									<p>まもなく終点、水間、水間です。回数券、および車内でお買い求め頂いた乗車券は、有人改札をご利用ください。車内にお忘れ物なさいませんよう、ご注意ください。本日も水間鉄道をご利用くださいまして、誠にありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="l-tokyu-announce__footer">
							<dl class="p-tokyu-announce-data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2006年12月16日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>1000形2両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
