<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　長野電鉄長野線　下り普通（8500系、2006年）",
				"headline": "長野電鉄長野線　下り普通",
				"subHeading": "8500系、2006年",
				"dateModified": "2006-01-20",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/nagano_up_2006", "name": "上り 普通（2006年）" },
					{ "path": "/tokyu/an/nagano_up_2013", "name": "上り 普通（2013年）" },
					{ "path": "/tokyu/an/nagano_down_2006", "name": "下り 普通（2006年）" },
					{ "path": "/tokyu/an/nagano_down_2013", "name": "下り 普通（2013年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　信州中野</span>行</p>
							<p class="p-tokyu-announce__car">8500系に搭載されているタイプ</p>
							<p class="p-tokyu-announce__period">2007年の北須坂駅無人化まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>長野停車中</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせをいたしました。本日は長野電鉄をご利用いただきまして、ありがとうございます。この列車は、各駅停車信州中野行きです。<span class="c-tokyu-announce -change">屋代線をご利用のお客様は、須坂でお乗り換えです。</span> <span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙になっております。お煙草はご遠慮ください。</span>次は市役所前、市役所前です。</p>
								</section>
								<section>
									<h2>長野発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせをいたしました。本日は長野電鉄をご利用いただきまして、ありがとうございます。この列車は、各駅停車信州中野行きです。<span class="c-tokyu-announce -change">屋代線をご利用のお客様は、須坂でお乗り換えです。</span> <span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙になっております。お煙草はご遠慮ください。</span>次は市役所前、市役所前です。</p>
								</section>
								<section>
									<h2>市役所前到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく市役所前です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>市役所前発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は権堂、権堂です。</p>
								</section>
								<section>
									<h2>権堂到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく権堂です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>権堂発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は善光寺下、善光寺下です。</p>
								</section>
								<section>
									<h2>善光寺下到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく善光寺下です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>善光寺下発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は本郷、本郷です。</p>
								</section>
								<section>
									<h2>本郷到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく本郷です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>本郷発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は桐原、桐原です。</p>
								</section>
								<section>
									<h2>桐原到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく桐原です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桐原発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は信濃吉田、信濃吉田です。</p>
								</section>
								<section>
									<h2>信濃吉田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく信濃吉田です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>信濃吉田発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は朝陽、朝陽です。<span class="c-tokyu-announce -manners">車内での携帯電話のご使用は、周りのお客様の迷惑となりますので、ご遠慮いただきますよう、お願いいたします。</span></p>
								</section>
								<section>
									<h2>朝陽到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく朝陽です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>朝陽発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は附属中学前、附属中学前です。</p>
								</section>
								<section>
									<h2>附属中学前到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく附属中学前です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>附属中学前発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は柳原、柳原です。</p>
								</section>
								<section>
									<h2>柳原到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく柳原です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>柳原発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は村山、村山です。</p>
								</section>
								<section>
									<h2>村山到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく村山です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>村山発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は日野、日野です。</p>
								</section>
								<section>
									<h2>日野到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく日野です。乗車券は駅出口の乗車券回収箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>日野発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は須坂、須坂です。<span class="c-tokyu-announce -change">屋代線をご利用のお客様は、須坂でお乗り換えです。</span>お降りのお客様は、お忘れ物などございませんよう、お支度ください。</p>
								</section>
								<section>
									<h2>須坂到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく須坂です。<span class="c-tokyu-announce -change">屋代線をご利用のお客様は、須坂でお乗り換えです。</span>お降りのお客様は、お忘れ物などなさいませんよう、お気を付けください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>須坂発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。この列車は、各駅停車信州中野行きです。次は北須坂、北須坂です。<span class="c-tokyu-announce -manners">駆け込み乗車は危険なばかりでなく、ほかのお客様の迷惑にもなりますので、お止めください。</span></p>
								</section>
								<section>
									<h2>北須坂到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく北須坂です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>北須坂発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は小布施、小布施です。</p>
								</section>
								<section>
									<h2>小布施到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく小布施です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>小布施発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は都住、都住です。</p>
								</section>
								<section>
									<h2>都住到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく都住です。乗車券はお降りの際、乗務員にお渡しください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>都住発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は桜沢、桜沢です。</p>
								</section>
								<section>
									<h2>桜沢到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく桜沢です。乗車券はお降りの際、乗務員にお渡しください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桜沢発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は延徳、延徳です。</p>
								</section>
								<section>
									<h2>延徳到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく延徳です。乗車券は駅出口の乗車券回収箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>延徳発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は信州中野、信州中野です。この列車は、信州中野止まりです。どなた様も、お忘れ物などございませんよう、お支度ください。</p>
								</section>
								<section>
									<h2>信州中野到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく信州中野です。この列車は、信州中野止まりです。どなた様も、お忘れ物などなさいませんよう、お気を付けください。本日は長野電鉄をご利用いただきましてありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2006年1月20日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>8500系3両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
