<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　大井川鐵道大井川本線　上り電車急行（7200系、2015年）",
				"headline": "大井川鐵道大井川本線　上り電車急行",
				"subHeadline": "7200系、2015年",
				"dateModified": "2015-05-04",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/oigawa_up_2015", "name": "上り 普通（2015年）" },
					{ "path": "/tokyu/an/oigawa_up_exp_2015", "name": "上り 急行（2015年）" },
					{ "path": "/tokyu/an/oigawa_down_2015", "name": "下り 普通（2015年）" },
					{ "path": "/tokyu/an/oigawa_down_exp_2015", "name": "下り 急行（2015年）" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -oigawa-exp">急行ワンマン　金谷</span>行</p>
							<p class="p-tokyu-announce__car">7200系に搭載されているタイプ</p>
							<p class="p-tokyu-announce__option">金谷駅有人時間帯</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>千頭発車</h2>
									<p>お待たせいたしました。この電車は金谷行き急行のワンマン列車です。次は川根温泉笹間渡です。</p>
								</section>
								<section>
									<h2>川根温泉笹間渡到着</h2>
									<p>ご乗車ありがとうございます。まもなく川根温泉笹間渡です。降り口は左側です。川根温泉笹間渡では中央の扉は開きません。いちばん前の扉をご利用ください。お降りの際、運賃または乗車券、急行券はいちばん前の運賃箱にお入れください。フリーきっぷをご利用のお客さまは、運転士にお見せください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>川根温泉笹間渡停車中</h2>
									<p>ご乗車ありがとうございます。この電車は金谷行き、急行です。ご乗車には普通乗車券の他に電車急行料金が必要です。途中停車駅は家山、新金谷です。</p>
								</section>
								<section>
									<h2>川根温泉笹間渡発車</h2>
									<p>お待たせいたしました。この電車は金谷行き急行のワンマン列車です。次は家山です。</p>
								</section>
								<section>
									<h2>家山到着</h2>
									<p>ご乗車ありがとうございます。まもなく家山です。降り口は右側です。お降りの際、運賃または乗車券、急行券はいちばん前の運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>家山停車中</h2>
									<p>ご乗車ありがとうございます。この電車は金谷行き、急行です。途中停車駅は新金谷です。ご乗車には普通乗車券の他に電車急行券が必要です。</p>
								</section>
								<section>
									<h2>家山発車</h2>
									<p>次は新金谷です。</p>
								</section>
								<section>
									<h2>新金谷到着</h2>
									<p>ご乗車ありがとうございます。まもなく新金谷です。降り口は右側です。お降りの際、車内に落としもの、お忘れものなどなさいませんようお支度ください。運賃または乗車券、急行券は駅係員にお渡しください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>新金谷停車中</h2>
									<p>お待たせいたしました。急行電車の金谷行きです。</p>
								</section>
								<section>
									<h2>新金谷発車</h2>
									<p>次は終点、金谷です。</p>
								</section>
								<section>
									<h2>金谷到着</h2>
									<p>ご乗車ありがとうございます。まもなく終点、金谷です。お降りの際、車内に落としもの、お忘れものなどなさいませんようお支度ください。降り口は左側です。JR東海道線をご利用のお客さまはお乗り換えです。運賃または乗車券、急行券は駅係員にお渡しください。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2015年5月4日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7200系2両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
