<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "東急大井町線　上り普通　鷺沼発の自動放送（9000系、2006年）",
				"headline": "大井町線　上り普通　鷺沼発",
				"subHeadline": "9000系、2006年",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "東急電車の自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/oimachi_up_local_2006", "name": "上り 普通（2006年）" },
					{ "path": "/tokyu/an/oimachi_up_local_2009", "name": "上り 普通（2009年）" },
					{ "path": "/tokyu/an/oimachi_up_local_2017", "name": "上り 普通（2017年）" },
					{ "path": "/tokyu/an/oimachi_down_local_2006", "name": "下り 普通（2006年）" },
					{ "path": "/tokyu/an/oimachi_down_local_2009", "name": "下り 普通（2009年）" },
					{ "path": "/tokyu/an/oimachi_down_local_2017", "name": "下り 普通（2017年）" },
					{ "path": "/tokyu/an/oimachi_up_local_saginuma_2006", "name": "上り 普通 鷺沼発（2006年）" },
					{ "path": "/tokyu/an/oimachi_up_local_saginuma_2009", "name": "上り 普通 鷺沼発（2009年）" },
					{ "path": "/tokyu/an/oimachi_down_local_saginuma_2006", "name": "下り 普通 鷺沼行（2006年）" },
					{ "path": "/tokyu/an/oimachi_down_local_saginuma_2009", "name": "下り 普通 鷺沼行（2009年）" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通　大井町</span>行（鷺沼始発）</p>
							<p class="p-tokyu-announce__period">2003年の携帯電話マナー変更から、旗の台駅追越し設備設置まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>鷺沼発車</h2>
									<p>東急線をご利用くださいまして、ありがとうございます。この電車は大井町線直通、大井町行きです。次は宮前平、宮前平です。</p>
									<p lang="en">Thank you for using the Tokyu Line. This train will merge and continue traveling on the Ōimachi Line to Ōimachi. The next station is Miyamaedaira.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>宮前平発車</h2>
									<p>次は宮崎台、宮崎台です。</p>
									<p lang="en">The next station is Miyazakidai.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>宮崎台発車</h2>
									<p>次は梶が谷、梶が谷です。</p>
									<p lang="en">The next station is Kajigaya.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>梶が谷発車</h2>
									<p>次は溝の口、溝の口です。<span class="c-tokyu-announce -change">JR南武線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">The next station is Mizonokuchi. <span class="c-tokyu-announce -change">Passengers changing to the JR Nambu Line, please transfer at this station.</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>溝の口発車</h2>
									<p>この電車は大井町線直通、大井町行きです。次は高津、高津です。</p>
									<p lang="en">This train will merge and continue traveling on the Ōimachi Line to Ōimachi. The next station is Takatsu.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>高津発車</h2>
									<p>次は二子新地、二子新地です。</p>
									<p lang="en">The next station is Futako-shinchi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>二子新地発車</h2>
									<p>次は二子玉川、二子玉川です。この電車は大井町線直通、大井町行きです。<span class="c-tokyu-announce -change">田園都市線渋谷・半蔵門線方面にお出でのお客様は乗り換えです。</span></p>
									<p lang="en">The next station is Futako-tamagawa. This train will merge and continue traveling on the Ōimachi Line to Ōimachi.</p>
								</section>
							</div>

							<p class="p-tokyu-announce__note">（大井町線内は二子玉川始発の列車と同じ内容）</p>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2006年2月12日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>9000系5両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
