<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　弘南鉄道大鰐線　下り『ふぃらいんぐうぃっち』ラッピング電車（7000系、2016年）",
				"headline": "弘南鉄道大鰐線　下り『ふぃらいんぐうぃっち』",
				"subHeadline": "7000系、2016年",
				"dateModified": "2016-09-20",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/owani_up_2006", "name": "上り（2006年）" },
					{ "path": "/tokyu/an/owani_up_2008", "name": "上り（2008年）" },
					{ "path": "/tokyu/an/owani_up_2009", "name": "上り（2009年）" },
					{ "path": "/tokyu/an/owani_up_rapid_2006", "name": "上り 快速（2006年）" },
					{ "path": "/tokyu/an/owani_up_flyingwitch_2016", "name": "上り ふらいんぐうぃっち（2016年）" },
					{ "path": "/tokyu/an/owani_down_2006", "name": "下り（2006年）" },
					{ "path": "/tokyu/an/owani_down_2008", "name": "下り（2008年）" },
					{ "path": "/tokyu/an/owani_down_2016", "name": "下り（2016年）" },
					{ "path": "/tokyu/an/owani_down_rapid_2006", "name": "下り 快速（2006年）" },
					{ "path": "/tokyu/an/owani_down_flyingwitch_2016", "name": "下り ふらいんぐうぃっち（2016年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　中央弘前</span>行</p>
							<p class="p-tokyu-announce__period">2016年4月から9月まで行われたアニメ『ふらいんぐうぃっち』仕様アナウンス</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>大鰐停車中【木幡真琴アナウンス】</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>みなさんこんにちは、木幡真琴です。『ふらいんぐうぃっち』の世界、弘前へようこそ。本日は弘南鉄道大鰐線をご利用くださり、ありがとうございます。私もまだ弘前に引っ越してきたばかりで、詳しくはないのですが、今日は終点の中央弘前駅までのいくつの駅でご案内させていただきます。<span class="c-tokyu-announce -oneman">この列車は、ワンマン列車になっていますので、係員さんの居ない駅で降りられる際は、いちばん前のドアをご利用になってください。</span><span class="c-tokyu-announce -manners">あと、車内での携帯電話の使用は禁止ですよ。</span></p>
								</section>
								<section>
									<h2>大鰐発車【木幡真琴アナウンス】</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。中央弘前行きの発車です。さあチトさん、出発ですよ。あ、お降りの際には、お忘れ物がないようにお願いします。私もすぐ忘れ物をしてしまうので、皆さんも気を付けてくださいね。次の停車駅は宿河原、宿河原、降り口は左側です。お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>宿河原発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は鯖石、鯖石、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>鯖石発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は石川プール前、石川プール前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>石川プール前発車【木幡真琴アナウンス】</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は石川、石川です。<span class="c-tokyu-announce -cm">石川はお豆腐やお漬物がおいしいと評判ですが、そのお豆腐とお漬物は地域のお母さん方が腕によりをかけて作ってくださっているって、圭くんが言ってました。圭くんは弘前の美味しいものに本当に詳しくて……、おっといけません。</span>石川での降り口は左側になります。お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。<span class="c-tokyu-announce -manners">そしてみなさん、車内での携帯電話の使用はご遠慮くださいね。よろしくお願いします。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>石川発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は義塾高校前、義塾高校前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>義塾高校前発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は津軽大沢、津軽大沢、降り口は左側です。整理券のお客様は、駅でご精算ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>津軽大沢発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は松木平、松木平、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>松木平発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は小栗山、小栗山、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>小栗山発車【木幡真琴アナウンス】</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は千年、千年、降り口は右側です。<span class="c-tokyu-announce -cm">ここから先は、多くの高校や大学が沿線にありますね。さきほどの田園やりんご畑の景色とは一変しますが、これはこれで弘前らしい町並みで素敵だと思います。</span>お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>千年発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は聖愛中高前、聖愛中高前、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内での携帯電話は、ご遠慮くださるようお願いいたします。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>聖愛中高前発車【木幡真琴アナウンス】</h2>
									<p>
										<span class="c-tokyu-announce -chime">♪</span>
										次の停車駅は弘前学院大前、弘前学院大前です。
										<span class="c-tokyu-announce -cm">ここ弘前学院大前は、学生の街「西弘」と呼ばれていて、放課後の飲食店は学生さんたちばかりです。もちろん、私たちもお邪魔してますよ。</span>
										さて、弘前学院大前の降り口は左側です。お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>弘前学院大前発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は弘高下、弘高下、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>弘高下発車【木幡真琴アナウンス】</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お疲れさまでした。次の停車駅は終点、中央弘前、中央弘前です。<span class="c-tokyu-announce -cm">私もこの辺りにはよく来るんですが、土手町の散策をして、弘前公園の本丸近くから岩木山を眺めるのがおすすめです。あと、これは魔女のみなさんだけの特典ですが、ほうきに乗って空から見る弘前公園もすごく綺麗ですよ。</span>さて、お降りの際には、お忘れ物がないよう、もう一度お手回り品をお確かめくださいね。降り口は右側です。整理券をお持ちの方は、駅で精算してください。本日は大鰐線をご利用いただきまして、ありがとうございました。つたないご紹介ではありましたが、ここまでのご案内は私、木幡真琴が担当させていただきました。それでは、また次回のご利用をお待ちしております。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2016年9月20日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7000系2両編成</dd>
								</div>
							</dl>

							<ul class="p-notes">
								<li>
									上記のほか、駅停車中に以下の放送がいずれか片方、または両方流れる場合があります。
									<ul>
										<li>「きっぷをお持ちでないお客様は、整理券をお取りください。」（通常アナウンス）</li>
										<li>「きっぷをお持ちでないお客様は、整理券をお取りください。」（木幡真琴アナウンス）</li>
										<li>「ドアが閉まります。ご注意ください。」（通常アナウンス）</li>
										<li>「ドアが閉まりますよ。気を付けてくださいね。」（木幡真琴アナウンス）</li>
									</ul>
								</li>
								<li>ラッピング電車については、<a href="http://konantetsudo.blog115.fc2.com/blog-entry-247.html" class="htmlbuild-host">弘南鉄道インフォメーションブログの2016年4月10日付記事</a>を参照ください。</li>
								<li>車内アナウンスについては<a href="https://www.vap.co.jp/flyingwitch/news/april.html" class="htmlbuild-host">『ふらいんぐうぃっち』公式サイトの4月1日付ニュース</a>、<a href="https://web.archive.org/web/20160502181511/http://konantetsudo.blog115.fc2.com/blog-entry-254.html" class="htmlbuild-host">弘南鉄道インフォメーションブログの2016年4月27日付記事</a>を参照ください。</li>
							</ul>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
