<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　東急世田谷線　下り（300系、2016年）",
				"headline": "世田谷線　下り",
				"subHeading": "300系、2016年",
				"dateModified": "2016-04-09",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/setagaya_up_2006", "name": "上り （2006年）" },
					{ "path": "/tokyu/an/setagaya_up_kamimachi_2006", "name": "上り 上町行（2006年）" },
					{ "path": "/tokyu/an/setagaya_up_2015", "name": "上り（2015年）" },
					{ "path": "/tokyu/an/setagaya_up_2016", "name": "上り（2016年）" },
					{ "path": "/tokyu/an/setagaya_down_2006", "name": "下り（2006年1月）" },
					{ "path": "/tokyu/an/setagaya_down_2006_2", "name": "下り（2006年4月）" },
					{ "path": "/tokyu/an/setagaya_down_2015", "name": "下り（2015年）" },
					{ "path": "/tokyu/an/setagaya_down_2016", "name": "下り（2016年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通　下高井戸</span>行</p>
							<p class="p-tokyu-announce__period">2015年の優先席携帯電話マナー変更から</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>三軒茶屋発車</h2>
									<p>本日も東急世田谷線をご利用くださいましてありがとうございます。この電車は下高井戸行きです。途中の駅でお降りのお客様は、中程2ヶ所のドアよりお降りください。</p>
								</section>
								<section>
									<h2>西太子堂到着</h2>
									<p>まもなく西太子堂です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>西太子堂発車</h2>
									<p><span class="c-tokyu-announce -manners">お客さまにお願いいたします。携帯電話はマナーモードに設定のうえ、通話はお控えください。車内マナーにご協力をお願いいたします。</span></p>
								</section>
								<section>
									<h2>若林到着</h2>
									<p>まもなく若林です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>松陰神社前到着</h2>
									<p>まもなく松陰神社前です。<span class="c-tokyu-announce -cm">世田谷区役所最寄駅です。</span>出口は中程2ヶ所のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>世田谷到着</h2>
									<p>まもなく世田谷です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上町到着</h2>
									<p>まもなく上町です。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上町発車</h2>
									<p>この電車は下高井戸行きです。途中の駅でお降りのお客様は、中程2ヶ所のドアよりお降りください。</p>
								</section>
								<section>
									<h2>宮の坂到着</h2>
									<p>まもなく宮の坂です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>山下到着</h2>
									<p>まもなく山下です。<span class="c-tokyu-announce -change">小田急線豪徳寺駅をご利用のお客様はお乗り換えです。</span>出口は中程2ヶ所のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>松原到着</h2>
									<p>まもなく松原です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>下高井戸到着</h2>
									<p>まもなく下高井戸、終点です。<span class="c-tokyu-announce -change">京王線はお乗り換えです。</span>出口は右側、すべてのドアです。お降りの際は足元にご注意ください。また、お忘れ物なさいませんようご注意ください。本日も東急世田谷線をご利用くださいましてありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2016年4月9日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>300系2両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
