<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　東急多摩川線　下り（1000系、2016年）",
				"headline": "東急多摩川線　下り",
				"subHeadline": "1000系、2016年",
				"dateModified": "2016-10-15",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/tamagawa_up_2004_7700", "name": "上り 7700系（2004年）" },
					{ "path": "/tokyu/an/tamagawa_up_2014_1500", "name": "上り 1000系1500番台（2014年）" },
					{ "path": "/tokyu/an/tamagawa_up_2016_7700", "name": "上り 7700系（2016年）" },
					{ "path": "/tokyu/an/tamagawa_up_2016_1000", "name": "上り 1000系（2016年）" },
					{ "path": "/tokyu/an/tamagawa_down_2006_7700", "name": "下り 7700系（2006年）" },
					{ "path": "/tokyu/an/tamagawa_down_2014_1500", "name": "下り 1000系1500番台（2014年）" },
					{ "path": "/tokyu/an/tamagawa_down_2016_7700", "name": "下り 7700系（2016年）" },
					{ "path": "/tokyu/an/tamagawa_down_2016_1000", "name": "下り 1000系（2016年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　蒲田</span>行</p>
							<p class="p-tokyu-announce__car">1000系（1500番台を含む）に搭載されているタイプ</p>
							<p class="p-tokyu-announce__period">2015年から</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>多摩川停車中</h2>
									<p>ご案内いたします。この電車は蒲田行きです。</p>
									<p lang="en">This train is bound for Kamata.</p>
								</section>
								<section>
									<h2>沼部到着</h2>
									<p>本日も東急多摩川線をご利用くださいまして、ありがとうございます。この電車は蒲田行きです。まもなく沼部です。出口は左側です。</p>
									<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
									<p lang="en">Thank you for using the Tōkyū Tamagawa Line. This train is bound for Kamata. We will soon make a breaf stop at Numabe.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>鵜の木到着</h2>
									<p>まもなく鵜の木です。</p>
									<p lang="en">We will soon make a breaf stop at Unoki.</p>
									<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。ドアの開け閉めの際に手を挟まれたり、戸袋に引き込まれないようご注意ください。また、駆け込み乗車はおやめください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>下丸子到着</h2>
									<p>まもなく下丸子です。</p>
									<p lang="en">We will soon make a breaf stop at Shimomaruko.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>武蔵新田到着</h2>
									<p>まもなく武蔵新田です。</p>
									<p lang="en">We will soon make a breaf stop at Musashi-nitta.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>矢口渡到着</h2>
									<p>まもなく矢口渡です。</p>
									<p lang="en">We will soon make a breaf stop at Yaguchi-no-watashi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>矢口渡発車</h2>
									<p>次は蒲田、終点です。<span class="c-tokyu-announce -change">池上線、JR京浜東北線はお乗り換えです。</span>出口は左側です。</p>
									<p lang="en">The next station is Kamata. This is the last stop of this line. <span class="c-tokyu-announce -change">Passengers changing to the Ikegami Line and the JR Keihin-tōhoku Line, please transfer at this station.</span></p>
								</section>
								<section>
									<h2>蒲田到着</h2>
									<p>まもなく蒲田、終点です。本日も東急多摩川線をご利用くださいまして、ありがとうございました。</p>
									<p lang="en">We will soon be arriving at Kamata. Thank you for using the Tōkyū Tamagawa Line.</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2016年10月15日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>1000系（1500番台）3両編成</dd>
								</div>
							</dl>

							<ul class="p-notes">
								<li>矢口渡発車時の開扉方向案内（「出口は左 / 右側です」）は1500番台のみ。</li>
							</ul>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
