<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "十和田観光電鉄　上りの自動放送（7700系、2006年）",
				"headline": "十和田観光電鉄　上り",
				"subHeadline": "7700系、2006年",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "東急電車の自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/toutetsu_up_2006", "name": "上り（2006年）" },
					{ "path": "/tokyu/an/toutetsu_down_2006", "name": "下り（2006年）" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　十和田市</span>行</p>
							<p class="p-tokyu-announce__period">2012年3月の廃線まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>三沢発車</h2>
									<p>本日は三沢発、十和田市行き列車にご乗車くださいまして、誠にありがとうございます。<span class="c-tokyu-announce -oneman">この列車はワンマン運転をしておりますので、ご用の際には直接、運転士へお申しつけくださいますよう、お願いいたします。</span>次の停車は大曲でございます。</p>
								</section>
								<section>
									<h2>大曲到着</h2>
									<p>まもなく大曲、大曲でございます。お出口は進行方向右側の、いちばん前でございます。お降りの際には乗車券または運賃、整理券を先頭の運賃箱へお入れください。なお、運賃は車内掲示の運賃一覧表でご確認ください。大曲の次は柳沢でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>柳沢到着</h2>
									<p>まもなく柳沢、柳沢でございます。お出口は進行方向左側の、いちばん前でございます。柳沢の次は七百でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>七百到着</h2>
									<p>まもなく七百、七百でございます。お出口は進行方向右側の、いちばん前でございます。七百の次は古里でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>古里到着</h2>
									<p>まもなく古里、古里でございます。お出口は進行方向右側の、いちばん前でございます。お降りの際には乗車券または運賃、整理券を先頭の運賃箱へお入れください。なお、運賃は車内掲示の運賃一覧表でご確認ください。古里の次は三農校前でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>三農校前到着</h2>
									<p>まもなく三農校前、三農校前でございます。お出口は進行方向右側の、いちばん前でございます。三農校前の次は高清水でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>高清水到着</h2>
									<p>まもなく高清水、高清水でございます。お出口は進行方向右側の、いちばん前でございます。高清水の次は北里大学前でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>北里大学前到着</h2>
									<p>まもなく北里大学前、北里大学前でございます。お出口は進行方向左側の、いちばん前でございます。お降りの際には乗車券または運賃、整理券を先頭の運賃箱へお入れください。なお、運賃は車内掲示の運賃一覧表でご確認ください。北里大学前の次は工業高校前でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>工業高校前到着</h2>
									<p>まもなく工業高校前、工業高校前でございます。お出口は進行方向左側の、いちばん前でございます。工業高校前の次はひがし野団地でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>ひがし野団地到着</h2>
									<p>まもなくひがし野団地、ひがし野団地でございます。お出口は進行方向左側の、いちばん前でございます。ひがし野団地の次は終点、十和田市でございます。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>十和田市到着</h2>
									<p>ご乗車ありがとうございました。まもなく終点、十和田市、十和田市でございます。乗車券、運賃、整理券は駅員に提示し、改札口の運賃箱にお入れください。どなた様もお降りの際には、お忘れ物のございませんよう、お仕度願います。お出口は進行方向左側でございます。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2006年1月31日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7700系2両編成</dd>
								</div>
							</dl>

							<ul class="p-notes">
								<li>
									上記のほか、駅発車前に以下の放送が流れます。
									<ul>
										<li>「ドアが閉まります、ご注意ください。」</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
