<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "富山地方鉄道本線　下り普通の自動放送（17480形、2013年）",
				"headline": "富山地方鉄道本線　下り普通",
				"subHeadline": "17480形、2013年",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "東急電車の自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/toyama_up_2013", "name": "本線 上り（2013年）" },
					{ "path": "/tokyu/an/toyama_tateyama_up_2013", "name": "立山線 上り（2013年）" },
					{ "path": "/tokyu/an/toyama_fujikoshi-kamitaki_up_2013", "name": "不二越・上滝線 上り（2013年）" },
					{ "path": "/tokyu/an/toyama_down_2013", "name": "本線 下り（2013年）" },
					{ "path": "/tokyu/an/toyama_tateyama_down_2013", "name": "立山線 下り（2013年）" },
					{ "path": "/tokyu/an/toyama_fujikoshi-kamitaki_down_2013", "name": "不二越・上滝線 下り（2013年）" }
				]
			}
		</script>

		<%- include('./_include/_head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/_content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　宇奈月温泉</span>行</p>
							<p class="p-tokyu-announce__period">2013年の17480形導入から、同年の新相ノ木駅開業まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>電鉄富山停車中</h2>
									<p>この電車は電鉄富山発、宇奈月温泉行きです。お乗り間違えのないようご注意ください。駅員の居ない駅でお降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>電鉄富山発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。本日も地鉄電車をご利用いただきありがとうございます。宇奈月温泉行きです。次は稲荷町、稲荷町です。すべてのドアが開きます。</p>
								</section>
								<section>
									<h2>稲荷町到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>稲荷町、稲荷町です。降り口は左側、すべてのドアが開きます。お忘れもののないようご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>稲荷町発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。宇奈月温泉行きです。次は新庄田中、新庄田中です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>新庄田中到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>新庄田中、新庄田中です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>新庄田中発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は東新庄、東新庄です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>東新庄到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>東新庄、東新庄です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>東新庄発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は越中荏原、越中荏原です。すべてのドアが開きます。<span class="c-tokyu-announce -manners">お年寄りや体の不自由な方には席をお譲りください。皆様のご協力をお願いします。</span></p>
								</section>
								<section>
									<h2>越中荏原到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>越中荏原、越中荏原です。すべてのドアが開きます。開くドアにご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>越中荏原発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は越中三郷、越中三郷です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>越中三郷到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>越中三郷、越中三郷です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>越中三郷発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は越中舟橋、越中舟橋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>越中舟橋到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>越中舟橋、越中舟橋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>越中舟橋発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は寺田、寺田です。<span class="c-tokyu-announce -change">立山線ご利用の方、お乗り換えになります。</span></p>
								</section>
								<section>
									<h2>寺田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>寺田、寺田です。<span class="c-tokyu-announce -change">立山線ご利用の方、お乗り換えになります。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>寺田発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は越中泉、越中泉です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>越中泉到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>越中泉、越中泉です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>越中泉発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は相ノ木、相ノ木です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>相ノ木到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>相ノ木、相ノ木です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>相ノ木発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。次は上市、上市です。すべてのドアが開きます。お持ちの整理券はご乗車駅を示すものですから、折り曲げたり無くしたりしないよう願います。</p>
								</section>
								<section>
									<h2>上市到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。上市、上市です。すべてのドアが開きます。お忘れものございませんようご注意ください。乗車券、運賃は駅員にお渡しください。<span class="c-tokyu-announce -attention">これより先、終点の宇奈月温泉まで進行方向が変わります。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上市発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。ご乗車ありがとうございます。宇奈月温泉行きです。次は新宮川、新宮川です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>新宮川到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>新宮川、新宮川です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>新宮川発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は中加積、中加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>中加積到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>中加積、中加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>中加積発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は西加積、西加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>西加積到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>西加積、西加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>西加積発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は西滑川、西滑川です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>西滑川到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>西滑川、西滑川です。お降りの方は足元にご注意ください。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>西滑川発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は中滑川、中滑川です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>中滑川到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>中滑川、中滑川です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>中滑川発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。宇奈月温泉行きです。次は滑川、滑川です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>滑川到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>滑川、滑川です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>滑川発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は浜加積、浜加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>浜加積到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>浜加積、浜加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>浜加積発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は早月加積、早月加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>早月加積到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>早月加積、早月加積です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>早月加積発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は越中中村、越中中村です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>越中中村到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>越中中村、越中中村です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>越中中村発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。宇奈月温泉行きです。次は西魚津、西魚津です。乗車券をお持ちでない方は、車内の運賃表でお確かめのうえ、釣り銭のいらないようご準備ください。両替ご希望の方はお早めに自動両替機をご利用ください。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>西魚津到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>西魚津、西魚津です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>西魚津発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は電鉄魚津、電鉄魚津です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>電鉄魚津到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>電鉄魚津、電鉄魚津です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>電鉄魚津発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は新魚津、新魚津です。<span class="c-tokyu-announce -change">JR線ご利用のお客様はお乗り換えとなります。</span></p>
								</section>
								<section>
									<h2>新魚津到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>新魚津、新魚津です。<span class="c-tokyu-announce -change">JR線ご利用のお客様はお乗り換えとなります。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>新魚津発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。宇奈月温泉行きです。次は経田、経田です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>経田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>経田、経田です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>経田発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は電鉄石田、電鉄石田です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>電鉄石田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>電鉄石田、電鉄石田です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>電鉄石田発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は電鉄黒部、電鉄黒部です。すべてのドアが開きます。お忘れものございませんようご注意ください。</p>
								</section>
								<section>
									<h2>電鉄黒部到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。電鉄黒部、電鉄黒部です。すべてのドアが開きます。お忘れものございませんようご注意ください。乗車券、運賃は駅改札口でご精算ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>電鉄黒部発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。本日も地鉄電車をご利用いただきありがとうございます。宇奈月温泉行きです。次は東三日市、東三日市です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>東三日市到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>東三日市、東三日市です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>東三日市発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は荻生、荻生です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>荻生到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>荻生、荻生です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>荻生発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は長屋、長屋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>長屋到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>長屋、長屋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>長屋発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は舌山、舌山です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>舌山到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>舌山、舌山です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>舌山発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は若栗、若栗です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>若栗到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>若栗、若栗です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>若栗発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は栃屋、栃屋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>栃屋到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>栃屋、栃屋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>栃屋発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は浦山、浦山です。乗車券をお持ちでない方は、車内の運賃表でお確かめのうえ、釣り銭のいらないようご準備ください。両替ご希望の方はお早めに自動両替機をご利用ください。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>浦山到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>浦山、浦山です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>浦山発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は下立口、下立口です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>下立口到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>下立口、下立口です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>下立口発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は下立、下立です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>下立到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>下立、下立です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>下立発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>宇奈月温泉行きです。次は愛本、愛本です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>愛本到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>愛本、愛本です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>愛本発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は内山、内山です。お持ちの整理券はご乗車駅を示すものですから、折り曲げたり無くしたりしないよう願います。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>内山到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>内山、内山です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>内山発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は音沢、音沢です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
								<section>
									<h2>音沢到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>音沢、音沢です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>音沢発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。次は宇奈月温泉、終点です。お忘れものございませんようご支度ください。</p>
								</section>
								<section>
									<h2>宇奈月温泉到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。宇奈月温泉、終点です。車内にお忘れものございませんようご注意ください。本日も地鉄電車をご利用いただきありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2013年11月3日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>17480形2両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/_content_footer') %>
			</div>

			<%- include('./_include/_sidebar') %><%- include('./_include/_footer') %>
		</div>
	</body>
</html>
