<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"title": "自動放送　養老鉄道養老線　揖斐→大垣　上り（7700系、2019年）",
				"headline": "養老鉄道養老線　揖斐→大垣　上り",
				"subHeading": "7700系、2019年",
				"dateModified": "2019-09-21",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/yoro_ibi_up_2019", "name": "上り 揖斐→大垣 普通（2019年）" },
					{ "path": "/tokyu/an/yoro_kuwana_up_2019", "name": "上り 大垣→桑名 普通（2019年）" },
					{ "path": "/tokyu/an/yoro_kuwana_down_2019", "name": "下り 桑名→大垣 普通（2019年）" },
					{ "path": "/tokyu/an/yoro_ibi_down_2019", "name": "下り 大垣→揖斐 普通（2019年）" }
				]
			}
		</script>

		<%- include('./_include/head_tokyu') %>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/header_tokyu') %>

			<div id="content" class="l-content">
				<%- include('./_include/content_header', { toc: false }) %>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　大垣</span>行</p>
							<p class="p-tokyu-announce__period">2019年の7700系導入から</p>
							<p class="p-tokyu-announce__option">（サイクルトレイン）</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>揖斐停車中</h2>
									<p>養老鉄道をご利用いただき、ありがとうございます。この電車は大垣行きです。発車までしばらくお待ちください。</p>
									<p lang="en">Thank you for taking Yōrō Railway. This train is bound for Ōgaki. Please wait a moment, until the train departs.</p>
								</section>
								<section>
									<h2>揖斐発車</h2>
									<p>お待たせいたしました。養老鉄道をご利用いただき、ありがとうございます。この電車は大垣行き、大垣行きです。<span class="c-tokyu-announce -oneman">この電車はワンマン運転です。</span>次は美濃本郷、本郷です。次の美濃本郷でお降りのお客様は、乗車券を待合室付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。また各車両に優先座席を設けております。ご協力をお願いいたします。<span class="c-tokyu-announce -attention">本日はサイクルトレインをご利用くださいましてありがとうございます。自転車をお持ち込みのお客様にお願いいたします。車内では自転車が倒れないように充分ご注意ください。</span></p>
									<p lang="en">Thank you for waiting and thank you for taking Yōrō Railway. This train is bound for Ōgaki. The next stop is Mino-hongō. <span class="c-tokyu-announce -attention">Thank you for taking the cycle train today. While on the train, please make sure the your bicycle these nor topple then, thank you.</span></p>
								</section>
								<section>
									<h2>美濃本郷到着</h2>
									<p>美濃本郷、本郷です。右側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Mino-hongō. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>美濃本郷発車</h2>
									<p>次は北池野、北池野です。次の北池野でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
									<p lang="en">The next stop is Kita-ikeno.</p>
								</section>
								<section>
									<h2>北池野到着</h2>
									<p>北池野、北池野です。右側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Kita-ikeno. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>北池野発車</h2>
									<p>次は池野、池野です。次の池野でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
									<p lang="en">The next stop is Ikeno.</p>
								</section>
								<section>
									<h2>池野到着</h2>
									<p>池野、池野です。左側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Ikeno. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>池野発車</h2>
									<p>次は北神戸、北神戸です。次の北神戸でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。<span class="c-tokyu-announce -manners">お客様にお願いいたします。携帯電話はマナーモードにしていただき、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
									<p lang="en">The next stop is Kita-gōdo. <span class="c-tokyu-announce -manners">Attention, please. While on the train, please switch off your mobile phone to silent mode and refrain from speaking on the phone, thank you.</span></p>
								</section>
								<section>
									<h2>北神戸到着</h2>
									<p>北神戸、北神戸です。右側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Kita-gōdo. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>北神戸発車</h2>
									<p>次は広神戸、広神戸です。次の広神戸でお降りのお客様は、乗車券を改札口備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
									<p lang="en">The next stop is Hiro-gōdo.</p>
								</section>
								<section>
									<h2>広神戸到着</h2>
									<p>広神戸、広神戸です。左側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Hiro-gōdo. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>広神戸発車</h2>
									<p>次は東赤坂、東赤坂です。次の東赤坂でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。<span class="c-tokyu-announce -attention">本日はサイクルトレインをご利用くださいましてありがとうございます。自転車をお持ち込みのお客様にお願いいたします。車内では自転車が倒れないように充分ご注意ください。</span></p>
									<p lang="en">The next stop is Higashi-akasaka. <span class="c-tokyu-announce -attention">Thank you for taking the cycle train today. While on the train, please make sure the your bicycle these nor topple then, thank you.</span></p>
								</section>
								<section>
									<h2>東赤坂到着</h2>
									<p>東赤坂、東赤坂です。左側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Higashi-akasaka. The doors on the left side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>東赤坂発車</h2>
									<p>次は北大垣、北大垣です。次の北大垣でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
									<p lang="en">The next stop is Kita-ōgaki.</p>
								</section>
								<section>
									<h2>北大垣到着</h2>
									<p>北大垣、北大垣です。右側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Kita-ōgaki. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>北大垣発車</h2>
									<p>次は室、室です。次の室でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
									<p lang="en">The next stop is Muro.</p>
								</section>
								<section>
									<h2>室到着</h2>
									<p>室、室です。右側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">This is Muro. The doors on the right side will open.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>室発車</h2>
									<p>次は大垣、大垣です。この電車は次の大垣までです。お忘れもののないようご用意ください。<span class="c-tokyu-announce -change">養老桑名方面とJR線はお乗り換えです。</span></p>
									<p lang="en">The next stop is Ōgaki. <span class="c-tokyu-announce -change">Please change here for trains to Yōrō and Kuwana, and the JR Line.</span></p>
								</section>
								<section>
									<h2>大垣到着</h2>
									<p>ご乗車ありがとうございました。大垣、大垣です。この電車はこの駅までです。<span class="c-tokyu-announce -change">養老桑名方面とJR線はお乗り換えです。</span>お忘れもののないようご注意ください。養老鉄道をご利用いただきありがとうございました。右側の扉が開きます。扉にご注意ください。</p>
									<p lang="en">Thank you for taking this train. This is Ōgaki. This is the final stop for this train. <span class="c-tokyu-announce -change">Please change here for trains to Yōrō and Kuwana, and the JR Line.</span> Thank you for taking Yōrō Railway. The doors on the right side will open.</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2019年9月21日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7700系3両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<%- include('./_include/content_footer') %>
			</div>

			<%- include('./_include/sidebar') %><%- include('./_include/footer') %>
		</div>
	</body>
</html>
